Repository flutter/flutter, changes with the labels that .github/labeler.yml gives for each.
All labels: a: accessibility, a: animation, a: desktop, a: internationalization, a: tests, d: api docs, d: docs/, d: examples, e: embedder, e: impeller, engine, f: cupertino, f: focus, f: gestures, f: material design, f: routes, f: scrolling, framework, f: integration_test, package, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows, customer: gallery, c: tech-debt, team, team-android, team-ecosystem, team-engine, team-infra, team-ios, team-release, team-tool, team-web, tool

Downgrade json kotlin lib again, set gradle tooling to use warn version of kotlin
  packages/flutter_tools/gradle/build.gradle.kts
Labels: platform-android, tool

[Android] match dequeued images to FIF. (#164422)
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  engine/src/flutter/shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: engine, platform-android

[Android] match dequeued images to FIF. (#164422)
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  engine/src/flutter/shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: engine, platform-android

update lockfiles after dependency add for FGP
  dev/a11y_assessments/android/buildscript-gradle.lockfile
  dev/a11y_assessments/android/project-app.lockfile
  dev/benchmarks/complex_layout/android/buildscript-gradle.lockfile
  dev/benchmarks/macrobenchmarks/android/buildscript-gradle.lockfile
  dev/benchmarks/platform_views_layout/android/buildscript-gradle.lockfile
  dev/benchmarks/platform_views_layout_hybrid_composition/android/buildscript-gradle.lockfile
  dev/benchmarks/test_apps/stocks/android/buildscript-gradle.lockfile
  dev/integration_tests/android_semantics_testing/android/buildscript-gradle.lockfile
  dev/integration_tests/android_semantics_testing/android/project-app.lockfile
  dev/integration_tests/android_views/android/buildscript-gradle.lockfile
  dev/integration_tests/channels/android/buildscript-gradle.lockfile
  dev/integration_tests/channels/android/project-app.lockfile
  dev/integration_tests/display_cutout_rotation/android/buildscript-gradle.lockfile
  dev/integration_tests/display_cutout_rotation/android/project-app.lockfile
  dev/integration_tests/flavors/android/buildscript-gradle.lockfile
  dev/integration_tests/flutter_gallery/android/buildscript-gradle.lockfile
  dev/integration_tests/platform_interaction/android/buildscript-gradle.lockfile
  dev/integration_tests/release_smoke_test/android/buildscript-gradle.lockfile
  dev/integration_tests/release_smoke_test/android/project-app.lockfile
  dev/integration_tests/spell_check/android/buildscript-gradle.lockfile
  dev/integration_tests/spell_check/android/project-app.lockfile
  dev/integration_tests/ui/android/buildscript-gradle.lockfile
  dev/integration_tests/ui/android/project-app.lockfile
  dev/manual_tests/android/buildscript-gradle.lockfile
  dev/manual_tests/android/project-app.lockfile
  examples/flutter_view/android/buildscript-gradle.lockfile
  examples/hello_world/android/buildscript-gradle.lockfile
  examples/image_list/android/buildscript-gradle.lockfile
  examples/layers/android/buildscript-gradle.lockfile
  examples/platform_channel/android/buildscript-gradle.lockfile
  examples/platform_view/android/buildscript-gradle.lockfile
  packages/integration_test/example/android/buildscript-gradle.lockfile
Labels: a: tests, d: examples, framework, f: integration_test

Start updating update_engine_version.sh.
  bin/internal/update_engine_version.sh
  dev/tools/test/update_engine_version_test.dart
Labels: none

fix
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
Labels: framework

Downgrade json kotlin lib again, set gradle tooling to use error version +1
  packages/flutter_tools/gradle/build.gradle.kts
Labels: platform-android, tool

Add a `isSystemTextScaler` matcher (#160120)
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
Labels: a: tests, framework

Add a `isSystemTextScaler` matcher (#160120)
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
Labels: a: tests, framework

Update ktlint to 1.5 (#164409)
  .ci.yaml
  dev/benchmarks/multiple_flutters/android/app/src/main/java/dev/flutter/multipleflutters/MainActivity.kt
  examples/hello_world/android/build.gradle.kts
  packages/flutter_tools/gradle/resolve_dependencies.gradle.kts
  packages/flutter_tools/gradle/src/main/kotlin/Deeplink.kt
  packages/flutter_tools/gradle/src/main/kotlin/DependencyVersionChecker.kt
Labels: d: examples, platform-android, tool

Update ktlint to 1.5 (#164409)
  .ci.yaml
  dev/benchmarks/multiple_flutters/android/app/src/main/java/dev/flutter/multipleflutters/MainActivity.kt
  examples/hello_world/android/build.gradle.kts
  packages/flutter_tools/gradle/resolve_dependencies.gradle.kts
  packages/flutter_tools/gradle/src/main/kotlin/Deeplink.kt
  packages/flutter_tools/gradle/src/main/kotlin/DependencyVersionChecker.kt
Labels: d: examples, platform-android, tool

Start addressing Justin's review
  packages/flutter/lib/src/services/sensitive_content.dart
  packages/flutter/lib/src/widgets/sensitive_content.dart
  packages/flutter/test/widgets/sensitive_content_test.dart
Labels: framework

update lockfiles after dependency add for FGP
  dev/a11y_assessments/android/buildscript-gradle.lockfile
  dev/benchmarks/complex_layout/android/buildscript-gradle.lockfile
  dev/benchmarks/macrobenchmarks/android/buildscript-gradle.lockfile
  dev/benchmarks/platform_views_layout/android/buildscript-gradle.lockfile
  dev/benchmarks/platform_views_layout_hybrid_composition/android/buildscript-gradle.lockfile
  dev/benchmarks/test_apps/stocks/android/buildscript-gradle.lockfile
  dev/integration_tests/android_semantics_testing/android/buildscript-gradle.lockfile
  dev/integration_tests/android_views/android/buildscript-gradle.lockfile
  dev/integration_tests/channels/android/buildscript-gradle.lockfile
  dev/integration_tests/display_cutout_rotation/android/buildscript-gradle.lockfile
  dev/integration_tests/flavors/android/buildscript-gradle.lockfile
  dev/integration_tests/flutter_gallery/android/buildscript-gradle.lockfile
  dev/integration_tests/platform_interaction/android/buildscript-gradle.lockfile
  dev/integration_tests/release_smoke_test/android/buildscript-gradle.lockfile
  dev/integration_tests/spell_check/android/buildscript-gradle.lockfile
  dev/integration_tests/ui/android/buildscript-gradle.lockfile
  dev/manual_tests/android/buildscript-gradle.lockfile
  examples/flutter_view/android/buildscript-gradle.lockfile
  examples/hello_world/android/buildscript-gradle.lockfile
  examples/image_list/android/buildscript-gradle.lockfile
  examples/layers/android/buildscript-gradle.lockfile
  examples/platform_channel/android/buildscript-gradle.lockfile
  examples/platform_view/android/buildscript-gradle.lockfile
  packages/integration_test/example/android/buildscript-gradle.lockfile
Labels: a: tests, d: examples, framework, f: integration_test

Remove `engine_hash.sh`, which is no longer used by google3. (#164502)
  dev/tools/bin/engine_hash.sh
  dev/tools/test/engine_hash_test.dart
Labels: none

Remove `engine_hash.sh`, which is no longer used by google3. (#164502)
  dev/tools/bin/engine_hash.sh
  dev/tools/test/engine_hash_test.dart
Labels: none

Duplicate animation controller managed by material/cupertino
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/lib/src/widgets/expansible.dart
Labels: f: material design, framework

Fix issue where SystemUiOverlayStyle incorrectly changes on Android when showing CupertinoSheet
  packages/flutter/lib/src/cupertino/sheet.dart
  packages/flutter/test/cupertino/sheet_test.dart
Labels: f: cupertino, framework

Roll Skia from 1e9fa50fc296 to a11cc17d0133 (1 revision) (#164505)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

Roll Skia from 1e9fa50fc296 to a11cc17d0133 (1 revision) (#164505)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

handle older kgp version
  packages/flutter_tools/gradle/build.gradle.kts
Labels: platform-android, tool

Use updated update_engine_version logic.
  .gitignore
  bin/internal/update_engine_version.ps1
  bin/internal/update_engine_version.sh
  dev/tools/test/update_engine_version_test.dart
Labels: none

Update `update_dart_sdk.sh|ps1` and related to use `bin/cache/engine.stamp|realm`. (#164498)
  bin/internal/shared.bat
  bin/internal/update_dart_sdk.ps1
  bin/internal/update_dart_sdk.sh
Labels: none

Update `update_dart_sdk.sh|ps1` and related to use `bin/cache/engine.stamp|realm`. (#164498)
  bin/internal/shared.bat
  bin/internal/update_dart_sdk.ps1
  bin/internal/update_dart_sdk.sh
Labels: none

++
  bin/internal/update_engine_version.ps1
Labels: none

Roll Skia from a11cc17d0133 to 52d06100a044 (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

++
  dev/tools/test/update_engine_version_test.dart
Labels: none

[A11y] Add radio group role (#164154)
  engine/src/flutter/lib/ui/semantics.dart
  engine/src/flutter/lib/ui/semantics/semantics_node.h
  engine/src/flutter/lib/web_ui/lib/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/checkable.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/semantics.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/widgets/semantics_role_checks_test.dart
Labels: a: accessibility, engine, framework, platform-web

[A11y] Add radio group role (#164154)
  engine/src/flutter/lib/ui/semantics.dart
  engine/src/flutter/lib/ui/semantics/semantics_node.h
  engine/src/flutter/lib/web_ui/lib/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/checkable.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/semantics.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/widgets/semantics_role_checks_test.dart
Labels: a: accessibility, engine, framework, platform-web

android: Build universal gen_snapshot for Android (#164453)
  engine/src/flutter/lib/snapshot/BUILD.gn
  engine/src/flutter/lib/snapshot/gen_snapshot.gni
  engine/src/flutter/shell/platform/android/BUILD.gn
Labels: engine, platform-android

android: Build universal gen_snapshot for Android (#164453)
  engine/src/flutter/lib/snapshot/BUILD.gn
  engine/src/flutter/lib/snapshot/gen_snapshot.gni
  engine/src/flutter/shell/platform/android/BUILD.gn
Labels: engine, platform-android

[Impeller] detect external GPU on macOS.
  engine/src/flutter/impeller/renderer/backend/metal/allocator_mtl.h
  engine/src/flutter/impeller/renderer/backend/metal/allocator_mtl.mm
  engine/src/flutter/impeller/renderer/backend/metal/context_mtl.h
  engine/src/flutter/impeller/renderer/backend/metal/context_mtl.mm
  engine/src/flutter/shell/gpu/gpu_surface_metal_impeller_unittests.mm
Labels: e: impeller, engine

remove log.
  engine/src/flutter/impeller/renderer/backend/metal/context_mtl.mm
Labels: e: impeller, engine

Fix tests.
  .gitignore
  bin/internal/update_engine_version.ps1
  bin/internal/update_engine_version.sh
  dev/tools/test/update_engine_version_test.dart
Labels: none

adjust constructor ordering.
  engine/src/flutter/impeller/renderer/backend/metal/context_mtl.h
  engine/src/flutter/impeller/renderer/backend/metal/context_mtl.mm
  engine/src/flutter/shell/gpu/gpu_surface_metal_impeller_unittests.mm
Labels: e: impeller, engine

Impl
  engine/src/flutter/impeller/geometry/round_superellipse_param.h
  engine/src/flutter/lib/ui/geometry.dart
  engine/src/flutter/lib/web_ui/lib/geometry.dart
  engine/src/flutter/testing/dart/geometry_test.dart
Labels: e: impeller, engine, platform-web

fix web and flow test font paths
  engine/src/flutter/flow/flow_run_all_unittests.cc
  engine/src/flutter/lib/web_ui/dev/steps/copy_artifacts_step.dart
Labels: engine, platform-web

licenses
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/tool_signature
Labels: engine

clang-tidy fixes
  engine/src/flutter/impeller/playground/imgui/imgui_impl_impeller.cc
  engine/src/flutter/impeller/renderer/render_pass.cc
  engine/src/flutter/txt/src/skia/paragraph_builder_skia.cc
  engine/src/flutter/txt/src/skia/paragraph_builder_skia.h
  engine/src/flutter/txt/src/skia/paragraph_skia.cc
  engine/src/flutter/txt/src/txt/asset_font_manager.cc
  engine/src/flutter/txt/src/txt/font_collection.cc
  engine/src/flutter/txt/src/txt/font_features.cc
  engine/src/flutter/txt/src/txt/font_features.h
  engine/src/flutter/txt/src/txt/paragraph_builder.cc
  engine/src/flutter/txt/src/txt/paragraph_builder.h
  engine/src/flutter/txt/src/txt/test_font_manager.cc
  engine/src/flutter/txt/src/txt/text_shadow.cc
  engine/src/flutter/txt/src/txt/text_style.cc
  engine/src/flutter/txt/src/txt/typeface_font_asset_provider.cc
  engine/src/flutter/txt/src/txt/typeface_font_asset_provider.h
Labels: e: impeller, engine

finish addressing nits
  packages/flutter/lib/src/widgets/sensitive_content.dart
Labels: framework

Roll Skia from a11cc17d0133 to 52d06100a044 (2 revisions) (#164515)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
# Use git ls-files '<pattern>' to see the list of matching files.

'a: accessibility':
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/*'
      - '**/*accessibility*'
      - '**/semantics/*'
      - '**/*semantics*'

'a: animation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/animation/*'
      - '**/*animation*'

'a: desktop':
  - changed-files:
    - any-glob-to-any-file:
      - '**/linux/**/*'
      - '**/macos/**/*'
      - '**/windows/**/*'
      - engine/src/flutter/shell/platform/darwin/common/**/*

'a: internationalization':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_localizations/**/*

'a: tests':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_driver/**/*
      - packages/flutter_goldens/**/*
      - packages/flutter_test/**/*
      - packages/integration_test/**/*

'a: text input':
  - changed-files:
    - all-globs-to-any-file:
      - '**/*text*'
      - '!**/*context*'
      - '!**/*texture*'

'd: api docs':
  - changed-files:
    - any-glob-to-any-file:
      - examples/api/**/*

'd: docs/':
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*

'd: examples':
  - changed-files:
    - any-glob-to-any-file:
      - examples/**/*

'e: embedder':
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/embedder

'e: impeller':
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/impeller/**/*

engine:
  - changed-files:
    - any-glob-to-any-file:
      - DEPS
      - engine/**/*
      - docs/engine/**/*

'f: cupertino':
  - changed-files:
    - any-glob-to-any-file:
      - '**/cupertino/*'
      - '**/*cupertino*'
      - docs/libraries/cupertino/**/*

'f: focus':
  - changed-files:
    - any-glob-to-any-file:
      - '**/focus/*'
      - '**/*focus*'

'f: gestures':
  - changed-files:
    - any-glob-to-any-file:
      - '**/gestures/*'
      - '**/*gestures*'

'f: material design':
  - changed-files:
    - any-glob-to-any-file:
      - '**/material/*'
      - '**/*material*'
      - docs/libraries/material/**/*

'f: routes':
  - changed-files:
    - any-glob-to-any-file:
      - '**/navigator/*'
      - '**/*navigator*'
      - '**/route/*'
      - '**/*route*'

'f: scrolling':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*scroll*'
      - '**/scroll/*'
      - '**/*sliver*'
      - '**/sliver/*'
      - '**/*viewport*'
      - '**/viewport/*'

framework:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter/**/*
      - packages/flutter_driver/**/*
      - packages/flutter_goldens/**/*
      - packages/flutter_localizations/**/*
      - packages/flutter_test/**/*
      - packages/integration_test/**/*
      - examples/api/**/*
      - docs/about/**/*
      - docs/contributing/**/*
      - docs/libraries/**/*

'f: integration_test':
  - changed-files:
    - any-glob-to-any-file:
      - packages/integration_test/**/*

package:
  - changed-files:
    - any-glob-to-any-file:
      - docs/ecosystem/**/*

platform-android:
  - changed-files:
    - any-glob-to-any-file:
      - docs/platform/android/**/*
      - engine/src/flutter/shell/platform/android/**/*
      - packages/flutter_tools/*android*'
      - packages/flutter_tools/gradle/**/*

platform-ios:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/darwin/common/**/*
      - engine/src/flutter/shell/platform/darwin/ios/**/*
      - packages/flutter_tools/lib/src/ios/**/*

platform-fuchsia:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/fuchsia/**/*

platform-linux:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/linux/**/*

platform-macos:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/src/flutter/shell/platform/darwin/common/**/*
      - engine/src/flutter/shell/platform/darwin/macos/**/*

platform-web:
  - changed-files:
    - any-glob-to-any-file:
      - '**/web_sdk/**/*'
      - engine/src/flutter/lib/web_ui/**/*
      - packages/flutter_web_plugins

platform-windows:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/windows/**/*

'customer: gallery':
  - changed-files:
    - any-glob-to-any-file:
      - examples/flutter_gallery/**/*

'c: tech-debt':
  - changed-files:
    - any-glob-to-any-file:
      - '**/fix_data.yaml'
      - '**/*.expect'
      - '**/*test_fixes*'

team:
  - changed-files:
    - any-glob-to-any-file:
      - docs/about/**/*
      - docs/contributing/**/*
      - docs/postmortems/**/*

team-android:
  - changed-files:
    - any-glob-to-any-file:
      - docs/platform/android/**/*

team-ecosystem:
  - changed-files:
    - any-glob-to-any-file:
      - docs/ecosystem/**/*

team-engine:
  - changed-files:
    - any-glob-to-any-file:
      - docs/engine/**/*

team-infra:
  - changed-files:
    - any-glob-to-any-file:
      - docs/infra/**/*

team-ios:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/darwin/common/**/*
      - engine/src/flutter/shell/platform/darwin/ios/framework/**/*
      - packages/flutter_tools/**/ios/*
      - packages/flutter_tools/**/macos/*
      - packages/flutter_tools/**/*xcode*
      - packages/flutter_tools/**/*ios*
      - packages/flutter_tools/**/*macos*

team-release:
  - changed-files:
    - any-glob-to-any-file:
      - docs/releases/**/*

team-tool:
  - changed-files:
    - any-glob-to-any-file:
      - docs/tool/**/*

team-web:
  - changed-files:
    - any-glob-to-any-file:
      - docs/platforms/web/**/*

tool:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_tools/**/*
      - packages/fuchsia_remote_debug_protocol/**/*
      - docs/tool/**/*
