Repository flutter/flutter, changes with the labels that .github/labeler.yml gives for each.
All labels: a: accessibility, a: animation, a: desktop, a: internationalization, a: tests, d: api docs, d: docs/, d: examples, e: embedder, e: impeller, engine, f: cupertino, f: focus, f: gestures, f: material design, f: routes, f: scrolling, framework, f: integration_test, package, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows, customer: gallery, c: tech-debt, team, team-android, team-ecosystem, team-engine, team-infra, team-ios, team-release, team-tool, team-web, tool

Roll Skia from a11cc17d0133 to 52d06100a044 (2 revisions) (#164515)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

Impl
  engine/src/flutter/display_list/utils/dl_matrix_clip_tracker.cc
Labels: engine

buh
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: a: tests, framework

cuh
  packages/flutter/lib/src/widgets/media_query.dart
Labels: framework

Impl
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/painting/basic_types.dart
  packages/flutter/lib/src/painting/border_radius.dart
  packages/flutter/lib/src/painting/clip.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: f: cupertino, framework

Add menu, menuItem and menuBar
  engine/src/flutter/lib/ui/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/menus.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/semantics.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
  examples/api/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/widgets/semantics_role_checks_test.dart
Labels: a: accessibility, a: desktop, d: api docs, d: examples, engine, f: material design, framework, platform-web

Fix doc
  packages/flutter/lib/src/rendering/layer.dart
Labels: framework

Tests
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/object_test.dart
Labels: framework

Fix compile
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/object_test.dart
Labels: framework

more lint and path fixes
  engine/src/flutter/impeller/playground/imgui/imgui_impl_impeller.cc
  engine/src/flutter/impeller/renderer/render_pass.cc
  engine/src/flutter/testing/dart/canvas_test.dart
  engine/src/flutter/testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
  engine/src/flutter/testing/run_tests.py
Labels: e: impeller, engine

shift transform instead of rect
  packages/flutter/lib/src/rendering/table.dart
Labels: framework

Update table.dart
  packages/flutter/lib/src/rendering/table.dart
Labels: framework

update indexInParent
  packages/flutter/lib/src/rendering/table.dart
Labels: framework

lint
  packages/flutter/lib/src/rendering/table.dart
Labels: framework

lint
  packages/flutter/lib/src/semantics/semantics.dart
Labels: a: accessibility, framework

Update table.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/widgets/table_test.dart
Labels: a: accessibility, f: material design, framework

fix tests
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/widgets/table_test.dart
Labels: a: accessibility, f: material design, framework

Add comments
  packages/flutter/lib/src/rendering/table.dart
Labels: framework

Update table_test.dart
  packages/flutter/test/rendering/table_test.dart
Labels: framework

Update data_table_test.dart
  packages/flutter/test/material/data_table_test.dart
Labels: f: material design, framework

update the loop
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/test/widgets/table_test.dart
Labels: framework

add comments
  packages/flutter/lib/src/rendering/table.dart
Labels: framework

update rects to be more clear
  packages/flutter/lib/src/rendering/table.dart
Labels: framework

CI paths
  engine/src/flutter/ci/builders/linux_host_engine_test.json
  engine/src/flutter/ci/builders/standalone/linux_benchmarks.json
  engine/src/flutter/ci/licenses.sh
Labels: engine

finish addressing justin review
  engine/src/flutter/shell/platform/android/io/flutter/plugin/view/SensitiveContentPlugin.java
  packages/flutter/lib/src/widgets/sensitive_content.dart
  packages/flutter/test/widgets/sensitive_content_test.dart
Labels: engine, framework, platform-android

impleement clipPath for hcpp
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/mutatorsstack/FlutterMutatorsStack.java
  engine/src/flutter/shell/platform/android/platform_view_android_jni_impl.cc
Labels: engine, platform-android

Overhaul `update_engine_version.{sh|ps1}` to reflect the new computation flow (#164513)
  .gitignore
  bin/internal/update_engine_version.ps1
  bin/internal/update_engine_version.sh
  dev/tools/test/update_engine_version_test.dart
Labels: none

Overhaul `update_engine_version.{sh|ps1}` to reflect the new computation flow (#164513)
  .gitignore
  bin/internal/update_engine_version.ps1
  bin/internal/update_engine_version.sh
  dev/tools/test/update_engine_version_test.dart
Labels: none

conform to logging not erroring standard
  engine/src/flutter/shell/platform/android/platform_view_android_jni_impl.cc
Labels: engine, platform-android

Roll Skia from 52d06100a044 to 6912d66c0c7a (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

Eliminate platform-specific logging in core engine
  engine/src/flutter/lib/ui/ui_dart_state.cc
  engine/src/flutter/shell/platform/embedder/embedder.cc
Labels: engine

more test changes
  packages/flutter/test/widgets/sensitive_content_test.dart
Labels: framework

remove default check since flavor checks already check for default flavor in min sdk checker
  packages/flutter_tools/gradle/src/main/kotlin/DependencyVersionChecker.kt
  packages/flutter_tools/gradle/src/test/kotlin/DependencyVersionCheckerTest.kt
Labels: platform-android, tool

remove default check since flavor checks already check for default flavor in min sdk checker
  packages/flutter_tools/gradle/src/main/kotlin/DependencyVersionChecker.kt
Labels: platform-android, tool

WIP: account for didUpdateWidget
  packages/flutter/lib/src/widgets/sensitive_content.dart
Labels: framework

more lints
  engine/src/flutter/.clang-tidy
  engine/src/flutter/txt/src/txt/font_style.h
  engine/src/flutter/txt/src/txt/font_weight.h
  engine/src/flutter/txt/src/txt/paragraph.h
  engine/src/flutter/txt/src/txt/paragraph_style.h
Labels: engine

Eliminate platform-specific logging in core engine (#164522)
  engine/src/flutter/lib/ui/ui_dart_state.cc
  engine/src/flutter/shell/platform/embedder/embedder.cc
Labels: engine

Eliminate platform-specific logging in core engine (#164522)
  engine/src/flutter/lib/ui/ui_dart_state.cc
  engine/src/flutter/shell/platform/embedder/embedder.cc
Labels: engine

fix: Update time picker dialog input size
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
Labels: f: material design, framework

Roll Skia from 52d06100a044 to 6912d66c0c7a (1 revision) (#164526)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
# Use git ls-files '<pattern>' to see the list of matching files.

'a: accessibility':
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/*'
      - '**/*accessibility*'
      - '**/semantics/*'
      - '**/*semantics*'

'a: animation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/animation/*'
      - '**/*animation*'

'a: desktop':
  - changed-files:
    - any-glob-to-any-file:
      - '**/linux/**/*'
      - '**/macos/**/*'
      - '**/windows/**/*'
      - engine/src/flutter/shell/platform/darwin/common/**/*

'a: internationalization':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_localizations/**/*

'a: tests':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_driver/**/*
      - packages/flutter_goldens/**/*
      - packages/flutter_test/**/*
      - packages/integration_test/**/*

'a: text input':
  - changed-files:
    - all-globs-to-any-file:
      - '**/*text*'
      - '!**/*context*'
      - '!**/*texture*'

'd: api docs':
  - changed-files:
    - any-glob-to-any-file:
      - examples/api/**/*

'd: docs/':
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*

'd: examples':
  - changed-files:
    - any-glob-to-any-file:
      - examples/**/*

'e: embedder':
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/embedder

'e: impeller':
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/impeller/**/*

engine:
  - changed-files:
    - any-glob-to-any-file:
      - DEPS
      - engine/**/*
      - docs/engine/**/*

'f: cupertino':
  - changed-files:
    - any-glob-to-any-file:
      - '**/cupertino/*'
      - '**/*cupertino*'
      - docs/libraries/cupertino/**/*

'f: focus':
  - changed-files:
    - any-glob-to-any-file:
      - '**/focus/*'
      - '**/*focus*'

'f: gestures':
  - changed-files:
    - any-glob-to-any-file:
      - '**/gestures/*'
      - '**/*gestures*'

'f: material design':
  - changed-files:
    - any-glob-to-any-file:
      - '**/material/*'
      - '**/*material*'
      - docs/libraries/material/**/*

'f: routes':
  - changed-files:
    - any-glob-to-any-file:
      - '**/navigator/*'
      - '**/*navigator*'
      - '**/route/*'
      - '**/*route*'

'f: scrolling':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*scroll*'
      - '**/scroll/*'
      - '**/*sliver*'
      - '**/sliver/*'
      - '**/*viewport*'
      - '**/viewport/*'

framework:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter/**/*
      - packages/flutter_driver/**/*
      - packages/flutter_goldens/**/*
      - packages/flutter_localizations/**/*
      - packages/flutter_test/**/*
      - packages/integration_test/**/*
      - examples/api/**/*
      - docs/about/**/*
      - docs/contributing/**/*
      - docs/libraries/**/*

'f: integration_test':
  - changed-files:
    - any-glob-to-any-file:
      - packages/integration_test/**/*

package:
  - changed-files:
    - any-glob-to-any-file:
      - docs/ecosystem/**/*

platform-android:
  - changed-files:
    - any-glob-to-any-file:
      - docs/platform/android/**/*
      - engine/src/flutter/shell/platform/android/**/*
      - packages/flutter_tools/*android*'
      - packages/flutter_tools/gradle/**/*

platform-ios:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/darwin/common/**/*
      - engine/src/flutter/shell/platform/darwin/ios/**/*
      - packages/flutter_tools/lib/src/ios/**/*

platform-fuchsia:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/fuchsia/**/*

platform-linux:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/linux/**/*

platform-macos:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/src/flutter/shell/platform/darwin/common/**/*
      - engine/src/flutter/shell/platform/darwin/macos/**/*

platform-web:
  - changed-files:
    - any-glob-to-any-file:
      - '**/web_sdk/**/*'
      - engine/src/flutter/lib/web_ui/**/*
      - packages/flutter_web_plugins

platform-windows:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/windows/**/*

'customer: gallery':
  - changed-files:
    - any-glob-to-any-file:
      - examples/flutter_gallery/**/*

'c: tech-debt':
  - changed-files:
    - any-glob-to-any-file:
      - '**/fix_data.yaml'
      - '**/*.expect'
      - '**/*test_fixes*'

team:
  - changed-files:
    - any-glob-to-any-file:
      - docs/about/**/*
      - docs/contributing/**/*
      - docs/postmortems/**/*

team-android:
  - changed-files:
    - any-glob-to-any-file:
      - docs/platform/android/**/*

team-ecosystem:
  - changed-files:
    - any-glob-to-any-file:
      - docs/ecosystem/**/*

team-engine:
  - changed-files:
    - any-glob-to-any-file:
      - docs/engine/**/*

team-infra:
  - changed-files:
    - any-glob-to-any-file:
      - docs/infra/**/*

team-ios:
  - changed-files:
    - any-glob-to-any-file:
      - engine/src/flutter/shell/platform/darwin/common/**/*
      - engine/src/flutter/shell/platform/darwin/ios/framework/**/*
      - packages/flutter_tools/**/ios/*
      - packages/flutter_tools/**/macos/*
      - packages/flutter_tools/**/*xcode*
      - packages/flutter_tools/**/*ios*
      - packages/flutter_tools/**/*macos*

team-release:
  - changed-files:
    - any-glob-to-any-file:
      - docs/releases/**/*

team-tool:
  - changed-files:
    - any-glob-to-any-file:
      - docs/tool/**/*

team-web:
  - changed-files:
    - any-glob-to-any-file:
      - docs/platforms/web/**/*

tool:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_tools/**/*
      - packages/fuchsia_remote_debug_protocol/**/*
      - docs/tool/**/*
