Repository flutter/flutter, pull requests merged in 2018-12, with the labels that each got.

#24878 Add a flutter-attach entry point for fuchsia
  packages/flutter_tools/BUILD.gn
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/bin/fuchsia_tools.dart
  packages/flutter_tools/lib/fuchsia_executable.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/attach.dart
Labels: cla: yes, tool

#25003 Fix typo in documentation
  packages/flutter/lib/src/widgets/app.dart
Labels: cla: yes

#25091 Add animations to SliverAppBar doc
  packages/flutter/lib/src/material/app_bar.dart
Labels: cla: yes

#24862 Fix semantics compiler for offstage children
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/test/rendering/object_test.dart
  packages/flutter/test/widgets/semantics_keep_alive_offstage_test.dart
Labels: cla: yes, framework

#25013 Adds a small fix to the Cupertino Navigation demo
  examples/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
Labels: cla: yes, team: gallery

#25096 Change network image URL in doc
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, d: api docs, framework

#25120 Replace deprecated link (to design-principles page) in comment
  packages/flutter/lib/src/material/material_localizations.dart
Labels: cla: yes, d: api docs, f: material design, framework

#24941 Update Switch doc: disabled state
  packages/flutter/lib/src/material/switch.dart
Labels: cla: yes, f: material design, framework

#24669 Ensure that cache dirs and files have appropriate permissions
  bin/internal/update_dart_sdk.sh
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/lib/src/cache.dart
Labels: cla: yes, tool

#24890 Remove deprecated lint "prefer_bool_in_asserts".
  analysis_options.yaml
Labels: cla: yes, team

#24632 Include error message in crash reports
  packages/flutter_tools/lib/src/crash_reporting.dart
  packages/flutter_tools/test/crash_reporting_test.dart
Labels: cla: yes, tool

#25058 ensure lastBuildTimestamp is set before early return
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/asset_test.dart
  packages/flutter_tools/test/data/fuchsia_test/main/.gitignore
  packages/flutter_tools/test/data/fuchsia_test/main/.packages
Labels: cla: yes, tool

#25186 Temporarily add back filtered bintray ExoPlayer repository
  examples/flutter_gallery/android/build.gradle
Labels: cla: yes

#24881 Remove offstage wording from KeepAlive
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/test/widgets/keep_alive_test.dart
Labels: cla: yes, framework

#24942 Fix debugPrint(null) to not crash
  packages/flutter/lib/src/foundation/print.dart
  packages/flutter/test/foundation/print_test.dart
Labels: cla: yes, framework

#25048 Don't crash if pinned & floating AppBar has less than minExtent remainingPaintExtent
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
Labels: cla: yes, framework

#25046 Add a check for build methods that return context.widget
  packages/flutter/lib/src/widgets/debug.dart
  packages/flutter/test/widgets/build_fail_test.dart
Labels: cla: yes, framework

#24953 Fuchsia multiple devices and target
  packages/flutter_tools/bin/fuchsia_attach.dart
Labels: cla: yes, customer: fuchsia, tool

#25178 Adds favicon to Dash/Zeal docset, adds OpenSearch metadata.
  dev/bots/docs.sh
  dev/docs/lib/opensearch.xml
  dev/docs/opensearch.html
  dev/tools/dartdoc.dart
Labels: cla: yes, team

#25168 Fixed an InheritedWidget code sample typo
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework

#24635 TextFormField cursor params
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: a: text input, cla: yes, f: material design, framework

#25217 Fixed Spelling.
  packages/flutter/lib/src/painting/notched_shapes.dart
Labels: cla: yes, framework

#24892 Handle a TabBarView special case: last tab deleted before animation ends
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework

#25240 Revert "Ensure that cache dirs and files have appropriate permissions"
  bin/internal/update_dart_sdk.sh
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/lib/src/cache.dart
Labels: cla: yes

#25236 Roll engine 7375a0f414bd..25b58c0c67dc (198 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#24976 Support TextField multi-line hint text #20941
  examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework

#25258 Roll engine 25b58c0c67dc..abb1d3a6c0b2 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#24515 Add some a basic debug stepping tests
  packages/flutter_tools/test/integration/debugger_stepping_test.dart
  packages/flutter_tools/test/integration/test_data/stepping_project.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: a: debugging, cla: yes, tool

#25269 Make doctor output consistent between VS Code/IntelliJ/Android Studio when plugins are missing
  packages/flutter_tools/lib/src/android/android_studio_validator.dart
  packages/flutter_tools/lib/src/vscode/vscode.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/test/commands/doctor_test.dart
Labels: cla: yes, tool

#25243 Allow snippets tool to be run from arbitrary CWDs
  dev/bots/analyze-sample-code.dart
  dev/snippets/lib/snippets.dart
Labels: cla: yes, d: api docs, team

#24587 Validate style in TextField
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework

#24930 Run flutter tests through mini test engine when run directly (flutter run -t test_file)
  dev/automated_tests/flutter_run_test/flutter_run_test.dart
  dev/devicelab/bin/tasks/flutter_run_test.dart
  dev/devicelab/manifest.yaml
  packages/flutter_test/lib/flutter_test.dart
  packages/flutter_test/lib/src/test_compat.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: a: tests, cla: yes, framework

#25288 Revert "Add ipv6 and observatory port support to the attach command."
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/test/commands/attach_test.dart
Labels: cla: yes

#25300 Remove uses-material-design from hello_world example
  examples/hello_world/pubspec.yaml
Labels: cla: yes

#25239 Call mark* methods before attaching child
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/repaint_boundary_test.dart
Labels: cla: yes, framework

#25302 Roll engine e5195ee479c4..571f47457c0e (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#24169 [Material] Theme-able elevation on dialogs.
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: cla: yes, f: material design, framework

#24449 Text field style merge
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework

#25314 Roll engine 571f47457c0e..921b1ccebb8f (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#24527 obscureText and enableInteractiveSelection defaults
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, cla: yes, framework

#25335 Revert "obscureText and enableInteractiveSelection defaults"
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes

#25333 Roll engine 921b1ccebb8f..a549981da706 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#23919 Allow detection of taps on TabBar
  AUTHORS
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework

#25305 Use stderr instead of stdout to contain errors in flutter attach test
  dev/devicelab/bin/tasks/flutter_attach_test.dart
Labels: a: tests, cla: yes

#25184 Add imports section to sample code templates, and more docs.
  dev/snippets/config/templates/README.md
  dev/snippets/config/templates/stateful_widget.tmpl
  dev/snippets/config/templates/stateless_widget.tmpl
Labels: cla: yes, team

#24761 Adds support for floating cursor
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/mock_canvas.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, cla: yes, framework

#25352 Revert "Adds support for floating cursor"
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/mock_canvas.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes

#25341 Roll engine a549981da706..101b27da7a1b (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25380 Revert "Use stderr instead of stdout to contain errors in flutter attach test"
  dev/devicelab/bin/tasks/flutter_attach_test.dart
Labels: cla: yes

#25382 Revert "Call mark* methods before attaching child (#25239)"
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/repaint_boundary_test.dart
Labels: cla: yes

#24744 drop/restore focus when app becomes invisible/visible
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/widgets/focus_test.dart
Labels: a: text input, cla: yes, framework

#25228 IntrinsicWidth stepWidth or stepHeight == 0.0
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/widgets/intrinsic_width_test.dart
Labels: cla: yes, framework

#25390 Revert "drop/restore focus when app becomes invisible/visible"
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/widgets/focus_test.dart
Labels: cla: yes

#25303 Add ipv6 and observatory port support to the attach command
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands/attach_test.dart
Labels: cla: yes, tool

#24999 Remove TextField.noMaxLength, use maxLength = -1 instead
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/services/text_formatter.dart
Labels: cla: yes, f: material design, framework

#25344 Add fuchsia devices to daemon command
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands/daemon_test.dart
Labels: cla: yes, customer: fuchsia, tool

#25384 Adds support for floating cursor
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/mock_canvas.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes

#24932 Fixed Typography null factory constructor
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/typography_test.dart
Labels: cla: yes, f: material design, framework

#25301 Flutter tool support for automatic saving of JIT compilation trace
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes, framework, tool

#25416 try disabling flutter run test
  dev/devicelab/manifest.yaml
Labels: cla: yes

#25423 Roll engine 101b27da7a1b..494112582932 (19 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25438 Roll engine 494112582932..5af435098d34 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25332 [fuchsia] Get Dart VM service ports from The Hub
  packages/flutter_driver/lib/src/common/fuchsia_compat.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/test/fuchsia/fuchsa_device_test.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
  packages/fuchsia_remote_debug_protocol/test/fuchsia_remote_connection_test.dart
Labels: cla: yes, tool, ○ platform-fuchsia

#25342 Revert "Revert "obscureText and enableInteractiveSelection defaults""
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, cla: yes, f: material design, framework

#25443 fix the daemon device.getDevices call
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands/daemon_test.dart
  packages/flutter_tools/test/integration/daemon_mode_test.dart
  packages/flutter_tools/test/integration/flutter_run_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes, tool

#25470 Support Java 1.8
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes

#25440 don't warn for non-matching device discoverers
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands/daemon_test.dart
Labels: cla: yes, tool

#25482 Mark flaky tests as such
  dev/devicelab/manifest.yaml
Labels: cla: yes

#25381 Add cull opacity perf test to device lab
  dev/benchmarks/macrobenchmarks/README.md
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/java/com/example/cullopacity/MainActivity.java
  dev/benchmarks/macrobenchmarks/android/app/src/main/res/drawable/launch_background.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  dev/benchmarks/macrobenchmarks/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  dev/benchmarks/macrobenchmarks/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  dev/benchmarks/macrobenchmarks/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  dev/benchmarks/macrobenchmarks/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  dev/benchmarks/macrobenchmarks/android/app/src/main/res/values/styles.xml
  dev/benchmarks/macrobenchmarks/android/build.gradle
  dev/benchmarks/macrobenchmarks/android/gradle.properties
  dev/benchmarks/macrobenchmarks/android/gradle/wrapper/gradle-wrapper.properties
  dev/benchmarks/macrobenchmarks/android/settings.gradle
  dev/benchmarks/macrobenchmarks/ios/Flutter/AppFrameworkInfo.plist
  dev/benchmarks/macrobenchmarks/ios/Flutter/Debug.xcconfig
  dev/benchmarks/macrobenchmarks/ios/Flutter/Release.xcconfig
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/benchmarks/macrobenchmarks/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/macrobenchmarks/ios/Runner/AppDelegate.h
  dev/benchmarks/macrobenchmarks/ios/Runner/AppDelegate.m
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/benchmarks/macrobenchmarks/ios/Runner/Base.lproj/LaunchScreen.storyboard
  dev/benchmarks/macrobenchmarks/ios/Runner/Base.lproj/Main.storyboard
  dev/benchmarks/macrobenchmarks/ios/Runner/Info.plist
  dev/benchmarks/macrobenchmarks/ios/Runner/main.m
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/cull_opacity.dart
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/macrobenchmarks/test_driver/cull_opacity_perf.dart
  dev/benchmarks/macrobenchmarks/test_driver/cull_opacity_perf_test.dart
  dev/devicelab/bin/tasks/cull_opacity_perf__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
Labels: a: tests, cla: yes, framework, severe: performance

#25474 fix some formatting issues
  packages/flutter/lib/src/animation/tween_sequence.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/widgets/automatic_keep_alive.dart
  packages/flutter/lib/src/widgets/page_storage.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/cupertino/bottom_tab_bar_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/flexible_space_bar_collapse_mode_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter_driver/test/common.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_tools/test/base/process_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
Labels: a: animation, cla: yes, f: cupertino, framework, team

#25512 Fix failed assert when running `flutter test` with `--start-paused`
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes, tool

#25473 TextField.onChanged() doc update
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, cla: yes, d: api docs, framework

#24993 Add InputDecoration alignLabelWithHint parameter
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes, f: material design, framework

#25345 assert(elevation >= 0.0) and doc clarifications
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/card.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: cla: yes, f: material design, framework

#24797 Iterate through potential grapheme cluster lengths in text painter
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/painting/text_painter_test.dart
Labels: a: text input, a: typography, cla: yes, framework

#25484 Fix gradle local.properties tests that were never excersized
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/test/android/gradle_test.dart
Labels: cla: yes, t: gradle, tool

#25477 TransitionRoute.canTransitionFrom,To() doc update
  packages/flutter/lib/src/widgets/routes.dart
Labels: cla: yes, d: api docs, f: routes, framework

#25520 Fix flutter tool to actually honor --build-number/--build-name flags
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/android/gradle_test.dart
Labels: cla: yes

#25483 Update examples to match the new version of generated build.gradle
  dev/integration_tests/android_views/android/app/build.gradle
  examples/catalog/android/app/build.gradle
  examples/flutter_gallery/android/app/build.gradle
  examples/flutter_view/android/app/build.gradle
  examples/hello_world/android/app/build.gradle
  examples/layers/android/app/build.gradle
  examples/platform_channel/android/app/build.gradle
  examples/platform_view/android/app/build.gradle
  examples/stocks/android/app/build.gradle
Labels: cla: yes, d: examples

#25522 Roll engine 5af435098d34..08465e800035 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25489 Video demo instrumentation
  examples/flutter_gallery/lib/demo/video_demo.dart
Labels: a: tests, cla: yes, team: gallery

#23759 Adds CupertinoTheme
  bin/internal/goldens.version
  examples/flutter_gallery/lib/demo/cupertino/cupertino_activity_indicator_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_alert_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_buttons_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_picker_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_refresh_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_segmented_control_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_slider_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_switch_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_text_field_demo.dart
  examples/flutter_gallery/lib/gallery/app.dart
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/page_scaffold.dart
  packages/flutter/lib/src/cupertino/segmented_control.dart
  packages/flutter/lib/src/cupertino/slider.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/widgets/inherited_model.dart
  packages/flutter/lib/src/widgets/value_listenable_builder.dart
  packages/flutter/test/cupertino/bottom_tab_bar_test.dart
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/cupertino/slider_test.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/theme_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/widgets/inherited_model_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, team: gallery

#25563 Revert "Update examples to match the new version of generated build.gradle (#25483)"
  dev/integration_tests/android_views/android/app/build.gradle
  examples/catalog/android/app/build.gradle
  examples/flutter_gallery/android/app/build.gradle
  examples/flutter_view/android/app/build.gradle
  examples/hello_world/android/app/build.gradle
  examples/layers/android/app/build.gradle
  examples/platform_channel/android/app/build.gradle
  examples/platform_view/android/app/build.gradle
  examples/stocks/android/app/build.gradle
Labels: cla: yes

#25568 Fix the build
  dev/integration_tests/android_views/android/app/build.gradle
Labels: cla: yes

#23889 Flutter doctor error message lookup
  packages/flutter_tools/lib/src/android/android_studio_validator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
Labels: cla: yes, t: flutter doctor, tool

#25339 [Material] Theme-able TextStyles for AlertDialog
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: cla: yes, f: material design, framework

#25529 Roll engine 08465e800035..526e0e3afb2c (10 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25521 fix indentation in doc comments
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/routes.dart
Labels: cla: yes, team

#25578 Roll engine 526e0e3afb2c..9edb4f72b914 (9 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25582 Add missing dependency to fix the build
  examples/flutter_gallery/android/app/build.gradle
Labels: cla: yes

#24580 Remove code signing special casing for Googlers round 2
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/test/ios/code_signing_test.dart
Labels: cla: yes, tool, ⌺‬ platform-ios

#25574 Use full textspan tree instead of top level textspan
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/painting/text_painter_test.dart
Labels: cla: yes

#24554 Adds force press gesture detector and recognizer
  packages/flutter/lib/gestures.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/force_press.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/gestures/force_press_test.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
  packages/flutter_test/lib/src/test_pointer.dart
Labels: cla: yes, f: gestures, framework

#25573 Update DayPicker,DatePicker doc "see also" sections
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/time_picker.dart
Labels: cla: yes, d: api docs, f: date/time picker, f: material design, framework

#25595 Don't parse APK unless explicitly requested
  packages/flutter_tools/lib/src/android/gradle.dart
Labels: cla: yes, tool

#25628 Roll engine 5ec8ef850934..dbdb5e6f8c9f (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25229 Right aligned backspace bug
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/painting/text_painter_test.dart
Labels: a: text input, cla: yes, framework

#25631 Default baseline build options
  packages/flutter_tools/lib/src/build_info.dart
Labels: cla: yes

#25593 Let CupertinoTabScaffold handle keyboard insets too
  packages/flutter/lib/src/cupertino/page_scaffold.dart
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/test/cupertino/scaffold_test.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
Labels: cla: yes, f: cupertino, framework

#25584 Fix material reference in CupertinoPicker doc
  packages/flutter/lib/src/cupertino/picker.dart
Labels: cla: yes, d: api docs, f: cupertino, framework

#25594 Switch over to the new name for compilation trace native function
  bin/internal/engine.version
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes, framework

#24457 Revise Android and iOS gestures on Material TextField
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, cla: yes, f: cupertino, f: material design, framework

#23531 [O] Remove many timeouts.
  dev/devicelab/bin/tasks/run_machine_concurrent_hot_reload.dart
  dev/integration_tests/external_ui/test_driver/main_test.dart
  packages/flutter_driver/lib/src/common/message.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/flutter_driver_test.dart
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/android_emulator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/context.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/base/net.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/cocoapods.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/test/base/context_test.dart
  packages/flutter_tools/test/base/logger_test.dart
  packages/flutter_tools/test/base/terminal_test.dart
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/integration/daemon_mode_test.dart
  packages/flutter_tools/test/integration/debugger_stepping_test.dart
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
  packages/flutter_tools/test/integration/flutter_attach_test.dart
  packages/flutter_tools/test/integration/flutter_run_test.dart
  packages/flutter_tools/test/integration/hot_reload_test.dart
  packages/flutter_tools/test/integration/lifetime_test.dart
  packages/flutter_tools/test/integration/test_data/basic_project.dart
  packages/flutter_tools/test/integration/test_data/hot_reload_project.dart
  packages/flutter_tools/test/integration/test_data/project.dart
  packages/flutter_tools/test/integration/test_data/stepping_project.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/ios/code_signing_test.dart
  packages/flutter_tools/test/vmservice_test.dart
Labels: a: tests, cla: yes, t: gradle, team, tool

#25646 Revert "[O] Remove many timeouts."
  dev/devicelab/bin/tasks/run_machine_concurrent_hot_reload.dart
  dev/integration_tests/external_ui/test_driver/main_test.dart
  packages/flutter_driver/lib/src/common/message.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/flutter_driver_test.dart
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/android_emulator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/context.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/base/net.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/cocoapods.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/test/base/context_test.dart
  packages/flutter_tools/test/base/logger_test.dart
  packages/flutter_tools/test/base/terminal_test.dart
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/integration/daemon_mode_test.dart
  packages/flutter_tools/test/integration/debugger_stepping_test.dart
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
  packages/flutter_tools/test/integration/flutter_attach_test.dart
  packages/flutter_tools/test/integration/flutter_run_test.dart
  packages/flutter_tools/test/integration/hot_reload_test.dart
  packages/flutter_tools/test/integration/lifetime_test.dart
  packages/flutter_tools/test/integration/test_data/basic_project.dart
  packages/flutter_tools/test/integration/test_data/hot_reload_project.dart
  packages/flutter_tools/test/integration/test_data/project.dart
  packages/flutter_tools/test/integration/test_data/stepping_project.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/ios/code_signing_test.dart
  packages/flutter_tools/test/vmservice_test.dart
Labels: cla: yes

#25643 Roll engine e859296b71de..6a9041853c4b (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25649 Roll engine 6a9041853c4b..54a3577c0139 (23 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25238 [OR] Update links for China help
  bin/internal/update_dart_sdk.sh
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/cache_test.dart
Labels: cla: yes, tool

#25479 Depend on the goldens repo through git.
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/android_views/test_driver/main_test.dart
Labels: a: tests, cla: yes, tool

#25642 Revert dependency upgrade to see if it helps with build times and APK size
  examples/flutter_gallery/android/app/build.gradle
Labels: cla: yes, team, team: gallery

#25678 Pin the goldens repo to a specific commit in the android_views test.
  dev/integration_tests/android_views/pubspec.yaml
Labels: cla: yes

#25674 Updated Shrine demo
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/lib/demo/shrine/app.dart
  examples/flutter_gallery/lib/demo/shrine/backdrop.dart
  examples/flutter_gallery/lib/demo/shrine/category_menu_page.dart
  examples/flutter_gallery/lib/demo/shrine/colors.dart
  examples/flutter_gallery/lib/demo/shrine/expanding_bottom_sheet.dart
  examples/flutter_gallery/lib/demo/shrine/home.dart
  examples/flutter_gallery/lib/demo/shrine/login.dart
  examples/flutter_gallery/lib/demo/shrine/model/app_state_model.dart
  examples/flutter_gallery/lib/demo/shrine/model/product.dart
  examples/flutter_gallery/lib/demo/shrine/model/products_repository.dart
  examples/flutter_gallery/lib/demo/shrine/shopping_cart.dart
  examples/flutter_gallery/lib/demo/shrine/shrine_data.dart
  examples/flutter_gallery/lib/demo/shrine/shrine_home.dart
  examples/flutter_gallery/lib/demo/shrine/shrine_order.dart
  examples/flutter_gallery/lib/demo/shrine/shrine_page.dart
  examples/flutter_gallery/lib/demo/shrine/shrine_theme.dart
  examples/flutter_gallery/lib/demo/shrine/shrine_types.dart
  examples/flutter_gallery/lib/demo/shrine/supplemental/asymmetric_view.dart
  examples/flutter_gallery/lib/demo/shrine/supplemental/cut_corners_border.dart
  examples/flutter_gallery/lib/demo/shrine/supplemental/product_card.dart
  examples/flutter_gallery/lib/demo/shrine/supplemental/product_columns.dart
  examples/flutter_gallery/lib/demo/shrine_demo.dart
  examples/flutter_gallery/lib/gallery/app.dart
  examples/flutter_gallery/lib/gallery/demos.dart
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/lib/src/animation/tween_sequence.dart
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#25585 Expose font fallback API in TextStyle, Roll engine 54a3577c0139..215ca1560088 (8 commits)
  bin/internal/engine.version
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/painting/text_style_test.dart
Labels: a: typography, cla: yes, f: material design, framework

#24643 [H] Some minor tweaks to InputDecoration (mainly docs).
  packages/flutter/lib/src/material/input_decorator.dart
Labels: cla: yes, f: material design, framework

#25718 Fix merge conflict.
  packages/flutter/lib/src/material/input_decorator.dart
Labels: cla: yes

#25728 Roll engine 215ca1560088..d8c5ec0e11b5 (12 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25055 Include cursor in textfield intrinsic width measurement
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: a: text input, cla: yes, framework

#25757 Roll engine d8c5ec0e11b5..e75fad7ccead (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25786 Roll engine e75fad7ccead..9daf5c8d213a (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25792 Actively reject UiKitView gestures.
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: cla: yes

#25586 Report devfs stats
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/devfs_test.dart
  packages/flutter_tools/test/hot_test.dart
Labels: cla: yes, tool

#25796 Allow dynamic patches without a patch number.
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: cla: yes, t: gradle, tool

#25798 remove early-stage from Gallery's About screen
  examples/flutter_gallery/lib/gallery/about.dart
Labels: cla: yes, team, team: gallery

#25815 Flutter engine roll with dart roll
  analysis_options.yaml
  bin/internal/engine.version
Labels: cla: yes

#25849 Roll engine to f0a1d6f91
  bin/internal/engine.version
Labels: cla: yes

#25854 Fix analyzer "prefer const" warning.
  dev/benchmarks/macrobenchmarks/lib/src/cull_opacity.dart
Labels: cla: yes

#25856 Roll engine f0a1d6f91d93..1bd9d41f8990 (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25857 Mark flutter_gallery__back_button_memory as flaky.
  dev/devicelab/manifest.yaml
Labels: cla: yes

#25858 Roll engine 1bd9d41f8990..995e3247fe50 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes
