Repository flutter/flutter, pull requests merged in 2018-09, with the labels that each got.

#20618 Fix FixedExtentScrollController.animateToItem
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
Labels: cla: yes

#21337 Roll engine 017dafd42660..a4471589f2cd (8 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21299 Documentation fix and semantics fix
  packages/flutter/lib/src/cupertino/date_picker.dart
Labels: cla: yes

#21339 Roll engine a4471589f2cd..949fb0fb4cbe (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21342 Roll engine 949fb0fb4cbe..d88e0b8229ec (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21360 Roll engine 2318a5274af4..77fad1a731f2 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21364 Roll engine 77fad1a731f2..de4c7a53f21c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#20414 Initialize from dill on tests
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
Labels: cla: yes

#21304 Eliminate --preview-dart-2 flag
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/test/commands/drive_test.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
Labels: cla: yes

#21114 Change asset_bundle_package_font_test to memory file system
  packages/flutter_tools/test/android/gradle_test.dart
  packages/flutter_tools/test/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/asset_bundle_package_test.dart
  packages/flutter_tools/test/flutter_manifest_test.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
  packages/flutter_tools/test/src/pubspec_schema.dart
Labels: cla: yes

#19739 InheritedModel - an InheritedWidget for data models
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/inherited_model.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/inherited_model.dart
  packages/flutter/test/widgets/inherited_model_test.dart
Labels: cla: yes

#21387 Eliminate script snapshot support
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/base/build_test.dart
Labels: cla: yes

#21388 Eliminate support for Dart 1 in AOT snapshotter
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/test/base/build_test.dart
Labels: cla: yes

#20637 Enable taking screenshots of arbitrary RenderObjects from a running a…
  bin/internal/goldens.version
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: cla: yes

#21395 Revert "Enable taking screenshots of arbitrary RenderObjects from a running a…"
  bin/internal/goldens.version
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: cla: yes

#21392 Eliminate BuildInfo.previewDart2 (now always true)
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
  packages/flutter_tools/test/tester/flutter_tester_test.dart
Labels: cla: yes

#21325 wire bold text flag to text widget
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/test/widgets/media_query_test.dart
Labels: cla: yes

#21400 Eliminate Dart 1 support from Xcode xcconfig files
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
Labels: cla: yes

#21402 Eliminate Dart 1 support from FlutterDevice class
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/hot_test.dart
  packages/flutter_tools/test/resident_runner_test.dart
Labels: cla: yes

#20840 [Icons] Updating default icon theme values.
  examples/stocks/test/icon_color_test.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/expand_icon_test.dart
Labels: cla: yes

#21404 Eliminate Dart 1 support from DevFS
  packages/flutter_tools/lib/src/devfs.dart
Labels: cla: yes

#19313 Added size to stepper icons
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/test/material/stepper_test.dart
Labels: cla: yes, needs love

#21410 Remove unnecessary consts
  packages/flutter/test/material/stepper_test.dart
Labels: cla: yes

#20758 Create categories for doctor validators
  packages/flutter_tools/lib/src/android/android_studio_validator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/test/android/android_workflow_test.dart
  packages/flutter_tools/test/commands/doctor_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes

#21423 Fix windows crash running `flutter run` which tries to find Xcode
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/test/integration/flutter_run.dart
Labels: cla: yes

#20262 Fix/ios run simulator
  packages/flutter_tools/lib/src/protocol_discovery.dart
  packages/flutter_tools/test/protocol_discovery_test.dart
Labels: cla: yes

#21439 fix unawaited future
  packages/flutter_tools/test/protocol_discovery_test.dart
Labels: cla: yes

#21408 Eliminate Dart 1 support from Flutter test
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
Labels: cla: yes

#21425 Switch asset_bundle_test.dart to MemoryFileSystem to avoid setting fs.currentDirectory in tests
  packages/flutter_tools/test/asset_bundle_test.dart
Labels: cla: yes

#21427 Move asset_bundle_package_test to MemoryFileSystem to avoid setting fs.currentDirectory in tests
  packages/flutter_tools/test/asset_bundle_package_test.dart
Labels: cla: yes

#21376 Add a detach command to detach without terminating
  packages/flutter_tools/doc/daemon.md
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/integration/flutter_attach_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes

#21426 Move asset_bundle_variant_test to MemoryFileSystem to avoid setting fs.currentDirectory in tests
  packages/flutter_tools/test/asset_bundle_variant_test.dart
Labels: cla: yes

#21386 Add a note about the Android API level requirement for AndroidView.
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/widgets/platform_view.dart
Labels: cla: yes

#21119 Allow FlutterTester to be provided with the working directory for execution
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/integration/flutter_tester_test.dart
Labels: cla: yes

#21453 Revert "Allow FlutterTester to be provided with the working directory for execution"
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/integration/flutter_tester_test.dart
Labels: cla: yes

#21464 Revert "Add a detach command to detach without terminating"
  packages/flutter_tools/doc/daemon.md
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/integration/flutter_attach_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes

#21438 Rename test file to end with _test so it runs on the bots
  packages/flutter_tools/test/integration/flutter_run_test.dart
Labels: cla: yes

#21463 remove the --use-cfe flag from flutter analyze
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/test/commands/analyze_once_test.dart
Labels: cla: yes

#21490 Add a detach command to detach without terminating
  dev/devicelab/bin/tasks/flutter_attach_test.dart
  packages/flutter_tools/doc/daemon.md
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/integration/flutter_attach_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes

#21461 Add a clipBehavior parameter to BottomAppBar.
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
Labels: cla: yes

#21394 Enable fading animation during page transitions.
  bin/internal/goldens.version
  examples/flutter_gallery/lib/main.dart
  examples/flutter_gallery/test_driver/scroll_perf.dart
  examples/flutter_gallery/test_driver/transitions_perf.dart
  examples/flutter_gallery/test_memory/back_button.dart
  examples/flutter_gallery/test_memory/memory_nav.dart
  packages/flutter/lib/src/material/page.dart
  packages/flutter/test/material/page_test.dart
Labels: cla: yes

#21493 Remove original flutter_tester integration test
  packages/flutter_tools/test/integration/flutter_tester_test.dart
Labels: cla: yes

#21455 Do not pass --preview-dart-2 to Dart VM
  dev/bots/analyze.dart
  packages/flutter_tools/lib/src/commands/drive.dart
Labels: cla: yes

#21446 Update animateToItem for new behavior of Future<void> in Dart 2
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
Labels: cla: yes

#21138 monodrag fix
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/test/gestures/drag_test.dart
Labels: cla: yes

#21407 Add an EagerGestureRecognizer.
  packages/flutter/lib/gestures.dart
  packages/flutter/lib/src/gestures/eager.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: cla: yes

#21501 Update InheritedModel doc
  packages/flutter/lib/src/widgets/inherited_model.dart
Labels: cla: yes

#20791 Scale high-pixel-ratio images with BoxFit.none/BoxFit.scaleDown correctly
  AUTHORS
  packages/flutter/lib/src/painting/decoration_image.dart
  packages/flutter/lib/src/rendering/image.dart
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/painting/mocks_for_image_cache.dart
Labels: cla: yes

#20971 Add android semantics integration test to device lab
  dev/devicelab/bin/tasks/android_semantics_integration_test.dart
  dev/devicelab/lib/tasks/integration_tests.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/android_semantics_testing/android/app/build.gradle
  dev/integration_tests/android_semantics_testing/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/android_semantics_testing/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  dev/integration_tests/android_semantics_testing/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  dev/integration_tests/android_semantics_testing/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  dev/integration_tests/android_semantics_testing/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  dev/integration_tests/android_semantics_testing/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  dev/integration_tests/android_semantics_testing/android/build.gradle
  dev/integration_tests/android_semantics_testing/android/gradle.properties
  dev/integration_tests/android_semantics_testing/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/android_semantics_testing/android/settings.gradle
  dev/integration_tests/android_semantics_testing/lib/main.dart
  dev/integration_tests/android_semantics_testing/lib/src/common.dart
  dev/integration_tests/android_semantics_testing/lib/src/constants.dart
  dev/integration_tests/android_semantics_testing/lib/src/flutter_test_alternative.dart
  dev/integration_tests/android_semantics_testing/lib/src/matcher.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/controls_constants.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/controls_page.dart
  dev/integration_tests/android_semantics_testing/lib/test_constants.dart
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_semantics_testing/test/android_semantics_testing_test.dart
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
Labels: cla: yes

#21500 remove some temporary debug output
  examples/flutter_gallery/lib/main.dart
Labels: cla: yes

#21328 change expand icon to use default icon colors
  packages/flutter/lib/src/material/colors.dart
  packages/flutter/lib/src/material/expand_icon.dart
Labels: cla: yes

#21502 Roll engine de4c7a53f21c..5f61056946ef (31 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21466 gradle: add a dependency on the task that generates the x86 jar instead of the jar file
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes

#19579 Add build test for Flutter codelabs
  .cirrus.yml
  dev/bots/README.md
  dev/bots/codelabs_build_test.sh
Labels: cla: yes

#21519 Roll engine to 9b297b3b51228... and Update goldens for flutter/engine#6184
  bin/internal/engine.version
  bin/internal/goldens.version
Labels: cla: yes

#21142 Fix ThemeData's cursorColor doesn't work.
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes

#21529 Roll engine to 58a1894a1cd798de2f9a206f157a90d45944028b
  bin/internal/engine.version
Labels: cla: yes

#21459 Added music_note icon
  packages/flutter/lib/src/cupertino/icons.dart
Labels: cla: yes

#21155 lint unnecessary_const on samples
  dev/bots/analyze-sample-code.dart
  packages/flutter/lib/src/cupertino/segmented_control.dart
  packages/flutter/lib/src/foundation/annotations.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/card.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/painting/box_border.dart
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/lib/src/services/platform_channel.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/text.dart
Labels: cla: yes

#21509 Fixed missing implementations of toString() in two tests
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
Labels: cla: yes

#21448 Revert "Revert "Enable taking screenshots of arbitrary RenderObjects …
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: cla: yes

#21083 Shortcuts
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes

#21556 Revert "Shortcuts"
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes

#21563 Revert "Eliminate snapshot/depfile options to build bundle (#21507)"
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/tester/flutter_tester_test.dart
Labels: cla: yes

#21555 Make FlutterDevice.generator final
  packages/flutter_tools/lib/src/resident_runner.dart
Labels: cla: yes

#21515 Expand DropdownButton width based on isExpanded flag
  bin/internal/goldens.version
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes

#21532 Ensure that textDirection is always passed to ShapeBorder.getOuterPath
  packages/flutter/lib/src/material/ink_highlight.dart
  packages/flutter/lib/src/material/ink_ripple.dart
  packages/flutter/lib/src/material/ink_splash.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/ink_paint_test.dart
  packages/flutter/test/material/ink_splash_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/material/text_field_splash_test.dart
  packages/flutter/test/widgets/run_app_test.dart
Labels: cla: yes

#21576 Return an error from flutter_tools if gen_snapshot fails in an AOT build
  packages/flutter_tools/lib/src/commands/build_aot.dart
Labels: cla: yes

#21570 Remove inheritFromElement assert, it can fail during deactivation
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/inherited_model.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/inherited_model.dart
  packages/flutter/test/widgets/inherited_model_test.dart
Labels: cla: yes

#21573 Update fuchsia-tester so it takes map of kernel test files
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
Labels: cla: yes

#21608 Roll engine e27a2e955bc3..5c1a826eec4d (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21609 Roll engine 5c1a826eec4d..1770f8854835 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21620 add missing lints
  analysis_options.yaml
Labels: cla: yes

#21405 [Material] Corrects default inactive switch track color
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/test/material/switch_test.dart
Labels: cla: yes

#21646 Roll engine 1770f8854835..269880b761a5 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21575 Roll Engine, Update goldens, and new Golden test for ClipRect
  packages/flutter/test/widgets/clip_test.dart
Labels: cla: yes

#21654 Roll engine 269880b761a5..d52e5cca03fb (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21583 Add semantic routing to CupertinoAlertDialog
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/localizations.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: cla: yes

#21558 Shortcuts
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes

#21659 Roll engine to e65beb89da8b9e5747867241b99e0491b603633f.
  bin/internal/engine.version
Labels: cla: yes

#21350 Fix keepalive for large jumps on tabs and lists.
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/widgets/automatic_keep_alive.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/widgets/automatic_keep_alive_test.dart
  packages/flutter/test/widgets/list_view_test.dart
Labels: cla: yes

#21652 enable lint avoid_void_async
  analysis_options.yaml
  dev/devicelab/bin/tasks/android_semantics_integration_test.dart
  dev/devicelab/bin/tasks/gradle_plugin_test.dart
  packages/flutter/test/widgets/async_lifecycle_test.dart
  packages/flutter_test/test/test_config/flutter_test_config.dart
  packages/flutter_test/test/test_config/nested_config/flutter_test_config.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/flutter_manifest_test.dart
Labels: cla: yes

#21672 remove an avoid_void_async lint
  packages/flutter/lib/src/rendering/editable.dart
Labels: cla: yes

#21581 Add material tap target size and text contrast test to gallery and some fixes to a11y guidelines
  examples/flutter_gallery/test/accessibility_test.dart
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/test/accessibility_test.dart
Labels: cla: yes

#21665 Add text field to semantics integration test
  dev/integration_tests/android_semantics_testing/lib/main.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/text_field_constants.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/text_field_page.dart
  dev/integration_tests/android_semantics_testing/lib/test_constants.dart
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
Labels: cla: yes

#21716 Revert recent engine rolls
  bin/internal/engine.version
  bin/internal/goldens.version
Labels: cla: yes

#21696 Fix race condition in resident_runner
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/resident_runner.dart
Labels: cla: yes

#21642 Call setState() in ChoiceChip sample code
  packages/flutter/lib/src/material/chip.dart
Labels: cla: yes

#20619 Check for AndroidStudio plugins in the right .dot dir.
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/android/android_studio_test.dart
Labels: cla: yes

#21733 Increase initial delay for scroll_perf_test to try to reduce worst frame stats flakiness.
  dev/benchmarks/complex_layout/test_driver/scroll_perf_test.dart
Labels: cla: yes

#21738 Roll engine 6f459e2f10ca..12315736f9ca (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21749 Temporarily remove screenshot service extension that is causing code size issues
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: cla: yes

#21735 Increase startup delay for semantics_perf_test.
  dev/benchmarks/complex_layout/test_driver/semantics_perf_test.dart
Labels: cla: yes

#20967 Add configuration for button bar's layout behavior.
  packages/flutter/lib/src/material/button_bar.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/test/material/button_bar_test.dart
  packages/flutter/test/material/button_theme_test.dart
Labels: cla: yes

#21693 Don't use dense dropdown buttons in the Gallery date/time picker demo
  examples/flutter_gallery/lib/demo/material/date_and_time_picker_demo.dart
  examples/flutter_gallery/test/accessibility_test.dart
Labels: cla: yes

#21248 Adjust floating label height when font size is larrrrgeee
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes

#21457 Fix typo in MediaQuery.fromWindow and add invertColors flag to images for smart invert.
  packages/flutter/lib/src/painting/decoration_image.dart
  packages/flutter/lib/src/rendering/image.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/test/rendering/image_test.dart
  packages/flutter/test/widgets/invert_colors_test.dart
Labels: cla: yes

#21741 Fix integration hot-reload test on mac.
  packages/flutter_tools/test/integration/hot_reload_test.dart
  packages/flutter_tools/test/integration/test_data/test_project.dart
Labels: cla: yes

#21703 Default clipBehavior of ClipRect to hardEdge.
  bin/internal/goldens.version
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes

#21788 Roll engine 12315736f9ca..c0e6f6a6e665 (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21758 Make TabBar's tab label padding configurable
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes

#21133 Skip first time full dill transfer
  packages/flutter_tools/lib/src/devfs.dart
Labels: cla: yes

#20787 Add debug check for localization parent
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/back_button.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/debug.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/expand_icon.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/material/search.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/user_accounts_drawer_header.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/chip_theme_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/scrollable_semantics_test.dart
  packages/flutter/test/widgets/sliver_semantics_test.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
Labels: cla: yes

#21826 Missing default hardEdge clip for ClipRectLayer
  bin/internal/goldens.version
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
Labels: cla: yes

#21853 Make Flutter repo Dart SDK 2.1-dev3.1 compatible
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
Labels: cla: yes

#21855 Roll engine version to 931d3cbbc250dbeec1c485f6bee869a15080ac0e
  bin/internal/engine.version
Labels: cla: yes

#21732 Fix the the
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/src/widgets/routes.dart
Labels: cla: yes

#21875 Roll engine 931d3cbbc250..f3ef31aa8c2c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21877 Roll engine f3ef31aa8c2c..ade2d1d04cca (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21878 Roll engine ade2d1d04cca..7a9b430d740b (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21880 Roll engine 7a9b430d740b..60bb5da33c72 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21883 Roll Engine to 24d94601b906e3f23b26330a120533eb3d7983ba
  bin/internal/engine.version
Labels: cla: yes

#21890 Fix the @macro link in doc
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes

#21894 Roll engine 24d94601b906..b43b3e87022b (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21916 Roll engine b43b3e87022b..72665c6827a5 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21832 Stop the animation controller if a CircularProgressIndicator is determinate
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/test/material/progress_indicator_test.dart
Labels: cla: yes

#21946 Roll engine 72665c6827a5..1b2a2075a936 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21948 Roll engine 1b2a2075a936..b0b19d6ce1d2 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21895 Remove all "flaky" annotations from devicelab
  dev/devicelab/manifest.yaml
Labels: cla: yes

#21901 Use Xcode legacy build system for iOS builds
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/ios/mac_test.dart
Labels: cla: yes

#21934 remove unnecessary ignore prefer_const_constructors
  dev/bots/test/common.dart
  dev/devicelab/test/common.dart
  dev/integration_tests/android_semantics_testing/lib/src/flutter_test_alternative.dart
  packages/flutter/test/flutter_test_alternative.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/painting/flutter_logo_test.dart
  packages/flutter_driver/test/common.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_tools/test/src/common.dart
  packages/fuchsia_remote_debug_protocol/test/common.dart
Labels: cla: yes

#21979 Roll engine dcbc8a820733..9e315e64659e (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21828 Add back screenshot extension that was temporarily disabled.
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/reference_image_test.dart
Labels: cla: yes

#21977 Run logcat through shell
  packages/flutter_tools/lib/src/android/android_device.dart
Labels: cla: yes

#21994 Use Xcode legacy build system for iOS builds (#21901)
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/ios/mac_test.dart
Labels: cla: yes

#21752 Make helper and error text separate widgets, make error and counter live region
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes

#21152 Documentation: Clarify how to display an image with a specific density
  packages/flutter/lib/src/widgets/image.dart
Labels: cla: yes

#22006 Renamed 'flutter materialize' to 'flutter make-host-app-editable'.
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/make_host_app_editable.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/module/README.md
  packages/flutter_tools/templates/module/android/host_app_editable/settings.gradle.copy.tmpl
  packages/flutter_tools/test/project_test.dart
Labels: cla: yes

#22034 Update devicelab test for rename of materialize -> make-host-app-editable
  dev/devicelab/bin/tasks/module_test.dart
Labels: cla: yes

#22038 Remove -j1 to run tools tests concurrently
  dev/bots/test.dart
  packages/flutter_tools/README.md
  packages/flutter_tools/test/integration/README.md
Labels: cla: yes

#21964 Add RichText support to find.text
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/test/finders_test.dart
Labels: cla: yes

#17345 Make ScaleGestureRecognizer detect pointer rotation
  packages/flutter/lib/src/gestures/scale.dart
  packages/flutter/test/gestures/scale_test.dart
Labels: cla: yes

#21264 Implement Double Tap Handling in TextField and Editable
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/text_field_splash_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes

#22046 Revert "Add RichText support to find.text"
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/test/finders_test.dart
Labels: cla: yes

#22051 Revert "Implement Double Tap Handling in TextField and Editable"
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/text_field_splash_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes

#22011 Fix WidgetApp.title documentation
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/title.dart
Labels: cla: yes

#21577 Use grouped validator instead of categories
  packages/flutter_tools/lib/src/android/android_studio_validator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/test/commands/doctor_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
Labels: cla: yes

#22093 Amend the test following console output changes.
  dev/devicelab/bin/tasks/run_release_test.dart
Labels: cla: yes

#22088 Roll engine dart roll 20180920
  bin/internal/engine.version
Labels: cla: yes

#22043 Dynamic Release flutter now uses Product cached VM snapshot
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/bundle.dart
Labels: cla: yes

#21888 Fix a link
  README.md
Labels: cla: yes

#22095 Fix flake in logger_test
  packages/flutter_tools/test/base/logger_test.dart
Labels: cla: yes

#22098 Cleanup uses of entry points files
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/artifacts_test.dart
  packages/flutter_tools/test/base/build_test.dart
Labels: cla: yes

#21760 Simplify gradle compiler output
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/test/base/logger_test.dart
  packages/flutter_tools/test/commands/test_test.dart
  packages/flutter_tools/test/compile_test.dart
Labels: cla: yes

#22104 Fix the run_release_test devicelab test after changing output.
  dev/devicelab/bin/tasks/run_release_test.dart
Labels: cla: yes

#22047 add a test for single- and multi-line paragraph layout
  packages/flutter/test/engine/paragraph_test.dart
Labels: cla: yes

#22111 Roll engine 2e8e96fad1..a8890fdccd667 and fix paragraph tests
  bin/internal/engine.version
  packages/flutter/test/engine/paragraph_test.dart
Labels: cla: yes

#22153 Roll engine a8890fdccd to 8471862cff77
  bin/internal/engine.version
Labels: cla: yes

#22162 Roll engine cc3009cb4ea9..f3a3d0ce7f0b (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#21542 [H] Cleanup
  dev/bots/README.md
  dev/bots/prepare_package.dart
  dev/bots/test/fake_process_manager.dart
  examples/flutter_gallery/lib/demo/calculator/logic.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/widgets/automatic_keep_alive.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/material/ink_paint_test.dart
  packages/flutter/test/material/will_pop_test.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/test/protocol_discovery_test.dart
  packages/fuchsia_remote_debug_protocol/lib/src/common/logging.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
  packages/fuchsia_remote_debug_protocol/lib/src/runners/ssh_command_runner.dart
Labels: cla: yes
