Repository flutter/flutter, pull requests merged in 2018-04, with the labels that each got.

#15918 Update logic for parsing sdk version number
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/test/ios/simulators_test.dart
Labels: cla: yes

#16106 Update indeterminate LinearProgressIndicator animiation
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/test/material/progress_indicator_test.dart
Labels: cla: yes

#16147 Better error message when TextField is not in a Material
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/material/text_field_helper_text_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/physical_model_test.dart
Labels: cla: yes

#16040 Let CupertinoTabScaffold's tab be programmatically selectable
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
Labels: cla: yes

#16135 Fix absolute shebangs in install scripts
  bin/flutter
  bin/internal/update_dart_sdk.sh
Labels: cla: yes

#16132 Upgrade quiver to 0.28.1 in flutter_test to fix usage of Maps
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#16035 Adds Java EE module to SDK manager calls
  packages/flutter_tools/lib/src/android/android_sdk.dart
Labels: cla: yes

#16170 Roll engine to 04f3c6557c02879191a558320ed8ec81f8b2b619
  bin/internal/engine.version
Labels: cla: yes

#16094 Add new lints added by linter-0.1.45 and linter-0.1.46
  analysis_options.yaml
  analysis_options_repo.yaml
Labels: cla: yes

#16150 Add code samples for invokeMethod
  packages/flutter/lib/src/services/message_codecs.dart
  packages/flutter/lib/src/services/platform_channel.dart
Labels: cla: yes

#16168 Fix ExtendedFloatingActionButton width
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/test/material/floating_action_button_test.dart
Labels: cla: yes

#16079 Updated color to use theme accentColor
  examples/stocks/lib/stock_home.dart
Labels: cla: yes

#16187 Update Card shape and elevation
  examples/flutter_gallery/lib/demo/material/cards_demo.dart
  packages/flutter/lib/src/material/card.dart
Labels: cla: yes

#16190 Adding onTapDown and onTapCancel to InkWell
  packages/flutter/lib/src/material/ink_well.dart
Labels: cla: yes

#16193 Fix powershell cat invocation to ensure correct encoding and line ending.
  dev/bots/test.dart
Labels: cla: yes

#16194 The options hash param was on the wrong line
  examples/flutter_gallery/ios/fastlane/Fastfile
Labels: cla: yes

#16167 Added BottomAppBar docked FloatingActionButtonLocations
  examples/flutter_gallery/lib/demo/material/fab_motion_demo.dart
  packages/flutter/lib/src/material/floating_action_button_location.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
Labels: cla: yes

#16192 Add AnimatedChildSwitcher widget
  packages/flutter/lib/src/widgets/animated_child_switcher.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/animated_child_switcher_test.dart
Labels: cla: yes

#16203 Made Card's margin configurable
  packages/flutter/lib/src/material/card.dart
  packages/flutter/test/material/card_test.dart
Labels: cla: yes

#16196 Add a bottom app bar to the floating action button motion demo.
  examples/flutter_gallery/lib/demo/material/bottom_app_bar_demo.dart
  examples/flutter_gallery/lib/demo/material/fab_motion_demo.dart
  examples/flutter_gallery/lib/demo/material/material.dart
  examples/flutter_gallery/lib/gallery/item.dart
  packages/flutter/lib/src/material/floating_action_button_location.dart
Labels: cla: yes

#16039 Adding all the different types of chips, along with their complex behaviors
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes

#16197 Add _PointerState#toString
  packages/flutter/lib/src/gestures/converter.dart
Labels: cla: yes

#16211 update IntelliJ metadata in template files
  packages/flutter_tools/templates/create/projectName.iml.tmpl
  packages/flutter_tools/templates/create/projectName_android.iml.tmpl
  packages/flutter_tools/templates/package/projectName.iml.tmpl
  packages/flutter_tools/templates/plugin/projectName.iml.tmpl
  packages/flutter_tools/templates/plugin/projectName_android.iml.tmpl
Labels: cla: yes

#16227 Revert "Adds Java EE module to SDK manager calls"
  packages/flutter_tools/lib/src/android/android_sdk.dart
Labels: cla: yes

#15956 export RawKeyEvent from RawKeyboardListener
  packages/flutter/lib/src/widgets/raw_keyboard_listener.dart
Labels: cla: yes

#16007 Remove DevToolsSecurity check from initial flutter doctor
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
Labels: cla: yes

#16198 Extract checking IntelliJ packages into a helper and use for Android Studio.
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/lib/src/android/android_studio_validator.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/intellij/intellij.dart
  packages/flutter_tools/test/intellij/intellij_test.dart
Labels: cla: yes

#16090 re-enable verify only test failure and update deps.
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#16232 Roll engine to ac4089145203a19d317747c32c9114dd4894aa82
  bin/internal/engine.version
Labels: cla: yes

#15853 Add disable Cupertino Switch example
  examples/flutter_gallery/lib/demo/cupertino/cupertino_switch_demo.dart
Labels: cla: yes

#16236 Roll engine to version 58d6ea360ee8454dc1ee442d69408d66fe088a03
  bin/internal/engine.version
Labels: cla: yes

#16240 fix date/time picker borders
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/time_picker.dart
Labels: cla: yes

#16254 Roll engine to 23c0b7bbf77762d774cb96f93af0016776ec60c4
  bin/internal/engine.version
Labels: cla: yes

#15932 Run test coverage in dart2 again
  dev/bots/test.dart
Labels: cla: yes

#16269 Play butterfly video from asset instead of network
  examples/flutter_gallery/lib/demo/video_demo.dart
  examples/flutter_gallery/pubspec.yaml
Labels: cla: yes

#16238 a11y adjustments for the Bottom app bar demo
  examples/flutter_gallery/lib/demo/material/bottom_app_bar_demo.dart
  examples/flutter_gallery/lib/gallery/item.dart
Labels: cla: yes

#16272 Updated appearance of filled TextFields - added UnderlineInputBorder.borderRadius
  packages/flutter/lib/src/material/input_border.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes

#16273 Make template Podfiles work with Cocoapods 1.5.0
  packages/flutter_tools/templates/cocoapods/Podfile-objc
  packages/flutter_tools/templates/cocoapods/Podfile-swift
Labels: cla: yes

#16264 Roll engine to version be070599a30413bd203f2d77d2179220c5569c08
  bin/internal/engine.version
Labels: cla: yes

#16279 Added BeveledRectangleBorder ShapeBorder
  packages/flutter/lib/painting.dart
  packages/flutter/lib/src/painting/beveled_rectangle_border.dart
  packages/flutter/test/painting/beveled_rectangle_border_test.dart
Labels: cla: yes

#16276 Rename chip's border attribute to shape for consistency.
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes

#16289 Roll engine to aa9ce7092801e7ed8f3f86df0d1067279d13784d
  bin/internal/engine.version
Labels: cla: yes

#16300 Make flutter.gradle support Flutter used as lib
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes

#16210 Docs: fix the spelling of [accommodate].
  packages/flutter/lib/src/material/floating_action_button_location.dart
Labels: cla: yes

#16284 Make no-op buttons more accessible by showing a SnackBar when they're pressed
  examples/flutter_gallery/lib/demo/material/bottom_app_bar_demo.dart
Labels: cla: yes

#16307 Roll engine to d2b69fec751d6d11f62019c863b2cba4ce575bfe
  bin/internal/engine.version
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/painting/image_stream_test.dart
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter/test/painting/shape_decoration_test.dart
  packages/flutter/test/rendering/image_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/image_rtl_test.dart
  packages/flutter/test/widgets/image_test.dart
Labels: cla: yes

#16261 Un(less)conditionally schedule first callback frame when creating ticker
  packages/flutter/lib/src/scheduler/ticker.dart
  packages/flutter/test/scheduler/ticker_test.dart
Labels: cla: yes

#16244 Prompt a solution message when flutter tools network fail in China
  bin/internal/update_dart_sdk.sh
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/cache_test.dart
Labels: cla: yes

#16341 Make IntelliJPlugins tests use MemoryFileSystem.
  packages/flutter_tools/test/intellij/intellij_test.dart
Labels: cla: yes

#16343 Check whether we can run sdkmanager in AndroidWorkflow.licensesAccepted
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/test/android/android_workflow_test.dart
Labels: cla: yes

#15771 Switch to the new Matrix4.tryInvert method to avoid throwing and catching exceptions while hit-testing
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#16306 Bump mockito to 3.0.0-alpha+3
  dev/bots/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/analytics_test.dart
  packages/flutter_tools/test/base/context_test.dart
  packages/flutter_tools/test/commands/install_test.dart
  packages/flutter_tools/test/compile_test.dart
  packages/flutter_tools/test/ios/code_signing_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
  packages/flutter_tools/test/ios/simulators_test.dart
  packages/flutter_tools/test/version_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#15843 Update text_form_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: cla: yes

#15382 Update template .gitignore rules
  packages/flutter_tools/templates/create/.gitignore.tmpl
  packages/flutter_tools/templates/create/ios.tmpl/.gitignore
  packages/flutter_tools/templates/package/.gitignore.tmpl
  packages/flutter_tools/templates/plugin/.gitignore.tmpl
  packages/flutter_tools/templates/plugin/ios.tmpl/.gitignore
Labels: cla: yes, needs love

#16237 Minor code cleanup on "flutter test"
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
Labels: cla: yes

#16323 Run iOS gen_snapshot as x86_64 arch
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
Labels: cla: yes

#16406 Add hotReloadMillisecondsToFrameAfterChange benchmark.
  dev/devicelab/lib/tasks/hot_mode_tests.dart
Labels: cla: yes

#15732 Make full-screen dialog text editable in gallery (#13690)
  examples/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
Labels: cla: yes, needs love

#16405 Add a new Device backed by flutter_tester.
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/tester/flutter_tester_test.dart
Labels: cla: yes

#16290 Do not add run spacing if there are no run metrics
  packages/flutter/lib/src/rendering/wrap.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: cla: yes

#16420 Fixes a problem with the height of the chip label
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes

#16430 Add support for locale-specific text styles
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/material/theme_test.dart
Labels: cla: yes

#16442 Update dependencies
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/bug_report_test.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/dart/pub_get_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#16043 Update bin/internal/README.md
  bin/internal/README.md
Labels: cla: yes

#16249 Some cleanup of Chips that I found while learning the code.
  packages/flutter/lib/src/material/chip.dart
Labels: cla: yes

#16455 Roll engine to ed303c628fe4b322529f8cf01ecb38135a2bab73 (dart roll)
  bin/internal/engine.version
  dev/manual_tests/lib/card_collection.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_refresh_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_switch_demo.dart
  examples/flutter_gallery/lib/demo/video_demo.dart
  packages/flutter/lib/src/material/date_picker.dart
Labels: cla: yes

#16424 Integration test for FlutterTesterDevice.
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/integration/README.md
  packages/flutter_tools/test/integration/flutter_tester_test.dart
Labels: cla: yes

#16445 AutomaticKeepAlive now keeps alive
  packages/flutter/lib/src/widgets/automatic_keep_alive.dart
  packages/flutter/test/widgets/automatic_keep_alive_test.dart
Labels: cla: yes

#16473 Roll engine to 4db7a00677f4ec7684ad8136e04a9ed7a8494bcd.
  bin/internal/engine.version
Labels: cla: yes

#16467 Sync .packages file as a normal input file.
  packages/flutter_tools/lib/src/devfs.dart
Labels: cla: yes

#16281 re-write flutter analyze (the single-shot and --flutter-repo) to use the analysis server
  CONTRIBUTING.md
  analysis_options.yaml
  analysis_options_repo.yaml
  dev/bots/analyze-sample-code.dart
  dev/devicelab/bin/tasks/dartdocs.dart
  packages/analysis_options.yaml
  packages/flutter/lib/analysis_options_user.yaml
  packages/flutter_tools/analysis_options.yaml
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/commands/analyze_continuously_test.dart
  packages/flutter_tools/test/commands/analyze_duplicate_names_test.dart
  packages/flutter_tools/test/commands/analyze_once_test.dart
  packages/flutter_tools/test/commands/create_test.dart
Labels: cla: yes

#16478 Simplify script snapshotting code
  packages/flutter_tools/lib/src/base/build.dart
Labels: cla: yes

#16484 Introduce fingerprint check for preview-dart-2 build flx.
  packages/flutter_tools/lib/src/flx.dart
Labels: cla: yes

#16416 Cleanup FLX related code
  examples/flutter_gallery/BUILD.gn
  packages/flutter_tools/bin/fuchsia_asset_builder.dart
  packages/flutter_tools/bin/fuchsia_builder.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_flx.dart
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/zip.dart
Labels: cla: yes

#16483 Pass verbose flag to Xcode subcommands
  packages/flutter_tools/bin/xcode_backend.sh
Labels: cla: yes

#16447 Adding ChipTheme, ChipThemeData, and some more tests.
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/chip_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/chip_theme_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/painting/text_style_test.dart
Labels: cla: yes

#16519 Rename Slider rail terminology to track, per UX guideline.
  examples/flutter_gallery/lib/demo/material/slider_demo.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: cla: yes

#16531 Roll engine to 8a6e64a8ef09f1f1af207725b40022d8d7a9dcd7 (pre-dart engine roll)
  bin/internal/engine.version
Labels: cla: yes

#16479 fix a test flake on appveyor
  packages/flutter_tools/test/commands/analyze_once_test.dart
  packages/flutter_tools/test/commands/create_test.dart
  packages/flutter_tools/test/commands/upgrade_test.dart
Labels: cla: yes

#16541 Revert "Changing the slider thumb size."
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: cla: yes

#16250 Fix a bug in the AnimatedChildSwitcher, add builders.
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/lib/src/widgets/animated_child_switcher.dart
  packages/flutter/lib/src/widgets/animated_cross_fade.dart
  packages/flutter/test/rendering/stack_test.dart
  packages/flutter/test/widgets/animated_child_switcher_test.dart
Labels: cla: yes

#16518 Roll engine to 76cb311d9c33720dcd19274228b39ecdbad8d9af (with rolled dart)
  bin/internal/engine.version
  dev/bots/analyze-sample-code.dart
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/compile_test.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
Labels: cla: yes

#16457 Build assets and compile on start in flutter-tester device.
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
Labels: cla: yes

#16546 Revert some uses of Number.tryParse()
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/version.dart
Labels: cla: yes, ⚠ TODAY

#16498 Fix formatting of Flex error message
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/test/widgets/flex_test.dart
Labels: cla: yes

#16568 Remove the rest of the uses of Number.tryParse()
  dev/bots/analyze-sample-code.dart
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
Labels: cla: yes

#16570 Remove Number.tryParse() straggler
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes

#16417 Report RpcException error thrown by _reloadSource vmservice rpc.
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#16551 Rename AnimatedChildSwitcher to AnimatedSwitcher
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/widgets/animated_cross_fade.dart
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/animated_switcher_test.dart
Labels: cla: yes

#16543 Turn support for sync-async on in Flutter.
  dev/automated_tests/flutter_test/exception_handling_expectation.txt
  dev/automated_tests/flutter_test/test_async_utils_guarded_expectation.txt
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes

#16626 Revert "Turn support for sync-async on in Flutter."
  dev/automated_tests/flutter_test/exception_handling_expectation.txt
  dev/automated_tests/flutter_test/test_async_utils_guarded_expectation.txt
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes

#15876 Support exposing the InspectorService over the Flutterservice extension protocol as well as the observatory protocol.
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#16495 disable avoid_private_typedef_functions lint
  analysis_options.yaml
  analysis_options_repo.yaml
Labels: cla: yes

#16569 Retry on SocketException in fetchUrl
  packages/flutter_tools/lib/src/base/net.dart
  packages/flutter_tools/test/base/net_test.dart
Labels: cla: yes

#16633 Add localizations for navigation menu, popup menu, dialog, and alert
  packages/flutter/lib/src/material/material_localizations.dart
  packages/flutter/test/material/localizations_test.dart
  packages/flutter_localizations/lib/src/l10n/localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_ar.arb
  packages/flutter_localizations/lib/src/l10n/material_de.arb
  packages/flutter_localizations/lib/src/l10n/material_de_CH.arb
  packages/flutter_localizations/lib/src/l10n/material_en.arb
  packages/flutter_localizations/lib/src/l10n/material_en_AU.arb
  packages/flutter_localizations/lib/src/l10n/material_en_CA.arb
  packages/flutter_localizations/lib/src/l10n/material_en_GB.arb
  packages/flutter_localizations/lib/src/l10n/material_en_IE.arb
  packages/flutter_localizations/lib/src/l10n/material_en_IN.arb
  packages/flutter_localizations/lib/src/l10n/material_en_SG.arb
  packages/flutter_localizations/lib/src/l10n/material_en_ZA.arb
  packages/flutter_localizations/lib/src/l10n/material_es.arb
  packages/flutter_localizations/lib/src/l10n/material_es_419.arb
  packages/flutter_localizations/lib/src/l10n/material_es_AR.arb
  packages/flutter_localizations/lib/src/l10n/material_es_BO.arb
  packages/flutter_localizations/lib/src/l10n/material_es_CL.arb
  packages/flutter_localizations/lib/src/l10n/material_es_CO.arb
  packages/flutter_localizations/lib/src/l10n/material_es_CR.arb
  packages/flutter_localizations/lib/src/l10n/material_es_DO.arb
  packages/flutter_localizations/lib/src/l10n/material_es_EC.arb
  packages/flutter_localizations/lib/src/l10n/material_es_GT.arb
  packages/flutter_localizations/lib/src/l10n/material_es_HN.arb
  packages/flutter_localizations/lib/src/l10n/material_es_MX.arb
  packages/flutter_localizations/lib/src/l10n/material_es_NI.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PA.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PE.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PR.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PY.arb
  packages/flutter_localizations/lib/src/l10n/material_es_SV.arb
  packages/flutter_localizations/lib/src/l10n/material_es_US.arb
  packages/flutter_localizations/lib/src/l10n/material_es_UY.arb
  packages/flutter_localizations/lib/src/l10n/material_es_VE.arb
  packages/flutter_localizations/lib/src/l10n/material_fa.arb
  packages/flutter_localizations/lib/src/l10n/material_fr.arb
  packages/flutter_localizations/lib/src/l10n/material_gsw.arb
  packages/flutter_localizations/lib/src/l10n/material_he.arb
  packages/flutter_localizations/lib/src/l10n/material_id.arb
  packages/flutter_localizations/lib/src/l10n/material_it.arb
  packages/flutter_localizations/lib/src/l10n/material_ja.arb
  packages/flutter_localizations/lib/src/l10n/material_ko.arb
  packages/flutter_localizations/lib/src/l10n/material_nl.arb
  packages/flutter_localizations/lib/src/l10n/material_no.arb
  packages/flutter_localizations/lib/src/l10n/material_pl.arb
  packages/flutter_localizations/lib/src/l10n/material_ps.arb
  packages/flutter_localizations/lib/src/l10n/material_pt.arb
  packages/flutter_localizations/lib/src/l10n/material_pt_PT.arb
  packages/flutter_localizations/lib/src/l10n/material_ro.arb
  packages/flutter_localizations/lib/src/l10n/material_ru.arb
  packages/flutter_localizations/lib/src/l10n/material_th.arb
  packages/flutter_localizations/lib/src/l10n/material_tr.arb
  packages/flutter_localizations/lib/src/l10n/material_ur.arb
  packages/flutter_localizations/lib/src/l10n/material_zh.arb
  packages/flutter_localizations/lib/src/l10n/material_zh_HK.arb
  packages/flutter_localizations/lib/src/l10n/material_zh_TW.arb
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_localizations/test/translations_test.dart
Labels: cla: yes

#16634 Update AppBar docs to analyze sample code
  packages/flutter/lib/src/material/app_bar.dart
Labels: cla: yes

#16648 Support local-engine option for flutter_tester on Windows.
  packages/flutter_tools/lib/src/artifacts.dart
Labels: cla: yes

#16650 Always add a DevFS asset entry for the font manifest
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/asset_bundle_package_test.dart
Labels: cla: yes

#16643 Roll engine to 1bc0e1bb9a8db882a21086096cc2b1e0854312b7
  bin/internal/engine.version
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/painting/image_stream_test.dart
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter/test/painting/shape_decoration_test.dart
  packages/flutter/test/rendering/image_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/image_rtl_test.dart
  packages/flutter/test/widgets/image_test.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#16661 Revert "Roll engine to 1bc0e1bb9a8db882a21086096cc2b1e0854312b7"
  bin/internal/engine.version
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/painting/image_stream_test.dart
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter/test/painting/shape_decoration_test.dart
  packages/flutter/test/rendering/image_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/image_rtl_test.dart
  packages/flutter/test/widgets/image_test.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#16664 Run test harness finalizers in reverse order.
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#16666 Add a timeout to bot tests
  dev/bots/test.dart
Labels: cla: yes

#16668 Roll engine to 0c09bf03d.
  bin/internal/engine.version
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/painting/image_stream_test.dart
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter/test/painting/shape_decoration_test.dart
  packages/flutter/test/rendering/image_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/image_rtl_test.dart
  packages/flutter/test/widgets/image_test.dart
Labels: cla: yes

#16676 Fail with better error message in microbenchmarks
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#16678 When parsing logs, filter away lines that are irrelevant to the microbenchmark.
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#16686 Roll engine to 5822b6e578de7b6c6c0d802dd2b5b9d363e48c14
  bin/internal/engine.version
Labels: cla: yes

#16707 Roll engine to c73be7ada2e1066e2a6f04f0541406409c2bfa6b
  bin/internal/engine.version
  packages/flutter_tools/lib/src/dart/analysis.dart
Labels: cla: yes

#16638 Support summary-details tree view
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes

#16711 Add docs to VMService.onEvent()
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#16675 Run tests in dart2 mode.
  dev/bots/test.dart
  dev/tools/localizations_validator.dart
Labels: cla: yes

#16682 Adding some tests for onTapDown and onTapCancel to InkWell.
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: cla: yes

#16715 Add stack trace to exception logs in flutter_platform
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#16717 Tweak theme_test so it passes when --track-widget-creation is used.
  packages/flutter/test/material/theme_test.dart
Labels: cla: yes

#16728 Roll engine to 3cc8d82895eaaddc52df166ceb0e5d7c3cc40588
  bin/internal/engine.version
Labels: cla: yes

#16755 Roll engine to 3405e23a32af4ea3655e5d1a78955066b2573331
  bin/internal/engine.version
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: cla: yes

#16756 On simulators, don't pass file paths to the engine that don't exist.
  packages/flutter_tools/lib/src/ios/simulators.dart
Labels: cla: yes

#16749 revert an older workaround for a pub/vm failure
  packages/flutter_tools/bin/flutter_tools.dart
Labels: cla: yes

#16761 Roll Flutter Engine to 637e921.
  bin/internal/engine.version
Labels: cla: yes

#16762 Add a few timeouts to FlutterDriver.connect()
  packages/flutter_driver/lib/src/driver/driver.dart
Labels: cla: yes

#16649 Change CircleAvatar to use BoxFit.cover for images
  packages/flutter/lib/src/material/circle_avatar.dart
  packages/flutter/test/material/circle_avatar_test.dart
Labels: cla: yes

#16722 Move script snapshot argumtents to Snapshotter
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/test/base/build_test.dart
Labels: cla: yes

#16724 SliverList works with changing children that are keyed
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/sliver_list_test.dart
Labels: cla: yes

#16721 Fine-tune iOS's scroll start feel
  packages/flutter/lib/src/widgets/scroll_activity.dart
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
Labels: cla: yes

#16522 Updating the Chip demo in the Gallery to include all the new types of chips.
  examples/flutter_gallery/lib/demo/material/chip_demo.dart
  packages/flutter/lib/src/material/circle_avatar.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/circle_avatar_test.dart
Labels: cla: yes

#16767 Remove UI with the word 'demo' from the gallery
  examples/flutter_gallery/lib/demo/contacts_demo.dart
  examples/flutter_gallery/lib/demo/video_demo.dart
Labels: cla: yes

#16081 Semantics object support for edge triggered semantics
  examples/flutter_gallery/lib/demo/pesto_demo.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/material/page.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/tooltip_test.dart
  packages/flutter/test/material/user_accounts_drawer_header_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/semantics_tester_generateTestSemanticsExpressionForCurrentSemanticsTree_test.dart
  packages/flutter/test/widgets/simple_semantics_test.dart
  packages/flutter/test/widgets/sliver_semantics_test.dart
Labels: cla: yes

#16759 Throw FlutterError when calling setState in State constructor
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/set_state_5_test.dart
Labels: cla: yes

#16770 retry VMService connection; expect missing PRODUCT_BUNDLE_IDENTIFIER
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/vmservice_test.dart
Labels: cla: yes

#16751 use the --dart-sdk parameter to flutter analyze if passed in
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
Labels: cla: yes

#16780 Roll engine to 09d05a3891.
  bin/internal/engine.version
Labels: cla: yes

#16785 Do exponential backoff for all exceptions in VMService::defaultOpenChannel.
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/vmservice_test.dart
Labels: cla: yes

#16788 Fix capitalization in README.md
  packages/flutter_tools/README.md
Labels: cla: yes

#16790 Enable sync-async
  dev/automated_tests/flutter_test/exception_handling_expectation.txt
  dev/automated_tests/flutter_test/test_async_utils_guarded_expectation.txt
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes

#16798 Make flutter_driver work with sync-async
  packages/flutter_driver/lib/src/extension/extension.dart
Labels: cla: yes

#16817 bump benchmark timeouts
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes

#16818 Be specific about which exceptions are retried
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#16825 Revert "Enable sync-async"
  dev/automated_tests/flutter_test/exception_handling_expectation.txt
  dev/automated_tests/flutter_test/test_async_utils_guarded_expectation.txt
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes

#16772 Wire up SemanticsFlag.isHidden
  bin/internal/engine.version
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: cla: yes

#16820 Make bottom app bar safe area friendly
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
Labels: cla: yes

#16720 add the full path to a flutter command
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/analytics_test.dart
Labels: cla: yes

#16830 Make the gallery about dialog open the website in Safari
  examples/flutter_gallery/lib/gallery/drawer.dart
Labels: cla: yes

#16752 have flutter format use the sdkBinaryName method
  packages/flutter_tools/lib/src/commands/format.dart
Labels: cla: yes

#16841 Roll engine to cb3376c5dedb71cec7a88b8a8904acc5dd6c6ba1
  bin/internal/engine.version
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/painting/image_stream_test.dart
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter/test/painting/shape_decoration_test.dart
  packages/flutter/test/rendering/image_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/image_rtl_test.dart
  packages/flutter/test/widgets/image_test.dart
Labels: cla: yes

#16842 Notify test timeouts differently than test completions.
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/watcher.dart
Labels: cla: yes

#16861 Fix error with 'flutter packages get' in package projects
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/project_test.dart
Labels: cla: yes

#16778 Remove unneeded assert in UnconstrainedBox
  packages/flutter/lib/src/rendering/shifted_box.dart
  packages/flutter/test/rendering/box_test.dart
Labels: cla: yes

#16758 Add toImage to RenderRepaintBoundary
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
Labels: cla: yes

#16579 Fix #16247: SizeTransition clamps negative size factors
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/test/widgets/transitions_test.dart
Labels: cla: yes

#16872 Fix hue to 0.0 when red == green == blue.
  packages/flutter/lib/src/painting/colors.dart
  packages/flutter/test/painting/colors_test.dart
Labels: cla: yes

#16782 Fix bug for calling isEmpty on null object.
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_localizations/test/basics_test.dart
Labels: cla: no
