Repository flutter/flutter, pull requests merged in 2018-03, with the labels that each got.

#15003 Actually update the docs site
  dev/bots/docs.sh
Labels: cla: yes

#14829 Add more haptic feedback varieties
  packages/flutter/lib/src/services/haptic_feedback.dart
  packages/flutter/test/services/haptic_feedback_test.dart
Labels: cla: yes

#15000 Roll engine to 66072316382837e66aaea518d219192a80839fc3
  bin/internal/engine.version
Labels: cla: yes

#14946 Add a hasListeners to ChangeNotifier
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/foundation/observer_list.dart
  packages/flutter/test/foundation/change_notifier_test.dart
Labels: cla: yes

#15001 Don't push again on beta branch commit
  dev/bots/travis_script.sh
  examples/flutter_gallery/android/fastlane/Fastfile
Labels: cla: yes

#15004 Improve error message for missing 32-bit libstc++
  packages/flutter_tools/lib/src/doctor.dart
Labels: cla: yes

#14994 Fix cases where previewDart2 and trackWidgetCreation were accidentally missed due to named parameters being omitted.
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/resident_runner_test.dart
Labels: cla: yes

#15024 Roll engine to a4b1fccdaa0b2ae8ecaad5f04ae70d2c2403b060.
  bin/internal/engine.version
Labels: cla: yes

#14728 Run flutter tests in preview-dart-2 mode on travis flutter builds.
  .travis.yml
  dev/bots/test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15018 Show 32/64bit in VS Code headings on Windows
  packages/flutter_tools/lib/src/vscode/vscode.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/test/commands/doctor_test.dart
Labels: cla: yes

#15026 Fix call to `git checkout`
  packages/flutter_tools/lib/src/commands/channel.dart
Labels: cla: yes

#15032 Provide a more helpful error message when we detect the user is tryin…
  bin/flutter
  bin/flutter.bat
Labels: cla: yes

#14901 Slider Visual Update
  examples/flutter_gallery/lib/demo/material/slider_demo.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: cla: yes

#15029 Improve robustness of --version parsing for sdkmanager
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/test/android/android_sdk_test.dart
  packages/flutter_tools/test/android/android_workflow_test.dart
Labels: cla: yes

#15036 Roll engine to 269bab73b6ad8f0e54fcd2b84f278ba857baf4af
  bin/internal/engine.version
Labels: cla: yes

#15039 Fix render problem on Slider
  packages/flutter/lib/src/material/slider.dart
Labels: cla: yes

#15044 Eliminate RenderView orientation, timeForRotation
  packages/flutter/lib/src/rendering/view.dart
Labels: cla: yes

#15053 Roll engine to c88ba37c794f57982374bb53a694301198cad593
  bin/internal/engine.version
  packages/flutter_tools/lib/src/project.dart
Labels: cla: yes

#14939 Added Material OutlineButton
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/flat_button.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/lib/src/widgets/scroll_controller.dart
  packages/flutter/test/material/outline_button_test.dart
Labels: cla: yes

#15069 Roll engine to 97b22348c8d5cba471418dc94f9e384e384e796f.
  bin/internal/engine.version
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes

#15038 Add upgrade locking for macs
  bin/flutter
Labels: cla: yes

#15077 Generate and use dep-file for --preview-dart-2
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/flx.dart
Labels: cla: yes

#14897 Attempt to fix flutter drive --preview-dart-2 errors.
  packages/flutter/lib/src/foundation/binding.dart
Labels: cla: yes

#15049 Fix incorrect generic type specification
  packages/flutter/lib/src/widgets/overlay.dart
Labels: cla: yes

#15084 [flutter_test] more docs, tests for `within`; simpler _sizeDistance
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: cla: yes

#15083 [tools] consolidate "preview Dart 2" option in BuildInfo
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
Labels: cla: yes

#15092 OutlineButton doc fixes
  packages/flutter/lib/src/material/outline_button.dart
Labels: cla: yes

#15087 More quoting in Bash
  bin/flutter
Labels: cla: yes

#15137 Fix download Dart DK step to work for paths with apostrophes
  bin/flutter.bat
Labels: cla: yes

#15090 Run dev/bots/test's flutter drive test in preview-dart-2
  dev/bots/test.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: cla: yes

#15172 Roll engine to a00f8e8bc0f3d08ec0c0ca24b01226441bcaf03a
  bin/internal/engine.version
Labels: cla: yes

#15183 Check that State.initState and State.didUpdateWidget don't return Futures
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/async_lifecycle_test.dart
Labels: cla: yes

#15181 [semantics]: minor docs & style clean-up
  packages/flutter/lib/src/semantics/semantics.dart
Labels: cla: yes

#15182 [fuchsia] Add explicit sources to a few targets.
  packages/flutter/BUILD.gn
  packages/flutter_test/BUILD.gn
  packages/flutter_tools/BUILD.gn
Labels: cla: yes

#15169 Pass --trace to pub when in verbose mode
  packages/flutter_tools/lib/src/dart/pub.dart
Labels: cla: yes

#15171 Url encode asset lookup key
  packages/flutter/lib/src/services/asset_bundle.dart
Labels: cla: yes

#14980 Pass extra front-end and gen_snapshot options to GenerateDependencies…
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes

#15185 Add to Artifacts, and add optional arguments to entry points for flut…
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15210 Revert "Add to Artifacts, and add optional arguments to entry points …
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15213 Roll engine to 24cf8ebd8621713a6936df783dad5019f52bc85e
  bin/internal/engine.version
Labels: cla: yes

#15117 Add --preview-dart-2 relaunch test.
  dev/devicelab/lib/tasks/hot_mode_tests.dart
Labels: cla: yes

#15212 Adding back commit #e0f6e62 with fix to test failures
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15180 Pass entry points JSON files to front-end server
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/artifacts_test.dart
Labels: cla: yes

#15211 Make BottomNavBar accessible
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
Labels: cla: yes

#14831 Cupertino picker haptic
  examples/flutter_gallery/lib/demo/cupertino/cupertino_picker_demo.dart
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/test/cupertino/picker_test.dart
Labels: cla: yes

#15223 Revert "Pass entry points JSON files to front-end server"
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/artifacts_test.dart
Labels: cla: yes

#14849 Enable aligning a dropdown button's width with its menu's width
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/button_theme_test.dart
Labels: cla: yes

#15227 Pass entry points JSON files to front-end server, take 2
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/artifacts_test.dart
Labels: cla: yes

#15208 Fail if precompiled test entry point is specified, but more than one …
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15161 Make Flutter tooling work on Android without Xcode being installed
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/ios/cocoapods.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/ios/cocoapods_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
  packages/flutter_tools/test/ios/mac_test.dart
  packages/flutter_tools/test/ios/simulators_test.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes

#15166 Fix some of the generic types specified to avoid runtime errors in --preview-dart-2
  dev/devicelab/lib/framework/manifest.dart
Labels: cla: yes

#15233 Fix `flutter test --preview-dart-2` following last dart roll.
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15176 Test gradle dependencies-file generation
  dev/devicelab/bin/tasks/gradle_plugin_test.dart
Labels: cla: yes

#15221 Enable global type flow analysis in Dart 2 AOT
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes

#15184 Remove _checkPort() when getting flutter views
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
Labels: cla: yes

#15217 Give file system recording serialization a timeout.
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/test/base/process_test.dart
Labels: cla: yes

#14900 Remove a mixin from RenderListWheelViewport that was never used
  packages/flutter/lib/src/rendering/list_wheel_viewport.dart
Labels: cla: yes

#15256 RenderWrap.performLayout should take spacing into consideration
  packages/flutter/lib/src/rendering/wrap.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: cla: yes

#15257 Roll engine to 1b7325ca6825a1305d5521a5c0abe6fb32688dea
  bin/internal/engine.version
Labels: cla: yes

#15267 Dart2 typesafe invocation of IsolateConfiguration callback
  packages/flutter/lib/src/foundation/isolates.dart
Labels: cla: yes

#15270 Roll engine back to 24cf8ebd8621713a6936df783dad5019f52bc85e
  bin/internal/engine.version
Labels: cla: yes

#15264 Fix path-to-uri conversion that broke hot reload on Windows.
  packages/flutter_tools/lib/src/devfs.dart
Labels: cla: yes

#14810 Plug TextDirection into box_decoration background gradient
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/test/painting/box_decoration_test.dart
Labels: cla: yes

#15269 Roll localizations
  packages/flutter_localizations/lib/src/l10n/localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_ar.arb
  packages/flutter_localizations/lib/src/l10n/material_de.arb
  packages/flutter_localizations/lib/src/l10n/material_de_CH.arb
  packages/flutter_localizations/lib/src/l10n/material_en_AU.arb
  packages/flutter_localizations/lib/src/l10n/material_en_CA.arb
  packages/flutter_localizations/lib/src/l10n/material_en_GB.arb
  packages/flutter_localizations/lib/src/l10n/material_en_IE.arb
  packages/flutter_localizations/lib/src/l10n/material_en_IN.arb
  packages/flutter_localizations/lib/src/l10n/material_en_SG.arb
  packages/flutter_localizations/lib/src/l10n/material_en_ZA.arb
  packages/flutter_localizations/lib/src/l10n/material_es.arb
  packages/flutter_localizations/lib/src/l10n/material_es_419.arb
  packages/flutter_localizations/lib/src/l10n/material_es_AR.arb
  packages/flutter_localizations/lib/src/l10n/material_es_BO.arb
  packages/flutter_localizations/lib/src/l10n/material_es_CL.arb
  packages/flutter_localizations/lib/src/l10n/material_es_CO.arb
  packages/flutter_localizations/lib/src/l10n/material_es_CR.arb
  packages/flutter_localizations/lib/src/l10n/material_es_DO.arb
  packages/flutter_localizations/lib/src/l10n/material_es_EC.arb
  packages/flutter_localizations/lib/src/l10n/material_es_GT.arb
  packages/flutter_localizations/lib/src/l10n/material_es_HN.arb
  packages/flutter_localizations/lib/src/l10n/material_es_MX.arb
  packages/flutter_localizations/lib/src/l10n/material_es_NI.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PA.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PE.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PR.arb
  packages/flutter_localizations/lib/src/l10n/material_es_PY.arb
  packages/flutter_localizations/lib/src/l10n/material_es_SV.arb
  packages/flutter_localizations/lib/src/l10n/material_es_US.arb
  packages/flutter_localizations/lib/src/l10n/material_es_UY.arb
  packages/flutter_localizations/lib/src/l10n/material_es_VE.arb
  packages/flutter_localizations/lib/src/l10n/material_fa.arb
  packages/flutter_localizations/lib/src/l10n/material_fr.arb
  packages/flutter_localizations/lib/src/l10n/material_gsw.arb
  packages/flutter_localizations/lib/src/l10n/material_he.arb
  packages/flutter_localizations/lib/src/l10n/material_it.arb
  packages/flutter_localizations/lib/src/l10n/material_ja.arb
  packages/flutter_localizations/lib/src/l10n/material_ko.arb
  packages/flutter_localizations/lib/src/l10n/material_nl.arb
  packages/flutter_localizations/lib/src/l10n/material_pl.arb
  packages/flutter_localizations/lib/src/l10n/material_pt.arb
  packages/flutter_localizations/lib/src/l10n/material_pt_PT.arb
  packages/flutter_localizations/lib/src/l10n/material_ro.arb
  packages/flutter_localizations/lib/src/l10n/material_ru.arb
  packages/flutter_localizations/lib/src/l10n/material_th.arb
  packages/flutter_localizations/lib/src/l10n/material_tr.arb
  packages/flutter_localizations/lib/src/l10n/material_ur.arb
  packages/flutter_localizations/lib/src/l10n/material_zh.arb
  packages/flutter_localizations/lib/src/l10n/material_zh_HK.arb
  packages/flutter_localizations/lib/src/l10n/material_zh_TW.arb
  packages/flutter_localizations/test/translations_test.dart
Labels: cla: yes

#15260 Correct DefaultMaterialLocalizations.delegate supported locales list
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_localizations/test/translations_test.dart
Labels: cla: yes

#15262 Rev up process, boolean_selector, collection package dependencies.
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes

#15251 Create frontend compiler in `flutter test` lazily.
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15205 Rename "slow mode" to be "debug mode"
  examples/catalog/bin/screenshot.dart.template
  examples/flutter_gallery/lib/gallery/home.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/banner.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/banner_test.dart
Labels: cla: yes

#15272 Do not add spacing to the first child's width in RenderWrap line wrapping
  packages/flutter/lib/src/rendering/wrap.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: cla: yes

#15306 Updated the material_en.arb description for signedIn
  packages/flutter_localizations/lib/src/l10n/material_en.arb
Labels: cla: yes

#15298 Return copied kernel filename for flutter test execution.
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15302 Better print-out of semantics tree
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/foundation/diagnostics_test.dart
  packages/flutter/test/rendering/debug_test.dart
  packages/flutter/test/semantics/semantics_test.dart
Labels: cla: yes

#15322 Roll engine to 1d0da7799583b089ede66b81068f40cc4597a429
  bin/internal/engine.version
Labels: cla: yes

#15320 Do not do semantics for detached objects
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/rendering/object_test.dart
  packages/flutter/test/widgets/scrollable_semantics_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
Labels: cla: yes

#15041 Track which Widget objects were created by the local project.
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
Labels: cla: yes

#15305 fix spacing issue and add test for supportsHardwareRendering
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/android/android_device_test.dart
Labels: cla: yes

#15317 Add Text.rich constructor to Text widget
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/test/widgets/text_test.dart
Labels: cla: yes

#15259 Allow wrapping CheckBox in Semantics
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/checkbox_test.dart
Labels: cla: yes

#15344 Update dependencies with forced upgrade.
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/bin/run.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes

#15268 [tools] add Stdio to AppContext created by daemon AppInstance
  packages/flutter_tools/lib/src/commands/daemon.dart
Labels: cla: yes

#15314 Pass --verbose to pub instead of --trace when in verbose mode
  packages/flutter_tools/lib/src/dart/pub.dart
Labels: cla: yes

#15350 Add more package names to the flutter create conflict list
  packages/flutter_tools/lib/src/commands/create.dart
Labels: cla: yes

#15255 Support SemanticsFlag for Header
  examples/flutter_gallery/lib/gallery/home.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: cla: yes

#15078 Adding edge avoidance, painting tests, general cleanup
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/widgets/semantics_debugger_test.dart
Labels: cla: yes

#14848 enable lints prefer_const_declarations and prefer_const_literals_to_c…
  analysis_options.yaml
  analysis_options_repo.yaml
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/modal_bottom_sheet_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/parent_data_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
  packages/flutter/test/widgets/slivers_block_test.dart
  packages/flutter_localizations/test/date_time_test.dart
  packages/flutter_tools/lib/src/base/utils.dart
Labels: cla: yes

#15363 More fixes for the prefer_const_literals_to_create_immutables analyzer check
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: cla: yes

#15351 Fix error handling for the packaging script
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes

#15073 Include opacity in FadeTransition logging
  packages/flutter/lib/src/widgets/animated_cross_fade.dart
  packages/flutter/lib/src/widgets/transitions.dart
Labels: cla: yes

#15071 Various documentation improvements.
  dev/bots/analyze-sample-code.dart
  packages/flutter/lib/src/animation/animations.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: cla: yes

#15403 [H] Factor out BorderSide creation for dividers
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/divider.dart
  packages/flutter/lib/src/material/drawer_header.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/mergeable_material.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/theme_data.dart
Labels: cla: yes

#15376 Update dart-petitparser and dart-xml packages
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes

#15417 Add a simple convenience test task runner for VSCode
  .gitignore
  .vscode/tasks.json
  .vscode/test.sh
Labels: cla: yes

#15337 Leave source list empty for Fuchsia targets.
  packages/flutter/BUILD.gn
  packages/flutter_test/BUILD.gn
  packages/flutter_tools/BUILD.gn
Labels: cla: yes

#15437 Make plugins work in Swift projects
  dev/devicelab/bin/tasks/plugin_test.dart
  dev/devicelab/bin/tasks/plugin_test_ios.dart
  dev/devicelab/bin/tasks/plugin_test_win.dart
  dev/devicelab/lib/tasks/plugin_tests.dart
  packages/flutter_tools/templates/cocoapods/Podfile-swift
Labels: cla: yes

#15443 Remove flaky flag from all tests that are green for the whole dashboard
  dev/devicelab/manifest.yaml
Labels: cla: yes

#15312 Add OutlineButton, Tristate Checkbox to Flutter Gallery
  examples/flutter_gallery/lib/demo/material/buttons_demo.dart
  examples/flutter_gallery/lib/demo/material/selection_controls_demo.dart
  examples/flutter_gallery/lib/gallery/example_code.dart
Labels: cla: yes

#15347 Updated the BottomNavigationBar class doc
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
Labels: cla: yes

#15446 Silence broken test
  dev/devicelab/manifest.yaml
Labels: cla: yes

#15323 Added custom selection indicators to the gallery scrollable tabs demo
  examples/flutter_gallery/lib/demo/material/scrollable_tabs_demo.dart
Labels: cla: yes

#15444 Roll engine to b6df7a637498ca9beda1fa9cd7210e3202ea599f.
  bin/internal/engine.version
  dev/benchmarks/complex_layout/test_driver/semantics_perf_test.dart
  dev/benchmarks/microbenchmarks/lib/common.dart
  dev/bots/analyze-sample-code.dart
  dev/bots/prepare_package.dart
  dev/bots/test.dart
  dev/devicelab/bin/tasks/commands_test.dart
  dev/devicelab/bin/tasks/dartdocs.dart
  dev/devicelab/bin/tasks/routing_test.dart
  dev/devicelab/bin/tasks/run_machine_concurrent_hot_reload.dart
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/bin/tasks/technical_debt__cost.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/hot_mode_tests.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/lib/tasks/save_catalog_screenshots.dart
  dev/integration_tests/channels/lib/main.dart
  dev/integration_tests/ui/test_driver/commands_none_test.dart
  dev/integration_tests/ui/test_driver/commands_performance_overlay_test.dart
  dev/manual_tests/lib/animated_icons.dart
  dev/manual_tests/lib/drag_and_drop.dart
  dev/tools/dartdoc.dart
  dev/tools/gen_date_localizations.dart
  dev/tools/gen_localizations.dart
  dev/tools/localizations_validator.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/test/rendering/recording_canvas.dart
  packages/flutter_test/lib/src/test_pointer.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: cla: yes

#15392 Use a set to remove duplicate channel names
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/test/channel_test.dart
Labels: cla: yes

#15469 Rev dependencies up and regenerate stock_messages.
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/stocks/lib/i18n/stock_messages_all.dart
  examples/stocks/lib/i18n/stock_messages_en.dart
  examples/stocks/lib/i18n/stock_messages_es.dart
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes

#15473 Avoid NPE in InkDecoration dispose
  packages/flutter/lib/src/material/ink_decoration.dart
Labels: cla: yes

#15445 Add neck stretching to the slider value indicator
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: cla: yes

#15358 Add slider minimum interaction time
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/slider_test.dart
Labels: cla: yes

#15494 Roll engine to e44cd55fc452ba5524147280c451fb3ace350ec4
  bin/internal/engine.version
Labels: cla: yes

#15495 Roll engine to e61bb9ac3a3fd789754e2e54220bcfc27076a857
  bin/internal/engine.version
Labels: cla: yes

#15491 Move dart2 tests from 'allowed to fail' to 'required to pass'
  .travis.yml
Labels: cla: yes

#15498 apply upcomming prefer_const_declarations
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
  examples/flutter_gallery/lib/demo/shrine/shrine_home.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/input_border.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/banner.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/animation/curves_test.dart
  packages/flutter/test/material/button_theme_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/painting/alignment_test.dart
  packages/flutter/test/painting/shape_decoration_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/semantics_debugger_test.dart
  packages/flutter/test/widgets/slivers_protocol_test.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/asset_bundle_package_test.dart
  packages/flutter_tools/test/commands/analyze_continuously_test.dart
  packages/flutter_tools/test/commands/analyze_once_test.dart
  packages/flutter_tools/test/commands/doctor_test.dart
  packages/flutter_tools/test/flutter_manifest_test.dart
Labels: cla: yes

#15484 Text form field initial value
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/widgets/form_test.dart
Labels: cla: yes

#15265 change ThemeData.primaryColor to PrimarySwatch instead of PrimarySwatch[500]
  examples/stocks/test/icon_color_test.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/app_builder_test.dart
  packages/flutter/test/widgets/list_view_viewporting_test.dart
Labels: cla: yes

#15303 Replace child parameter with builder on showDialog
  examples/flutter_gallery/lib/demo/cupertino/cupertino_dialog_demo.dart
  examples/flutter_gallery/lib/demo/material/dialog_demo.dart
  examples/flutter_gallery/lib/demo/material/drawer_demo.dart
  examples/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
  examples/flutter_gallery/lib/demo/material/persistent_bottom_sheet_demo.dart
  examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  examples/flutter_gallery/lib/gallery/updates.dart
  examples/stocks/lib/stock_home.dart
  examples/stocks/lib/stock_settings.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/material/will_pop_test.dart
Labels: cla: yes

#15492 Added an additional Material theme to the Gallery
  examples/flutter_gallery/lib/gallery/app.dart
  examples/flutter_gallery/lib/gallery/drawer.dart
  examples/flutter_gallery/lib/gallery/home.dart
  examples/flutter_gallery/lib/gallery/theme.dart
Labels: cla: yes

#15522 Update dartdoc to 0.17.1+1 for flutter
  dev/bots/docs.sh
Labels: cla: yes

#15504 Increase hint text contrast ratio to 4.5
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/theme_data.dart
Labels: cla: yes

#15528 Fix the remote setup to only change the URL.
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes

#15362 Updated the gallery text fields demo
  examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  examples/flutter_gallery/test/demo/material/text_form_field_demo_test.dart
  packages/flutter/lib/src/material/text_form_field.dart
Labels: cla: yes

#15450 Choose default icon color based on theme brightness
  packages/flutter/lib/src/material/input_decorator.dart
Labels: cla: yes

#15449 Fix misspelling in tab description
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_localizations/test/translations_test.dart
Labels: cla: yes

#15538 Revert "Fixing type in docs for InputDecoration"
  packages/flutter/lib/src/material/input_decorator.dart
Labels: cla: no

#15534 Wrap route transitions above the transition as well to prevent repaints
  packages/flutter/lib/src/widgets/routes.dart
Labels: cla: yes

#15547 Engineroll
  .travis.yml
  bin/internal/engine.version
Labels: cla: yes

#15558 Upgrade packages to pull in newest petitparser with Dart 2 fixes.
  .travis.yml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/test/painting/alignment_test.dart
  packages/flutter/test/painting/fractional_offset_test.dart
  packages/flutter/test/rendering/relative_rect_test.dart
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes

#15560 Roll engine to version 520529dbba9b3048f5cc0e0268a274911f3887e6
  bin/internal/engine.version
Labels: cla: yes

#15535 Do not encode the server port in the test file
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes

#15540 Fix "my be entered" should be "may be entered" typo
  packages/flutter/lib/src/material/input_decorator.dart
Labels: cla: yes

#14368 Add support for placing the FAB in different positions
  examples/flutter_gallery/lib/demo/material/fab_motion_demo.dart
  examples/flutter_gallery/lib/demo/material/material.dart
  examples/flutter_gallery/lib/gallery/item.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/floating_action_button_location.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: cla: yes, prod: material design

#15579 Added a Backdrop demo to the Gallery
  examples/flutter_gallery/lib/demo/material/backdrop_demo.dart
  examples/flutter_gallery/lib/demo/material/material.dart
  examples/flutter_gallery/lib/gallery/item.dart
  examples/flutter_gallery/lib/gallery/theme.dart
  examples/flutter_gallery/test/example_code_display_test.dart
  examples/flutter_gallery/test/smoke_test.dart
Labels: cla: yes

#15098 Update README; beta release
  README.md
Labels: cla: yes

#15608 Adjust flaky flags to reality
  dev/devicelab/manifest.yaml
Labels: cla: yes

#15607 Roll engine to 9671f634591295aca35943df1cc589e9fbf59d14
  bin/internal/engine.version
Labels: cla: yes

#15414 Make standard codecs extensible
  dev/integration_tests/channels/android/app/src/main/java/com/yourcompany/channels/MainActivity.java
  dev/integration_tests/channels/ios/Runner/AppDelegate.m
  dev/integration_tests/channels/lib/main.dart
  dev/integration_tests/channels/lib/src/basic_messaging.dart
  dev/integration_tests/channels/lib/src/method_calls.dart
  dev/integration_tests/channels/lib/src/pair.dart
  dev/integration_tests/channels/lib/src/test_step.dart
  packages/flutter/lib/src/services/message_codecs.dart
Labels: cla: yes

#15543 Place the transform and its children within the RenderFlow's opacity layer
  packages/flutter/lib/src/rendering/flow.dart
  packages/flutter/test/widgets/flow_test.dart
Labels: cla: yes

#15592 Pass filesystem-root, filesystem-scheme options through `flutter run, build` and gradle.
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_flx.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/flx.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/compile_test.dart
Labels: cla: yes

#15621 Revert "Pass filesystem-root, filesystem-scheme options through `flutter run, build` and gradle. (#15592)"
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_flx.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/flx.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/compile_test.dart
Labels: cla: yes

#15565 Turn Dart 2 mode by default.
  .travis.yml
  dev/automated_tests/flutter_test/exception_handling_expectation.txt
  dev/bots/test.dart
  packages/flutter/test/foundation/error_reporting_test.dart
  packages/flutter/test/foundation/stack_trace_test.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_flx.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/templates/plugin/lib/projectName.dart.tmpl
  packages/flutter_tools/test/commands/analyze_once_test.dart
Labels: cla: yes

#15627 Fix an analyzer warning
  examples/flutter_gallery/lib/demo/animation/home.dart
Labels: cla: yes

#15624 Fix strong mode error in platform_channel/main.dart
  examples/platform_channel/lib/main.dart
Labels: cla: yes

#15634 Fix a Dart 2 type error in the Stocks example
  examples/stocks/lib/stock_data.dart
Labels: cla: yes

#15635 Run test coverage in dart1 mode.
  dev/bots/test.dart
Labels: cla: yes

#15633 Roll engine to 3e9912698955ed5a2ebc5c9433197c42c8c068f3
  bin/internal/engine.version
Labels: cla: yes

#15637 Roll engine to 464af48eb202ac7c6c43e2af64aadec9a72d9bb6
  bin/internal/engine.version
Labels: cla: yes

#15622 Reland pass filesystem options
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_flx.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/flx.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/compile_test.dart
Labels: cla: yes

#15651 Revert "Reland pass filesystem options (#15622)"
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_flx.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/flx.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/compile_test.dart
Labels: cla: yes

#15645 Roll engine to 1348ab5b63adc18148f161876a4b1cacd5ec0779
  bin/internal/engine.version
Labels: cla: yes

#15628 Fail ios workflow when simctl does not work
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
Labels: cla: yes

#15655 Reland filesystem options support with fix for Windows test.
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_flx.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/flx.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/compile_test.dart
Labels: cla: yes

#15583 Turn on Material page transition fade effect for Gallery
  examples/flutter_gallery/lib/main.dart
Labels: cla: yes

#15390 [H] Fix weird bug when switching text from errorText to helperText
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/test/material/text_field_helper_text_test.dart
Labels: cla: yes

#15418 [H] Fix clipping in FittedBox
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/fitted_box_test.dart
Labels: cla: yes
