Repository flutter/flutter, pull requests merged in 2018-07, with the labels that each got.

#18960 Fix type errors in iOS simulator discovery.
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/test/ios/simulators_test.dart
Labels: cla: yes

#18855 Support all keyboard actions. (#11344)
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
  packages/flutter_test/test/test_text_input_test.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: cla: yes

#18987 Avoid non-standard Gradle setup in Flutter module
  packages/flutter_tools/templates/module/android/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/include_flutter.groovy.tmpl
Labels: cla: yes

#18993 Fix module_test
  dev/devicelab/bin/tasks/module_test.dart
Labels: cla: yes

#18957 Throw instead of return null if durations is empty
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/timeline_summary_test.dart
Labels: cla: yes

#19006 [frdb] Change to warning log on timeout.
  packages/fuchsia_remote_debug_protocol/lib/src/dart/dart_vm.dart
Labels: cla: yes

#19011 Show Search button on keyboard for search widget
  packages/flutter/lib/src/material/search.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/search_test.dart
Labels: cla: yes

#18954 Nit: add space after for
  packages/flutter_driver/test/src/timeline_summary_test.dart
Labels: cla: yes

#16868 Round properly to nearest page in TabBarView.
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, needs love

#18998 Fix Dart 2 issue in `flutter doctor`'s VS Code detection
  packages/flutter_tools/lib/src/vscode/vscode.dart
Labels: cla: yes

#18990 Include stdout/stderr in failure messages for devicelab's tests
  dev/devicelab/test/run_test.dart
Labels: cla: yes

#19036 flutter attach should handle non-singular device gracefully
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/test/commands/attach_test.dart
Labels: cla: yes

#18994 Upgrade node on travis
  .travis.yml
Labels: cla: yes

#18369 Add flag to ThemeData to expand tap targets of certain material widgets
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/flat_button.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/input_border.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes

#18888 Make EditableText cursor configurable
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes

#18981 make edit in README.md
  README.md
Labels: cla: yes

#19065 Fix typos
  packages/flutter/lib/src/cupertino/scrollbar.dart
  packages/flutter/lib/src/material/scrollbar.dart
Labels: cla: yes

#19067 Fix typos
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#19073 Fix typos
  packages/flutter/lib/src/painting/edge_insets.dart
Labels: cla: yes

#19008 Roll engine to ad42324a62abcbc559ec8650fe2f0642c23ea3d0
  bin/internal/engine.version
  bin/internal/goldens.version
Labels: cla: yes

#18469 Create a CupertinoApp
  bin/internal/goldens.version
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/page_test.dart
  packages/flutter/test/cupertino/scaffold_test.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/cupertino/tab_test.dart
Labels: cla: yes

#19087 Avoid repeating microbenchmark
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#19092 Attempt to fix race in microbenchmark error handling code
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#19093 Add temporary debug prints to identify devicelab failures
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#19095 Revert "Add temporary debug prints to identify devicelab failures"
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#19123 Revert engine roll that caused microbenchmarks failures
  bin/internal/engine.version
  bin/internal/goldens.version
Labels: cla: yes

#18921 Adding a setup function for hot restart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/hot_test.dart
Labels: cla: yes

#18720 Deferred ListView.separator cleanups
  packages/flutter/lib/src/widgets/scroll_view.dart
Labels: cla: no

#19160 Fix typo
  packages/flutter/lib/src/rendering/performance_overlay.dart
Labels: cla: yes

#19085 Additional integration test driver functionality
  packages/flutter_tools/test/integration/flutter_run_integration_test.dart
  packages/flutter_tools/test/integration/flutter_test_driver.dart
Labels: cla: yes

#19037 Fix path of ios module template files
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/templates/module/ios/Flutter.tmpl/AppFrameworkInfo.plist.copy.tmpl
  packages/flutter_tools/templates/module/ios/Flutter.tmpl/README.md.copy.tmpl
  packages/flutter_tools/templates/module/ios/Flutter.tmpl/podhelper.rb.copy.tmpl
Labels: cla: yes

#18548 make tests in xcodeproj_test.dart and gradle_test.dart hermetic (#18093)
  packages/flutter_tools/test/android/gradle_test.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
Labels: cla: yes

#19082 Re-land #18369
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/flat_button.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/input_border.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes

#19007 adjust declared types to work with dart 2 typing at runtime
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#19010 remove an unused analysis options file
  analysis_options_repo.yaml
Labels: cla: yes

#19130 Refer to Navigator.of(rootNavigator) in Cupertino tab widgets
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
Labels: cla: yes

#19055 Move collectCoverageData into CoverageCollector so it can be re-used.
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
Labels: cla: yes

#19176 Add Windows support to defaultTargetPlatform
  packages/flutter/lib/src/foundation/platform.dart
Labels: cla: yes

#19046 Add new matcher and utility methods for testing semanics
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: cla: yes

#19047 Add getSemanticsId command to flutter_driver
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/extension_test.dart
Labels: cla: yes

#19178 Use runTests in fuchsia tester.
  packages/flutter_tools/bin/fuchsia_tester.dart
Labels: cla: yes

#19179 Rebuilding BottomNavigationBar when items.length changes
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
Labels: cla: yes

#19174 Updated the material localizations
  dev/tools/gen_date_localizations.dart
  packages/flutter_localizations/lib/src/l10n/date_localizations.dart
  packages/flutter_localizations/lib/src/l10n/localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_ms.arb
  packages/flutter_localizations/lib/src/l10n/material_ur.arb
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_localizations/test/translations_test.dart
Labels: cla: yes

#18643 Add ignoringFeedbackSemantics to Draggable/LongPressDraggable
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: cla: yes

#18811 Segmented control animation
  packages/flutter/lib/src/cupertino/segmented_control.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
Labels: cla: yes

#18865 Improve flutter tools integration tests
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
  packages/flutter_tools/test/integration/flutter_run_integration_test.dart
  packages/flutter_tools/test/integration/flutter_tester_test.dart
  packages/flutter_tools/test/integration/hot_reload_test.dart
  packages/flutter_tools/test/integration/test_data/basic_project.dart
  packages/flutter_tools/test/integration/test_data/test_project.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/integration/test_utils.dart
Labels: cla: yes

#19200 Improve error message in microbenchmarks when flutter run lives too long
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#18843 Fix use of Future<void> as a Future<bool>
  packages/flutter_tools/lib/src/ios/ios_emulators.dart
Labels: cla: yes

#19192 Add segmented control to gallery
  examples/flutter_gallery/lib/demo/cupertino/cupertino.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_segmented_control_demo.dart
  examples/flutter_gallery/lib/gallery/demos.dart
Labels: cla: yes

#19227 Revert "Add segmented control to gallery (#19192)"
  examples/flutter_gallery/lib/demo/cupertino/cupertino.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_segmented_control_demo.dart
  examples/flutter_gallery/lib/gallery/demos.dart
Labels: cla: yes

#19213 Roll engine to ce06bbac58d7c68487dd09616864c904e2f71a72
  bin/internal/engine.version
  bin/internal/goldens.version
Labels: cla: yes

#19220 Increase image cache to 100MB
  packages/flutter/lib/src/painting/image_cache.dart
Labels: cla: yes

#19230 Roll engine to 4466d61a993fdbde2cb092b4da9bbef33d1962fe
  bin/internal/engine.version
Labels: cla: yes

#19187 Remove hacks that make macOs, Linux, and Windows not fail.
  packages/flutter/lib/src/foundation/platform.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/widgets/modal_barrier.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
Labels: cla: yes

#19233 Revert "Roll engine to 4466d61a993fdbde2cb092b4da9bbef33d1962fe (#192…
  bin/internal/engine.version
Labels: cla: yes

#19231 Fix 'are there any views available' check
  packages/flutter_tools/lib/src/resident_runner.dart
Labels: cla: yes

#19183 Make HotRunner call pub get automatically if the pubspec is out of date.
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/run_hot.dart
Labels: cla: yes

#19263 Remove note about port being removed
  packages/flutter_tools/doc/daemon.md
Labels: cla: yes

#19217 Use binary name to locate .packages file on Fuchsia
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
Labels: cla: yes

#19059 Do not assert when semantics are on and app draws on 0x0 surface
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/widgets/semantics_zero_surface_size_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: cla: yes

#19044 Roll engine to fed2ea458ed49088d33eddabc546ba56d600c717 (includes dart roll)
  bin/internal/engine.version
  bin/internal/goldens.version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/dartdoc.dart
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/lib/analysis_options_user.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/version_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#19276 Revert "Roll engine to fed2ea458ed49088d33eddabc546ba56d600c717 (incl…
  bin/internal/engine.version
  bin/internal/goldens.version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/dartdoc.dart
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/lib/analysis_options_user.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/version_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#19025 Update style for CupertinoRefreshControl.
  examples/flutter_gallery/lib/demo/cupertino/cupertino_refresh_demo.dart
  packages/flutter/lib/src/cupertino/refresh.dart
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/test/cupertino/refresh_test.dart
Labels: cla: yes

#19026 Fixed code sign error message width
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/test/ios/mac_test.dart
Labels: cla: yes

#19282 Add a doc describing where CupertinoSliverRefreshControl should be in a list of slivers
  packages/flutter/lib/src/cupertino/refresh.dart
Labels: cla: yes

#19281 Push /usr/bin to front of PATH for ios-deploy runs
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
Labels: cla: yes

#19295 Revert "Roll engine to fed2ea458ed49088d33eddabc546ba56d600c717 (incl…
  bin/internal/engine.version
  bin/internal/goldens.version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/save_catalog_screenshots.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/dartdoc.dart
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_gallery/test_driver/transitions_perf_test.dart
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/lib/analysis_options_user.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/version_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#19234 Update translation descriptions: alertDialogLabel, searchFieldLabel
  dev/tools/localizations_validator.dart
  packages/flutter_localizations/lib/src/l10n/material_en.arb
Labels: cla: yes

#19256 Align expressions better
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#19253 Ensure timeouts in flutter_tools integration tests include all messages received
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes

#18127 Preserve original kernel file for isolate spawn requests.
  packages/flutter/lib/src/services/asset_bundle.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
Labels: cla: yes

#19321 Revert "Use runTests in fuchsia tester. (#19178)"
  packages/flutter_tools/bin/fuchsia_tester.dart
Labels: cla: yes

#19322 Reland "Roll engine to fed2ea458ed49088d33eddabc546ba56d600c717 (includes dart roll) again"
  bin/internal/engine.version
  bin/internal/goldens.version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/save_catalog_screenshots.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/dartdoc.dart
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_gallery/test_driver/transitions_perf_test.dart
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/lib/analysis_options_user.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/version_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#19288 Roll engine to c5a63d
  bin/internal/engine.version
  dev/tools/dartdoc.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: cla: yes

#19327 Revert "Revert "Use runTests in fuchsia tester. (#19178)" (#19321)"
  packages/flutter_tools/bin/fuchsia_tester.dart
Labels: cla: yes

#19318 Correct contentPadding type in InputDecoration.debugFillProperties
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes

#19270 update Text finder to convert Text.rich to plain text for comparison
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/test/finders_test.dart
Labels: cla: yes

#19326 Add HeroController to CupertinoApp
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/test/cupertino/app_test.dart
Labels: cla: yes

#19247 Add option to silence driver extension errors
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/extension_test.dart
Labels: cla: yes

#19244 Support keyboardAppearance field for iOS
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/text_input_test.dart
Labels: cla: yes

#19352 increase cache size if image is loaded that is larger than max size
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/test/painting/image_cache_test.dart
Labels: cla: yes

#19365 roll engine to 9af920ef22f311588b649ba876127993f5c1362c
  bin/internal/engine.version
Labels: cla: yes

#19376 Revert "roll engine to 9af920ef22f311588b649ba876127993f5c1362c"
  bin/internal/engine.version
Labels: cla: yes

#18913 Use FlutterProject to locate files
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/apk.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/inject_plugins.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/ios/cocoapods.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/android/gradle_test.dart
  packages/flutter_tools/test/application_package_test.dart
  packages/flutter_tools/test/ios/cocoapods_test.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
  packages/flutter_tools/test/project_test.dart
  packages/flutter_tools/test/src/mocks.dart
  packages/flutter_tools/test/tester/flutter_tester_test.dart
Labels: cla: yes

#19402 Fix typo
  packages/flutter/lib/src/widgets/focus_scope.dart
Labels: cla: yes

#19405 Extra debug information in run_release_test
  dev/devicelab/bin/tasks/run_release_test.dart
Labels: cla: yes

#19409 Revert "Use FlutterProject to locate files (#18913)"
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/apk.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/inject_plugins.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/ios/cocoapods.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/android/gradle_test.dart
  packages/flutter_tools/test/application_package_test.dart
  packages/flutter_tools/test/ios/cocoapods_test.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
  packages/flutter_tools/test/project_test.dart
  packages/flutter_tools/test/src/mocks.dart
  packages/flutter_tools/test/tester/flutter_tester_test.dart
Labels: cla: yes

#19363 Chevrons in month picker are semi-transparent when the month is scrolled
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_test.dart
Labels: cla: yes

#19419 roll engine to 316b026807c50d65ba1b6724ac954711683f1b01
  bin/internal/engine.version
Labels: cla: yes

#19451 Revert engine roll to 316b026807c50d65ba1b6724ac954711683f1b01
  bin/internal/engine.version
Labels: cla: yes

#19491 Make initialSemanticsTreeCreation less sensitive to GC timing.
  dev/benchmarks/complex_layout/test_driver/semantics_perf.dart
Labels: cla: yes

#19492 mark flaky benchmarks as flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes

#19533 [fuchsia] Add new package dep to BUILD.gn file
  packages/flutter_tools/BUILD.gn
Labels: cla: yes

#19424 Turn on MacOS tests on Cirrus CI
  .cirrus.yml
Labels: cla: yes

#19422 Chevrons fade out completely on month picker scroll event
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_test.dart
Labels: cla: yes

#19325 Introduce PlatformViewsService for controlling platform views.
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/services/platform_views_test.dart
Labels: cla: yes

#19497 Fix sliver padding safe area for material gallery
  examples/flutter_gallery/lib/gallery/home.dart
Labels: cla: yes

#19430 Eliminate Dart 1 benchmarks
  dev/devicelab/bin/tasks/hot_mode_dev_cycle__benchmark_dart1.dart
  dev/devicelab/bin/tasks/hot_mode_dev_cycle_ios__benchmark_dart1.dart
  dev/devicelab/lib/tasks/hot_mode_tests.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes

#18721 Small update to the Text.rich API doc
  packages/flutter/lib/src/widgets/text.dart
Labels: cla: no

#19284 Adding multicolumn cupertino picker to the Gallery.
  examples/flutter_gallery/lib/demo/cupertino/cupertino_picker_demo.dart
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/lib/src/rendering/list_wheel_viewport.dart
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
Labels: cla: yes

#19555 Fix typo
  packages/flutter/lib/src/cupertino/app.dart
Labels: cla: yes

#19454 Flutter `emulator launch` crash running in dart-2-mode
  packages/flutter_tools/lib/src/commands/emulators.dart
  packages/flutter_tools/lib/src/ios/ios_emulators.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/emulator_test.dart
Labels: cla: yes

#19307 Make cleanup of flutter processes in tests more reliable
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes

#19077 Add `--machine` support for `flutter attach`
  packages/flutter_tools/doc/daemon.md
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/integration/flutter_attach.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/resident_runner_test.dart
  packages/flutter_tools/test/tester/flutter_tester_test.dart
Labels: cla: yes

#19560 Update devicelab test with new message prefix
  dev/devicelab/bin/tasks/flutter_attach_test.dart
Labels: cla: yes

#19544 Don't bundle Genereted.xcconfig as a resource
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/microbenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/ios/Runner.xcodeproj/project.pbxproj
  examples/catalog/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_view/ios/Runner.xcodeproj/project.pbxproj
  examples/hello_world/ios/Runner.xcodeproj/project.pbxproj
  examples/layers/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
  examples/stocks/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/templates/create/ios-objc.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/create/ios-swift.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
Labels: cla: yes

#19543 Skip flaky test (expression_evaluation_test)
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
Labels: cla: yes

#19564 Fix copy/paste error in test
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
Labels: cla: yes

#19355 Keep the debug repaint rainbow color within a valid range
  packages/flutter/lib/src/rendering/view.dart
Labels: cla: yes

#19573 Revert accidental force push: 99457c92d78090759166b2710ba2bf4d2faa122e
  .travis.yml
  dev/bots/flutter_build_test.sh
  dev/bots/travis_script.sh
Labels: cla: yes

#19427 Added textInputAction parameter to TextFormField.
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: cla: yes

#19569 Roll engine in four steps (do not squash).
  bin/internal/engine.version
Labels: cla: yes

#19567 Added 20 new supported locales to Material
  dev/tools/gen_date_localizations.dart
  packages/flutter_localizations/lib/src/l10n/date_localizations.dart
  packages/flutter_localizations/lib/src/l10n/localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_bg.arb
  packages/flutter_localizations/lib/src/l10n/material_bs.arb
  packages/flutter_localizations/lib/src/l10n/material_ca.arb
  packages/flutter_localizations/lib/src/l10n/material_cs.arb
  packages/flutter_localizations/lib/src/l10n/material_da.arb
  packages/flutter_localizations/lib/src/l10n/material_el.arb
  packages/flutter_localizations/lib/src/l10n/material_et.arb
  packages/flutter_localizations/lib/src/l10n/material_fi.arb
  packages/flutter_localizations/lib/src/l10n/material_fil.arb
  packages/flutter_localizations/lib/src/l10n/material_hi.arb
  packages/flutter_localizations/lib/src/l10n/material_hr.arb
  packages/flutter_localizations/lib/src/l10n/material_hu.arb
  packages/flutter_localizations/lib/src/l10n/material_lt.arb
  packages/flutter_localizations/lib/src/l10n/material_lv.arb
  packages/flutter_localizations/lib/src/l10n/material_sk.arb
  packages/flutter_localizations/lib/src/l10n/material_sl.arb
  packages/flutter_localizations/lib/src/l10n/material_sr.arb
  packages/flutter_localizations/lib/src/l10n/material_sr_Latn.arb
  packages/flutter_localizations/lib/src/l10n/material_sv.arb
  packages/flutter_localizations/lib/src/l10n/material_tl.arb
  packages/flutter_localizations/lib/src/l10n/material_uk.arb
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_localizations/test/translations_test.dart
Labels: cla: yes

#19416 Allow material button to grow as wide as its constraints allow
  packages/flutter/lib/src/material/button.dart
  packages/flutter/test/material/raw_material_button_test.dart
Labels: cla: yes

#19367 add textCapitalization property
  examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/text_input_test.dart
Labels: cla: yes

#18781 Add optional haptic feedback on LongPressDraggable
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: cla: yes

#18882 Add support for custom accessibility actions to android and iOS.
  examples/flutter_gallery/lib/demo/material/leave_behind_demo.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/semantics/custom_semantics_action_test.dart
  packages/flutter/test/semantics/semantics_test.dart
Labels: cla: yes

#19456 Revert "Revert "Use FlutterProject to locate files (#18913)" (#19409)"
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/apk.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/inject_plugins.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/ios/cocoapods.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/android/gradle_test.dart
  packages/flutter_tools/test/application_package_test.dart
  packages/flutter_tools/test/ios/cocoapods_test.dart
  packages/flutter_tools/test/ios/xcodeproj_test.dart
  packages/flutter_tools/test/project_test.dart
  packages/flutter_tools/test/src/mocks.dart
  packages/flutter_tools/test/tester/flutter_tester_test.dart
Labels: cla: yes

#19329 Removes trailing whitespace from source files.
  examples/flutter_view/ios/Runner/NativeViewController.h
  packages/flutter/lib/src/foundation/consolidate_response.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/material_localizations.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/rendering/custom_layout.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/semantics/semantics_event.dart
  packages/flutter/lib/src/semantics/semantics_service.dart
  packages/flutter/lib/src/services/system_chrome.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/cupertino/slider_test.dart
  packages/flutter/test/foundation/licenses_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/painting/gradient_test.dart
  packages/flutter/test/painting/text_style_test.dart
  packages/flutter/test/scheduler/ticker_test.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/set_state_5_test.dart
  packages/flutter/test/widgets/spacer_test.dart
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/extension_test.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/finders_test.dart
  packages/flutter_test/test/widget_tester_test.dart
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/crash_reporting.dart
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/commands/doctor_test.dart
  packages/flutter_tools/test/integration/flutter_attach.dart
  packages/flutter_tools/test/integration/test_data/basic_project.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes

#19412 Add presubmit test for trailing whitespace.
  .cirrus.yml
  dev/bots/test.dart
  dev/bots/travis_script.sh
Labels: cla: yes

#19403 Add more uses of FlutterProject to locate files
  packages/flutter_tools/lib/src/android/gradle.dart
Labels: cla: yes

#18562 Making the space between keyboard and text-field when the keyboard pops up a variable.
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
Labels: cla: yes

#19593 Separate tools tests from other tests and put them in a different shard.
  .cirrus.yml
  .travis.yml
  appveyor.yml
  dev/bots/test.dart
Labels: cla: yes

#19611 Whitespace fixes to make Travis happy
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: cla: yes

#19526 Increase verbosity on bots during setup and other minor cleanup
  bin/flutter
  bin/flutter.bat
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/scheduler/scheduler_tester.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: cla: yes

#19575 Remove uses of deprecated constants and change int.parse to int.tryParse
  dev/automated_tests/test_smoke_test/crash1_test.dart
  dev/automated_tests/test_smoke_test/crash2_test.dart
  dev/bots/analyze-sample-code.dart
  dev/devicelab/bin/tasks/gradle_plugin_test.dart
  dev/devicelab/lib/framework/ios.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/fuchsia_reload.dart
  packages/flutter_tools/lib/src/commands/ide_config.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/dependency_checker.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/services.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/base/io_test.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/commands/create_test.dart
  packages/flutter_tools/test/commands/devices_test.dart
  packages/flutter_tools/test/commands/fuchsia_reload_test.dart
  packages/flutter_tools/test/dart/pub_get_test.dart
  packages/flutter_tools/test/devfs_test.dart
  packages/flutter_tools/test/src/mocks.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
Labels: cla: yes

#19015 Changed duration
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: cla: yes

#19565 Introduce an AndroidView widget and a RenderAndroidView render object.
  packages/flutter/lib/rendering.dart
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: cla: yes

#19631 Shard the Appveyor tests.
  appveyor.yml
Labels: cla: yes

#19615 Roll engine to 96f5f5b96c7220ffc8c4ce22ed895616a15ad3a0
  bin/internal/engine.version
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: cla: yes

#18775 Change material RefreshIndictor.onRefresh signature from Future<Null> to Future<void>
  AUTHORS
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/test/material/refresh_indicator_test.dart
Labels: cla: yes

#19441 Remove redundant check for platform.isLinux.
  packages/flutter_tools/lib/src/test/coverage_collector.dart
Labels: cla: yes

#19400 In microbenchmarks, ensure flutter quits by sending `q` to stdin
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes

#19290 Fix the checksum verification to be more sensitive
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/data/asset_test/main/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#19690 Fix whitespace detector to handle deleted files.
  .cirrus.yml
  dev/bots/test.dart
Labels: cla: yes

#19317 Add cursorWidth and cursorRadius to TextField (Material) cursor
  bin/internal/goldens.version
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, work in progress; do not review

#19679 Run "flutter update-packages --force-upgrade"
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#19687 Improve docs for FutureBuilder
  packages/flutter/lib/src/widgets/async.dart
Labels: cla: yes

#19694 Extend InputDecoration borders for disabled/error/focused states
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes

#19628 Fix Flutter.java initialization crash
  packages/flutter_tools/templates/module/android/Flutter.tmpl/src/main/java/io/flutter/facade/Flutter.java
Labels: cla: yes

#18758 Semantics framework updates
  examples/flutter_gallery/lib/demo/pesto_demo.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/semantics/semantics_event.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/test/material/control_list_tile_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/image_test.dart
  packages/flutter/test/widgets/obscured_animated_image_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: cla: yes

#19716 Roll engine to 95e91e31fad816738d3fef341256620e1819b6d9
  bin/internal/engine.version
Labels: cla: yes

#19728 remove trailing whitespace to unblock build
  packages/flutter/test/painting/text_painter_test.dart
Labels: cla: yes

#19730 Revert "Make initialSemanticsTreeCreation less sensitive to GC timing…
  dev/benchmarks/complex_layout/test_driver/semantics_perf.dart
Labels: cla: yes

#19727 Make Fuchsia tools Dart 2 clean
  packages/flutter_tools/bin/fuchsia_asset_builder.dart
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/src/context_runner.dart
Labels: cla: yes

#18360 Add some options to format subcommand
  packages/flutter_tools/lib/src/commands/format.dart
  packages/flutter_tools/test/commands/format_test.dart
Labels: cla: yes

#18966 Added Samsung S9(+) to the list of known physical devices
  packages/flutter_tools/lib/src/android/android_device.dart
Labels: cla: yes

#19749 Rename file -> _test so it runs on CI!
  packages/flutter_tools/test/integration/flutter_attach_test.dart
Labels: cla: yes

#19763 Skip attach test on Windows due to #17833
  packages/flutter_tools/test/integration/flutter_attach_test.dart
Labels: cla: yes

#19708 Look up breakpoints rather than relying on magic numbers
  packages/flutter_tools/test/integration/test_data/basic_project.dart
  packages/flutter_tools/test/integration/test_data/test_project.dart
Labels: cla: yes
