Repository flutter/flutter, pull requests merged in 2019-07, with the labels that each got.

#35263 remove unnecessary ..toList()
  dev/bots/analyze-sample-code.dart
Labels: cla: yes

#35290 tests for about page
  packages/flutter/lib/src/foundation/licenses.dart
  packages/flutter/test/material/about_test.dart
Labels: cla: yes

#35282 Add Container fallback to Ink build method
  packages/flutter/lib/src/material/ink_decoration.dart
  packages/flutter/test/material/ink_paint_test.dart
Labels: cla: yes, f: material design, framework

#35408 Remove print
  packages/flutter/test/widgets/icon_data_test.dart
Labels: cla: yes

#35307 Clean up host_app_ephemeral Profile build settings
  dev/integration_tests/ios_add2app/build_and_test.sh
  dev/integration_tests/ios_add2app/ios_add2app.xcodeproj/xcshareddata/xcschemes/ios_add2app.xcscheme
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Config.tmpl/Release.xcconfig
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.pbxproj.tmpl
Labels: a: existing-apps, cla: yes, t: xcode, tool, ⌺‬ platform-ios

#35407 Manual engine roll
  bin/internal/engine.version
Labels: cla: yes, engine, team

#34660 Add --target support for Windows and Linux
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/linux/linux_device.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/lib/src/windows/windows_device.dart
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/commands/build_linux_test.dart
  packages/flutter_tools/test/commands/build_windows_test.dart
Labels: cla: yes, tool

#35423 v1.7.8 hotfixes
  bin/internal/engine.version
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/desktop.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/lib/src/web/workflow.dart
  packages/flutter_tools/test/commands/build_web_test.dart
  packages/flutter_tools/test/commands/precache_test.dart
  packages/flutter_tools/test/commands/run_test.dart
  packages/flutter_tools/test/runner/flutter_command_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/web/workflow_test.dart
Labels: cla: yes

#33936 New parameter for RawGestureDetector to customize semantics mapping
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/widgets/gesture_detector_semantics_test.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
Labels: cla: yes, f: gestures, framework

#35465 Mark update-packages as non-experimental
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes, tool

#35164 Update reassemble doc
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, customer: product, d: api docs, framework, severe: customer critical

#35464 Manual roll of engine 45b66b7...ffba2f6
  bin/internal/engine.version
  packages/flutter/test/widgets/gesture_detector_semantics_test.dart
Labels: cla: yes, team

#35482 Use the new service protocol message names
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#35495 mark windows and macos chrome dev mode as flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#35477 Update macrobenchmarks README and app name
  dev/benchmarks/macrobenchmarks/README.md
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/java/com/example/macrobenchmarks/MainActivity.java
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/ios/Runner/Info.plist
Labels: a: tests, cla: yes, team

#35489 Roll engine ffba2f68d4e8..7d3e722349e7 (59 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#35303 fix default artifacts to exclude ios and android
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands/install_test.dart
Labels: cla: yes, tool

#35467 Mark update-packages as non-experimental
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/commands/update_packages_test.dart
Labels: cla: yes, tool

#34723 CupertinoTextField vertical alignment
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/painting/alignment.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/cupertino/text_field_test.dart
Labels: cla: yes, f: cupertino, framework

#35492 Re-apply 'Add currentSystemFrameTimeStamp to SchedulerBinding'
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/scheduler/scheduler_test.dart
Labels: cla: yes, framework

#35491 Include tags in SemanticsNode debug properties
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/semantics/semantics_test.dart
Labels: cla: yes, framework

#35160 Move usage flutter create tests into memory filesystem.
  packages/flutter_tools/test/commands/create_test.dart
  packages/flutter_tools/test/commands/create_usage_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: a: tests, cla: yes, tool

#34665 Selection handles position is off
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, cla: yes, framework, severe: API break

#35481 add APK build time benchmarks
  dev/devicelab/bin/tasks/build_benchmark.dart
  dev/devicelab/lib/tasks/build_benchmarks.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, tool

#35487 Fix RenderFittedBox when child.size.isEmpty
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/clip_test.dart
Labels: a: accessibility, cla: yes, framework

#35367 Add type to StreamChannel in generated test code.
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes, tool

#35493 Do not use ideographic baseline for RenderPargraph baseline
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter_localizations/test/text_test.dart
Labels: a: typography, cla: yes, engine, framework

#35572 Roll engine 7d3e722349e7..3c51a7bfff77 (20 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#35573 update packages
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team

#35646 Prepare for Socket implements Stream<Uint8List>
  packages/flutter_tools/test/android/android_device_test.dart
Labels: cla: yes

#35708 disable a test case in xcode_backend.sh
  packages/flutter_tools/test/ios/xcode_backend_test.dart
Labels: cla: yes, tool

#35063 add documentation for conic path not supported
  packages/flutter/lib/src/widgets/platform_view.dart
Labels: a: platform-views, cla: yes, d: api docs, framework, plugin

#35392 Add timer checking and Fake http client to testbed
  packages/flutter_tools/lib/src/base/context.dart
  packages/flutter_tools/test/src/testbed.dart
  packages/flutter_tools/test/testbed_test.dart
Labels: cla: yes, tool

#35681 Disable incremental compiler in dartdevc
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/resident_web_runner.dart
Labels: cla: yes, tool

#35684 Fix typo in main.dart templates
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
  packages/flutter_tools/templates/module/common/lib/main.dart.tmpl
Labels: cla: yes, d: api docs, framework

#35743 Simple Doc Fixes
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: cla: yes, d: api docs, framework

#35480 Update the help message on precache command for less confusion
  packages/flutter_tools/lib/src/commands/precache.dart
Labels: cla: yes, tool

#35751 Roll engine 3c51a7bfff77..e695a516f148 (9 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#35657 Remove paused check for tooling tests
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/tool/tool_coverage.dart
Labels: cla: yes, tool

#35725 Update annotated region findAll implementation to use Iterables directly.
  packages/flutter/lib/src/rendering/layer.dart
Labels: cla: yes, framework

#35574 Fix semantics for floating pinned sliver app bar
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
Labels: a: accessibility, cla: yes, f: scrolling, framework, waiting for tree to go green

#35556 ios (iPhone6) and iPhone XS tiles_scroll_perf tests
  dev/devicelab/bin/tasks/tiles_scroll_perf_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/tiles_scroll_perf_iphonexs__timeline_summary.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, severe: performance, team, ⌺‬ platform-ios

#35709 Remove web, fuchsia, and unsupported devices from all
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/device_test.dart
Labels: cla: yes, tool

#35756 Remove @objc inference build setting
  packages/flutter_tools/templates/app/ios-objc.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/app/ios-swift.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
Labels: cla: yes, t: xcode, tool

#35762 Refactor keymapping for resident_runner
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes

#35763 UIApplicationLaunchOptionsKey -> UIApplication.LaunchOptionsKey
  examples/flutter_view/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/ios/Runner/AppDelegate.swift
  packages/flutter_tools/templates/app/ios-swift.tmpl/Runner/AppDelegate.swift
  packages/flutter_tools/test/project_test.dart
Labels: cla: yes, t: xcode, tool, ⌺‬ platform-ios

#35548 Various doc fixes
  dev/snippets/config/templates/README.md
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/widgets/container.dart
Labels: cla: yes, framework

#34906 Fix unused [applicationIcon] property on [showLicensePage]
  packages/flutter/lib/src/material/about.dart
  packages/flutter/test/material/about_test.dart
Labels: cla: yes, f: material design, framework

#35767 set targets of zero percent for tools codecoverage
  .codecov.yml
Labels: cla: yes, tool

#35745 enable lint prefer_if_null_operators
  analysis_options.yaml
  packages/flutter_tools/test/windows/visual_studio_test.dart
Labels: cla: yes, team

#35792 disable web tests
  .cirrus.yml
Labels: cla: yes

#35223 Navigator pushAndRemoveUntil Fix
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/navigator_replacement_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/observer_tester.dart
Labels: cla: yes, customer: mulligan (g3), f: routes, framework, severe: crash, waiting for tree to go green

#32511 Rendering errors with root causes in the widget layer should have a reference to the widget
  dev/automated_tests/flutter_test/print_user_created_ancestor_expectation.txt
  dev/automated_tests/flutter_test/print_user_created_ancestor_no_flag_expectation.txt
  dev/automated_tests/flutter_test/print_user_created_ancestor_no_flag_test.dart
  dev/automated_tests/flutter_test/print_user_created_ancestor_test.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/rendering/debug_overflow_indicator.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/material/stepper_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/test/commands/test_test.dart
Labels: cla: yes, customer: countless, customer: headline, framework

#35496 [Material] Text scale and wide label fixes for Slider and Range Slider value indicator shape
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/range_slider_test.dart
Labels: cla: yes, f: material design

#33281 Update TextStyle and StrutStyle height docs
  packages/flutter/lib/src/painting/strut_style.dart
  packages/flutter/lib/src/painting/text_style.dart
Labels: a: typography, cla: yes, d: api docs, framework, severe: API break

#35780 Remove CoocaPods support from layers example app
  examples/layers/ios/Flutter/Debug.xcconfig
  examples/layers/ios/Flutter/Release.xcconfig
  examples/layers/ios/Podfile
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcworkspace/contents.xcworkspacedata
Labels: a: tests, cla: yes, d: examples, team

#35406 Refactor signal and command line handler from resident runner
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/resident_web_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/resident_runner_test.dart
  packages/flutter_tools/test/terminal_handler_test.dart
Labels: cla: yes, team, tool

#35777 Fixed logLevel filter bug so that filter now works as expected
  bin/internal/engine.version
  dev/bots/test.dart
Labels: cla: yes, team

#35814 Roll engine e695a516f..75387dbc1 (8 commits)
  bin/internal/engine.version
Labels: cla: yes, team

#35499 Added MaterialApp.themeMode to control which theme is used.
  packages/flutter/lib/src/material/app.dart
  packages/flutter/test/material/app_test.dart
Labels: cla: yes, f: material design, framework

#35225 add sample code for AnimatedContainer
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: a: animation, cla: yes, d: api docs, d: examples, framework

#35778 Build all example projects in CI build smoke test
  dev/bots/test.dart
  examples/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_view/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/android/app/build.gradle
  examples/platform_channel_swift/android/app/src/androidTest/java/com/example/platformchannel/ExampleInstrumentedTest.java
  examples/platform_channel_swift/android/app/src/main/AndroidManifest.xml
  examples/platform_channel_swift/android/app/src/main/java/com/example/platformchannel/MainActivity.java
  examples/platform_channel_swift/android/app/src/main/res/values/strings.xml
  examples/platform_channel_swift/android/build.gradle
  examples/platform_channel_swift/android/gradle.properties
  examples/platform_channel_swift/android/gradle/wrapper/gradle-wrapper.properties
  examples/platform_channel_swift/android/settings.gradle
  examples/platform_view/ios/Podfile.lock
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
Labels: a: tests, cla: yes, team

#35785 Remove reverseDuration from implicitly animated widgets, since it's ignored.
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: a: animation, cla: yes, framework, severe: API break

#35839 use pub run for create test and remove [INFO] logs
  dev/bots/run_command.dart
  dev/bots/test.dart
  packages/flutter_tools/dart_test.yaml
Labels: cla: yes, tool

#35136 Update Dark Theme disabledColor to White38
  examples/stocks/test/icon_color_test.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/colors.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/expand_icon.dart
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/expand_icon_test.dart
Labels: cla: yes, f: material design, framework, severe: API break

#35833 Disable CocoaPods input and output paths in Xcode build phase for ephemeral add-to-app project
  packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Podfile.copy.tmpl
Labels: a: existing-apps, cla: yes, tool, ⌺‬ platform-ios

#33140 flutter/tests support
  .cirrus.yml
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/customer_testing/run_tests.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team

#35892 Doc fixes
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/form.dart
Labels: cla: yes, d: api docs, d: examples, framework

#35878 Add flag to use root navigator for showModalBottomSheet
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: cla: yes, f: material design, framework

#35825 Fixed build of example code to use new binary messenger API.
  dev/bots/test.dart
  examples/platform_channel_swift/ios/Runner/AppDelegate.swift
Labels: cla: yes, team

#35828 Cleanup widgets/sliver_persistent_header.dart with resolution of dart-lang/sdk#31543
  packages/flutter/lib/src/widgets/sliver_persistent_header.dart
Labels: cla: yes, framework

#35219 Text selection menu show/hide cases
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/form_test.dart
Labels: a: text input, cla: yes, f: material design, framework

#35775 Add platform_interaction_test_swift to devicelab
  dev/devicelab/bin/tasks/platform_channel_sample_test_swift.dart
  dev/devicelab/lib/tasks/integration_tests.dart
  dev/devicelab/manifest.yaml
Labels: a: tests, cla: yes, framework, p: framework, plugin, ⌺‬ platform-ios

#35906 Add anchors to samples
  dev/docs/assets/snippets.css
  dev/docs/assets/snippets.js
  dev/snippets/config/skeletons/application.html
  dev/snippets/config/skeletons/sample.html
  dev/snippets/lib/main.dart
  dev/snippets/lib/snippets.dart
  dev/snippets/test/snippets_test.dart
Labels: cla: yes, team

#35913 Change focus example to be more canonical (and correct)
  packages/flutter/lib/src/widgets/focus_manager.dart
Labels: cla: yes, framework

#35942 Use test instead of test_api package in platform_channel_swift example tests
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_channel_swift/test_driver/button_tap_test.dart
Labels: a: tests, cla: yes, d: examples, team

#35952 Roll engine 75387dbc147d..49445ce4949b (32 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#35926 Add example showing how to move from one field to the next.
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: cla: yes, d: api docs, d: examples, framework

#35731 Keep LLDB connection to iOS device alive while running from CLI.
  packages/flutter_tools/lib/src/ios/devices.dart
Labels: cla: yes, tool

#35996 Revert "Keep LLDB connection to iOS device alive while running from CLI."
  packages/flutter_tools/lib/src/ios/devices.dart
Labels: cla: yes

#35990 Roll engine 49445ce4949b..0f6229ab1d39 (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#35932 Upgraded framework packages with 'flutter update-packages --force-upgrade'.
  examples/flutter_gallery/pubspec.yaml
Labels: cla: yes, framework

#35999 Deflake ImageProvider.evict test
  packages/flutter/test/painting/image_provider_test.dart
Labels: a: images, a: tests, cla: yes, team: flakes

#36000 Roll engine 0f6229ab1d39..3b944102a56e (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#34202 Remove `_debugWillReattachChildren` assertions from `_TableElement`
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/test/widgets/table_test.dart
Labels: cla: yes, customer: payouts, framework

#35468 Add colorFilterLayer/Widget
  bin/internal/goldens.version
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/color_filter.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/widgets/color_filter_test.dart
Labels: a: accessibility, cla: yes, customer: octopod, framework, waiting for tree to go green

#35765 Use public _registerService RPC in flutter_tools
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes, tool

#36006 fix linesplitter
  dev/bots/run_command.dart
  dev/bots/test.dart
Labels: cla: yes, team

#32816 Add initial implementation of flutter assemble
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/exceptions.dart
  packages/flutter_tools/lib/src/build_system/file_hash_store.dart
  packages/flutter_tools/lib/src/build_system/filecache.pb.dart
  packages/flutter_tools/lib/src/build_system/filecache.pbjson.dart
  packages/flutter_tools/lib/src/build_system/filecache.proto
  packages/flutter_tools/lib/src/build_system/source.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/build_system/build_system_test.dart
  packages/flutter_tools/test/build_system/exceptions_test.dart
  packages/flutter_tools/test/build_system/targets/assets_test.dart
  packages/flutter_tools/test/build_system/targets/dart_test.dart
  packages/flutter_tools/test/build_system/targets/linux_test.dart
  packages/flutter_tools/test/build_system/targets/macos_test.dart
  packages/flutter_tools/test/build_system/targets/windows_test.dart
  packages/flutter_tools/test/commands/assemble_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#36020 Roll engine 3b944102a56e..bcde838d778e (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36029 Roll engine bcde838d778e..55a2b81e40bf (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36033 Roll engine 55a2b81e40bf..d1dcd1848633 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#35971 [ImgBot] Optimize images
  dev/benchmarks/macrobenchmarks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/devicelab/images/agent-statuses.png
  dev/devicelab/images/broken-test.png
  dev/devicelab/images/legend.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/ios_add2app/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/release_smoke_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/snippets/assets/code_sample.png
  dev/snippets/assets/code_snippet.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-hdpi/ic_background.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-hdpi/ic_foreground.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xhdpi/ic_background.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xhdpi/ic_foreground.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xxhdpi/ic_background.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xxhdpi/ic_foreground.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xxxhdpi/ic_background.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xxxhdpi/ic_foreground.png
  examples/flutter_gallery/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/flutter_gallery/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-120.png
  examples/flutter_gallery/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-152.png
  examples/stocks/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/stocks/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/stocks/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/stocks/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/stocks/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-60@2x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-60@3x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-76.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-76@2x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-83.5@2x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-Notification@2x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-Notification@3x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-Small-40.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-Small-40@2x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-Small-40@3x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-Small@2x.png
  examples/stocks/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-Small@3x.png
  packages/flutter_tools/templates/app/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.tmpl/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
Labels: cla: yes, team

#34669 Bundle ios dependencies
  .cirrus.yml
  bin/internal/ideviceinstaller.version
  bin/internal/ios-deploy.version
  bin/internal/libimobiledevice.version
  bin/internal/libplist.version
  bin/internal/openssl.version
  bin/internal/usbmuxd.version
  dev/devicelab/lib/framework/adb.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/macos/cocoapods_validator.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/ios/code_signing_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
  packages/flutter_tools/test/ios/mac_test.dart
  packages/flutter_tools/test/macos/cocoapods_validator_test.dart
Labels: cla: yes, tool

#35846 move reload and restart handling into terminal
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/resident_web_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/test/terminal_handler_test.dart
Labels: cla: yes, tool

#36071 Revert "Bundle ios dependencies"
  .cirrus.yml
  bin/internal/ideviceinstaller.version
  bin/internal/ios-deploy.version
  bin/internal/libimobiledevice.version
  bin/internal/libplist.version
  bin/internal/openssl.version
  bin/internal/usbmuxd.version
  dev/devicelab/lib/framework/adb.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/macos/cocoapods_validator.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/ios/code_signing_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
  packages/flutter_tools/test/ios/mac_test.dart
  packages/flutter_tools/test/macos/cocoapods_validator_test.dart
Labels: cla: yes, team, tool

#35207 refactor out selection handlers
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, cla: yes, customer: amplify, customer: fuchsia, framework

#33688 Part 1: Skia Gold Testing
  .cirrus.yml
  dev/bots/download_goldctl.ps1
  dev/bots/download_goldctl.sh
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/painting/continous_rectangle_border_test.dart
  packages/flutter/test/rendering/localized_fonts_test.dart
  packages/flutter/test/widgets/backdrop_filter_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/invert_colors_test.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
  packages/flutter/test/widgets/opacity_test.dart
  packages/flutter/test/widgets/physical_model_test.dart
  packages/flutter/test/widgets/shadow_test.dart
  packages/flutter/test/widgets/text_golden_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens_client/lib/client.dart
  packages/flutter_goldens_client/lib/skia_client.dart
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/goldens_test.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, cla: yes, framework

#36094 Revert "Part 1: Skia Gold Testing"
  .cirrus.yml
  dev/bots/download_goldctl.ps1
  dev/bots/download_goldctl.sh
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/painting/continous_rectangle_border_test.dart
  packages/flutter/test/rendering/localized_fonts_test.dart
  packages/flutter/test/widgets/backdrop_filter_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/invert_colors_test.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
  packages/flutter/test/widgets/opacity_test.dart
  packages/flutter/test/widgets/physical_model_test.dart
  packages/flutter/test/widgets/shadow_test.dart
  packages/flutter/test/widgets/text_golden_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens_client/lib/client.dart
  packages/flutter_goldens_client/lib/skia_client.dart
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/goldens_test.dart
  packages/flutter_test/test/matchers_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, team

#36096 Revert "Merge branches 'master' and 'master' of github.com:flutter/fl…
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/precache.dart
Labels: cla: yes, tool

#36084 handle google3 version of pb
  packages/flutter_tools/lib/src/build_system/filecache.pb.dart
Labels: cla: yes, tool

#36090 don't require diffs to have a percentage coverage greater
  .codecov.yml
Labels: cla: yes, team

#36099 Roll engine d1dcd1848633..919e3532368f (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36098 Be clearer about errors in customer testing script
  dev/customer_testing/run_tests.dart
Labels: cla: yes, team

#36105 [flutter_tool] Catch a yaml parse failure during project creation
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/project_test.dart
Labels: cla: yes, team, tool

#35979 Optimizes gesture recognizer fixes #35658
  packages/flutter/lib/src/gestures/long_press.dart
Labels: cla: yes, f: gestures, framework

#36082 Add better handling of JSON-RPC exception
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/usage.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, tool

#36093 Reland bundle ios deps
  .cirrus.yml
  bin/internal/ideviceinstaller.version
  bin/internal/ios-deploy.version
  bin/internal/libimobiledevice.version
  bin/internal/libplist.version
  bin/internal/openssl.version
  bin/internal/usbmuxd.version
  dev/devicelab/lib/framework/adb.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/macos/cocoapods_validator.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/ios/code_signing_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_workflow_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_validator_test.dart
Labels: cla: yes, team, tool

#36197 Fix windows, exclude widgets from others
  dev/bots/test.dart
Labels: cla: yes, team

#36203 Roll engine 919e3532368f..76a91d39b4b2 (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit

#36123 Attempt to re-enable integration_tests-macos
  .cirrus.yml
Labels: a: tests, cla: yes, team, team: flakes

#36199 Don't try to flutterExit if isolate is still paused
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool

#36213 Use DeviceManager instead of device to determine if device supports project.
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/general.shard/device_test.dart
Labels: cla: yes, tool

#36216 Roll engine 76a91d39b4b2..3f27c5724c1d (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36102 Move buildable module test to a module test
  dev/devicelab/bin/tasks/module_test_ios.dart
  dev/integration_tests/ios_add2app/build_and_test.sh
Labels: cla: yes, team

#36229 Roll engine 3f27c5724c1d..74af88ba9f8b (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36089 Fix flaky peer connection
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
Labels: a: tests, cla: yes, framework

#36135 add a kIsWeb constant to foundation
  packages/flutter/lib/src/foundation/constants.dart
  packages/flutter/test/foundation/constants_test.dart
Labels: cla: yes, framework

#35991 Enable widget load assets in its own package in test
  dev/automated_tests/flutter_test/package_assets_expectation.txt
  dev/automated_tests/flutter_test/package_assets_test.dart
  dev/automated_tests/icon/test.png
  dev/automated_tests/pubspec.yaml
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/test/general.shard/commands/test_test.dart
Labels: a: tests, cla: yes, tool

#36208 [flutter_tool] Allow analytics without a terminal attached
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/usage.dart
  packages/flutter_tools/test/general.shard/base/utils_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: cla: yes, tool

#36194 Keep LLDB connection to iOS device alive while running from CLI.
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: cla: yes, tool

#35560 Support for elevation based dark theme overlay color in the Material widget
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/material_test.dart
Labels: cla: yes, f: material design, framework

#36293 Revert "Keep LLDB connection to iOS device alive while running from CLI. "
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: cla: yes, tool

#36017 Move reporting files to reporting/
  packages/flutter_tools/bin/fuchsia_asset_builder.dart
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_build.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/reporting/README.md
  packages/flutter_tools/lib/src/reporting/crash_reporting.dart
  packages/flutter_tools/lib/src/reporting/disabled_usage.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/commands/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/commands/create_usage_test.dart
  packages/flutter_tools/test/general.shard/commands/doctor_test.dart
  packages/flutter_tools/test/general.shard/commands/packages_test.dart
  packages/flutter_tools/test/general.shard/crash_reporting_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/runner/utils.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#36317 Disable flaky tests on Windows
  packages/flutter/test/material/date_picker_test.dart
Labels: cla: yes, f: material design, framework

#36298 Roll engine b25a1a406d0b..66092d5b02dc (10 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36138 Implement feature flag system for flutter tools
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/test/general.shard/commands/config_test.dart
  packages/flutter_tools/test/general.shard/config_test.dart
  packages/flutter_tools/test/general.shard/features_test.dart
Labels: cla: yes, tool

#36320 Roll engine 66092d5b02dc..e3e4b26fce0d (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36243 Allow semantics labels to be shorter or longer than raw text
  packages/flutter/lib/src/painting/inline_span.dart
  packages/flutter/lib/src/painting/placeholder_span.dart
  packages/flutter/lib/src/painting/text_span.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: accessibility, cla: yes, customer: money (g3), framework, waiting for tree to go green

#36329 Roll engine e3e4b26fce0d..f336286cde9c (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36344 Roll engine f336286cde9c..98241b7b05aa (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36357 Roll engine 98241b7b05aa..00acf2a18065 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36361 Roll engine 00acf2a18065..eb248c242574 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36200 Refactoring the Android_views tests app to prepare for adding the iOS platform view tests
  dev/integration_tests/android_views/ios/Flutter/AppFrameworkInfo.plist
  dev/integration_tests/android_views/ios/Flutter/Debug.xcconfig
  dev/integration_tests/android_views/ios/Flutter/Release.xcconfig
  dev/integration_tests/android_views/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/android_views/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/android_views/ios/Runner.xcodeproj/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/android_views/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/android_views/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/android_views/ios/Runner/AppDelegate.h
  dev/integration_tests/android_views/ios/Runner/AppDelegate.m
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/integration_tests/android_views/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/integration_tests/android_views/ios/Runner/Base.lproj/LaunchScreen.storyboard
  dev/integration_tests/android_views/ios/Runner/Base.lproj/Main.storyboard
  dev/integration_tests/android_views/ios/Runner/Info.plist
  dev/integration_tests/android_views/ios/Runner/main.m
  dev/integration_tests/android_views/lib/main.dart
  dev/integration_tests/android_views/lib/motion_events_page.dart
  dev/integration_tests/android_views/lib/page.dart
  dev/integration_tests/android_views/test_driver/main_test.dart
Labels: a: platform-views, a: tests, cla: yes, team

#36289 FakeHttpClientResponse improvements
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#36319 Revert "Fix semantics for floating pinned sliver app bar"
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
Labels: cla: yes, framework

#36097 Fix nested scroll view can rebuild without layout
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/test/widgets/nested_scroll_view_async_test.dart
Labels: cla: yes, framework

#34712 Fix FocusTraversalPolicy makes focus lost (#34153)
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: a: desktop, cla: yes, framework

#36202 Add clarifying docs on MaterialButton.colorBrightness
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/material_button.dart
Labels: cla: yes, d: api docs, f: material design, framework

#36302 Issues/30526 gc
  packages/flutter/lib/src/rendering/sliver_fixed_extent_list.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: cla: yes, framework

#36331 Minor fixes to precache help text (attempt #2)
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/precache.dart
Labels: cla: yes, tool

#36122 Make sure add-to-app build bundle from outer xcodebuild/gradlew sends analytics
  dev/devicelab/bin/tasks/module_test.dart
  dev/devicelab/bin/tasks/module_test_ios.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/test/general.shard/base/utils_test.dart
Labels: cla: yes, team, tool

#36386 Roll engine eb248c242574..8849d3092d5a (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36026 add the transformPoint and transformRect benchmarks
  dev/benchmarks/microbenchmarks/lib/geometry/matrix_utils_transform_bench.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: cla: yes, team

#36327 Fix invocations of ideviceinstaller not passing DYLD_LIBRARY_PATH
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
Labels: cla: yes, tool

#36384 rename the test app android_views to platform_views
  dev/integration_tests/android_views/android/app/build.gradle
  dev/integration_tests/android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/MainActivity.java
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/MotionEventCodec.java
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/SimplePlatformView.java
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/SimpleViewFactory.java
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/TouchPipe.java
  dev/integration_tests/android_views/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/android_views/ios/Runner/Info.plist
  dev/integration_tests/android_views/pubspec.yaml
Labels: cla: yes, team

#35335 Using custom exception class for network loading error
  packages/flutter/lib/src/painting/_network_image_io.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/test/painting/image_provider_test.dart
Labels: a: images, cla: yes, framework

#36389 Roll engine 8849d3092d5a..f3482700474a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#36174 [cupertino_icons] Add glyph refs for brightness #16102
  packages/flutter/lib/src/cupertino/icons.dart
Labels: cla: yes, f: cupertino, framework

#36394 Add missing protobuf dependency
  packages/flutter_tools/BUILD.gn
Labels: cla: yes, tool
