Repository flutter/flutter, pull requests merged in 2019-01, with the labels that each got.

#25943 Roll engine 995e3247fe50..b1a9a6e79474 (9 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25966 Roll engine b1a9a6e79474..844c3274e6a1 (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25799 Make LicensePage respect the notch
  packages/flutter/lib/src/material/about.dart
  packages/flutter/test/material/about_test.dart
Labels: cla: yes, f: material design, framework

#25817 fix flutter run in dev/manual_tests
  dev/manual_tests/lib/main.dart
Labels: a: tests, cla: yes, team

#23118 Setting icon color to first ListTile in ExpansionTile. Fixes #23053
  AUTHORS
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: cla: yes, f: material design, framework

#25872 Optimize cocoapods logic in flutter doctor.
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/ios/cocoapods.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/test/ios/cocoapods_test.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
Labels: cla: yes, customer: gold, tool, waiting for tree to go green, ⌺‬ platform-ios

#25159 fix #25143 Successive calls to `precacheImage()` throw an exception
  AUTHORS
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/test/widgets/image_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#26015 [fuchsia] Fix flutter_gallery BUILD.gn
  examples/flutter_gallery/BUILD.gn
Labels: cla: yes, team, team: gallery

#25992 Add docs to TextStyle for fontFamilyFallback/Custom font fallback
  packages/flutter/lib/src/painting/text_style.dart
Labels: cla: yes, d: api docs, framework

#25978 Roll engine 844c3274e6a1..2940812ab26a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25977 Add didSendFirstFrameEvent service extension.
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: cla: yes, framework

#25995 Address code review comment.
  analysis_options.yaml
Labels: cla: yes, team

#26022 Roll engine 2940812ab26a..134b65ec6034 (9 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25514 fix typo
  CODE_OF_CONDUCT.md
Labels: cla: yes, team

#25980 Ensure all errors thrown by image providers can be caught by developers.
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/test/painting/image_cache_test.dart
  packages/flutter/test/painting/image_provider_test.dart
  packages/flutter/test/painting/mocks_for_image_cache.dart
Labels: cla: yes, framework

#26027 Roll engine 134b65ec6034..e52287a1b557 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#25863 Friendlier messages when using dynamic patching
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
Labels: cla: yes, tool

#26041 Update dartdoc to 0.27.0
  dev/bots/docs.sh
Labels: cla: yes

#26030 Turn clipping on for Card Demo
  examples/flutter_gallery/lib/demo/material/cards_demo.dart
Labels: cla: yes

#26065 Roll engine e52287a1b557..83239e141b09 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26031 Clean gallery about page post-1.0
  examples/flutter_gallery/lib/gallery/about.dart
Labels: cla: yes, team, team: gallery

#25994 Simplify ImageStream(Completer).removeListener
  packages/flutter/lib/src/painting/image_stream.dart
Labels: cla: yes, framework

#26084 Improve message when saving compilation training data
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
Labels: cla: yes

#26042 Update material spec references in BottomSheet et al., Scaffold
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/scaffold.dart
Labels: cla: yes, d: api docs, f: material design, framework

#26088 Fix typos introduced with the TextField.onTap PR, udpated debugFillProperties
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes

#26115 Roll engine 83239e141b09..cd0de779eadd (9 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26118 Roll engine cd0de779eadd..716185fb7955 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26039 Report hot reload statistics.
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/usage.dart
Labels: cla: yes, t: hot reload, tool

#26089 Explain that BoxDecoration doesn't do clip.
  packages/flutter/lib/src/painting/box_decoration.dart
Labels: cla: yes, d: api docs, framework

#25922 update lint list
  analysis_options.yaml
Labels: cla: yes, team

#24779 Skip formatters if text has not changed
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, cla: yes, framework

#26161 Roll engine 716185fb7955..7112b72cc229 (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26101 Fix a floating snapping SliverAppBar crash
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: cla: yes, f: material design, framework

#26021 Fix SliverAppBar title opacity and test all cases
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/widgets/sliver_appbar_opacity.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
Labels: cla: yes, f: material design, framework

#23860 Clearing pendingImages when the cache is cleared or evicted.
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/test/painting/image_cache_test.dart
  packages/flutter/test/painting/mocks_for_image_cache.dart
Labels: cla: yes, framework

#25579 fix doc-comment snippets
  dev/bots/test/analyze-sample-code-test-input/known_broken_documentation.dart
  examples/catalog/lib/custom_a11y_traversal.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/painting/decoration.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/widgets/icon.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/src/widgets/scroll_controller.dart
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/test/rendering/mock_canvas.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: cla: yes, team

#23424 Teach drag start behaviors to DragGestureRecognizer
  examples/flutter_gallery/lib/demo/material/drawer_demo.dart
  examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  examples/stocks/lib/stock_home.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/dismissible.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/switch_test.dart
  packages/flutter/test/gestures/drag_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/automatic_keep_alive_test.dart
  packages/flutter/test/widgets/dismissible_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
  packages/flutter/test/widgets/grid_view_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/listview_end_append_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/page_view_test.dart
  packages/flutter/test/widgets/scroll_notification_test.dart
  packages/flutter/test/widgets/scroll_view_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/scrollable_list_hit_testing_test.dart
  packages/flutter/test/widgets/scrollable_semantics_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: a: text input, cla: yes, d: examples, f: cupertino, f: date/time picker, f: gestures, f: material design, f: scrolling, framework

#25790 Clarify doc for AnimatedContainer
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: a: animation, cla: yes, d: api docs, framework

#26199 Fix tristate checkbox false to null transition, test ALL transitions
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/test/material/checkbox_test.dart
Labels: cla: yes

#26209 Revert "Teach drag start behaviors to DragGestureRecognizer (#23424)"
  examples/flutter_gallery/lib/demo/material/drawer_demo.dart
  examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  examples/stocks/lib/stock_home.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/dismissible.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/switch_test.dart
  packages/flutter/test/gestures/drag_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/automatic_keep_alive_test.dart
  packages/flutter/test/widgets/dismissible_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
  packages/flutter/test/widgets/grid_view_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/listview_end_append_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/page_view_test.dart
  packages/flutter/test/widgets/scroll_notification_test.dart
  packages/flutter/test/widgets/scroll_view_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/scrollable_list_hit_testing_test.dart
  packages/flutter/test/widgets/scrollable_semantics_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes

#26201 Prevent calls to view.uiIsolate.flutterExit on devices which do not support it
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/fuchsia/fuchsa_device_test.dart
Labels: cla: yes

#25515 Write snippets index file when generating docs
  dev/snippets/lib/main.dart
  dev/snippets/lib/snippets.dart
  dev/snippets/test/snippets_test.dart
  dev/tools/dartdoc.dart
Labels: cla: yes, d: api docs, team

#25788 Add Robert Penner’s easing functions
  packages/flutter/lib/src/animation/curves.dart
  packages/flutter/test/animation/curves_test.dart
Labels: a: animation, cla: yes, framework

#26153 Remove the cc @Hixie from no-response template
  .github/no-response.yml
Labels: cla: yes, team

#25888 Extract TestBorder into a utility file
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/widgets/clip_test.dart
  packages/flutter/test/widgets/shape_decoration_test.dart
  packages/flutter/test/widgets/test_border.dart
Labels: a: tests, cla: yes

#26090 Replace netls and netaddr with dev_finder
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/fuchsia/fuchsa_device_test.dart
Labels: cla: yes, tool, ○ platform-fuchsia

#26235 rev the min dart sdk dep in the templates to 2.1.0
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
Labels: cla: yes, tool

#26249 Revert "Replace netls and netaddr with dev_finder"
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/fuchsia/fuchsa_device_test.dart
Labels: cla: yes

#26239 Force DatePicker value to stay within firstDate and lastDate upon year change
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_test.dart
Labels: cla: yes

#26238 Remove long-deprecated TwoLevelList
  examples/flutter_gallery/lib/demo/material/expansion_tile_list_demo.dart
  examples/flutter_gallery/lib/demo/material/material.dart
  examples/flutter_gallery/lib/gallery/demos.dart
  examples/flutter_gallery/test/accessibility_test.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/two_level_list.dart
  packages/flutter/test/material/two_level_list_test.dart
Labels: cla: yes, f: material design, framework, severe: API break

#26260 Fixed typo
  packages/flutter/lib/src/material/typography.dart
Labels: cla: yes

#26252 Manual engine roll with analyzer fixes
  bin/internal/engine.version
  examples/layers/raw/text.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/engine/paragraph_builder_test.dart
  packages/flutter/test/engine/paragraph_test.dart
Labels: cla: yes

#26069 Improve the intergrity checking for "gradle wrapper".
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/cache_test.dart
Labels: cla: yes, t: gradle, tool

#26270 Fix red tree (Android module)
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
Labels: cla: yes

#26271 Add compileOptions to android_host_app
  dev/integration_tests/android_host_app/app/build.gradle
Labels: cla: yes

#26274 Add source line to snippet metadata file
  dev/snippets/lib/main.dart
Labels: cla: yes, d: api docs

#26017 Fix recursive link resulted `flutter doctor` stucking.
  packages/flutter_tools/lib/src/android/android_studio.dart
Labels: cla: yes, customer: gold, tool, ▣ platform-android

#24209 Do not ignore pubspec.lock in project templates
  .gitignore
  dev/tools/vitool/.gitignore
  packages/flutter_tools/templates/app/.gitignore.tmpl
  packages/flutter_tools/templates/plugin/.gitignore.tmpl
  packages/flutter_tools/test/data/asset_test/main/.gitignore
Labels: cla: yes, tool

#26246 Teach drag start behaviors to DragGestureRecognizer
  examples/flutter_gallery/lib/demo/material/drawer_demo.dart
  examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  examples/flutter_gallery/lib/gallery/home.dart
  examples/stocks/lib/stock_home.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/dismissible.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/switch_test.dart
  packages/flutter/test/gestures/drag_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/automatic_keep_alive_test.dart
  packages/flutter/test/widgets/dismissible_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
  packages/flutter/test/widgets/grid_view_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/listview_end_append_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/page_view_test.dart
  packages/flutter/test/widgets/scroll_notification_test.dart
  packages/flutter/test/widgets/scroll_view_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/scrollable_list_hit_testing_test.dart
  packages/flutter/test/widgets/scrollable_semantics_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes, f: gestures, f: scrolling, framework

#24944 Fix flutter root error message string interpolation
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb
Labels: cla: yes, tool

#23817 Fix project directory has spaces lead to compile error
  packages/flutter_tools/templates/module/android/library/include_flutter.groovy.copy.tmpl
Labels: a: existing-apps, cla: yes, tool, ▣ platform-android

#24551 Add consumedScrollExtent to SliverConstraints as reported by Viewport
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/test/rendering/slivers_helpers_test.dart
  packages/flutter/test/rendering/slivers_test.dart
  packages/flutter/test/widgets/sliver_constraints_test.dart
Labels: cla: yes, framework

#23188 Check for duplicative Flutter.framework emeddings when building for Xcode 10
  packages/flutter_tools/bin/xcode_backend.sh
Labels: cla: yes, tool, ⌺‬ platform-ios

#26269 Update docs for editable_text (TextField)
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, cla: yes, d: api docs, f: cupertino, f: material design, framework, waiting for tree to go green

#26266 [flutter_driver] Move Fuchsia logging code.
  packages/flutter_driver/lib/src/driver/driver.dart
Labels: cla: yes, t: flutter driver, tool, ○ platform-fuchsia

#26257 Add link to Flutter brand guidelines
  packages/flutter/lib/src/material/flutter_logo.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#26290 Add new curve animations to class documentation
  AUTHORS
  packages/flutter/lib/src/animation/curves.dart
Labels: a: animation, cla: yes, d: api docs, framework, waiting for tree to go green

#26312 Add logic for creating rollback dynamic patches.
  packages/flutter_tools/lib/src/android/gradle.dart
Labels: cla: yes

#26334 mark tests as not flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes

#26339 Revert "Check for duplicative Flutter.framework emeddings when building for Xcode 10"
  packages/flutter_tools/bin/xcode_backend.sh
Labels: cla: yes

#25974 Add a validator to ensure NO_PROXY is set correctly if HTTP_PROXY is set
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/proxy_validator.dart
  packages/flutter_tools/test/commands/doctor_test.dart
Labels: cla: yes, t: flutter doctor, tool

#26337 chromebot recipe instructions missing a step
  dev/bots/README.md
Labels: cla: yes, team

#24156 [Material] Bottom app bar theme
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/lib/src/material/bottom_app_bar_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
Labels: cla: yes, f: material design, framework

#24513 Add some basic tests for evaluating expressions in `flutter test`
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
  packages/flutter_tools/test/integration/test_data/tests_project.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: a: debugging, a: tests, cla: yes, tool

#26377 Restore ignore for *.lock files
  .gitignore
Labels: cla: yes

#26295 Added the superellipse (a.k.a. squircle) shape to flutter.
  AUTHORS
  bin/internal/goldens.version
  packages/flutter/lib/painting.dart
  packages/flutter/lib/src/painting/superellipse_shape.dart
  packages/flutter/test/painting/superellipse_shape_test.dart
Labels: a: fidelity, cla: yes, f: cupertino, framework

#26313 Fix Listenable.merge to not leak
  packages/flutter/lib/src/animation/listener_helpers.dart
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/test/animation/listener_helpers_test.dart
  packages/flutter/test/foundation/change_notifier_test.dart
Labels: cla: yes, framework

#25516 Change flutter create to use master-docs.flutter.io instead of firebase URL.
  packages/flutter_tools/lib/src/commands/create.dart
Labels: cla: yes, tool

#26303 Adds a type parameter to invokeMethod (and additional utility methods)
  dev/integration_tests/android_semantics_testing/lib/main.dart
  dev/integration_tests/android_views/lib/main.dart
  dev/integration_tests/channels/lib/src/method_calls.dart
  dev/integration_tests/external_ui/lib/main.dart
  dev/integration_tests/flavors/lib/main.dart
  examples/flutter_gallery/test/live_smoketest.dart
  packages/flutter/lib/src/services/clipboard.dart
  packages/flutter/lib/src/services/haptic_feedback.dart
  packages/flutter/lib/src/services/platform_channel.dart
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/lib/src/services/system_chrome.dart
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/services/system_sound.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/test/services/platform_channel_test.dart
Labels: cla: yes, framework, p: framework, plugin, team

#26385 Deprecate the animated image frame cache
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/test/painting/binding_test.dart
Labels: cla: yes

#26386 Check response code, retry when downloading docs
  dev/tools/java_and_objc_doc.dart
Labels: cla: yes

#26395 Emit more of HTTP error response bodies
  dev/tools/java_and_objc_doc.dart
Labels: cla: yes

#26378 Friendlier flutter tool messages for dynamic mode
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/resident_runner.dart
Labels: cla: yes

#26389 Make sure package cache prepare does not end up creating projects inside the cloned Flutter repo
  dev/bots/prepare_package.dart
Labels: cla: yes

#26244 move analysis_options to package
  analysis_options.yaml
  packages/flutter/lib/analysis_options_user.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_analysis_options/CHANGELOG.md
  packages/flutter_analysis_options/README.md
  packages/flutter_analysis_options/lib/analysis_options.yaml
  packages/flutter_analysis_options/lib/analysis_options_base.yaml
  packages/flutter_analysis_options/pubspec.yaml
Labels: cla: yes, team

#26402 Let the packaging recipe use gsutil.py
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes

#22139 move INTERNET permission to debug/AndroidManifest.xml
  packages/flutter_tools/templates/app/android.tmpl/app/src/debug/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/app/android.tmpl/app/src/main/AndroidManifest.xml.tmpl
Labels: cla: yes, tool, ▣ platform-android

#26403 Re-enable compute credites for macOS PRs only.
  .cirrus.yml
Labels: cla: yes, team

#26436 Revert "move analysis_options to package"
  analysis_options.yaml
  packages/flutter/lib/analysis_options_user.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_analysis_options/CHANGELOG.md
  packages/flutter_analysis_options/README.md
  packages/flutter_analysis_options/lib/analysis_options.yaml
  packages/flutter_analysis_options/lib/analysis_options_base.yaml
  packages/flutter_analysis_options/pubspec.yaml
Labels: cla: yes

#26265 Add support for detecting which modifier keys have been pressed on RawKeyboardEvents
  dev/manual_tests/lib/raw_keyboard.dart
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/services/raw_keyboard_android.dart
  packages/flutter/lib/src/services/raw_keyboard_fuschia.dart
  packages/flutter/test/services/raw_keyboard_test.dart
  packages/flutter/test/widgets/raw_keyboard_listener_test.dart
Labels: a: text input, cla: yes, framework

#26333 Add back lost gallery theme code
  examples/flutter_gallery/lib/gallery/app.dart
Labels: cla: yes, team, team: gallery, waiting for tree to go green

#26430 Roll engine e5ec3cf3ea5c..b7f6bf0192d1 (28 commits)
  bin/internal/engine.version
Labels: cla: yes

#26450 Add a manifest for profile builds that enables INTERNET permission
  packages/flutter_tools/templates/app/android.tmpl/app/src/profile/AndroidManifest.xml.tmpl
Labels: cla: yes

#26446 Roll engine b7f6bf0192d1..35daf143b1f3 (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26451 Roll engine 35daf143b1f3..5722a9685e3c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#24581 [OR] Cleanup device lab test and remove a timeout.
  dev/devicelab/bin/tasks/run_machine_concurrent_hot_reload.dart
Labels: cla: yes, t: hot reload, tool

#25864 Make decodeImageFromList mockable
  packages/flutter/lib/src/painting/image_decoder.dart
  packages/flutter/test/painting/image_decoder_test.dart
  packages/flutter/test/widgets/box_decoration_test.dart
  packages/flutter/test/widgets/shape_decoration_test.dart
Labels: cla: yes, framework

#26470 Roll engine 5722a9685e3c..abbc34e1482d (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26519 Skip `flutter test` expression eval tests
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
Labels: cla: yes

#26514 Roll engine abbc34e1482d..17a90fbe8f23 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26534 Roll engine 17a90fbe8f23..e68a3fa912cd (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26536 Roll engine e68a3fa912cd..fea645b80134 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26537 Report overall and transfer timings as part of hot reload statistics,…
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/usage.dart
Labels: cla: yes

#24767 [H] Improved positioning of leading and trailing widgets in overflowing ListTiles
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework

#26539 Narrow regexp for import search in bot's analyze script.
  dev/bots/analyze.dart
Labels: cla: yes

#25095 InputDecorator Count Widget
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: cla: yes, f: material design, framework

#26444 Update compileSdkVersion in the Android app templates to Android P
  packages/flutter_tools/templates/app/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-java.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/project_test.dart
Labels: cla: yes, tool, ▣ platform-android

#26546 Update dartdoc to 0.28.0 and add flags to constrain warnings
  dev/bots/docs.sh
  dev/tools/dartdoc.dart
Labels: cla: yes

#25413 Added key.properties and *.jks to .gitignore
  .gitignore
Labels: cla: yes, tool, waiting for tree to go green

#26579 Fix+unskip `flutter test` expression eval tests
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
  packages/flutter_tools/test/integration/test_data/tests_project.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes, tool

#26259 Deprecate Scaffold resizeToAvoidBottomPadding, now resizeToAvoidBottomInset
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: cla: yes, f: material design, framework

#26562 Remove todo from Podhelpr.rb
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb
Labels: cla: yes, team

#26545 remove ignore_for_file lints
  dev/tools/gen_date_localizations.dart
  packages/flutter_localizations/lib/src/l10n/date_localizations.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes, team

#26559 add type parameter back to PageRouteFactory
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/widgets/app.dart
Labels: cla: yes, team

#25682 Move runner directory messages to the user messages class
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
Labels: a: internationalization, cla: yes, tool

#26454 Cleanup temporary catchError.
  packages/flutter/lib/src/rendering/platform_view.dart
Labels: cla: yes, framework

#23782 Add flutter_shared assets to module artifact
  packages/flutter_tools/gradle/flutter.gradle
Labels: a: assets, t: gradle, tool

#26449 Add asserts for @required parameters
  packages/flutter/lib/src/widgets/transitions.dart
Labels: cla: yes, framework

#24728 [H] Support setting the elevation of disabled floating action buttons
  bin/internal/goldens.version
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/flat_button.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/outline_button_test.dart
Labels: cla: yes, f: material design, framework

#25988 Add Golden test for background painting order.
  bin/internal/goldens.version
  packages/flutter/test/widgets/text_golden_test.dart
Labels: a: tests, cla: yes, engine

#26596 Roll engine to 5983e34a3c0e1217da7e8bbe9f2fe685048fe259
  bin/internal/engine.version
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/test/painting/binding_test.dart
  packages/flutter_test/test/reference_image_test.dart
Labels: cla: yes

#26612 Remove TODO, reduce tech debt
  packages/flutter/lib/src/rendering/sliver.dart
Labels: cla: yes

#24754 Replace Android-specific check with switch
  packages/flutter/lib/src/rendering/editable.dart
Labels: cla: yes, framework, team

#26620 Roll engine 5983e34a3c0e..fdfb0e72f0af (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26633 Roll engine fdfb0e72f0af..09e149e89787 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26645 Roll engine 09e149e89787..3c0aa918de87 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26611 IconButton backgroundColor doc sample
  packages/flutter/lib/src/material/icon_button.dart
Labels: cla: yes, d: api docs, f: material design, framework

#26613 Updated AlertDialog content doc
  packages/flutter/lib/src/material/dialog.dart
Labels: cla: yes, f: material design, framework

#26592 Prevent crash when calling lerp for IconThemeData with null arguments
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/test/widgets/icon_theme_data_test.dart
Labels: cla: yes, framework

#26598 Add tests for getOffsetToReveal on RenderSlivers
  packages/flutter/test/rendering/viewport_test.dart
Labels: a: tests, cla: yes, framework

#26652 Fix rounding error in build tests
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes

#26533 [Material] TabBarTheme text style parameters
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
Labels: cla: yes, f: material design, framework

#24752 Replace platform check with switch
  packages/flutter/lib/src/material/scaffold.dart
Labels: cla: yes, f: material design

#26482 Grammatical fix: "places" to "placed"
  packages/flutter/lib/src/rendering/wrap.dart
Labels: cla: yes, d: api docs, framework

#26644 Revert "Add flutter_shared assets to module artifact (#23782)"
  packages/flutter_tools/gradle/flutter.gradle
Labels: a: assets, cla: yes, t: gradle, tool

#26642 Fix --build-shared-library on newer NDKs
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/test/android/android_sdk_test.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool, ▣ platform-android

#26630 Move flutter_assets to App.framework
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/microbenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/android_views/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/ios/Runner.xcodeproj/project.pbxproj
  examples/catalog/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_view/ios/Runner.xcodeproj/project.pbxproj
  examples/hello_world/ios/Runner.xcodeproj/project.pbxproj
  examples/layers/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
  examples/stocks/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/templates/app/ios-objc.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/app/ios-swift.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.pbxproj.tmpl
  packages/flutter_tools/test/ios/mac_test.dart
Labels: a: existing-apps, cla: yes, t: xcode, tool, ⌺‬ platform-ios

#26422 Create an injectable factory for application packages.
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
Labels: cla: yes, tool

#26675 Revert "Move flutter_assets to App.framework (#26630)"
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/microbenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/android_views/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/ios/Runner.xcodeproj/project.pbxproj
  examples/catalog/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_view/ios/Runner.xcodeproj/project.pbxproj
  examples/hello_world/ios/Runner.xcodeproj/project.pbxproj
  examples/layers/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
  examples/stocks/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/templates/app/ios-objc.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/app/ios-swift.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.pbxproj.tmpl
  packages/flutter_tools/test/ios/mac_test.dart
Labels: cla: yes

#26629 [HX] Quick fix for tap-to-show-keyboard regression
  packages/flutter/lib/src/gestures/force_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/text_selection.dart
Labels: a: text input, cla: yes, f: gestures, f: material design, framework, ⚠ TODAY

#26589 Do not exit tool if parts of fuchsia workflow fail
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
Labels: cla: yes, tool, ○ platform-fuchsia

#26683 Roll engine 3c0aa918de87..25559ed07796 (11 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#26694 Roll engine back to 1e93a8eb39d79f643952737aa4fc31e1787a5a17
  bin/internal/engine.version
Labels: cla: yes, engine, team

#26604 Adding a shutdown hook to HotRunnerConfig
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/hot_test.dart
Labels: cla: yes, tool

#26690 Doc fix: SliverChildBuilderDelegate is the lazy one
  packages/flutter/lib/src/widgets/sliver.dart
Labels: cla: yes, d: api docs, f: scrolling, framework

#26663 Make getOffsetToReveal work with nested Viewports
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/test/rendering/viewport_test.dart
Labels: cla: yes, framework

#21157 Swap scope with gesture
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/widgets/scrollable_of_test.dart
Labels: cla: yes, f: scrolling, framework

#26716 Fix missing const analyzer warning
  packages/flutter/test/widgets/scrollable_of_test.dart
Labels: cla: yes

#23677 Add animation tests for changes to the FloatingActionButtonLocation
  packages/flutter/lib/src/material/floating_action_button_location.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: cla: yes, f: material design, framework

#26565 Emulator support for dynamic mode on Intel architecture
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/run.dart
Labels: cla: yes, tool, ▣ platform-android
