Repository flutter/flutter, pull requests merged in 2019-10, with the labels that each got.

#41642 Roll engine 463762b81756..94363be1eaec (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41447 Switch to assemble API for dart2js
  dev/bots/test.dart
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/file_hash_store.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/filecache_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/commands/build_web_test.dart
  packages/flutter_tools/test/general.shard/web/asset_server_test.dart
Labels: cla: yes, tool

#41658 Revert "Switch to assemble API for dart2js"
  dev/bots/test.dart
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/file_hash_store.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/filecache_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/commands/build_web_test.dart
  packages/flutter_tools/test/general.shard/web/asset_server_test.dart
Labels: cla: yes

#41656 Roll engine 94363be1eaec..49815128157d (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41736 Disable CPU/GPU measurement on BackdropFilter test
  dev/devicelab/bin/tasks/backdrop_filter_perf_ios__timeline_summary.dart
Labels: cla: yes, team

#40630 enable foundation and physics tests on the Web
  dev/bots/test.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
Labels: cla: yes, team

#41660 Roll engine 49815128157d..16d7694e760a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41695 Add more information to cannot find Chrome message
  packages/flutter_tools/lib/src/web/web_validator.dart
  packages/flutter_tools/test/general.shard/web/web_validator_test.dart
Labels: cla: yes, tool, ☸ platform-web

#41659 Reland: Switch to assemble API for dart2js
  dev/bots/test.dart
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/file_hash_store.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/filecache_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/commands/build_web_test.dart
  packages/flutter_tools/test/general.shard/web/asset_server_test.dart
Labels: cla: yes, team, tool

#41698 Download android x64 release artifacts
  packages/flutter_tools/lib/src/cache.dart
Labels: cla: yes, tool

#40291 range_slider_test.dart diagnostics property tests
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/test/material/range_slider_test.dart
Labels: cla: yes, f: material design, framework

#41397 Keymap for Web
  dev/tools/gen_keycodes/data/keyboard_maps.tmpl
  dev/tools/gen_keycodes/lib/code_gen.dart
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/keyboard_maps.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/services/raw_keyboard_web.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: a: accessibility, a: text input, cla: yes, framework, waiting for tree to go green, ☸ platform-web

#41741 Roll engine 5c428d924790..9e6314d348f9 (8 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41744 Fix tools test verifyVersion() regex
  .cirrus.yml
  dev/bots/test.dart
  dev/bots/test/test_test.dart
Labels: cla: yes, team

#41795 Reland "Dsiable CPU/GPU measurement on BackdropFilter test (#41736)"
  dev/devicelab/bin/tasks/backdrop_filter_perf_ios__timeline_summary.dart
Labels: cla: yes, team

#41743 Roll engine 9e6314d348f9..4651df4d35af (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41788 Reduce log verbosity by removing individual used files
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes, tool

#41751 Add support for downloading x86 JIT release artifact
  packages/flutter_tools/lib/src/cache.dart
Labels: cla: yes, tool

#41735 handle empty entry in asset list and add more explicit validation
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
Labels: cla: yes, tool

#41220 Add an ActivateAction to controls that use InkWell.
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/material/ink_paint_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/widgets/actions_test.dart
Labels: cla: yes, f: material design, framework, severe: API break, team

#41580 Reland: don't update last compile time when compilation is rejected.
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_project.dart
Labels: cla: yes, tool

#39140 Move commands into their own shard
  .cirrus.yml
  bin/flutter.bat
  dev/bots/test.dart
  packages/flutter_tools/test/commands.shard/README.md
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_fuchsia_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/ide_config_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/install_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/shell_completion_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/version_test.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/format_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/commands.shard/permeable/test_test.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/tool/tool_coverage.dart
Labels: cla: yes, tool

#41806 run services tests on the Web
  dev/bots/test.dart
  packages/flutter/test/services/channel_buffers_test.dart
Labels: cla: yes, framework, team

#41809 Roll engine 4651df4d35af..aa8fcbb65283 (15 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41697 Handle missing .packages file in the flutter tool for prebuilt artifacts
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/test/general.shard/web/web_fs_test.dart
Labels: cla: yes, tool

#40186 Add shortcuts and actions for default focus traversal
  dev/manual_tests/lib/actions.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: a: desktop, cla: yes, framework, team

#41329 Refactor: Base tap gesture recognizer
  packages/flutter/lib/src/gestures/arena.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/lib/src/widgets/modal_barrier.dart
  packages/flutter/test/gestures/debug_test.dart
  packages/flutter/test/gestures/tap_test.dart
  packages/flutter/test/widgets/modal_barrier_test.dart
Labels: cla: yes, f: gestures, framework, waiting for tree to go green

#40775 Use EdgeInsetsGeometry instead of EdgeInsets
  packages/flutter/lib/src/painting/shape_decoration.dart
  packages/flutter/test/widgets/shape_decoration_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#40743 Added notice to docs that setPreferredOrientations does not always work on iPad
  packages/flutter/lib/src/services/system_chrome.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#41794 Updated the docstring for SystemNavigator.pop.
  packages/flutter/lib/src/services/system_navigator.dart
Labels: cla: yes, framework

#41650 DropdownButton.style API doc example for differing button and menu item text styles
  packages/flutter/lib/src/material/dropdown.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#41629 [Material] Fix Tooltip to respect ambient Directionality
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#41625 Update DefaultTabController to allow for zero tabs
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#41856 Roll engine aa8fcbb65283..73dd5a33d9d1 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40635 Return WidgetSpans from getSpanForPosition
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/widgets/widget_span.dart
  packages/flutter/test/painting/text_span_test.dart
Labels: cla: yes, framework

#41860 Roll engine 73dd5a33d9d1..e9edb8e14f6d (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41862 Make output directory a build input
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
Labels: cla: yes, tool

#41652 [flutter_tools] Add more info to pub get failure event
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/reporting/disabled_usage.dart
  packages/flutter_tools/lib/src/reporting/events.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#41730 Allow customization of label styles for semantics debugger
  packages/flutter/lib/src/widgets/semantics_debugger.dart
  packages/flutter/test/widgets/semantics_debugger_test.dart
Labels: a: accessibility, cla: yes, framework, waiting for tree to go green

#41815 [web] Make it clear that lowercase "r" can also perform hot restart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
Labels: cla: yes, tool, ☸ platform-web

#41928 Roll engine e9edb8e14f6d..623be87e65e6 (12 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41929 Roll engine 623be87e65e6..7d67e275ff82 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41933 upload x64 android host release
  packages/flutter_tools/lib/src/cache.dart
Labels: cla: yes, tool

#41791 Refactor: Make MouseTracker test concise with some utility functions
  packages/flutter/test/gestures/mouse_tracking_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#41944 Roll engine 7d67e275ff82..8aa47326ae73 (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41828 Set DEFINES_MODULE=YES in plugin templates
  dev/bots/test.dart
  dev/devicelab/bin/tasks/plugin_lint_mac.dart
  packages/flutter_tools/templates/plugin/ios.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/plugin/macos.tmpl/projectName.podspec.tmpl
Labels: cla: yes, t: xcode, team, tool, waiting for tree to go green, ⌘‬ platform-mac, ⌺‬ platform-ios

#41949 Roll engine 8aa47326ae73..62e58c5d9fc2 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41892 Fix CupertinoActivityIndicator radius
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/test/cupertino/activity_indicator_test.dart
Labels: cla: yes, f: cupertino, framework

#41717 Update label applied for performance template bugs
  .github/ISSUE_TEMPLATE/performance.md
Labels: cla: yes, team, waiting for tree to go green

#41952 Send pubspec.yaml back in time to fix flakiness
  packages/flutter_tools/test/general.shard/web/web_fs_test.dart
Labels: cla: yes, tool

#41954 Roll engine 62e58c5d9fc2..2e163b27805b (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41945 Revert ActivateAction PR
  dev/manual_tests/lib/actions.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/test/material/ink_paint_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: cla: yes, f: material design, framework

#41747 Add Profile entry to macOS Podfile
  packages/flutter_tools/templates/cocoapods/Podfile-macos
Labels: cla: yes, tool, waiting for tree to go green

#41885 Include embedding transitive dependencies in plugins
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool, waiting for tree to go green

#41942 Use `mergeResourcesProvider` instead of deprecated `mergeResources`
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool, waiting for tree to go green

#41651 added questions on Platform / OS Version / Device
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/performance.md
Labels: cla: yes, team, waiting for tree to go green

#41646 replace package:vm_service_client with package:vm_service in the devicelab project
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/bin/tasks/commands_test.dart
  dev/devicelab/bin/tasks/run_machine_concurrent_hot_reload.dart
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team, tool, waiting for tree to go green

#41957 Roll engine 2e163b27805b..9db06370490d (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41960 Revert "replace package:vm_service_client with package:vm_service in the devicelab project"
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/bin/tasks/commands_test.dart
  dev/devicelab/bin/tasks/run_machine_concurrent_hot_reload.dart
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team, tool

#41958 Roll engine 9db06370490d..a0605af402ac (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41961 Roll engine a0605af402ac..ec9d487b0599 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41906 Ensure plugin registrants are generated in build_web
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool, ☸ platform-web

#41965 Roll engine ec9d487b0599..759d3dba259b (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41644 indent formal parameters correctly
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/painting/colors.dart
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/lib/src/widgets/icon_data.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/scrollbar_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/rendering/recording_canvas.dart
  packages/flutter/test/rendering/sliver_fixed_extent_layout_test.dart
  packages/flutter/test/rendering/slivers_block_test.dart
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/base/async_guard.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/source.dart
  packages/flutter_tools/lib/src/fuchsia/amber_ctl.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_build.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_pm.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/macos/cocoapod_utils.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_fuchsia_test.dart
  packages/flutter_tools/test/commands.shard/permeable/test_test.dart
  packages/flutter_tools/test/general.shard/base/async_guard_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
  packages/flutter_tools/test/general.shard/web/workflow_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
  packages/flutter_tools/test/src/mocks.dart
  packages/flutter_tools/test/src/testbed.dart
  packages/flutter_tools/tool/tool_coverage.dart
Labels: cla: yes, f: cupertino, f: material design, framework, team, tool, waiting for tree to go green

#41666 Generate projects using the new Android embedding
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/android-java.tmpl/app/src/main/java/androidIdentifier/MainActivity.java.tmpl
  packages/flutter_tools/templates/app/android-kotlin.tmpl/app/src/main/kotlin/androidIdentifier/MainActivity.kt.tmpl
  packages/flutter_tools/templates/app/android.tmpl/app/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/src/main/java/androidIdentifier/host/MainActivity.java.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/flutter.iml.copy.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/include_flutter.groovy.copy.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/settings.gradle.copy.tmpl
  packages/flutter_tools/templates/plugin/android-java.tmpl/src/main/java/androidIdentifier/pluginClass.java.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/src/main/kotlin/androidIdentifier/pluginClass.kt.tmpl
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool, ▣ platform-android

#41632 fix confusing 'popupTheme' variable name in a MaterialBannerTheme method
  packages/flutter/lib/src/material/banner_theme.dart
Labels: cla: yes, f: material design, framework

#41931 Revert "Fix ReorderableListView's use of child keys (#41334)"
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/test/material/reorderable_list_test.dart
Labels: cla: yes, f: material design, framework

#40665 Fix CupertinoTextField and TextField ToolbarOptions not changing
  AUTHORS
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#41832 Plumb --enable-asserts through to frontend_server invocation in debug…
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
  packages/flutter_tools/test/general.shard/test_compiler_test.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
Labels: cla: yes, tool

#41612 AOT support for Linux Desktop I: switch Linux builds to assemble
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
Labels: cla: yes, e: glfw, tool

#41889 Clean up ProjectFileInvalidator.findInvalidated a bit
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/project_file_invalidator_test.dart
Labels: cla: yes, tool

#42004 Roll engine 759d3dba259b..7d90779bb66f (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42008 Restructure ProjectFileInvalidator.findInvalidated a bit
  packages/flutter_tools/lib/src/run_hot.dart
Labels: cla: yes, tool

#42030 Revert "AOT support for Linux Desktop I: switch Linux builds to assemble"
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
Labels: cla: yes, tool

#42035 trying to diagnose failure in CI
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: cla: yes, tool

#42036 trying to diagnose failure in CI, mark II
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: cla: yes, tool

#42037 Diagnose failure in CI, Mark III
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/dart/sdk_validation_test.dart
Labels: cla: yes, tool

#42015 Fix local test failures in flutter_tools
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool, waiting for tree to go green

#42064 Refactor sdk_validation_test
  packages/flutter_tools/test/general.shard/dart/sdk_validation_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#42091 Skip sdk_validation_test again
  packages/flutter_tools/test/general.shard/dart/sdk_validation_test.dart
Labels: cla: yes, tool

#41936 Updates packages, including package:multicast_dns.
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/abstract_method_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/mdns_discovery_test.dart
  packages/flutter_tools/test/general.shard/web/web_fs_test.dart
Labels: cla: yes, team, tool

#42011 Roll engine 7d90779bb66f..1d62160fdb2f (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42022 Fix smoke test
  dev/bots/firebase_testlab.sh
  dev/integration_tests/abstract_method_smoke_test/lib/main.dart
  dev/integration_tests/release_smoke_test/android/build.gradle
  dev/integration_tests/release_smoke_test/android/gradle/wrapper/gradle-wrapper.properties
Labels: cla: yes

#42038 Reland "AOT support for Linux Desktop I: switch Linux builds to assemble"
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
Labels: cla: yes, tool

#41946 Do not validate the Android SDK when building an appbundle
  packages/flutter_tools/lib/src/android/android_builder.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/commands/build_aar_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#41857 Change the dark theme elevation overlay to use the colorScheme.onSurface
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/material_test.dart
Labels: cla: yes, f: material design, framework, severe: API break

#42016 [flutter_tool] Re-work analytics events to use labels and values
  packages/flutter_tools/lib/src/reporting/disabled_usage.dart
  packages/flutter_tools/lib/src/reporting/events.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#41922 Enable more web tests; use blacklist to filter them out
  dev/bots/test.dart
  packages/flutter/test/gestures/transformed_monodrag_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_tools/lib/src/web/chrome.dart
Labels: a: tests, cla: yes, framework, team

#42118 Apply mocks to test command
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
Labels: cla: yes, tool

#41996 [web] Always send the route name even if it's null
  packages/flutter/lib/src/widgets/route_notification_messages.dart
  packages/flutter/test/widgets/route_notification_messages_test.dart
Labels: cla: yes, f: routes, framework, ☸ platform-web

#41431 Cupertino { TabScafold, TextSelection, TextField } dark mode & minor fidelity update
  bin/internal/goldens.version
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/test/cupertino/material/tab_scaffold_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, will affect goldens

#42063 More consistent temp directory naming
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/test_utils.dart
Labels: a: tests, cla: yes, tool

#42200 Roll engine 1d62160fdb2f..4a849e0f8dd5 (17 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42240 Roll engine 4a849e0f8dd5..819b0cae0c23 (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41640 some formatting changes
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/build_runner/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/source.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/test/general.shard/build_runner/multiroot_asset_reader_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: cla: yes, f: material design, framework, team, tool, waiting for tree to go green

#42244 Roll engine 819b0cae0c23..611c345a4e76 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41820 Added SystemNavigator.pop "animated" argument.
  packages/flutter/lib/src/services/system_navigator.dart
Labels: cla: yes, framework

#39433 Add helperMaxLines to InputDecoration and InputDecorationTheme
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes, f: material design, framework

#42246 Roll engine 611c345a4e76..49dbaae818cd (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42006 Typos & Style clean up
  packages/flutter/lib/src/painting/text_span.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/widgets/text_test.dart
Labels: cla: yes, framework, team, waiting for tree to go green

#42251 Roll engine 49dbaae818cd..3a445edda924 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42032 Update CupertinoActivityIndicator colors and gradient
  bin/internal/goldens.version
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/test/cupertino/activity_indicator_test.dart
Labels: cla: yes, f: cupertino, framework, will affect goldens

#42258 Roll engine 3a445edda924..5b3182294f63 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42263 Roll engine 5b3182294f63..c635d70c7266 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42257 Make Pub an interface in the flutter tool
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/lib/src/commands/version.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/version_test.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/commands/build_aar_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/dart/sdk_validation_test.dart
  packages/flutter_tools/test/general.shard/web/web_fs_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#42252 catch argument error from Make
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
Labels: cla: yes, tool

#41327 Incorporating Link Semantics
  bin/internal/engine.version
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/painting/text_span_test.dart
  packages/flutter/test/rendering/paragraph_test.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/text_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: accessibility, a: tests, cla: yes, framework

#42276 Revert removal of linux from unpack command.
  packages/flutter_tools/lib/src/commands/unpack.dart
Labels: cla: yes, tool

#42285 Roll engine c635d70c7266..21b8224ae12d (10 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42287 Roll engine 21b8224ae12d..1e58794b238b (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42260 Small cleanup of web code
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#42290 Roll engine 1e58794b238b..0d749933bcc6 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42189 Fix regression with ModalBottomSheets not responding to changes in theme
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
Labels: cla: yes, f: material design, framework

#42352 Add android.permission.WAKE_LOCK permission to abstract_method_smoke_test
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/AndroidManifest.xml
Labels: cla: yes, team

#41814 Enables setting of semantics focused and focusable attributes within Focus widgets.
  bin/internal/engine.version
  dev/integration_tests/android_semantics_testing/lib/main.dart
  dev/integration_tests/android_semantics_testing/lib/src/constants.dart
  dev/integration_tests/android_semantics_testing/lib/src/matcher.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/popup_constants.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/popup_page.dart
  dev/integration_tests/android_semantics_testing/lib/test_constants.dart
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
  examples/flutter_gallery/test/demo/material/chip_demo_test.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/card_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/expand_icon_test.dart
  packages/flutter/test/material/expansion_panel_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/extension_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: CQ+1, a: accessibility, a: tests, cla: yes, f: material design, framework, team

#42368 Update android semantics test to match existing engine behavior.
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
Labels: a: accessibility, cla: yes, team

#42289 Ensure precache web works on dev branch
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#41519 Make desktop stopApp only apply to processes Flutter started
  packages/flutter_tools/lib/src/desktop.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/linux/linux_device.dart
  packages/flutter_tools/lib/src/macos/macos_device.dart
  packages/flutter_tools/lib/src/windows/windows_device.dart
  packages/flutter_tools/test/general.shard/desktop_device_test.dart
  packages/flutter_tools/test/general.shard/linux/linux_device_test.dart
  packages/flutter_tools/test/general.shard/macos/macos_device_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#42243 Improve trailing whitespace message
  dev/bots/analyze.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#42306 Ensure that flutter assets are copied in the AAR
  dev/bots/test.dart
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, team, tool, waiting for tree to go green

#42033 Reprise: Dropdown Menu layout respects menu items intrinsic sizes
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework

#42026 Stop leaking iproxy processes
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/lib/src/protocol_discovery.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool, waiting for tree to go green

#42267 Improve documentation around animations.
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter/lib/src/physics/spring_simulation.dart
Labels: cla: yes, framework, waiting for tree to go green

#41803 Fixed media query issues and added test to prevent it from coming back
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/test/widgets/media_query_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#41763 No longer rebuild Routes when MediaQuery updates
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/material/app_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#41675 Fix documentation for the required argument
  packages/flutter/lib/src/widgets/raw_keyboard_listener.dart
Labels: cla: yes, d: api docs, documentation, framework, waiting for tree to go green

#42363 Roll engine 0d749933bcc6..e69319216729 (11 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42342 Fix DropdownButton crash when hint and selectedItemBuilder are simultaneously defined
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework, severe: crash

#42162 Expose wait conditions in the public flutter_driver API
  packages/flutter_driver/lib/flutter_driver.dart
Labels: a: tests, cla: yes, framework

#42378 remove println from flutter.gradle
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool

#41879 Make MouseTracker.sendMouseNotifications private
  packages/flutter/lib/src/gestures/mouse_tracking.dart
  packages/flutter/test/gestures/mouse_tracking_test.dart
Labels: cla: yes, framework

#42373 Switch build commands to use process utils
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
Labels: cla: yes, tool

#42381 Roll engine e69319216729..eb7abf28e439 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42387 Roll engine eb7abf28e439..46b2e3d9a313 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42392 Roll engine 46b2e3d9a313..179fab9dcbac (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42376 Add option to precache unsigned mac binaries.
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: cla: yes, tool

#42402 Roll engine 179fab9dcbac..ed1557f82dd4 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#41687 Use processManager.run() instead of manually capturing streams in test_utils getPackages()
  packages/flutter_tools/test/integration.shard/test_utils.dart
Labels: cla: yes, tool, waiting for tree to go green

#42406 Roll engine ed1557f82dd4..f237896bac7c (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42412 Roll engine f237896bac7c..5a8605444187 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42203 Shard web tests; enable semantics tests on the Web
  .cirrus.yml
  dev/bots/test.dart
Labels: CQ+1, cla: yes, team

#42425 Roll engine 5a8605444187..d25a623d7f90 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42438 Roll engine d25a623d7f90..a05803a0d2ba (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40029 [BUG] Process all children of intent-filter instead of just the first one to identify default activity
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
Labels: cla: yes, passed first triage, tool, waiting for tree to go green

#42366 TextStyle.fontFamily should override fontFamily parameter in ThemeData
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework

#42354 Pass -Ddart.developer.causal_async_stacks=true to frontend_server invocations.
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
Labels: cla: yes, tool

#42365 Add font fallback clarification docs
  packages/flutter/lib/src/painting/text_style.dart
Labels: cla: yes, d: api docs, framework

#42443 Roll engine a05803a0d2ba..0b6aa5e3201a (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42453 Roll engine 0b6aa5e3201a..c8f665c3a7b0 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40280 PlatformView: recreate surface if the controller changes
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: a: platform-views, cla: yes, framework
