Repository flutter/flutter, pull requests merged in 2019-05, with the labels that each got.

#31687 Center iOS caret, remove constant offsets that do not scale
  bin/internal/goldens.version
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
Labels: a: text input, cla: yes, framework, ⌺‬ platform-ios

#31882 Roll engine f2d21795be43..2f11d3c4a205 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31874 add stderr to log processor for desktop
  packages/flutter_tools/lib/src/desktop.dart
  packages/flutter_tools/test/macos/macos_device_test.dart
Labels: cla: yes

#31886 Revert "Handle notification errors"
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/fuchsia_remote_debug_protocol/lib/src/dart/dart_vm.dart
Labels: cla: yes

#31812 Fix #31764: Show appropriate error message when fonts pubspec.yaml isn't iterable
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/test/flutter_manifest_test.dart
Labels: cla: yes, tool

#31887 Roll engine 2f11d3c4a205..8768180a8871 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31912 Revert "Redo: Add buttons to gestures"
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/gestures/debug_test.dart
  packages/flutter/test/gestures/double_tap_test.dart
  packages/flutter/test/gestures/drag_test.dart
  packages/flutter/test/gestures/events_test.dart
  packages/flutter/test/gestures/gesture_binding_test.dart
  packages/flutter/test/gestures/long_press_test.dart
  packages/flutter/test/gestures/tap_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
  packages/flutter_test/lib/src/test_pointer.dart
Labels: cla: yes

#31318 Add BottomSheetTheme to enable theming color, elevation, shape of BottomSheet
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/bottom_sheet_theme.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
  packages/flutter/test/material/modal_bottom_sheet_test.dart
  packages/flutter/test/material/persistent_bottom_sheet_test.dart
Labels: cla: yes, f: material design, framework

#31039 Fix bundle id on iOS launch using flutter run
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/test/ios/simulators_test.dart
Labels: cla: yes, tool

#31850 Make Gradle error message more specific
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool

#31917 Roll engine 8768180a8871..6280d4266983 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#30983 Refactor core uses of FlutterError.
  dev/automated_tests/flutter_test/test_async_utils_guarded_expectation.txt
  dev/automated_tests/flutter_test/test_async_utils_unguarded_expectation.txt
  dev/integration_tests/image_loading/lib/main.dart
  packages/flutter/lib/src/animation/listener_helpers.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/pointer_router.dart
  packages/flutter/lib/src/gestures/pointer_signal_resolver.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/debug_overflow_indicator.dart
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/services/platform_channel.dart
  packages/flutter/lib/src/services/platform_messages.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/assertions_test.dart
  packages/flutter/test/foundation/diagnostics_test.dart
  packages/flutter/test/foundation/error_reporting_test.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter/test/rendering/debug_overflow_indicator_test.dart
  packages/flutter/test/widgets/global_keys_duplicated_test.dart
  packages/flutter/test/widgets/physical_model_test.dart
  packages/flutter/test/widgets/semantics_clipping_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/lib/src/stack_manipulation.dart
  packages/flutter_test/lib/src/test_async_utils.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_test/test/stack_manipulation_test.dart
  packages/flutter_test/test/test_async_utils_test.dart
  packages/flutter_tools/test/commands/test_test.dart
Labels: cla: yes, framework

#31909 Change unfocus to unfocus the entire chain, not just the primary focus
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
Labels: cla: yes, framework

#31574 Improve RadioListTile Callback Behavior Consistency
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/test/material/control_list_tile_test.dart
Labels: cla: yes, f: material design, framework, severe: API break

#31923 Reland #31623 - fix edge swiping and dropping back at starting point
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: cla: yes

#31910 [fuchsia] Add support for the 'device' command using the SDK
  bin/internal/fuchsia.version
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/fuchsia/fuchsa_device_test.dart
  packages/flutter_tools/test/fuchsia/fuchsia_workflow_test.dart
Labels: cla: yes

#31926 Avoid NPE
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/test/commands/attach_test.dart
Labels: cla: yes

#31861 Add Horizontal Padding to Constrained Chip Label Calculations
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes, f: material design, framework

#31025 added `scrimColor` property in Scaffold widget
  AUTHORS
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/drawer_test.dart
Labels: cla: yes, f: material design, framework

#31936 make windows/mac consistent with linux
  .cirrus.yml
Labels: cla: yes

#31938 Update scrimDrawerColor with proper const format
  packages/flutter/test/material/drawer_test.dart
Labels: cla: yes, f: material design, framework

#31937 Roll engine 6280d4266983..beeb56b43dc8 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31885 Fix commit message UTF issue for deploy_gallery shard too
  .cirrus.yml
Labels: cla: yes, team

#31890 apply fp hack to Flex
  packages/flutter/lib/src/foundation/constants.dart
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/sliver_list.dart
  packages/flutter/test/rendering/flex_test.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: cla: yes, framework

#31953 Roll engine beeb56b43dc8..ce9e9ba7e4a6 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31317 Add docs to AppBar
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/widgets/heroes.dart
Labels: cla: yes, d: api docs, f: material design, framework

#31960 Fix bug handling cyclic diagnostics.
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes

#31925 Add commands to swap dart imports for local development
  packages/flutter_tools/bin/web_swap.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
Labels: cla: yes

#31963 Roll engine ce9e9ba7e4a6..496fd3acb57a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31973 Roll engine 496fd3acb57a..bc3bd709c7f9 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31895 Report CompileTime metric in flutter build aot --report-timings.
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/test/base/build_test.dart
Labels: cla: yes, tool

#31851 Add documentation to Navigator
  packages/flutter/lib/src/widgets/navigator.dart
Labels: cla: yes, framework

#31954 Fix MediaQueryData.toString() to generate readable output
  packages/flutter/lib/src/widgets/media_query.dart
Labels: cla: yes

#30988 Tight Paragraph Width
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/test/widgets/text_test.dart
Labels: cla: yes, framework

#31976 Roll engine bc3bd709c7f9..ef2bed65db22 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31967 cherry-pick: fix edge swiping and dropping back at starting point (#31623)
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: cla: yes

#31979 Revert "Tight Paragraph Width"
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/test/widgets/text_test.dart
Labels: cla: yes

#31947 Simplify drawer scrimColor defaults, update tests
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/drawer_test.dart
Labels: cla: yes

#30979 fix issue 30526: rounding error
  packages/flutter/lib/src/rendering/sliver_fixed_extent_list.dart
  packages/flutter/test/rendering/sliver_fixed_extent_layout_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#31889 Start abstracting platform logic builds behind a shared interface
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/apk.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/platform_step.dart
  packages/flutter_tools/test/platform_step_test.dart
Labels: cla: yes, tool

#32003 Revert "Start abstracting platform logic builds behind a shared interface"
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/apk.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/platform_step.dart
  packages/flutter_tools/test/platform_step_test.dart
Labels: cla: yes

#31018 [Material] selected/unselected label styles + icon themes on BottomNavigationBar
  examples/flutter_gallery/lib/demo/material/bottom_navigation_demo.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
Labels: cla: yes, f: material design, framework

#31998 [flutter_tool] Pull the right Fuchsia SDK for the platform
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
  bin/internal/fuchsia.version
  packages/flutter_tools/lib/src/cache.dart
Labels: cla: yes

#32011 Roll engine ef2bed65db22..39a950e5d1d1 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32016 Roll engine 39a950e5d1d1..480844608c16 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32018 Roll engine 480844608c16..1bcbaf73a724 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#30874 Redo "Remove pressure customization from some pointer events"
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/test/gestures/events_test.dart
Labels: cla: yes, framework, severe: API break

#31902 Updated primaryColor docs to refer to colorScheme properties
  packages/flutter/lib/src/material/theme_data.dart
Labels: cla: yes, d: api docs, f: material design, framework, waiting for tree to go green

#31903 Extract TODO comment from Image.asset dardoc
  packages/flutter/lib/src/widgets/image.dart
Labels: cla: yes, d: api docs, framework

#31978 Reland fix 25807 implement move for sliver multibox widget
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/widgets/box_sliver_mismatch_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
  packages/flutter/test/widgets/slivers_appbar_floating_test.dart
  packages/flutter/test/widgets/slivers_appbar_pinned_test.dart
  packages/flutter/test/widgets/slivers_appbar_scrolling_test.dart
  packages/flutter/test/widgets/slivers_block_test.dart
  packages/flutter/test/widgets/slivers_keepalive_test.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: cla: yes

#32035 Roll engine 1bcbaf73a724..e21bb43f68da (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32013 Cupertino Turkish Translation
  packages/flutter_localizations/lib/src/l10n/cupertino_tr.arb
  packages/flutter_localizations/lib/src/l10n/generated_cupertino_localizations.dart
Labels: a: internationalization, cla: yes, f: cupertino, framework

#31822 remove unnecessary artificial delay in catalog example
  examples/catalog/bin/screenshot_test.dart.template
  examples/catalog/test_driver/README.md
Labels: cla: yes, d: examples, framework, waiting for tree to go green

#31987 Text wrap width
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: typography, cla: yes, framework

#32043 Rollback caret change for Android
  packages/flutter/lib/src/rendering/editable.dart
Labels: cla: yes

#31699 Re-land: Add support for Tooltip hover
  dev/benchmarks/microbenchmarks/lib/geometry/rrect_contains_bench.dart
  dev/benchmarks/microbenchmarks/lib/gestures/velocity_tracker_bench.dart
  dev/benchmarks/microbenchmarks/lib/stocks/animation_bench.dart
  dev/benchmarks/microbenchmarks/lib/stocks/build_bench.dart
  dev/benchmarks/microbenchmarks/lib/stocks/layout_bench.dart
  packages/flutter/lib/src/gestures/mouse_tracking.dart
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/material/tooltip_test.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/test_pointer.dart
Labels: cla: yes, f: material design, framework

#32046 Roll engine e21bb43f68da..88113925e3a0 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32050 Test Material buttons against a11y contrast guidelines
  packages/flutter/test/material/flat_button_test.dart
  packages/flutter/test/material/material_button_test.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/raised_button_test.dart
Labels: cla: yes

#32069 Roll engine 88113925e3a0..2c9e37c34e79 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32066 update packages and unpin build
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_tools/lib/src/build_runner/build_script_generator.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes

#32075 Roll engine 2c9e37c34e79..33cf682f18ea (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32076 Roll engine 33cf682f18ea..88e82d371a20 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32077 Roll engine 88e82d371a20..f82ea26494f2 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32078 Roll engine f82ea26494f2..e518dd2aadee (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32081 Roll engine e518dd2aadee..72bafad41d21 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32084 Roll engine 72bafad41d21..1d062db4db11 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31824 fix FlutterDriver timeout
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
Labels: cla: yes, framework, t: flutter driver

#31581 Fix Exception on Nested TabBarView disposal
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework, severe: crash

#32086 Fix CupertinoSliverRefreshControl onRefresh callback
  packages/flutter/lib/src/cupertino/refresh.dart
  packages/flutter/test/cupertino/refresh_test.dart
Labels: cla: yes, f: cupertino, framework

#32129 Roll engine 1d062db4db11..ee6412a74d36 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28834 Sliver animated list
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/test/widgets/animated_list_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#32135 Revert "Sliver animated list"
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/test/widgets/animated_list_test.dart
Labels: cla: yes

#32025 Make Hover Listener respect transforms
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/listener_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#31798 Fix tab indentation
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/rendering/localized_fonts_test.dart
  packages/flutter_tools/test/integration/test_driver.dart
Labels: cla: yes, framework, tool, waiting for tree to go green

#32072 don't NPE with empty pubspec
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/project_test.dart
Labels: cla: yes, tool

#32070 rename foreground and background to light and dark
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/test/accessibility_test.dart
Labels: a: tests, cla: yes, framework

#32071 [flutter_tool] In 'attach' use platform dill etc from the Fuchsia SDK
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/fuchsia/fuchsa_device_test.dart
Labels: cla: yes, tool

#31514 Date picker layout exceptions
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter_localizations/test/date_picker_test.dart
Labels: cla: yes, f: material design, framework

#32053 Increase TimePicker touch targets
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
Labels: cla: yes, f: material design, framework

#31662 added shape property to SliverAppBar
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for customer response

#32126 Bump multicast_dns version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, tool

#29809 Fix text selection toolbar appearing under obstructions
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#32041 Remove deprecated decodedCacheRatioCap
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/test/painting/binding_test.dart
  packages/flutter/test/painting/painting_utils.dart
Labels: cla: yes, framework

#32155 Revert "added shape property to SliverAppBar"
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: cla: yes

#31333 Clean up flutter_test/test/controller_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/controller_test.dart
Labels: a: tests, cla: yes, framework

#31944 Performance issue template
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
Labels: cla: yes, team

#32147 Added state management docs/sample to SwitchListTile
  packages/flutter/lib/src/material/switch_list_tile.dart
Labels: cla: yes, d: api docs, f: material design, framework

#32060 make hotfix use a plus instead of minus
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/version_test.dart
Labels: cla: yes, tool

#29954 Cupertino localization step 9: add tests
  packages/flutter_localizations/lib/flutter_localizations.dart
  packages/flutter_localizations/test/cupertino/translations_test.dart
  packages/flutter_localizations/test/material/date_picker_test.dart
  packages/flutter_localizations/test/material/date_time_test.dart
  packages/flutter_localizations/test/material/time_picker_test.dart
  packages/flutter_localizations/test/material/translations_test.dart
Labels: cla: yes, f: cupertino, framework

#32133 Roll engine ee6412a74d36..0e500daac83b (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32253 Roll engine 0e500daac83b..df79d63a7387 (20 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32256 fix issue 32212 Text field keyboard selection crashes
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes

#32260 Roll engine df79d63a7387..149b7b8981bf (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32284 Roll engine 149b7b8981bf..0fc6efb0d5de (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32266 Add reference to Runner-Bridging-Header.h to iOS profile config
  packages/flutter_tools/templates/app/ios-swift.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
Labels: cla: yes, t: xcode, waiting for tree to go green

#32287 Roll engine 0fc6efb0d5de..436a3c70a92c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32297 Roll engine 436a3c70a92c..ac4f3c9945ee (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32318 Roll engine 1604a413add7..edff0aa18a7d (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32322 Roll engine edff0aa18a7d..892b505d0a5e (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32331 Roll engine 892b505d0a5e..0a2d18da959e (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32142 Fix RenderPointerListener so that callbacks aren't called at the wrong time.
  packages/flutter/lib/src/gestures/mouse_tracking.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/widgets/listener_test.dart
Labels: cla: yes, framework

#32343 Roll engine 0a2d18da959e..026df8e46cde (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32350 Fix nested listeners so that ancestor listeners can also receive enter/exit/move events.
  packages/flutter/lib/src/gestures/mouse_tracking.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/gestures/mouse_tracking_test.dart
  packages/flutter/test/rendering/annotated_region_test.dart
  packages/flutter/test/widgets/listener_test.dart
Labels: cla: yes

#32355 Roll engine 026df8e46cde..3ef5007d90cf (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32302 Add geometry getters to Flutter Driver
  packages/flutter_driver/lib/src/common/geometry.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/flutter_driver_test.dart
  packages/flutter_driver/test/src/extension_test.dart
Labels: cla: yes

#31894 Introduce separate HitTestResults for Box and Sliver
  examples/layers/rendering/src/sector_layout.dart
  examples/layers/test/sector_layout_test.dart
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/segmented_control.dart
  packages/flutter/lib/src/gestures/hit_test.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/custom_layout.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/rendering/flow.dart
  packages/flutter/lib/src/rendering/list_body.dart
  packages/flutter/lib/src/rendering/list_wheel_viewport.dart
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/rotated_box.dart
  packages/flutter/lib/src/rendering/shifted_box.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/rendering/sliver_padding.dart
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/lib/src/rendering/wrap.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/test/gestures/hit_test_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/painting/matrix_utils_test.dart
  packages/flutter/test/rendering/box_test.dart
  packages/flutter/test/rendering/slivers_test.dart
Labels: cla: yes, framework

#32340 make immutables const
  examples/flutter_gallery/lib/demo/contacts_demo.dart
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/test/widgets/clip_test.dart
  packages/flutter/test/widgets/physical_model_test.dart
  packages/flutter/test/widgets/slivers_keepalive_test.dart
Labels: cla: yes, framework

#32406 Fix assignment in macos_build_flutter_assets.sh
  packages/flutter_tools/bin/macos_build_flutter_assets.sh
Labels: cla: yes

#32360 Allow flutter web to be compiled with flutter
  examples/flutter_gallery/lib/main_web.dart
  examples/flutter_gallery/web/index.html
  packages/flutter/lib/src/foundation/platform.dart
  packages/flutter_tools/lib/src/web/web_device.dart
Labels: cla: yes, framework, tool

#32413 Roll engine 3ef5007d90cf..644db5a49c35 (10 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32408 More const conversions
  packages/flutter/test/widgets/listener_test.dart
Labels: cla: yes, framework

#32345 Add master channel to performance issue template
  .github/ISSUE_TEMPLATE/performance.md
Labels: cla: yes, team

#32425 Fix benchmark regression in layer.find<S>(Offset)
  packages/flutter/lib/src/rendering/layer.dart
Labels: cla: yes

#31825 Fix missing return statements on function literals
  dev/tools/gen_keycodes/lib/key_data.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/integration/test_driver.dart
  packages/flutter_tools/test/ios/ios_workflow_test.dart
Labels: cla: yes, team, tool

#30076 Implements FocusTraversalPolicy and DefaultFocusTraversal features.
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: a: desktop, cla: yes, framework

#32440 Roll engine 644db5a49c35..f1f95f91df12 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32460 Roll engine f1f95f91df12..d8646ed07cf3 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32434 Support for replacing the TabController, after disposing the old one
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework

#30224 Cupertino localization step 10: update the flutter_localizations README
  packages/flutter_localizations/lib/src/l10n/README.md
Labels: cla: yes, f: cupertino, framework

#32380 const everything in Driver
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/common/frame_sync.dart
  packages/flutter_driver/lib/src/common/geometry.dart
  packages/flutter_driver/lib/src/common/gesture.dart
  packages/flutter_driver/lib/src/common/health.dart
  packages/flutter_driver/lib/src/common/message.dart
  packages/flutter_driver/lib/src/common/render_tree.dart
  packages/flutter_driver/lib/src/common/request_data.dart
  packages/flutter_driver/lib/src/common/semantics.dart
  packages/flutter_driver/lib/src/common/text.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/extension_test.dart
Labels: cla: yes, framework, t: flutter driver, waiting for tree to go green

#32328 Add breadcrumbs to TextOverflow
  packages/flutter/lib/src/rendering/paragraph.dart
Labels: cla: yes, framework, waiting for tree to go green

#32490 Roll engine d8646ed07cf3..bf17478a911b (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#31308 Added font bold when isDefaultAction is true in CupertinoDialogAction
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: cla: yes, f: cupertino, waiting for tree to go green

#32410 Add ancestor and descendant finders to Driver
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/extension_test.dart
  packages/flutter_driver/test/src/find_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#31701 Add more asserts to check matrix validity
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
Labels: cla: yes, framework

#32496 Revert "Add more asserts to check matrix validity"
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
Labels: cla: yes

#32497 Roll engine bf17478a911b..710e9edda6a4 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32505 Roll engine 710e9edda6a4..3822aeccd93f (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32499 Use precisionErrorTolerance
  dev/integration_tests/android_views/lib/motion_event_diff.dart
  dev/tools/vitool/test/vitool_test.dart
  packages/flutter/lib/src/gestures/lsq_solver.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/widgets/scroll_simulation_test.dart
Labels: cla: yes

#32508 Roll engine 3822aeccd93f..6e3c0431410c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32520 Fixing accidental merge from working branch
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/painting/continous_rectangle_border_test.dart
  packages/flutter/test/rendering/localized_fonts_test.dart
  packages/flutter/test/widgets/backdrop_filter_test.dart
  packages/flutter/test/widgets/clip_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/invert_colors_test.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
  packages/flutter/test/widgets/opacity_test.dart
  packages/flutter/test/widgets/physical_model_test.dart
  packages/flutter/test/widgets/shadow_test.dart
  packages/flutter/test/widgets/text_golden_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens_client/lib/client.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes

#31631 Teach Linux to use local engine
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/bin/tool_backend.sh
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands/build_linux_test.dart
Labels: cla: yes, tool

#32568 Roll engine 6e3c0431410c..5526884e7878 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32538 Adjust macOS build flow
  packages/flutter_tools/bin/macos_build_flutter_assets.sh
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
Labels: cla: yes

#32579 Roll engine 5526884e7878..7553de25db1b (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32593 Roll engine 7553de25db1b..21ad7f051cd3 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32598 Roll engine 21ad7f051cd3..816d3fc58611 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32404 Comment out .vscode/ in gitignore for templates
  packages/flutter_tools/templates/app/.gitignore.tmpl
  packages/flutter_tools/templates/package/.gitignore.tmpl
Labels: cla: yes, tool

#32625 Roll engine 816d3fc58611..c454d2ef7fc5 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32177 Tab Animation Sample Video
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/lib/src/material/tabs.dart
Labels: cla: yes, d: api docs, f: material design, framework

#32635 Roll engine c454d2ef7fc5..839628b1e826 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32640 Roll engine 839628b1e826..f4d23ef694a9 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32469 Let CupertinoNavigationBarBackButton take a custom onPressed
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
Labels: cla: yes, f: cupertino, framework

#32521 Reland matrix check
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
Labels: cla: yes

#32648 Roll engine f4d23ef694a9..904cfc4fe363 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32530 Add Actions to AppBar Sample Doc
  packages/flutter/lib/src/material/app_bar.dart
Labels: cla: yes, d: api docs, f: material design, framework

#32515 Remove appbundle build steps that are required for APKs but not AABs
  packages/flutter_tools/lib/src/android/gradle.dart
Labels: cla: yes

#32535 Fix transforms for things with RenderPointerListeners
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/listener_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/test_pointer.dart
Labels: cla: yes

#32653 Roll engine 904cfc4fe363..c83ec26f351f (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#32665 Roll engine c83ec26f351f..5ac2d02645a2 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes
