Repository flutter/flutter, pull requests merged in 2019-11, with the labels that each got.

#43937 Roll engine 73541c97b8b6..44c9fab7b4d8 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#43859 Add convenience accessor for primaryFocus
  dev/manual_tests/lib/actions.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/material_button_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
Labels: cla: yes, f: material design, framework, team

#43942 Roll engine 44c9fab7b4d8..8ea19b1c76f6 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#43870 check for instanceof instead of runtimeType
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: cla: yes, tool

#43932 Update CupertinoSlidingSegmentedControl control/feedback mechanism
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/test/cupertino/sliding_segmented_control_test.dart
Labels: cla: yes, f: cupertino, framework

#42449 Increase TextField's minimum height from 40 to 48
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework, severe: API break, will affect goldens

#43941 Tweaks after the gradle.dart refactor
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
Labels: cla: yes, tool

#43981 Fix typo in app_bar.dart
  packages/flutter/lib/src/material/app_bar.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#43952 Require awaiting testbed.run
  packages/flutter_tools/test/general.shard/testbed_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#43955 Make more spinner tests not flaky
  packages/flutter_tools/test/general.shard/base/logger_test.dart
Labels: cla: yes, tool

#43950 remove listDartSources
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
Labels: cla: yes, tool

#43997 Revert: Migrate examples to the Android embedding v2
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/java/com/example/macrobenchmarks/MainActivity.java
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/kotlin/com/example/abstract_method_smoke_test/MainActivity.kt
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/android/app/src/main/java/io/flutter/splash_screen_kitchen_sink/MainActivity.java
  dev/integration_tests/channels/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/channels/android/app/src/main/java/com/yourcompany/channels/MainActivity.java
  dev/integration_tests/codegen/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/codegen/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  examples/catalog/android/app/src/main/AndroidManifest.xml
  examples/catalog/android/app/src/main/java/com/yourcompany/animated_list/MainActivity.java
  examples/flutter_gallery/android/app/src/main/AndroidManifest.xml
  examples/flutter_gallery/android/app/src/main/java/io/flutter/demo/gallery/FlutterGalleryInstrumentation.java
  examples/flutter_gallery/android/app/src/main/java/io/flutter/demo/gallery/MainActivity.java
  examples/hello_world/android/app/src/main/AndroidManifest.xml
  examples/hello_world/android/app/src/main/java/io/flutter/examples/hello_world/MainActivity.java
  examples/image_list/android/app/src/main/AndroidManifest.xml
  examples/image_list/android/app/src/main/java/com/example/image_list/MainActivity.java
  examples/layers/android/app/src/main/AndroidManifest.xml
  examples/layers/android/app/src/main/java/io/flutter/examples/Layers/MainActivity.java
  examples/platform_channel/android/app/src/main/AndroidManifest.xml
  examples/platform_channel/android/app/src/main/java/com/example/platformchannel/MainActivity.java
  examples/platform_channel_swift/android/app/src/androidTest/java/com/example/platformchannel/ExampleInstrumentedTest.java
  examples/platform_channel_swift/android/app/src/main/AndroidManifest.xml
  examples/platform_channel_swift/android/app/src/main/java/com/example/platformchannel/MainActivity.java
  examples/platform_view/android/app/src/main/AndroidManifest.xml
  examples/platform_view/android/app/src/main/java/io/flutter/examples/platform_view/MainActivity.java
  examples/stocks/android/app/src/main/AndroidManifest.xml
  examples/stocks/android/app/src/main/java/io/flutter/examples/stocks/MainActivity.java
Labels: cla: yes, d: examples, team, team: gallery

#42842 Add "navigator" option to "showDialog" and "showGeneralDialog"
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/material/about_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: cla: yes, f: routes, framework, severe: new feature, waiting for tree to go green

#43990 Upgrade dartdoc to 0.29.0
  dev/bots/docs.sh
Labels: cla: yes, team

#44003 Revert "Implement AlertDialog title/content overflow scroll #43226"
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: cla: yes, f: material design, framework

#43915 Observe logging from VM service on iOS 13
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: a: debugging, cla: yes, tool, ⌺‬ platform-ios

#41972 Add enableFeedback param to MaterialButton, RawMaterialButton and IconButton
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/test/material/icon_button_test.dart
Labels: cla: yes, f: material design, framework

#44019 Ignore generated .project files for VSCode Java Plugin
  .gitignore
  dev/integration_tests/codegen/android/.project
  dev/integration_tests/image_loading/android/.project
  dev/integration_tests/image_loading/android/app/.project
Labels: cla: yes, team

#44011 Move the plugin registrant to io.flutter.plugins and add the @Keep an…
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/kotlin/com/example/android_embedding_v2_smoke_test/MainActivity.kt
  dev/integration_tests/android_host_app_v2_embedding/app/src/main/java/io/flutter/add2app/MainActivity.java
  dev/integration_tests/android_module_host_with_custom_build_v2_embedding/app/src/main/java/io/flutter/addtoapp/MainActivity.java
  dev/integration_tests/module_host_with_custom_build_v2_embedding/app/src/main/java/io/flutter/addtoapp/MainActivity.java
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/templates/app/android-java.tmpl/app/src/main/java/androidIdentifier/MainActivity.java.tmpl
  packages/flutter_tools/templates/app/android-kotlin.tmpl/app/src/main/kotlin/androidIdentifier/MainActivity.kt.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/src/main/java/androidIdentifier/host/MainActivity.java.tmpl
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#44017 Asset server fix for sourcemaps
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/test/general.shard/web/asset_server_test.dart
Labels: cla: yes, tool

#43994 flutter build aar should also build plugins as AARs
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/templates/module/android/library/include_flutter.groovy.copy.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/include_flutter.groovy.copy.tmpl
Labels: cla: yes, team, tool

#44028 Support --no-resident on the web
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#44052 Remove flutter_tool services code
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/services.dart
Labels: cla: yes, tool

#44032 Copy chrome preferences to seeded data dir
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/general.shard/web/chrome_test.dart
Labels: cla: yes, tool

#43466 Adding handling of TextInputClient.onConnectionClosed messages handli…
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
Labels: a: tests, a: text input, cla: yes, framework, severe: API break, waiting for tree to go green, ☸ platform-web

#44026 Exit tool if a plugin only supports the embedding v2 but the app doesn't
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#43959 Respond to TextInputClient.reattach messages.
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/text_input_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#44127 build aar prints how to consume the artifacts
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#43841 Update cupertino demos in gallery
  examples/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_picker_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_refresh_demo.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_segmented_control_demo.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: cla: yes, d: examples, f: cupertino, framework, team, team: gallery

#44031 Added tests for the new Android heading semantic flag to android_semantics_testing
  dev/integration_tests/android_semantics_testing/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/android_semantics_testing/lib/main.dart
  dev/integration_tests/android_semantics_testing/lib/src/common.dart
  dev/integration_tests/android_semantics_testing/lib/src/matcher.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/headings_constants.dart
  dev/integration_tests/android_semantics_testing/lib/src/tests/headings_page.dart
  dev/integration_tests/android_semantics_testing/lib/test_constants.dart
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
Labels: a: accessibility, cla: yes, team, waiting for tree to go green

#43945 Remove Source.behavior, fix bug in depfile invalidation
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/depfile.dart
  packages/flutter_tools/lib/src/build_system/source.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/source_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
Labels: cla: yes, tool

#42250 SliverAppBar - Configurable overscroll stretch with callback feature & FlexibleSpaceBar support
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/lib/src/widgets/sliver_persistent_header.dart
  packages/flutter/test/material/flexible_space_bar_stretch_mode_test.dart
  packages/flutter/test/widgets/slivers_appbar_stretch_test.dart
Labels: cla: yes, f: material design, f: scrolling, framework, severe: new feature, waiting for tree to go green

#44150 Manually roll engine to unred the tree
  bin/internal/engine.version
Labels: cla: yes, engine

#44139 Reland: Migrate examples to the Android embedding v2
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/java/com/example/macrobenchmarks/MainActivity.java
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/kotlin/com/example/abstract_method_smoke_test/MainActivity.kt
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/android/app/src/main/java/io/flutter/splash_screen_kitchen_sink/MainActivity.java
  dev/integration_tests/channels/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/channels/android/app/src/main/java/com/yourcompany/channels/MainActivity.java
  dev/integration_tests/codegen/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/codegen/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  examples/catalog/android/app/src/main/AndroidManifest.xml
  examples/catalog/android/app/src/main/java/com/yourcompany/animated_list/MainActivity.java
  examples/flutter_gallery/android/app/src/main/AndroidManifest.xml
  examples/flutter_gallery/android/app/src/main/java/io/flutter/demo/gallery/FlutterGalleryInstrumentation.java
  examples/flutter_gallery/android/app/src/main/java/io/flutter/demo/gallery/MainActivity.java
  examples/hello_world/android/app/src/main/AndroidManifest.xml
  examples/hello_world/android/app/src/main/java/io/flutter/examples/hello_world/MainActivity.java
  examples/image_list/android/app/src/main/AndroidManifest.xml
  examples/image_list/android/app/src/main/java/com/example/image_list/MainActivity.java
  examples/layers/android/app/src/main/AndroidManifest.xml
  examples/layers/android/app/src/main/java/io/flutter/examples/Layers/MainActivity.java
  examples/platform_channel/android/app/src/main/AndroidManifest.xml
  examples/platform_channel/android/app/src/main/java/com/example/platformchannel/MainActivity.java
  examples/platform_channel_swift/android/app/src/androidTest/java/com/example/platformchannel/ExampleInstrumentedTest.java
  examples/platform_channel_swift/android/app/src/main/AndroidManifest.xml
  examples/platform_channel_swift/android/app/src/main/java/com/example/platformchannel/MainActivity.java
  examples/platform_view/android/app/src/main/AndroidManifest.xml
  examples/platform_view/android/app/src/main/java/io/flutter/examples/platform_view/MainActivity.java
  examples/stocks/android/app/src/main/AndroidManifest.xml
  examples/stocks/android/app/src/main/java/io/flutter/examples/stocks/MainActivity.java
Labels: cla: yes, d: examples, team, team: gallery, waiting for tree to go green

#44076 Typo on comments
  packages/flutter/lib/src/material/text_form_field.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#44068 Fix typo in tabs.dart
  packages/flutter/lib/src/material/tabs.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#44147 Remove plugin imports from module_test_ios
  dev/integration_tests/ios_host_app_swift/Host/AppDelegate.swift
Labels: a: tests, cla: yes, team

#43742 Adjust and refactor all `FlatButton` tests into its respective file
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/flat_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#43934 L10n Simplification
  dev/tools/localization/gen_l10n.dart
Labels: a: internationalization, cla: yes, framework, team, waiting for tree to go green

#44156 Roll engine 0a8bd9dd6fbb..e73c9c8f6bd5 (13 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44158 Roll engine e73c9c8f6bd5..7b968ff95ff1 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42967 Pad CupertinoAlertDialog with MediaQuery viewInsets
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: cla: yes, f: cupertino, framework

#43918 CupertinoContextMenu (iOS 13)
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/context_menu_action.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/context_menu_action_test.dart
  packages/flutter/test/cupertino/context_menu_test.dart
Labels: cla: yes, f: cupertino, framework

#44194 Revert "[Gallery] Add Material Study app Rally as an example app"
  examples/flutter_gallery/lib/demo/all.dart
  examples/flutter_gallery/lib/demo/rally/app.dart
  examples/flutter_gallery/lib/demo/rally/charts/line_chart.dart
  examples/flutter_gallery/lib/demo/rally/charts/pie_chart.dart
  examples/flutter_gallery/lib/demo/rally/charts/vertical_fraction_bar.dart
  examples/flutter_gallery/lib/demo/rally/colors.dart
  examples/flutter_gallery/lib/demo/rally/data.dart
  examples/flutter_gallery/lib/demo/rally/finance.dart
  examples/flutter_gallery/lib/demo/rally/formatters.dart
  examples/flutter_gallery/lib/demo/rally/home.dart
  examples/flutter_gallery/lib/demo/rally/login.dart
  examples/flutter_gallery/lib/demo/rally/main.dart
  examples/flutter_gallery/lib/demo/rally/tabs/accounts.dart
  examples/flutter_gallery/lib/demo/rally/tabs/bills.dart
  examples/flutter_gallery/lib/demo/rally/tabs/budgets.dart
  examples/flutter_gallery/lib/demo/rally/tabs/overview.dart
  examples/flutter_gallery/lib/demo/rally/tabs/settings.dart
  examples/flutter_gallery/lib/demo/rally_demo.dart
  examples/flutter_gallery/lib/gallery/demos.dart
  examples/flutter_gallery/pubspec.yaml
Labels: cla: yes, d: examples, team, team: gallery

#43217 [flutter_tool] Update analytics policy, send event on disable
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/reporting/events.dart
  packages/flutter_tools/lib/src/reporting/reporting.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/persistent_tool_state_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#44146 Remove flutter.yaml migration code
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: cla: yes, tool

#44169 Adjust and refactor all `RaisedButton` tests into its respective file
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/raised_button_test.dart
Labels: cla: yes, f: material design, framework

#44160 Wire selectedItemBuilder through DropdownButtonFormField
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
Labels: cla: yes, f: material design, framework

#44201 Temporarily bring the embedding dependencies in the Flutter gallery
  examples/flutter_gallery/android/app/build.gradle
Labels: cla: yes, d: examples, team, team: gallery

#44043 Add Android embedding version analytics
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#44119 [flutter_tool] --flutter_runner will download the debug symbols
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: cla: yes, tool

#44149 Apply minimumDate & maximumDate constraints in CupertinoDatePicker date mode
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: cla: yes, f: cupertino, framework

#44215 Roll engine 7b968ff95ff1..0928c1af2f45 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44210 Revert "Exit tool if a plugin supports the embedding v2 but the app d…
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool

#39945 added new lifecycle state
  bin/internal/engine.version
  dev/bots/test.dart
  dev/integration_tests/ios_add2app_life_cycle/.gitignore
  dev/integration_tests/ios_add2app_life_cycle/LICENSE
  dev/integration_tests/ios_add2app_life_cycle/Podfile
  dev/integration_tests/ios_add2app_life_cycle/README.md
  dev/integration_tests/ios_add2app_life_cycle/build_and_test.sh
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/.gitignore
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/.metadata
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/README.md
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/lib/main.dart
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/test/widget_test.dart
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.pbxproj
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/xcshareddata/xcschemes/ios_add2app.xcscheme
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/AppDelegate.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/AppDelegate.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/Contents.json
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/FullScreenViewController.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/FullScreenViewController.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Info.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Launch Screen.storyboard
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/MainViewController.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/MainViewController.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/main.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2appTests/Info.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2appTests/IntegrationTests.m
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/widgets/binding_attach_root_widget_test.dart
  packages/flutter/test/widgets/binding_frame_scheduling_test.dart
  packages/flutter/test/widgets/binding_test.dart
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_project.dart
Labels: a: existing-apps, cla: yes, framework, severe: API break

#44166 Add v1 plugin register function into v2 plugin template
  dev/devicelab/bin/tasks/plugin_test.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/plugin_tests.dart
  packages/flutter_tools/templates/plugin/android-java.tmpl/src/main/java/androidIdentifier/pluginClass.java.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/src/main/kotlin/androidIdentifier/pluginClass.kt.tmpl
Labels: cla: yes, team, tool

#44241 Roll engine 05ab04dbe8cf..6c763bb551cb (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44200 Make ProjectFileInvalidator injectable
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/project_file_invalidator_test.dart
Labels: cla: yes, tool

#44251 Roll engine 6c763bb551cb..9726b4cb99d3 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44277 Revert "Roll engine 6c763bb551cb..9726b4cb99d3 (4 commits)"
  bin/internal/engine.version
Labels: cla: yes, engine

#44233 Remove yield from inherited model
  packages/flutter/lib/src/widgets/inherited_model.dart
Labels: cla: yes, framework

#44029 Use alphabetic baselines for layout of InputDecorator
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes, f: material design, framework

#44227 [flutter_tool] Screenshot command must require device only for _kDeviceType
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/test/general.shard/screenshot_command_test.dart
Labels: cla: yes, tool

#44281 revert add new enum change
  dev/bots/test.dart
  dev/integration_tests/ios_add2app_life_cycle/.gitignore
  dev/integration_tests/ios_add2app_life_cycle/LICENSE
  dev/integration_tests/ios_add2app_life_cycle/Podfile
  dev/integration_tests/ios_add2app_life_cycle/README.md
  dev/integration_tests/ios_add2app_life_cycle/build_and_test.sh
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/.gitignore
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/.metadata
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/README.md
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/lib/main.dart
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/test/widget_test.dart
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.pbxproj
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/xcshareddata/xcschemes/ios_add2app.xcscheme
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/AppDelegate.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/AppDelegate.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/Contents.json
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/FullScreenViewController.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/FullScreenViewController.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Info.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Launch Screen.storyboard
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/MainViewController.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/MainViewController.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/main.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2appTests/Info.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2appTests/IntegrationTests.m
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/widgets/binding_test.dart
Labels: cla: yes, framework, team, tool

#44279 link platform should be true for profile
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
Labels: cla: yes, tool

#44221 Use platform appropriate filepaths
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
Labels: cla: yes, tool

#44223 Update Stocks example using i18n tool
  analysis_options.yaml
  dev/tools/localization/gen_l10n.dart
  examples/stocks/lib/i18n/messages_all.dart
  examples/stocks/lib/i18n/messages_en_US.dart
  examples/stocks/lib/i18n/messages_es_ES.dart
  examples/stocks/lib/i18n/regenerate.md
  examples/stocks/lib/i18n/stock_strings.dart
  examples/stocks/lib/i18n/stocks_en_US.arb
  examples/stocks/lib/i18n/stocks_es_ES.arb
  examples/stocks/lib/main.dart
  examples/stocks/lib/stock_home.dart
  examples/stocks/lib/stock_strings.dart
Labels: cla: yes, d: examples, team

#44243 Build local maven repo when using local engine
  examples/flutter_gallery/android/app/build.gradle
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool

#44151 Add version to fuchsia_remote_debug_protocol
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#44292 Manual roll for add new enum roll back
  bin/internal/engine.version
Labels: cla: yes, engine

#44278 Do not pass obsolete --strong option to front-end server
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes, tool

#43246 Tap.dart: Fixes the spacing to the right side of reason
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/test/gestures/tap_test.dart
Labels: cla: yes, f: gestures, framework

#43948 Synchronize modifier keys in RawKeyboard.keysPressed with modifier flags on events.
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/services/raw_keyboard_macos.dart
  packages/flutter/test/services/raw_keyboard_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter_test/lib/src/event_simulation.dart
Labels: a: desktop, a: tests, cla: yes, framework

#44065 Build ios framework
  dev/bots/test.dart
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  dev/devicelab/lib/framework/utils.dart
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/ios/bitcode.dart
  packages/flutter_tools/test/general.shard/commands/build_aot_test.dart
Labels: cla: yes, team, tool

#44302 Don't add x86 nor x64 when building a local engine in debug mode
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool, waiting for tree to go green

#44303 Roll engine 8ebb31840134..2a8f6dca6006 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44311 Roll engine 2a8f6dca6006..abaa85a394c8 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44315 Roll engine abaa85a394c8..34a40cfbfd36 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44313 l10n tool improvements, stocks app refresh
  dev/tools/localization/gen_l10n.dart
  examples/stocks/lib/i18n/regenerate.md
  examples/stocks/lib/i18n/stock_strings.dart
Labels: a: internationalization, cla: yes, d: examples, team

#44319 Roll engine 34a40cfbfd36..d68c00947e6e (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44321 Roll engine d68c00947e6e..c448d39d5307 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44214 Fix v1 embedding support heuristic for plugins
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#43764 Update create.dart
  packages/flutter_tools/lib/src/commands/create.dart
Labels: cla: yes, tool, waiting for tree to go green

#44301 Don't print how to consume AARs when building plugins as AARs
  packages/flutter_tools/lib/src/android/android_builder.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool

#44365 Turn off docs upload temporarily
  dev/bots/docs.sh
Labels: cla: yes, team

#44307 Fixing local golden output flake
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, cla: yes, framework, team: flakes

#44308 Add more flutter build ios-framework tests before the impending jonahpocalypse
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  dev/devicelab/bin/tasks/gradle_plugin_bundle_test.dart
  dev/devicelab/bin/tasks/gradle_plugin_fat_apk_test.dart
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  dev/devicelab/bin/tasks/module_host_with_custom_build_test.dart
  dev/devicelab/bin/tasks/module_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  dev/devicelab/lib/framework/ios.dart
  dev/devicelab/lib/framework/utils.dart
Labels: cla: yes, team, waiting for tree to go green

#44317 CupertinoDynamicColor improvements
  examples/flutter_gallery/lib/demo/cupertino/cupertino_refresh_demo.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/icon_theme_data.dart
  packages/flutter/lib/src/cupertino/interface_level.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/lib/src/widgets/icon_theme.dart
  packages/flutter/test/cupertino/colors_test.dart
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/theme_test.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: a: tests, cla: yes, d: examples, f: cupertino, framework, team, team: gallery

#44344 Update packages to get latest dwds in flutter_tools
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#44360 [flutter_tool] Stream artifact downloads to files
  packages/flutter_tools/lib/src/base/net.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/base/net_test.dart
Labels: cla: yes, tool

#44299 Re-enable Pesto in profile/release mode
  examples/flutter_gallery/lib/gallery/demos.dart
Labels: cla: yes, d: examples, team, team: gallery

#44318 Remove TODO that's done
  packages/flutter/lib/src/scheduler/binding.dart
Labels: cla: yes, documentation, framework

#44369 Flip enable-android-embedding-v2 flag
  dev/bots/test.dart
  packages/flutter_tools/lib/src/features.dart
Labels: cla: yes, severe: API break, team, tool, waiting for tree to go green

#44371 Revert "Turn off docs upload temporarily (#44365)"
  dev/bots/docs.sh
Labels: cla: yes, team

#44380 Roll engine c448d39d5307..ddceed5f7af1 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44396 Revert "Enable usage of experimental incremental compiler for web"
  dev/devicelab/bin/tasks/linux_chrome_dev_mode.dart
  dev/devicelab/bin/tasks/macos_chrome_dev_mode.dart
  dev/devicelab/bin/tasks/web_incremental_test.dart
  dev/devicelab/bin/tasks/windows_chrome_dev_mode.dart
  dev/devicelab/lib/tasks/web_dev_mode_tests.dart
  dev/devicelab/manifest.yaml
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/lib/src/web/devfs_web.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, team, tool

#44388 Roll engine ddceed5f7af1..629930e8887c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#42691 fixing todo comments in flutter tests to include url link.
  packages/flutter_tools/test/commands.shard/permeable/test_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#44413 Turn off docs upload temporarily
  dev/bots/docs.sh
Labels: cla: yes, team

#44401 Roll engine 629930e8887c..7ed9c9fc5885 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44419 Roll engine 7ed9c9fc5885..6a1f093398c6 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#43722 Make selected item get focus when dropdown is opened
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework

#44448 Roll engine 6a1f093398c6..5f5713e33971 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#43946 Adding subtitle to ExpansionTile
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: cla: yes, f: material design, framework

#44391 Segmented control quick double tap fix
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/segmented_control.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
Labels: cla: yes, f: cupertino, framework

#44312 Demonstrate that artifact invalidation works
  dev/bots/test.dart
  dev/devicelab/bin/tasks/apk_invalidation_test.dart
Labels: cla: yes, team

#43876 Refactor flutter.gradle to use assemble directly
  dev/devicelab/bin/tasks/module_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#44421 switch web test to macOS
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#44463 Revert "Demonstrate that artifact invalidation works"
  dev/bots/test.dart
  dev/devicelab/bin/tasks/apk_invalidation_test.dart
Labels: cla: yes, team

#44454 Re-enable docs uploading
  dev/bots/docs.sh
Labels: cla: yes, team

#44468 Fix test for null flutter root
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
Labels: cla: yes, tool

#44410 Add macOS fn key support.
  dev/tools/gen_keycodes/data/key_data.json
  dev/tools/gen_keycodes/data/keyboard_key.tmpl
  dev/tools/gen_keycodes/data/keyboard_maps.tmpl
  dev/tools/gen_keycodes/data/supplemental_hid_codes.inc
  dev/tools/gen_keycodes/lib/code_gen.dart
  dev/tools/gen_keycodes/lib/key_data.dart
  packages/flutter/lib/src/services/keyboard_key.dart
  packages/flutter/lib/src/services/keyboard_maps.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: cla: yes, framework, team

#44469 Deprecation cleanup in flutter_tools
  packages/flutter_tools/lib/src/base/context.dart
  packages/flutter_tools/lib/src/plugins.dart
Labels: cla: yes, tool

#44486 Roll engine 5f5713e33971..af04338413c3 (8 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44493 Roll engine af04338413c3..2f69e38160a3 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44422 Remove TextRange, export it from dart:ui
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/services/text_editing.dart
Labels: cla: yes, framework

#44328 Adjust and refactor all `OutlineButton` tests into its respective file
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/outline_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#43422 *trivial* fixed AboutListTile having an empty icon placeholder when no icon set.
  packages/flutter/lib/src/material/about.dart
  packages/flutter/test/material/about_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#44451 Use raw string for l10n description
  dev/tools/localization/gen_l10n.dart
  examples/stocks/lib/i18n/messages_all.dart
  examples/stocks/lib/i18n/stock_strings.dart
Labels: a: internationalization, cla: yes, team, waiting for tree to go green

#44497 Roll engine 2f69e38160a3..b4a50d7ab192 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44501 Roll engine b4a50d7ab192..e0b9a2bb23e4 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44503 Roll engine e0b9a2bb23e4..31cd2dfca22a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44083 Add --dart-defines option
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/web/web_fs_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: cla: yes, tool, waiting for tree to go green

#44533 Roll engine 31cd2dfca22a..eec36a8d4f6d (6 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44576 [ci] Use the latest Cirrus Image for macOS
  .cirrus.yml
Labels: cla: yes

#44603 Roll engine eec36a8d4f6d..3fb5d855f228 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44613 Revert engine rolls.
  bin/internal/engine.version
Labels: cla: yes, engine

#44466 Update dartdoc to 0.29.1
  dev/bots/docs.sh
Labels: cla: yes, team

#44551 Remove new unused elements
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/semantics/semantics.dart
Labels: a: accessibility, cla: yes, f: cupertino, framework

#44611 Convert to TextPosition for getWordBoundary
  packages/flutter/lib/src/painting/text_painter.dart
Labels: cla: yes, framework

#44605 Changing RenderEditable.textAlign doesn't break hot reload anymore
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: a: text input, cla: yes, framework, t: hot reload

#44473 l10n tool improvements, stocks app i18n refresh
  dev/tools/localization/gen_l10n.dart
  examples/stocks/lib/i18n/regenerate.md
  examples/stocks/lib/i18n/stock_strings.dart
  examples/stocks/lib/i18n/stocks_en_US.arb
  examples/stocks/lib/i18n/stocks_es_ES.arb
  examples/stocks/lib/stock_home.dart
Labels: a: internationalization, cla: yes, d: examples, team

#44499 Show a warning when a module uses a v1 only plugin
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#44620 Bump memory requirements for tool_tests-general-linux
  .cirrus.yml
Labels: cla: yes

#44736 Check in new diffs to material localizations
  packages/flutter_localizations/lib/src/l10n/generated_material_localizations.dart
Labels: a: internationalization, cla: yes, f: material design

#44743 Sort Localization generation output
  dev/tools/localization/gen_localizations.dart
  dev/tools/localization/localizations_utils.dart
  packages/flutter_localizations/lib/src/l10n/generated_cupertino_localizations.dart
  packages/flutter_localizations/lib/src/l10n/generated_material_localizations.dart
Labels: a: internationalization, cla: yes, f: cupertino, f: material design, team

#44584 Update meta to 1.1.8
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/abstract_method_smoke_test/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/named_isolates/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web/pubspec.yaml
  dev/integration_tests/web_compile_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team

#44625 Release startup lock during long-lived build ios framework
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
Labels: cla: yes, tool

#44753 Always link desktop platforms
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
Labels: cla: yes, tool

#44744 Ensure web-server does not force usage of dwds
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#44746 Remove chrome device web integration test
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#44488 Refactorings to testbed.run and testbed.test
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
Labels: cla: yes, tool

#44633 Turn on bitcode for integration tests and add-to-app templates
  dev/integration_tests/ios_add2app/ios_add2app.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app_swift/Host.xcodeproj/project.pbxproj
  packages/flutter_tools/templates/module/ios/host_app_editable_cocoapods/Config.tmpl/Flutter.xcconfig
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Config.tmpl/Flutter.xcconfig
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.pbxproj.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Podfile.copy.tmpl
Labels: a: existing-apps, a: tests, cla: yes, team, tool

#44296 ModalBarrier and Drawer barrier prevents mouse events
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/modal_barrier.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/modal_barrier_test.dart
  packages/flutter/test/widgets/mouse_region_test.dart
Labels: a: desktop, cla: yes, f: gestures, f: material design, framework

#44783 Forward ProcessException to error handlers
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool

#44761 Sort locales and method/properties/getters alphabetically
  dev/tools/localization/gen_l10n.dart
  examples/stocks/lib/i18n/messages_all.dart
  examples/stocks/lib/i18n/stock_strings.dart
Labels: a: internationalization, cla: yes, d: examples, team

#44758 Canonicalize locale string in `gen_l10n.dart`
  dev/tools/localization/gen_l10n.dart
  examples/stocks/lib/i18n/stock_strings.dart
Labels: a: internationalization, cla: yes, team

#44617 Make disposing a ScrollPosition with pixels=null legal
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/widgets/scrollable_in_overlay_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#44027 Allow specifying device-vmservice-port and host-vmservice-port
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/lib/src/protocol_discovery.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/protocol_discovery_test.dart
Labels: cla: yes, tool

#44776 More license header fixes
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  examples/flutter_gallery/test/accessibility_test.dart
Labels: cla: yes, d: examples, team, team: gallery
