Repository flutter/flutter, pull requests merged in 2019-03, with the labels that each got.

#28157 Add await to future to please analyzer
  packages/flutter_test/lib/src/widget_tester.dart
Labels: cla: yes, framework, team

#28686 Roll engine 5194919e1309..56c16154eada (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28684 Add capability to run build_runner tests for engine
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_build/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/build.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes

#28679 Shader warm-up doc fixes
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: cla: yes

#28687 Make shader warm-up async so it can handle image
  dev/benchmarks/macrobenchmarks/test_driver/cubic_bezier_perf.dart
  examples/layers/raw/shader_warm_up.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: cla: yes

#28698 Roll engine to 99f3f7a9c246f1ebedc6eefd867cde250b370380
  bin/internal/engine.version
Labels: cla: yes

#28356 Log pub return code on failure on Windows
  bin/flutter.bat
Labels: cla: yes, tool, ❖ platform-windows

#28663 Update TabController.indexIsChanging doc
  packages/flutter/lib/src/material/tab_controller.dart
Labels: cla: yes, framework

#28731 Roll engine 99f3f7a9c246..66042161eba1 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28709 improve error messages on Text constructors
  packages/flutter/lib/src/widgets/text.dart
Labels: cla: yes, framework

#28658 Include git output into error message from channel command
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/test/channel_test.dart
Labels: cla: yes, team, tool

#28653 Fix ink highlight effect of RawChip
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes

#28290 Text selection via mouse
  packages/flutter/lib/src/gestures/eager.dart
  packages/flutter/lib/src/gestures/force_press.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/multidrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/gestures/scale.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/gestures/drag_test.dart
  packages/flutter/test/gestures/long_press_test.dart
  packages/flutter/test/gestures/multidrag_test.dart
  packages/flutter/test/gestures/multitap_test.dart
  packages/flutter/test/gestures/scale_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
  packages/flutter_test/lib/src/controller.dart
Labels: a: text input, cla: yes, f: gestures, framework

#28683 Remove the old HaTS implementation on API docs
  dev/docs/survey.html
  dev/tools/dartdoc.dart
Labels: cla: yes, d: api docs

#28527 Be more strict about finding version number attached to a revision when packaging.
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes, team

#28540 Add animation curve slowMiddle
  packages/flutter/lib/src/animation/curves.dart
  packages/flutter/test/animation/curves_test.dart
Labels: a: animation, cla: yes, framework, severe: new feature

#28734 Update README.md
  dev/bots/README.md
Labels: cla: yes

#28748 Revert "Remove the old HaTS implementation on API docs"
  dev/docs/survey.html
  dev/tools/dartdoc.dart
Labels: cla: yes, d: api docs, team

#28681 Expanded Snippet for API Docs
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, d: api docs, d: examples

#28755 Roll engine 66042161eba1..39c46dea4b73 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28759 switch tool tests to build runner
  dev/bots/test.dart
Labels: cla: yes

#28638 Fix the test annotation used for test groups
  packages/flutter_test/lib/src/test_compat.dart
Labels: a: tests, cla: yes, framework

#28797 Roll engine 39c46dea4b73..a28329cb91ac (10 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28801 Roll engine a28329cb91ac..e9eae9a1af77 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28843 Roll engine e9eae9a1af77..4f54a1dd9444 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28821 [fuchsia] Permit relative entries to the fuchsia_tester
  packages/flutter_tools/bin/fuchsia_tester.dart
Labels: cla: yes, tool

#28736 Avoid the overhead of instantiating a generator in paintImage
  packages/flutter/lib/src/painting/decoration_image.dart
Labels: cla: yes, framework

#28661 Use a simpler implementation of Diagnosticable.toString when running in profile/release mode
  packages/flutter/lib/src/foundation/diagnostics.dart
Labels: cla: yes, framework

#28756 Handle Cupertino back gesture interrupted by Navigator push
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: cla: yes, f: cupertino, framework

#28752 FAB Snippet for API Docs
  packages/flutter/lib/src/material/floating_action_button.dart
Labels: cla: yes, d: api docs, d: examples, f: material design, framework

#28666 Make RenderUiKitView reject absorbed touch events
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: cla: yes, framework

#28899 Roll engine 4f54a1dd9...e6a5201f0
  bin/internal/engine.version
  bin/internal/goldens.version
Labels: cla: yes

#28809 fix some formatting issues
  examples/flutter_gallery/lib/demo/animation/home.dart
  examples/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  examples/flutter_gallery/lib/gallery/demos.dart
  examples/flutter_gallery/test_memory/back_button.dart
  examples/layers/services/isolate.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/lib/src/foundation/bitfield.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/painting/continuous_rectangle_border.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/material/app_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/painting/box_fit_test.dart
  packages/flutter/test/painting/image_stream_test.dart
  packages/flutter/test/rendering/cached_intrinsics_test.dart
  packages/flutter/test/rendering/dynamic_intrinsics_test.dart
  packages/flutter/test/services/keyboard_key_test.dart
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter/test/widgets/modal_barrier_test.dart
  packages/flutter/test/widgets/sliver_constraints_test.dart
  packages/flutter/test/widgets/slivers_appbar_pinned_test.dart
  packages/flutter_localizations/test/translations_test.dart
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/accessibility_test.dart
  packages/flutter_test/test/window_test.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/build_runner/build_script_generator.dart
  packages/flutter_tools/lib/src/commands/generate.dart
  packages/flutter_tools/lib/src/convert.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/macos/application_package.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/build_runner/build_runner_test.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/commands/doctor_test.dart
  packages/flutter_tools/test/integration/expression_evaluation_test.dart
  packages/flutter_tools/test/web/compile_test.dart
Labels: cla: yes, framework, team

#28922 Fix crash on flutter update-packages
  packages/flutter_goldens_client/lib/client.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes

#28852 Update macOS version in tests
  .cirrus.yml
Labels: a: tests, cla: yes, team

#28675 Update docs for ancestorWidgetOfExactType
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#27811 set literal conversions
  analysis_options.yaml
  dev/bots/analyze.dart
  dev/manual_tests/lib/text.dart
  dev/tools/gen_localizations.dart
  dev/tools/update_icons.dart
  examples/flutter_gallery/lib/demo/material/chip_demo.dart
  examples/flutter_gallery/lib/demo/pesto_demo.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/gestures/mouse_tracking.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/rendering/custom_layout.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/localizations.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/lib/src/widgets/ticker_provider.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/widgets/inherited_model_test.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_test/lib/src/test_compat.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/ide_config.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/dependency_checker.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/devfs_test.dart
  packages/flutter_tools/test/hot_test.dart
  packages/flutter_tools/test/utils_test.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
Labels: cla: yes, framework, team

#27572 Remove the flutter_shared assets directory from the Gradle script
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool

#28297 Test reporter
  .cirrus.yml
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/flutter_compact_formatter.dart
  dev/bots/pubspec.yaml
  dev/bots/run_command.dart
  dev/bots/serviceaccount.enc
  dev/bots/test.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_build/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: a: tests, cla: yes, team, waiting for tree to go green

#28963 Fix for post submit on cirrus
  dev/bots/test.dart
Labels: cla: yes

#28866 Add build script invalidation and snapshotting logic
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/codegen.dart
Labels: cla: yes, tool

#28944 fix missing variable name
  packages/flutter/lib/src/animation/tween_sequence.dart
Labels: cla: yes, framework, waiting for tree to go green

#25202 fix #19175 How should addTime be used from a test?
  examples/flutter_gallery/test/accessibility_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: a: tests, cla: yes, framework, team: gallery, waiting for tree to go green

#28799 Add semantics label to FadeInImage.
  packages/flutter/lib/src/widgets/fade_in_image.dart
  packages/flutter/test/widgets/fade_in_image_test.dart
Labels: cla: yes, framework

#28855 Move material iOS back swipe test to material
  packages/flutter/test/cupertino/README.md
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/material/page_test.dart
Labels: cla: yes, f: cupertino, framework

#28966 Roll engine f4951df193a7..471a2c89a689 (11 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28749 Add minimum time gap requirement to double tap
  packages/flutter/lib/src/gestures/constants.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/test/gestures/double_tap_test.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: cla: yes, f: gestures, framework

#28975 Revert "Roll engine f4951df193a7..471a2c89a689 (11 commits)"
  bin/internal/engine.version
Labels: cla: yes

#28863 Fall-back to platform tools in Android SDK detection logic.
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/test/application_package_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#28603 select ResidentCompiler during FlutterDevice initialization
  .gitignore
  dev/integration_tests/codegen/lib/main.dart
  dev/integration_tests/codegen/lib/message.spec
  dev/integration_tests/codegen/test/example_test.dart
  dev/integration_tests/codegen/test_driver/main_test.dart
  packages/flutter_build/lib/src/kernel_builder.dart
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/generate.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/dart/package_map.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/test/build_runner/code_generating_kernel_compiler.dart
Labels: cla: yes, tool

#28970 Fix coverage shard and print summary after test run
  dev/bots/run_command.dart
  dev/bots/test.dart
Labels: cla: yes, waiting for tree to go green

#28951 Quick fix for shader warm up
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: cla: yes, framework

#28955 Add more doc pointing to the EditableText's rudimentary nature around gesture handling
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: cla: yes, framework

#28857 Form Snippet for API Docs
  packages/flutter/lib/src/widgets/form.dart
Labels: cla: yes, d: api docs, d: examples, framework

#28873 Remove extra build_runner modes, remove flutter_build
  packages/flutter_build/analysis_options.yaml
  packages/flutter_build/build.yaml
  packages/flutter_build/lib/flutter_build.dart
  packages/flutter_build/lib/src/kernel_builder.dart
  packages/flutter_build/pubspec.yaml
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/build_runner/build_script_generator.dart
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/commands/generate.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/build_runner/code_generating_kernel_compiler.dart
Labels: cla: yes, tool

#29016 make coverage work again
  dev/bots/test.dart
Labels: cla: yes

#28688 Initialize the lifecycle state with initial state in window. Roll engine (19 commits)
  bin/internal/engine.version
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/scheduler/lifecycle_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/window.dart
Labels: cla: yes, customer: mulligan (g3), framework

#29010 re-enable dart2js test
  dev/bots/test.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
Labels: cla: yes, tool

#29030 Revert "re-enable dart2js test"
  dev/bots/test.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
Labels: cla: yes

#29025 print system time on all mac builds
  .cirrus.yml
Labels: a: tests, cla: yes, team

#29049 Roll engine a48cd16e0777..60314077846c (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29023 update readme for LUCI
  dev/bots/README.md
Labels: cla: yes

#28169 Add/rewrite tests for FocusScope.
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/widgets/focus_scope_test.dart
  packages/flutter/test/widgets/focus_test.dart
Labels: a: text input, cla: yes, framework

#29012 Remove doc references to obsolete SemanticsSortOrder
  examples/catalog/lib/custom_a11y_traversal.dart
  packages/flutter/lib/src/semantics/semantics.dart
Labels: cla: yes

#27205 Fix TextField height issues
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: a: text input, cla: no, framework

#29020 Add integration to all targets
  dev/devicelab/bin/tasks/codegen_integration_linux.dart
  dev/devicelab/bin/tasks/codegen_integration_mac.dart
  dev/devicelab/bin/tasks/codegen_integration_win.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/codegen/ios/Flutter/AppFrameworkInfo.plist
  dev/integration_tests/codegen/ios/Flutter/Debug.xcconfig
  dev/integration_tests/codegen/ios/Flutter/Release.xcconfig
  dev/integration_tests/codegen/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/codegen/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/codegen/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/codegen/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/codegen/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  dev/integration_tests/codegen/ios/Runner/AppDelegate.h
  dev/integration_tests/codegen/ios/Runner/AppDelegate.m
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/integration_tests/codegen/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/integration_tests/codegen/ios/Runner/Base.lproj/LaunchScreen.storyboard
  dev/integration_tests/codegen/ios/Runner/Base.lproj/Main.storyboard
  dev/integration_tests/codegen/ios/Runner/Info.plist
  dev/integration_tests/codegen/ios/Runner/main.m
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/compile.dart
Labels: cla: yes

#27903 Lazily download artifacts (III)
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/base/net.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/ide_config.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/runner/flutter_command_test.dart
Labels: cla: yes, tool

#29064 Revert "Lazily download artifacts (III)"
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/base/net.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/ide_config.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/cache_test.dart
  packages/flutter_tools/test/runner/flutter_command_test.dart
Labels: cla: yes

#29056 add heartbeat
  dev/bots/test.dart
Labels: cla: yes

#29024 Fix CupertinoTabView tree re-shape on view inset change
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/test/cupertino/README.md
  packages/flutter/test/cupertino/material/README.md
  packages/flutter/test/cupertino/material/tab_scaffold_test.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
Labels: cla: yes, ⚠ TODAY

#28900 Add key support to cupertino button
  packages/flutter/lib/src/cupertino/button.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#29067 Roll engine 60314077846c..87edd94e9cc7 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29079 Roll engine 87edd94e9cc7..c48774cfe09b (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28672 Support hotfix version numbers
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/version_test.dart
Labels: cla: yes, tool

#29062 fix windows codegen
  packages/flutter_tools/lib/src/codegen.dart
Labels: cla: yes, tool

#29082 Roll engine c48774cfe09b..03d5f3c2d1e0 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29093 Revert "Fix TextField height issues"
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes

#29091 Roll engine 03d5f3c2d1e0..a63ff4632728 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29094 Roll engine a63ff4632728..e77337bb1c74 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29104 Roll engine e77337bb1c74..124fb1a054cd (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29107 Roll engine 124fb1a054cd..dc216bdcf0b3 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29111 Roll engine dc216bdcf0b3..21342863aa60 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29115 Roll engine 21342863aa60..9e8f8d0889ec (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29117 Roll engine 9e8f8d0889ec..4e54bc93ca9a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29120 Roll engine 4e54bc93ca9a..14d1584a2262 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#27971 Run non-perf sensitive tests on Cirrus
  .cirrus.yml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/download_android_sdk.sh
  dev/bots/download_open_jdk.sh
  dev/bots/test.dart
  dev/devicelab/bin/tasks/gradle_plugin_test.dart
  dev/devicelab/bin/tasks/module_test.dart
  dev/devicelab/bin/tasks/module_test_ios.dart
  dev/devicelab/manifest.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_views/ios/Podfile
  dev/integration_tests/ui/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: a: tests, cla: yes, framework, team

#29129 Update .cirrus.yml
  .cirrus.yml
Labels: cla: yes

#29073 Make sure test reporter prints out stderr, and disables Bigquery for non-contributors
  dev/bots/flutter_compact_formatter.dart
  dev/bots/run_command.dart
  dev/bots/test.dart
Labels: a: tests, cla: yes, team

#29132 Roll engine 14d1584a2262..0d2cf5857b2b (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29053 Update to Container Sample Code in API Docs
  packages/flutter/lib/src/widgets/container.dart
Labels: cla: yes, d: api docs, d: examples, framework

#29126 Cause `flutter analyze` to fail if the analysis server experienced an error.
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
Labels: cla: yes, team, tool

#22762 Add support for scrollwheels
  packages/flutter/lib/gestures.dart
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/pointer_signal_resolver.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/gestures/gesture_binding_test.dart
  packages/flutter/test/gestures/pointer_signal_resolver_test.dart
  packages/flutter/test/widgets/keep_alive_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
  packages/flutter_test/lib/src/test_pointer.dart
Labels: cla: yes, f: gestures, framework

#28888 Changed flutter.io to flutter.dev on each link on readme file
  README.md
Labels: cla: yes, team

#29166 Roll engine 0d2cf5857b2b..a71609f0695c (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29054 Deprecate profile()
  packages/flutter/lib/src/foundation/isolates.dart
  packages/flutter/lib/src/foundation/profile.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/foundation/profile_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#28990 Fix MouseTracker annotation leak
  packages/flutter/lib/src/gestures/mouse_tracking.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/listener_test.dart
Labels: cla: yes, f: gestures, framework, waiting for tree to go green

#29185 Roll engine a71609f0695c..56d8634c51ff (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29198 Roll engine 56d8634c51ff..5ccee9537334 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28938 Add a `flutter create --list-samples` command
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/test/commands/create_test.dart
Labels: cla: yes, tool

#28953 Include platformViewId in semantics tree
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/services/platform_views_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: cla: yes, framework, severe: API break

#29072 Update to ListView Sample Code in API Docs
  packages/flutter/lib/src/widgets/scroll_view.dart
Labels: cla: yes, d: api docs, d: examples, framework

#29189 MaterialButton shape should override ButtonTheme shape
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/test/material/buttons_test.dart
Labels: cla: yes, f: material design, framework

#29069 Heroes and nested Navigators
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/widgets/heroes_test.dart
Labels: a: animation, cla: yes, framework

#29175 Ensure that animated pairs of Tabs TextStyles have matching inherited…
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/painting/text_style_test.dart
Labels: cla: yes, f: material design, framework

#29229 Install JDK and Android SDK only for integration tests
  .cirrus.yml
Labels: cla: yes, team, waiting for tree to go green

#29179 No image shader caching in default shader warm-up
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: cla: yes, framework

#29165 Docs edit for Tab Label Color
  packages/flutter/lib/src/material/tabs.dart
Labels: cla: yes, d: api docs, f: material design, framework

#26785 Document that SearchDelegate.buildResults can be called multiple time…
  packages/flutter/lib/src/material/search.dart
Labels: cla: yes, d: api docs, f: material design, framework, team: flakes, team: gallery

#29247 Update flutter_localizations translations
  packages/flutter_localizations/lib/src/l10n/date_localizations.dart
  packages/flutter_localizations/lib/src/l10n/localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_gl.arb
  packages/flutter_localizations/lib/src/l10n/material_hy.arb
  packages/flutter_localizations/lib/src/l10n/material_id.arb
  packages/flutter_localizations/lib/src/l10n/material_sw.arb
  packages/flutter_localizations/lib/src/l10n/material_uk.arb
Labels: cla: yes

#28919 Always composite PhysicalModels
  bin/internal/goldens.version
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/painting/continous_rectangle_border_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/shadow_test.dart
Labels: cla: yes, framework, severe: API break

#29245 Fix DartDoc for UniqueKey
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#24476 Fix text selection handles showing outside the visible text region
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, cla: yes, framework

#29236 Add skip to group in test_compat
  packages/flutter_test/lib/src/test_compat.dart
Labels: a: tests, cla: yes, framework

#28751 Expose decorationThickness in TextStyle. Roll engine (12 commits)
  bin/internal/engine.version
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/painting/text_style_test.dart
  packages/flutter/test/widgets/text_golden_test.dart
Labels: a: typography, cla: yes, framework

#29323 Roll engine 31b289f277c6..b1b388f1c235 (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29330 Revert "Roll engine 31b289f277c6..b1b388f1c235 (7 commits)", Roll to 8b1a299ed instead.
  bin/internal/engine.version
Labels: cla: yes

#29314 Revert "Always composite PhysicalModels"
  bin/internal/goldens.version
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/painting/continous_rectangle_border_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/shadow_test.dart
Labels: cla: yes

#29321 add option for --verbose-system-logs
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
Labels: cla: yes

#28845 [Material] Fix radio ink ripple to be centered
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/test/material/radio_test.dart
Labels: cla: yes, f: material design, framework

#29340 guard new formatter behind env var
  dev/bots/test.dart
Labels: a: tests, cla: yes, team

#29329 Error message when TextSelectionOverlay finds no Overlay
  packages/flutter/lib/src/widgets/text_selection.dart
Labels: cla: yes, framework

#29183 Implement labelPadding configuration in TabBarTheme
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
Labels: cla: yes, f: material design, framework

#29363 Manual engine roll with goldens
  bin/internal/engine.version
  bin/internal/goldens.version
  packages/flutter/test/widgets/clip_test.dart
Labels: cla: yes

#29374 Revert "Manual engine roll with goldens"
  bin/internal/engine.version
  bin/internal/goldens.version
  packages/flutter/test/widgets/clip_test.dart
Labels: cla: yes

#29385 Skip Dialog interaction on macos
  packages/flutter/test/material/text_field_focus_test.dart
Labels: cla: yes

#29171 Only run codegen at start of flutter_test
  dev/bots/test.dart
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes, tool

#29250 Text field height attempt 2
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework

#29377 Roll engine to 403337ebb893380101d1fa9cc435ce9b6cfeb22c
  bin/internal/engine.version
  bin/internal/goldens.version
  packages/flutter/test/widgets/clip_test.dart
Labels: cla: yes

#29403 Disable widget inspector scroll test
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes

#29429 Roll engine 403337ebb893..b36068c3778c (10 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29389 Update SDK constraints to reflect the fact that set literals are being used
  dev/bots/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes

#28470 Throw assertion error when a Hero has a Hero child.
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/widgets/heroes_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#29407 [cupertino_icons] Add circle and circle_filled, for radio buttons.
  packages/flutter/lib/src/cupertino/icons.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#29369 Update README.md
  dev/bots/README.md
Labels: cla: yes, waiting for tree to go green

#29134 Properly escape Android SDK Manager path in error message
  packages/flutter_tools/lib/src/base/user_messages.dart
Labels: cla: yes, tool, waiting for tree to go green

#29383 --verbose-logging to verbose-logging in android
  packages/flutter_tools/lib/src/android/android_device.dart
Labels: cla: yes

#28004 Paint backgroundColor in CircularProgressIndicator
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/test/material/progress_indicator_test.dart
Labels: cla: yes, f: material design, framework

#29386 Use fs.identical to compare paths when finding the engine source path
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/runner/flutter_command_runner_test.dart
Labels: cla: yes

#29200 Cupertino localization step 1: add an English arb file
  dev/tools/gen_localizations.dart
  dev/tools/localizations_utils.dart
  packages/flutter/lib/src/cupertino/localizations.dart
  packages/flutter_localizations/lib/src/l10n/cupertino_en.arb
Labels: a: internationalization, cla: yes, f: cupertino, framework

#29258 Add dump-shader-skp flag to flutter tools
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
Labels: cla: yes, tool

#29441 Roll engine b36068c3778c..cad97fe7467c (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#29395 Fix text selection when user is dragging in the opposite direction
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: a: text input, cla: yes, framework

#29442 Align Snippet for API Docs
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, d: api docs, d: examples, framework

#29057 Fix Flex class docs by replacing 'vertical space' with 'space on its main axis' so that the language fits both column and row.
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, framework, waiting for tree to go green

#29332 add assert if length of TabController and number of tabs do not match
  packages/flutter/lib/src/material/tabs.dart
Labels: cla: yes, f: material design, framework

#29447 Roll engine cad97fe7467c..7da45be4a9af (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#28152 Improve hot reload performance
  dev/bots/pubspec.yaml
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/dart/dependencies.dart
  packages/flutter_tools/lib/src/dependency_checker.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands/attach_test.dart
  packages/flutter_tools/test/dart_dependencies_test.dart
  packages/flutter_tools/test/data/dart_dependencies_test/.dartignore
  packages/flutter_tools/test/data/dart_dependencies_test/asci_casing/.packages
  packages/flutter_tools/test/data/dart_dependencies_test/asci_casing/This_Import_Has_fuNNy_casING.dart
  packages/flutter_tools/test/data/dart_dependencies_test/asci_casing/analysis_options.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/asci_casing/main.dart
  packages/flutter_tools/test/data/dart_dependencies_test/asci_casing/pubspec.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/bad_import/analysis_options.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/bad_import/main.dart
  packages/flutter_tools/test/data/dart_dependencies_test/bad_import/pubspec.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/bad_package/.packages
  packages/flutter_tools/test/data/dart_dependencies_test/bad_package/analysis_options.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/bad_package/main.dart
  packages/flutter_tools/test/data/dart_dependencies_test/bad_package/pubspec.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/bad_path/.packages
  packages/flutter_tools/test/data/dart_dependencies_test/bad_path/analysis_options.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/bad_path/main.dart
  packages/flutter_tools/test/data/dart_dependencies_test/bad_path/pubspec.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/changed_sdk_location/.packages
  packages/flutter_tools/test/data/dart_dependencies_test/changed_sdk_location/lib/main.dart
  packages/flutter_tools/test/data/dart_dependencies_test/changed_sdk_location/pubspec.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/good/.packages
  packages/flutter_tools/test/data/dart_dependencies_test/good/analysis_options.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/good/foo.dart
  packages/flutter_tools/test/data/dart_dependencies_test/good/lib/bar.dart
  packages/flutter_tools/test/data/dart_dependencies_test/good/main.dart
  packages/flutter_tools/test/data/dart_dependencies_test/good/pubspec.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/syntax_error/.packages
  packages/flutter_tools/test/data/dart_dependencies_test/syntax_error/analysis_options.yaml
  packages/flutter_tools/test/data/dart_dependencies_test/syntax_error/foo.dart
  packages/flutter_tools/test/data/dart_dependencies_test/syntax_error/main.dart
  packages/flutter_tools/test/data/dart_dependencies_test/syntax_error/pubspec.yaml
  packages/flutter_tools/test/dependency_checker_test.dart
  packages/flutter_tools/test/devfs_test.dart
  packages/flutter_tools/test/hot_test.dart
  packages/flutter_tools/test/project_file_invalidator_test.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, t: hot reload, tool

#29456 Fix for sometimes packages file is an APK
  packages/flutter_tools/lib/src/resident_runner.dart
Labels: cla: yes

#29453 Roll engine 7da45be4a9af..0e0e0a98f511 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#27749 Switch flutter_tools from script to app-jit snapshot.
  bin/flutter
  bin/flutter.bat
  dev/bots/test.dart
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/train.dart
Labels: cla: yes, tool
