Repository flutter/flutter, pull requests merged in 2019-09, with the labels that each got.

#39625 Roll engine 4b22bc1bd9f2..501da6195ebd (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39671 Roll engine 501da6195ebd..62d880877362 (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39558 Filter error message from skip build script checks
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
Labels: cla: yes, tool

#39555 Use feature flags to control build command visibility
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/test/general.shard/commands/build_linux_test.dart
  packages/flutter_tools/test/general.shard/commands/build_macos_test.dart
  packages/flutter_tools/test/general.shard/commands/build_web_test.dart
  packages/flutter_tools/test/general.shard/commands/build_windows_test.dart
Labels: cla: yes, tool

#39577 Use dpr and window size from binding for accessibility guide
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/test/accessibility_window_test.dart
Labels: a: tests, cla: yes, framework

#39626 disable low value windows tests
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#39676 Roll engine 62d880877362..2baba33c8297 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39679 Roll engine 2baba33c8297..60406ad9fac9 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39682 Roll engine 60406ad9fac9..d250375fa6bc (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39157 Use new Maven artifacts from Gradle
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  examples/platform_view/android/app/build.gradle
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/gradle/resolve_dependencies.gradle
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/commands/precache_test.dart
  packages/flutter_tools/test/general.shard/commands/run_test.dart
Labels: cla: yes, t: gradle, tool

#37962 Show search app bar theme
  packages/flutter/lib/src/material/search.dart
  packages/flutter/test/material/search_test.dart
Labels: cla: yes, f: material design, framework

#39706 Roll engine d250375fa6bc..dcf5d6ab3447 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39702 Fix macOS App.framework version symlink
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
Labels: cla: yes, tool

#39709 Roll engine dcf5d6ab3447..3deb8f5e45e1 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39710 Roll engine 3deb8f5e45e1..51a376d73ba1 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39713 Roll engine 51a376d73ba1..e7f9ef6aa0b9 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39572 Prevent exception when creating a Divider borderSide
  packages/flutter/lib/src/material/divider.dart
  packages/flutter/test/material/divider_test.dart
Labels: cla: yes, f: material design, framework

#38726 Make disabled buttons/chips/text fields not be focusable.
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: CQ+1, cla: yes, f: material design, framework

#39289 CupertinoActivityIndicator & CupertinoApp dark mode
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/test/cupertino/activity_indicator_test.dart
  packages/flutter/test/cupertino/app_test.dart
  packages/flutter/test/cupertino/colors_test.dart
Labels: cla: yes, f: cupertino, framework

#39445 [flutter_tool] Add onError callback to asyncGuard. Use it in Doctor
  packages/flutter_tools/lib/src/base/async_guard.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/test/general.shard/base/async_guard_test.dart
  packages/flutter_tools/test/general.shard/commands/doctor_test.dart
Labels: cla: yes, tool

#39581 Update dartdoc to 0.28.5
  dev/bots/docs.sh
Labels: cla: yes, team

#39082 Golden Doc Updates
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: a: tests, cla: yes, d: api docs, d: examples, framework, waiting for tree to go green

#37901 [macos] Check for special keys before creating a logical key
  packages/flutter/lib/src/services/raw_keyboard_macos.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: a: desktop, cla: yes, framework, ⌘‬ platform-mac

#39580 Mark flutter_gallery__transition_perf as non-flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#39286 Update docs for GrowthDirection and scrollOffset
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/viewport.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#39142 fix sliverfixedextent with sliverchildbuilderdelegate does not correc…
  packages/flutter/lib/src/rendering/sliver_fixed_extent_list.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: cla: yes, f: scrolling, framework

#39503 Remove bitcode=NO from add-to-app flows
  dev/integration_tests/ios_add2app/ios_add2app.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  packages/flutter_tools/templates/module/ios/host_app_editable_cocoapods/Config.tmpl/Flutter.xcconfig
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Config.tmpl/Flutter.xcconfig
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.pbxproj.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Podfile.copy.tmpl
Labels: cla: yes, team, tool, waiting for tree to go green

#39751 Minor cleanup and prevent multiple exit
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool, ☸ platform-web

#39747 Fix type mismatch in Gradle
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool

#39756 remove web flag from create
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/commands/create.dart
Labels: cla: yes, tool

#39752 Add delay to recompile request for web
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
Labels: cla: yes, tool

#38481 Timer picker fidelity revision
  bin/internal/goldens.version
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: cla: yes, f: cupertino, framework, severe: API break, will affect goldens

#39701 Remove input files argument to target
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/exceptions_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
Labels: cla: yes, tool

#39768 Revert "Remove input files argument to target"
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/exceptions_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
Labels: cla: yes, tool

#39748 print launching on device message
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool, ☸ platform-web

#39215 CupertinoActionSheet dark mode & fidelity
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: cla: yes, f: cupertino, framework

#39781 Add lib/generated_plugin_registrant.dart to gitignore
  packages/flutter_tools/templates/app/.gitignore.tmpl
Labels: cla: yes, tool

#39784 Revert Maven dependencies (#39747) (39157)
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  examples/platform_view/android/app/build.gradle
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/gradle/resolve_dependencies.gradle
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/commands/precache_test.dart
  packages/flutter_tools/test/general.shard/commands/run_test.dart
Labels: cla: yes, d: examples, team, tool

#39589 Re-Land of HighlightMode change with benchmark improvements.
  packages/flutter/lib/src/foundation/observer_list.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/foundation/observer_list_test.dart
  packages/flutter/test/material/buttons_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
Labels: a: desktop, cla: yes, framework

#39539 Keep Flutter.framework binaries writable so they can be code signed
  .cirrus.yml
  packages/flutter_tools/bin/xcode_backend.sh
Labels: a: existing-apps, cla: yes, t: xcode, tool

#39783 Hotfix for 1.9.1
  bin/internal/engine.version
Labels: cla: yes, engine

#39583 Fix single action banner to ensure button alignment
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/test/material/banner_test.dart
Labels: cla: yes, f: material design, framework

#39772 These Catalina tests are no longer flaky.
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#39859 Revert "Keep Flutter.framework binaries writable so they can be code signed"
  .cirrus.yml
  packages/flutter_tools/bin/xcode_backend.sh
Labels: cla: yes, tool

#39786 Revert "Show search app bar theme"
  packages/flutter/lib/src/material/search.dart
  packages/flutter/test/material/search_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#39854 Roll engine e7f9ef6aa0b9..cd920398e40e (29 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39834 update to the latest package:dwds
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team

#39524 Register flutterVersion service in flutter_tools.
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, tool

#39579 [flutter_tools] Add a timeout to another showBuildSettings command
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool

#39440 Allow gaps in the initial route
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: cla: yes, f: routes, framework, severe: API break, ☸ platform-web

#39761 Null TextWidthBasis docs
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/widgets/text.dart
Labels: cla: yes, f: material design, framework

#39774 workaround for mangled web sdk source map packages
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
Labels: cla: yes, tool

#39776 handle browser refresh
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
Labels: cla: yes, tool

#39769 remove input files argument to target
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/exceptions_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
Labels: cla: yes, tool

#39778 Revert "Replace deprecated onReportTimings w/ frameTimings"
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/scheduler/scheduler_test.dart
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, cla: yes, framework

#39851 Build flutter_gallery with bitcode
  .cirrus.yml
  examples/flutter_gallery/ios/Podfile
  examples/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  examples/stocks/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: cla: yes, d: examples, t: xcode, team, team: gallery, waiting for tree to go green, ⌺‬ platform-ios

#39765 CupertinoButton & Bottom tab bar dark mode
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/test/cupertino/bottom_tab_bar_test.dart
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/material/tab_scaffold_test.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework

#39782 Allow specifying a project for Xcode getInfo
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/test/general.shard/commands/build_macos_test.dart
  packages/flutter_tools/test/general.shard/commands/clean_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes, tool

#39836 Switch to the Win32 Windows embedding
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/test/general.shard/build_system/targets/windows_test.dart
Labels: a: desktop, cla: yes, tool, ❖ platform-windows

#39912 Revert "Build flutter_gallery with bitcode"
  .cirrus.yml
  examples/flutter_gallery/ios/Podfile
  examples/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  examples/stocks/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: cla: yes, d: examples, team, team: gallery

#39198 Docs
  packages/flutter/lib/src/material/mergeable_material.dart
  packages/flutter/lib/src/material/shadows.dart
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/lib/src/painting/box_shadow.dart
  packages/flutter/lib/src/painting/shape_decoration.dart
  packages/flutter/lib/src/widgets/animated_cross_fade.dart
  packages/flutter/lib/src/widgets/animated_size.dart
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter_test/lib/src/finders.dart
Labels: a: tests, cla: yes, f: material design, framework

#38898 ToggleButtons test improvement
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/material/toggle_buttons_theme_test.dart
Labels: cla: yes, f: material design, framework

#39936 Roll engine cd920398e40e..edee1fea5850 (21 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39780 Updates CORS origin for snippets to a wildcard.
  dev/docs/firebase.json
Labels: cla: yes, team

#39942 Roll engine edee1fea5850..ef2a452124dc (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39535 Do not render any frames when just initializing Bindings
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/rendering/independent_layout_test.dart
  packages/flutter/test/widgets/binding_frame_scheduling_test.dart
  packages/flutter/test/widgets/independent_widget_layout_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, cla: yes, framework, severe: API break, waiting for tree to go green

#39932 update packages --force upgrade
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team

#39948 Roll engine ef2a452124dc..7bf306248259 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39917 Fix new prefer_const_constructors after analyzer fix.
  dev/integration_tests/image_loading/lib/main.dart
  dev/integration_tests/web/lib/main.dart
  dev/manual_tests/lib/focus.dart
  dev/manual_tests/lib/hover.dart
  examples/flutter_gallery/lib/demo/fortnightly/fortnightly.dart
  packages/flutter/test/widgets/color_filter_test.dart
  packages/flutter_driver/test/src/extension_test.dart
Labels: a: tests, cla: yes, d: examples, framework, team, team: gallery

#39953 Roll engine 7bf306248259..f4d930581c77 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#39364 Correct libraries path and remove dart:io and dart:isolate for dart platform
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
Labels: cla: yes, tool, ☸ platform-web

#39299 Add showAboutDialog sample
  packages/flutter/lib/src/material/about.dart
Labels: cla: yes, f: material design, framework

#39985 Revert "Correct libraries path and remove dart:io and dart:isolate for dart platform"
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
Labels: cla: yes, tool

#39079 fix widget built twice during warm up frame
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/test/widgets/nested_scroll_view_async_test.dart
  packages/flutter/test/widgets/run_app_async_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: cla: yes, f: scrolling, framework, severe: API break, waiting for tree to go green

#39927 Make CupertinoDynamicColor.resolve return null when given a null color
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/test/cupertino/colors_test.dart
Labels: cla: yes, f: cupertino, framework

#39333 Allow independent theming of Persistent and Modal bottom sheets Background Color
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/bottom_sheet_theme.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
Labels: cla: yes, f: material design, framework

#39950 Register reload sources call and make 'r' restart for web
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#39910 If there are no web plugins, don't generate a plugin registrant
  packages/flutter_tools/lib/src/plugins.dart
Labels: cla: yes, tool

#39988 Roll build runner and remove delay
  dev/integration_tests/android_views/pubspec.yaml
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team, tool, ☸ platform-web

#39585 remove fallback code for ios/usb artifacts
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
Labels: cla: yes, tool, waiting for tree to go green

#40004 Roll engine f4d930581c77..2c028435b3be (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40006 Roll engine 2c028435b3be..b9ce2500d9e5 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40012 Roll engine b9ce2500d9e5..7ea9884ab00e (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40005 Cherry-picks for 1.9.1
  bin/internal/engine.version
Labels: cla: yes, engine

#40017 Roll engine 7ea9884ab00e..50bdbd769eee (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40001 Update to latest dwds
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team

#40018 Roll engine 50bdbd769eee..c9ea4dba8da6 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40102 Lower the iterations on flutter_gallery__back_button_memory
  dev/devicelab/bin/tasks/flutter_gallery__back_button_memory.dart
  dev/devicelab/lib/framework/adb.dart
Labels: cla: yes, team

#40112 Revert engine roll
  bin/internal/engine.version
Labels: cla: yes, engine

#39934 remove dart dir chrome profile
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/general.shard/web/chrome_test.dart
Labels: cla: yes, tool

#40049 Use build runners script gen directly.
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/build_runner/build_script_generator.dart
Labels: cla: yes, tool

#40045 clean up use of build runner internals
  packages/flutter_tools/lib/src/build_runner/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/commands/build_web_test.dart
Labels: cla: yes, tool

#40099 Fix double.infinity serialization
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/test/foundation/diagnostics_test.dart
Labels: cla: yes, framework

#39632 Updates to debugFillProperties to test all properties in slider.dart and slider_test.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/test/material/slider_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#39670 Center action icons of swipe to dismiss example
  examples/flutter_gallery/lib/demo/material/leave_behind_demo.dart
Labels: cla: yes, d: examples, f: material design, team, team: gallery

#36998 Added properties in DropdownButtonFormField to match DropdownButton
  AUTHORS
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework

#40009 Add null check to _IndicatorPainter._tabOffsetsEqual() to prevent crash
  packages/flutter/lib/src/material/tabs.dart
Labels: cla: yes, customer: leafy (g3), f: material design, framework, severe: crash

#40131 ensure we use pub from flutter SDK
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
Labels: cla: yes, tool

#40119 fix skips to include all channels
  .cirrus.yml
Labels: cla: yes

#40155 Remove failing devicelab tests
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#39924 Adds DartPad option to the DartDoc snippet generator.
  dartdoc_options.yaml
  dev/docs/assets/snippets.css
  dev/snippets/config/skeletons/dartpad-application.html
  dev/snippets/lib/configuration.dart
  dev/snippets/lib/main.dart
  dev/snippets/lib/snippets.dart
  dev/snippets/test/configuration_test.dart
  dev/snippets/test/snippets_test.dart
  packages/flutter/lib/src/material/app_bar.dart
Labels: cla: yes, f: material design, framework, team

#40048 fix typo
  packages/flutter/lib/src/rendering/viewport.dart
Labels: cla: yes, framework, passed first triage, waiting for tree to go green

#39999 Disable the performance overlay for web
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: cla: yes, framework, ☸ platform-web

#39654 Use persisted build information to automatically clean old outputs
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
Labels: cla: yes, tool

#39997 Remove visibleForTesting annotation; this constructor is used outside…
  packages/flutter_tools/lib/src/version.dart
Labels: cla: yes, passed first triage, tool, waiting for tree to go green

#40105 Ensure frame is scheduled when root widget is attached
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/widgets/binding_attach_root_widget_test.dart
Labels: cla: yes, framework

#40117 Show outdated CocoaPods version in hint text
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/macos/cocoapods_validator.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_validator_test.dart
Labels: cla: yes, t: flutter doctor, tool, waiting for tree to go green

#40174 Keep Flutter.framework binaries writable so they can be code signed
  packages/flutter_tools/bin/xcode_backend.sh
Labels: cla: yes, tool

#40190 disable bitcode for hello_world
  examples/hello_world/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, d: examples, team

#40011 [windows] Searches for pre-release and 'all' Visual Studio installations
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/lib/src/windows/visual_studio_validator.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_validator_test.dart
Labels: cla: yes, tool, ❖ platform-windows

#39986 Enable Proguard by default on release mode
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/gradle/flutter_proguard_rules.pro
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/test/general.shard/channel_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
  packages/flutter_tools/test/general.shard/commands/upgrade_test.dart
  packages/flutter_tools/test/src/common.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool

#39983 Update the supported library set for Flutter for web
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_test/lib/flutter_test.dart
  packages/flutter_test/lib/src/_binding_io.dart
  packages/flutter_test/lib/src/_binding_web.dart
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/lib/src/_goldens_web.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
Labels: cla: yes, tool

#40200 Disable foundation tests since some are failing
  dev/bots/test.dart
Labels: cla: yes, team

#37508 build bundle with assemble
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/bundle_shim_test.dart
Labels: cla: yes, tool

#39951 Add "web" server device to allow running flutter for web on arbitrary browsers
  packages/flutter_tools/BUILD.gn
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/web/devices_test.dart
  packages/flutter_tools/test/general.shard/web/web_fs_test.dart
Labels: cla: yes, tool, ☸ platform-web

#40204 Revert "build bundle with assemble"
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/bundle_shim_test.dart
Labels: cla: yes, team, tool

#40007 CupertinoAlertDialog dark mode & CupertinoActionSheet fidelity
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: cla: yes, f: cupertino, framework

#40210 make sure we launch with dwds
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
Labels: cla: yes, tool

#40195 Make Swift plugin template swift-format compliant
  packages/flutter_tools/lib/src/plugins.dart
Labels: cla: yes, tool

#40194 Add an ephemeral directory to Windows projects
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/general.shard/commands/build_windows_test.dart
Labels: a: desktop, cla: yes, tool

#40159 [flutter_tool] Kill a timing-out process before trying to drain its streams
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
Labels: cla: yes, tool

#37526 catch errors during gradle update
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool

#40175 Ensure we send hot restart events for flutter web
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#40266 Lower the iteration count on back_button_memory test
  dev/devicelab/bin/tasks/flutter_gallery__back_button_memory.dart
Labels: cla: yes, team

#40259 remove io and isolate from libraries
  packages/flutter_tools/lib/src/build_runner/build_script.dart
Labels: cla: yes, tool

#40171 Place hot reload artifacts in a temp directory
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool

#40275 Manual roll of engine 7ea9884...5b94c8a (64 commits)
  bin/internal/engine.version
Labels: cla: yes, engine

#39844 Fix curve for popping heroes
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/widgets/heroes_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#40293 Roll engine 5b94c8ae84d0..28d7900ed767 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40282 Flip the default for proguard
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#39899 [flutter_tool] process.dart cleanup
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/android_emulator.dart
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/format.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/lib/src/commands/version.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/emulator.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_dev_finder.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_kernel_compiler.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_pm.dart
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_emulators.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/plist_parser.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/lib/src/windows/windows_device.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/ios/code_signing_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
Labels: cla: yes, tool

#40309 Roll engine 28d7900ed767..da84d59f64b1 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40294 fix copy command and remove resolve sync for macOS assemble
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
Labels: cla: yes, tool

#40304 Revert engine roll
  bin/internal/engine.version
Labels: cla: yes, engine

#40263 Fix crash on vswhere search from flutter doctor
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
Labels: cla: yes, severe: crash, t: flutter doctor, tool, ❖ platform-windows

#39857 Update ToggleButtons constraints default and add new constraints parameter
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/lib/src/material/toggle_buttons_theme.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/material/toggle_buttons_theme_test.dart
Labels: cla: yes, f: material design, framework, severe: new feature

#40390 a11y improvements for textfield
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#40301 Allow skipping webOnlyInitializePlatform in Flutter for Web
  packages/flutter_tools/lib/src/build_runner/build_script.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_runner/build_script_test.dart
  packages/flutter_tools/test/general.shard/commands/build_web_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/web/web_fs_test.dart
Labels: cla: yes, tool

#40302 Set DEFINES_MODULE for FlutterPluginRegistrant to generate modulemap
  .gitignore
  dev/devicelab/bin/tasks/module_test_ios.dart
  dev/integration_tests/ios_host_app/Host/ViewController.m
  dev/integration_tests/ios_host_app_swift/Host.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app_swift/Host.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_host_app_swift/Host.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/ios_host_app_swift/Host/AppDelegate.swift
  dev/integration_tests/ios_host_app_swift/Host/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/ios_host_app_swift/Host/Assets.xcassets/Contents.json
  dev/integration_tests/ios_host_app_swift/Host/Base.lproj/LaunchScreen.storyboard
  dev/integration_tests/ios_host_app_swift/Host/Base.lproj/Main.storyboard
  dev/integration_tests/ios_host_app_swift/Host/Info.plist
  dev/integration_tests/ios_host_app_swift/Host/SceneDelegate.swift
  dev/integration_tests/ios_host_app_swift/Host/ViewController.swift
  dev/integration_tests/ios_host_app_swift/Podfile
  packages/flutter_tools/lib/src/plugins.dart
Labels: a: existing-apps, cla: yes, team, tool

#40398 roll ios-deploy version to 2fbbee77ea2b3212959b9dddda816f59094cd7cd
  bin/internal/ios-deploy.version
Labels: cla: yes, tool

#40442 Roll engine 7ea9884..1b6344439 (91 commits 🔥🔥🔥)
  bin/internal/engine.version
Labels: cla: yes, engine

#40410 Remove fluter tool usage of protobuf
  packages/flutter_tools/lib/src/build_system/file_hash_store.dart
  packages/flutter_tools/lib/src/build_system/filecache.pb.dart
  packages/flutter_tools/lib/src/build_system/filecache.pbjson.dart
  packages/flutter_tools/lib/src/build_system/filecache.proto
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/build_system/filecache_test.dart
Labels: cla: yes, team, tool

#40440 Rename useProguard method, so Gradle doesn't get confused
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool, waiting for tree to go green

#40455 Roll engine 1b6344439062..7d8c6d9c1a5c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40458 Roll engine 7d8c6d9c1a5c..e12decfdd210 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40454 Dark Mode R: Refresh Control
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/refresh.dart
  packages/flutter/test/cupertino/refresh_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
Labels: cla: yes, f: cupertino, framework

#40469 Roll engine e12decfdd210..fdb7bbf3192a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40453 Enable R8
  dev/benchmarks/complex_layout/android/gradle.properties
  dev/benchmarks/macrobenchmarks/android/gradle.properties
  dev/benchmarks/microbenchmarks/android/gradle.properties
  dev/integration_tests/android_semantics_testing/android/gradle.properties
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/android/gradle.properties
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/android/gradle.properties
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/android/gradle.properties
  dev/integration_tests/android_views/android/gradle.properties
  dev/integration_tests/channels/android/gradle.properties
  dev/integration_tests/codegen/android/gradle.properties
  dev/integration_tests/external_ui/android/gradle.properties
  dev/integration_tests/flavors/android/gradle.properties
  dev/integration_tests/image_loading/android/gradle.properties
  dev/integration_tests/named_isolates/android/gradle.properties
  dev/integration_tests/platform_interaction/android/gradle.properties
  dev/integration_tests/release_smoke_test/android/gradle.properties
  dev/integration_tests/ui/android/gradle.properties
  examples/catalog/android/gradle.properties
  examples/flutter_gallery/android/gradle.properties
  examples/flutter_view/android/gradle.properties
  examples/hello_world/android/gradle.properties
  examples/image_list/android/gradle.properties
  examples/layers/android/gradle.properties
  examples/platform_channel/android/gradle.properties
  examples/platform_channel_swift/android/gradle.properties
  examples/platform_view/android/gradle.properties
  examples/stocks/android/gradle.properties
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/templates/app/android.tmpl/gradle.properties.tmpl
  packages/flutter_tools/templates/module/android/gradle/gradle.properties.tmpl
  packages/flutter_tools/templates/plugin/android.tmpl/gradle.properties.tmpl
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
Labels: a: accessibility, cla: yes, d: examples, team, team: gallery, tool, waiting for tree to go green

#40474 Roll engine fdb7bbf3192a..00c8941daeae (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#40465 Pass --web-hostname and --web-port to release mode debugging options
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
Labels: cla: yes, tool
