Repository flutter/flutter, pull requests merged in 2020-06, with the labels that each got.

#58372 Fix non-local-engine Linux release builds
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58421 Fix typo in error message for flutter doctor
  packages/flutter_tools/lib/src/base/user_messages.dart
Labels: cla: yes, tool, waiting for tree to go green

#58281 Revert flutter command to shlock when flock isn't available
  bin/internal/shared.sh
Labels: cla: yes

#58346 EditableText.bringIntoView calls showOnScreen
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#58137 Change iOS device discovery from polling to long-running observation
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/general.shard/base_utils_test.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool, waiting for tree to go green

#58430 [flutter_driver] make timeline request in chunks
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
Labels: a: tests, cla: yes, framework

#58436 Roll Engine from 923687f0e7ff to d501c49cce4c (5 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58332 [flutter_tools] cleanup to devfs Operations
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/src/common.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool

#58443 Roll Engine from d501c49cce4c to c5234bce6e9f (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58335 [flutter_tools] do not include material icon incorrectly
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
Labels: cla: yes, tool

#58188 [flutter_tools] only copy cached dill after startup
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#58449 Roll Engine from c5234bce6e9f to e39301f23f32 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58454 Revert "[flutter_tools] only copy cached dill after startup"
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#58444 Remove outdated disable_input_output_paths from example project Podfiles
  dev/integration_tests/flutter_gallery/ios/Podfile
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/release_smoke_test/ios/Podfile
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Flutter/Debug.xcconfig
  examples/platform_view/ios/Flutter/Release.xcconfig
  examples/platform_view/ios/Podfile
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Runner.xcworkspace/contents.xcworkspacedata
Labels: cla: yes, d: examples, platform-ios, team, tool, waiting for tree to go green

#58460 Roll Engine from e39301f23f32 to 5a085ac3c6a2 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58098 Added Documentation for AnimationController.repeat()
  packages/flutter/lib/src/animation/animation_controller.dart
Labels: cla: yes, framework

#58503 Do not assume imageCache is created when handleMemoryPressure is called
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/test/painting/image_cache_binding_test.dart
Labels: a: images, cla: yes, framework

#58499 [devicelab] mark ios transition_perf as non-flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#58448 InkWell uses MaterialStateMouseCursor and defaults to clickable
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: cla: yes, f: material design, framework

#57522 Add doc and test for Container's hitTest behavior
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/test/widgets/container_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#58509 Roll Engine from 5a085ac3c6a2 to 2a024ead01e7 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#58203 Various bits of trivial cleanup
  packages/flutter/lib/src/gestures/hit_test.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, framework, waiting for tree to go green

#58525 Revert "[flutter_tools] Put a heap size limit on the frontend_server"
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#56409 InteractiveViewer Widget
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: cla: yes, f: material design, framework, team, waiting for tree to go green

#58524 Remove outdated disable_input_output_paths from example project Podfiles
  dev/devicelab/bin/tasks/platform_view_ios__start_up.dart
  dev/integration_tests/flutter_gallery/ios/Podfile
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/release_smoke_test/ios/Podfile
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Flutter/Debug.xcconfig
  examples/platform_view/ios/Flutter/Release.xcconfig
  examples/platform_view/ios/Podfile
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Runner.xcworkspace/contents.xcworkspacedata
Labels: cla: yes, d: examples, team, waiting for tree to go green

#58522 Build iOS apps using Swift Packages
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/devicelab/bin/tasks/ios_app_with_extensions_test.dart
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/codegen/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/README.md
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/non_nullable/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/manual_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/catalog/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/hello_world/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/image_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/project_base_configuration_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, d: examples, team, tool, waiting for tree to go green

#57809 Stopped all animation controllers after toggleable has been detached.
  AUTHORS
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/checkbox_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#58513 benchmark updating many child layers
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_child_layers.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: cla: yes, team

#58204 Error message improvements
  packages/flutter/lib/src/painting/alignment.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#58520 Roll Engine from 2a024ead01e7 to 6589dcb2d459 (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58549 Revert "Build iOS apps using Swift Packages"
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/devicelab/bin/tasks/ios_app_with_extensions_test.dart
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/codegen/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/README.md
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/non_nullable/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/manual_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/catalog/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/hello_world/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/image_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/project_base_configuration_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, d: examples, team, tool

#58618 Revert "Don't elapse real time during IOSDevice.startApp tests"
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: cla: yes, tool

#58541 Fake out DeviceManager.getDevices in test
  packages/flutter_tools/test/general.shard/device_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#58530 [Line Heights] Add textHeightBehavior to SelectableText.
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#58545 Roll Engine from 6589dcb2d459 to 859d892f1fca (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58539 [flutter_tools] Allow the tool to suppress compilation errors.
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/codegen.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
  packages/flutter_tools/test/general.shard/compile_expression_test.dart
  packages/flutter_tools/test/general.shard/compile_incremental_test.dart
  packages/flutter_tools/test/general.shard/compile_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool

#58620 Make debugSemantics available to profile mode
  dev/integration_tests/flutter_gallery/test_driver/transitions_perf_test.dart
  packages/flutter/lib/src/rendering/object.dart
Labels: a: accessibility, a: tests, cla: yes, framework, team

#58617 Remove already covered devicelab test: tiles_scroll_perf_iphonexs__timeline_summary
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#58607 Revert "[flutter_tools] always initialize the resident runner from dill
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: a: accessibility, cla: yes, d: examples, engine, f: cupertino, f: material design, framework, team, tool

#58622 Don't elapse real time during IOSDevice.startApp tests
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/fallback_discovery.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#58551 [flutter_tools] iOS VM Service logs should include stderr
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_logger_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58557 [flutter_tools] remove handling of error that is fixed
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58350 More information about our error message APIs.
  packages/flutter/lib/src/foundation/assertions.dart
Labels: cla: yes, framework

#58621 Make it possible to remove nodes from traversal sort.
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter/test/widgets/shortcuts_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#58456 Update StandardCodec documentation with double alignment
  packages/flutter/lib/src/services/message_codecs.dart
Labels: cla: yes, documentation, framework, waiting for tree to go green

#58209 Pass MaterialButton.disabledElevation into RawMaterialButton
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/test/material/material_button_test.dart
Labels: cla: yes, f: material design, framework

#58154 Allow null value for CheckboxListTile
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#56531 feature: add usermessage when miss platform project
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/src/fake_devices.dart
Labels: cla: yes, tool

#58514 add rasterizer start times to timeline summaries
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#58644 Add FakeAsync to delay tests
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
Labels: cla: yes, team, tool

#58645 Move create project build tests to permeable command shard
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
Labels: cla: yes, team, tool

#58533 [flutter_tools] add flag for sound-null-safety, unify with experiments
  dev/bots/test.dart
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/build_info_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
Labels: a: null-safety, cla: yes, tool

#58544 Use fake command in analytics test
  packages/flutter_tools/test/general.shard/analytics_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#58647 Roll Engine from 859d892f1fca to 2608f2ee9f54 (9 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58655 debug mode warning text alignment
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#58646 Flutter 1.17.3 cherrypicks
  bin/internal/engine.version
Labels: a: accessibility, cla: yes, d: examples, engine, f: cupertino, f: material design, framework, team, tool

#58692 Revert "Roll Engine from 859d892f1fca to 2608f2ee9f54 (9 revisions)"
  bin/internal/engine.version
Labels: cla: yes, engine

#58688 [flutter_tools] unbreak g3 roll
  packages/flutter_tools/lib/src/compile.dart
Labels: tool, waiting for tree to go green

#58455 [flutter_tools] reland: copy dill after startup
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool

#58213 update build doc string to advocate avoiding doing tasks other than b…
  packages/flutter/lib/src/widgets/async.dart
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#58648 Add iOS new gallery perf test
  dev/devicelab/bin/tasks/new_gallery_ios__transition_perf.dart
  dev/devicelab/lib/tasks/new_gallery.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, severe: performance, team, waiting for tree to go green

#57511 Step 2 of 3: Change opt-in default for debugCheckHasMaterialLocalizations assertion on TextField
  packages/flutter/lib/src/material/text_field.dart
Labels: a: internationalization, a: text input, cla: yes, f: material design, framework, team, waiting for tree to go green

#57751 Step 2 of 3: Change opt-in default for useMaterialBorderRadius on Dialogs
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/dialog_test.dart
Labels: a: fidelity, a: quality, cla: yes, f: material design, framework, waiting for tree to go green

#57838 Add sample code of GestureDetector with no children
  packages/flutter/lib/src/widgets/gesture_detector.dart
Labels: cla: yes, d: api docs, d: examples, documentation, f: gestures, framework, waiting for tree to go green

#58653 [flutter_tools] avoid serving files outside of expected paths
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58698 Roll Engine from 859d892f1fca to d3427ddb8546 (17 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58709 Revert "Roll Engine from 859d892f1fca to d3427ddb8546 (17 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes

#58711 [flutter_tools] unbreak g3 usage of installHook
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes, tool, waiting for tree to go green

#58701 Increase delay to verify cause of flakiness
  dev/integration_tests/flutter_gallery/test_memory/memory_nav.dart
Labels: cla: yes, team, waiting for tree to go green

#58710 Roll Engine from 859d892f1fca to d3427ddb8546 (17 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58703 [flutter_tools] use -f when fetching tags
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: cla: yes, tool

#58390 use Expand-Archive and Compress-Archive in windows os utils
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
Labels: cla: yes, tool

#58650 Added MaterialStateProperty overlayColor to InkWell
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: cla: yes, f: material design, framework

#57907 flutter.gradle: collect list of Android plugins from .flutter-plugins-dependencies
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool

#58719 Revert "use Expand-Archive and Compress-Archive in windows os utils"
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
Labels: cla: yes, tool

#58720 Revert "Roll Engine from 859d892f1fca to d3427ddb8546 (17 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes

#58732 Revert "flutter.gradle: collect list of Android plugins from .flutter-plugins-dependencies"
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, tool

#57733 #57730 - Support custom shapes for ListTiles
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#57448 [flutter_tools] remove zone level overrides of verbose and daemon logging
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/general.shard/web/devices_test.dart
  packages/flutter_tools/test/integration.shard/daemon_mode_test.dart
  packages/flutter_tools/test/src/common.dart
Labels: cla: yes, tool

#58117 Minor correction to documentation for buttonColor
  packages/flutter/lib/src/material/button_theme.dart
Labels: cla: yes, d: api docs, f: material design, framework, waiting for tree to go green

#58715 Fix custom physics application in TabBarView
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: a: quality, cla: yes, f: material design, f: scrolling, framework, waiting for tree to go green

#58713 Don't require a specific Windows 10 SDK
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/lib/src/windows/visual_studio_validator.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_validator_test.dart
Labels: cla: yes, tool

#58736 Update engine hash for 1.19.0-4.0.pre
  bin/internal/engine.version
Labels: cla: yes, engine

#57644 Adds physics to the TabBar (#57416)
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#58751 Roll Engine from 859d892f1fca to 8cc760065b4d (29 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58798 [flutter_tools] don't use verbose when in doctor or help command
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
Labels: cla: yes, tool

#58800 Roll Engine from 8cc760065b4d to e87a05fbba78 (7 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58743 [flutter_tools] write sksl on exit
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
Labels: cla: yes, tool

#58817 [flutter_tools] remove deprecation warning on flutter format
  packages/flutter_tools/lib/src/commands/format.dart
  packages/flutter_tools/test/general.shard/commands/format_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58747 Add Android device build/OS/API Level information to logs.
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/test/adb_test.dart
Labels: cla: yes, team

#56794 [web & desktop] Hide all characters in a TextField, when obscureText is true on web & desktop
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework, platform-mac, platform-web, waiting for tree to go green

#57605 fix navigator observer announcement order
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#58826 Roll Engine from e87a05fbba78 to dbb57f1874fd (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58024 fix cupertino page route dismisses hero transition when swipe to the …
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#58754 Update build doc
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework, waiting for tree to go green

#58284 Send text error in JSON and print in tools
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, framework, tool

#58872 Revert "Send text error in JSON and print in tools"
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, framework, tool

#56638 Perf test with SkSL warm-up
  dev/devicelab/bin/tasks/cubic_bezier_perf_sksl_warmup__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, perf: speed, severe: performance, waiting for tree to go green

#58830 [flutter_tools] disable dartdev when calling snapshots directly
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_kernel_compiler.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58847 Roll Engine from dbb57f1874fd to ff6462e45779 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58885 Roll Engine from ff6462e45779 to c0365be2ab70 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58893 Roll Engine from c0365be2ab70 to bd7dd73b4744 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58899 Roll Engine from bd7dd73b4744 to 5709dc531814 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58903 Roll Engine from 5709dc531814 to 3f224d8e861f (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58929 Roll Engine from 3f224d8e861f to f38a197945e9 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58935 Roll Engine from f38a197945e9 to 8516b39dcdc8 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58946 Roll Engine from 8516b39dcdc8 to dfdd88deb7e3 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#58952 Roll Engine from dfdd88deb7e3 to c7f9725521c0 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#58838 Turn off flaky indicator for flutter_gallery__back_button_memory and flutter_gallery__memory_nav
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#58891 [flutter_tools] rename library to be less absurd
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/icon_tree_shaker.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/icon_tree_shaker_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/windows_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58887 [flutter_tools] only restrict devices based on arch + buildMode, not emulator status
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/linux/linux_device_test.dart
  packages/flutter_tools/test/general.shard/macos/macos_device_test.dart
  packages/flutter_tools/test/general.shard/web/devices_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
  packages/flutter_tools/test/src/fake_devices.dart
Labels: cla: yes, tool, waiting for tree to go green

#58842 [flutter_tools] fix capitalization in build commands
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
Labels: cla: yes, tool, waiting for tree to go green

#56641 Add 2 new keyboard types and infer keyboardType from autofill hints
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/services/autofill.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#58843 Restore some typography tests
  packages/flutter/test/material/typography_test.dart
Labels: cla: yes, f: material design, framework

#58994 Send text error in JSON and print in tools
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, framework, tool, waiting for tree to go green

#58815 Support work profiles and multiple Android users for run, install, attach, drive
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/install.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/install_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_start_test.dart
  packages/flutter_tools/test/general.shard/android/android_install_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, platform-android, tool, waiting for tree to go green

#59001 fix analysis on master
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: cla: yes, tool

#59002 Revert "Send text error in JSON and print in tools"
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, framework, tool

#58890 [flutter_tools] change service worker load to NOTICES
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool

#58971 Update animation.dart - Staggered animations: TweenSequences example
  packages/flutter/lib/animation.dart
Labels: cla: yes, framework

#58593 Add collapsed height param to SliverAppBar
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/widgets/sliver_appbar_opacity_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#59007 Roll Engine from c7f9725521c0 to f581f428e981 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#59009 Build iOS apps using Swift Packages
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/devicelab/bin/tasks/ios_app_with_extensions_test.dart
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/README.md
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/non_nullable/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/manual_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/catalog/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/hello_world/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/image_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/ios_migrator.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, d: examples, platform-ios, t: xcode, team, tool, waiting for tree to go green

#58535 Make _RenderSlider not be a semantics container
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/test/material/slider_test.dart
Labels: a: accessibility, cla: yes, f: focus, f: material design, framework

#58783 fix typo in macrobenchmarks/lib/main
  dev/benchmarks/macrobenchmarks/lib/main.dart
Labels: cla: yes, team

#59025 Revert "Build iOS apps using Swift Packages"
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/devicelab/bin/tasks/ios_app_with_extensions_test.dart
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/README.md
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/non_nullable/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/manual_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/catalog/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/hello_world/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/image_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/ios_migrator.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, d: examples, team, tool

#58259 enable Navigator.of to accept a navigator element and return its stat…
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#58808 Introduce inherited navigator observer and refactor hero controller
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#59011 Roll Engine from f581f428e981 to 5edd7666287c (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#59013 Make non-flaky tests as such
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#59023 add a help link to the default module template readme
  packages/flutter_tools/templates/module/common/README.md.tmpl
Labels: cla: yes, tool, waiting for tree to go green

#58820 Timeline summary contains CPU, GPU and Memory usage
  packages/flutter_driver/lib/src/driver/percentile_utils.dart
  packages/flutter_driver/lib/src/driver/profiling_summarizer.dart
  packages/flutter_driver/lib/src/driver/scene_display_lag_summarizer.dart
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
Labels: a: tests, cla: yes, framework, severe: performance, waiting for tree to go green

#59012 Release cache lock for commands after required artifacts are downloaded
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/generate.dart
  packages/flutter_tools/lib/src/commands/install.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#58871 [flutter_tools] use correct sdk path for analysis
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/dart/sdk.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/test_test.dart
Labels: cla: yes, tool

#59028 Roll Engine from 5edd7666287c to 580ab9c3c592 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#59035 Revert "[flutter_tools] use correct sdk path for analysis"
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/dart/sdk.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/test_test.dart
Labels: cla: yes, tool

#59081 [flutter_tools] Reland: use correct sdk path for analysis
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/dart/sdk.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/test_test.dart
Labels: cla: yes, tool

#59010 Scale input decorator label width
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#59014 Handle selection ranges where getBoxesForSelection returns an empty list
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#59015 fix overscroll position if there is sliver before center sliver in cu…
  packages/flutter/lib/src/widgets/overscroll_indicator.dart
  packages/flutter/test/widgets/overscroll_indicator_test.dart
Labels: cla: yes, f: scrolling, framework, waiting for tree to go green

#58879 [flutter_tools] support bundle-sksl-path on all desktop and mobile targets
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/general.shard/build_info_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/windows_test.dart
Labels: cla: yes, tool

#59018 Send text error in JSON and print in tools
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, framework, tool, waiting for tree to go green

#59026 [flutter_tools] Fix slow ios_device_start_prebuilt_test
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/fallback_discovery.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_install_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_project_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#59039 Roll Engine from 580ab9c3c592 to 6fd335671508 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#59083 [flutter_tools] include dart-defines in cached kernel name
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#56173 [flutter_tools] support flutter run -d edge
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/lib/src/web/web_validator.dart
  packages/flutter_tools/test/general.shard/web/devices_test.dart
Labels: cla: yes, tool

#59069 nnbd annotations in flutter_goldens_client
  packages/flutter_goldens_client/lib/skia_client.dart
Labels: cla: yes, waiting for tree to go green

#58649 Add per-test timeout to Cirrus tool general tests
  dev/bots/test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#58829 Step 3 of 3: Remove opt-in for useMaterialBorderRadius on Dialogs
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/pickers/date_picker_dialog.dart
  packages/flutter/lib/src/material/pickers/date_range_picker_dialog.dart
  packages/flutter/lib/src/material/time_picker.dart
Labels: a: fidelity, a: quality, cla: yes, f: material design, framework, waiting for tree to go green

#59087 [flutter_tools] create NotifyingLogger at the top level when running flutter run --machine or flutter attach --machine
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
Labels: cla: yes, tool
