Repository flutter/flutter, pull requests merged in 2020-09, with the labels that each got.

#64976 [flutter_tools] adjust index.html caching and insert cache busting URL in to main.dart.js/sw request
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool

#64848 [flutter_tools] add --config-only option to flutter build ios
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/integration.shard/build_ios_config_only_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#64885 Reland #61998 and update complex_layout ios files
  dev/benchmarks/complex_layout/android/settings.gradle
  dev/benchmarks/complex_layout/ios/.gitignore
  dev/benchmarks/complex_layout/ios/Flutter/Debug.xcconfig
  dev/benchmarks/complex_layout/ios/Flutter/Release.xcconfig
  dev/benchmarks/complex_layout/ios/Podfile
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/benchmarks/complex_layout/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/complex_layout/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/benchmarks/complex_layout/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  dev/benchmarks/complex_layout/ios/Runner/AppDelegate.swift
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/benchmarks/complex_layout/ios/Runner/Runner-Bridging-Header.h
  dev/benchmarks/complex_layout/lib/main.dart
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/complex_layout/test/measure_scroll_smoothness.dart
  dev/benchmarks/complex_layout/test_driver/measure_scroll_smoothness_test.dart
  dev/devicelab/bin/tasks/complex_layout_android__scroll_smoothness.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, cla: yes, framework, team, waiting for tree to go green

#64972 Roll Engine from c016319e1413 to 165abef0a2cb (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#64990 Revert "Reland #61998 and update complex_layout ios files"
  dev/benchmarks/complex_layout/android/settings.gradle
  dev/benchmarks/complex_layout/ios/.gitignore
  dev/benchmarks/complex_layout/ios/Flutter/Debug.xcconfig
  dev/benchmarks/complex_layout/ios/Flutter/Release.xcconfig
  dev/benchmarks/complex_layout/ios/Podfile
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/benchmarks/complex_layout/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/complex_layout/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/benchmarks/complex_layout/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  dev/benchmarks/complex_layout/ios/Runner/AppDelegate.swift
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/benchmarks/complex_layout/ios/Runner/Runner-Bridging-Header.h
  dev/benchmarks/complex_layout/lib/main.dart
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/complex_layout/test/measure_scroll_smoothness.dart
  dev/benchmarks/complex_layout/test_driver/measure_scroll_smoothness_test.dart
  dev/devicelab/bin/tasks/complex_layout_android__scroll_smoothness.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, cla: yes, framework, team

#64979 Expand Cupertino library comment
  packages/flutter/lib/cupertino.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#64992 Put the unbundled Linux executable in a subdirectory
  packages/flutter_tools/templates/app/linux.tmpl/CMakeLists.txt.tmpl
Labels: cla: yes, tool

#64974 Fix typo in large_image_changer_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/large_image_changer_test.dart
Labels: cla: yes, team, waiting for tree to go green

#64983 Share build command flag configuration on desktop
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
Labels: cla: yes, tool

#65033 Mark large_image_changer tests as not flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#64984 Flutter stable framework 1.20.3 cherrypicks
  bin/internal/engine.version
  examples/image_list/lib/main.dart
  packages/flutter/lib/src/foundation/_isolates_io.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter_localizations/test/material/time_picker_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
Labels: a: internationalization, cla: yes, d: examples, engine, f: material design, framework, team, tool

#64988 Add observatory Bonjour service to built iOS Info.plist bundle
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/test/general.shard/ios/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: cla: yes, platform-ios, t: xcode, team, tool

#61648 Proposal: deprecate autovalidate parameter of the Form, FormField and TextFormField widget
  dev/integration_tests/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/widgets/form.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#64780 Add FrameTiming delay to watchPerformance
  dev/integration_tests/flutter_gallery/test_driver/e2e_utils.dart
Labels: cla: yes, team, waiting for tree to go green

#64627 Slider and RangeSlider can be painted in a narrower constraint like other Material Wi…
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/slider_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#64977 Delete catalog generator android/ios tests
  dev/devicelab/bin/tasks/android_sample_catalog_generator.dart
  dev/devicelab/bin/tasks/ios_sample_catalog_generator.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/sample_catalog_generator.dart
  dev/devicelab/lib/tasks/save_catalog_screenshots.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#65109 Revert "Add observatory Bonjour service to built iOS Info.plist bundle"
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/test/general.shard/ios/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: cla: yes, team, tool

#63833 SizeTransition sample code
  packages/flutter/lib/src/widgets/transitions.dart
Labels: a: animation, cla: yes, d: api docs, d: examples, documentation, framework, waiting for tree to go green

#64834 Add --device-timeout flag to device-related commands
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/install.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes, platform-ios, tool, waiting for tree to go green

#64316 Add DataTableTheme to allow for themable DataTables
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/data_table_theme.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/material/data_table_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65042 Attempt to fix no-response bot.
  .github/no-response.yml
Labels: cla: yes, team, waiting for tree to go green

#65094 Fix InputDecoration contentPadding documentation words accent
  packages/flutter/lib/src/material/input_decorator.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#64978 devicelab: started averaging startup time for ios test
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, team, waiting for tree to go green

#64982 Update Gold for new endpoint
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens/test/json_templates.dart
  packages/flutter_goldens_client/lib/skia_client.dart
Labels: a: tests, cla: yes, framework, team, team: infra, waiting for tree to go green

#65060 Remove redundant import of dart:math
  packages/flutter/lib/src/material/slider.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#64715 Clamp TabController animation value when calc _DragAnimation.value
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: a: animation, cla: yes, f: material design, framework, waiting for tree to go green

#65112 [flutter_tools] exit with helpful message if where is missing on windows
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#65036 Update hintColor value for Material
  packages/flutter/lib/src/material/theme_data.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green, will affect goldens

#64403 [flutter_tools] flutter run should allow exit when make choose for devices.
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/general.shard/device_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#65114 [flutter_tools] fix screenshot command in release mode and help documentation
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#65138 Add observatory Bonjour service to built iOS Info.plist bundle
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/test/general.shard/ios/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: cla: yes, platform-ios, t: xcode, team, tool

#65141 Revert "Add observatory Bonjour service to built iOS Info.plist bundle"
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/test/general.shard/ios/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: cla: yes, team, tool

#65139 [flutter_tools] Update ios-deploy
  bin/internal/ios-deploy.version
Labels: cla: yes, waiting for tree to go green

#65142 Add observatory Bonjour service to built iOS Info.plist bundle
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/test/general.shard/ios/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: cla: yes, team, tool

#65140 [flutter_tools] update libimobiledevice and usbmuxd
  bin/internal/libimobiledevice.version
  bin/internal/usbmuxd.version
Labels: cla: yes

#65083 Update CupertinoIcons to cupertino_icons 1.0.0 based on SF Symbols
  packages/flutter/lib/src/cupertino/icons.dart
Labels: cla: yes, f: cupertino, framework

#65178 Roll Engine from 165abef0a2cb to e979c29a2a50 (42 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes

#65025 Move gen_l10n into flutter_tools
  dev/tools/localization/bin/gen_l10n.dart
  dev/tools/localization/bin/gen_subtag_registry.dart
  dev/tools/test/localization/localizations_utils_test.dart
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_templates.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_types.dart
  packages/flutter_tools/lib/src/localizations/language_subtag_registry.dart
  packages/flutter_tools/lib/src/localizations/localizations_utils.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: a: internationalization, cla: yes, team, tool

#65188 Revert "Roll Engine from 165abef0a2cb to e979c29a2a50 (42 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, engine

#64362 fix Container.clipBehaviour, clips the shadow in decoration
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/test/widgets/container_test.dart
Labels: a: quality, cla: yes, framework, waiting for tree to go green, will affect goldens

#65184 [flutter_tools] prevent creation of android devices if adb is not located
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
  packages/flutter_tools/test/general.shard/emulator_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#64750 Allow for arbitrary placement in SliverGrid
  packages/flutter/lib/src/rendering/sliver_grid.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: cla: yes, customer: google, f: scrolling, framework, waiting for tree to go green

#64745 [flutter_tools] rethrow process exceptions as tool exit from gradle build
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/convert.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
  packages/flutter_tools/test/general.shard/forbidden_imports_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/general.shard/testbed_test.dart
Labels: cla: yes, tool, waiting for customer response

#65054 Mark nonflaky tests as such
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#64002 Increase simple animation delay and duration
  dev/benchmarks/macrobenchmarks/test_driver/simple_animation_perf_test.dart
Labels: cla: yes, team

#62115 [flutter_tool] [web] Remove x-frame-options header during debug
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, tool

#64587 [flutter_tools] allow disabling pwa from build command, fix run release build caching
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool

#61593 remove flutter update-packages from tools-tests
  .cirrus.yml
Labels: cla: yes, tool, waiting for tree to go green

#64814 [flutter_tools] split project parsing/validation into separate function
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
Labels: cla: yes, tool

#65202 Revert "[flutter_tools] split project parsing/validation into separate function"
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
Labels: cla: yes, tool

#65196 Roll Engine from 165abef0a2cb to 3f05b521b939 (45 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#64101 ScaffoldMessenger
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/debug.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/snack_bar_theme_test.dart
Labels: a: quality, cla: yes, customer: money (g3), f: material design, framework, severe: API break, severe: new feature, team, waiting for tree to go green

#65125 [flutter_tools] add EACCES to list of immediate exit tool conditions
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
Labels: cla: yes, tool

#65257 Revert "ScaffoldMessenger"
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/debug.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/snack_bar_theme_test.dart
Labels: cla: yes, f: material design, framework

#64308 Add finders for enableFlutterDriverExtension
  packages/flutter_driver/lib/src/common/diagnostics_tree.dart
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/common/geometry.dart
  packages/flutter_driver/lib/src/common/gesture.dart
  packages/flutter_driver/lib/src/common/text.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/real_tests/extension_test.dart
  packages/flutter_driver/test/src/real_tests/find_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#65271 Cherry pick engine #20983
  bin/internal/engine.version
Labels: cla: yes, engine

#65273 Revert "Add finders for enableFlutterDriverExtension"
  packages/flutter_driver/lib/src/common/diagnostics_tree.dart
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/common/geometry.dart
  packages/flutter_driver/lib/src/common/gesture.dart
  packages/flutter_driver/lib/src/common/text.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/real_tests/extension_test.dart
  packages/flutter_driver/test/src/real_tests/find_test.dart
Labels: a: tests, cla: yes, framework

#65201 re-enable the post_backdrop_filter test with CPU/GPU measurements
  dev/benchmarks/macrobenchmarks/test_driver/post_backdrop_filter_perf_test.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#65216 Roll Engine from 3f05b521b939 to ac8b9c4c52ea (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#65135 Fix RangeMaintainingScrollPhysics
  dev/automated_tests/flutter_test/print_user_created_ancestor_expectation.txt
  dev/automated_tests/flutter_test/print_user_created_ancestor_no_flag_expectation.txt
  packages/flutter/lib/src/widgets/debug.dart
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/viewport.dart
  packages/flutter/test/widgets/range_maintaining_scroll_physics_test.dart
  packages/flutter/test/widgets/scroll_activity_test.dart
  packages/flutter_tools/test/commands.shard/permeable/test_test.dart
Labels: cla: yes, f: scrolling, framework, waiting for tree to go green

#65382 Revert "Add DataTableTheme to allow for themable DataTables (#64316)"
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/data_table_theme.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/material/data_table_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65049 Fixed the sliver appbar to have a fixed traversal order
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/widgets/sliver_semantics_test.dart
Labels: a: accessibility, cla: yes, f: material design, framework, waiting for tree to go green

#65275 Roll Engine from ac8b9c4c52ea to d1d848e8421e (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green, will affect goldens

#64840 Make Container always clip a decoration if it has a clip edge
  packages/flutter/lib/src/material/tab_indicator.dart
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/lib/src/painting/decoration.dart
  packages/flutter/lib/src/painting/flutter_logo.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/test/widgets/container_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework

#65276 Fix the test error of "Add finders for enableFlutterDriverExtension" and resubmit
  packages/flutter_driver/lib/src/common/diagnostics_tree.dart
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/common/geometry.dart
  packages/flutter_driver/lib/src/common/gesture.dart
  packages/flutter_driver/lib/src/common/text.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/real_tests/extension_test.dart
  packages/flutter_driver/test/src/real_tests/find_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#64791 Should have a guide for usage (and implementation) of ".of()"-style functions #4155
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework, waiting for tree to go green

#65051 Allow Developers to enable Accessibility testing on WebFlutterDriver and get the underlying webDriver
  examples/hello_world/test_driver/smoke_web_engine_test.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/lib/src/driver/web_driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
  packages/flutter_tools/lib/src/commands/drive.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#63884 updated_title_property_apidocs
  packages/flutter/lib/src/widgets/app.dart
Labels: cla: yes, d: api docs, documentation, framework, platform-web, waiting for tree to go green

#64267 [framework] make hit slop based on device pointer kind for drag/pan/scale gestures
  dev/benchmarks/microbenchmarks/lib/gestures/velocity_tracker_bench.dart
  packages/flutter/lib/src/gestures/constants.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/force_press.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/multidrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/scale.dart
  packages/flutter/lib/src/gestures/velocity_tracker.dart
  packages/flutter/lib/src/widgets/scroll_configuration.dart
  packages/flutter/test/gestures/events_test.dart
  packages/flutter/test/gestures/velocity_tracker_test.dart
  packages/flutter/test/widgets/range_maintaining_scroll_physics_test.dart
  packages/flutter/test/widgets/scroll_behavior_test.dart
Labels: a: desktop, cla: yes, f: gestures, framework

#63886 Add sample code for ScaleTransition
  packages/flutter/lib/src/widgets/transitions.dart
Labels: a: animation, cla: yes, d: api docs, d: examples, documentation, framework, waiting for tree to go green

#65415 Remove flutter_gallery_ios32__transition_perf test
  dev/devicelab/bin/tasks/flutter_gallery_ios32__transition_perf.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#64980 [flutter_tools] standardize patterns for integration.shard
  packages/flutter_tools/test/integration.shard/analyze_size_test.dart
  packages/flutter_tools/test/integration.shard/background_isolate_test.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
  packages/flutter_tools/test/integration.shard/coverage_collection_test.dart
  packages/flutter_tools/test/integration.shard/daemon_mode_test.dart
  packages/flutter_tools/test/integration.shard/debugger_stepping_test.dart
  packages/flutter_tools/test/integration.shard/debugger_stepping_web_test.dart
  packages/flutter_tools/test/integration.shard/downgrade_upgrade_integration_test.dart
  packages/flutter_tools/test/integration.shard/expression_evaluation_test.dart
  packages/flutter_tools/test/integration.shard/expression_evaluation_web_test.dart
  packages/flutter_tools/test/integration.shard/flutter_attach_test.dart
  packages/flutter_tools/test/integration.shard/flutter_gen_test.dart
  packages/flutter_tools/test/integration.shard/flutter_run_test.dart
  packages/flutter_tools/test/integration.shard/flutter_run_with_error_test.dart
  packages/flutter_tools/test/integration.shard/forbidden_imports_test.dart
  packages/flutter_tools/test/integration.shard/gen_l10n_test.dart
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
  packages/flutter_tools/test/integration.shard/lifetime_test.dart
  packages/flutter_tools/test/integration.shard/plist_parser_test.dart
  packages/flutter_tools/test/integration.shard/stateless_stateful_hot_reload_test.dart
  packages/flutter_tools/test/integration.shard/template_manifest_test.dart
  packages/flutter_tools/test/integration.shard/test_data/background_project.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_project.dart
  packages/flutter_tools/test/integration.shard/test_data/project.dart
  packages/flutter_tools/test/integration.shard/test_data/stateless_stateful_project.dart
  packages/flutter_tools/test/integration.shard/test_data/tests_project.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/integration.shard/test_utils.dart
  packages/flutter_tools/test/integration.shard/unit_coverage_test.dart
  packages/flutter_tools/test/integration.shard/vmservice_integration_test.dart
  packages/flutter_tools/test/integration.shard/web_run_test.dart
  packages/flutter_tools/test/src/common.dart
Labels: cla: yes, tool

#65185 fix text.dart documentation
  packages/flutter/lib/src/widgets/text.dart
Labels: cla: yes, framework

#63940 Add sample code to RelativePositionedTransition
  packages/flutter/lib/src/widgets/transitions.dart
Labels: a: animation, cla: yes, d: api docs, d: examples, documentation, framework, waiting for tree to go green

#65416 Re-land ScaffoldMessenger
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/debug.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/snack_bar_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#64795 Add sample code to RotationTransition
  packages/flutter/lib/src/widgets/transitions.dart
Labels: cla: yes, d: api docs, d: examples, documentation, framework, waiting for tree to go green

#65394 SliverGridLayout API docs improvements
  packages/flutter/lib/src/rendering/sliver_grid.dart
Labels: cla: yes, framework

#64855 Fixes issue, ReorderableListView destroys children even if their key-type wasn't changed
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/test/material/reorderable_list_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65392 Small documentation udpate
  packages/flutter/lib/src/widgets/image.dart
Labels: cla: yes, framework

#65434 [devicelab] Remove ~/.gradle after each devicelab task run
  dev/devicelab/lib/framework/runner.dart
Labels: cla: yes, team, waiting for tree to go green

#65481 Remove mac prod builder.
  dev/prod_builders.json
Labels: cla: yes, team

#64380 Fix TabBar jag when user interrupts ballistic scroll
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65127 [web] Don't show handles when selection change is caused by keyboard
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: a: text input, cla: yes, framework, platform-web, waiting for tree to go green

#65150 Expose 3 new methods with text metrics in RenderParagraph
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/rendering/paragraph_test.dart
Labels: a: typography, cla: yes, framework, waiting for tree to go green

#65492 Roll Engine from d1d848e8421e to f7c7b41f0a0c (34 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65460 Clarified '/' route in initialRoute docs
  packages/flutter/lib/src/widgets/app.dart
Labels: cla: yes, framework, waiting for tree to go green

#65490 [flutter_tools] remove globals from tracing and add unit tests
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/test/general.shard/tracing_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#65435 [flutter_tools] alternate the name of the dill file used for hot restart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool

#65493 Always use POSIX paths for generated CMake files
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool

#63649 gen_l10n: support string list as preferred-supported-locales, as documented
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: cla: yes, team, tool

#65507 Roll Engine from f7c7b41f0a0c to 564367b29781 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65513 Use cherry-pick engine 76240869bda39bb256bc061c9c8d7a81b13b8dae
  bin/internal/engine.version
Labels: cla: yes, engine

#65577 Mark `platform_views_scroll_perf_ios__timeline_summary` as flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#65555 Manual roll of Engine to fee6f9e5333472a1931d00f521252901d60e0c76
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, engine

#64432 Reland "Make sure all isolates start during flutter driver tests"
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
Labels: a: tests, cla: yes, d: examples, framework, team, waiting for tree to go green

#65566 Add mac builder in prod.
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#65250 Fixed Tooltip widget docs.
  packages/flutter/lib/src/material/tooltip.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65234 Update create templates to 1.0.0
  dev/devicelab/lib/tasks/integration_tests.dart
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
Labels: cla: yes, tool

#65383 Reland "Add DataTableTheme to allow for themable DataTables (#64316)"
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/data_table_theme.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/material/data_table_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65426 [flutter_tools] remove advice about running sdkmanager directly in favor of directing to flutter.dev
  packages/flutter_tools/lib/src/base/user_messages.dart
Labels: cla: yes, tool, waiting for tree to go green

#65511 Update Windows app template
  packages/flutter_tools/templates/app/windows.tmpl/flutter/.template_version
  packages/flutter_tools/templates/app/windows.tmpl/runner/flutter_window.cpp
  packages/flutter_tools/templates/app/windows.tmpl/runner/run_loop.cpp
  packages/flutter_tools/templates/app/windows.tmpl/runner/run_loop.h
Labels: cla: yes, tool, waiting for tree to go green

#65482 Revert "Re-land ScaffoldMessenger"
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/debug.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/snack_bar_theme_test.dart
Labels: cla: yes, f: material design, framework

#65199 Eliminate the need for the mockito package in animated_icons_private_test
  packages/flutter/lib/src/material/animated_icons.dart
  packages/flutter/lib/src/material/animated_icons/animated_icons.dart
  packages/flutter/test/material/animated_icons_private_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65571 Roll forward package:test to 1.16.0-nullsafety.4 to prepare for package:vm_service 5.0.0+1
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, tool, waiting for tree to go green

#65194 Disables test failing due to new semantics flag.
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, cla: yes, framework

#65592 Roll Engine from fee6f9e53334 to e831433a20ca (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65578 Add mac builders to try configurations.
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#65607 Roll Engine from e831433a20ca to bdaac368f85f (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65618 Roll Engine from bdaac368f85f to a0bd862cc0d4 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#65639 Roll Engine from a0bd862cc0d4 to 983b0ef16407 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#65635 Revert "Reland "Make sure all isolates start during flutter driver tests""
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#63910 Improve Stepper controlsBuilder docs
  packages/flutter/lib/src/material/stepper.dart
Labels: cla: yes, d: api docs, documentation, f: material design, framework, waiting for tree to go green

#65432 Fix InteractiveViewer minScale bug
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#65660 Revert "Reland "Make sure all isolates start during flutter driver te…
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
Labels: a: tests, cla: yes, framework

#65313 Bug fix where MouseScrollWheel zoom in flutter-web does not execute onInteraction functions
  AUTHORS
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#65623 Remove invalid assert in daemon
  packages/flutter_tools/lib/src/commands/daemon.dart
Labels: cla: yes, tool, waiting for tree to go green

#65602 Reland "perf test for measuring scroll smoothness"
  dev/benchmarks/complex_layout/android/settings.gradle
  dev/benchmarks/complex_layout/ios/.gitignore
  dev/benchmarks/complex_layout/ios/Podfile
  dev/benchmarks/complex_layout/ios/Runner/AppDelegate.swift
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/benchmarks/complex_layout/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/benchmarks/complex_layout/ios/Runner/Runner-Bridging-Header.h
  dev/benchmarks/complex_layout/lib/main.dart
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/complex_layout/test/measure_scroll_smoothness.dart
  dev/benchmarks/complex_layout/test_driver/measure_scroll_smoothness_test.dart
  dev/devicelab/bin/tasks/complex_layout_android__scroll_smoothness.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, cla: yes, framework, team, waiting for tree to go green

#65643 Roll Engine from 983b0ef16407 to 78f968e317c2 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#65579 Move the registration of the restoration channel to binding initialization
  packages/flutter/lib/src/services/restoration.dart
  packages/flutter/test/services/channel_buffers_test.dart
  packages/flutter/test/services/restoration.dart
Labels: cla: yes, framework, waiting for tree to go green

#63808 New benchmark: bench_mouse_region_mixed_grid_hover
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_mouse_region_mixed_grid_hover.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: cla: yes, team

#65126 fix overlay entry remove to remove itself from the overlay first if i…
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: a: animation, cla: yes, f: routes, framework, waiting for tree to go green

#65666 Roll Engine from 78f968e317c2 to 545b1b9fcd33 (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#63996 fuchsia_remote_debug_protocol allows open port on remote device
  packages/flutter_driver/lib/src/common/fuchsia_compat.dart
  packages/fuchsia_remote_debug_protocol/lib/src/common/network.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
  packages/fuchsia_remote_debug_protocol/test/fuchsia_remote_connection_test.dart
Labels: a: tests, cla: yes, framework, tool

#64487 migrate cubic_bezier_perf to e2e
  dev/benchmarks/macrobenchmarks/.gitignore
  dev/benchmarks/macrobenchmarks/test/cubic_bezier_perf_e2e.dart
  dev/devicelab/bin/tasks/cubic_bezier_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/cubic_bezier_perf_sksl_warmup__e2e_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#65671 Roll Engine from 545b1b9fcd33 to 16b900b63e27 (5 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#64240 Add sample code to FadeTransition
  packages/flutter/lib/src/widgets/transitions.dart
Labels: cla: yes, d: api docs, d: examples, documentation, framework, waiting for tree to go green

#65675 Roll Engine from 16b900b63e27 to 43cb9b709291 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#65701 Roll Engine from 43cb9b709291 to 4a5e29ac645d (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65707 Roll Engine from 4a5e29ac645d to a585979c7ab6 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65704 Revert "fuchsia_remote_debug_protocol allows open port on remote device"
  packages/flutter_driver/lib/src/common/fuchsia_compat.dart
  packages/fuchsia_remote_debug_protocol/lib/src/common/network.dart
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
  packages/fuchsia_remote_debug_protocol/test/fuchsia_remote_connection_test.dart
Labels: a: tests, cla: yes, framework, tool

#65712 Roll Engine from a585979c7ab6 to 097facfac32e (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#65731 Roll Engine from 097facfac32e to 2fc054147e57 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65793 Match benchmark iOS project bundle identifiers
  dev/benchmarks/platform_views_layout/ios/Runner/Info.plist
  dev/benchmarks/platform_views_layout_hybrid_composition/ios/Runner/Info.plist
Labels: cla: yes, platform-ios, team

#65787 Flutter Stable Framework Cherrypicks 1.20.4
  bin/internal/ios-deploy.version
Labels: a: internationalization, cla: yes, d: examples, engine, f: material design, framework, team, tool, work in progress; do not review

#64930 Add CompositedTransformFollower.{followerAnchor, leaderAnchor} for custom anchoring
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/widgets/composited_transform_test.dart
Labels: a: layout, cla: yes, framework, waiting for tree to go green

#65791 [ci] remove create offline tests
  dev/bots/test.dart
  dev/devicelab/bin/tasks/flutter_create_offline_test_linux.dart
  dev/devicelab/bin/tasks/flutter_create_offline_test_mac.dart
  dev/devicelab/bin/tasks/flutter_create_offline_test_windows.dart
  dev/devicelab/lib/tasks/integration_tests.dart
Labels: cla: yes, team, waiting for tree to go green

#65797 [flutter_tools] fix failure to create ansi spinner if download needs to be retired
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/artifact_updater_test.dart
Labels: cla: yes, tool

#65418 [flutter_tools] handle terminals that do not support single char mode in Terminal.promptForCharInput
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/test/general.shard/base/terminal_test.dart
Labels: cla: yes, tool

#65503 Improve docs of ImageFiltered and BackdropFilter
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/image_filter.dart
Labels: cla: yes, framework, waiting for tree to go green

#65509 Sort generated plugin file content by plugin name
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#65000 [LayoutBuilder] Implements baseline logic to pass baseline to child
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/test/widgets/baseline_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#65765 Update flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: cla: yes, tool, waiting for tree to go green

#65696 Minor Windows app template updates
  packages/flutter_tools/templates/app/windows.tmpl/runner/CMakeLists.txt
  packages/flutter_tools/templates/app/windows.tmpl/runner/flutter_window.h
  packages/flutter_tools/templates/app/windows.tmpl/runner/main.cpp.tmpl
  packages/flutter_tools/templates/app/windows.tmpl/runner/run_loop.cpp
  packages/flutter_tools/templates/app/windows.tmpl/runner/run_loop.h
  packages/flutter_tools/templates/app/windows.tmpl/runner/utils.h
  packages/flutter_tools/templates/app/windows.tmpl/runner/win32_window.h
  packages/flutter_tools/templates/app/windows.tmpl/runner/window_configuration.cpp.tmpl
  packages/flutter_tools/templates/app/windows.tmpl/runner/window_configuration.h
  packages/flutter_tools/templates/template_manifest.json
Labels: cla: yes, tool, waiting for tree to go green

#65769 Roll Engine from 2fc054147e57 to 257eba9c19b5 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65799 Updated references to obsolete Material button classes in benchmarks/test_apps/stocks
  dev/benchmarks/test_apps/stocks/lib/stock_home.dart
  dev/benchmarks/test_apps/stocks/lib/stock_settings.dart
Labels: cla: yes, team, waiting for tree to go green

#65809 Roll Engine from 257eba9c19b5 to 7e962ba91133 (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#63272 Remove back button when using end drawer
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65320 Add onSelectionChanged into SelectableText widget
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#65833 Roll Engine from 7e962ba91133 to c6121c5d515c (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#65861 fix nullability of ScrollMetrics
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/page_view.dart
Labels: cla: yes, framework
