Repository flutter/flutter, pull requests merged in 2020-07, with the labels that each got.

#60645 Revert "Tweaking Material Chip a11y semantics to match buttons (#60141)"
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#58482 Expose ComputePlatformResolvedLocale
  packages/flutter/lib/src/widgets/binding.dart
Labels: a: internationalization, cla: yes, customer: money (g3), framework, waiting for tree to go green

#60659 Roll Engine from 2dc202d82388 to 712f619737f1 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#60684 Enable shouldCapTextScaleForTitle by default in AppBarTheme
  packages/flutter/lib/src/material/app_bar_theme.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60685 Roll Engine from 712f619737f1 to 88a8e9db1806 (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#60717 1.19 CP: Fix daemon device discovery crash when Xcode isn't installed (#60546)
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
Labels: CQ+1, cla: yes

#60723 add a timeout to dashing
  dev/bots/docs.sh
Labels: cla: yes, team

#60394 Show hint when label is floating
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60481 Adding ColorFiltered "Widget of the week" video to docs.
  packages/flutter/lib/src/widgets/color_filter.dart
Labels: cla: yes, framework, waiting for tree to go green

#60532 InteractiveViewer with a changing screen size
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#60658 [flutter_tools] fix crash if grouped doctor validator crashes
  packages/flutter_tools/lib/src/reporting/events.dart
  packages/flutter_tools/test/general.shard/reporting/events_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#60708 [flutter_tools] support starting in canvaskit with FLUTTER_WEB_USE_SKIA=true
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: tool, waiting for tree to go green

#60742 Roll Engine from 88a8e9db1806 to 65ac8be350ad (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#60693 Typo sweep
  dev/integration_tests/flutter_gallery/lib/demo/material/backdrop_demo.dart
  dev/integration_tests/flutter_gallery/test/demo/material/text_form_field_demo_test.dart
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/widgets/inherited_theme.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/sliver_fill.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_pm.dart
Labels: a: tests, cla: yes, f: cupertino, f: material design, framework, team, tool, waiting for tree to go green

#60760 Roll Engine from 65ac8be350ad to 51ca1432b3be (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#60824 Update engine hash to cherry-pick version a751393
  bin/internal/engine.version
Labels: cla: yes, engine

#60320 Have AndroidViewController extend PlatformViewController and add support for hybrid platform views
  dev/benchmarks/platform_views_layout/lib/android_platform_view.dart
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/services/platform_views_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: cla: yes, framework, team, waiting for tree to go green

#60554 Web macrobenchmark: bench_mouse_region_grid_hover now tests hitTestDuration
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_mouse_region_grid_hover.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_mouse_region_grid_scroll.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
Labels: cla: yes, team, waiting for tree to go green

#60563 ListTile mouse pointer fix
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60790 Roll Engine from 51ca1432b3be to f8bbcc396ba9 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#60478 Fix remaining holes in stack trace demangling
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/stack_frame.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/foundation/stack_frame_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/test/bindings_async_gap_test.dart
  packages/flutter_test/test/demangle_test.dart
Labels: a: tests, cla: yes, framework

#60916 Revert "Fix remaining holes in stack trace demangling"
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/stack_frame.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/foundation/stack_frame_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/test/bindings_async_gap_test.dart
  packages/flutter_test/test/demangle_test.dart
Labels: a: tests, cla: yes, framework

#60774 await TimelineSummary.write***ToFile
  dev/benchmarks/complex_layout/test_driver/scroll_perf_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/util.dart
  dev/benchmarks/platform_views_layout/test_driver/scroll_perf_test.dart
  dev/benchmarks/test_apps/stocks/test_driver/scroll_perf_test.dart
  dev/integration_tests/flutter_gallery/test_driver/scroll_perf_test.dart
Labels: a: tests, cla: yes, team

#60668 Roll tester version
  dev/bots/test.dart
Labels: cla: yes, team

#60586 Issues/58053 - Set default textBaseline to alphabetic in the Table widget
  AUTHORS
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/test/widgets/table_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#60623 Take screenshots of wirelessly paired iOS devices
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
Labels: platform-ios, tool

#60832 Fix typo in popup_menu.dart
  packages/flutter/lib/src/material/popup_menu.dart
Labels: cla: yes, f: material design, framework

#60629 Switch Windows to CMake
  packages/flutter_tools/bin/vs_build.bat
  packages/flutter_tools/lib/src/cmake.dart
  packages/flutter_tools/lib/src/linux/application_package.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/windows/application_package.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/lib/src/windows/property_sheet.dart
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/lib/src/windows/visual_studio_project.dart
  packages/flutter_tools/lib/src/windows/visual_studio_solution_utils.dart
  packages/flutter_tools/templates/app/windows.tmpl/AppConfiguration.props.tmpl
  packages/flutter_tools/templates/app/windows.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/app/windows.tmpl/FlutterBuild.vcxproj
  packages/flutter_tools/templates/app/windows.tmpl/Runner.sln
  packages/flutter_tools/templates/app/windows.tmpl/Runner.vcxproj.filters
  packages/flutter_tools/templates/app/windows.tmpl/Runner.vcxproj.tmpl
  packages/flutter_tools/templates/app/windows.tmpl/flutter/.template_version
  packages/flutter_tools/templates/app/windows.tmpl/flutter/CMakeLists.txt
  packages/flutter_tools/templates/app/windows.tmpl/runner/CMakeLists.txt
  packages/flutter_tools/templates/app/windows.tmpl/scripts/bundle_assets_and_deps.bat
  packages/flutter_tools/templates/app/windows.tmpl/scripts/prepare_dependencies.bat
  packages/flutter_tools/templates/plugin/windows.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin/windows.tmpl/PluginInfo.props.tmpl
  packages/flutter_tools/templates/plugin/windows.tmpl/include/projectName.tmpl/projectName_plugin.h.tmpl
  packages/flutter_tools/templates/plugin/windows.tmpl/plugin.vcxproj.filters
  packages/flutter_tools/templates/plugin/windows.tmpl/plugin.vcxproj.tmpl
  packages/flutter_tools/templates/plugin/windows.tmpl/projectName_plugin.cpp.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/windows/property_sheet_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_project_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_solution_utils_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
Labels: cla: yes, tool

#59883 Refactor mouse hit testing system: Direct mouse hit test
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/hit_test.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/test/gestures/hit_test_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/listener_deprecated_test.dart
  packages/flutter/test/widgets/mouse_region_test.dart
Labels: a: mouse, cla: yes, f: material design, framework, waiting for tree to go green

#60497 Keyboard navigation fo the Material Date Range Picker
  packages/flutter/lib/src/material/pickers/calendar_date_picker.dart
  packages/flutter/lib/src/material/pickers/calendar_date_range_picker.dart
  packages/flutter/lib/src/material/pickers/date_picker_common.dart
  packages/flutter/test/material/date_range_picker_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60549 RangeSlider overlap properly
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/range_slider_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60951 Roll Engine from f8bbcc396ba9 to 0e9b2508439a (24 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#60955 Set engine version to head containing cherrypicks
  bin/internal/engine.version
Labels: cla: yes, engine

#60136 Add more documentation on why tests might hang when using runAsync
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#60957 Roll Engine from 0e9b2508439a to f22ac9da9c78 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#60764 Support customizing colors for rows in DataTable
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/data_table_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60927 [flutter_tools] fix crash if the platform section was a list
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
Labels: cla: yes, tool

#60787 [flutter_tools] remove some globals from flutter_tester device
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
Labels: cla: yes, tool

#60930 Add `embedderId` to `PointerEvent`
  bin/internal/engine.version
  dev/integration_tests/android_views/lib/wm_integrations.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/services/platform_views.dart
Labels: cla: yes, framework

#61010 Revert "Add `embedderId` to `PointerEvent` (#60930)"
  bin/internal/engine.version
  dev/integration_tests/android_views/lib/wm_integrations.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/services/platform_views.dart
Labels: cla: yes, engine, framework, team

#60996 Reland "Fix remaining holes in stack trace demangling""
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/stack_frame.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/foundation/stack_frame_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/test/bindings_async_gap_test.dart
  packages/flutter_test/test/demangle_test.dart
Labels: a: tests, cla: yes, framework

#61034 Roll packages
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/lib/vitool.dart
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, tool

#59966 Added a filterQuality parameter to texture
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/texture.dart
  packages/flutter/lib/src/widgets/texture.dart
  packages/flutter/test/widgets/texture_test.dart
Labels: a: quality, a: video, cla: yes, framework, waiting for tree to go green

#60660 In layers_test create a canvas to start recording on the PictureRecorder
  packages/flutter/test/rendering/layers_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#60836 Expose height and width factor in AnimatedAlign
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/widgets/align_test.dart
  packages/flutter/test/widgets/animated_align_test.dart
Labels: a: animation, cla: yes, framework, waiting for tree to go green

#60726 Doc and Error Message Improvements
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/painting/box_border.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/sliver_grid.dart
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/lib/src/widgets/animated_size.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/localizations.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
Labels: a: animation, a: annoyance, a: error message, a: quality, a: text input, cla: yes, d: api docs, d: examples, documentation, f: cupertino, f: material design, framework, waiting for tree to go green

#61013 Re-land gesture detection for hybrid platform views
  bin/internal/engine.version
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/MotionEventCodec.java
  dev/integration_tests/android_views/lib/motion_event_diff.dart
  dev/integration_tests/android_views/lib/wm_integrations.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/services/platform_views.dart
Labels: engine, framework, team

#60730 Remove superfluous GestureDetector.
  packages/flutter/lib/src/material/about.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60991 [Material] Misc fixes for time picker input mode
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60998 [flutter_tools] deprecate flutter version
  packages/flutter_tools/lib/src/commands/version.dart
  packages/flutter_tools/test/commands.shard/hermetic/version_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61003 [flutter_tools] make precache force blow away stamp files
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#61025 benchmark memory usage for grid view of memory intensive widgets
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/heavy_grid_view.dart
  dev/benchmarks/macrobenchmarks/test_memory/heavy_gridview.dart
  dev/devicelab/bin/tasks/fast_scroll_heavy_gridview__memory.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#61064 Handle git dependencies, roll packages to get transitive deps of flutter_gallery
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#61062 Mark new test as not flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#61090 Roll Engine from d0d6a4c2362d to 0dc86cda19d5 (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#57349 Device manager choose running device
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/general.shard/device_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61000 Remove shouldCapTextScaleForTitle from AppBarTheme
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/app_bar_theme.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61019 InteractiveViewer pan axis locking
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#61066 Issue with comparison operator in generated service worker
  packages/flutter_tools/lib/src/build_system/targets/web.dart
Labels: cla: yes, tool, waiting for tree to go green

#61035 Fix bug where dispose message requires a map
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/test/services/fake_platform_views.dart
Labels: cla: yes, framework

#60932 [flutter_tools] add sdk constraint to plugin/package templates
  packages/flutter_tools/templates/package/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
Labels: cla: yes, tool

#61109 Revert "Expose height and width factor in AnimatedAlign "
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/widgets/align_test.dart
  packages/flutter/test/widgets/animated_align_test.dart
Labels: cla: yes, framework

#61102 Fix PointerAddedEvent handling in LiveTestWidgetsFlutterBinding
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/test/live_binding_test.dart
Labels: a: tests, cla: yes, framework

#61118 Fix #61102 line wrapping
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#61128 Update tester to latest version
  dev/bots/test.dart
Labels: team

#60734 Add comment explain dispatchEvent override
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, cla: yes, documentation, framework

#60482 Fix docs for TabBar indicator
  packages/flutter/lib/src/material/tabs.dart
Labels: cla: yes, d: api docs, documentation, f: material design, framework, waiting for tree to go green

#60536 Issues/58665 reland and prevent the material widget from absorbing gesture
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/material_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61126 Roll Engine from 0dc86cda19d5 to 0ec6f6c3f255 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#61129 [flutter_tools] fix recursive asset variant issue
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#60200 [flutter_tools] Clean code analyze command
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
Labels: cla: yes, engine, tool, waiting for tree to go green

#60915 [AppBar] adds leadingWidth property to customize width of leading widget
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60621 Add a flag to toggle navigator route update reporting
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/route_notification_messages_test.dart
Labels: cla: yes, f: routes, framework, waiting for tree to go green

#60934 Skip Audit - Scheduler and Services libraries
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: a: quality, a: tests, cla: yes, framework, team, waiting for tree to go green

#60925 fix semantics to only send relevant node update
  packages/flutter/lib/src/semantics/binding.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/semantics/semantics_update_test.dart
Labels: a: accessibility, cla: yes, framework, waiting for tree to go green

#61012 prevents sliver app bar from changing semantics tree when it is not n…
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/widgets/sliver_semantics_test.dart
Labels: a: accessibility, f: material design, framework, waiting for tree to go green

#61103 [flutter_tools] ensure AppRunLogger is injected for run/attach machine
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#60654 Only try the GDK X11 backend, as the FlView only currently supports X11
  packages/flutter_tools/templates/app/linux.tmpl/main.cc
Labels: cla: yes, tool

#60936 Skip Audit - Widgets Library
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/baseline_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/ensure_visible_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter/test/widgets/image_filter_test.dart
  packages/flutter/test/widgets/image_headers_test.dart
  packages/flutter/test/widgets/image_test.dart
  packages/flutter/test/widgets/list_view_fling_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/opacity_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
  packages/flutter/test/widgets/shader_mask_test.dart
  packages/flutter/test/widgets/text_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: a: quality, a: tests, cla: yes, framework, team, waiting for tree to go green

#61127 Test update_packages for git packages
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/general.shard/update_packages_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#60956 Assert valid composing TextRange
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#61033 Do not cache itemBuilder calls in a GridView
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/grid_view_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#60600 Fix and address Inconsistencies with Pashto support
  dev/tools/localization/bin/gen_missing_localizations.dart
  packages/flutter_localizations/lib/src/l10n/README.md
  packages/flutter_localizations/lib/src/l10n/generated_material_localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_ps.arb
Labels: a: internationalization, cla: yes, f: material design

#58640 Skip Audit - Rendering Library
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/localized_fonts_test.dart
  packages/flutter/test/rendering/paragraph_test.dart
  packages/flutter/test/rendering/positioned_box_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/rendering/sliver_cache_test.dart
  packages/flutter/test/rendering/viewport_test.dart
Labels: a: quality, a: tests, cla: yes, framework, team, waiting for tree to go green

#59702 New Button Universe
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/contained_button.dart
  packages/flutter/lib/src/material/contained_button_theme.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/outlined_button_theme.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/material/text_button_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/button_style_test.dart
  packages/flutter/test/material/contained_button_test.dart
  packages/flutter/test/material/contained_button_theme_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/outlined_button_theme_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/text_button_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60337 Add ThemeData.shadowColor
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/flat_button_test.dart
  packages/flutter/test/material/material_button_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/raised_button_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#60591 [flutter_tools] Separate style and data from AnalysisError
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#60632 Add locales for fil(filipino) and gsw(swiss german) to locale list, Fixes #60631
  dev/tools/localization/gen_l10n_types.dart
Labels: a: internationalization, cla: yes, team, tool, waiting for tree to go green

#60931 Add all system cursors (framework)
  packages/flutter/lib/src/rendering/mouse_cursor.dart
Labels: a: desktop, a: mouse, cla: yes, framework, waiting for tree to go green

#61177 use nnbd deps
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/abstract_method_smoke_test/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/named_isolates/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web/pubspec.yaml
  dev/integration_tests/web_compile_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: team, tool

#61171 Fix FloatingActionButtonLocation for additional test case
  packages/flutter/lib/src/material/floating_action_button_location.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
Labels: a: quality, f: material design, framework, waiting for tree to go green

#61179 Roll Engine from 0ec6f6c3f255 to a48f05f8332d (6 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#61086 Added the materialTapTargetSize to the OutlineButton Constructor
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/test/material/outline_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61187 Roll Engine from a48f05f8332d to 9b3e3410f026 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#61141 Add additional GTK keycodes for enter and tab
  dev/tools/gen_keycodes/data/key_data.json
  dev/tools/gen_keycodes/data/key_name_to_gtk_name.json
Labels: cla: yes, team

#61140 Case insensitive check flavor names against Xcode schemes
  dev/integration_tests/flavors/ios/Runner.xcodeproj/xcshareddata/xcschemes/free.xcscheme
  dev/integration_tests/flavors/ios/Runner.xcodeproj/xcshareddata/xcschemes/paid.xcscheme
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes, platform-ios, t: xcode, team, tool

#60940 Skip Audit - Last Leftovers
  packages/flutter/test/animation/animation_sheet_test.dart
  packages/flutter/test/cupertino/text_selection_test.dart
  packages/flutter/test/material/progress_indicator_test.dart
  packages/flutter/test/material/slider_test.dart
Labels: a: quality, a: tests, cla: yes, f: cupertino, f: material design, framework, team, waiting for tree to go green

#61198 [flutter_tools] allow unmuting of command logging
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61196 Prefer tear offs to lambdas in test expects
  packages/flutter_tools/test/general.shard/base/fingerprint_test.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/build_system/file_store_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/mdns_discovery_test.dart
  packages/flutter_tools/test/general.shard/reporting/events_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, team, tool

#61191 [flutter_tools] switch order of injection
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61071 [Api docs] Updates ListTile.subtitle docs to address how TextStyle is decided
  packages/flutter/lib/src/material/list_tile.dart
Labels: cla: yes, d: api docs, f: material design, framework, waiting for tree to go green

#61199 remove LICENSE/NOTICES work around
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/test/services/binding_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#61201 [flutter_tools] abstract logger construction (why can't I hold all these loggers)
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61139 [flutter_tools] remove globals from device manager, flutter tester
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
Labels: cla: yes, tool

#61185 Filter profiling events by names not category
  packages/flutter_driver/lib/src/driver/profiling_summarizer.dart
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
Labels: a: tests, cla: yes, framework, severe: performance

#61253 [flutter_tools] deflake integration test with tryToDelete
  packages/flutter_tools/test/integration.shard/command_output_test.dart
Labels: cla: yes, tool

#60796 Add support in WidgetTester for an array of inputs
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/test_pointer.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: animation, a: tests, cla: yes, f: gestures, framework

#61048 Re-land "Tweaking Material Chip a11y semantics to match buttons (#60141)"
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: a: accessibility, cla: yes, customer: money (g3), f: material design, framework, waiting for tree to go green

#59114 Add support for Dart Development Service (DDS) in Flutter Tools
  dev/tracing_tests/test/image_painting_event_test.dart
  packages/flutter_tools/lib/src/base/dds.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/fallback_discovery.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/ios/fallback_discovery_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/flutter_attach_test.dart
  packages/flutter_tools/test/integration.shard/flutter_run_with_error_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/integration.shard/vmservice_integration_test.dart
Labels: cla: yes, team, tool

#61276 Revert "Add support for Dart Development Service (DDS) in Flutter Tools"
  dev/tracing_tests/test/image_painting_event_test.dart
  packages/flutter_tools/lib/src/base/dds.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/fallback_discovery.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/ios/fallback_discovery_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/flutter_attach_test.dart
  packages/flutter_tools/test/integration.shard/flutter_run_with_error_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/integration.shard/vmservice_integration_test.dart
Labels: team, tool

#61256 Fix bold not getting cleared on new line
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61270 Update engine hash for 1.20.0-7.1.pre
  bin/internal/engine.version
  dev/bots/test.dart
Labels: CQ+1, cla: yes, engine

#61265 Added web compiler debug metadata
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
  packages/flutter_tools/test/general.shard/web/web_expression_compiler_test.dart
Labels: cla: yes, team, tool

#60939 Add a benchmark that focuses on Paint object performance
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_draw_rect.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: cla: yes, team

#61123 This fixes an error in the form field example
  packages/flutter/lib/src/material/text_form_field.dart
Labels: cla: yes, d: api docs, f: material design, framework, waiting for tree to go green

#61257 [devicelab] This no-op change marks 3 tests to run on LUCI builders.
  dev/devicelab/lib/framework/manifest.dart
  dev/devicelab/manifest.yaml
  dev/devicelab/test/manifest_test.dart
Labels: cla: yes, team, team: infra, waiting for tree to go green

#61262 Renamed ContainedButton et al. to ElevatedButton et al.
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/contained_button_theme.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/elevated_button_theme.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/outlined_button_theme.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/elevated_button_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61203 Remove v1 Android create templates
  dev/devicelab/bin/tasks/module_host_with_custom_build_test.dart
  dev/devicelab/bin/tasks/module_test.dart
  dev/integration_tests/android_host_app/README.md
  dev/integration_tests/android_host_app/app/build.gradle
  dev/integration_tests/android_host_app/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_host_app/app/src/main/java/io/flutter/add2app/MainActivity.java
  dev/integration_tests/android_host_app/build.gradle
  dev/integration_tests/android_host_app/gradle.properties
  dev/integration_tests/android_host_app/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/android_host_app/settings.gradle
  dev/integration_tests/module_host_with_custom_build/README.md
  dev/integration_tests/module_host_with_custom_build/app/build.gradle
  dev/integration_tests/module_host_with_custom_build/app/src/main/AndroidManifest.xml
  dev/integration_tests/module_host_with_custom_build/app/src/main/java/io/flutter/addtoapp/MainActivity.java
  dev/integration_tests/module_host_with_custom_build/build.gradle
  dev/integration_tests/module_host_with_custom_build/gradle.properties
  dev/integration_tests/module_host_with_custom_build/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/module_host_with_custom_build/settings.gradle
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/android-java.tmpl/app/src/main/java/androidIdentifier/MainActivity.java.tmpl
  packages/flutter_tools/templates/app/android-kotlin.tmpl/app/src/main/kotlin/androidIdentifier/MainActivity.kt.tmpl
  packages/flutter_tools/templates/app/android.tmpl/app/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/src/main/java/androidIdentifier/host/MainActivity.java.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/flutter.iml.copy.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/src/main/java/io/flutter/facade/Flutter.java.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/src/main/java/io/flutter/facade/FlutterFragment.java.tmpl
  packages/flutter_tools/templates/module/android/library/include_flutter.groovy.copy.tmpl
  packages/flutter_tools/templates/module/android/library/settings.gradle.copy.tmpl
  packages/flutter_tools/templates/plugin/android-java.tmpl/src/main/java/androidIdentifier/pluginClass.java.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/src/main/kotlin/androidIdentifier/pluginClass.kt.tmpl
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/features_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#61135 Add spaces between sentences in create --platforms help text
  packages/flutter_tools/lib/src/commands/create.dart
Labels: cla: yes, tool, waiting for tree to go green

#61180 [Material] Allow for customizing Snack bar margin, padding, and width
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61258 Adds semantics information for the popup menu item
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61377 Revert "Adds semantics information for the popup menu item (#61258)"
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: cla: yes, f: material design, framework

#61190 Mouse events report correct local positions
  packages/flutter/lib/src/rendering/mouse_cursor.dart
  packages/flutter/lib/src/rendering/mouse_tracking.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/test/rendering/mouse_tracking_cursor_test.dart
  packages/flutter/test/rendering/mouse_tracking_test.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/mouse_region_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#61359 Add a flag for using WebSockets for the Dart Debug extension backend service
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61371 Make ThemeData.shadowColor the default shadowColor in TextButton et al.
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/elevated_button_theme_test.dart
  packages/flutter/test/material/outlined_button_theme_test.dart
  packages/flutter/test/material/text_button_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61370 Remove the default shortcut mapping for GameButtonB.
  packages/flutter/lib/src/widgets/app.dart
Labels: cla: yes, framework, waiting for tree to go green

#61368 Add widget of the week videos to documentation
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/lib/src/material/divider.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/lib/src/widgets/notification_listener.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/lib/src/widgets/tween_animation_builder.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#61104 Document the addition of LRM and RLM characters
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: cla: yes, framework, waiting for tree to go green

#61209 Optionally invert oversized images
  packages/flutter/lib/src/painting/debug.dart
  packages/flutter/lib/src/painting/decoration_image.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: a: debugging, a: error message, a: images, cla: yes, framework, tool

#61205 Migrate Android views e2e to the new embedding
  dev/integration_tests/android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/MainActivity.java
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/SimplePlatformView.java
  dev/integration_tests/android_views/android/app/src/main/java/io/flutter/integration/androidviews/SimpleViewFactory.java
  dev/integration_tests/android_views/lib/motion_event_diff.dart
Labels: cla: yes, team

#61194 Roll Engine from 9b3e3410f026 to f10f17257300 (1 revision)
  bin/internal/engine.version
Labels: severe: API break, waiting for tree to go green, will affect goldens

#61178 [flutter_tools] cleanups to web runner functionality
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/general.shard/web/chrome_test.dart
  packages/flutter_tools/test/general.shard/web/web_validator_test.dart
  packages/flutter_tools/test/integration.shard/test_data/basic_project.dart
  packages/flutter_tools/test/integration.shard/web_run_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#61392 Update Card example and shadowColor default
  packages/flutter/lib/src/material/card.dart
  packages/flutter/test/material/card_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#61375 issue 61346 route can be added and disposed in the same frame
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#61385 reland "Adds semantics information for the popup menu item (#61258)"
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: a: accessibility, cla: yes, f: material design, framework, team, waiting for tree to go green

#61394 Update the Scaffold examples; use the new button classes
  packages/flutter/lib/src/material/scaffold.dart
Labels: cla: yes, f: material design, framework

#60640 expose route settings for showModalBottomSheet
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: cla: yes, f: material design, f: routes, framework, waiting for tree to go green

#61406 Update the golden image comparator to handle read-only image ByteData views
  packages/flutter_test/lib/src/_goldens_io.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#61408 Add the ability to ignore lines from coverage depending on comments
  packages/flutter_tools/lib/src/test/coverage_collector.dart
Labels: cla: yes, tool, waiting for tree to go green

#61347 [ListTile] adds new properties to customize the tile color
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework, severe: new feature, waiting for tree to go green

#61435 Roll Engine from f10f17257300 to 1e23309a386e (55 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes

#60179 Implement new activity indicator for iOS14
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/test/cupertino/activity_indicator_test.dart
Labels: cla: yes, f: cupertino, framework

#61424 Update documentation
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/material/ink_highlight.dart
  packages/flutter/lib/src/material/ink_splash.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/painting/clip.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/lib/src/widgets/text.dart
Labels: cla: yes, f: material design, framework

#61461 Roll Engine from 1e23309a386e to 2da58aa5810f (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#61455 Improve error reporting for RenderObject visitChildren errors
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/widgets/render_object_widget_test.dart
Labels: cla: yes, framework

#61457 Add assert to Table to check for rows with null children
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/test/widgets/table_test.dart
Labels: cla: yes, framework

#61411 [flutter_tools] add the feature for single widget reloads
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#61413 [flutter_tools] update fastReassemble method for single widget reloads
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/integration.shard/vmservice_integration_test.dart
Labels: cla: yes, framework, tool

#61471 Roll Engine from 2da58aa5810f to 4a2bf61a3037 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#61474 Fix Border.symmetric: phase 1
  packages/flutter/lib/src/painting/box_border.dart
  packages/flutter/test/painting/border_test.dart
Labels: cla: yes, framework, waiting for tree to go green
