Repository flutter/flutter, pull requests merged in 2020-11, with the labels that each got.

#69518 AdoptAWidget: Tooltip
  packages/flutter/lib/src/material/tooltip.dart
Labels: adopt a widget, cla: yes, f: material design, framework, waiting for tree to go green

#69509 AdoptAWidget: aspectRatio
  packages/flutter/lib/src/widgets/basic.dart
Labels: adopt a widget, cla: yes, framework, waiting for tree to go green

#69503 AdoptAWidget: FittedBox
  packages/flutter/lib/src/widgets/basic.dart
Labels: adopt a widget, cla: yes, d: api docs, framework, waiting for tree to go green

#69521 AdoptAWidget: AbsorbPointer
  packages/flutter/lib/src/widgets/basic.dart
Labels: adopt a widget, cla: yes, framework, waiting for tree to go green

#69513 AnimatedPositioned
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: adopt a widget, cla: yes, framework, waiting for tree to go green

#69530 AdoptAWidget: MaterialBanner
  packages/flutter/lib/src/material/banner.dart
Labels: adopt a widget, cla: yes, f: material design, framework, waiting for tree to go green

#69532 Add Scaffold to Tooltip code samples
  packages/flutter/lib/src/material/tooltip.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69557 AdoptAWidget: SliverWithKeepAliveWidget (#69470)
  packages/flutter/lib/src/widgets/sliver.dart
Labels: cla: yes, framework, waiting for tree to go green

#69399 [RadioListTile] Adds shape, tileColor and selectedTileColor to RadioListTile
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/test/material/radio_list_tile_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69527 Update Draggable API Docs
  packages/flutter/lib/src/widgets/drag_target.dart
Labels: cla: yes, framework, waiting for tree to go green

#69535 AdoptAWidget: Dismissible
  packages/flutter/lib/src/widgets/dismissible.dart
Labels: adopt a widget, cla: yes, framework, waiting for tree to go green

#68854 [flutter_tools] Support zipped application bundles for macOS
  packages/flutter_tools/lib/src/macos/application_package.dart
  packages/flutter_tools/test/general.shard/macos/application_package_test.dart
Labels: cla: yes, tool

#69419 AutocompleteCore => RawAutocomplete
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: cla: yes, framework

#69422 [a11y] do not attach onTap semantics if no onTap handler is provided to InkWell
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: cla: yes, f: material design, framework

#69550 [flutter_tools] add canvaskit hot reload integration test
  packages/flutter_tools/test/integration.shard/hot_reload_web_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: cla: yes, tool

#66039 fix mouse wheel scroll miscontrol of ScrollPosition.
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/scroll_position_with_single_context.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
Labels: a: desktop, a: mouse, cla: yes, f: scrolling, framework, waiting for tree to go green

#66257 Actually consume top padding in bottomsheet if scrollcontrolled
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#68199 Fix/issue 68182: Fix rounding issue in getMaxChildIndexForScrollOffset
  packages/flutter/lib/src/rendering/sliver_fixed_extent_list.dart
  packages/flutter/test/rendering/sliver_fixed_extent_layout_test.dart
Labels: cla: yes, f: scrolling, framework, waiting for tree to go green

#69594 Fix textfield messing with user-supplied input formatter list
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#69596 Updated the button.icon factory constructors for NNBD
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: cla: yes, f: material design, framework

#69567 Offstage Docs Sample
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, framework

#68905 Remove `nullOk` parameter from Cupertino color resolution APIs
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/icon_theme_data.dart
  packages/flutter/lib/src/cupertino/interface_level.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/page_scaffold.dart
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/scrollbar.dart
  packages/flutter/lib/src/cupertino/slider.dart
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/cupertino/colors_test.dart
Labels: cla: yes, d: examples, f: cupertino, f: material design, framework, team

#69633 mark flaky tests as flaky
  dev/prod_builders.json
  packages/flutter_tools/test/integration.shard/hot_reload_web_test.dart
Labels: cla: yes, team, tool

#68911 Add maybeLocaleOf to Localizations
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/localizations.dart
  packages/flutter/test/widgets/localizations_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#69612 Build App.framework directly to build directory
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
Labels: cla: yes, t: xcode, tool, waiting for tree to go green

#69641 Revert "Build App.framework directly to build directory"
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
Labels: cla: yes, tool

#69547 [flutter_tools] remove unused or no longer useful code
  packages/flutter_tools/lib/src/android/android_emulator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/base/common.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
Labels: cla: yes, tool, waiting for tree to go green

#69555 AdoptAWidget: SnackBar
  packages/flutter/lib/src/material/snack_bar.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69575 [ExpansionTile] adds collapsedBackgroundColor property
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69654 removed `an` and used `a`
  packages/flutter/lib/src/material/banner.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69614 Remove usage of --enable-experiment to analysis server
  packages/flutter/test_private/analysis_options.yaml
  packages/flutter/test_private/bin/test_private.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
Labels: cla: yes, engine, framework, tool

#69696 mark flutter_gallery__transition_perf_e2e_ios32 flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#69447 [devicelab] reboot attached devices after 30 test runs
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/framework/framework.dart
Labels: cla: yes, team

#69592 [flutter_tools] support --extra-gen-snapshot-options everywhere --extra-front-end-options is specified
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: cla: yes, tool

#69624 Say [APP] instead of [Gallery] in web benchmarks
  dev/devicelab/lib/tasks/web_benchmarks.dart
Labels: cla: yes, team, waiting for tree to go green

#69703 Revert "[devicelab] reboot attached devices after 30 test runs"
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/framework/framework.dart
Labels: cla: yes, team

#69630 Update plugins dependencies for the Gallery test
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/lib/demo/video_demo.dart
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: a: null-safety, a: tests, cla: yes, team, tool

#69693 Update dartdoc to 0.36.2
  dev/bots/docs.sh
Labels: cla: yes, team, waiting for tree to go green

#69631 Revert TextField.adaptive
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework

#69699 Build App.framework directly to build directory
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
Labels: cla: yes, t: xcode, team, tool

#69710 [devicelab] re-land cocoon auto-restart
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/framework/framework.dart
Labels: cla: yes, team

#69709 Roll Engine from 346051939814 to 59b01e0e5a3f (35 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green, will affect goldens

#69728 Disable web expression evaluation tests
  packages/flutter_tools/test/integration.shard/expression_evaluation_web_test.dart
Labels: cla: yes, tool

#68171 Make TabBar indicator color automatic adjustment optional
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69731 Compile snapshot_assembly with sdk root set in Xcode
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_framework_test.dart
  packages/flutter_tools/test/general.shard/base/build_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool, waiting for tree to go green

#69457 Enable customization of TabBar's InkWell
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69610 Make header optional in PaginatedDataTable
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/test/material/paginated_data_table_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69644 Center the AnimatedPositioned code sample
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#69713 ButtonStyle style side should default to shape.side
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69450 [flutter_tools] do not reload sources if no sources changed
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool

#63683 Tab bar improvements
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: cla: yes, f: material design, framework

#69798 fix hot reload benchmark data
  packages/flutter_tools/lib/src/run_hot.dart
Labels: cla: yes, tool

#69803 Mark prod_builders tests as not flaky
  dev/prod_builders.json
Labels: cla: yes, team

#69802 disable hot reload web tests on CI due to flakes
  packages/flutter_tools/test/integration.shard/hot_reload_web_test.dart
Labels: cla: yes, tool

#69828 Fix prod_builders json
  dev/prod_builders.json
Labels: cla: yes, team

#69736 Methods in build_ios_framework for universal and XCFrameworks
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
Labels: a: existing-apps, cla: yes, platform-ios, tool, waiting for tree to go green

#69793 Do not crash if RichText has recognizers without handlers
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/widgets/rich_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#68751 router.dart: fix grammer mistake
  packages/flutter/lib/src/widgets/router.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#68735 Improve backbuttondispatcher
  packages/flutter/lib/src/widgets/router.dart
  packages/flutter/test/widgets/router_test.dart
Labels: cla: yes, framework

#68774 [gen_l10n] Make resource attributes optional for simple cases
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_types.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: a: internationalization, cla: yes, tool

#69732 Cancel drag or hold when scrolling is disabled.
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/widgets/scrollable_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#69812 fix typo in RenderChip.computeMaxIntrinsicWidth implementation
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69568 AdoptAWidget: Shortcut
  packages/flutter/lib/src/widgets/shortcuts.dart
Labels: cla: yes, framework

#69831 [null-safety] update Dart SDK constraints
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_test/pubspec.yaml
Labels: cla: yes, team

#69629 Initial migration of metrics_center
  dev/benchmarks/metrics_center/lib/google_benchmark.dart
  dev/benchmarks/metrics_center/lib/src/common.dart
  dev/benchmarks/metrics_center/pubspec.yaml
  dev/benchmarks/metrics_center/test/common.dart
  dev/benchmarks/metrics_center/test/example_google_benchmark.json
  dev/benchmarks/metrics_center/test/google_benchmark_test.dart
  dev/benchmarks/metrics_center/test/utility.dart
  dev/bots/test.dart
Labels: cla: yes, severe: performance, team, team: infra

#69364 Fix: fix android studio 4.1 plugin path for macOS
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#69848 Revert "Initial migration of metrics_center"
  dev/benchmarks/metrics_center/lib/google_benchmark.dart
  dev/benchmarks/metrics_center/lib/src/common.dart
  dev/benchmarks/metrics_center/pubspec.yaml
  dev/benchmarks/metrics_center/test/common.dart
  dev/benchmarks/metrics_center/test/example_google_benchmark.json
  dev/benchmarks/metrics_center/test/google_benchmark_test.dart
  dev/benchmarks/metrics_center/test/utility.dart
  dev/bots/test.dart
Labels: cla: yes, team

#69749 Roll Engine from 59b01e0e5a3f to c7391d6b12c3 (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#69837 Run more xcodebuild commands in native arm on Apple Silicon
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes, platform-ios, t: xcode, tool, waiting for tree to go green

#69783 Reduce refresh indicator pull-down distance
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/test/material/refresh_indicator_test.dart
Labels: cla: yes, f: material design, framework

#69850 Roll Engine from c7391d6b12c3 to bf259226b224 (16 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#69854 Revert "[null-safety] update Dart SDK constraints (#69831)"
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_test/pubspec.yaml
Labels: cla: yes, team

#69846 Remove add-to-app Xcode build phase input files
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl
Labels: a: existing-apps, cla: yes, t: xcode, tool

#69857 Roll Engine from bf259226b224 to e66a720137d9 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#69870 Revert "Fix: fix android studio 4.1 plugin path for macOS"
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: cla: yes, tool

#69889 Revert "Roll Engine from bf259226b224 to e66a720137d9 (3 revisions)"
  bin/internal/engine.version
Labels: cla: yes, engine

#69088 added enableFeedback property to ListTile
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework

#69892 [versions] update more null safe versions
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, tool

#69799 Choose higher-res image variants on low-DPR screens
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/test/widgets/image_resolution_test.dart
Labels: cla: yes, framework

#69726 Do not use --first-parent when determining version on master
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
  packages/flutter_tools/test/integration.shard/downgrade_upgrade_integration_test.dart
Labels: cla: yes, tool

#69346 Adaptive constructor / TextInputAction docs fix
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#69900 [null-safety] update version constraint
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_test/pubspec.yaml
Labels: cla: yes, team

#69840 Build either iphoneos or iphonesimulator App.framework, not both
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
Labels: a: existing-apps, cla: yes, platform-ios, tool

#69784 [flutter_tools] forward all args to pub
  packages/flutter_tools/lib/src/commands/packages.dart
Labels: cla: yes, tool

#69809 Update CocoaPods recommended version to 1.9
  dev/ci/mac/Gemfile.lock
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: cla: yes, platform-ios, t: xcode, team, tool

#69549 [flutter_tool] initialize flutter root in executable
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/ide_config_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/src/common.dart
Labels: cla: yes, team, tool

#68553 [gen-l10n] Fix untranslated messages
  dev/tools/localization/bin/gen_l10n.dart
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: a: internationalization, cla: yes, team, tool, waiting for tree to go green

#69914 [flutter_tools] split web integration tests into new shard
  dev/bots/test.dart
  packages/flutter_tools/test/web.shard/expression_evaluation_web_test.dart
  packages/flutter_tools/test/web.shard/hot_reload_web_test.dart
Labels: cla: yes, team, tool

#69328 Reland: Fix a multiple pointers bug
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/test/gestures/drag_test.dart
Labels: cla: yes, framework

#69906 Roll Engine from bf259226b224 to 0693ee04d130 (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#69653 Reland "Updated SearchDelegate to follow custom InputDecorationTheme"
  packages/flutter/lib/src/material/search.dart
  packages/flutter/test/material/search_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69930 [null-safety] remove enable experiment flags
  dev/bots/test.dart
  dev/integration_tests/non_nullable/analysis_options.yaml
  dev/integration_tests/non_nullable/lib/main.dart
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/non_nullable/test/test_test.dart
  dev/integration_tests/web/lib/null_assert_main.dart
  dev/integration_tests/web/lib/null_enabled_api.dart
  dev/integration_tests/web/lib/null_safe_main.dart
  dev/integration_tests/web/lib/sound_mode.dart
  examples/layers/analysis_options.yaml
  examples/layers/pubspec.yaml
  packages/flutter/analysis_options.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/analysis_options.yaml
  packages/flutter_test/analysis_options.yaml
Labels: cla: yes, team

#69932 [flutter_tools] only run web shard if requested
  dev/bots/test.dart
Labels: cla: yes, team

#64222 Allow modification of ListTile's horizontalTitleGap, minVerticalPadding, minLeadingWidth
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework

#69965 Roll Engine from 0693ee04d130 to 40408629770c (23 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#69921 Persist Chrome Default Directory
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/general.shard/web/chrome_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#69971 [flutter_tools] work around bug in plugins CI
  packages/flutter_tools/lib/src/commands/packages.dart
Labels: cla: yes, tool

#69548 [flutter_tools] remove globals from android_workflow
  packages/flutter_tools/lib/src/android/android_device_discovery.dart
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
Labels: cla: yes, tool

#69966 remove the use of the analysis server --enable-experiments flag
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
Labels: cla: yes, tool

#69954 Fix android studio 4.1 plugin path for mac
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: cla: yes, tool

#69970 mark flutter_gallery_sksl_warmup__transition_perf_e2e_ios32 as flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#69972 [flutter_tools] wrap http send in async guard
  packages/flutter_tools/lib/src/reporting/crash_reporting.dart
  packages/flutter_tools/lib/src/reporting/reporting.dart
Labels: cla: yes, tool

#69791 [flutter_conductor] update dev/tools with release tool
  dev/tools/.gitignore
  dev/tools/bin/conductor
  dev/tools/bin/conductor.dart
  dev/tools/lib/git.dart
  dev/tools/lib/globals.dart
  dev/tools/lib/repository.dart
  dev/tools/lib/roll_dev.dart
  dev/tools/lib/stdio.dart
  dev/tools/lib/version.dart
  dev/tools/pubspec.yaml
  dev/tools/test/common.dart
  dev/tools/test/roll_dev_integration_test.dart
  dev/tools/test/roll_dev_test.dart
  dev/tools/test/version_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#69974 Roll Engine from 40408629770c to d21bb634e054 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#69724 Fix excessive rebuilds of DSS
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#69976 Roll Engine from d21bb634e054 to cf376142ed5f (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#69988 Revert "Roll Engine from d21bb634e054 to cf376142ed5f (2 revisions) (#69976)"
  bin/internal/engine.version
Labels: cla: yes, engine

#69505 [flutter_tools] remove all globals from cache and cache_test
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/src/fakes.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#69591 Remove the flaky flag from post-bdf benchmark
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#69607 Add a --dart-entrypoint-args flag to flutter run to pass through Dart entrypoint arguments on Flutter Desktop
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/general.shard/desktop_device_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#69844 [flutter_web_plugins] Migrate to null safety.
  packages/flutter_web_plugins/lib/flutter_web_plugins.dart
  packages/flutter_web_plugins/lib/src/navigation/js_url_strategy.dart
  packages/flutter_web_plugins/lib/src/navigation/url_strategy.dart
  packages/flutter_web_plugins/lib/src/navigation/utils.dart
  packages/flutter_web_plugins/lib/src/plugin_event_channel.dart
  packages/flutter_web_plugins/lib/src/plugin_registry.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/flutter_web_plugins/test/navigation/url_strategy_test.dart
  packages/flutter_web_plugins/test/navigation/utils_test.dart
  packages/flutter_web_plugins/test/plugin_event_channel_test.dart
  packages/flutter_web_plugins/test/plugin_registry_test.dart
Labels: cla: yes, team, waiting for tree to go green

#69982 Add new ListTile parameters to ListTileTheme
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#69991 Roll Engine from d21bb634e054 to 2440ad6d39a5 (8 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#70000 Revert "Roll Engine from d21bb634e054 to 2440ad6d39a5 (8 revisions)"
  bin/internal/engine.version
Labels: cla: yes, engine

#69990 Add PageView benchmark (representative of full screen CustomPainter)
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_pageview_scroll_linethrough.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: cla: yes, platform-web, team, waiting for tree to go green

#70005 Roll Engine from d21bb634e054 to 7ab39127ee25 (16 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#69987 [flutter_tools] remove material design schema, use dart code
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/schema/material_fonts.yaml
Labels: cla: yes, f: material design, tool

#70008 Roll Engine from 7ab39127ee25 to 1e3ceb037f64 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#69723 Do not analyze files that are not checked in git
  dev/bots/analyze.dart
Labels: cla: yes, team, waiting for tree to go green

#70030 Add Dart SDK constraint to a pubspec
  packages/flutter_test/test/test_config/project_root/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#70031 Roll Engine from 1e3ceb037f64 to e4956eb118fa (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#70036 Roll Engine from e4956eb118fa to 0f7cdca65fba (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#69904 Ignore several import_of_legacy_library_into_null_safe
  packages/flutter_driver/test/src/real_tests/stubs/stub_command.dart
  packages/flutter_driver/test/src/real_tests/stubs/stub_command_extension.dart
  packages/flutter_driver/test/src/real_tests/stubs/stub_finder.dart
Labels: a: tests, cla: yes, framework

#70073 [integration_test] Add a setter for defaultTestTimeout
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/test/binding_test.dart
Labels: cla: yes

#70078 Roll engine and fix pubspecs that do not have a Dart SDK constraint
  bin/internal/engine.version
  dev/benchmarks/metrics_center/lib/google_benchmark.dart
  dev/benchmarks/metrics_center/pubspec.yaml
  dev/bots/analyze-sample-code.dart
  dev/tools/dartdoc.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/integration.shard/test_data/stepping_project.dart
Labels: cla: yes, engine, team, tool

#70107 Ignore several import_of_legacy_library_into_null_safe
  dev/benchmarks/metrics_center/lib/src/common.dart
Labels: cla: yes, team

#69251 AppBar draws its defaults from theme.colorScheme
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/app_bar_theme.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/app_bar_theme_test.dart
Labels: cla: yes, f: material design, framework

#69919 Fix crash when widgetspan does not produce a semantics node in render…
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/text_test.dart
Labels: cla: yes, framework

#70115 Ignore import_of_legacy_library_into_null_safe
  dev/benchmarks/metrics_center/lib/google_benchmark.dart
Labels: cla: yes, team

#70014 [flutter_tools] remove workaround for caching sound dill
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: a: null-safety, cla: yes, team, tool

#70117 Roll Engine from 3cf292226986 to 40b8f8227b9a (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#70112 [null-safety] migrate hello_world to null safety
  examples/hello_world/pubspec.yaml
  examples/hello_world/test_driver/smoke_web_engine_test.dart
Labels: cla: yes, d: examples, team

#70056 [flutter_tools] restore pub caching functionality
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/src/throwing_pub.dart
Labels: cla: yes, tool

#70130 Bump Gallery version
  dev/devicelab/lib/versions/gallery.dart
Labels: cla: yes, team

#70132 Revert "[flutter_tools] restore pub caching functionality"
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/src/throwing_pub.dart
Labels: cla: yes, tool

#70120 default to unsound nullability for web
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#69383 Fix the PopupMenuButton offset bug
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: a: quality, cla: yes, f: material design, framework, waiting for tree to go green

#70123 Roll Engine from 40b8f8227b9a to 7f07491bcafb (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#70131 Remove old todo
  packages/flutter/lib/src/rendering/sliver_fill.dart
Labels: cla: yes, framework, waiting for tree to go green

#70136 [flutter_tools] always run pub with prebuilt applications on drive
  packages/flutter_tools/lib/src/commands/drive.dart
Labels: cla: yes, tool

#70135 Roll Engine from 7f07491bcafb to 014da89eb015 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#69588 AdoptAWidget: Table (#69488)
  packages/flutter/lib/src/widgets/table.dart
Labels: cla: yes, framework

#69617 Remove references to `Window`, and switch usages to `PlatformDispatcher` or `SingletonFlutterWindow`
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
  dev/integration_tests/flutter_gallery/test_memory/image_cache_memory.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/debug.dart
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/semantics/binding.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/binary_messenger.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/services/platform_messages.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/safe_area.dart
  packages/flutter/test/painting/binding_test.dart
  packages/flutter/test/painting/image_cache_binding_test.dart
  packages/flutter/test/widgets/binding_first_frame_rasterized_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter_driver/lib/src/common/geometry.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_test/lib/src/_matchers_web.dart
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_tools/lib/src/plugins.dart
Labels: a: accessibility, a: tests, cla: yes, f: material design, framework, team, tool

#70133 [flutter_tools] restore pub caching functionality
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/src/throwing_pub.dart
Labels: cla: yes, tool

#70126 [null-safety] implement autodetection for the web
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/dart/language_version.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/dart/language_version_test.dart
Labels: cla: yes, tool

#70140 Roll Engine from 014da89eb015 to d642a939c34b (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#70144 Revert "[flutter_tools] restore pub caching functionality"
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/src/throwing_pub.dart
Labels: cla: yes, tool

#70011 [flutter_tools] remove most globals from asset system and remove Cache manipulation in unit tests
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: cla: yes, tool

#70149 Fix for the ListTile horizontalTitleGap calculation introduced with PR #64222.
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework

#70158 Roll Engine from d642a939c34b to e50ac2c55240 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green
