Repository flutter/flutter, pull requests merged in 2020-08, with the labels that each got.

#62704 remove flutter attach devicelab test
  dev/devicelab/bin/tasks/flutter_attach_test_android.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#62705 1.20 CP: Update engine hash to 1.20.0-7.4.pre
  bin/internal/engine.version
Labels: cla: yes, engine

#62768 Roll Engine from 280bbfc763cf to 083282e33bbb (22 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#62630 Add integration test for plugins without ios directories
  dev/devicelab/bin/tasks/plugin_dependencies_test.dart
Labels: a: tests, cla: yes, team, waiting for tree to go green

#62415 Cache floating cursor location on start event instead of update
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#62702 Return devtools serve response instead of printing
  packages/flutter_tools/doc/daemon.md
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#62687 [versions] update to the latest sdk versions
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/_flutter_web_build_script/lib/build_script.dart
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, tool, waiting for tree to go green

#62792 Remove mistakenly added DartDevelopmentService dependency
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: cla: yes, tool

#62770 Roll Engine from 083282e33bbb to f86b83010d6c (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#62614 Make dartdoc warnings fatal for flutter_test
  dev/tools/dartdoc.dart
  packages/flutter_test/lib/src/binding.dart
Labels: cla: yes, framework, team, waiting for tree to go green

#62525 update to use more null safe packages
  dev/tools/gen_keycodes/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#62697 [flutter_tools] add --analyze-size flag
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/integration.shard/analyze_size_apk_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#62804 Roll Engine from f86b83010d6c to 02d71d60effa (6 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#62703 Use OverflowBar instead of ButtonBar in MaterialBanner
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/test/material/banner_test.dart
Labels: cla: yes, f: material design, framework

#62778 text selection affinity can be null on web
  packages/flutter/lib/src/services/text_input.dart
Labels: cla: yes, framework, waiting for tree to go green

#62601 Use OverflowBar instead of ButtonBar in TimePicker
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
Labels: cla: yes, f: material design, framework

#62686 Use OverflowBar instead of ButtonBar in DatePicker
  packages/flutter/lib/src/material/pickers/date_picker_dialog.dart
  packages/flutter/test/material/date_picker_test.dart
Labels: cla: yes, f: material design, framework

#62695 Use OverflowBar instead of ButtonBar in DateRangePicker
  packages/flutter/lib/src/material/pickers/date_range_picker_dialog.dart
  packages/flutter/test/material/date_range_picker_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#62761 Fix lifecycle clean up in the material date picker tests for screen size and semantics.
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter_localizations/test/material/date_picker_test.dart
Labels: a: internationalization, cla: yes, f: material design, framework, waiting for tree to go green

#62813 Roll Engine from 02d71d60effa to fa16c3d0bacd (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#62623 Increase the number of shards for web tests
  .cirrus.yml
Labels: cla: yes, platform-web, team, team: infra, waiting for tree to go green

#62628 Added a more generous timeout period for the keyboard animation in iOS integration tests
  dev/integration_tests/README.md
  dev/integration_tests/ui/test_driver/keyboard_resize_test.dart
Labels: cla: yes, team, waiting for tree to go green

#62696 migrate part of painting to nullsafety
  packages/flutter/lib/src/painting/alignment.dart
  packages/flutter/lib/src/painting/basic_types.dart
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/lib/src/painting/colors.dart
  packages/flutter/lib/src/painting/debug.dart
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: cla: yes, framework, waiting for tree to go green

#62799 move compile/target sdk versions to 29
  dev/benchmarks/complex_layout/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/microbenchmarks/android/app/build.gradle
  dev/benchmarks/platform_views_layout/android/app/build.gradle
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/build.gradle
  dev/benchmarks/test_apps/stocks/android/app/build.gradle
  dev/integration_tests/android_custom_host_app/SampleApp/build.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/build.gradle
  dev/integration_tests/android_host_app_v2_embedding/app/build.gradle
  dev/integration_tests/android_semantics_testing/android/app/build.gradle
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/android/app/build.gradle
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/android/app/build.gradle
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/android/app/build.gradle
  dev/integration_tests/android_views/android/app/build.gradle
  dev/integration_tests/channels/android/app/build.gradle
  dev/integration_tests/external_ui/android/app/build.gradle
  dev/integration_tests/flavors/android/app/build.gradle
  dev/integration_tests/flutter_driver_screenshot_test/android/app/build.gradle
  dev/integration_tests/flutter_gallery/android/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/hybrid_android_views/android/app/build.gradle
  dev/integration_tests/image_loading/android/app/bin/build.gradle
  dev/integration_tests/image_loading/android/app/build.gradle
  dev/integration_tests/module_host_with_custom_build_v2_embedding/app/build.gradle
  dev/integration_tests/named_isolates/android/app/build.gradle
  dev/integration_tests/non_nullable/android/app/build.gradle
  dev/integration_tests/platform_interaction/android/app/build.gradle
  dev/integration_tests/release_smoke_test/android/app/build.gradle
  dev/integration_tests/ui/android/app/build.gradle
  dev/manual_tests/android/app/build.gradle
  examples/catalog/android/app/build.gradle
  examples/flutter_view/android/app/build.gradle
  examples/hello_world/android/app/build.gradle
  examples/image_list/android/app/build.gradle
  examples/layers/android/app/build.gradle
  examples/platform_channel/android/app/build.gradle
  examples/platform_view/android/app/build.gradle
  packages/flutter_tools/templates/app/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-java.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: a: accessibility, cla: yes, d: examples, team, tool, waiting for tree to go green

#62809 [null-safety] remove some usages of mockito
  packages/flutter/test/flutter_test_alternative.dart
  packages/flutter/test/foundation/consolidate_response_test.dart
  packages/flutter/test/rendering/editable_gesture_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/image_headers_test.dart
  packages/flutter_test/lib/src/test_compat.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#62462 separate scroll until visible implementation for lower level accessibility
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/test/controller_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#62640 promote WidgetTester pumpAndSettle
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/live_widget_controller_test.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#62643 Remove framework_tests from cirrus.
  .cirrus.yml
Labels: cla: yes, team, team: infra, waiting for tree to go green

#62668 Ensure dark theme is used when high contrast dark theme isn't provided
  packages/flutter/lib/src/material/app.dart
  packages/flutter/test/material/app_test.dart
Labels: a: accessibility, cla: yes, f: material design, framework, waiting for tree to go green

#62839 Roll Engine from fa16c3d0bacd to 033dd4560744 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#62372 Parse .flutter-plugins-dependencies for add-to-app iOS modules, remove no-op plugin iOS folder
  dev/devicelab/bin/tasks/module_test_ios.dart
  packages/flutter_tools/lib/src/template.dart
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: a: existing-apps, cla: yes, platform-ios, team, tool

#62868 Revert "migrate part of painting to nullsafety"
  packages/flutter/lib/src/painting/alignment.dart
  packages/flutter/lib/src/painting/basic_types.dart
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/lib/src/painting/colors.dart
  packages/flutter/lib/src/painting/debug.dart
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: framework

#62884 Revert "move compile/target sdk versions to 29"
  dev/benchmarks/complex_layout/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/microbenchmarks/android/app/build.gradle
  dev/benchmarks/platform_views_layout/android/app/build.gradle
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/build.gradle
  dev/benchmarks/test_apps/stocks/android/app/build.gradle
  dev/integration_tests/android_custom_host_app/SampleApp/build.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/build.gradle
  dev/integration_tests/android_host_app_v2_embedding/app/build.gradle
  dev/integration_tests/android_semantics_testing/android/app/build.gradle
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/android/app/build.gradle
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/android/app/build.gradle
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/android/app/build.gradle
  dev/integration_tests/android_views/android/app/build.gradle
  dev/integration_tests/channels/android/app/build.gradle
  dev/integration_tests/external_ui/android/app/build.gradle
  dev/integration_tests/flavors/android/app/build.gradle
  dev/integration_tests/flutter_driver_screenshot_test/android/app/build.gradle
  dev/integration_tests/flutter_gallery/android/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/hybrid_android_views/android/app/build.gradle
  dev/integration_tests/image_loading/android/app/bin/build.gradle
  dev/integration_tests/image_loading/android/app/build.gradle
  dev/integration_tests/module_host_with_custom_build_v2_embedding/app/build.gradle
  dev/integration_tests/named_isolates/android/app/build.gradle
  dev/integration_tests/non_nullable/android/app/build.gradle
  dev/integration_tests/platform_interaction/android/app/build.gradle
  dev/integration_tests/release_smoke_test/android/app/build.gradle
  dev/integration_tests/ui/android/app/build.gradle
  dev/manual_tests/android/app/build.gradle
  examples/catalog/android/app/build.gradle
  examples/flutter_view/android/app/build.gradle
  examples/hello_world/android/app/build.gradle
  examples/image_list/android/app/build.gradle
  examples/layers/android/app/build.gradle
  examples/platform_channel/android/app/build.gradle
  examples/platform_view/android/app/build.gradle
  packages/flutter_tools/templates/app/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-java.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: a: accessibility, d: examples, team, tool

#62605 [flutter_tools]Set plugin template min flutter sdk version to 1.20
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#62729 Upadte systemNavigationBarIconBrightness docs
  packages/flutter/lib/src/services/system_chrome.dart
Labels: cla: yes, framework, waiting for tree to go green

#62803 Address misc time picker design issues
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/material/time_picker_theme_test.dart
  packages/flutter_localizations/test/material/time_picker_test.dart
Labels: a: internationalization, cla: yes, f: material design, framework, waiting for tree to go green

#62657 Layout paragraph using the appropriate width based on its textWidthBasis
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/widgets/text_test.dart
Labels: cla: yes, framework

#62825 Enable a scrolling fling test.
  packages/flutter/test/widgets/list_view_fling_test.dart
Labels: framework, waiting for tree to go green

#62707 Fix text escaping in the AboutListTile sample code
  packages/flutter/lib/src/material/about.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#62820 Update skipped test comment to point to an open bug
  packages/flutter/test/painting/text_painter_test.dart
Labels: framework, waiting for tree to go green

#62866 [null-safety] remove quiver from flutter tests
  packages/flutter/pubspec.yaml
  packages/flutter/test/foundation/print_test.dart
  packages/flutter/test/gestures/double_tap_test.dart
  packages/flutter/test/gestures/gesture_tester.dart
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/widgets/binding_first_frame_rasterized_test.dart
  packages/flutter/test/widgets/run_app_async_test.dart
Labels: framework, team, waiting for tree to go green

#62894 [null-safety] revert export of Fake from test_api
  packages/flutter/test/rendering/editable_gesture_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/image_headers_test.dart
  packages/flutter_test/lib/src/test_compat.dart
Labels: a: tests, framework, waiting for tree to go green

#62872 Reland "migrate part of painting to nullsafety (#62696)"
  dev/automated_tests/flutter_test/print_user_created_ancestor_expectation.txt
  dev/automated_tests/flutter_test/print_user_created_ancestor_no_flag_expectation.txt
  packages/flutter/lib/src/painting/alignment.dart
  packages/flutter/lib/src/painting/basic_types.dart
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/lib/src/painting/colors.dart
  packages/flutter/lib/src/painting/debug.dart
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: framework, team, waiting for tree to go green

#62014 TextSelectionTheme support (step 1 of 3)
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/material/text_selection_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/text_selection_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, framework

#62911 Roll Engine from 033dd4560744 to 3081844cb4dd (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#62903 Revert "remove iOS folder (#61561)"
  packages/flutter_tools/lib/src/template.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: cp: 1.20, engine, framework, team, tool

#62835 1.20 stable: Update engine hash to 1.20.0
  .cirrus.yml
  bin/internal/engine.version
Labels: engine, work in progress; do not review

#62869 [null-safety] remove mockito from text control a11y test
  packages/flutter/test/widgets/editable_text_test.dart
Labels: framework, waiting for tree to go green

#62914 revert WidgetTester.pumpAndSettle breaking change
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: tests, framework, waiting for tree to go green

#62898 Make the Skia expectation parser more resilient and update to "master_str"
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens/test/json_templates.dart
  packages/flutter_goldens_client/lib/skia_client.dart
Labels: a: tests, framework, team, waiting for tree to go green

#62910 Add flutter_goldens_client to testing path
  .cirrus.yml
Labels: a: tests, team, team: infra, waiting for tree to go green

#62539 migrate macrobenchmark/multi_widget_construction test to e2e
  dev/benchmarks/macrobenchmarks/README.md
  dev/benchmarks/macrobenchmarks/test/multi_widget_construction_perf_e2e.dart
  dev/devicelab/bin/tasks/multi_widget_construction_perf__e2e_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#62925 Roll Engine from 3081844cb4dd to 4d5b0c31f8cb (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#62926 [flutter_tools] remove reference to flutter tool test from user generated gitignore
  packages/flutter_tools/templates/app/.gitignore.tmpl
  packages/flutter_tools/templates/package/.gitignore.tmpl
Labels: tool, waiting for tree to go green

#62937 Update engine hash to 1.20.0 w/ #20238
  bin/internal/engine.version
Labels: engine

#62938 Roll Engine from 4d5b0c31f8cb to e1828008b97a (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#62943 Roll Engine from e1828008b97a to a4e0104ae81d (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#62950 Roll Engine from a4e0104ae81d to 39a31934c68a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#62964 Roll Engine from 39a31934c68a to 6e764d1900a7 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#62840 [ExpansionPanelList] adds elevation property
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/lib/src/material/shadows.dart
  packages/flutter/test/material/expansion_panel_test.dart
Labels: f: material design, framework, waiting for tree to go green, will affect goldens

#62906 Add remaining benchmarks
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: team, waiting for tree to go green

#62972 non-nullable LicenseEntry.packages
  packages/flutter/lib/src/foundation/licenses.dart
Labels: framework

#62978 Roll Engine from 6e764d1900a7 to bb75f611b252 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#63021 Mark named_isolates_test flaky
  dev/devicelab/manifest.yaml
Labels: team

#62407 [widgets] Refactor Overlay insert methods entries assert
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#63014 Mark nonflaky test as such
  dev/devicelab/manifest.yaml
Labels: team, waiting for tree to go green

#62816 Removed old button widget references from dev/manual_tests
  dev/manual_tests/lib/actions.dart
  dev/manual_tests/lib/density.dart
  dev/manual_tests/lib/focus.dart
  dev/manual_tests/lib/hover.dart
  dev/manual_tests/lib/text.dart
Labels: team, waiting for tree to go green

#62888 Update error message for bad UTF-8 decoding
  packages/flutter_tools/lib/src/convert.dart
Labels: tool, waiting for tree to go green

#62979 Add libblkid as an explicit dependancy on Linux
  packages/flutter_tools/lib/src/linux/linux_doctor.dart
  packages/flutter_tools/templates/app/linux.tmpl/flutter/CMakeLists.txt
  packages/flutter_tools/test/general.shard/linux/linux_doctor_test.dart
Labels: tool, waiting for tree to go green

#62892 There's a bug filed about this now, so update comment.
  packages/flutter_tools/test/integration.shard/debugger_stepping_web_test.dart
Labels: tool, waiting for tree to go green

#62893 Update link to bug
  packages/flutter_tools/test/general.shard/ios/xcode_backend_test.dart
Labels: tool, waiting for tree to go green

#62930 [flutter_tools] warn when main library is relocated
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: tool, waiting for tree to go green

#62986 Pin gallery version
  dev/devicelab/bin/tasks/flutter_gallery_v2_chrome_run_test.dart
  dev/devicelab/bin/tasks/flutter_gallery_v2_web_compile_test.dart
  dev/devicelab/lib/tasks/new_gallery.dart
  dev/devicelab/lib/versions/gallery.dart
Labels: team, waiting for tree to go green

#62932 Updated examples/layers to use the new button API.
  examples/layers/services/isolate.dart
  examples/layers/widgets/sectors.dart
Labels: d: examples, team, waiting for tree to go green

#62954 fix some comment errors for clipBehavior's default value
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/lib/src/widgets/viewport.dart
Labels: framework, waiting for tree to go green

#63019 [flutter_tools] flutter version reports picks up release versions
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/hermetic/version_test.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: tool, waiting for tree to go green

#62997 Roll Engine from bb75f611b252 to e2a6b55e8e1a (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#62897 Fix GestureDetector long press callback handling
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
Labels: framework

#63013 Remove old button references from routes_test
  packages/flutter/test/widgets/routes_test.dart
Labels: framework, waiting for tree to go green

#60177 Don't move to word edge when tapping with a mouse
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/gestures/tap_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: mouse, a: text input, cla: yes, f: material design, framework, waiting for tree to go green

#62814 Report failures in docs.sh
  dev/bots/docs.sh
Labels: team, waiting for tree to go green

#62823 Unskip the bidi semantics test.
  packages/flutter/test/widgets/text_test.dart
  packages/flutter_test/lib/src/platform.dart
Labels: framework, waiting for tree to go green

#62999 Add flutter_engine.cc to Windows wrapper build
  packages/flutter_tools/templates/app/windows.tmpl/flutter/.template_version
  packages/flutter_tools/templates/app/windows.tmpl/flutter/CMakeLists.txt
Labels: a: desktop, platform-windows, tool, waiting for tree to go green

#63005 Incomplete app widget error
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/widgets/app_test.dart
Labels: framework, waiting for tree to go green

#63022 Roll Engine from e2a6b55e8e1a to d728f691f482 (7 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#63012 Remove old button references from the Stepper widget
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/test/material/stepper_test.dart
Labels: f: material design, framework

#62990 [hotfix] flutter create -t plugin remove no-op iOS folder and set sdk min to 1.20.0
  packages/flutter_tools/lib/src/template.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/hermetic/version_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: engine, framework, team, tool

#63028 Remove cubic_bezier_perf.dart
  dev/benchmarks/macrobenchmarks/test_driver/cubic_bezier_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: team, waiting for tree to go green

#63039 Roll Engine from d728f691f482 to 89c21da498a9 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#63066 Roll Engine from 89c21da498a9 to 8dddc0f529a3 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#63069 Roll Engine from 8dddc0f529a3 to 36db6cfdd1b0 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#63040 Updated flutter_localizations picker tests to use new button classes.
  packages/flutter_localizations/test/material/date_picker_test.dart
  packages/flutter_localizations/test/material/time_picker_test.dart
Labels: a: internationalization, f: material design

#63057 handler can be null in platform_channel
  packages/flutter/lib/src/services/platform_channel.dart
Labels: framework, waiting for tree to go green

#63083 unnecessary null check
  packages/flutter/lib/src/foundation/assertions.dart
Labels: framework, waiting for tree to go green

#62891 Make _isLocalCreationLocation public
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework, waiting for tree to go green

#62445 Add supported Luci builders for flutter repo
  dev/README.md
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#62902 Change minimum iOS version from 8.0 to 9.0
  examples/catalog/ios/Flutter/AppFrameworkInfo.plist
  examples/catalog/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_view/ios/Flutter/AppFrameworkInfo.plist
  examples/hello_world/ios/Flutter/AppFrameworkInfo.plist
  examples/hello_world/ios/Runner.xcodeproj/project.pbxproj
  examples/image_list/ios/Flutter/AppFrameworkInfo.plist
  examples/image_list/ios/Runner.xcodeproj/project.pbxproj
  examples/layers/ios/Flutter/AppFrameworkInfo.plist
  examples/layers/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel/ios/Flutter/AppFrameworkInfo.plist
  examples/platform_channel/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/ios/Flutter/AppFrameworkInfo.plist
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Flutter/AppFrameworkInfo.plist
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/templates/app/ios-objc.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/app/ios-swift.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/app/ios.tmpl/Flutter/AppFrameworkInfo.plist
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.pbxproj.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Podfile.copy.tmpl
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/AppFrameworkInfo.plist
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/test/general.shard/base/build_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
Labels: d: examples, team, tool, waiting for tree to go green

#63030 using named constructor to FrameTiming in scheduler_test.dart
  packages/flutter/test/scheduler/scheduler_test.dart
Labels: a: tests, engine, framework, waiting for tree to go green

#63094 Fixed a typo in the DataRow API doc
  packages/flutter/lib/src/material/data_table.dart
Labels: f: material design, framework, waiting for tree to go green

#63097 Roll Engine from 36db6cfdd1b0 to cd3ea1e839c6 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#63128 remove flaky flag for multi_widget_construction_perf__e2e_summary
  dev/devicelab/manifest.yaml
Labels: team, waiting for tree to go green

#61974 fix: MaterialColor Swatch Map comparison
  packages/flutter/lib/src/painting/colors.dart
  packages/flutter/test/painting/colors_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#62615 Fix SliverList scrollOffsetCorrection 0 case
  packages/flutter/lib/src/rendering/sliver_list.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: cla: yes, cp: 1.20, f: scrolling, framework, severe: crash, severe: regression, waiting for tree to go green

#63113 Revert "Add padding around flutter api docs search input"
  dev/docs/assets/overrides.css
Labels: team, waiting for tree to go green

#62690 Fix the flexible space bar to still create a rendering object even if…
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#63017 update packages
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: team, tool, waiting for tree to go green

#63132 Fix grammar in Route doc comment
  packages/flutter/lib/src/widgets/navigator.dart
Labels: d: api docs, documentation, f: routes, framework, waiting for tree to go green

#62920 Add a comment with a reference to issue 62919
  dev/bots/test/sdk_directory_has_space_test.dart
Labels: team, waiting for tree to go green

#63142 Fix a crash when disposing tabs
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/test/material/tabs_test.dart
Labels: f: material design, framework, waiting for tree to go green

#59623 Reduce iOS scroll damping for lists with differently sized items
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/lib/src/widgets/scroll_simulation.dart
  packages/flutter/test/widgets/scroll_physics_test.dart
Labels: a: fidelity, cla: yes, f: scrolling, framework, platform-ios, waiting for tree to go green

#60299 Implement Router widget and widgets app api
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/route_notification_messages.dart
  packages/flutter/lib/src/widgets/router.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/app_test.dart
  packages/flutter/test/material/app_test.dart
  packages/flutter/test/widgets/app_test.dart
  packages/flutter/test/widgets/binding_test.dart
  packages/flutter/test/widgets/route_notification_messages_test.dart
  packages/flutter/test/widgets/router_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#61356 Updated dataTable API doc to explicitly point sorting
  packages/flutter/lib/src/material/data_table.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#62936 [null-safety] remove more usage of mockito from the framework tests
  packages/flutter/test/material/animated_icons_test.dart
  packages/flutter/test/widgets/custom_paint_test.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: f: material design, framework, waiting for tree to go green

#62987 Rev json gem
  dev/ci/docker_linux/Dockerfile
  dev/ci/docker_linux/Gemfile.lock
  dev/ci/mac/Gemfile.lock
Labels: team, waiting for tree to go green

#63111 Bump dartdoc to 0.32.3 and tighten doc output checker
  dev/bots/docs.sh
  dev/tools/dartdoc_checker.dart
Labels: team, waiting for tree to go green

#63124 Measure CPU/GPU with the simple animation test
  dev/devicelab/bin/tasks/complex_layout_scroll_perf_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/simple_animation_perf_ios.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
Labels: perf: energy, severe: performance, team, waiting for tree to go green

#63118 reland fix intrinsic height and width for widget span #61485
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/rendering/paragraph_test.dart
Labels: framework, waiting for tree to go green

#63153 Roll Engine from cd3ea1e839c6 to 1e50d87dc85f (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#63154 Update "shortcut icon" to "icon" in Web Template
  packages/flutter_tools/templates/app/web/index.html.tmpl
Labels: tool, waiting for tree to go green

#63194 API doc additions
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
Labels: framework, waiting for tree to go green

#63245 Add framework and hostonly tests to luci presubmit.
  dev/try_builders.json
Labels: team, waiting for tree to go green

#63225 Cherrypick engine 5e9eede19290de1f288d8d3d21d390f4b3093338
  bin/internal/engine.version
Labels: engine

#62788 Add onTertiaryTap* to TapGestureRecognizer and GestureDetector
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/gestures/long_press_test.dart
  packages/flutter/test/gestures/tap_test.dart
  packages/flutter/test/widgets/gesture_detector_semantics_test.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
Labels: a: accessibility, cla: yes, framework, waiting for tree to go green

#63267 Roll Engine from 1e50d87dc85f to d7c98913ed9c (27 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#62824 Unskip a widget inspector test that doesn't seem flaky anymore.
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework, waiting for tree to go green

#63213 Updated old button references in dev/integration_tests/ui
  dev/integration_tests/ui/lib/driver.dart
  dev/integration_tests/ui/lib/main.dart
  dev/integration_tests/ui/lib/screenshot.dart
Labels: team

#63214 Updated old button references in dev/integration_tests/android_views
  dev/integration_tests/android_views/lib/motion_events_page.dart
  dev/integration_tests/android_views/lib/wm_integrations.dart
Labels: team

#63215 Updated old button references in dev/integration_tests/hybrid_android_views
  dev/integration_tests/hybrid_android_views/lib/motion_events_page.dart
  dev/integration_tests/hybrid_android_views/lib/nested_view_event_page.dart
Labels: team

#63230 Updated old button references in packages/flutter_test
  packages/flutter_test/test/accessibility_test.dart
  packages/flutter_test/test/accessibility_window_test.dart
  packages/flutter_test/test/controller_test.dart
  packages/flutter_test/test/finders_test.dart
  packages/flutter_test/test/live_widget_controller_test.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: tests, framework

#63232 Updated old button references in dev/integration_tests/android_semantics
  dev/integration_tests/android_semantics_testing/lib/src/tests/popup_page.dart
Labels: a: accessibility, team

#63236 Updated use of OutlineButton in FocusTraversalPolicy API doc
  packages/flutter/lib/src/widgets/focus_traversal.dart
Labels: framework

#62913 Enable InkWell to sync its hovered state when its enabled or disabled
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: f: material design, framework

#63309 Roll Engine from d7c98913ed9c to ece904289bea (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#63327 Roll Engine from ece904289bea to 6d86e67f04d8 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#63343 Roll Engine from 6d86e67f04d8 to c6b4048a9de7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#63391 Roll Engine from c6b4048a9de7 to c9ca3b866902 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#63396 Fixed an ElevatedButton API doc typo
  packages/flutter/lib/src/material/elevated_button.dart
Labels: f: material design, framework

#63054 fix SingleChildScrollView clip bug
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/test/widgets/single_child_scroll_view_test.dart
Labels: a: quality, f: scrolling, framework, waiting for tree to go green

#63336 Remove unused `l` and `--isolate-filter` tools
  dev/devicelab/bin/tasks/named_isolates_test.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/named_isolates/README.md
  dev/integration_tests/named_isolates/android/app/build.gradle
  dev/integration_tests/named_isolates/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/named_isolates/android/app/src/main/java/com/example/view/MainActivity.java
  dev/integration_tests/named_isolates/android/app/src/main/res/layout/flutter_view_layout.xml
  dev/integration_tests/named_isolates/android/build.gradle
  dev/integration_tests/named_isolates/android/gradle.properties
  dev/integration_tests/named_isolates/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/named_isolates/android/settings.gradle
  dev/integration_tests/named_isolates/lib/main.dart
  dev/integration_tests/named_isolates/pubspec.yaml
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: team, tool, waiting for tree to go green

#63197 Prepare macrobenchmarks' e2e tests for firebase test lab
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/src/androidTest/java/com/example/macrobenchmarks/MainActivityTest.java
Labels: team, waiting for tree to go green

#63347 Some minor improvements to the AsyncSnapshot API
  packages/flutter/lib/src/widgets/async.dart
  packages/flutter/test/widgets/async_test.dart
Labels: framework, waiting for tree to go green

#62828 Add native stacktrace field for PlatformException
  packages/flutter/lib/src/services/message_codec.dart
  packages/flutter/lib/src/services/message_codecs.dart
  packages/flutter/test/services/message_codecs_test.dart
  packages/flutter/test/services/platform_channel_test.dart
Labels: framework

#63431 Revert "Add native stacktrace field for PlatformException"
  packages/flutter/lib/src/services/message_codec.dart
  packages/flutter/lib/src/services/message_codecs.dart
  packages/flutter/test/services/message_codecs_test.dart
  packages/flutter/test/services/platform_channel_test.dart
Labels: framework

#63448 Temporarily turn off module_test_ios during investigation
  dev/bots/test.dart
Labels: team

#62904 ISSUE_TEMPLATE changes
  .github/ISSUE_TEMPLATE/SUPPORT.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: a: triage improvements, framework, team, waiting for tree to go green

#63131 Make Scrollables restorable
  packages/flutter/lib/src/services/restoration.dart
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/scroll_context.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/test/services/restoration_test.dart
  packages/flutter/test/widgets/scrollable_restoration_test.dart
Labels: framework, waiting for tree to go green

#63250 [flutter tools] Make SizeAnalyzer support .apk files that don't use libapp.so
  packages/flutter_tools/lib/src/base/analyze_size.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/base/analyze_size_test.dart
Labels: tool, waiting for tree to go green

#63273 Fixing code snippet example for meetsGuideline.
  packages/flutter_test/lib/src/matchers.dart
Labels: a: tests, d: api docs, documentation, framework, waiting for tree to go green

#63313 Small documentation typo fix
  packages/flutter/lib/src/painting/text_style.dart
Labels: d: api docs, documentation, framework, waiting for tree to go green

#63390 update for WidgetTester.move and WidgetTester.fling doc
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, framework, waiting for tree to go green
