Repository flutter/flutter, pull requests merged in 2020-12, with the labels that each got.

#67249 Add detection of drawer open and close in Scaffold widget as a callback method.
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#68638 Handle setting TextEditingController text to null
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#70080 Let SnackBar inherit themeData from its ancestor
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/text_selection_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#70215 [flutter_tools] Display "no platforms" message based on results when creating plugins project
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#71434 [flutter_tools] allow hiding web server device, provide flags to re-enable
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/web/web_device.dart
  packages/flutter_tools/test/general.shard/web/devices_test.dart
Labels: cla: yes, tool

#71433 [flutter_tools] update some web configuration defaults
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
Labels: cla: yes, tool

#71417 [flutter_tools] do not validate unused services key
  packages/flutter_tools/lib/src/flutter_manifest.dart
Labels: cla: yes, tool

#71411 Add testing shard for release mode guard
  dev/bots/test.dart
  packages/flutter/test_release/README.md
  packages/flutter/test_release/diagnostics_test.dart
  packages/flutter/test_release/precondition_test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
  packages/flutter_tools/test/general.shard/compile_test.dart
Labels: cla: yes, framework, team, tool

#70977 [flutter_tools] Remove usage of --precompiled flag for web tests
  dev/bots/test.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/cupertino/refresh_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/examples/sector_layout_test.dart
  packages/flutter/test/foundation/consolidate_response_test.dart
  packages/flutter/test/foundation/error_reporting_test.dart
  packages/flutter/test/foundation/stack_trace_test.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/services/message_codecs_vm_test.dart
  packages/flutter/test/services/platform_messages_test.dart
  packages/flutter/test/widgets/color_filter_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
  packages/flutter/test/widgets/route_notification_messages_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/semantics_tester_generateTestSemanticsExpressionForCurrentSemanticsTree_test.dart
  packages/flutter/test/widgets/text_golden_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/test/runner.dart
Labels: a: accessibility, cla: yes, f: cupertino, f: material design, framework, team, tool

#70969 [flutter_tools] support canvaskit unit testing on web
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
Labels: cla: yes, tool

#71439 [fluttter_tools] reland enable experimental invalidation strategy on by default in master channel
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#70914 [flutter_tools] delete BuildRunnerWebCompilationProxy and WebCompilationProxy
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/isolated/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/test/web_test_compiler.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/test/event_printer_test.dart
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
Labels: cla: yes, tool

#71450 Upgrade deps
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/metrics_center/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#70277 Improve the behavior of DropdownButton.disabledHint
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#70676 Added CupertinoFormSection, CupertinoSplitFormRow, and CupertinoTextFormField
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/form_row.dart
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/test/cupertino/form_row_test.dart
  packages/flutter/test/cupertino/form_section_test.dart
  packages/flutter/test/cupertino/text_form_field_row_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#71113 Add XCFramework artifacts
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: cla: yes, platform-ios, tool, waiting for tree to go green

#71451 Validate empty observatory URI for screenshot
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/test/general.shard/screenshot_command_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#70773 Use adaptive more icon for popup_menu
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71108 Enable mac web_tool_tests
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#71490 Revert "Added CupertinoFormSection, CupertinoSplitFormRow, and CupertinoTextFormField"
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/form_row.dart
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/test/cupertino/form_row_test.dart
  packages/flutter/test/cupertino/form_section_test.dart
  packages/flutter/test/cupertino/text_form_field_row_test.dart
Labels: cla: yes, f: cupertino, framework

#70787 Restart EditableText cursor timer when it moves
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#71314 BottomNavigationBar unselected items modified to use unselectedWidgetColor
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71378 [FloatingActionButtonLocation] Add proper formatting to documentation
  packages/flutter/lib/src/material/floating_action_button_location.dart
Labels: cla: yes, d: api docs, f: material design, framework, waiting for tree to go green

#71424 Try to avoid more false-positives in people using this template
  .github/ISSUE_TEMPLATE/6_infrastructure.md
Labels: cla: yes, waiting for tree to go green

#70967 [flutter_tools] Catch all exception subtypes when unzipping a file
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/artifact_updater_test.dart
Labels: cla: yes, tool

#71498 Roll Engine from 20caf5496951 to d2ad4419bb07 (27 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes

#71519 Revert "Roll Engine from 20caf5496951 to d2ad4419bb07 (27 revisions) …
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, engine

#71499 [flutter_tools] post process the gradle log output
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/gradle_log_processor.dart
  packages/flutter_tools/test/general.shard/android/gradle_log_processor_test.dart
Labels: cla: yes, tool

#71525 ios_host_app Podfile search paths
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app/Podfile
Labels: cla: yes, platform-ios, team

#70670 Update [ToggleButtons] to support extend down/up vertically
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/test/material/toggle_buttons_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71559 Revert "Improve the behavior of DropdownButton.disabledHint"
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework

#63466 [MaterialSlice] adds property to customize slice color
  packages/flutter/lib/src/material/mergeable_material.dart
  packages/flutter/test/material/mergeable_material_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#70966 [web] Add wrapbox scroll benchmark
  dev/benchmarks/macrobenchmarks/assets/Icon-192.png
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_wrapbox_scroll.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
  dev/benchmarks/macrobenchmarks/pubspec.yaml
Labels: cla: yes, team

#71531 Update CI to CocoaPods 1.10
  dev/ci/mac/Gemfile.lock
Labels: cla: yes, platform-ios, team, team: infra

#71459 Revert "Fix excessive rebuilds of DSS"
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: cla: yes, framework

#71598 [flutter_tools] enable CK restart tests
  packages/flutter_tools/test/src/common.dart
  packages/flutter_tools/test/web.shard/hot_reload_web_test.dart
Labels: cla: yes, tool

#71610 Add verbose flag to hot mode tests
  dev/devicelab/lib/tasks/hot_mode_tests.dart
Labels: cla: yes, team

#71616 Mark hot_mode_dev_cycle_macos_target__benchmark flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#70240 Add integration_test template to create template
  packages/flutter_tools/templates/app/integration_test/app_test.dart.tmpl
  packages/flutter_tools/templates/app/integration_test/driver.dart.tmpl
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/integration.shard/integration_test_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#71602 Turn on dependabot to roll bundler dependencies
  .github/dependabot.yml
Labels: cla: yes, team, team: infra, waiting for tree to go green

#71236 Raw keyboard shortcuts & deletions should not read from _plainText
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71609 remove obsolete firebase script
  dev/bots/firebase_testlab.sh
Labels: cla: yes, team, waiting for tree to go green

#71601 [flutter_tools] mode code size output to ~/.flutter-devtools
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/integration.shard/analyze_size_test.dart
Labels: cla: yes, tool

#71660 Revert "Add integration_test template to create template"
  packages/flutter_tools/templates/app/integration_test/app_test.dart.tmpl
  packages/flutter_tools/templates/app/integration_test/driver.dart.tmpl
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/integration.shard/integration_test_test.dart
Labels: cla: yes, tool

#70883 Skip reformatting and calling onChanged for composing region only changes.
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#71539 Add a test for intrinsic size checks
  packages/flutter/test/rendering/dynamic_intrinsics_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#71623 Add sysctl file fallbacks
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/test/general.shard/base/build_test.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
Labels: cla: yes, platform-mac, tool, waiting for tree to go green

#71624 Fix dependabot directory
  .github/dependabot.yml
Labels: cla: yes, team, team: infra, waiting for tree to go green

#71491 [flutter_tools] hide web server by default
  packages/flutter_tools/lib/src/web/web_device.dart
Labels: cla: yes, tool

#70343 Code sample small fixes
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/dismissible.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
Labels: adopt a widget, cla: yes, d: api docs, f: material design, framework, waiting for tree to go green

#71663 Remove left-overs from causal async stacks.
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_build.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_kernel_compiler.dart
  packages/flutter_tools/test/general.shard/base/build_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#71671 [flutter_tools] roll deps, fix completion bug
  dev/tools/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#71303 RefreshIndicator can be shown when dragging from non-zero scroll position
  dev/integration_tests/flutter_gallery/lib/demo/material/overscroll_demo.dart
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/test/material/refresh_indicator_test.dart
Labels: cla: yes, f: material design, framework, team, waiting for tree to go green

#71003 [flutter_tools] Set basic error matcher for Linux builds
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
Labels: cla: yes, tool

#71487 [flutter_tools] report basic analytics for null-safety
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/reporting/events.dart
  packages/flutter_tools/lib/src/reporting/reporting.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/reporting/events_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: cla: yes, tool

#71600 Create symlinks for local engine Maven metadata files required by the Android Gradle plugin
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#70722 Simplify the flutter_web_plugins plugin registration API. (#70337)
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/templates/plugin/lib/projectName_web.dart.tmpl
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_web_plugins/lib/flutter_web_plugins.dart
  packages/flutter_web_plugins/lib/src/navigation/utils.dart
  packages/flutter_web_plugins/lib/src/plugin_registry.dart
Labels: cla: yes, tool

#71128 [gen-l10n] Fix forwarding of output-dir in l10n.yaml file
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#71628 Reland "Improve the behavior of DropdownButton.disabledHint"
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework

#71597 Ensure the packaging script does not overwrite a previous upload
  dev/bots/prepare_package.dart
  dev/bots/test/fake_process_manager.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes, team

#71522 Re-land CupertinoFormSection, CupertinoFormRow, and CupertinoTextFormFieldRow
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/form_row.dart
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/test/cupertino/form_row_test.dart
  packages/flutter/test/cupertino/form_section_test.dart
  packages/flutter/test/cupertino/text_form_field_row_test.dart
Labels: cla: yes, f: cupertino, framework

#71547 fix nullability of parameters with redirecting factory constructors
  packages/flutter/lib/src/material/flat_button.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/lib/src/material/typography.dart
Labels: cla: yes, f: material design, framework

#71721 Pass --local-engine* flags from dev/bots/test.dart down to `pub test` via env variables
  dev/bots/test.dart
Labels: cla: yes, team, waiting for tree to go green

#71611 Updated GridView API Doc
  packages/flutter/lib/src/widgets/scroll_view.dart
Labels: cla: yes, framework

#71730 Turn off flaky module_test_ios FlutterUITests
  dev/integration_tests/ios_host_app/FlutterUITests/FlutterUITests.m
  dev/integration_tests/ios_host_app/Host.xcodeproj/xcshareddata/xcschemes/Host.xcscheme
Labels: a: tests, cla: yes, team

#71726 [flutter_tool] fix incorrect coverage file generation
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/test/integration.shard/coverage_collection_test.dart
Labels: cla: yes, tool

#70819 Add RichText debugFillProperties TestCase
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/widgets/rich_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#71699 Roll Engine from 20caf5496951 to 14a6fd97ca12 (67 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes

#70683 Set [InputDecoration.floatingLabelBehavior] default to null
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71728 [flutter_tool] Report analytics as disabled when suppressed
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
Labels: cla: yes, tool

#71705 Copy the glibc bug fix to devicelab/integration tests
  dev/devicelab/lib/framework/browser.dart
Labels: cla: yes, team

#71734 Roll Engine from 14a6fd97ca12 to 59b4baea5124 (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71495 Adopt Flutter.xcframework in tool
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/ios/bitcode.dart
  packages/flutter_tools/lib/src/macos/cocoapod_utils.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Flutter/engine/Flutter.podspec.tmpl
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl
  packages/flutter_tools/test/general.shard/artifacts_test.dart
Labels: cla: yes, platform-ios, t: xcode, team, tool

#71744 Remove Flutter Authors from macOS project organization name
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
Labels: cla: yes, platform-mac, tool

#71750 Remove missing macOS RunnerUITests
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/manual_tests/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme.tmpl
  packages/integration_test/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: cla: yes, platform-mac, team, tool, waiting for tree to go green

#71751 [devicelab] Add upload metrics test builder as flaky
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#71752 Remove unused local from xcode_backend
  packages/flutter_tools/bin/xcode_backend.sh
Labels: cla: yes, platform-ios, t: xcode, tool, waiting for tree to go green

#71748 Profiling Xcode app should use Flutter profile mode
  dev/integration_tests/channels/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/ui/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/manual_tests/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_view/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/hello_world/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/platform_channel/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/platform_channel_swift/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/platform_view/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme.tmpl
  packages/integration_test/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: cla: yes, d: examples, platform-mac, team, tool

#70847 Ensure attaching to an application with an existing DDS instance is not treated as a fatal error
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/tools/pubspec.yaml
  packages/flutter_tools/lib/src/base/dds.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, team, tool

#71757 Rename IOSMigrator -> ProjectMigrator
  packages/flutter_tools/lib/src/base/project_migrator.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/project_base_configuration_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/xcode_build_system_migration.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#71745 Update macOS Xcode compatibilityVersion
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/macos/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/integration_test/example/macos/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, platform-mac, team, tool, waiting for tree to go green

#71760 Make macrobenchmarks buildable for macos
  .gitignore
  dev/benchmarks/macrobenchmarks/macos/Flutter/Flutter-Debug.xcconfig
  dev/benchmarks/macrobenchmarks/macos/Flutter/Flutter-Release.xcconfig
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/macos/Runner.xcworkspace/contents.xcworkspacedata
Labels: a: tests, cla: yes, platform-mac, team

#71761 Check in manual_tests gitignores
  dev/manual_tests/.gitignore
  dev/manual_tests/macos/.gitignore
Labels: cla: yes, platform-mac, team

#71771 Roll Engine from 59b4baea5124 to 6e0c7e493162 (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71707 Add stretch property to CupertinoSliverNavigationBar
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
Labels: cla: yes, f: cupertino, framework

#71774 Roll Engine from 6e0c7e493162 to 6491c7518f34 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71580 Updated dialog background color documentation
  packages/flutter/lib/src/material/dialog.dart
Labels: cla: yes, f: material design, framework

#71569 [Material] Resolve overlay color for pressed/active/inactive states in selection controls
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_theme.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_theme.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_theme.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/checkbox_theme_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/radio_theme_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/switch_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71738 Allow flavors and build types when using plugins
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, platform-android, t: gradle, team, tool, waiting for tree to go green

#69761 Link the API docs on waitFor() to the docs for runUnsynchronized()
  packages/flutter_driver/lib/src/driver/driver.dart
Labels: a: tests, cla: yes, framework

#71858 Roll Engine from 6491c7518f34 to 69dacc4138d1 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71860 Do not add CI build settings to macOS
  packages/flutter_tools/lib/src/macos/build_macos.dart
Labels: cla: yes, team, tool

#71859 Update integration_test README for iOS
  packages/integration_test/README.md
Labels: cla: yes, documentation, waiting for tree to go green

#71740 Reland integration template
  packages/flutter_tools/templates/app/integration_test/app_test.dart.tmpl
  packages/flutter_tools/templates/app/integration_test/driver.dart.tmpl
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/integration.shard/integration_test_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#71866 Mark hot_mode_dev_cycle_macos_target__benchmark not flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#71862 Remove manual Flutter linking for iOS projects
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool

#71869 Roll Engine from 69dacc4138d1 to d1a511743a22 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71868 Doc fixes for dry layout
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/object.dart
Labels: cla: yes, framework

#71870 Stop using Xcode build settings in materialized Info.plist
  packages/flutter_tools/templates/app/ios.tmpl/Flutter/AppFrameworkInfo.plist
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/AppFrameworkInfo.plist
Labels: cla: yes, platform-ios, tool

#71878 Roll Engine from d1a511743a22 to a3ee6150e18d (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71807 StandardMethodCodec.decodeEnvelope should allow null error message
  packages/flutter/lib/src/services/message_codecs.dart
  packages/flutter/test/services/message_codecs_test.dart
Labels: a: null-safety, cla: yes, framework

#71883 Roll Engine from a3ee6150e18d to a26e80c931d6 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71889 Roll Engine from a26e80c931d6 to b0d31ae1667b (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71657 [ExpansionPanel] Exposes color property of MaterialSlice
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/test/material/expansion_panel_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71838 showDialog assertion for non-null builder or child property
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71852 Fix text direction logic for material icon variants
  dev/tools/update_icons.dart
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/test/material/icons_test.dart
Labels: cla: yes, f: material design, framework, team, waiting for tree to go green

#71853 Add previews for CupertinoIcons
  dev/docs/assets/overrides.css
  dev/docs/styles.html
  packages/flutter/lib/src/cupertino/icons.dart
  packages/flutter/lib/src/material/icons.dart
Labels: cla: yes, f: cupertino, f: material design, framework, team, waiting for tree to go green

#71861 Remove isMaterialAppTheme property
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/theme.dart
  packages/flutter/test/material/text_selection_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71892 Roll Engine from b0d31ae1667b to 1efa85188b60 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71922 Roll Engine from 1efa85188b60 to 4d1465f77e73 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71137 Fix the duration assertion error for the _animateToInternal method and refine the error description
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter/test/animation/animation_controller_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#71764 Move embedding and linking macOS Flutter frameworks into the tool
  dev/benchmarks/macrobenchmarks/macos/Podfile
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_gallery/macos/Podfile
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/macos/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/migrations/remove_macos_framework_link_and_embedding_migration.dart
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/cocoapods/Podfile-macos
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
  packages/integration_test/example/macos/Podfile
  packages/integration_test/example/macos/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, team, tool

#71932 Roll Engine from 4d1465f77e73 to de341faa4d51 (5 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71872 Make FocusManager configurable in BuildOwner
  packages/flutter/lib/src/gestures/pointer_router.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework

#71951 Revert "Move embedding and linking macOS Flutter frameworks into the tool"
  dev/benchmarks/macrobenchmarks/macos/Podfile
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_gallery/macos/Podfile
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/macos/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/migrations/remove_macos_framework_link_and_embedding_migration.dart
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/cocoapods/Podfile-macos
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
  packages/integration_test/example/macos/Podfile
  packages/integration_test/example/macos/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, team, tool

#71886 [devicelab] Pass git branch via flag to test runner
  dev/devicelab/bin/run.dart
  dev/devicelab/lib/framework/cocoon.dart
  dev/devicelab/test/cocoon_test.dart
Labels: cla: yes, team, waiting for tree to go green

#71935 Update dartdoc to 0.38.0
  dev/bots/docs.sh
Labels: cla: yes, team, waiting for tree to go green

#71957 Stop using the List constructor
  dev/benchmarks/macrobenchmarks/lib/src/heavy_grid_view.dart
  dev/tools/vitool/lib/vitool.dart
  examples/image_list/lib/main.dart
Labels: cla: yes, d: examples, team, waiting for tree to go green

#71940 Remove duplicate code in Element.rebuild() and BuildOwner.buildScope()
  packages/flutter/lib/src/gestures/pointer_router.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework

#71966 Roll Engine from de341faa4d51 to ed110bfd717a (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71969 Roll Engine from ed110bfd717a to df39e5c51517 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71973 Roll Engine from df39e5c51517 to 5db69719d1b8 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71950 [flutter_tool] Fix crash in update-packages
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/general.shard/update_packages_test.dart
Labels: cla: yes, tool

#72003 Roll Engine from 5db69719d1b8 to d2ccdefe1877 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#71965 Reland Move embedding and linking macOS Flutter frameworks into the tool
  dev/benchmarks/macrobenchmarks/macos/Podfile
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_gallery/macos/Podfile
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/macos/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/migrations/remove_macos_framework_link_and_embedding_migration.dart
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/cocoapods/Podfile-macos
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
  packages/integration_test/example/macos/Podfile
  packages/integration_test/example/macos/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, platform-mac, team, tool

#72012 Revert "Reland Move embedding and linking macOS Flutter frameworks into the tool"
  dev/benchmarks/macrobenchmarks/macos/Podfile
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_gallery/macos/Podfile
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/macos/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/migrations/remove_macos_framework_link_and_embedding_migration.dart
  packages/flutter_tools/templates/app/macos.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/cocoapods/Podfile-macos
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
  packages/integration_test/example/macos/Podfile
  packages/integration_test/example/macos/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, team, tool

#70687 Chip theme label style is merged with the provided label style
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#71937 Run plugin tests on try builders when flutter_tools changes
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#71964 Ensure apps can build while using AGP 3.3.0
  dev/devicelab/bin/tasks/android_plugin_example_app_build_test.dart
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, t: gradle, team, tool, waiting for tree to go green

#71934 Add integration_test to integration tests build shard
  dev/bots/test.dart
  packages/integration_test/example/android/app/src/main/res/values/styles.xml
  packages/integration_test/example/ios/Runner.xcodeproj/project.pbxproj
  packages/integration_test/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/integration_test/example/macos/.gitignore
  packages/integration_test/example/macos/Podfile
  packages/integration_test/example/macos/Runner.xcodeproj/project.pbxproj
  packages/integration_test/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/integration_test/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/integration_test/example/macos/Runner/AppDelegate.swift
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/integration_test/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/integration_test/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/integration_test/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/integration_test/example/macos/Runner/Configs/Debug.xcconfig
  packages/integration_test/example/macos/Runner/Configs/Release.xcconfig
  packages/integration_test/example/macos/Runner/Configs/Warnings.xcconfig
  packages/integration_test/example/macos/Runner/DebugProfile.entitlements
  packages/integration_test/example/macos/Runner/Info.plist
  packages/integration_test/example/macos/Runner/MainFlutterWindow.swift
  packages/integration_test/example/macos/Runner/Release.entitlements
  packages/integration_test/integration_test_macos/macos/integration_test_macos.podspec
  packages/integration_test/ios/integration_test.podspec
Labels: cla: yes, p: integration_test, team, waiting for tree to go green

#71953 Add macOS to lint plugins integration test
  dev/devicelab/bin/tasks/plugin_lint_mac.dart
Labels: cla: yes, platform-mac, team

#72014 [flutter_releases] Flutter Framework Stable 1.22.5 Cherrypicks
  bin/internal/engine.version
Labels: a: tests, cla: yes, d: examples, engine, f: cupertino, f: material design, framework, team, tool

#71880 Constrain width/hight when asking child for intrinsics
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/sized_box_test.dart
Labels: cla: yes, framework

#71830 Fix a ConstantTween's clerical error and Add some Tween testcases.
  packages/flutter/lib/src/animation/tween.dart
  packages/flutter/test/animation/tween_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#68185 Draggable: onDragUpdate callback
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#68086 Introduce `MaxLengthEnforcement`
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/services/text_formatter.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/form_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework

#70368 [integration_test] Wrap pumped widgets with a RepaintBoundary
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/test/binding_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#72036 Roll Engine from d2ccdefe1877 to 8518a5bbe69a (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#70321 Add autofill troubleshooting tips to autofillHints documentation
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: cla: yes, framework, waiting for tree to go green

#72041 Roll Engine from 8518a5bbe69a to 827aa5d073f3 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#72046 Add footer to CupertinoFormSection and fix CupertinoFormSection margins.
  packages/flutter/lib/src/cupertino/form_row.dart
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/test/cupertino/form_section_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#72079 [flutter_releases] Flutter Framework Stable 1.22.5 cherrypicks
  bin/internal/engine.version
Labels: a: tests, cla: yes, d: examples, engine, f: cupertino, f: material design, framework, team, tool

#71882 Migrate devicelab to package:vm_service
  dev/bots/pubspec.yaml
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/pubspec.yaml
  dev/snippets/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#72092 Revert "Migrate devicelab to package:vm_service"
  dev/bots/pubspec.yaml
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/pubspec.yaml
  dev/snippets/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes, team, tool

#71962 [flutter_tools] update message for `flutter create -t plugin` when no `--platforms` specified
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#72102 Revert "Constrain width/hight when asking child for intrinsics"
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/sized_box_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#72120 Revert "Remove duplicate code in Element.rebuild() and BuildOwner.buildScope()"
  packages/flutter/lib/src/gestures/pointer_router.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework

#72141 Revert "Pass --local-engine* flags from dev/bots/test.dart down to ` pub test` via env variables (#71721)"
  dev/bots/test.dart
Labels: cla: yes, team

#72086 Roll Engine from 827aa5d073f3 to 4797b0665242 (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green, will affect goldens

#69539 AdoptAWidget: PreferredSizeWidget
  packages/flutter/lib/src/widgets/preferred_size.dart
Labels: cla: yes, framework
