Repository flutter/flutter, pull requests merged in 2020-01, with the labels that each got.

#48077 Roll engine bdc9708d235e..fa05d367add3 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#47993 Allow Xcode project Info.plist to be moved
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: cla: yes, t: xcode, tool, waiting for tree to go green

#48002 Remove simulator arch in Profile and Release, App.xcframework
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
Labels: a: existing-apps, cla: yes, team, tool, waiting for tree to go green

#48094 Reland "Revert "Add visual density to the gallery options (#46090)"..…
  examples/flutter_gallery/lib/gallery/app.dart
  examples/flutter_gallery/lib/gallery/options.dart
  examples/flutter_gallery/lib/gallery/scales.dart
  examples/flutter_gallery/test/drawer_test.dart
Labels: cla: yes, d: examples, team, team: gallery

#47904 EditableText should not update textinput style when the textinput is …
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, cla: yes, framework

#47890 Flutter Web Driver Support
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/bots/test.dart
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/flutter_gallery/test_driver/scroll_perf_web.dart
  examples/flutter_gallery/test_driver/scroll_perf_web_test.dart
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter_driver/BUILD.gn
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/lib/src/driver/web_driver.dart
  packages/flutter_driver/lib/src/driver/web_driver_config.dart
  packages/flutter_driver/lib/src/extension/_io_extension.dart
  packages/flutter_driver/lib/src/extension/_web_extension.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/pubspec.yaml
  packages/flutter_driver/test/flutter_driver_test.dart
  packages/flutter_driver/test/src/real_tests/extension_test.dart
  packages/flutter_driver/test/src/real_tests/find_test.dart
  packages/flutter_driver/test/src/real_tests/io_extension_test.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
  packages/flutter_driver/test/src/real_tests/timeline_test.dart
  packages/flutter_driver/test/src/real_tests/wait_test.dart
  packages/flutter_driver/test/src/real_tests/web_driver_config_test.dart
  packages/flutter_driver/test/src/web_tests/web_extension_test.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: a: tests, cla: yes, d: examples, framework, team, team: gallery, tool, waiting for tree to go green

#48097 fix io_test
  packages/flutter_tools/test/general.shard/base/io_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48131 Roll engine fa05d367add3..d35a4b300877 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48095 make pub get test shufflable
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48101 reset state between runs of devFS tests
  packages/flutter_tools/test/general.shard/devfs_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#47709 Implement AlertDialog.actionsPadding and AlertDialog.buttonPadding
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: cla: yes, f: material design, framework

#48139 Roll engine d35a4b300877..5858519139c2 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#47831 Fix ShaderWarmUp docs
  packages/flutter/lib/src/painting/shader_warm_up.dart
Labels: cla: yes, d: api docs, documentation, framework

#47593 ignore a (potentially) unused import in generated code
  packages/flutter_tools/lib/src/plugins.dart
Labels: cla: yes, tool

#48001 Fix MediaQuery override in CupertinoDatePicker
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: cla: yes, f: cupertino, framework

#48143 Roll engine 5858519139c2..eb139936eb2c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#44628 CupertinoDatepicker time/dateTime constraints
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: cla: yes, f: cupertino, framework

#48152 Added API docs on only opening a Scaffold's drawer programmatically
  packages/flutter/lib/src/material/scaffold.dart
Labels: cla: yes, d: api docs, f: material design, framework

#46937 Add newlines between plugin names in GitHub template
  packages/flutter_tools/lib/src/reporting/github_template.dart
  packages/flutter_tools/test/general.shard/github_template_test.dart
Labels: a: triage, cla: yes, tool

#48163 Roll engine eb139936eb2c..cbdc7bde224c (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#47884 add key to constructors of public widgets
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/page_scaffold.dart
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/lib/src/widgets/value_listenable_builder.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/expansion_panel_test.dart
  packages/flutter/test/material/feedback_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/tabbed_scrollview_warp_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/material/will_pop_test.dart
  packages/flutter/test/widgets/baseline_test.dart
  packages/flutter/test/widgets/build_scope_test.dart
  packages/flutter/test/widgets/dismissible_test.dart
  packages/flutter/test/widgets/dispose_ancestor_lookup_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/global_keys_moving_test.dart
  packages/flutter/test/widgets/implicit_animations_test.dart
  packages/flutter/test/widgets/independent_widget_layout_test.dart
  packages/flutter/test/widgets/inherited_test.dart
  packages/flutter/test/widgets/inherited_theme_test.dart
  packages/flutter/test/widgets/init_state_test.dart
  packages/flutter/test/widgets/linked_scroll_view_test.dart
  packages/flutter/test/widgets/list_view_test.dart
  packages/flutter/test/widgets/modal_barrier_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/render_object_widget_test.dart
  packages/flutter/test/widgets/reparent_state_harder_test.dart
  packages/flutter/test/widgets/reparent_state_with_layout_builder_test.dart
  packages/flutter/test/widgets/scroll_position_test.dart
  packages/flutter/test/widgets/set_state_1_test.dart
  packages/flutter/test/widgets/set_state_3_test.dart
  packages/flutter/test/widgets/set_state_4_test.dart
  packages/flutter/test/widgets/set_state_5_test.dart
  packages/flutter/test/widgets/size_changed_layout_notification_test.dart
  packages/flutter/test/widgets/slivers_block_global_key_test.dart
  packages/flutter/test/widgets/slivers_test.dart
  packages/flutter/test/widgets/state_setting_in_scrollables_test.dart
  packages/flutter/test/widgets/stateful_component_test.dart
  packages/flutter/test/widgets/syncing_test.dart
  packages/flutter/test/widgets/test_widgets.dart
  packages/flutter/test/widgets/ticker_provider_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework

#48244 Roll engine cbdc7bde224c..3851981b863a (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#46900 mark widget == and hashCode as nonVirtual
  packages/flutter/lib/foundation.dart
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework, waiting for tree to go green

#47523 Add `Border.symmetric` constructor
  packages/flutter/lib/src/painting/box_border.dart
  packages/flutter/test/painting/border_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#48098 fix mockStopWatch creation
  packages/flutter_tools/test/general.shard/base/logger_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48260 update dependencies for flutter_tool
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team

#47552 Added `showCheckboxColumn` parameter to DataTable and PaginatedDataTable
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/test/material/data_table_test.dart
Labels: cla: yes, f: material design, framework

#48263 Add finally for test
  packages/flutter_tools/test/general.shard/base/io_test.dart
Labels: cla: yes, tool

#48261 Add @christopherfujino as owner of dev/ci (docker)
  CODEOWNERS
Labels: cla: yes, team

#48251 update gitignore and xcode changes to macOS project for flutter gallery
  .gitignore
  examples/flutter_gallery/macos/Podfile
  examples/flutter_gallery/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_gallery/macos/Runner.xcworkspace/contents.xcworkspacedata
Labels: cla: yes, d: examples, team, team: gallery

#48250 Cache the path context in the flutter tool
  packages/flutter_tools/lib/src/base/error_handling_file_system.dart
  packages/flutter_tools/test/general.shard/base/error_handling_file_system_test.dart
Labels: cla: yes, tool

#48149 Registering multiple transformed events should work
  packages/flutter/lib/src/gestures/pointer_signal_resolver.dart
  packages/flutter/test/gestures/pointer_signal_resolver_test.dart
Labels: cla: yes, f: scrolling, framework, severe: crash

#48003 Make analyze once test not depend on test order or flutter create command
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48269 Fix state in test
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48266 Add globals technical debt benchmark
  dev/devicelab/bin/tasks/technical_debt__cost.dart
Labels: cla: yes, team

#45950 SliverFadeTransition
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/proxy_sliver.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/rendering/proxy_sliver_test.dart
  packages/flutter/test/rendering/rendering_tester.dart
  packages/flutter/test/widgets/transitions_test.dart
Labels: a: animation, cla: yes, f: scrolling, framework, severe: new feature, waiting for tree to go green

#46200 Mark unused but desired private constructors as such
  examples/flutter_gallery/lib/gallery/icons.dart
  packages/flutter/lib/src/animation/curves.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/icons.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/licenses.dart
  packages/flutter/lib/src/foundation/unicode.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/hit_test.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/colors.dart
  packages/flutter/lib/src/material/elevation_overlay.dart
  packages/flutter/lib/src/material/feedback.dart
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/lib/src/semantics/semantics_service.dart
  packages/flutter/lib/src/services/clipboard.dart
  packages/flutter/lib/src/services/haptic_feedback.dart
  packages/flutter/lib/src/services/platform_messages.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/system_chrome.dart
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/services/system_sound.dart
  packages/flutter/lib/src/widgets/route_notification_messages.dart
  packages/flutter_test/lib/src/test_async_utils.dart
Labels: a: accessibility, a: tests, cla: yes, d: examples, f: cupertino, f: material design, framework, team, team: gallery, waiting for tree to go green

#47379 Refactor SliverFillRemaining
  packages/flutter/lib/src/rendering/sliver_fill.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/sliver_fill.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/sliver_fill_remaining_test.dart
Labels: a: quality, a: tests, cla: yes, f: scrolling, framework, team, waiting for tree to go green

#48314 Esarbanis flutter run help
  AUTHORS
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#47915 [issue 7293] add test for rettangle box decoration with boarder radius
  packages/flutter/test/widgets/box_decoration_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#48218 Remove unused public static members of private classes/enums
  dev/manual_tests/lib/density.dart
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/test/foundation/bit_field_test.dart
Labels: cla: yes, framework, team, waiting for tree to go green

#48319 [flutter_tool] Add support for --csp mode to build web
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool

#48278 Analytics issue
  packages/flutter_tools/test/general.shard/analytics_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#48351 Revert "Esarbanis flutter run help"
  AUTHORS
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool

#47797 Document reasoning for why CustomMultiChildLayout size can't depend on children and how to do it
  packages/flutter/lib/src/rendering/custom_layout.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, d: api docs, documentation, framework, waiting for tree to go green

#48365 Roll engine 3851981b863a..3f52888b3bcf (7 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48369 Revert "Document reasoning for why CustomMultiChildLayout size can't …
  packages/flutter/lib/src/rendering/custom_layout.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, framework

#48307 use yield* instead of for-yield
  dev/bots/run_command.dart
Labels: cla: yes, team

#48358 Cleanup accidental use of global fs in xcodeproj_test.
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48382 Roll engine 3f52888b3bcf..a50f1ef56a05 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#47706 gen_l10n Number Format Handling
  dev/tools/localization/gen_l10n.dart
  dev/tools/test/localization/gen_l10n_test.dart
Labels: a: internationalization, cla: yes, team, tool, waiting for tree to go green

#48367 Don't use local file system in devfs test
  packages/flutter_tools/test/general.shard/devfs_test.dart
Labels: cla: yes, tool

#48343 StackTrace parser, fix assertion error message
  packages/flutter/lib/foundation.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/foundation/stack_frame.dart
  packages/flutter/test/foundation/assertions_test.dart
  packages/flutter/test/foundation/diagnostics_test.dart
  packages/flutter/test/foundation/error_reporting_test.dart
  packages/flutter/test/foundation/stack_frame_test.dart
Labels: cla: yes, framework

#47547 Add CatmullRomCurve and CatmullRomSpline
  dev/benchmarks/microbenchmarks/lib/geometry/curves_bench.dart
  dev/benchmarks/microbenchmarks/lib/geometry/rrect_contains_bench.dart
  packages/flutter/lib/src/animation/curves.dart
  packages/flutter/test/animation/curves_test.dart
Labels: cla: yes, framework, team

#48394 Roll engine a50f1ef56a05..4e9e69d2b392 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#47726 enable lint prefer_for_elements_to_map_fromIterable
  analysis_options.yaml
  examples/flutter_gallery/lib/gallery/app.dart
  examples/flutter_gallery/lib/gallery/demos.dart
Labels: cla: yes, d: examples, team, team: gallery, waiting for tree to go green

#48422 Roll engine 4e9e69d2b392..f001ea29f1b9 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48359 [fuchsia] Create an entry-point script to run driver tests on Fuchsia
  dev/bots/run_fuchsia_tests.sh
Labels: cla: yes, team

#46719 Change video_demo slightly so it works on web.
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/.gitignore
  examples/flutter_gallery/lib/demo/video_demo.dart
  examples/flutter_gallery/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/stocks/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, d: examples, team, team: gallery, waiting for tree to go green

#47704 Reorganize tests in l10n tool
  dev/tools/test/localization/gen_l10n_test.dart
Labels: a: internationalization, cla: yes, team, tool, waiting for tree to go green

#48154 Update first-run information URLs
  packages/flutter_tools/lib/src/reporting/usage.dart
Labels: cla: yes, tool, waiting for tree to go green

#47951 Flexible padding (header height) for expanded panels
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/test/material/expansion_panel_test.dart
Labels: cla: yes, f: material design, framework

#47269 [flutter_tool] Refactor Logger and Terminal to (mostly) no longer depend directly on context
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/base/build_test.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/base/terminal_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/commands/build_aot_test.dart
  packages/flutter_tools/test/general.shard/compile_expression_test.dart
  packages/flutter_tools/test/general.shard/config_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/ios/code_signing_test.dart
  packages/flutter_tools/test/general.shard/project_file_invalidator_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#48356 Rename conditional imported files to match convention
  packages/flutter_driver/lib/src/extension/_extension_io.dart
  packages/flutter_driver/lib/src/extension/_extension_web.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/real_tests/io_extension_test.dart
  packages/flutter_driver/test/src/web_tests/web_extension_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#48350 Check for desktop project files before building
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
Labels: cla: yes, tool

#48426 Update Dart diagram
  README.md
Labels: a: first hour, cla: yes, documentation, waiting for tree to go green

#48437 Roll engine f001ea29f1b9..46adf73d5128 (5 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#46661 Add optional `endian` argument for WriteBuffer/ReadBuffer
  packages/flutter/lib/src/foundation/serialization.dart
  packages/flutter/test/foundation/serialization_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#48444 [flutter_tool] Don't use context in ProcessUtils
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
Labels: cla: yes, tool

#47492 Add test of scrolling competition
  packages/flutter/test/widgets/scrollable_test.dart
Labels: cla: yes, f: gestures, f: scrolling, framework, waiting for tree to go green

#48504 Revert "Roll engine f001ea29f1b9..46adf73d5128 (5 commits)"
  bin/internal/engine.version
Labels: cla: yes, engine

#47551 Gold Pre-submit flow for contributors without permissions
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens/test/json_templates.dart
  packages/flutter_goldens_client/lib/skia_client.dart
Labels: a: error message, a: tests, cla: yes, framework, team, team: infra, waiting for tree to go green

#48268 Bump excon from 0.67.0 to 0.71.0 for ci on mac & linux
  dev/ci/docker_linux/Dockerfile
  dev/ci/docker_linux/Gemfile
  dev/ci/docker_linux/Gemfile.lock
  dev/ci/mac/Gemfile.lock
Labels: cla: yes, team, waiting for tree to go green

#48423 Reland: Reword flutter run help screen.
  AUTHORS
  dev/devicelab/bin/tasks/flutter_attach_test.dart
  dev/devicelab/bin/tasks/run_release_test.dart
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48451 Document reasoning for why CustomMultiChildLayout size can't depend on children and how to do it
  packages/flutter/lib/src/rendering/custom_layout.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: cla: yes, d: api docs, documentation, framework, waiting for tree to go green

#48274 Implement reverseTransitionDuration for TransitionRoute
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: a: animation, cla: yes, f: routes, framework, severe: new feature

#48265 Simplify the Shortcuts widget diagnostic output
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/test/widgets/shortcuts_test.dart
Labels: cla: yes, framework

#38355 Add a diagnostic message in analyze.dart
  dev/bots/analyze.dart
Labels: a: tests, cla: yes, framework, team, team: infra

#48435 Step 1 of 2: Warn about Flutter's FloatingActionButton dependency on ThemeData accent properties
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/test/material/floating_action_button_theme_test.dart
Labels: cla: yes, f: material design, framework

#48532 Migrate some more integration tests to Android embedding v2
  dev/integration_tests/image_loading/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/image_loading/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/release_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/release_smoke_test/android/app/src/main/java/com/example/release_smoke_test/MainActivity.java
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/app/src/main/java/com/yourcompany/integration_ui/MainActivity.java
Labels: cla: yes, team

#48345 Allow for customizable ModalRoute barrierTween
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: cla: yes, framework, severe: new feature, waiting for tree to go green

#48582 Revert "Migrate some more integration tests to Android embedding v2"
  dev/integration_tests/image_loading/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/image_loading/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/release_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/release_smoke_test/android/app/src/main/java/com/example/release_smoke_test/MainActivity.java
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/app/src/main/java/com/yourcompany/integration_ui/MainActivity.java
Labels: cla: yes, team

#48446 [flutter_tools] Remove context usage from status and clean up test cases
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, tool

#48316 Add support for web app manifests and arbitrary resource files
  dev/bots/analyze.dart
  examples/flutter_gallery/web/icons/Icon-192.png
  examples/flutter_gallery/web/icons/Icon-512.png
  examples/flutter_gallery/web/index.html
  examples/flutter_gallery/web/manifest.json
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/templates/app/web/icons/Icon-192.png.copy.tmpl
  packages/flutter_tools/templates/app/web/icons/Icon-512.png.copy.tmpl
  packages/flutter_tools/templates/app/web/index.html.tmpl
  packages/flutter_tools/templates/app/web/manifest.json.tmpl
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, d: examples, team, team: gallery, tool

#46640 install goldctl in docker build
  .cirrus.yml
  dev/ci/docker_linux/Dockerfile
  dev/ci/docker_linux/docker_build.sh
Labels: cla: yes, team, waiting for tree to go green

#47387 Stopped increasing the cache size to accomodate large images.
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/test/painting/image_cache_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#48531 Fixed issue where PaginatedDataTable would not fill the width of its containing Card
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/test/material/paginated_data_table_test.dart
Labels: cla: yes, f: material design, framework

#45833 Add missing indentation to assets-images example in pubspec.yaml, fixing whitespace issue
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
Labels: cla: yes, team, tool, waiting for tree to go green

#48100 Make subcommands return success instead of null
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/emulators.dart
  packages/flutter_tools/lib/src/commands/format.dart
  packages/flutter_tools/lib/src/commands/generate.dart
  packages/flutter_tools/lib/src/commands/ide_config.dart
  packages/flutter_tools/lib/src/commands/inject_plugins.dart
  packages/flutter_tools/lib/src/commands/install.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/commands/make_host_app_editable.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/commands/shell_completion.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/commands/train.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/lib/src/commands/version.dart
  packages/flutter_tools/lib/src/reporting/events.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/commands/build_aar_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
  packages/flutter_tools/test/general.shard/crash_reporting_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/runner/utils.dart
Labels: cla: yes, tool, waiting for tree to go green

#48445 L10n Currency Formatting, Fixes to Named vs Positional Parameters
  dev/tools/localization/gen_l10n.dart
  dev/tools/test/localization/gen_l10n_test.dart
Labels: a: internationalization, cla: yes, team, waiting for tree to go green

#48084 use DiagnosticsTreeStyle.oneLine for CupertinoThemeData
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/test/cupertino/theme_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#48102 Improve toolchain text
  packages/flutter_tools/lib/src/windows/visual_studio.dart
Labels: cla: yes, tool, waiting for tree to go green

#48207 Add padEnds option to SliverFillViewport
  packages/flutter/lib/src/widgets/sliver_fill.dart
  packages/flutter/test/widgets/sliver_fill_viewport_test.dart
Labels: cla: yes, f: scrolling, framework, waiting for tree to go green

#48585 [flutter_tools] Fix analytics opt out event
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48597 [flutter_tool] Use the delegate's toString in the ErrorHandlingFileSystem
  packages/flutter_tools/lib/src/base/error_handling_file_system.dart
  packages/flutter_tools/test/general.shard/base/error_handling_file_system_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48472 Test hot reload targeting a Fuchsia device
  dev/devicelab/bin/tasks/flutter_attach_test_android.dart
  dev/devicelab/bin/tasks/flutter_attach_test_fuchsia.dart
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/ui/fuchsia/meta/integration_ui.cmx
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
Labels: cla: yes, d: examples, team, tool, waiting for tree to go green, ○ platform-fuchsia

#48517 Adding error handling for SocketExceptions to local comparator
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#48538 Create helper functions to handle WebDriver actions. Some actions on base …
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/driver/web_driver.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#48598 Manually Roll engine to f001ea2...7ef88f8 (34 commits) to resolve goldens
  bin/internal/engine.version
Labels: cla: yes, engine, will affect goldens

#48459 Fix platform view pointer event global route position detection
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: cla: yes, framework

#48584 [flutter_tool] Make CommandHelp context free
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48385 Fix typo
  packages/flutter/lib/src/foundation/stack_frame.dart
Labels: cla: yes, framework, waiting for tree to go green

#48539 Update BUG.md
  .github/ISSUE_TEMPLATE/BUG.md
Labels: cla: yes

#48645 Roll engine 7ef88f85d572..3d37d39d95ad (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48267 Apply void_checks lint
  analysis_options.yaml
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/foundation/diagnostics_test.dart
  packages/flutter/test/widgets/shortcuts_test.dart
  packages/flutter_test/test/goldens_test.dart
  packages/flutter_tools/lib/src/build_runner/web_fs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
Labels: a: tests, cla: yes, f: material design, framework, tool, waiting for tree to go green

#48648 Roll engine 3d37d39d95ad..88935ca3c4fe (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48541 Make ParentDataWidget usable with different ancestor RenderObjectWidget types
  packages/flutter/lib/src/cupertino/action_sheet.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/widgets/automatic_keep_alive.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/test/widgets/custom_multi_child_layout_test.dart
  packages/flutter/test/widgets/parent_data_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#48605 [flutter_tool] Make BotDetector context free
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/base/bot_detector.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/reporting/reporting.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/base/bot_detector_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48589 Allow requestFocus on an unattached FocusNode to create a deferred focus request
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
Labels: cla: yes, framework

#48457 Fixing PageScrollPhysics to get along with NestedScrollView
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/test/widgets/scroll_physics_test.dart
Labels: cla: yes, f: scrolling, framework, severe: crash, waiting for tree to go green

#48733 Roll engine 88935ca3c4fe..73d2fb374ccb (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48295 Add asserts requiring BoxConstraints' parameters to be non-null
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/test/rendering/box_test.dart
Labels: cla: yes, framework

#48738 [flutter_tools] File system utilities
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/test/general.shard/base/file_system_test.dart
Labels: cla: yes, tool

#48743 Serve packages uris in flutter_tools dev web server
  packages/flutter_tools/lib/src/web/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, tool

#48755 Revert "[flutter_tools] File system utilities"
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/test/general.shard/base/file_system_test.dart
Labels: cla: yes, tool

#48342 Passes scrollPhysics from TextFormField to underlying TextField
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: a: text input, cla: yes, f: material design, framework, waiting for tree to go green

#48735 Fix tool test order
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
Labels: cla: yes, tool

#48344 [flutter_tools][web] Add basic service worker generation support to web applications
  examples/flutter_gallery/web/index.html
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/templates/app/web/index.html.tmpl
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48575 Fixing AutomaticKeepAlive Docs
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/sliver.dart
Labels: cla: yes, d: api docs, documentation, framework, waiting for tree to go green

#48750 [flutter_tool] Roll the Fuchsia SDK forward
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, tool, waiting for tree to go green

#48770 Roll engine 73d2fb374ccb..157772a31597 (4 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48759 [flutter_tools] Refactor Environment and FileStore to be context-free
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/file_hash_store.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/filecache_test.dart
  packages/flutter_tools/test/general.shard/build_system/source_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/windows_test.dart
Labels: cla: yes, tool

#48777 Roll engine 157772a31597..0235a5084389 (3 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48282 Let the tool warn about all old API plugins
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: a: existing-apps, cla: yes, tool

#48784 Roll engine 0235a5084389..fd269f60bfc6 (1 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48778 [flutter_tools] Update template for web application to correct typo
  packages/flutter_tools/templates/app/web/index.html.tmpl
Labels: cla: yes, tool, waiting for tree to go green

#48741 Return the correct number of semantic children for the ListView.separated constructor
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/test/widgets/list_view_builder_test.dart
Labels: a: accessibility, cla: yes, framework

#48529 SliverAnimatedOpacity
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/widgets/implicit_animations_test.dart
Labels: a: animation, cla: yes, f: scrolling, framework, severe: new feature, waiting for tree to go green

#48757 Reland: [flutter_tools] File system utilities
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_runner/web_compilation_delegate.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/commands/unpack.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/test/general.shard/base/file_system_test.dart
Labels: cla: yes, tool

#48610 [tools] Rename dev_finder to device-finder.
  dev/bots/run_fuchsia_tests.sh
  dev/devicelab/lib/framework/adb.dart
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_dev_finder.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#48611 Implement takeScreenshot and add driver test for Fuchsia
  dev/devicelab/bin/tasks/flutter_driver_screenshot_test_fuchsia.dart
  dev/integration_tests/flutter_driver_screenshot_test/fuchsia/meta/flutter_driver_screenshot_test.cmx
  dev/integration_tests/flutter_driver_screenshot_test/lib/main.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
Labels: cla: yes, customer: fuchsia, team, tool, waiting for tree to go green

#48746 [flutter_tools] Enable fast start by default
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: cla: yes, tool

#48836 Revert "[flutter_tools] Enable fast start by default"
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: cla: yes, tool

#48843 Roll engine fd269f60bfc6..82a851cf21cf (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48845 Increase iteration counts to help improve noise in benchmark results.
  dev/benchmarks/microbenchmarks/lib/geometry/matrix_utils_transform_bench.dart
Labels: cla: yes, team

#48776 [flutter_tools] Remove context from Artifacts class
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
  packages/flutter_tools/test/general.shard/commands/build_aot_test.dart
Labels: cla: yes, tool

#48728 ButtonBar.verticalDirection and AlertDialog.actionsVerticalDirection
  packages/flutter/lib/src/material/button_bar.dart
  packages/flutter/lib/src/material/button_bar_theme.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/button_bar_test.dart
  packages/flutter/test/material/button_bar_theme_test.dart
  packages/flutter/test/material/dialog_test.dart
Labels: cla: yes, f: material design, framework, severe: new feature, waiting for tree to go green

#48852 Roll engine 82a851cf21cf..ddaa9dc95f7b (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48840 Reland: Migrate some more integration tests to Android embedding v2
  dev/integration_tests/image_loading/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/image_loading/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/release_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/release_smoke_test/android/app/src/main/java/com/example/release_smoke_test/MainActivity.java
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/app/src/main/java/com/yourcompany/integration_ui/MainActivity.java
Labels: cla: yes, team, waiting for tree to go green

#48771 [flutter_tools] Clean up build_aot code post assemble migration
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_aot_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
Labels: cla: yes, tool

#48858 Roll engine ddaa9dc95f7b..bc41ab513932 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48752 [Gallery] Fix text contrast ratio on homepage and contacts demo
  examples/flutter_gallery/lib/demo/contacts_demo.dart
  examples/flutter_gallery/lib/gallery/options.dart
  examples/flutter_gallery/test/accessibility_test.dart
Labels: cla: yes, d: examples, team, team: gallery, waiting for tree to go green

#47457 Allow IconButton to have smaller sizes
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/icon_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#48844 Require Visual Studio 2019 for Windows
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/lib/src/windows/visual_studio_validator.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_validator_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48460 reland add lifecycle enum and remove workaround
  dev/bots/test.dart
  dev/integration_tests/ios_add2app_life_cycle/.gitignore
  dev/integration_tests/ios_add2app_life_cycle/Podfile
  dev/integration_tests/ios_add2app_life_cycle/README.md
  dev/integration_tests/ios_add2app_life_cycle/build_and_test.sh
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/.gitignore
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/.metadata
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/README.md
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/lib/main.dart
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.pbxproj
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcodeproj/xcshareddata/xcschemes/ios_add2app.xcscheme
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/AppDelegate.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/AppDelegate.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Assets.xcassets/Contents.json
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/FullScreenViewController.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/FullScreenViewController.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Info.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/Launch Screen.storyboard
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/MainViewController.h
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/MainViewController.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2app/main.m
  dev/integration_tests/ios_add2app_life_cycle/ios_add2appTests/Info.plist
  dev/integration_tests/ios_add2app_life_cycle/ios_add2appTests/IntegrationTests.m
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/widgets/binding_test.dart
Labels: cla: yes, framework, team, waiting for tree to go green

#48912 Roll engine bc41ab513932..348805107fe1 (2 commits)
  bin/internal/engine.version
Labels: autoroller: commit, cla: yes

#48740 Use a separately focusable semantics node for the chip delete icon
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: cla: yes, d: examples, f: material design, framework, team, team: gallery, waiting for tree to go green

#48829 [flutter_tools] Handle special characters during conversion of asset manifest paths into URIs
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#48841 Exclude modal barrier Semantics in Drawer on Android
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/test/widgets/drawer_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#48809 [Flutter Driver] Extend getText to support more widgets
  AUTHORS
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/real_tests/extension_test.dart
Labels: a: tests, cla: yes, framework, t: flutter driver
