Repository flutter/flutter, pull requests merged in 2020-03, with the labels that each got.

#51122 Material Bottom Sheet Reveal/Dismiss animation uses a curved animation
  packages/flutter/lib/src/animation/curves.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/curves.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/persistent_bottom_sheet_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#51646 Fix doc typo in WidgetsApp.supportedLocales
  packages/flutter/lib/src/widgets/app.dart
Labels: cla: yes, d: api docs, framework, waiting for tree to go green

#51679 Fix SliverHitTestResult.addWithAxisOffset's sign
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/test/rendering/slivers_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#51428 Add debugDoingBuild flag
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/foundation/diagnostics_json_test.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework

#51785 Roll engine back to 96061d62281d1840af3ee75fefa41d1cf254fce6
  bin/internal/engine.version
Labels: cla: yes, engine

#51792 Roll engine 96061d62281d..5e474ee860a3 (29 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51314 Update flexible_space_bar.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
Labels: cla: yes, d: api docs, documentation, f: material design, framework, waiting for tree to go green

#51801 [flutter_tools] disable mirrors in snapshot
  bin/flutter
  bin/flutter.bat
Labels: cla: yes, waiting for tree to go green

#51684 [flutter_tools] no more MockLogger
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/test/commands.shard/hermetic/downgrade_test.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/build_system/depfile_test.dart
  packages/flutter_tools/test/general.shard/config_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_deploy_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/persistent_tool_state_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/web/chrome_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#51517 Add missing features to `DefaultTextStyleTransition` and `AnimatedDefaultTextStyle`
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/test/widgets/implicit_animations_test.dart
  packages/flutter/test/widgets/transitions_test.dart
Labels: a: animation, a: typography, cla: yes, f: material design, framework, waiting for tree to go green

#51782 Add missing back links to the layout catalog
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/table.dart
Labels: cla: yes, d: api docs, documentation, framework, waiting for tree to go green

#51468 fix pom file not found when run app with local engine
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
Labels: cla: yes, tool, waiting for customer response, waiting for tree to go green

#51821 Roll engine 5e474ee860a3..6991dd981bf7 (10 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51519 Add Linux and Windows target platforms
  dev/integration_tests/flutter_driver_screenshot_test/lib/main.dart
  dev/manual_tests/lib/actions.dart
  dev/manual_tests/lib/animated_icons.dart
  dev/manual_tests/lib/density.dart
  dev/manual_tests/lib/drag_and_drop.dart
  dev/manual_tests/lib/focus.dart
  dev/manual_tests/lib/hover.dart
  dev/manual_tests/lib/main.dart
  dev/manual_tests/lib/material_arc.dart
  dev/manual_tests/lib/overlay_geometry.dart
  dev/manual_tests/lib/page_view.dart
  dev/manual_tests/lib/raw_keyboard.dart
  dev/manual_tests/lib/text.dart
  examples/flutter_gallery/lib/demo/material/drawer_demo.dart
  examples/flutter_gallery/lib/gallery/options.dart
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/foundation/_platform_io.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/platform.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/back_button.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/feedback.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/search.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/modal_barrier.dart
  packages/flutter/lib/src/widgets/scroll_configuration.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/flexible_space_bar_collapse_mode_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/typography_test.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
Labels: a: desktop, cla: yes, d: examples, f: cupertino, f: material design, framework, team, team: gallery

#51871 Simple repeating word fixes
  dev/bots/prepare_package.dart
  dev/bots/unpublish_package.dart
  dev/integration_tests/ios_add2app/README.md
  dev/integration_tests/ios_add2app_life_cycle/README.md
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/windows/visual_studio_project.dart
Labels: cla: yes, d: api docs, f: material design, framework, team, tool, waiting for tree to go green

#51876 Branching test
  dev/bots/prepare_package.dart
  dev/bots/unpublish_package.dart
  dev/devicelab/README.md
  dev/integration_tests/ios_add2app/README.md
  dev/integration_tests/ios_add2app_life_cycle/README.md
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/windows/visual_studio_project.dart
Labels: cla: yes, f: material design, framework, team, tool

#51453 Move embedding and linking Flutter frameworks into the tool
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/microbenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/android_views/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/codegen/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/release_smoke_test/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/ios/Runner.xcodeproj/project.pbxproj
  examples/catalog/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_gallery/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_view/ios/Runner.xcodeproj/project.pbxproj
  examples/hello_world/ios/Runner.xcodeproj/project.pbxproj
  examples/image_list/ios/Runner.xcodeproj/project.pbxproj
  examples/layers/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.pbxproj
  examples/platform_view/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/ios_migrator.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/templates/app/ios-objc.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/app/ios-swift.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/cocoapods/Podfile-ios-objc
  packages/flutter_tools/templates/cocoapods/Podfile-ios-swift
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.pbxproj.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Podfile.copy.tmpl
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: cla: yes, d: examples, t: xcode, team, team: gallery, tool, ⌺‬ platform-ios

#49848 Step 3 of 4: Make AlertDialog scrollable by default
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#51832 Add pre-stable support for create on Linux
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/linux/makefile.dart
  packages/flutter_tools/lib/src/template.dart
  packages/flutter_tools/templates/app/linux.tmpl/.gitignore
  packages/flutter_tools/templates/app/linux.tmpl/Makefile
  packages/flutter_tools/templates/app/linux.tmpl/app_configuration.mk.tmpl
  packages/flutter_tools/templates/app/linux.tmpl/flutter/.template_version
  packages/flutter_tools/templates/app/linux.tmpl/main.cc
  packages/flutter_tools/templates/app/linux.tmpl/window_configuration.cc.tmpl
  packages/flutter_tools/templates/app/linux.tmpl/window_configuration.h
  packages/flutter_tools/templates/plugin/linux.tmpl/Makefile
  packages/flutter_tools/templates/plugin/linux.tmpl/plugin_configuration.mk.tmpl
  packages/flutter_tools/templates/plugin/linux.tmpl/projectName_plugin.cc.tmpl
  packages/flutter_tools/templates/plugin/linux.tmpl/projectName_plugin.h.tmpl
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: cla: yes, tool

#51838 Exit for missing Windows plugin projects
  packages/flutter_tools/lib/src/windows/visual_studio_solution_utils.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_solution_utils_test.dart
Labels: cla: yes, tool

#51886 Revert "Step 3 of 4: Make AlertDialog scrollable by default"
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: cla: yes, f: material design, framework

#51591 Add explicit casts to for-in-dynamic.
  packages/flutter_driver/lib/src/common/wait.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/fuchsia_remote_debug_protocol/lib/src/dart/dart_vm.dart
Labels: a: tests, cla: yes, framework, tool, waiting for tree to go green

#51676 Fix `_checkPodCondition` not handling `CocoaPodsStatus.brokenInstall`
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: cla: yes, tool

#51901 Roll engine 6991dd981bf7..78a1c7ebf9ad (16 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51898 Remove listeners for live images when we clear them
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/test/painting/image_cache_test.dart
Labels: cla: yes, framework

#51905 Roll engine 78a1c7ebf9ad..90bd6f814817 (2 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51880 remove duplicated entry in a map
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: cla: yes, tool

#51943 Revert "Write FLUTTER_BUILD_MODE when using a local engine"
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: cla: yes, tool

#51946 Updated package:test, package:test_core, package:coverage, package:package_config
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_load_rotate/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_add2app/flutterapp/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/dart/package_map.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, tool, waiting for tree to go green

#51674 Keep render tree and element tree in sync when re-used elements move in a MultiChildRenderObjectElement's child list
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/test/widgets/multichildobject_with_keys_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#51914 Bitcode strip embedded iOS frameworks
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  dev/devicelab/manifest.yaml
  packages/flutter_tools/bin/xcode_backend.sh
Labels: cla: yes, t: xcode, team, tool

#51788 Add textfield perf test to devicelab
  dev/devicelab/bin/tasks/textfield_perf__timeline_summary.dart
  dev/devicelab/manifest.yaml
Labels: a: text input, cla: yes, perf: speed, severe: performance, team, waiting for tree to go green

#51938 Roll engine 90bd6f814817..e2b74ab80eb4 (4 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51965 Roll engine e2b74ab80eb4..b77f509e0bb8 (5 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51883 Unlooping Golden File Tests
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/painting/gradient_test.dart
  packages/flutter/test/widgets/shadow_test.dart
Labels: a: tests, cla: yes, framework, team, team: infra, waiting for tree to go green

#51973 Update iOS project migration help URL
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
Labels: cla: yes, tool

#51963 Skip iOS project migration when script is already embedding frameworks
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, tool

#51977 Mark devicelab tests as no longer flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team

#51966 [flutter_tools] reduce dependencies and use test coverage
  dev/bots/test.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/tool/tool_coverage.dart
Labels: cla: yes, team, tool

#51981 Roll engine b77f509e0bb8..810727bf3f8f (3 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51984 [flutter_tools] add status logs to determine where test is getting stuck
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
Labels: cla: yes, tool

#51925 Custom onPressed behavior for CloseButton widget
  packages/flutter/lib/src/material/back_button.dart
  packages/flutter/test/material/back_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#51952 [gen_l10n] Escape quote characters in ARB files
  dev/benchmarks/test_apps/stocks/lib/i18n/regenerate.md
  dev/benchmarks/test_apps/stocks/lib/i18n/stocks_en.arb
  dev/benchmarks/test_apps/stocks/lib/i18n/stocks_en_US.arb
  dev/tools/localization/gen_l10n.dart
  packages/flutter_tools/test/integration.shard/gen_l10n_test.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: a: internationalization, cla: yes, severe: regression, team, tool, waiting for tree to go green

#51986 Roll engine 810727bf3f8f..7df0a6e35e5c (7 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51944 enable avoid_single_cascade_in_expression_statements
  analysis_options.yaml
  dev/automated_tests/flutter_test/ticker_test.dart
  dev/manual_tests/lib/material_arc.dart
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/ink_ripple.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/color_filter.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/lib/src/widgets/image_filter.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/test/painting/image_cache_test.dart
  packages/flutter/test/widgets/gesture_detector_semantics_test.dart
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/ide_config_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, framework

#52017 Roll engine 7df0a6e35e5c..3e380092e270 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52023 Roll engine 3e380092e270..2e2a9e192d3d (2 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52033 [flutter_tools] pin exact build_runner version
  packages/flutter_tools/lib/src/build_runner/build_runner.dart
Labels: cla: yes, tool

#51995 [flutter_tools] resolve requests to web directory in debug mode
  dev/bots/test.dart
  dev/integration_tests/web/lib/web_directory_loading.dart
  dev/integration_tests/web/web/example
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, team, tool

#51988 [flutter_tools] support coverage and machine together
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/lib/src/test/event_printer.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
Labels: cla: yes, tool

#51808 [flutter_tools] supports tree-shake-icons for web builds
  packages/flutter_tools/lib/src/build_system/targets/icon_tree_shaker.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool, work in progress; do not review

#51714 [flutter_tools] Allow providing dart-defines to Android, iOS, macOS builds
  dev/devicelab/bin/tasks/android_defines_test.dart
  dev/devicelab/bin/tasks/ios_defines_test.dart
  dev/devicelab/lib/tasks/defines_task.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/ui/lib/defines.dart
  dev/integration_tests/ui/test_driver/defines_test.dart
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, team, tool

#52041 Revert "[flutter_tools] Allow providing dart-defines to Android, iOS, macOS builds"
  dev/devicelab/bin/tasks/android_defines_test.dart
  dev/devicelab/bin/tasks/ios_defines_test.dart
  dev/devicelab/lib/tasks/defines_task.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/ui/lib/defines.dart
  dev/integration_tests/ui/test_driver/defines_test.dart
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, team, tool

#52045 Revert "[flutter_tools] supports tree-shake-icons for web builds (#51…
  packages/flutter_tools/lib/src/build_system/targets/icon_tree_shaker.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool

#52040 update web template to remove some absolute paths
  packages/flutter_tools/templates/app/web/index.html.tmpl
Labels: cla: yes, tool

#52047 [flutter-tools] see if its a timing issue
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
Labels: cla: yes, tool

#52042 Update Maven URL to https
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/gradle/resolve_dependencies.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, t: gradle, tool

#52056 Roll engine 2e2a9e192d3d..e28d26e3054e (7 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52034 Correct a typo in the FAB build debugPrint message
  packages/flutter/lib/src/material/floating_action_button.dart
Labels: cla: yes, f: material design, framework

#52060 More fixes for randomizing test order
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool

#52054 [flutter_tools] Reland: supports tree-shake-icons for web builds
  .cirrus.yml
  packages/flutter_tools/lib/src/build_system/targets/icon_tree_shaker.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool

#50688 [flutter_tools] Remove mocking and simplify Dart target tests
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_test.dart
  packages/flutter_tools/test/src/fake_process_manager.dart
Labels: cla: yes, tool

#49589 [flutter_tools] Reduce context usage in analyze command and tests
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
  packages/flutter_tools/test/commands.shard/permeable/analyze_once_test.dart
  packages/flutter_tools/test/general.shard/dart/sdk_validation_test.dart
Labels: cla: yes, tool, work in progress; do not review

#52064 Roll engine e28d26e3054e..3bf196591bc3 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52070 Roll engine 3bf196591bc3..4da196caa1ce (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52080 Add overrides for FileSystemUtils
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52043 Local engine build mode
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52062 Fix version command for certain git workflows
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52078 Roll engine 4da196caa1ce..5aff31194809 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51410 Validate text selection before updating it inside of EditableText
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#51920 Remove target platform override on the gallery.
  examples/flutter_gallery/lib/main.dart
Labels: cla: yes, d: examples, team, team: gallery

#49756 Fix englishLike2018 bodyText
  packages/flutter/lib/src/material/typography.dart
Labels: cla: yes, f: material design, framework

#52093 [flutter_tools] fix coverage measurement to report on lib and not test
  dev/bots/test.dart
Labels: cla: yes, team

#51879 Add usage event for failed iOS project migration
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_build.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/ios/fallback_discovery.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/ios_migrator.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/lib/src/reporting/crash_reporting.dart
  packages/flutter_tools/lib/src/reporting/events.dart
  packages/flutter_tools/lib/src/reporting/reporting.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
Labels: cla: yes, tool

#52071 Bump recommended CocoaPods version to 1.8
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: cla: yes, t: xcode, tool, waiting for tree to go green

#52128 Revert "Fix version command for certain git workflows"
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52088 Fix flaky test
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool, waiting for tree to go green

#51916 Fix simctl process exceptions not being caught
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52072 Fix for negative padding from a curve in AnimatedPadding.
  packages/flutter/lib/src/painting/edge_insets.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/widgets/animated_padding_test.dart
Labels: cla: yes, framework

#52044 [flutter_tools] Reland: Allow providing dart-defines to Android, iOS, macOS builds
  dev/devicelab/bin/tasks/android_defines_test.dart
  dev/devicelab/bin/tasks/ios_defines_test.dart
  dev/devicelab/lib/tasks/defines_task.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/ui/lib/defines.dart
  dev/integration_tests/ui/test_driver/defines_test.dart
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/aot.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_runner/resident_web_runner.dart
  packages/flutter_tools/lib/src/build_system/targets/dart.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, team, tool

#52152 Revert "Local engine build mode"
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: cla: yes, tool

#52141 Reland fix `--version`
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool

#52177 Roll engine 5aff31194809..619acd58ca55 (23 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52181 Fix 2 typos within comments
  bin/flutter.bat
  packages/flutter_goldens_client/lib/skia_client.dart
Labels: cla: yes

#52178 Roll engine 619acd58ca55..f5a5031e9487 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52187 Roll engine f5a5031e9487..162199452e55 (2 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52190 Roll engine 162199452e55..76e119268ed6 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52203 Roll engine 76e119268ed6..a10f55573376 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52208 Roll engine a10f55573376..6d7580db4f1f (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52214 Roll engine 6d7580db4f1f..981c03631ea5 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51993 Made LayoutBuilder's builder param required as well as added null check
  packages/flutter/lib/src/widgets/layout_builder.dart
Labels: cla: yes, framework, waiting for tree to go green

#51335 Add width constraints for FlexibleSpaceBar.title in its expanded state, so that overflow of long titles can be handled
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#52216 Roll engine 981c03631ea5..aa6bdbab1d2e (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#51677 Add Android Chrome support to Flutter Web Driver.
  packages/flutter_driver/lib/src/driver/web_driver.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
Labels: a: tests, cla: yes, framework, tool

#52055 Improve text formatter repeat filter logic
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, cla: yes, customer: money (g3), framework

#52259 Roll engine aa6bdbab1d2e..6efadcdf8ce9 (3 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52266 Put fuchsia tools into their own directory, and set source_dir to point at them
  packages/flutter_tools/BUILD.gn
  packages/flutter_tools/bin/fuchsia/fuchsia_asset_builder.dart
  packages/flutter_tools/bin/fuchsia/fuchsia_attach.dart
  packages/flutter_tools/bin/fuchsia/fuchsia_tester.dart
Labels: cla: yes, tool

#52274 Revert "Improve text formatter repeat filter logic"
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, framework

#52277 Revert "Put fuchsia tools into their own directory, and set source_dir to point at them. (#52266)"
  packages/flutter_tools/BUILD.gn
  packages/flutter_tools/bin/fuchsia_asset_builder.dart
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/bin/fuchsia_tester.dart
Labels: cla: yes, tool

#52261 [flutter_tools] ensure --track-widget-creation is not enabled for build aot
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aot.dart
Labels: cla: yes, tool

#52265 [Keyboard] Collects windows key data
  dev/tools/gen_keycodes/bin/gen_keycodes.dart
  dev/tools/gen_keycodes/data/key_data.json
  dev/tools/gen_keycodes/data/key_name_to_windows_name.json
  dev/tools/gen_keycodes/data/keyboard_key.tmpl
  dev/tools/gen_keycodes/data/supplemental_hid_codes.inc
  dev/tools/gen_keycodes/lib/key_data.dart
  packages/flutter/lib/src/services/keyboard_key.dart
  packages/flutter/lib/src/services/keyboard_maps.dart
Labels: a: desktop, cla: yes, framework, team, waiting for tree to go green, ❖ platform-windows

#52271 Roll engine 6efadcdf8ce9..0e2c8feeeb47 (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52284 [flutter_tools] configure dwds to not serve devtools
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
Labels: cla: yes, tool

#52282 [flutter_tools] add more information to obfuscate option
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: cla: yes, tool

#52283 [benchmarks] remove build aot benchmarks
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, team

#52276 [flutter_tools] move stack_trace_mapper and require.js into memory files
  packages/flutter_tools/lib/src/build_runner/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, tool

#52329 test change
  README.md
Labels: cla: yes

#52288 Migrate older Xcode projects off the legacy build system
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/ios_migrator.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/xcode_build_system_migration.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, t: xcode, tool

#52173 [flutter_tools] prevent StateError when log reader is disposed
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/android/adb_log_reader_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_test.dart
  packages/flutter_tools/test/src/fake_process_manager.dart
Labels: cla: yes, tool

#52325 [flutter_tools] cache result of BotDetector in persistent tool state
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/base/bot_detector.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/test/general.shard/base/bot_detector_test.dart
Labels: cla: yes, tool

#52301 [flutter_tools] attempt to fix a List.first crasher in web loading
  packages/flutter_tools/lib/src/web/chrome.dart
Labels: cla: yes, tool

#52331 [flutter_tool] Use unzip -t instead of zip -T to verify zip files
  packages/flutter_tools/lib/src/base/os.dart
Labels: cla: yes, tool

#52332 Fix a11y scrolling for reversed lists
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/test/widgets/list_view_semantics_test.dart
Labels: a: accessibility, cla: yes, customer: money (g3), f: scrolling, framework, severe: customer blocker

#52273 Update pub dependencies to roll forward package:test
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/bots/test.dart
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/codegen/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/simple_codegen/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/catalog/pubspec.yaml
  examples/flutter_gallery/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/_flutter_web_build_script/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#52352 Revert "Add missing features to `DefaultTextStyleTransition` and `AnimatedDefaultTextStyle`"
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/test/widgets/implicit_animations_test.dart
  packages/flutter/test/widgets/transitions_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#52353 [flutter_tools] Make AndroidConsole check for next line
  packages/flutter_tools/lib/src/android/android_console.dart
  packages/flutter_tools/test/general.shard/android/android_device_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52351 [flutter_tools] handle null value from SDK version checks
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/test/general.shard/android/android_install_test.dart
Labels: cla: yes, tool

#52337 [flutter_tools] Handle StateError in ProtocolDiscovery.uri
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/ios/fallback_discovery.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/protocol_discovery.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/general.shard/protocol_discovery_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52348 don't run verify_binaries_codesigned test on experimental branches
  .cirrus.yml
Labels: cla: yes, team, team: infra

#52355 [flutter_tools] Throw a tool exit when samples fetch fails
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52349 Add sample for InheritedNotifier, convert two others to DartPad samples.
  dev/snippets/config/templates/stateful_widget_material_ticker.tmpl
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/widgets/inherited_notifier.dart
  packages/flutter/lib/src/widgets/transitions.dart
Labels: cla: yes, f: material design, framework, team

#52354 [flutter_tools] Fallback discovery: Don't crash when an Isolate has no root library
  packages/flutter_tools/lib/src/ios/fallback_discovery.dart
  packages/flutter_tools/test/general.shard/ios/fallback_discovery_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#51680 [flutter_tools] update visual studio and validator to remove globals, update test cases
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/lib/src/windows/visual_studio_validator.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_validator_test.dart
Labels: cla: yes, tool

#51882 Add ios platform view integration test
  dev/devicelab/bin/tasks/ios_platform_view_tests.dart
  dev/devicelab/lib/tasks/integration_tests.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/ios_platform_view_tests/.metadata
  dev/integration_tests/ios_platform_view_tests/README.md
  dev/integration_tests/ios_platform_view_tests/ios/.gitignore
  dev/integration_tests/ios_platform_view_tests/ios/Flutter/AppFrameworkInfo.plist
  dev/integration_tests/ios_platform_view_tests/ios/Flutter/Debug.xcconfig
  dev/integration_tests/ios_platform_view_tests/ios/Flutter/Release.xcconfig
  dev/integration_tests/ios_platform_view_tests/ios/Podfile
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_platform_view_tests/ios/Runner/AppDelegate.h
  dev/integration_tests/ios_platform_view_tests/ios/Runner/AppDelegate.m
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Base.lproj/LaunchScreen.storyboard
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Base.lproj/Main.storyboard
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Info.plist
  dev/integration_tests/ios_platform_view_tests/ios/Runner/main.m
  dev/integration_tests/ios_platform_view_tests/lib/main.dart
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/test_driver/main_test.dart
  dev/integration_tests/ios_platform_view_tests/test_driver/platform_view_e2e.dart
  dev/integration_tests/ios_platform_view_tests/test_driver/platform_view_e2e_test.dart
Labels: cla: yes, team

#52373 Revert "Add ios platform view integration test (#51882)"
  dev/devicelab/bin/tasks/ios_platform_view_tests.dart
  dev/devicelab/lib/tasks/integration_tests.dart
  dev/devicelab/manifest.yaml
  dev/integration_tests/ios_platform_view_tests/.metadata
  dev/integration_tests/ios_platform_view_tests/README.md
  dev/integration_tests/ios_platform_view_tests/ios/.gitignore
  dev/integration_tests/ios_platform_view_tests/ios/Flutter/AppFrameworkInfo.plist
  dev/integration_tests/ios_platform_view_tests/ios/Flutter/Debug.xcconfig
  dev/integration_tests/ios_platform_view_tests/ios/Flutter/Release.xcconfig
  dev/integration_tests/ios_platform_view_tests/ios/Podfile
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_platform_view_tests/ios/Runner/AppDelegate.h
  dev/integration_tests/ios_platform_view_tests/ios/Runner/AppDelegate.m
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Base.lproj/LaunchScreen.storyboard
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Base.lproj/Main.storyboard
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Info.plist
  dev/integration_tests/ios_platform_view_tests/ios/Runner/main.m
  dev/integration_tests/ios_platform_view_tests/lib/main.dart
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/test_driver/main_test.dart
  dev/integration_tests/ios_platform_view_tests/test_driver/platform_view_e2e.dart
  dev/integration_tests/ios_platform_view_tests/test_driver/platform_view_e2e_test.dart
Labels: cla: yes, team

#51663 [web] Add benchmarks for text layout
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_draw_rect.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_text_layout.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_text_out_of_picture_bounds.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
  dev/devicelab/lib/tasks/web_benchmarks.dart
Labels: cla: yes, team, waiting for tree to go green, ☸ platform-web

#52340 Make --androidx flag a noop in flutter create
  dev/devicelab/bin/tasks/gradle_jetifier_test.dart
  dev/devicelab/bin/tasks/gradle_plugin_dependencies_test.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/templates/app/android.tmpl/gradle.properties.tmpl
  packages/flutter_tools/templates/module/android/gradle/gradle.properties.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/src/main/java/io/flutter/facade/Flutter.java.tmpl
  packages/flutter_tools/templates/module/android/library/Flutter.tmpl/src/main/java/io/flutter/facade/FlutterFragment.java.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin/android-java.tmpl/src/main/java/androidIdentifier/pluginClass.java.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/src/main/kotlin/androidIdentifier/pluginClass.kt.tmpl
  packages/flutter_tools/templates/plugin/android.tmpl/gradle.properties.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/commands/build_apk_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
Labels: cla: yes, team, tool

#52365 [flutter_tools] throw exception instead of string from startApp
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/src/common.dart
Labels: cla: yes, tool

#51495 Convert Diagnosticable to a mixin
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/icon_theme_data.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/mouse_tracking.dart
  packages/flutter/lib/src/material/app_bar_theme.dart
  packages/flutter/lib/src/material/banner_theme.dart
  packages/flutter/lib/src/material/bottom_app_bar_theme.dart
  packages/flutter/lib/src/material/bottom_sheet_theme.dart
  packages/flutter/lib/src/material/button_bar_theme.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/card_theme.dart
  packages/flutter/lib/src/material/chip_theme.dart
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/lib/src/material/divider_theme.dart
  packages/flutter/lib/src/material/floating_action_button_theme.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/material/popup_menu_theme.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/material/snack_bar_theme.dart
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/text_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/material/toggle_buttons_theme.dart
  packages/flutter/lib/src/material/tooltip_theme.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/painting/decoration.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/painting/strut_style.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/keyboard_key.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/diagnostics_test.dart
Labels: a: accessibility, cla: yes, f: cupertino, f: material design, framework

#52431 Manual roll engine 0e2c8feeeb47..6d8611d0bd93 (31 commits)
  bin/internal/engine.version
Labels: cla: yes, engine, waiting for tree to go green

#52366 Reland "Improve text formatter repeat filter logic (#52055)"
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, framework

#52125 [gen_l10n] Optional Headers
  dev/benchmarks/test_apps/stocks/lib/i18n/header.txt
  dev/benchmarks/test_apps/stocks/lib/i18n/regenerate.md
  dev/tools/localization/bin/gen_l10n.dart
  dev/tools/localization/gen_l10n.dart
  dev/tools/localization/gen_l10n_templates.dart
  dev/tools/test/localization/gen_l10n_test.dart
Labels: a: internationalization, cla: yes, severe: new feature, team

#52438 Roll engine 6d8611d0bd93..9a3016fbed9a (3 commits)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#52149 [flutter_tools] Update background isolates when performing hot reload/restart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/background_isolate_test.dart
  packages/flutter_tools/test/integration.shard/test_data/background_project.dart
Labels: cla: yes, tool

#51964 Directionality formatter to move whitespace bidi handling into framework
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, a: typography, cla: yes, framework

#52433 Minor doc changes
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework

#52476 Revert "[flutter_tools] Update background isolates when performing hot reload/restart"
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/background_isolate_test.dart
  packages/flutter_tools/test/integration.shard/test_data/background_project.dart
Labels: cla: yes, tool

#52194 [ISSUE-30478] Release cache dir lock acquired by a command on sigint or sigterm
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52467 Roll engine 9a3016fbed9a..2844d4480b0e (6 commits)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#52408 Fixes typo in comments
  packages/flutter/lib/src/services/platform_views.dart
Labels: cla: yes, d: api docs, documentation, framework, waiting for tree to go green

#52444 move iosworkflow to globals
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_emulators.dart
  packages/flutter_tools/lib/src/ios/ios_workflow.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
Labels: cla: yes, tool

#52422 Add ignore public member api docs in template
  packages/flutter_tools/lib/src/plugins.dart
Labels: cla: yes, tool, waiting for tree to go green

#52144 Android SDK test fixes
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/commands/build_appbundle_test.dart
Labels: cla: yes, tool

#52479 [flutter_tools] reland: Update background isolates when performing hot reload/restart
  dev/devicelab/bin/tasks/commands_test.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/background_isolate_test.dart
  packages/flutter_tools/test/integration.shard/test_data/background_project.dart
Labels: cla: yes, team, tool

#52448 [gen_l10n] Fix suppportedLocales list
  dev/tools/localization/gen_l10n.dart
  packages/flutter_tools/test/integration.shard/gen_l10n_test.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: a: internationalization, cla: yes, severe: regression, team, tool

#52491 [flutter_tools] Hanlde OSError in places where we've seen it thrown
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/general.shard/mdns_discovery_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#52494 Roll engine 2844d4480b0e..1aaf1698826c (1 commits)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#52446 Fix ios_platform_view_tests app name. (Trivail)
  dev/integration_tests/ios_platform_view_tests/ios/Runner/Info.plist
Labels: cla: yes, team

#52506 Roll engine 1aaf1698826c..c30fd2daa8c3 (2 commits)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#52505 [flutter_tools] remove globals in AndroidDevices
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/android_device_discovery.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/test/general.shard/android/android_device_discovery_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_test.dart
Labels: cla: yes, tool
