Repository flutter/flutter, pull requests merged in 2021-12, with the labels that each got.

#94436 Reopen the tree by fixing flavors_test
  dev/devicelab/bin/tasks/flavors_test.dart
Labels: team, cla: yes

#90932 Expose enableDrag property for showBottomSheet
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green, will affect goldens

#94126 [conductor] RunContext to CleanContext
  dev/conductor/core/lib/src/clean.dart
Labels: team, cla: yes, waiting for tree to go green

#92630 Migrate to `process` 4.2.4
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/test/src/fake_process_manager.dart
  packages/fuchsia_remote_debug_protocol/test/src/runners/ssh_command_runner_test.dart
Labels: a: tests, team, tool, framework, cla: yes, waiting for tree to go green

#92930 [Material 3] Add optional indicator to Navigation Rail.
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/lib/src/material/navigation_rail_theme.dart
  packages/flutter/test/material/navigation_rail_test.dart
  packages/flutter/test/material/navigation_rail_theme_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#93076 Use `FlutterError.reportError` instead of `debugPrint` for l10n warning
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/widgets/app_test.dart
  packages/flutter_localizations/test/basics_test.dart
  packages/flutter_localizations/test/material/date_time_test.dart
  packages/flutter_localizations/test/override_test.dart
  packages/flutter_localizations/test/text_test.dart
Labels: framework, cla: yes, waiting for tree to go green

#93684 [devicelab] Add hot reload tests to presubmit
  .ci.yaml
  dev/devicelab/README.md
Labels: team, cla: yes, waiting for tree to go green

#93869 Skip links in MinimumTapTargetGuideline.
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/test/accessibility_test.dart
Labels: a: tests, framework, a: accessibility, cla: yes, waiting for tree to go green

#93948 De-flake web tool tests
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/integration.shard/expression_evaluation_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/web.shard/chrome_test.dart
  packages/flutter_tools/test/web.shard/output_web_test.dart
  packages/flutter_tools/test/web.shard/vm_service_web_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#94188 [ci.yaml] Add release branch regex
  .ci.yaml
Labels: team, cla: yes, waiting for tree to go green, team: infra

#94190 Avoid using watchOS SDK in CI tests
  dev/devicelab/bin/tasks/ios_app_with_extensions_test.dart
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: team, platform-ios, tool, cla: yes, waiting for tree to go green, t: xcode

#94380 [ci.yaml] Update ios_32 host to monterey
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#94435 Roll Engine from 7ba215c2c6a0 to f37334353f48 (25 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#94442 Roll Engine from f37334353f48 to c2fcadef89ad (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#94447 Opacity Peephole optimization benchmarks
  .ci.yaml
  TESTOWNERS
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/opacity_peephole.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_col_of_rows_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_fade_transition_text_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_grid_of_opacity_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_one_rect_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_opacity_of_grid_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/util.dart
  dev/devicelab/bin/tasks/opacity_peephole_col_of_rows_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/opacity_peephole_fade_transition_text_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/opacity_peephole_grid_of_opacity_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/opacity_peephole_one_rect_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/opacity_peephole_opacity_of_grid_perf__e2e_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: a: text input, team, cla: yes, waiting for tree to go green

#91532 Allow to click through scrollbar when gestures are disabled
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/material/scrollbar_test.dart
Labels: framework, f: material design, f: scrolling, cla: yes, waiting for tree to go green

#94335 Don't treat stderr output as failures during DAP test teardown
  packages/flutter_tools/test/integration.shard/debug_adapter/test_server.dart
Labels: tool, cla: yes, waiting for tree to go green

#93478 Add `splashRadius` property to `IconTheme`
  packages/flutter/lib/src/cupertino/icon_theme_data.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/widgets/icon_theme_data_test.dart
Labels: framework, f: material design, cla: yes, f: cupertino, waiting for tree to go green

#94220 [conductor] channel constants refactor
  dev/conductor/core/lib/src/globals.dart
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/lib/src/state.dart
  dev/conductor/core/lib/src/version.dart
Labels: team, cla: yes, waiting for tree to go green

#94473 Roll Plugins from 6bc9a2bd62e5 to 71496dcdf09d (5 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94179 Reland "ChipThemeData is now conventional"
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/chip_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/chip_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, cla: yes

#94482 Revert "Add `splashRadius` property to `IconTheme` (#93478)"
  packages/flutter/lib/src/cupertino/icon_theme_data.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/widgets/icon_theme_data_test.dart
Labels: framework, f: material design, cla: yes, f: cupertino, waiting for tree to go green

#90461 Fixes zero route transition duration crash
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, cla: yes, waiting for tree to go green

#94424 Update outdated macros
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/lib/src/widgets/text.dart
Labels: a: text input, framework, a: animation, f: material design, cla: yes, waiting for tree to go green

#94490 [flutter_releases] Flutter beta 2.8.0-3.3.pre Framework Cherrypicks
  bin/internal/engine.version
  dev/devicelab/bin/tasks/plugin_lint_mac.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: team, tool, engine, cla: yes

#94454 [Windows, Keyboard] Fix logical key for PrintScreen
  dev/tools/gen_keycodes/data/keyboard_key.tmpl
  dev/tools/gen_keycodes/data/logical_key_data.json
  dev/tools/gen_keycodes/data/physical_key_data.json
  dev/tools/gen_keycodes/data/windows_logical_to_window_vk.json
  packages/flutter/lib/src/services/keyboard_key.dart
  packages/flutter/lib/src/services/keyboard_maps.dart
Labels: team, framework, cla: yes, waiting for tree to go green

#94501 Revert "Marks Linux_android image_list_jit_reported_duration to be flaky"
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#94310 Fix a stream lifecycle bug in CustomDeviceLogReader
  packages/flutter_tools/lib/src/custom_devices/custom_device.dart
  packages/flutter_tools/test/general.shard/custom_devices/custom_device_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#94489 MinimumTextContrastGuideline should exclude disabled component
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/test/accessibility_test.dart
Labels: a: tests, framework, a: accessibility, cla: yes, waiting for tree to go green

#94519 Roll Engine from c2fcadef89ad to 62113c4f5c8c (13 revisions)
  bin/internal/engine.version
Labels: cla: yes

#94525 Roll Engine from 62113c4f5c8c to 888f4c0fc632 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#94555 Mark Mac_android run_release_test flaky
  .ci.yaml
Labels: cla: yes

#94533 Roll Engine from 888f4c0fc632 to a7307ad4f636 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#94550 Roll Plugins from 71496dcdf09d to 702fada379f3 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94559 Roll Engine from a7307ad4f636 to bf03e123ab44 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#94560 Roll Plugins from 702fada379f3 to 936257f69eb2 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94564 Revert "Fixes zero route transition duration crash (#90461)"
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, cla: yes, f: routes

#94178 [tool] verify download URLs; docs for base URLs
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/artifact_updater_test.dart
Labels: tool, cla: yes

#94565 Roll Engine from bf03e123ab44 to 4ad99b04ccf4 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#94569 Roll Engine from 4ad99b04ccf4 to 128fd65b005a (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#94572 Roll Plugins from 936257f69eb2 to 509d3e25cc2d (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94573 Roll Engine from 128fd65b005a to 1a76ac24c509 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#94077 Mixin for slotted RenderObjectWidgets and RenderBox
  examples/api/lib/widgets/slotted_render_object_widget/slotted_multi_child_render_object_widget_mixin.0.dart
  examples/api/test/widgets/slotted_render_object_widget/slotted_multi_child_render_object_widget_mixin.0_test.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/slotted_render_object_widget.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/widgets/slotted_render_object_widget_test.dart
Labels: team, framework, f: material design, cla: yes, d: api docs, d: examples, waiting for tree to go green, documentation

#94590 Roll Plugins from 509d3e25cc2d to e5fc8b516d73 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94620 Revert "Mixin for slotted RenderObjectWidgets and RenderBox"
  examples/api/lib/widgets/slotted_render_object_widget/slotted_multi_child_render_object_widget_mixin.0.dart
  examples/api/test/widgets/slotted_render_object_widget/slotted_multi_child_render_object_widget_mixin.0_test.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/slotted_render_object_widget.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/widgets/slotted_render_object_widget_test.dart
Labels: team, framework, f: material design, cla: yes, d: api docs, d: examples, documentation

#94597 [flutter_tools] Fix incorrect todo
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#94613 fix small typo in doc of SingleChildScrollView
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
Labels: framework, f: scrolling, cla: yes, waiting for tree to go green

#94624 Make chip test not depend on child order
  packages/flutter/test/material/chip_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#94493 SelectableText keep alive only when it has selection
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: a: text input, framework, f: material design, cla: yes

#94583 Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: cla: yes, waiting for tree to go green

#93463 API to generate a ColorScheme from a single seed color.
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/color_scheme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: team, framework, f: material design, cla: yes, waiting for tree to go green, integration_test

#94628 Roll Plugins from e5fc8b516d73 to 178e3652ff52 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94632 Reland "Mixin for slotted RenderObjectWidgets and RenderBox (#94077)"
  examples/api/lib/widgets/slotted_render_object_widget/slotted_multi_child_render_object_widget_mixin.0.dart
  examples/api/test/widgets/slotted_render_object_widget/slotted_multi_child_render_object_widget_mixin.0_test.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/slotted_render_object_widget.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/widgets/slotted_render_object_widget_test.dart
Labels: team, framework, f: material design, cla: yes, d: api docs, d: examples, waiting for tree to go green, documentation

#94575 Reland "Fixes zero route transition duration crash"
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, cla: yes, f: routes

#94614 Roll Engine from 128fd65b005a to 9f31d4f90bde (22 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#94629 Replace dynamic with Object? in SystemChannels
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/test/services/raw_keyboard_test.dart
  packages/flutter_test/lib/src/event_simulation.dart
Labels: framework, cla: yes, waiting for tree to go green

#94280 Ensure the engineLayer is disposed when an OpacityLayer is disabled
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/test/rendering/layers_test.dart
Labels: framework, cla: yes, waiting for tree to go green, will affect goldens

#94496 Use `EnumName.name` where possible.
  examples/api/lib/widgets/focus_manager/focus_node.unfocus.0.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/foundation/diagnostics_test.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
Labels: a: text input, team, framework, f: material design, a: accessibility, cla: yes, f: cupertino, d: api docs, d: examples, waiting for tree to go green, documentation, f: focus

#94584 [FlutterDriver] minor nullability fixes
  packages/flutter_driver/lib/src/extension/extension.dart
Labels: a: tests, framework, cla: yes

#94639 Roll Engine from 9f31d4f90bde to 2ba2cce55f61 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#94339 Change the TabController should make both TabBar and TabBarView return to the initial index
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#90178 update the scrollbar that support always show the track even not on hover
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/scrollbar_theme.dart
  packages/flutter/test/material/scrollbar_theme_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#94668 Roll Plugins from 178e3652ff52 to c32b27bcb382 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94678 Roll Plugins from c32b27bcb382 to 40572a707656 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94683 Roll Engine from 2ba2cce55f61 to 2033de48948d (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#94685 Roll Engine from 2033de48948d to e105c73dd123 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#94686 Roll Engine from e105c73dd123 to df8c30b9066f (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#94690 Roll Engine from df8c30b9066f to ba38209e2104 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#94603 Roll packages to pick up new platform package
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/forbidden_from_release_tests/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: team, cla: yes

#93725 [Material 3] Update TextTheme to have M3 names for styles
  packages/flutter/lib/src/material/text_theme.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/test/material/text_theme_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/material/tooltip_test.dart
  packages/flutter/test/material/typography_test.dart
Labels: a: text input, framework, f: material design, cla: yes, waiting for tree to go green

#94739 [web] Stop using web experiments in benchmarks
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_text_layout.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: a: text input, team, cla: yes, platform-web, waiting for tree to go green, team: benchmark

#94746 Roll Plugins from 40572a707656 to afc0ad215416 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#94749 Roll Engine from 68d320d44973 to 66a281107bcf (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#94743 Revert "Ensure the engineLayer is disposed when an OpacityLayer is disabled"
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/test/rendering/layers_test.dart
Labels: framework, cla: yes

#94636 Add reason logging to v1 embedding warning message
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool, cla: yes

#94763 Roll Plugins from afc0ad215416 to 7d9cc848dfd3 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94506 [flutter_conductor] catch and warn when pushing working branch to mirror
  dev/conductor/core/lib/src/git.dart
  dev/conductor/core/lib/src/next.dart
  dev/conductor/core/lib/src/repository.dart
  dev/conductor/core/test/next_test.dart
Labels: team, cla: yes, waiting for tree to go green

#94769 Short circuit v1 deprecation warning on plugin projects
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool

#94789 Roll Plugins from 7d9cc848dfd3 to 17f95e9e7f74 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94797 Roll Plugins from 17f95e9e7f74 to 2681f505dd8c (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94809 Roll Plugins from 2681f505dd8c to 0f0dcbf10e9c (2 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94770 [flutter_conductor] Support publishing to multiple channels
  dev/conductor/core/lib/src/globals.dart
  dev/conductor/core/lib/src/next.dart
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/lib/src/version.dart
  dev/conductor/core/test/common.dart
  dev/conductor/core/test/next_test.dart
Labels: team, waiting for tree to go green

#94814 Roll Plugins from 0f0dcbf10e9c to c6914515c6fd (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94812 Renew cirrus gcp credentials
  .cirrus.yml
Labels: waiting for tree to go green

#94817 Roll Plugins from c6914515c6fd to 60cd47ca648c (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94772 Prefer .of to .from
  packages/flutter/lib/src/animation/listener_helpers.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/foundation/basic_types.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/pointer_router.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/mergeable_material.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/localizations.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/scroll_controller.dart
  packages/flutter/lib/src/widgets/scroll_notification_observer.dart
  packages/flutter/lib/src/widgets/shared_app_data.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/lib/src/widgets/sliver.dart
Labels: framework, a: animation, f: material design, a: accessibility, f: scrolling, f: cupertino, f: routes, f: gestures, f: focus

#94432 [macOS] RawKeyboardDataMacos properly handles multi-char characters
  packages/flutter/lib/src/services/raw_keyboard_macos.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: framework, cla: yes

#94634 Update dwds and other packages
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: team, tool, cla: yes, waiting for tree to go green

#94792 Mark Linux android views as non-flaky and run deferred components in presubmit
  .ci.yaml
Labels: waiting for tree to go green

#94825 Roll Plugins from 60cd47ca648c to 4fdf85cb9f1a (3 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#93592 Requiring data preserves the stackTrace
  packages/flutter/lib/src/widgets/async.dart
  packages/flutter/test/widgets/async_test.dart
Labels: framework, cla: yes, waiting for tree to go green

#94385 Detect additional ARM ffi CocoaPods error
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: platform-ios, tool, cla: yes, waiting for tree to go green

#94829 Update no response action to include the fix to sort bugs properly.
  .github/workflows/no-response.yaml
Labels: waiting for tree to go green

#93933 [unrevert] TextField border gap padding improvement
  packages/flutter/lib/src/material/input_border.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green, will affect goldens

#94818 Corrected a ChipTheme labelStyle corner case
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: framework, f: material design, waiting for tree to go green

#94830 Roll Plugins from 4fdf85cb9f1a to 7d44b40ee4f8 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94837 Reland: Update no response action to include the fix to sort bugs properly
  .github/workflows/no-response.yaml
Labels: waiting for tree to go green

#94839 Roll Plugins from 7d44b40ee4f8 to 3e29e9173980 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94844 Roll Engine from 66a281107bcf to 6551934b9c37 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#93863 Improve `update_icons.dart` script
  dev/tools/test/update_icons_test.dart
  dev/tools/update_icons.dart
  packages/flutter/lib/src/material/icons.dart
Labels: team, framework, f: material design, cla: yes

#90936 Remove font-weight overrides from dartdoc
  dev/docs/assets/overrides.css
Labels: team, cla: yes, waiting for tree to go green

#94876 Roll Engine from 83b84d3336ec to b8c4d4975848 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#93922 Fix bottom sheet assertion on switching with multiple controllers
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#94357 Serve assets with correct content-type header value
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#94883 Roll Plugins from 3e29e9173980 to 1f0d2786c2b8 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94884 Roll Engine from b8c4d4975848 to b413f4c10854 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#94889 [flutter_releases] Flutter stable 2.8.0 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#94890 Roll Engine from b413f4c10854 to f4017c989be8 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#94893 Roll Engine from f4017c989be8 to 6dabd26e9fec (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#93480 Add InputDecorator label color on error examples
  examples/api/lib/material/input_decorator/input_decoration.floating_label_style_error.0.dart
  examples/api/lib/material/input_decorator/input_decoration.label_style_error.0.dart
  examples/api/test/material/input_decorator/input_decoration.floating_label_style_error.0.test.dart
  examples/api/test/material/input_decorator/input_decoration.label_style_error.0.test.dart
  packages/flutter/lib/src/material/input_decorator.dart
Labels: team, framework, f: material design, cla: yes, d: api docs, d: examples, waiting for tree to go green, documentation

#94898 Windows: Focus text field on gaining a11y focus
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, waiting for tree to go green

#94904 Roll Engine from 1e2ba8fae78b to d0720622d39e (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#94910 Roll Engine from d0720622d39e to 30b0105c72f8 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#94913 Roll Engine from 30b0105c72f8 to 716d1b0998be (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#94917 Roll Engine from 716d1b0998be to 59778ae91c1f (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#94934 Roll Plugins from 1f0d2786c2b8 to d5e200badd42 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94938 Roll Plugins from d5e200badd42 to 2f72b8fba381 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94820 Add more detail to error messages
  packages/flutter_tools/lib/src/base/os.dart
Labels: tool, waiting for tree to go green

#94947 Roll Engine from 59778ae91c1f to 89e17d94cbcc (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#94885 [test] log stack trace on errors, to improve diagnostics on #89243
  dev/bots/analyze_sample_code.dart
Labels: team, waiting for tree to go green

#94954 Skip mac/ios test in presubmit
  .ci.yaml
Labels: waiting for tree to go green

#94959 Roll Engine from 89e17d94cbcc to 2516ea636dfd (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#94964 Roll Engine from 2516ea636dfd to 79f750d4a541 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#93086 Improve tracing
  .ci.yaml
  dev/bots/pubspec.yaml
  dev/bots/test.dart
  dev/integration_tests/flutter_gallery/lib/demo/video_demo.dart
  dev/integration_tests/flutter_gallery/test/flutter_test_config.dart
  dev/integration_tests/flutter_gallery/test/smoke_test.dart
  dev/tracing_tests/README.md
  dev/tracing_tests/android/.gitignore
  dev/tracing_tests/android/app/build.gradle
  dev/tracing_tests/android/app/src/debug/AndroidManifest.xml
  dev/tracing_tests/android/app/src/main/AndroidManifest.xml
  dev/tracing_tests/android/app/src/main/kotlin/com/example/tracing_tests/MainActivity.kt
  dev/tracing_tests/android/app/src/main/res/drawable-v21/launch_background.xml
  dev/tracing_tests/android/app/src/main/res/drawable/launch_background.xml
  dev/tracing_tests/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  dev/tracing_tests/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  dev/tracing_tests/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  dev/tracing_tests/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  dev/tracing_tests/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  dev/tracing_tests/android/app/src/main/res/values-night/styles.xml
  dev/tracing_tests/android/app/src/main/res/values/styles.xml
  dev/tracing_tests/android/app/src/profile/AndroidManifest.xml
  dev/tracing_tests/android/build.gradle
  dev/tracing_tests/android/gradle.properties
  dev/tracing_tests/android/gradle/wrapper/gradle-wrapper.properties
  dev/tracing_tests/android/settings.gradle
  dev/tracing_tests/lib/control.dart
  dev/tracing_tests/lib/test.dart
  dev/tracing_tests/test/common.dart
  dev/tracing_tests/test/image_cache_tracing_test.dart
  dev/tracing_tests/test/timeline_test.dart
  packages/flutter/lib/src/foundation/debug.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/debug.dart
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/shifted_box.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/widgets/debug.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/overscroll_indicator.dart
  packages/flutter/lib/src/widgets/placeholder.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/keep_alive_test.dart
  packages/flutter/test_release/diagnostics_test.dart
Labels: team, framework, f: material design, f: scrolling, cla: yes, waiting for tree to go green, integration_test

#95047 Fixes semantics_perf_test.dart after profile fixes
  dev/benchmarks/complex_layout/test_driver/semantics_perf_test.dart
Labels: team, a: accessibility, waiting for tree to go green

#93835 Shift tap gesture
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, cla: yes, f: cupertino, waiting for tree to go green, will affect goldens

#94879 Attempt to mitigate flakiness around devtools
  dev/bots/test.dart
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
Labels: team, tool, waiting for tree to go green

#94968 Roll Plugins from 2f72b8fba381 to 64c222d368ba (2 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94975 Use unified android sdk+ndk package in ci.yaml
  .ci.yaml
Labels: waiting for tree to go green

#94980 Rename devicelab catalina tests
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/flutter_gallery_mac__start_up.dart
  dev/devicelab/bin/tasks/hot_mode_dev_cycle_ios__benchmark.dart
Labels: team, waiting for tree to go green

#94950 [flutter_conductor] Update conductor readme
  dev/conductor/README.md
Labels: team

#94981 Revert "Skip mac/ios test in presubmit"
  .ci.yaml
Labels: waiting for tree to go green

#95003 [flutter_test] Fix incorrect missed budget count
  packages/flutter_test/lib/src/frame_timing_summarizer.dart
  packages/flutter_test/test/frame_timing_summarizer_test.dart
Labels: a: tests, framework, waiting for tree to go green

#94902 Remove chunk event subscription when disposing a MultiFrameImageStreamCompleter
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/test/painting/image_stream_test.dart
Labels: framework

#95055 Initialize the Skia client more efficiently
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens_client/lib/skia_client.dart
Labels: a: tests, team, framework, team: flakes, waiting for tree to go green, team: presubmit flakes, tech-debt, infra auto flake

#95050 Ban sync*/async* from user facing code
  dev/bots/analyze.dart
  dev/bots/test.dart
  examples/api/lib/material/chip/deletable_chip_attributes.on_deleted.0.dart
  examples/api/lib/widgets/async/stream_builder.0.dart
  examples/api/lib/widgets/slotted_render_object_widget/slotted_multi_child_render_object_widget_mixin.0.dart
  packages/flutter/lib/src/animation/listener_helpers.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/basic_types.dart
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/foundation/licenses.dart
  packages/flutter/lib/src/foundation/print.dart
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/pointer_router.dart
  packages/flutter/lib/src/gestures/pointer_signal_resolver.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/painting/_network_image_io.dart
  packages/flutter/lib/src/painting/_network_image_web.dart
  packages/flutter/lib/src/painting/decoration_image.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/rendering/debug_overflow_indicator.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/services/hardware_keyboard.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/router.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/scroll_notification_observer.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: team, tool, framework, a: animation, f: material design, f: scrolling, f: cupertino, d: api docs, d: examples, f: routes, f: gestures, documentation, f: focus

#95132 Roll Engine from 79f750d4a541 to 368e3cc50592 (31 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#95137 Roll Engine from 368e3cc50592 to f16c96c31f12 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#95033 Removed unused method `packagesFile` from `ApplicationPackage`.
  packages/flutter_tools/lib/src/android/application_package.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
Labels: tool

#95044 Fix some issues with samples
  dev/snippets/config/templates/README.md
  examples/api/lib/services/mouse_cursor/mouse_cursor.0.dart
  examples/api/lib/widgets/will_pop_scope/will_pop_scope.0.dart
  examples/api/test/services/mouse_cursor/mouse_cursor.0_test.dart
  examples/api/test/widgets/will_pop_scope/will_pop_scope.0_test.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/services/mouse_cursor.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/sliver_fill.dart
  packages/flutter/lib/src/widgets/will_pop_scope.dart
Labels: team, framework, f: material design, f: scrolling, d: api docs, d: examples, waiting for tree to go green, documentation

#94342 Fix typo / line wrapping in `team.dart`
  packages/flutter/lib/src/gestures/team.dart
Labels: framework, cla: yes, f: gestures, waiting for tree to go green

#94012 [flutter_tools] Remove --enable-background-compilation
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/custom_devices/custom_device.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/test/general.shard/android/android_device_start_test.dart
  packages/flutter_tools/test/general.shard/desktop_device_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#95196 Revert "Use unified android sdk+ndk package in ci.yaml"
  .ci.yaml
Labels: waiting for tree to go green, warning: land on red to fix tree breakage

#95130 Rewrite license code to avoid async*
  packages/flutter/lib/src/foundation/licenses.dart
  packages/flutter/lib/src/services/binding.dart
Labels: framework

#94805 Improves a test in `calendar_date_picker_test.dart`
  packages/flutter/test/material/calendar_date_picker_test.dart
Labels: framework, f: material design, waiting for tree to go green

#94811 Replace `ClipRect` in Snackbar with a Container for `Clip.none` clip behavior
  packages/flutter/lib/src/material/snack_bar.dart
Labels: framework, f: material design, waiting for tree to go green, will affect goldens

#95146 Document Update: Outlined_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
Labels: framework, f: material design, d: api docs, waiting for tree to go green, documentation

#95208 Roll Engine from f16c96c31f12 to c0ca56ca3148 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#95214 Roll Plugins from 64c222d368ba to 1a56bb2daea7 (8 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#95215 Update comment about prefer_final_parameters
  analysis_options.yaml
Labels: waiting for tree to go green
