Repository flutter/flutter, pull requests merged in 2021-02, with the labels that each got.

#75038 Roll Plugins from 815beaff69c6 to 35847e4734d4 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75136 Roll Plugins from 35847e4734d4 to 04b0b4b13f59 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75024 Clarify performance overlay in performance issue template
  .github/ISSUE_TEMPLATE/5_performance_speed.md
Labels: cla: yes, waiting for tree to go green

#75026 Bump flutter_gallery_assets
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: cla: yes, team, tool, waiting for tree to go green

#75046 Roll Engine from ce14c8a84142 to 833d9953a742 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75049 Removed the "new" keyword from the Flutter_test examples
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/lib/src/test_compat.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: a: tests, cla: yes, framework

#75022 Migrate driver tests in example/ to NNBD
  examples/hello_world/test_driver/smoke_web_engine_test.dart
  examples/platform_channel/test_driver/button_tap_test.dart
  examples/platform_channel_swift/test_driver/button_tap_test.dart
Labels: cla: yes, d: examples, team, waiting for tree to go green

#75074 Reland integration_test NNBD
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/integration_test/example/integration_test/_example_test_io.dart
  packages/integration_test/example/integration_test/_example_test_web.dart
  packages/integration_test/example/integration_test/_extended_test_io.dart
  packages/integration_test/example/integration_test/_extended_test_web.dart
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/example/test_driver/failure.dart
  packages/integration_test/lib/_callback_io.dart
  packages/integration_test/lib/_callback_web.dart
  packages/integration_test/lib/common.dart
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/lib/integration_test_driver.dart
  packages/integration_test/lib/integration_test_driver_extended.dart
  packages/integration_test/pubspec.yaml
  packages/integration_test/test/binding_fail_test.dart
  packages/integration_test/test/binding_test.dart
  packages/integration_test/test/response_serialization_test.dart
Labels: a: tests, cla: yes, framework, team

#75029 Migrate off e2e
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/complex_layout/test/measure_scroll_smoothness.dart
  dev/benchmarks/complex_layout/test_driver/measure_scroll_smoothness_test.dart
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/release_smoke_test/test_adapter/hello_world_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#75161 Revert "Migrate driver tests in example/ to NNBD"
  examples/hello_world/test_driver/smoke_web_engine_test.dart
  examples/platform_channel/test_driver/button_tap_test.dart
  examples/platform_channel_swift/test_driver/button_tap_test.dart
Labels: cla: yes, d: examples, team

#74851 fixes preceision error during SliverGridRegularTileLayout
  packages/flutter/lib/src/rendering/sliver_grid.dart
  packages/flutter/test/widgets/grid_view_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#75033 Split tools_tests subshards into separate shards to support sub-sub-sharding
  dev/bots/test.dart
  dev/bots/test/test_test.dart
Labels: cla: yes, team, waiting for tree to go green

#75102 Fix formatting in rendering/box
  packages/flutter/lib/src/rendering/box.dart
Labels: cla: yes, framework, waiting for tree to go green

#75163 Avoid iOS local networking dialog in integration tests
  dev/devicelab/bin/tasks/build_mode_test.dart
  dev/devicelab/bin/tasks/flutter_run_test.dart
  dev/devicelab/bin/tasks/routing_test.dart
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/lib/tasks/hot_mode_tests.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, platform-ios, team, waiting for tree to go green

#75138 AlertDialog: Remove scrollability by default
  packages/flutter/lib/src/material/dialog.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75140 Roll Engine from 833d9953a742 to 9a2795ae17ca (20 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#74885 Unpin mysteriously pinned packages
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: cla: yes, team, tool, waiting for tree to go green

#74959 Make Linux apps non-unique by default.
  packages/flutter_tools/templates/app/linux.tmpl/my_application.cc.tmpl
Labels: cla: yes, tool

#72828 Move caret/highlight painting to custom painters
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, team, waiting for tree to go green

#74620 Reland "Update PopupMenuButton to match Material Design spec"
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter_localizations/test/text_test.dart
Labels: a: accessibility, a: internationalization, cla: yes, f: material design, framework, team, waiting for tree to go green

#74378 Dump logs on failing devicelab test to recipe artifact location
  dev/devicelab/bin/tasks/module_test_ios.dart
  dev/devicelab/lib/framework/host_agent.dart
  dev/devicelab/test/host_agent_test.dart
Labels: cla: yes, team, team: flakes

#75170 Replace context FakeUsage with TestUsage
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes, team, tool

#74859 Remove the timeout when launching DevTools
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/devtools_launcher.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#75174 Roll Engine from 9a2795ae17ca to aff8465afd80 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#74949 Added ButtonStyle.splashFactory and NoSplash.splashFactory
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/ink_ripple.dart
  packages/flutter/lib/src/material/ink_splash.dart
  packages/flutter/lib/src/material/no_splash.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/ink_splash_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75179 Adopt subshard naming convention in build_tests
  dev/bots/test.dart
Labels: cla: yes, team, team: infra, waiting for tree to go green

#75044 Replace MockConfig with TestConfig
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/android/android_sdk_test.dart
  packages/flutter_tools/test/general.shard/android/android_studio_validator_test.dart
  packages/flutter_tools/test/general.shard/features_test.dart
  packages/flutter_tools/test/general.shard/ios/code_signing_test.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#75177 Roll Plugins from 04b0b4b13f59 to 31a8b5c3d5be (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75181 Roll Engine from aff8465afd80 to e59457b81854 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75184 Roll Plugins from 31a8b5c3d5be to 30721bed3afe (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75186 Roll Engine from e59457b81854 to bb2bbde4d02b (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75190 Roll Plugins from 30721bed3afe to a87497f1399c (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#74906 Improve Dropdown Menu
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75198 Remove "unnecessary" imports in painting tests
  packages/flutter/test/painting/border_rtl_test.dart
  packages/flutter/test/painting/colors_test.dart
  packages/flutter/test/painting/common_matchers.dart
  packages/flutter/test/painting/continuous_rectangle_border_test.dart
  packages/flutter/test/painting/flutter_logo_test.dart
  packages/flutter/test/painting/gradient_test.dart
  packages/flutter/test/painting/image_provider_network_image_test.dart
  packages/flutter/test/painting/image_test_utils.dart
  packages/flutter/test/painting/system_fonts_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter/test/painting/text_span_test.dart
Labels: cla: yes, framework

#74592 Allow long press delay duration for LongPressDraggable to be adjustable
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#75199 Roll Engine from bb2bbde4d02b to 7334085fc1b7 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75211 Roll Plugins from a87497f1399c to a45557608af1 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75234 Roll Engine from 7334085fc1b7 to 8a01ce59bf70 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75160 [flutter_tools] skip web renderer defines unless web target is picked
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: cla: yes, tool

#75027 [flutter_tools] switch dart defines to base64 to avoid windows control characters
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/build_info_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: cla: yes, tool

#75037 [web] benchmark and optimize defaultTargetPlatform
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_default_target_platform.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
  packages/flutter/lib/src/foundation/_platform_web.dart
Labels: cla: yes, framework, team

#75175 Make flutter_driver be usable from a null-safe app
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/test/src/real_tests/flutter_driver_test.dart
  packages/flutter_driver/test/src/real_tests/test_organisation_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#75171 Adopt tool_test shard builders
  dev/bots/test.dart
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#75250 Roll Engine from 8a01ce59bf70 to e4c4a2f2052f (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75266 Revert "Make flutter_driver be usable from a null-safe app"
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/test/flutter_driver_test.dart
  packages/flutter_driver/test/src/real_tests/test_organisation_test.dart
Labels: a: tests, cla: yes, framework

#75259 [flutter_tools] use TestFeatureFlags instead of MockFeatureFlags
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#75189 Remove hard-coded subshard numbers from the test runner
  dev/bots/test.dart
Labels: cla: yes, team, waiting for tree to go green

#75263 [flutter_tools] remove mockito from flutter symbolize test
  packages/flutter_tools/test/commands.shard/hermetic/symbolize_test.dart
Labels: cla: yes, tool

#75230 [Api docs] Added Vertical Divider dartpad demo
  packages/flutter/lib/src/material/divider.dart
Labels: cla: yes, d: api docs, d: examples, documentation, f: material design, framework, waiting for tree to go green

#75269 Reland "Make flutter_driver be usable from a null-safe app (#75175)"
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/test/src/real_tests/flutter_driver_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#75273 Mark tool_integration_tests not flaky
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#75275 Run flutter_driver, integration_test, flutter_localizations, and fuchsia_remote_debug_protocol in framework_tests presubmit
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#75282 Roll Engine from e4c4a2f2052f to 7cb3a47f41a5 (6 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75251 [flutter_tools] add build system test for concurrent failures
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
Labels: cla: yes, tool

#75185 Remove dead tool_coverage code
  dev/bots/test.dart
Labels: cla: yes, team

#75295 Roll Engine from 7cb3a47f41a5 to 2c144c3eeb4b (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75209 [gen-l10n] Fixes named and positional parameter issue with NumberFormat when type is specified
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_templates.dart
  packages/flutter_tools/test/integration.shard/gen_l10n_test.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: a: internationalization, cla: yes, tool, waiting for tree to go green

#70141 Run cirrus linux-docs only on presubmit.
  .cirrus.yml
Labels: cla: yes, team

#75306 Revert "[gen-l10n] Fixes named and positional parameter issue with NumberFormat when type is specified"
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_templates.dart
  packages/flutter_tools/test/integration.shard/gen_l10n_test.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: cla: yes, tool

#75194 Remove unactionable message that was appearing during test execution.
  packages/flutter/lib/src/gestures/force_press.dart
Labels: cla: yes, framework, waiting for tree to go green

#75213 [flutter_tools] Merge some test options into DebuggingOptions
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#75265 Re-land "Migrate some benchmarks to NNBD (75023)"
  dev/benchmarks/platform_views_layout/lib/main.dart
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout/test_driver/scroll_perf_test.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/lib/android_platform_view.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/lib/main.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/test_driver/scroll_perf_test.dart
Labels: cla: yes, team, waiting for tree to go green

#75271 Add test for driver test organisation
  packages/flutter_driver/test/src/real_tests/test_organisation_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#75299 Roll Plugins from a45557608af1 to 42d5325a93ff (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75317 Revert "Add test for driver test organisation"
  packages/flutter_driver/test/src/real_tests/test_organisation_test.dart
Labels: a: tests, cla: yes, framework

#75331 Revert "Re-land "Migrate some benchmarks to NNBD (75023)" "
  dev/benchmarks/platform_views_layout/lib/main.dart
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout/test_driver/scroll_perf_test.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/lib/android_platform_view.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/lib/main.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/test_driver/scroll_perf_test.dart
Labels: cla: yes, team

#75298 Catch VM Service disappearance from run/attach handler code
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: cla: yes, tool

#75336 [flutter_tools] handle null package
  packages/flutter_tools/lib/src/dart/language_version.dart
  packages/flutter_tools/test/general.shard/dart/language_version_test.dart
Labels: cla: yes, tool

#73105 [UserAccountsDrawerHeader] New option for changing profiles images size
  packages/flutter/lib/src/material/user_accounts_drawer_header.dart
  packages/flutter/test/material/user_accounts_drawer_header_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#74447 [flutter_tools] experiment with skipping process resolution
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
Labels: cla: yes, tool

#75309 Roll Engine from 2c144c3eeb4b to 24fca6215b0c (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75301 Return an empty FlutterViews list when the service disappears
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#75340 Added BorderRadius.copyWith
  packages/flutter/lib/src/painting/border_radius.dart
  packages/flutter/test/painting/border_radius_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#75346 Relands "[gen-l10n] Fixes named and positional parameter issue with NumberFormat when type is specified"
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_templates.dart
  packages/flutter_tools/test/integration.shard/gen_l10n_test.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: cla: yes, tool

#75335 [win] Suppress Powershell download/extraction visualization progress bar.
  bin/internal/update_dart_sdk.ps1
Labels: cla: yes

#75349 Roll Engine from 24fca6215b0c to 6ba12fa2300e (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#75351 Suggest precache instead of build when engine artifacts are missing
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl
  packages/flutter_tools/test/general.shard/artifacts_test.dart
Labels: cla: yes, platform-ios, tool

#72707 Fix/ValueListenableBuilder rebuilds
  packages/flutter/lib/src/widgets/value_listenable_builder.dart
  packages/flutter/test/widgets/value_listenable_builder_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#74972 Show an X when images can't load.
  packages/flutter/lib/src/foundation/constants.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/test/widgets/image_filter_quality_test.dart
  packages/flutter/test/widgets/image_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#75291 [Api docs] Dartpad demo for alert dialog.
  packages/flutter/lib/src/material/dialog.dart
Labels: cla: yes, f: material design, framework

#75361 [flutter_tools] remove web defines workaround
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#75039 add a benchmark test for stack size
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/stack_size.dart
  dev/benchmarks/macrobenchmarks/test_driver/stack_size_perf_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/util.dart
  dev/devicelab/bin/tasks/android_stack_size_test.dart
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/test/adb_test.dart
Labels: cla: yes, team, waiting for tree to go green

#75193 Update to latest templates
  dev/integration_tests/flutter_gallery/linux/flutter/CMakeLists.txt
Labels: cla: yes, team, waiting for tree to go green

#75343 More null-safety fixes for flutter_driver
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/common/frame_sync.dart
  packages/flutter_driver/lib/src/common/gesture.dart
  packages/flutter_driver/lib/src/common/handler_factory.dart
  packages/flutter_driver/lib/src/common/message.dart
  packages/flutter_driver/lib/src/common/text.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/test/src/real_tests/extension_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#75353 Roll Engine from 6ba12fa2300e to edcca8118029 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75303 [flutter_releases] Flutter 1.26.0-17.2.pre Beta Framework Cherrypicks
  bin/internal/engine.version
  bin/internal/flutter_plugins.version
  bin/internal/shared.bat
  bin/internal/shared.sh
  dev/bots/test.dart
  dev/bots/test/test_test.dart
  dev/prod_builders.json
  dev/try_builders.json
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter/test_fixes/cupertino.dart
  packages/flutter/test_fixes/cupertino.dart.expect
  packages/flutter/test_fixes/material.dart
  packages/flutter/test_fixes/material.dart.expect
  packages/flutter/test_fixes/widgets.dart
  packages/flutter/test_fixes/widgets.dart.expect
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/artifact_updater_test.dart
Labels: a: tests, cla: yes, engine, f: cupertino, f: material design, framework, team, tool

#74798 Catch cases in tests where people try to tap on widgets that aren't reachable
  dev/integration_tests/flutter_gallery/test/live_smoketest.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/cupertino/picker_test.dart
  packages/flutter/test/cupertino/refresh_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/scaffold_test.dart
  packages/flutter/test/cupertino/slider_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/text_form_field_row_test.dart
  packages/flutter/test/flutter_test_config.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/page_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/refresh_indicator_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/widgets/absorb_pointer_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/composited_transform_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/keep_alive_test.dart
  packages/flutter/test/widgets/modal_barrier_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
  packages/flutter/test/widgets/overlay_test.dart
  packages/flutter/test/widgets/range_maintaining_scroll_physics_test.dart
  packages/flutter/test/widgets/scrollable_list_hit_testing_test.dart
  packages/flutter/test/widgets/scrollable_restoration_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
  packages/flutter/test/widgets/semantics_debugger_test.dart
  packages/flutter/test/widgets/sliver_visibility_test.dart
  packages/flutter/test/widgets/slivers_test.dart
  packages/flutter/test/widgets/stack_test.dart
  packages/flutter/test/widgets/visibility_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_test/lib/flutter_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: a: accessibility, a: tests, cla: yes, f: cupertino, f: material design, framework, team, waiting for tree to go green

#75359 Remove "unnecessary" imports in test/material
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/material/navigation_rail_theme_test.dart
  packages/flutter/test/material/page_test.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/refresh_indicator_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_field_restoration_test.dart
  packages/flutter/test/material/text_field_splash_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_selection_test.dart
  packages/flutter/test/material/text_selection_theme_test.dart
  packages/flutter/test/material/text_selection_toolbar_test.dart
  packages/flutter/test/material/text_selection_toolbar_text_button_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/material/time_picker_theme_test.dart
  packages/flutter/test/material/tooltip_test.dart
  packages/flutter/test/material/tooltip_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75365 Roll Engine from edcca8118029 to 45b8dfceb093 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75372 Roll Plugins from 42d5325a93ff to 37d658e7b984 (5 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75383 Revert "add a benchmark test for stack size"
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/stack_size.dart
  dev/benchmarks/macrobenchmarks/test_driver/stack_size_perf_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/util.dart
  dev/devicelab/bin/tasks/android_stack_size_test.dart
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/test/adb_test.dart
Labels: cla: yes, team

#75358 Remove "unnecessary" imports in test/material
  packages/flutter/test/material/animated_icons_test.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
  packages/flutter/test/material/button_style_test.dart
  packages/flutter/test/material/card_test.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/chip_theme_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/divider_test.dart
  packages/flutter/test/material/drawer_test.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/expansion_tile_test.dart
  packages/flutter/test/material/flexible_space_bar_stretch_mode_test.dart
  packages/flutter/test/material/floating_action_button_theme_test.dart
  packages/flutter/test/material/ink_paint_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75375 Roll Engine from 45b8dfceb093 to b7c672a37220 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75378 Roll Plugins from 37d658e7b984 to 956b1ebb2418 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75392 Roll Engine from b7c672a37220 to 1c2c78398cb6 (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75395 Roll Engine from 1c2c78398cb6 to 5e50f4bad3d5 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75401 Roll Engine from 5e50f4bad3d5 to 0d6e529c223b (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75413 Roll Plugins from 956b1ebb2418 to 41be560b958f (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75427 Roll Engine from 0d6e529c223b to d190a6cecb28 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75428 Roll Plugins from 41be560b958f to e51dd6723b06 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75338 Revert "Reland "Update PopupMenuButton to match Material Design spec""
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter_localizations/test/text_test.dart
Labels: a: accessibility, a: internationalization, cla: yes, f: material design, framework, team, waiting for tree to go green

#75387 Install prebuilt iOS app only once
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: cla: yes, platform-ios, tool

#74415 Adding hero example
  packages/flutter/lib/src/widgets/heroes.dart
Labels: cla: yes, d: api docs, d: examples, documentation, framework, waiting for tree to go green

#75276 Replace MockPlistParser with FakePlistParser
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: cla: yes, team, tool

#75430 Roll Engine from d190a6cecb28 to 8076607c3ea3 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#75264 Re-land "Migrate driver tests in example/ to NNBD (#75022)"
  examples/hello_world/test_driver/smoke_web_engine_test.dart
  examples/platform_channel/test_driver/button_tap_test.dart
  examples/platform_channel_swift/test_driver/button_tap_test.dart
Labels: cla: yes, d: examples, team, waiting for tree to go green

#75434 Reland "add a benchmark test for stack size (#75039)"
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/stack_size.dart
  dev/benchmarks/macrobenchmarks/test_driver/stack_size_perf_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/util.dart
  dev/devicelab/bin/tasks/android_stack_size_test.dart
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/test/adb_test.dart
Labels: cla: yes, team

#75441 Revert "Reland "Update PopupMenuButton to match Material Design spec"…
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter_localizations/test/text_test.dart
Labels: a: accessibility, a: internationalization, cla: yes, f: material design, framework, team

#75439 Roll Plugins from e51dd6723b06 to 546d6c10377a (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75448 Roll Plugins from 546d6c10377a to 342d0109e986 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75450 Roll Engine from 8076607c3ea3 to 6a2df7f1c9f6 (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75458 Revert "Roll Engine from 8076607c3ea3 to 6a2df7f1c9f6 (4 revisions)"
  bin/internal/engine.version
Labels: cla: yes, engine

#75436 Roll Engine from 8076607c3ea3 to b04955656c87 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#75455 Roll Plugins from 342d0109e986 to 9e982cf95997 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75389 Update prepare_package to upload artifacts to old and new buckets.
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes, team

#75464 Roll Plugins from 9e982cf95997 to 7f5696c88c3e (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#70673 Point to a new artifacts location.
  bin/internal/gradle_wrapper.version
  bin/internal/material_fonts.version
  bin/internal/update_dart_sdk.ps1
  bin/internal/update_dart_sdk.sh
  dev/bots/test/fake_process_manager_test.dart
  dev/bots/unpublish_package.dart
  dev/tools/java_and_objc_doc.dart
  dev/tools/repackage_gradle_wrapper.sh
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_framework_test.dart
Labels: cla: yes, f: material design, team, tool

#75475 Revert tool change
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
  packages/flutter_tools/test/general.shard/features_test.dart
Labels: a: tests, cla: yes, engine, f: cupertino, f: material design, framework, team, tool

#75454 ToggleButtons focus,highlight,hoverElevation = 0
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/test/material/toggle_buttons_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75515 Manually close the tree for issue/75514
  dev/devicelab/bin/tasks/hot_mode_dev_cycle_macos_target__benchmark.dart
Labels: cla: yes, team

#75532 Revert "TextField and last input character should visible on the screen when the cursor is not shown (#74722)"
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework

#75669 Revert "Fix/ValueListenableBuilder rebuilds"
  packages/flutter/lib/src/widgets/value_listenable_builder.dart
  packages/flutter/test/widgets/value_listenable_builder_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#75682 Revert "Manually close the tree for issue/75514"
  dev/devicelab/bin/tasks/hot_mode_dev_cycle_macos_target__benchmark.dart
Labels: cla: yes, team

#71864 ignore sliver underflow if the last children is no longer at the prev…
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#74043 Added enableFeedback property to BottomNavigationBar
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/bottom_navigation_bar_theme.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75522 Fix for issue #75518 - ListTile.divideTiles throws error if empty list is passed when null-safety enabled
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75554 Fixed grammatical typo
  packages/flutter/lib/src/rendering/editable.dart
Labels: cla: yes, framework

#75012 Remove "unnecessary" imports in flutter_tools tests
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
  packages/flutter_tools/test/general.shard/testbed_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
  packages/flutter_tools/test/integration.shard/generated_plugin_registrant_test.dart
  packages/flutter_tools/test/integration.shard/plist_parser_test.dart
  packages/flutter_tools/test/src/testbed.dart
  packages/integration_test/lib/_callback_web.dart
  packages/integration_test/test/binding_fail_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#75374 Added memory benchmark for flutter engine groups.
  dev/benchmarks/multiple_flutters/android/.gitignore
  dev/benchmarks/multiple_flutters/android/app/.gitignore
  dev/benchmarks/multiple_flutters/android/app/build.gradle
  dev/benchmarks/multiple_flutters/android/app/proguard-rules.pro
  dev/benchmarks/multiple_flutters/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/multiple_flutters/android/app/src/main/java/dev/flutter/multipleflutters/App.kt
  dev/benchmarks/multiple_flutters/android/app/src/main/java/dev/flutter/multipleflutters/MainActivity.kt
  dev/benchmarks/multiple_flutters/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  dev/benchmarks/multiple_flutters/android/app/src/main/res/drawable/ic_launcher_background.xml
  dev/benchmarks/multiple_flutters/android/app/src/main/res/values-night/themes.xml
  dev/benchmarks/multiple_flutters/android/app/src/main/res/values/colors.xml
  dev/benchmarks/multiple_flutters/android/app/src/main/res/values/strings.xml
  dev/benchmarks/multiple_flutters/android/app/src/main/res/values/themes.xml
  dev/benchmarks/multiple_flutters/android/build.gradle
  dev/benchmarks/multiple_flutters/android/gradle.properties
  dev/benchmarks/multiple_flutters/android/gradle/wrapper/gradle-wrapper.properties
  dev/benchmarks/multiple_flutters/android/settings.gradle
  dev/benchmarks/multiple_flutters/module/.gitignore
  dev/benchmarks/multiple_flutters/module/.metadata
  dev/benchmarks/multiple_flutters/module/lib/main.dart
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/devicelab/bin/tasks/flutter_engine_group_performance.dart
Labels: cla: yes, team, waiting for tree to go green

#75511 Roll Engine from b04955656c87 to 30bb5f1cbd5e (20 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75169 Added scrollController property to TextFormField
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#75394 flutter_tool: DeferredComponent and LoadingUnit classes, Manifest deferred-components parsing
  packages/flutter_tools/lib/src/base/deferred_component.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/test/general.shard/base/deferred_component_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#75431 Reland "Migrate some benchmarks to NNBD (#75023)"
  dev/benchmarks/platform_views_layout/lib/main.dart
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout/test_driver/scroll_perf_test.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/lib/android_platform_view.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/lib/main.dart
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/test_driver/scroll_perf_test.dart
Labels: cla: yes, team, waiting for tree to go green

#75549 Document that a CupertinoApp isn't necessary for an iOS app
  packages/flutter/lib/src/cupertino/app.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#75545 Add exception to FakeCommand
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/android/android_studio_validator_test.dart
  packages/flutter_tools/test/general.shard/devtools_launcher_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_install_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/src/fake_process_manager.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#75665 ios_platform_view tests pass when device rotated
  dev/integration_tests/ios_platform_view_tests/lib/main.dart
Labels: cla: yes, team, waiting for tree to go green

#75672 Gallery transition tests pass when device rotated
  dev/integration_tests/flutter_gallery/test_driver/run_demos.dart
  dev/integration_tests/flutter_gallery/test_driver/transitions_perf_test.dart
Labels: cla: yes, team, waiting for tree to go green

#75498 Roll Plugins from 7f5696c88c3e to ad308e54ce39 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75533 add prod builder for android stack size test
  dev/prod_builders.json
Labels: cla: yes, team

#75678 Loosen ui.TextStyle toString tests
  packages/flutter/test/painting/text_style_test.dart
  packages/flutter/test/widgets/rich_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#75717 Fix analyzer warning, remove import
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
Labels: cla: yes, tool

#75614 Add RenderEditable keys listener back in attach()
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#75712 Roll Engine from 30bb5f1cbd5e to 2e10a97417ff (36 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#75660 fuchsia_remote_debug_protocol: never published
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#75543 Move FakeBotDetector to fakes
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/fakes.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#75705 Remove "unnecessary" imports in tests
  packages/flutter/test/rendering/reattach_test.dart
  packages/flutter/test/rendering/recording_canvas.dart
  packages/flutter/test/rendering/repaint_boundary_test.dart
  packages/flutter/test/rendering/simple_semantics_test.dart
  packages/flutter/test/rendering/slivers_test.dart
  packages/flutter/test/rendering/view_chrome_style_test.dart
  packages/flutter/test/rendering/viewport_test.dart
  packages/flutter/test/scheduler/benchmarks_test.dart
  packages/flutter/test/semantics/semantics_elevation_test.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/semantics/traversal_order_test.dart
Labels: a: accessibility, cla: yes, framework, waiting for tree to go green

#75721 Roll Plugins from ad308e54ce39 to ea19ea875069 (18 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73751 Remove deprecated TypeMatcher class
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework, severe: API break, waiting for tree to go green

#75734 Revert "Remove deprecated TypeMatcher class"
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework, waiting for tree to go green

#75287 Add fix for maxEnforced -> maxEnforcement
  packages/flutter/lib/fix_data.yaml
  packages/flutter/test_fixes/cupertino.dart
  packages/flutter/test_fixes/cupertino.dart.expect
  packages/flutter/test_fixes/material.dart
  packages/flutter/test_fixes/material.dart.expect
Labels: cla: yes, f: cupertino, f: material design, framework, team, waiting for tree to go green
