Repository flutter/flutter, pull requests merged in 2021-11, with the labels that each got.

#92820 Revert "Refactor ThemeData (#91497)"
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, cla: yes

#92800 Manually roll the engine and update Gradle dependency locks
  bin/internal/engine.version
  dev/benchmarks/complex_layout/android/project-app.lockfile
  dev/benchmarks/complex_layout/android/project-integration_test.lockfile
  dev/benchmarks/macrobenchmarks/android/project-app.lockfile
  dev/benchmarks/macrobenchmarks/android/project-integration_test.lockfile
  dev/benchmarks/platform_views_layout/android/project-app.lockfile
  dev/benchmarks/platform_views_layout_hybrid_composition/android/project-app.lockfile
  dev/benchmarks/test_apps/stocks/android/project-app.lockfile
  dev/integration_tests/abstract_method_smoke_test/android/project-app.lockfile
  dev/integration_tests/android_embedding_v2_smoke_test/android/project-app.lockfile
  dev/integration_tests/android_embedding_v2_smoke_test/android/project-battery.lockfile
  dev/integration_tests/android_semantics_testing/android/project-app.lockfile
  dev/integration_tests/android_views/android/project-app.lockfile
  dev/integration_tests/android_views/android/project-path_provider.lockfile
  dev/integration_tests/channels/android/project-app.lockfile
  dev/integration_tests/external_ui/android/project-app.lockfile
  dev/integration_tests/flavors/android/project-app.lockfile
  dev/integration_tests/flavors/android/project-integration_test.lockfile
  dev/integration_tests/flutter_gallery/android/project-app.lockfile
  dev/integration_tests/flutter_gallery/android/project-connectivity.lockfile
  dev/integration_tests/flutter_gallery/android/project-device_info.lockfile
  dev/integration_tests/flutter_gallery/android/project-integration_test.lockfile
  dev/integration_tests/flutter_gallery/android/project-url_launcher.lockfile
  dev/integration_tests/flutter_gallery/android/project-video_player.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-app.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-camera.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-flutter_plugin_android_lifecycle.lockfile
  dev/integration_tests/hybrid_android_views/android/project-app.lockfile
  dev/integration_tests/hybrid_android_views/android/project-path_provider.lockfile
  dev/integration_tests/non_nullable/android/project-app.lockfile
  dev/integration_tests/platform_interaction/android/project-app.lockfile
  dev/integration_tests/release_smoke_test/android/project-app.lockfile
  dev/integration_tests/release_smoke_test/android/project-integration_test.lockfile
  dev/integration_tests/ui/android/project-app.lockfile
  dev/integration_tests/ui/android/project-integration_test.lockfile
  dev/manual_tests/android/project-app.lockfile
  examples/flutter_view/android/project-app.lockfile
  examples/hello_world/android/project-app.lockfile
  examples/image_list/android/project-app.lockfile
  examples/layers/android/project-app.lockfile
  examples/platform_channel/android/project-app.lockfile
  examples/platform_view/android/project-app.lockfile
  packages/integration_test/example/android/project-app.lockfile
  packages/integration_test/example/android/project-integration_test.lockfile
Labels: team, engine, a: accessibility, cla: yes, d: examples, integration_test

#92670 Update Data Table Class with Borders Like Table Widgets (#36837)
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#92850 Roll gallery with updated Gradle lockfiles
  dev/devicelab/lib/versions/gallery.dart
Labels: team, cla: yes

#92847 Roll Engine from e781ed8b2980 to 7cee46cca464 (6 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92614 Blinking cursor respects TickerMode
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, cla: yes, waiting for tree to go green

#92131 Migrate doctor to null safety
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/android/deferred_components_prebuild_validator.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/commands/emulators.dart
  packages/flutter_tools/lib/src/commands/ide_config.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/globals_null_migrated.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/template.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/general.shard/android/template_test.dart
  packages/flutter_tools/test/general.shard/template_test.dart
Labels: tool, cla: yes, waiting for tree to go green, a: null-safety, tech-debt

#92167 Update clipboard status on cut
  packages/flutter/lib/src/cupertino/desktop_text_selection.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/material/desktop_text_selection.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, cla: yes, f: cupertino

#92855 Roll Engine from 7cee46cca464 to 43561d8820e0 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#92822 Reland "Refactor ThemeData (#91497)" (part 1)
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, cla: yes

#92857 Roll Engine from 43561d8820e0 to 8317c5eedb68 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92593 Migrate test to moved FlutterPlayStoreSplitApplication
  dev/integration_tests/deferred_components_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/deferred_components_test/run_release_test.sh
Labels: team, cla: yes, integration_test

#92860 Roll Engine from 8317c5eedb68 to 98e3216ab470 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92866 Roll Engine from 98e3216ab470 to 2ea889c9af5c (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92808 feat: mirgate test_data/compile_error_project.dart to null safety
  packages/flutter_tools/test/integration.shard/test_data/compile_error_project.dart
Labels: tool, cla: yes, waiting for tree to go green

#92868 Roll Engine from 2ea889c9af5c to 7797c76bb99c (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92875 Roll Engine from 7797c76bb99c to a4e700eb0c8b (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92886 Roll Engine from a4e700eb0c8b to c674d2cbc6e0 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#92892 Roll Engine from c674d2cbc6e0 to 76b4caeafe75 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92904 Roll Engine from 76b4caeafe75 to 6095a1367846 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#92255 [flutter_tools] Instruct compiler before processing bundle
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
Labels: tool, cla: yes

#92918 Roll Engine from 6095a1367846 to 4dbdc0844425 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92916 Marks Mac_ios platform_view_ios__start_up to be unflaky
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#92926 Revert "Roll Engine from 6095a1367846 to 4dbdc0844425 (1 revision) (#…
  bin/internal/engine.version
Labels: engine, cla: yes

#77103 [web] Allow the usage of url strategies without conditional imports
  packages/flutter_web_plugins/lib/flutter_web_plugins.dart
  packages/flutter_web_plugins/lib/src/navigation/js_url_strategy.dart
  packages/flutter_web_plugins/lib/src/navigation/url_strategy.dart
  packages/flutter_web_plugins/lib/src/navigation_common/url_strategy.dart
  packages/flutter_web_plugins/lib/src/navigation_non_web/url_strategy.dart
  packages/flutter_web_plugins/lib/url_strategy.dart
  packages/flutter_web_plugins/test/navigation/url_strategy_test.dart
Labels: cla: yes, f: routes, platform-web, waiting for tree to go green

#92871 Migrate flutter_command to null safety
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
Labels: tool, cla: yes, waiting for tree to go green, a: null-safety, tech-debt

#92923 Update flutter localizations.
  packages/flutter_localizations/lib/src/l10n/cupertino_uk.arb
  packages/flutter_localizations/lib/src/l10n/generated_cupertino_localizations.dart
  packages/flutter_localizations/lib/src/l10n/generated_material_localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_kk.arb
  packages/flutter_localizations/lib/src/l10n/material_nl.arb
  packages/flutter_localizations/lib/src/l10n/material_pt.arb
Labels: f: material design, a: internationalization, cla: yes, f: cupertino, waiting for tree to go green

#92938 Skip codesigning during native macOS integration tests
  dev/devicelab/bin/tasks/native_ui_tests_ios.dart
  dev/devicelab/bin/tasks/native_ui_tests_macos.dart
  dev/devicelab/lib/framework/ios.dart
  dev/integration_tests/flutter_gallery/macos/Podfile.lock
  dev/integration_tests/flutter_gallery/macos/RunnerTests/RunnerTests.m
Labels: team, cla: yes, waiting for tree to go green, integration_test

#92954 Roll Plugins from e51cc1df7b75 to 53fff22979d2 (7 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#92946 Add Help menu to macOS create template
  dev/integration_tests/flutter_gallery/macos/Runner/Base.lproj/MainMenu.xib
  dev/integration_tests/flutter_gallery/macos/RunnerTests/RunnerTests.m
  packages/flutter_tools/templates/app_shared/macos.tmpl/Runner/Base.lproj/MainMenu.xib
Labels: team, tool, cla: yes, waiting for tree to go green, integration_test

#92977 Roll Engine from 6095a1367846 to f08694a57857 (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#92980 Roll Engine from f08694a57857 to 6ae304aeef1b (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92984 Roll Engine from 6ae304aeef1b to 535f1c4c1c49 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#90684 Move text editing `Action`s to `EditableTextState`
  examples/api/lib/widgets/actions/action.action_overridable.0.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_editing.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/lib/src/widgets/default_text_editing_actions.dart
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/text_editing_action.dart
  packages/flutter/lib/src/widgets/text_editing_intents.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/widgets/editable_text_shortcuts_tests.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/text_editing_action_target_test.dart
Labels: team, framework, f: material design, cla: yes, f: cupertino, d: examples, waiting for tree to go green

#92929 Fix a few prefer_const_declarations and avoid_redundant_argument_values.
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/painting/image_provider_network_image_test.dart
  packages/flutter_localizations/test/material/date_picker_test.dart
Labels: a: text input, framework, f: material design, a: internationalization, cla: yes, f: cupertino

#92996 Roll Engine from 535f1c4c1c49 to e9d92561b9a7 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92948 Remove globals_null_migrated.dart, move into globals.dart
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/commands/emulators.dart
  packages/flutter_tools/lib/src/globals_null_migrated.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: tool, cla: yes, waiting for tree to go green

#93004 Roll Engine from e9d92561b9a7 to caf6d2997ddd (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93005 Roll Plugins from 53fff22979d2 to 2e102b8a8c41 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#92160 Add `expandedScale` to `FlexibleSpaceBar`
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#93026 Skip overall_experience_test.dart: flutter run writes and clears pidfile appropriately
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#93028 Roll Engine from caf6d2997ddd to fd0f83359dd8 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92481 [Cupertino] Exclude border for last action item in `CupertinoContextMenu`
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/context_menu_action.dart
  packages/flutter/test/cupertino/context_menu_test.dart
Labels: a: text input, framework, cla: yes, f: cupertino

#92950 Migrate channel, clean and a few other commands to null safety
  packages/flutter_tools/lib/src/base/common.dart
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/commands/debug_adapter.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/commands/make_host_app_editable.dart
Labels: tool, cla: yes, waiting for tree to go green

#92952 Migrate doctor, format, and a few other commands to null safety
  packages/flutter_tools/lib/src/commands/doctor.dart
  packages/flutter_tools/lib/src/commands/format.dart
  packages/flutter_tools/lib/src/commands/generate.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/commands/ide_config.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/commands/shell_completion.dart
  packages/flutter_tools/lib/src/commands/symbolize.dart
  packages/flutter_tools/lib/src/template.dart
Labels: tool, cla: yes, waiting for tree to go green, a: null-safety, tech-debt

#93033 Roll Engine from fd0f83359dd8 to 4f5e2968b639 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92745 Fix typo that is introduced in hotfix 2.5.x
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, cla: yes

#93002 [web:tools] always use CanvasKit from the cache when building web apps
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: tool, cla: yes

#93034 Replace text directionality control characters with escape sequences in the semantics_tester
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter/test/widgets/semantics_tester_generate_test_semantics_expression_for_current_semantics_tree_test.dart
Labels: framework, a: accessibility, cla: yes, waiting for tree to go green

#91987 Add `animationDuration` property to TabController
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#92297 Added widgets/AppModel
  examples/api/lib/widgets/app_model/app_model.0.dart
  examples/api/lib/widgets/app_model/app_model.1.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/app_model.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/widgets/app_model_test.dart
Labels: team, framework, f: material design, cla: yes, d: api docs, d: examples, waiting for tree to go green, documentation

#93042 Roll Engine from 4f5e2968b639 to c70041c85134 (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93043 Roll Engine from c70041c85134 to bbc4615ecd63 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#93046 Roll Engine from bbc4615ecd63 to e28b5df18c97 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93051 Roll Engine from e28b5df18c97 to 32fff2f6e12b (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93060 Roll Plugins from 2e102b8a8c41 to e39a584ab08e (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93041 Suppress created file list for new "flutter create" projects
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/test/general.shard/template_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#93061 Roll Engine from 32fff2f6e12b to 5140e30cec13 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92440 Allow Programmatic Control of Draggable Sheet
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: framework, f: scrolling, cla: yes, waiting for tree to go green

#93066 Roll Plugins from e39a584ab08e to d6ca8a368ce3 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#92932 Update docs to point to assets-for-api-docs cupertino css file
  dev/docs/styles.html
Labels: team, cla: yes, f: cupertino, d: api docs, waiting for tree to go green, documentation

#93148 Pin to specific plugin versions
  packages/flutter_tools/test/integration.shard/test_data/multidex_project.dart
Labels: tool, cla: yes

#92615 Fixes issue where navigating to new route breaks FocusNode of previou…
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/widgets/focus_scope_test.dart
Labels: framework, cla: yes, waiting for tree to go green, f: focus

#92924 Update packages
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/allowlist.dart
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: team, tool, cla: yes, waiting for tree to go green

#93059 Add golden tests for default and overriden `expandedTitleScale` in `FlexibleSpaceBar`
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#93157 Roll Plugins from d6ca8a368ce3 to 27eda487859c (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#92849 Migrate tracing to null safety
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/tracing_test.dart
  packages/flutter_tools/test/src/fake_vm_services.dart
Labels: tool, cla: yes, waiting for tree to go green, a: null-safety, tech-debt

#92955 Migrate custom_device to null safety
  packages/flutter_tools/lib/src/custom_devices/custom_device.dart
  packages/flutter_tools/test/general.shard/custom_devices/custom_device_test.dart
Labels: tool, cla: yes, waiting for tree to go green, a: null-safety, tech-debt

#93094 Update minimum required version to Xcode 12.3
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_validator_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: a: text input, tool, cla: yes, waiting for tree to go green, t: xcode

#93161 Revert "Added widgets/AppModel"
  examples/api/lib/widgets/app_model/app_model.0.dart
  examples/api/lib/widgets/app_model/app_model.1.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/app_model.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/widgets/app_model_test.dart
Labels: team, framework, f: material design, cla: yes, d: api docs, d: examples, waiting for tree to go green, documentation

#92989 Stop sending metrics to builder name
  dev/devicelab/lib/framework/metrics_center.dart
  dev/devicelab/test/metrics_center_test.dart
Labels: team, cla: yes, waiting for tree to go green, team: benchmark

#93173 Bump Gallery version
  dev/devicelab/lib/versions/gallery.dart
Labels: team, cla: yes

#93207 Revert "Bump Gallery version"
  dev/devicelab/lib/versions/gallery.dart
Labels: team, cla: yes

#83860 Added `onDismiss` callback to ModalBarrier.
  packages/flutter/lib/src/widgets/modal_barrier.dart
  packages/flutter/test/widgets/modal_barrier_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#92480 [Cupertino] fix dark mode for `ContextMenuAction`
  packages/flutter/lib/src/cupertino/context_menu_action.dart
  packages/flutter/test/cupertino/context_menu_action_test.dart
Labels: a: text input, framework, cla: yes, f: cupertino, waiting for tree to go green

#92733 Add the exported attribute to the Flutter Gallery manifest
  dev/integration_tests/flutter_gallery/android/app/src/main/AndroidManifest.xml
Labels: team, cla: yes, waiting for tree to go green, integration_test

#92956 Migrate windows_device to null safety
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/linux/linux_device.dart
  packages/flutter_tools/lib/src/macos/macos_ipad_device.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/lib/src/windows/windows_device.dart
  packages/flutter_tools/test/general.shard/macos/macos_ipad_device_test.dart
Labels: tool, cla: yes, waiting for tree to go green, a: null-safety, tech-debt

#93258 [ci.yaml] Mark roller flaky
  .ci.yaml
Labels: cla: yes

#93128 Remove comment on caching line metrics
  packages/flutter/lib/src/painting/text_painter.dart
Labels: a: text input, framework, cla: yes, waiting for tree to go green

#93165 Roll Plugins from 27eda487859c to 5bf7fb0360aa (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93223 Roll Engine from 5140e30cec13 to 469d6f1a09f4 (58 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green, will affect goldens

#93268 [web] exclude bitrotten context_menu_action_test.dart from CanvasKit shard
  dev/bots/test.dart
Labels: team, cla: yes

#93266 Mark web_canvaskit_tests_5 as flaky
  .ci.yaml
Labels: cla: yes

#88508 Do not crash when dragging ReorderableListView with two fingers simultaneously
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#92970 Reland "Refactor ThemeData (#91497)" (part 2)
  packages/flutter/lib/src/material/theme_data.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#93171 [flutter_conductor] Rewrite writeStateToFile to be in an overidable method.
  dev/conductor/core/lib/src/next.dart
  dev/conductor/core/lib/src/start.dart
Labels: team, cla: yes, waiting for tree to go green

#93175 Added SharedAppData to the widgets library
  examples/api/lib/widgets/shared_app_data/shared_app_data.0.dart
  examples/api/lib/widgets/shared_app_data/shared_app_data.1.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/shared_app_data.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/widgets/shared_app_data_test.dart
Labels: framework, f: material design, cla: yes, will affect goldens

#93273 Revert "mark flaky (#93266)"
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#93267 Force the color used by WidgetApp's Title to be fully opaque.
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/widgets/app_title_test.dart
Labels: framework, cla: yes, waiting for tree to go green

#93271 Add Border customization to CheckboxListTile (reprise)
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
Labels: framework, f: material design, cla: yes

#88362 [gen_l10n] retain full output file suffix
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, cla: yes, will affect goldens

#93264 added cleanContext
  dev/conductor/core/lib/src/clean.dart
  dev/conductor/core/test/clean_test.dart
Labels: team, cla: yes, will affect goldens

#93080 Dynamic logcat piping for deferred components test
  dev/integration_tests/deferred_components_test/run_release_test.sh
Labels: team, cla: yes, waiting for tree to go green, integration_test

#93087 In CupertinoIcons doc adopt diagram and fix broken glyph map link
  packages/flutter/lib/src/cupertino/icons.dart
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/lib/src/widgets/icon.dart
Labels: framework, cla: yes, f: cupertino, d: api docs, waiting for tree to go green, documentation

#93174 [web] add image decoder benchmark
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_dynamic_clip_on_static_picture.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_image_decoding.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: team, cla: yes, waiting for tree to go green

#93082 [flutter_conductor] ensure release branch point is always tagged
  dev/conductor/core/lib/src/globals.dart
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/test/start_test.dart
Labels: team, cla: yes, waiting for tree to go green

#93284 Roll Engine from 469d6f1a09f4 to 1ae721c0230e (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#93294 Roll Engine from 1ae721c0230e to 0b3ac9431351 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93296 Roll Engine from 0b3ac9431351 to 5fcc59bbc290 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93299 Roll Engine from 5fcc59bbc290 to 162d8508f874 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#93293 Use adb variable instead of direct command
  dev/integration_tests/deferred_components_test/run_release_test.sh
Labels: team, cla: yes, waiting for tree to go green, integration_test

#93306 Roll Engine from 162d8508f874 to 766f3a5bec7b (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#93309 Roll Plugins from 5bf7fb0360aa to 638dd07f51fa (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93307 Track timeout from app run start in deferred components integration test
  dev/integration_tests/deferred_components_test/run_release_test.sh
Labels: team, cla: yes, waiting for tree to go green, integration_test

#88800 Improve ProgressIndicator value range docs
  packages/flutter/lib/src/material/progress_indicator.dart
Labels: framework, f: material design, cla: yes

#93166 Do not rebuild when TickerMode changes
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/ticker_provider.dart
  packages/flutter/test/widgets/ticker_mode_test.dart
Labels: a: text input, framework, cla: yes, waiting for tree to go green

#92451 Add warning for bumping Android SDK version to match plugins
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/test/integration.shard/android_plugin_compilesdkversion_mismatch_test.dart
  packages/flutter_tools/test/integration.shard/test_data/multidex_project.dart
Labels: tool, cla: yes, waiting for tree to go green

#93341 Roll Plugins from 638dd07f51fa to 68d222342e39 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93327 Roll Engine from 766f3a5bec7b to 76bf5a1ad029 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#92901 Exit on deprecated v1 embedding when trying to run or build
  dev/benchmarks/complex_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/microbenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/channels/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/external_ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/hybrid_android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/non_nullable/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/release_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/manual_tests/android/app/src/main/AndroidManifest.xml
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/integration_test/example/android/app/src/main/AndroidManifest.xml
Labels: team, tool, a: accessibility, cla: yes, waiting for tree to go green, integration_test

#93351 Replaced the reference to `primaryVariant` in code example.
  examples/api/lib/material/reorderable_list/reorderable_list_view.1.dart
Labels: team, f: material design, cla: yes, d: api docs, d: examples, documentation

#93354 Roll Plugins from 68d222342e39 to 1a2fbe878d86 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93365 Revert "Exit on deprecated v1 embedding when trying to run or build"
  dev/benchmarks/complex_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/microbenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/channels/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/external_ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/hybrid_android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/non_nullable/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/release_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/manual_tests/android/app/src/main/AndroidManifest.xml
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/integration_test/example/android/app/src/main/AndroidManifest.xml
Labels: team, tool, a: accessibility, cla: yes, integration_test

#93353 Ignore upcoming warning for unnecessary override
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
Labels: tool, cla: yes, waiting for tree to go green

#93228 Use num on plural
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, cla: yes, will affect goldens

#93356 Pin visual studio version used in the framework.
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#93414 Roll Engine from 76bf5a1ad029 to 3af330d5c098 (27 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#93419 Roll Plugins from 1a2fbe878d86 to d9d87e9f8809 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93421 Roll Engine from 3af330d5c098 to 5c1b2d9af0fd (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93424 Roll Plugins from d9d87e9f8809 to 0cfbe1779ecb (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#92172 [CupertinoActivityIndicator] Add `color` parameter
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/test/cupertino/activity_indicator_test.dart
  packages/flutter/test/material/progress_indicator_test.dart
Labels: framework, f: material design, cla: yes, f: cupertino, waiting for tree to go green

#93428 Roll Engine from 5c1b2d9af0fd to e5f05693010f (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92758 Improve error message for uninitialized channel
  packages/flutter/lib/src/services/platform_channel.dart
  packages/flutter/test/services/use_platform_channel_without_initialization_test.dart
Labels: framework, cla: yes, waiting for tree to go green

#92031 Adds tool warning log level and command line options to fail on warning/error output
  dev/bots/test.dart
  dev/conductor/core/lib/src/codesign.dart
  dev/conductor/core/lib/src/stdio.dart
  dev/devicelab/lib/command/test.dart
  packages/flutter_tools/bin/fuchsia_asset_builder.dart
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/bundle_builder.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/commands/build_winuwp.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/install.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_build.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/globals_null_migrated.dart
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/macos/xcdevice.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/update_packages_test.dart
  packages/flutter_tools/test/integration.shard/cache_test.dart
  packages/flutter_tools/test/integration.shard/test_test.dart
Labels: team, tool, cla: yes, waiting for tree to go green

#93129 Use baseline value to get position in next line
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/widgets/editable_text_shortcuts_tests.dart
Labels: a: text input, framework, cla: yes, waiting for tree to go green

#93435 Roll Plugins from 0cfbe1779ecb to 112fe4eb497a (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93436 Roll Engine from e5f05693010f to 6abca2895599 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93426 Add support for Visual Studio 2022
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/lib/src/windows/visual_studio.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/general.shard/windows/visual_studio_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#93444 Roll Engine from 6abca2895599 to d5cadd28b0bf (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#90608 RangeMaintainingScrollPhysics remove overscroll maintaining when grow
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/test/widgets/range_maintaining_scroll_physics_test.dart
  packages/flutter/test/widgets/scroll_activity_test.dart
Labels: framework, f: scrolling, cla: yes, waiting for tree to go green

#93447 Roll Plugins from 112fe4eb497a to d09abd526375 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93458 Roll Plugins from d09abd526375 to d22be768e9d5 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#93484 Roll Plugins from d22be768e9d5 to a103bcd3327e (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#89045 feat: enable flavor option on test command
  dev/devicelab/bin/tasks/flavors_test.dart
  dev/devicelab/bin/tasks/flavors_test_ios.dart
  dev/devicelab/bin/tasks/flavors_test_win.dart
  dev/devicelab/lib/tasks/integration_tests.dart
  dev/integration_tests/flavors/integration_test/integration_test.dart
  dev/integration_tests/flavors/lib/main.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#93487 Roll Engine from d5cadd28b0bf to 2a76e06247df (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#93490 Marks Mac_android run_release_test to be flaky
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#93496 Roll Engine from 2a76e06247df to 26b3c41ad795 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#92374 Removed no-shuffle tag and fixed leak in flutter_goldens_test.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, team, framework, cla: yes, waiting for tree to go green

#93503 Roll Engine from 26b3c41ad795 to aaacb670af16 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#93065 Add DevTools version to `flutter --version` and `flutter doctor -v` output.
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/flutter_validator_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/general.shard/version_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, cla: yes, waiting for tree to go green

#91698 Fix text cursor or input can be outside of the text field
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, cla: yes, waiting for tree to go green, will affect goldens

#93386 Reland "Exit on deprecated v1 embedding when trying to run or build (#92901)"
  dev/benchmarks/complex_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/microbenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/channels/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/external_ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/hybrid_android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/non_nullable/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/release_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/manual_tests/android/app/src/main/AndroidManifest.xml
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/integration_test/example/android/app/src/main/AndroidManifest.xml
Labels: team, tool, a: accessibility, cla: yes, waiting for tree to go green, integration_test

#93499 Use navigator instead of overlay as TickerProvider for ModalBottomSheet
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#93518 Revert "Reland "Exit on deprecated v1 embedding when trying to run or…
  dev/benchmarks/complex_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/macrobenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/microbenchmarks/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout/android/app/src/main/AndroidManifest.xml
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/abstract_method_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_semantics_testing/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/channels/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/external_ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/flavors/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/hybrid_android_views/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/non_nullable/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/platform_interaction/android/app/src/main/java/com/yourcompany/platforminteraction/MainActivity.java
  dev/integration_tests/release_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/manual_tests/android/app/src/main/AndroidManifest.xml
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/integration_test/example/android/app/src/main/AndroidManifest.xml
Labels: team, tool, a: accessibility, cla: yes, integration_test

#93510 Roll Engine from aaacb670af16 to e022c9283c40 (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green, will affect goldens

#93555 Restore Cache.flutterRoot after overriding it in a test
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, cla: yes

#91590 add --extra-gen-snapshot-options support for build_aar command.
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#93350 Fatten up multiple_flutters memory footprint
  dev/benchmarks/multiple_flutters/android/app/src/main/java/dev/flutter/multipleflutters/MainActivity.kt
  dev/benchmarks/multiple_flutters/module/lib/main.dart
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  examples/api/pubspec.yaml
  examples/image_list/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: team, cla: yes

#93536 Fix typo in AnimatedWidgetBaseState
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: framework, a: animation, cla: yes, waiting for tree to go green

#93448 [flutter_releases] Flutter beta 2.8.0-3.1.pre Framework Cherrypicks
  .ci.yaml
  bin/internal/engine.version
  examples/api/lib/widgets/shared_app_data/shared_app_data.0.dart
  examples/api/lib/widgets/shared_app_data/shared_app_data.1.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/shared_app_data.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/widgets/shared_app_data_test.dart
  packages/flutter_tools/test/integration.shard/test_data/multidex_project.dart
Labels: team, framework, engine, f: material design, cla: yes, d: api docs, d: examples, documentation
