Repository flutter/flutter, pull requests merged in 2021-07, with the labels that each got.

#85650 Wait for iOS UI buttons to exist before tapping
  dev/integration_tests/ios_host_app/FlutterUITests/FlutterUITests.m
Labels: cla: yes, platform-ios, team, team: flakes, waiting for tree to go green

#85661 Update README.md
  dev/bots/README.md
Labels: cla: yes, team, waiting for tree to go green

#85666 Roll Engine from ea1e3804831d to d1b56f96a238 (11 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85667 Add ownership for skp_generator and animated_image_gc_perf
  TESTOWNERS
Labels: cla: yes, waiting for tree to go green

#85674 Roll Engine from d1b56f96a238 to 28c21828fcda (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85673 Revert "Randomize Framework tests, opt out some tests that currently fail. (#85159)"
  dev/bots/run_command.dart
  dev/bots/test.dart
  packages/flutter/dart_test.yaml
  packages/flutter/test/animation/animation_controller_test.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/gestures/debug_test.dart
  packages/flutter/test/gestures/long_press_test.dart
  packages/flutter/test/gestures/tap_test.dart
  packages/flutter/test/material/app_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter/test/material/progress_indicator_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/scrollbar_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/painting/image_stream_test.dart
  packages/flutter/test/physics/newton_test.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/viewport_test.dart
  packages/flutter/test/scheduler/scheduler_test.dart
  packages/flutter/test/scheduler/ticker_test.dart
  packages/flutter/test/services/platform_channel_test.dart
  packages/flutter/test/widgets/app_overrides_test.dart
  packages/flutter/test/widgets/binding_test.dart
  packages/flutter/test/widgets/clip_test.dart
  packages/flutter/test/widgets/debug_test.dart
  packages/flutter/test/widgets/dismissible_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
  packages/flutter/test/widgets/routes_test.dart
  packages/flutter/test/widgets/scroll_aware_image_provider_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, team

#85672 Change devicelab test ownership
  TESTOWNERS
Labels: cla: yes, team, waiting for tree to go green

#85675 Roll Engine from 28c21828fcda to eab0cd490abc (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#84599 Feat(cupertino): [date_picker] Date order parameter
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#85694 Roll Plugins from 7e2560a00b91 to 893ba4981c26 (5 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85663 Reland [ci.yaml] Set targets names equal to builder #85636
  .ci.yaml
Labels: cla: yes

#85640 Expose selectionHeightStyle and SelectionWidthStyle on SelectableText
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#85714 Revert "Added AppBar.textButtonTheme"
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/app_bar_theme.dart
  packages/flutter/test/material/app_bar_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#85708 Roll Engine from eab0cd490abc to 66bb71b4b2b5 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#85719 [flutter_releases] Flutter Stable 2.2.3 Framework Cherrypicks
  .cirrus.yml
  bin/internal/engine.version
Labels: cla: yes, engine

#85721 Roll Plugins from 893ba4981c26 to 962c60701d66 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85723 Roll Engine from 66bb71b4b2b5 to f106378dd6c8 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#84246 Update outdated ios setup link in error message
  packages/flutter_tools/lib/src/ios/code_signing.dart
Labels: cla: yes, tool, waiting for tree to go green

#84967 Fix some indentation
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/symbolize.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: cla: yes, tool, waiting for tree to go green

#84961 Fix typo in test class
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#85306 Add space before curly parentheses.
  dev/benchmarks/macrobenchmarks/lib/src/cull_opacity.dart
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/lib/main.dart
  dev/tools/gen_keycodes/lib/logical_key_data.dart
  dev/tools/gen_keycodes/lib/physical_key_data.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/material/tab_controller.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/sliver_fixed_extent_list.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter/test/rendering/platform_view_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/router_test.dart
  packages/flutter/test/widgets/scroll_view_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter_test/test/live_binding_test.dart
  packages/flutter_test/test/widget_tester_test.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: a: tests, cla: yes, f: cupertino, f: material design, framework, team, tool, waiting for tree to go green

#85726 Roll Plugins from 962c60701d66 to 6425a3056bf5 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85381 Migrate RenderEditable shortcuts from RawKeyboard listeners
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/default_text_editing_actions.dart
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/lib/src/widgets/text_editing_intents.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, cla: yes, framework

#85727 Roll Engine from f106378dd6c8 to e499100bb257 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#84732 [gen_l10n] Make app localizations lookup a public method
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: a: internationalization, cla: yes, tool, waiting for tree to go green

#85484 Eliminate some regressions introduced by the new lookup code
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_test/lib/src/goldens.dart
Labels: a: accessibility, a: tests, cla: yes, d: api docs, documentation, f: cupertino, f: material design, framework, waiting for tree to go green

#85730 Roll Engine from e499100bb257 to 358a8e86de60 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85735 Roll Plugins from 6425a3056bf5 to 719a6753aee6 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85731 Specify rasterFinishWallTime
  packages/flutter/test/scheduler/scheduler_test.dart
  packages/flutter_test/test/frame_timing_summarizer_test.dart
Labels: a: tests, cla: yes, framework

#85741 Roll Engine from 358a8e86de60 to e403a8fa6f64 (7 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85750 Roll Engine from e403a8fa6f64 to e8785b6ac39d (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85754 Roll Engine from e8785b6ac39d to 2c82cc9ed908 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85757 Roll Engine from 2c82cc9ed908 to afa3f47115c2 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85761 Roll Engine from afa3f47115c2 to 314cf7a4f2e7 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85767 Roll Engine from 314cf7a4f2e7 to f38afa8668a6 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85777 Roll Engine from f38afa8668a6 to 5048c944814f (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85779 Roll Plugins from 719a6753aee6 to 9bd9ca1d7423 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85780 Roll Engine from 5048c944814f to 2eab395ee2fc (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85586 [cleanup] Remove `run_fuchsia_tests.sh`.
  dev/bots/run_fuchsia_tests.sh
Labels: cla: yes, platform-fuchsia

#85784 Roll Plugins from 9bd9ca1d7423 to 24febdf3aefd (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85790 Roll Plugins from 24febdf3aefd to 3477be294a16 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85697 Use additionalActiveTrackHeight when painting the radius of RoundedRectSliderTrackShape's active track
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#85794 Roll Plugins from 3477be294a16 to 2745bad58746 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85815 Roll Engine from 2eab395ee2fc to 2dacffa42202 (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#83964 Pin the customer_tests
  .cirrus.yml
  dev/customer_testing/ci.bat
  dev/customer_testing/ci.sh
  dev/tools/bin/find_commit.dart
Labels: cla: yes, team, waiting for tree to go green

#85817 Roll Engine from 2dacffa42202 to 679a7adb3596 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85833 Roll Engine from 679a7adb3596 to 053ac84b67b3 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85843 Roll Engine from 053ac84b67b3 to 338ec6be0a85 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85845 Roll Engine from 338ec6be0a85 to 5a4b9bacd5fa (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85849 Roll Engine from 5a4b9bacd5fa to 12a7db6a51ff (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#85853 Roll Engine from 12a7db6a51ff to 3c78fa50a963 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85858 Roll Engine from 3c78fa50a963 to a21d98e4038c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85866 Roll Plugins from 2745bad58746 to f466cccab3ab (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85864 Roll Engine from a21d98e4038c to ead55bb4df5b (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#85873 Roll Plugins from f466cccab3ab to 971d6c38e5cf (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85875 Roll Engine from ead55bb4df5b to 11fde578d53c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85881 Roll Engine from 11fde578d53c to 980d26e57381 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#85883 Roll Engine from 980d26e57381 to e2d1cf327333 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85886 Roll Engine from e2d1cf327333 to 37e3922ae8f7 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85899 Roll Engine from 37e3922ae8f7 to 6abd58286e1b (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85908 Roll Engine from 6abd58286e1b to 7e8b8cc8ea7e (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85913 Roll Engine from 7e8b8cc8ea7e to 569f0d1d6b55 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85930 Roll Engine from 569f0d1d6b55 to 60ff03819c69 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#85935 Roll Engine from 60ff03819c69 to 9e4854c35fa3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#85936 Roll Engine from 9e4854c35fa3 to c1ce39ecb73d (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85942 Roll Engine from c1ce39ecb73d to 49cdae9dc185 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85947 Roll Engine from 49cdae9dc185 to bd2c47717754 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#85964 Roll Engine from bd2c47717754 to 4c7467bb5a70 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85976 Roll Engine from 4c7467bb5a70 to 98dc750f1c83 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85982 Roll Engine from 98dc750f1c83 to 46178d6cdbcb (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85938 Fix typo in comment
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: cla: yes, framework, waiting for tree to go green

#85956 Fix EditableText when a controller listener changes values
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#85988 Roll Engine from 46178d6cdbcb to 82015dfbd3d7 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85991 Roll Engine from 82015dfbd3d7 to 60eea42346c3 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#85995 Update devtools_launcher.dart comment
  packages/flutter_tools/lib/src/devtools_launcher.dart
Labels: cla: yes, tool, waiting for tree to go green

#82043 [custom-devices] general improvements, add custom-devices subcommand, better error handling
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/commands/custom_devices.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/custom_devices/custom_device.dart
  packages/flutter_tools/lib/src/custom_devices/custom_device_config.dart
  packages/flutter_tools/lib/src/custom_devices/custom_devices_config.dart
  packages/flutter_tools/lib/src/globals_null_migrated.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/static/custom-devices.schema.json
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices.dart
  packages/flutter_tools/test/general.shard/custom_devices/custom_device_test.dart
  packages/flutter_tools/test/general.shard/custom_devices/custom_devices_config_test.dart
  packages/flutter_tools/test/src/custom_devices_common.dart
Labels: cla: yes, tool, waiting for tree to go green

#86022 Roll Plugins from 971d6c38e5cf to 1626b1060dc4 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86024 Roll Engine from 60eea42346c3 to 1bce28c946a7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#86026 Roll Plugins from 1626b1060dc4 to b16697ca8837 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86027 Roll Engine from 1bce28c946a7 to dd17c0883ec0 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#86000 [flutter_tools] revert change to SETLOCAL ENABLEDELAYEDEXPANSION
  bin/dart.bat
  bin/flutter.bat
  packages/flutter_tools/test/integration.shard/exit_code_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
  packages/flutter_tools/test/integration.shard/variable_expansion_windows_test.dart
Labels: cla: yes, tool, will affect goldens

#86032 Roll Engine from dd17c0883ec0 to 84c62c657fda (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#86036 Roll Engine from 84c62c657fda to a1468f9b2495 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85798 Assert disposed layers are not reused
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/object_paint_dispose_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#85414 pass `style` argument to super of `IntProperty`
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/test/foundation/diagnostics_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#81303 [Framework] Support for Android Fullscreen Modes
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/system_chrome.dart
  packages/flutter/test/services/system_chrome_test.dart
  packages/flutter/test_fixes/services.dart
  packages/flutter/test_fixes/services.dart.expect
Labels: a: fidelity, a: layout, a: quality, cla: yes, customer: crowd, e: device-specific, engine, f: material design, framework, platform-android, severe: new feature, waiting for tree to go green

#85797 [flutter_conductor] support pushing local changes to remote
  dev/conductor/lib/next.dart
  dev/conductor/lib/proto/conductor_state.pb.dart
  dev/conductor/lib/proto/conductor_state.pbjson.dart
  dev/conductor/lib/proto/conductor_state.proto
  dev/conductor/lib/repository.dart
  dev/conductor/lib/roll_dev.dart
  dev/conductor/lib/start.dart
  dev/conductor/lib/state.dart
  dev/conductor/test/next_test.dart
Labels: cla: yes, team

#86053 Roll Plugins from b16697ca8837 to 3f940429d0e7 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86059 Roll Plugins from 3f940429d0e7 to 6dd1c4658b50 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86068 Roll Engine from a1468f9b2495 to 00d9bec84191 (14 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85783 code formatting
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_paths.dart
  dev/devicelab/bin/tasks/platform_channels_benchmarks.dart
  dev/devicelab/bin/tasks/platform_channels_benchmarks_ios.dart
  dev/integration_tests/android_semantics_testing/lib/src/common.dart
  dev/manual_tests/test/mock_image_http.dart
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/scale.dart
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/rendering/proxy_sliver.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/default_text_editing_actions.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/text_editing_intents.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/foundation/covariant_templates_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/painting/image_cache_binding_test.dart
  packages/flutter/test/rendering/editable_gesture_test.dart
  packages/flutter/test/rendering/mouse_tracker_test_utils.dart
  packages/flutter/test/widgets/navigator_restoration_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/range_maintaining_scroll_physics_test.dart
  packages/flutter/test/widgets/router_test.dart
  packages/flutter/test/widgets/slivers_keepalive_test.dart
  packages/flutter_goldens_client/lib/skia_client.dart
  packages/flutter_localizations/test/basics_test.dart
  packages/flutter_test/lib/src/test_compat.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/install_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_stop_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/base/file_system_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/desktop_device_test.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/drive/drive_service_test.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/preview_device_test.dart
  packages/flutter_tools/test/general.shard/resident_devtools_handler_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
  packages/flutter_tools/test/general.shard/test/event_printer_test.dart
  packages/flutter_tools/test/general.shard/testbed_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
  packages/integration_test/example/integration_test/example_test.dart
  packages/integration_test/example/integration_test/extended_test.dart
Labels: a: accessibility, a: internationalization, a: tests, cla: yes, f: cupertino, f: material design, framework, team, tool, waiting for tree to go green

#86070 Roll Plugins from 6dd1c4658b50 to d0ac2f7c16bc (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86074 Roll Engine from 00d9bec84191 to 99a290467515 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#86077 Roll Plugins from d0ac2f7c16bc to 744730cd972f (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86078 Roll Engine from 99a290467515 to c989ae17b7c4 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86084 Roll Engine from c989ae17b7c4 to 221c82954df2 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86086 Roll Engine from 221c82954df2 to c986b344ce6e (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86091 Roll Plugins from 744730cd972f to e2541ca01c3d (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86092 Roll Engine from c986b344ce6e to c4dde0c53246 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86097 Roll Plugins from e2541ca01c3d to fa036005b294 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86098 Roll Plugins from fa036005b294 to e1b4ba4228a8 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86103 Roll Engine from c4dde0c53246 to b496703a32da (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85565 Fix ci.yaml and testowners format
  .ci.yaml
  TESTOWNERS
Labels: cla: yes, waiting for tree to go green

#85648 Create flag to enable/disable FlutterView render surface conversion
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/services/platform_views_test.dart
Labels: a: platform-views, cla: yes, framework, waiting for tree to go green

#86106 Roll Engine from b496703a32da to 6f00ff26d767 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86107 Roll Plugins from e1b4ba4228a8 to 0b88ffb57d14 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86122 Switch drive_service from using deprecated version of --record-memory-profile flag
  packages/flutter_tools/lib/src/drive/drive_service.dart
Labels: cla: yes, tool

#78133 Changing SnackBar's default vertical padding
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#83924 Remove TextTheme deprecations
  packages/flutter/lib/src/material/text_theme.dart
Labels: cla: yes, f: material design, framework, severe: API break, team, tech-debt, waiting for tree to go green

#85125 [flutter_tools] show only supported sub commands
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_fuchsia_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#86124 [flutter_tool] Pin DevTools to 2.4.0
  packages/flutter_tools/lib/src/devtools_launcher.dart
  packages/flutter_tools/test/general.shard/devtools_launcher_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: cla: yes, tool

#85825 Fix the Interactive App for the MaterialStateOutlinedBorder class
  packages/flutter/lib/src/material/material_state.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#86008 Add newline at end of file
  dev/devicelab/lib/command/test.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/foundation/basic_types_test.dart
  packages/flutter/test/widgets/sliver_fill_remaining_test.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_config.dart
Labels: cla: yes, f: cupertino, framework, team, tool, waiting for tree to go green

#86051 Migrate gen_localizations to null-safety
  dev/tools/localization/bin/gen_localizations.dart
  dev/tools/localization/localizations_validator.dart
Labels: cla: yes, team, waiting for tree to go green

#86117 [flutter_conductor] migrate conductor to null-safety
  dev/conductor/bin/conductor.dart
  dev/conductor/lib/clean.dart
  dev/conductor/lib/next.dart
  dev/conductor/lib/proto/compile_proto.sh
  dev/conductor/lib/proto/conductor_state.pb.dart
  dev/conductor/lib/proto/conductor_state.pbenum.dart
  dev/conductor/lib/proto/conductor_state.pbjson.dart
  dev/conductor/lib/proto/conductor_state.pbserver.dart
  dev/conductor/lib/roll_dev.dart
  dev/conductor/lib/start.dart
  dev/conductor/lib/state.dart
  dev/conductor/lib/status.dart
  dev/conductor/test/clean_test.dart
  dev/conductor/test/common.dart
  dev/conductor/test/next_test.dart
  dev/conductor/test/roll_dev_test.dart
  dev/conductor/test/start_test.dart
Labels: cla: yes, framework, team, waiting for tree to go green

#86063 Prevent merge conflicts when running customer tests.
  .cirrus.yml
Labels: cla: yes, waiting for tree to go green

#86131 Revert "[flutter_tools] show only supported sub commands"
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_fuchsia_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
Labels: cla: yes, tool

#86111 Roll Plugins from 0b88ffb57d14 to 200a6ec1dbb3 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86115 Roll Engine from 6f00ff26d767 to 9aa280e35589 (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86132 Roll Plugins from 200a6ec1dbb3 to 06fc7d105446 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86133 Roll Engine from 9aa280e35589 to 7556ed4d7cb3 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#86135 Roll Engine from 7556ed4d7cb3 to b2146208bb62 (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86146 Roll Engine from b2146208bb62 to 6dcdb003001c (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86148 Roll Engine from 6dcdb003001c to dc0672409975 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86151 Roll Engine from dc0672409975 to 53d1a53ac367 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86033 Doc typo in layer.dart
  packages/flutter/lib/src/rendering/layer.dart
Labels: cla: yes, framework

#86155 Roll Engine from 53d1a53ac367 to 40373cdcb6b8 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86159 Roll Engine from 40373cdcb6b8 to dae2b2652a4a (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86160 Roll Plugins from 06fc7d105446 to 59e16a556e27 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86162 Roll Engine from dae2b2652a4a to 024cc455fe9a (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#86171 Revert "Remove TextTheme deprecations"
  packages/flutter/lib/src/material/text_theme.dart
Labels: cla: yes, f: material design, framework

#86175 Roll Engine from 024cc455fe9a to 2dfb400617d5 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86142 [flutter_tools] fix -n workaround
  packages/flutter_tools/lib/src/commands/format.dart
  packages/flutter_tools/test/commands.shard/permeable/format_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#86178 Roll Engine from 2dfb400617d5 to a011b374dafe (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#85017 Add .gitignore
  packages/flutter_tools/templates/app/winuwp.tmpl/.gitignore
  packages/flutter_tools/templates/template_manifest.json
Labels: cla: yes, tool, waiting for tree to go green

#86183 Roll Engine from a011b374dafe to 1c24b5050df2 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86083 Fix typo in test name
  packages/flutter_tools/test/integration.shard/lifetime_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#86185 Roll Plugins from 59e16a556e27 to 6065bd001da1 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#85799 Don't lose composing region when dragging handle in a word
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework

#86189 Roll Engine from 1c24b5050df2 to 05884d394cf0 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86141 [flutter] tab navigation does not notify the focus scope node
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/material/text_field_focus_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#86143 Make the customer testing shard more verbose
  dev/customer_testing/ci.sh
Labels: cla: yes, team, waiting for tree to go green

#86188 Add a "troubleshooting" section to the AppBar API doc
  packages/flutter/lib/src/material/app_bar.dart
Labels: cla: yes, f: material design, framework

#86194 Roll Engine from 05884d394cf0 to c373f704c367 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86195 Roll Engine from c373f704c367 to 0156ecd2e5bb (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86045 Add CallbackShortcuts widget
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/test/widgets/shortcuts_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#86201 Roll Engine from 0156ecd2e5bb to fbb5e1383031 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#86203 Roll Plugins from 6065bd001da1 to 8a966ebfdca4 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#86205 Roll Engine from fbb5e1383031 to 7482c6864a19 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#86207 Roll Plugins from 8a966ebfdca4 to 731b93d52e79 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green
