Repository flutter/flutter, pull requests merged in 2021-01, with the labels that each got.

#73235 Roll Engine from 82b4ae86d69b to 121b67fb8594 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73259 Roll Engine from 121b67fb8594 to c2c11bc74557 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#72944 [gen_l10n] Improve status message when untranslated messages are still present
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: a: internationalization, cla: yes, tool, waiting for tree to go green

#73247 Fixed typo in icon theme
  packages/flutter/lib/src/widgets/icon_theme_data.dart
Labels: cla: yes, documentation, framework, waiting for tree to go green

#73269 Roll Engine from c2c11bc74557 to bae6f4490209 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#72927 Improve Cupertino docs
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/page_scaffold.dart
Labels: cla: yes, f: cupertino, framework

#73285 Roll Engine from bae6f4490209 to 90d1f05686e7 (5 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#72950 [gen_l10n] Use l10n.yaml file instead of command line arguments if it exists
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/localizations_utils.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
  packages/flutter_tools/test/integration.shard/test_data/basic_project.dart
Labels: cla: yes, tool

#73290 Roll Engine from 90d1f05686e7 to 0049dcbfe92a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#73292 Roll Engine from 0049dcbfe92a to b9dc0cf1d8c2 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73297 Roll Engine from b9dc0cf1d8c2 to b7352132cdc7 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73301 Roll Plugins from cfa709835ab8 to 16f37e9a814e (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73303 fix a Gallery Menus issue
  dev/integration_tests/flutter_gallery/lib/demo/material/menu_demo.dart
  dev/integration_tests/flutter_gallery/test/demo/material/menu_demo_test.dart
Labels: cla: yes, f: material design, team

#73328 Roll Engine from b7352132cdc7 to 022bb11fa76c (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#71783 circleAvatar: foreground Image uses background Image as a fall-back
  packages/flutter/lib/src/material/circle_avatar.dart
  packages/flutter/test/material/circle_avatar_test.dart
Labels: cla: yes, f: material design, framework, will affect goldens

#73153 improve error message for navigator page api
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#73069 [web] add web-renderer option to flutter test. run web tests with this option
  dev/bots/test.dart
  packages/flutter_tools/lib/src/commands/test.dart
Labels: cla: yes, team, tool

#73343 Roll Engine from 022bb11fa76c to e43fab841e89 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#73348 Roll Plugins from 16f37e9a814e to b64bebff9743 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73344 Remove "unnecessary" imports.
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/lib/src/widgets/annotated_region.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/lib/src/widgets/banner.dart
  packages/flutter/lib/src/widgets/color_filter.dart
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/grid_paper.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/lib/src/widgets/inherited_model.dart
  packages/flutter/lib/src/widgets/inherited_theme.dart
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/lib/src/widgets/localizations.dart
  packages/flutter/lib/src/widgets/navigation_toolbar.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/overflow_bar.dart
  packages/flutter/lib/src/widgets/overscroll_indicator.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/placeholder.dart
  packages/flutter/lib/src/widgets/raw_keyboard_listener.dart
  packages/flutter/lib/src/widgets/scroll_activity.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/scroll_position_with_single_context.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/lib/src/widgets/sliver_fill.dart
  packages/flutter/lib/src/widgets/sliver_layout_builder.dart
  packages/flutter/lib/src/widgets/sliver_prototype_extent_list.dart
  packages/flutter/lib/src/widgets/spacer.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
Labels: cla: yes, framework, waiting for tree to go green

#73349 Roll Engine from e43fab841e89 to d34c9912eb4a (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#72754 [flutter_releases] Flutter Beta 1.25.0-8.2 Framework Cherrypicks
  dev/devicelab/bin/tasks/android_plugin_example_app_build_test.dart
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, engine, framework, team, tool

#73340 Remove "unnecessary" imports in flutter/src/services
  packages/flutter/lib/src/services/platform_channel.dart
  packages/flutter/lib/src/services/platform_views.dart
Labels: cla: yes, framework, waiting for tree to go green

#72560 Add PrioritizedIntents to support multiple shortcut configurations
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/widgets/shortcuts_test.dart
Labels: a: desktop, cla: yes, f: focus, f: scrolling, framework, platform-web, severe: new feature, waiting for tree to go green

#72344 Add BuildContext parameter to TextEditingController.buildTextSpan
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#73365 Roll Engine from d34c9912eb4a to a39f2839fa9c (5 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#72938 [NNBD] Migrate sample code pt 6
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
Labels: cla: yes, f: material design, framework

#73371 Roll Engine from a39f2839fa9c to e1c1eb0d8c95 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73353 [flutter_tools] delegate first run message re-display to new class, only if changed
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/reporting/disabled_usage.dart
  packages/flutter_tools/lib/src/reporting/first_run.dart
  packages/flutter_tools/lib/src/reporting/reporting.dart
  packages/flutter_tools/lib/src/reporting/usage.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/reporting/first_run_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool, waiting for tree to go green

#73357 [flutter_tools] prevent NPE due to moved/deleted packages during upgrade packages
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: cla: yes, tool, waiting for tree to go green

#73364 [flutter_tools] delete .packages during flutter clean
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#73380 Roll Engine from e1c1eb0d8c95 to e115066dcd65 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73276 Fix dateAndTime and time modes of CupertinoDatePicker.
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#73390 Roll Engine from e115066dcd65 to c98ff298fe0e (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#72553 Autocomplete Split UI
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: cla: yes, framework

#70872 Prevent text from overflowing in OutlineButton and OutlinedButton label.
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
Labels: cla: yes, f: material design, framework

#73381 fix dropdown menu to position based on nearest navigator
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#73416 [web] Fix offline resource loader for serviceworker
  packages/flutter_tools/lib/src/build_system/targets/web.dart
Labels: cla: yes, tool, waiting for tree to go green

#71944 app bar leading back button should not change if the route is popped
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#73383 Remove build ios-framework --universal flag
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
Labels: a: existing-apps, cla: yes, platform-ios, team, tool

#73378 build ios-framework simulator slices for profile/release
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
Labels: cla: yes, team, tool

#72761 Build iOS apps using Swift Packages
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/microbenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/platform_views_layout/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/platform_views_layout_hybrid_composition/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/ios/Podfile
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/non_nullable/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/manual_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/hello_world/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/image_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/lib/src/base/project_migrator.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, d: examples, platform-ios, t: xcode, team, tool

#73112 Optionally include CocoaPods xcconfig
  dev/benchmarks/macrobenchmarks/ios/Flutter/Debug.xcconfig
  dev/benchmarks/macrobenchmarks/ios/Flutter/Release.xcconfig
  dev/benchmarks/macrobenchmarks/macos/Flutter/Flutter-Debug.xcconfig
  dev/benchmarks/macrobenchmarks/macos/Flutter/Flutter-Release.xcconfig
  dev/integration_tests/flutter_driver_screenshot_test/ios/Flutter/Debug.xcconfig
  dev/integration_tests/flutter_driver_screenshot_test/ios/Flutter/Release.xcconfig
  dev/integration_tests/flutter_gallery/ios/Flutter/Debug.xcconfig
  dev/integration_tests/flutter_gallery/ios/Flutter/Release.xcconfig
  dev/integration_tests/flutter_gallery/macos/Flutter/Flutter-Debug.xcconfig
  dev/integration_tests/flutter_gallery/macos/Flutter/Flutter-Release.xcconfig
  dev/integration_tests/ios_app_with_extensions/ios/Flutter/Debug.xcconfig
  dev/integration_tests/ios_app_with_extensions/ios/Flutter/Release.xcconfig
  dev/integration_tests/release_smoke_test/ios/Flutter/Debug.xcconfig
  dev/integration_tests/release_smoke_test/ios/Flutter/Release.xcconfig
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Config.tmpl/Debug.xcconfig
  packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Config.tmpl/Release.xcconfig
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/integration_test/example/ios/Flutter/Debug.xcconfig
  packages/integration_test/example/ios/Flutter/Release.xcconfig
Labels: cla: yes, platform-ios, t: xcode, team, tool

#73437 Revert "Build iOS apps using Swift Packages"
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/microbenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/platform_views_layout/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/platform_views_layout_hybrid_composition/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/ios/Podfile
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/non_nullable/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/manual_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/hello_world/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/image_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/lib/src/base/project_migrator.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, d: examples, team, tool

#73368 Remove "unnecessary" imports in flutter/src/rendering
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/debug.dart
  packages/flutter/lib/src/rendering/debug_overflow_indicator.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/rotated_box.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/rendering/sliver_padding.dart
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/rendering/viewport.dart
Labels: cla: yes, framework, waiting for tree to go green

#73376 Simplify the pull request template further.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, waiting for tree to go green

#73420 [flutter_tools] prevent hot reload/restart if device has not finished devFS initialization
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#71689 Minor doc, style, and perf updates to Navigator/Routes
  packages/flutter/lib/src/services/message_codecs.dart
  packages/flutter/lib/src/widgets/modal_barrier.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: cla: yes, framework

#73375 Minor tweaks to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes, waiting for tree to go green

#72641 Remove an obsolete (and now incorrect) comment in the pubspec.yaml
  packages/flutter/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#73436 Roll Plugins from b64bebff9743 to dac4b6f3c692 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73449 Roll Engine from c98ff298fe0e to 1758eaa4edc3 (17 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73457 Roll Engine from 1758eaa4edc3 to 2e5833b7c572 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73465 Roll Engine from 2e5833b7c572 to 7f00e2f6c53c (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73490 Revert "Roll Engine from 2e5833b7c572 to 7f00e2f6c53c (3 revisions)"
  bin/internal/engine.version
Labels: cla: yes, engine

#73426 [flutter_tools] describe current null safety build mode
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
Labels: cla: yes, tool

#72933 fix(cupertinoDatePicker): do not display previous day when minimumDat…
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#73195 SliverAppBar with ShrinkWrap Patch
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/test/rendering/viewport_test.dart
Labels: a: layout, cla: yes, f: scrolling, framework, waiting for tree to go green

#73417 Fix Android delete key crash
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#73469 Roll Plugins from dac4b6f3c692 to 43ee609f0262 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#72554 groovy escaping was wrong for aar
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool

#73500 Roll Plugins from 43ee609f0262 to d026d07afea2 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73442 Run pod repo update in iOS extension test
  dev/devicelab/bin/tasks/ios_app_with_extensions_test.dart
  dev/integration_tests/ios_app_with_extensions/ios/Podfile
Labels: cla: yes, platform-ios, team

#73503 Revert "Add BuildContext parameter to TextEditingController.buildTextSpan"
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, f: material design, framework

#69717 AdoptAWidget - Update ActionListener with an example
  packages/flutter/lib/src/widgets/actions.dart
Labels: adopt a widget, cla: yes, framework

#73361 Add material icons golden test
  packages/flutter/test/material/icons_test.dart
Labels: cla: yes, f: material design, framework, will affect goldens

#73458 Exclude arm64 from supported iOS simulator architectures
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/integration.shard/build_ios_config_only_test.dart
Labels: cla: yes, platform-ios, t: xcode, team, tool

#73070 Use simctl exit code instead of stderr
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_validator_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool

#73511 Revert "Exclude arm64 from supported iOS simulator architectures"
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/integration.shard/build_ios_config_only_test.dart
Labels: cla: yes, team, tool

#73509 Migrate missed sample code to NNBD
  packages/flutter/lib/foundation.dart
  packages/flutter/lib/src/material/date_picker_deprecated.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/scroll_controller.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#72110 Fix launching DevTools with Flutter Web applications
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
Labels: cla: yes, tool, waiting for tree to go green

#73502 [web] Switch flutter tool web-renderer default for web to auto
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#73505 Remove an obsolete comment from pubspec.yaml
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/missing_dependency_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/data/asset_test/font/pubspec.yaml
  packages/flutter_tools/test/data/asset_test/main/pubspec.yaml
  packages/flutter_tools/test/general.shard/update_packages_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: cla: yes, team, tool, waiting for tree to go green

#73508 Build iOS apps using Swift Packages
  dev/benchmarks/complex_layout/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/microbenchmarks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/platform_views_layout/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/platform_views_layout_hybrid_composition/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/benchmarks/test_apps/stocks/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/channels/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/external_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flavors/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_driver_screenshot_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/flutter_gallery/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_app_with_extensions/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ios_platform_view_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/non_nullable/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/platform_interaction/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev/manual_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/hello_world/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/image_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/layers/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_channel_swift/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/platform_view/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/lib/src/base/project_migrator.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: cla: yes, d: examples, platform-ios, t: xcode, team, tool, waiting for tree to go green

#73507 Roll Plugins from d026d07afea2 to 1b7afc52353c (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#72893 Remove deprecated WidgetsBinding.[deferFirstFrameReport, allowFirstFrameReport]
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test_fixes/cupertino.dart
  packages/flutter/test_fixes/cupertino.dart.expect
  packages/flutter/test_fixes/material.dart
  packages/flutter/test_fixes/material.dart.expect
  packages/flutter/test_fixes/widgets.dart
  packages/flutter/test_fixes/widgets.dart.expect
Labels: cla: yes, framework, severe: API break, waiting for tree to go green

#73514 Update outdated links
  dev/integration_tests/flutter_gallery/lib/demo/material/buttons_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/selection_controls_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/slider_demo.dart
  dev/integration_tests/flutter_gallery/lib/gallery/app.dart
  dev/integration_tests/flutter_gallery/lib/gallery/demos.dart
  dev/tools/dartdoc.dart
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter_localizations/lib/src/l10n/README.md
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: a: internationalization, cla: yes, f: material design, framework, team, tool, waiting for tree to go green

#72788 [State Restoration] Scaffold.drawer and Scaffold.endDrawer
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/drawer_test.dart
Labels: a: state restoration, cla: yes, f: material design, framework, waiting for tree to go green

#73529 Revert "[web] Switch flutter tool web-renderer default for web to auto"
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
Labels: cla: yes, tool

#73522 Flutter 1.26 candidate.8
  bin/internal/engine.version
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: cla: yes, engine, f: material design, framework

#73521 Revert "Add material icons golden test (#73361)"
  packages/flutter/test/material/icons_test.dart
Labels: cla: yes, f: material design, framework

#72136 [dev] Don't use await for on stdout and stdin; pass local engine argument
  dev/devicelab/bin/tasks/flutter_test_performance.dart
  dev/devicelab/lib/framework/framework.dart
Labels: cla: yes, team

#70974 Fix _LateInitializationError for RenderObjectElement.renderObject
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework

#73575 Revert "Fix _LateInitializationError for RenderObjectElement.renderObject"
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework

#73586 Mark firebase tests as flaky
  dev/prod_builders.json
  dev/try_builders.json
Labels: a: tests, cla: yes, team, team: infra

#73044 [Api docs]Added dartpad demo for Bottom App Bar
  packages/flutter/lib/src/material/bottom_app_bar.dart
Labels: cla: yes, d: api docs, d: examples, documentation, f: material design, framework, waiting for tree to go green

#73573 Roll Plugins from 1b7afc52353c to d01c84cb64d1 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73576 [flutter_tools] add API for passing arbitrary flags to tester binary
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
Labels: cla: yes, tool

#73579 [flutter_tools] add 483 to non-recoverable errors
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
Labels: cla: yes, tool

#73582 web benchmark choose renderer explicitly
  dev/devicelab/lib/tasks/web_benchmarks.dart
Labels: cla: yes, team, waiting for tree to go green

#73591 Revert "Mark firebase tests as flaky"
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team, team: infra

#73580 Reland "Fix _LateInitializationError for RenderObjectElement.renderObject"
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#73588 Roll Plugins from d01c84cb64d1 to b3bc1f2e246f (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73594 Roll Engine from 2e5833b7c572 to 9cb4d2dd243d (32 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73609 Revert "Roll Engine from 2e5833b7c572 to 9cb4d2dd243d (32 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, engine

#73610 Revert "Revert "Roll Engine from 2e5833b7c572 to 9cb4d2dd243d (32 revisions)""
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, engine

#73612 Temporarily mark some tests flaky that fail now that they are being run by infra
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team

#73589 Mark smoke-catalina not flaky
  dev/devicelab/manifest.yaml
Labels: cla: yes, team, waiting for tree to go green

#69620 Remove deprecated methods from BuildContext
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test_fixes/cupertino.dart
  packages/flutter/test_fixes/cupertino.dart.expect
  packages/flutter/test_fixes/material.dart
  packages/flutter/test_fixes/material.dart.expect
  packages/flutter/test_fixes/widgets.dart
  packages/flutter/test_fixes/widgets.dart.expect
Labels: cla: yes, f: cupertino, f: material design, framework, severe: API break, waiting for tree to go green

#73595 [web] Reland - Switch flutter tool web-renderer default for web to auto
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#73352 Deprecated obsolete Material classes: FlatButton, RaisedButton, OutlineButton
  packages/flutter/lib/src/material/flat_button.dart
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/mouse_region_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#73626 Roll Engine from 9cb4d2dd243d to df07060e4e20 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#73629 Roll Engine from df07060e4e20 to 2d1810285ca5 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73631 Roll Engine from 2d1810285ca5 to 40f385f57b43 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73633 Roll Engine from 40f385f57b43 to 2bcb01b80ce5 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73636 Roll Engine from 2bcb01b80ce5 to caf6a8191fab (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73638 Roll Engine from caf6a8191fab to 87004b05ab5a (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73712 Roll Engine from 87004b05ab5a to d5cacaa3a6a4 (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73715 Revert "Prevent text from overflowing in OutlineButton and OutlinedButton label."
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#73627 Revert "Temporarily mark some tests flaky that fail now that they are being run by infra"
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team

#73577 Move ios_content_validation_test to pre-submit tools test
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/test/integration.shard/ios_content_validation_test.dart
  packages/flutter_tools/test/integration.shard/macos_content_validation_test.dart
  packages/flutter_tools/test/src/darwin_common.dart
Labels: cla: yes, team, tool

#73110 Default add-to-app xcode_backend script to be verbose
  dev/devicelab/bin/tasks/module_test_ios.dart
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl
Labels: a: existing-apps, cla: yes, platform-ios, t: xcode, tool

#72764 Force plugins to inherit minimum macOS version from Flutter app
  dev/devicelab/bin/tasks/plugin_test_ios.dart
  dev/devicelab/lib/tasks/plugin_tests.dart
  packages/flutter_tools/bin/podhelper.rb
Labels: cla: yes, platform-mac, team, tool

#73300 Selecting spaces on SelectableText (mobile)
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#73728 Turn off mac_build_gallery during infra investigation
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team, team: infra

#73722 Roll Engine from d5cacaa3a6a4 to bbf8668d53ab (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#73630 Generate dSYM files during iOS archive
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
Labels: cla: yes, platform-ios, t: xcode, team, tool, waiting for tree to go green

#73566 Fix "RefreshIndicator.color didn't update at runtime"
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/test/material/refresh_indicator_test.dart
Labels: cla: yes, f: material design, framework

#73729 Roll Engine from bbf8668d53ab to 0ed964d6b764 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73733 [flutter_tools] flutter precache downloads all enabled platforms if no flags are provided
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#73720 increase the value of debugImageOverheadAllowance from 1024 bytes to 128kb
  packages/flutter/lib/src/painting/debug.dart
  packages/flutter/test/painting/paint_image_test.dart
Labels: cla: yes, framework

#72557 Create SECURITY.md
  SECURITY.md
Labels: cla: yes, team

#73756 Roll Engine from 0ed964d6b764 to 2dee0d2f071b (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#73765 Revert "Roll Engine from 0ed964d6b764 to 2dee0d2f071b (8 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, engine

#73474 Add [pointerCount] property to Scale Gesture Details
  packages/flutter/lib/src/gestures/scale.dart
  packages/flutter/test/foundation/bit_field_test.dart
  packages/flutter/test/gestures/scale_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#73760 Fix typo resolved->reported in security.md
  SECURITY.md
Labels: cla: yes, waiting for tree to go green

#73771 Roll Engine from 0ed964d6b764 to 10cee6abcb35 (17 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#73736 [flutter_tools] daemon does not report platforms that are not enabled
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
Labels: cla: yes, tool

#73755 Exclude arm64 from valid iOS simulators
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app_swift/Host.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/integration.shard/build_ios_config_only_test.dart
Labels: cla: yes, team, tool

#73389 Remove "unnecessary" imports from flutter/src/gestures
  packages/flutter/lib/src/gestures/force_press.dart
  packages/flutter/lib/src/gestures/multidrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/gestures/velocity_tracker.dart
Labels: cla: yes, framework, waiting for tree to go green

#73486 Remove "unnecessary" imports in flutter/src/cupertino
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/context_menu_action.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/debug.dart
  packages/flutter/lib/src/cupertino/form_row.dart
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/scrollbar.dart
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/lib/src/cupertino/segmented_control.dart
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#73488 Remove "unnecessary" import in flutter_tools
  packages/flutter_tools/lib/src/fuchsia/fuchsia_build.dart
Labels: cla: yes, tool, waiting for tree to go green

#73807 Revert "Exclude arm64 from valid iOS simulators"
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app_swift/Host.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/integration.shard/build_ios_config_only_test.dart
Labels: cla: yes, team, tool

#73761 add a readme for the dart fix tests
  packages/flutter/test_fixes/README.md
Labels: cla: yes, documentation, framework

#73800 [versions] update all dependencies
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/metrics_center/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_kitchen_sink/pubspec.yaml
  dev/integration_tests/android_splash_screens/splash_screen_trans_rotate/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_driver_screenshot_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/image_loading/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#73799 Roll Plugins from b3bc1f2e246f to a0e793734eac (4 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73374 macrobenchmark: active TextField with complex paragraph
  dev/benchmarks/macrobenchmarks/README.md
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/fullscreenTextField.dart
  dev/benchmarks/macrobenchmarks/test/fullscreen_textfield_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test_driver/fullscreen_textfield_perf_test.dart
  dev/devicelab/bin/tasks/fullscreen_textfield_perf.dart
  dev/devicelab/bin/tasks/fullscreen_textfield_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/fullscreen_textfield_perf__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/manifest.yaml
Labels: cla: yes, framework, team, waiting for tree to go green

#72308 Add ScrollbarTheme/ScrollbarThemeData
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/scrollbar_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/material/scrollbar_theme_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: cla: yes, f: material design, f: scrolling, framework, severe: new feature, waiting for tree to go green

#73545 Re-enable a ensureVisible test case
  packages/flutter/test/widgets/ensure_visible_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#70730 Improve performance of Widget Tests
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/debug.dart
  packages/flutter/test/flutter_test_config.dart
  packages/flutter/test/rendering/dynamic_intrinsics_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#73373 Map Linux AltGr to right alt. It was currently being ignored.
  dev/tools/gen_keycodes/data/key_data.json
  dev/tools/gen_keycodes/data/key_name_to_gtk_name.json
  packages/flutter/lib/src/services/keyboard_maps.dart
Labels: cla: yes, framework, team

#73808 Add recommended Xcode version to doctor
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/lib/src/macos/xcode_validator.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_validator_test.dart
Labels: cla: yes, t: xcode, tool

#73366 [flutter_tools] Serve DevTools at app start
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/devtools_launcher.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/devtools_launcher_test.dart
  packages/flutter_tools/test/general.shard/persistent_tool_state_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, tool

#73803 sorting plugins alphabetically when refreshed
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: cla: yes, tool

#73868 Roll Plugins from a0e793734eac to 782a7a9c95c8 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#73578 Cupertino text selection menu customization
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar_button.dart
  packages/flutter/lib/src/material/text_selection_toolbar.dart
  packages/flutter/lib/src/widgets/text_selection_toolbar_layout_delegate.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/text_selection_toolbar_button_test.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/text_selection_toolbar_layout_delegate_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework

#73886 Roll Engine from 10cee6abcb35 to 648dae9d99e7 (25 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#73896 Revert "[flutter_tools] Serve DevTools at app start"
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/devtools_launcher.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/devtools_launcher_test.dart
  packages/flutter_tools/test/general.shard/persistent_tool_state_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: cla: yes, tool

#72895 DeferredComponent utility class for manual handling of Deferred Components
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/deferred_component.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/test/services/deferred_component_test.dart
Labels: cla: yes, customer: money (g3), engine, framework, severe: new feature, waiting for tree to go green

#73758 Fix plugin java class desugar
  dev/devicelab/bin/tasks/gradle_desugar_classes_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  dev/devicelab/lib/framework/utils.dart
  packages/flutter_tools/gradle/flutter.gradle
Labels: cla: yes, team, tool, waiting for tree to go green
