Repository flutter/flutter, pull requests merged in 2021-03, with the labels that each got.

#76963 changed 'constrains' to 'constraints' in ChildLayoutHelper.dryLayoutC…
  packages/flutter/lib/src/rendering/layout_helper.dart
Labels: cla: yes, framework, waiting for tree to go green

#76764 Fix DropdownButton crash when viewport size is too small for the entirety of the menu's height
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#76993 Roll Plugins from aead5acb35c6 to 4155c431a93a (5 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#76960 Move flaky flag from the remainin mac/ios tests.
  dev/devicelab/manifest.yaml
  dev/prod_builders.json
Labels: cla: yes, team

#76995 Roll Engine from 34236c98378d to 6c1e7843b0fb (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#76999 conditionally set --verbose flag to curl when LUCI_CI is set
  bin/internal/update_dart_sdk.sh
Labels: cla: yes

#76241 [fuchsia] - migrate device discovery workflows to use ffx
  dev/bots/run_fuchsia_tests.sh
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/lib/framework/utils.dart
  packages/flutter_tools/bin/fuchsia_attach.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_ffx.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_pm.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_workflow.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_ffx_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_workflow_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#77006 Roll Engine from 6c1e7843b0fb to 17f6bfc480b7 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#77010 Remove flaky flag from ios32 builders.
  dev/prod_builders.json
Labels: cla: yes, team

#77007 Move iOS Flutter.framework thinning into copy assemble build target
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/integration.shard/ios_content_validation_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool, waiting for tree to go green

#77013 Enable avoid_type_to_string lint
  analysis_options.yaml
Labels: cla: yes, waiting for tree to go green

#76146 Added clearSnackBars method to ScaffoldMessengerState
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77022 SliverAppBar default backwards compatibility fix
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/test/material/app_bar_theme_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77027 Enable missing_whitespace_between_adjacent_strings
  analysis_options.yaml
  dev/benchmarks/macrobenchmarks/lib/src/fullscreenTextField.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
  dev/benchmarks/macrobenchmarks/test_driver/frame_policy_test.dart
  dev/bots/test/analyze-test-input/root/packages/foo/deprecation.dart
  dev/devicelab/lib/framework/adb.dart
  dev/devicelab/test/cocoon_test.dart
  dev/integration_tests/web_e2e_tests/test_driver/text_editing_integration.dart
  packages/flutter/lib/src/gestures/velocity_tracker.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/github_template_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_logger_test.dart
  packages/flutter_tools/test/general.shard/project_file_invalidator_test.dart
Labels: cla: yes, f: material design, framework, team, tool

#76745 Toggable Refactor
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77031 Roll Plugins from 088bdee478d9 to 96ea724a099d (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77068 Revert "Toggable Refactor"
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
Labels: cla: yes, f: material design, framework

#76312 add keyboardDismissBehavior into SingleChildScrollView
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/test/widgets/single_child_scroll_view_test.dart
Labels: cla: yes, f: scrolling, framework, waiting for tree to go green

#77012 Sync lints
  analysis_options.yaml
  packages/flutter/lib/analysis_options_user.yaml
Labels: cla: yes, waiting for tree to go green

#77035 Roll Plugins from 96ea724a099d to 976a7fbc3de7 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77042 Roll Engine from 17f6bfc480b7 to f9361e688ae8 (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#77014 Expose the diff from ComparisonResult
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_test/test/goldens_test.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#77069 Roll Plugins from 976a7fbc3de7 to a6cbf671e346 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77028 Turn on iOS podspec linting in test
  dev/devicelab/bin/tasks/plugin_lint_mac.dart
Labels: a: tests, cla: yes, t: xcode, team

#77064 [flutter_tools] remove mock from logger tests
  packages/flutter_tools/test/general.shard/base/logger_test.dart
Labels: cla: yes, tool

#76415 [devicelab] Separate build and test from Flutter gallery tests
  dev/devicelab/bin/run.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e_ios.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e_ios32.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_hybrid.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_with_semantics.dart
  dev/devicelab/bin/tasks/flutter_gallery_ios__transition_perf.dart
  dev/devicelab/bin/tasks/smoke_test_build_test.dart
  dev/devicelab/bin/test_runner.dart
  dev/devicelab/lib/command/test.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/task_result.dart
  dev/devicelab/lib/tasks/build_test_task.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/test/tasks/build_test_task_test.dart
  dev/devicelab/test/utils_test.dart
Labels: a: accessibility, cla: yes, team, waiting for tree to go green

#76653 Reland "fixes TextInputFormatter gets wrong old value of a selection"
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#76842 Declare DragTarget onMove event as taking a generic parameter
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#77086 Revert "[devicelab] Separate build and test from Flutter gallery tests"
  dev/devicelab/bin/run.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e_ios.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e_ios32.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_hybrid.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_with_semantics.dart
  dev/devicelab/bin/tasks/flutter_gallery_ios__transition_perf.dart
  dev/devicelab/bin/tasks/smoke_test_build_test.dart
  dev/devicelab/bin/test_runner.dart
  dev/devicelab/lib/command/test.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/task_result.dart
  dev/devicelab/lib/tasks/build_test_task.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/test/tasks/build_test_task_test.dart
  dev/devicelab/test/utils_test.dart
Labels: a: accessibility, cla: yes, team

#77079 Roll Engine from f9361e688ae8 to cd0e54348b61 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#77039 RawKeyboardWindows: Filter out IME events
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/services/raw_keyboard_macos.dart
  packages/flutter/lib/src/services/raw_keyboard_windows.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#77082 Roll Plugins from a6cbf671e346 to 72feefd6df28 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77087 Enable file_names and package_names lints
  analysis_options.yaml
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/fullscreen_textfield.dart
  dev/bots/analyze.dart
  dev/bots/analyze_sample_code.dart
  dev/bots/test/analyze-sample-code-test-input/known_broken_documentation.dart
  dev/bots/test/analyze_sample_code_test.dart
  dev/snippets/README.md
  packages/flutter/test/widgets/semantics_tester_generate_test_semantics_expression_for_current_semantics_tree_test.dart
Labels: a: accessibility, cla: yes, framework, team, waiting for tree to go green

#77095 Enable null_closures
  analysis_options.yaml
  dev/integration_tests/android_views/lib/motion_events_page.dart
  dev/integration_tests/hybrid_android_views/lib/motion_events_page.dart
Labels: cla: yes, team, waiting for tree to go green

#77066 [flutter_tools] remove chrome launcher, analytics mock from web unit tests
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#77096 Roll Plugins from 72feefd6df28 to b90e42b9a4c3 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77105 Enable prefer_null_aware_operators lint
  analysis_options.yaml
  packages/flutter/lib/src/gestures/arena.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
Labels: cla: yes, team, waiting for tree to go green

#77106 enable provide_deprecation_message
  analysis_options.yaml
  dev/bots/test/analyze-test-input/root/packages/foo/deprecation.dart
Labels: cla: yes, team, waiting for tree to go green

#77093 Apply changes caused by https://github.com/flutter/flutter/pull/76662
  dev/integration_tests/flutter_gallery/linux/flutter/generated_plugin_registrant.cc
  dev/integration_tests/flutter_gallery/linux/flutter/generated_plugin_registrant.h
  dev/integration_tests/flutter_gallery/windows/flutter/generated_plugin_registrant.cc
  dev/integration_tests/flutter_gallery/windows/flutter/generated_plugin_registrant.h
  examples/hello_world/ios/Runner/GeneratedPluginRegistrant.h
  examples/hello_world/ios/Runner/GeneratedPluginRegistrant.m
Labels: cla: yes, d: examples, team, waiting for tree to go green

#77098 Clean-up analysis_options files
  analysis_options.yaml
  dev/missing_dependency_tests/analysis_options.yaml
  examples/layers/analysis_options.yaml
  packages/flutter/analysis_options.yaml
  packages/flutter/test_private/analysis_options.yaml
  packages/flutter_driver/analysis_options.yaml
  packages/flutter_goldens/analysis_options.yaml
  packages/flutter_goldens_client/analysis_options.yaml
  packages/flutter_goldens_client/lib/skia_client.dart
  packages/flutter_localizations/analysis_options.yaml
  packages/flutter_test/analysis_options.yaml
Labels: a: internationalization, a: tests, cla: yes, d: examples, framework, team, waiting for tree to go green

#77108 Roll Plugins from b90e42b9a4c3 to 1e3a82316e03 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77123 Roll Plugins from 1e3a82316e03 to 60d85fdcb24c (4 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#75612 Fix Android Studio detection and plugins on Linux
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#77154 enable build test, roll engine
  bin/internal/engine.version
  dev/bots/test.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
  packages/flutter_tools/test/general.shard/features_test.dart
Labels: cla: yes, engine, team, tool

#77025 Update minimum required version to Xcode 12
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_validator_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: cla: yes, t: xcode, tool, waiting for tree to go green

#77158 [flutter_tools] remove mock from android studio test
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#77166 Roll Plugins from 60d85fdcb24c to 025c8c199b3a (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77170 [flutter_tools] remove mocks from build_aar_test
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#77153 Update all versions!
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/integration_test_macos/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: cla: yes, team

#77184 Store symlinks in package archive
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes, team, waiting for tree to go green

#77180 Roll Plugins from 025c8c199b3a to bc2514ebd824 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77186 use textdirection for gradient of ShapeDecoration
  packages/flutter/lib/src/painting/shape_decoration.dart
  packages/flutter/test/widgets/shape_decoration_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#73828 Exclude arm64 from valid iOS simulators
  dev/integration_tests/ios_host_app/Host.xcodeproj/project.pbxproj
  dev/integration_tests/ios_host_app_swift/Host.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/integration.shard/build_ios_config_only_test.dart
  packages/flutter_tools/test/integration.shard/ios_content_validation_test.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#77192 Increase dart migrate integration test timeout
  packages/flutter_tools/test/integration.shard/migrate_test.dart
Labels: cla: yes, team, team: flakes, tool, waiting for tree to go green

#77197 Roll Plugins from bc2514ebd824 to 8ab62c5b0c99 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77204 Roll Engine from cd0e54348b61 to 72bbc5d92ce1
  bin/internal/engine.version
Labels: cla: yes, engine

#77223 Roll Engine from 72bbc5d92ce1 to 91120b358a12 (28 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#77227 Roll Engine from 91120b358a12 to 99d9429e960c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#77194 [flutter_releases] Fix symlinks in prepare_packages script
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: a: tests, cla: yes, engine, f: cupertino, f: material design, framework, team, tool

#77260 Roll Engine from 99d9429e960c to c475288d9389 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77261 [flutter_tools] dont crash when looking for AS4.1 on windows with no LOCALAPPDATA
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#77263 Re-land "Toggable Refactor (#76745)"
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
Labels: a: accessibility, cla: yes, f: material design, framework, team, waiting for tree to go green

#76992 Sort icon last
  packages/flutter/lib/src/material/icon_button.dart
Labels: cla: yes, f: material design, framework

#77269 Roll Plugins from 8ab62c5b0c99 to 2518218fade2 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77110 [devicelab] Create test command to pass task args
  dev/devicelab/bin/run.dart
  dev/devicelab/bin/test_runner.dart
  dev/devicelab/lib/command/test.dart
  dev/devicelab/lib/framework/runner.dart
Labels: cla: yes, team, waiting for tree to go green

#76600 Dispose image when cache clear
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/test/widgets/scroll_aware_image_provider_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#77264 [flutter_tools] remove several AndroidSdk Mocks
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_start_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_stop_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#77011 Fix typo in web template
  packages/flutter_tools/templates/app/web/index.html.tmpl
Labels: cla: yes, tool, waiting for tree to go green

#77296 Roll Plugins from 2518218fade2 to 47c380a9bbc7 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77295 disable semantics test for adding Set Text action in engine
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: a: accessibility, cla: yes, framework, waiting for tree to go green

#76748 [flutter_tools] migrate async guard to null safety
  packages/flutter_tools/lib/src/base/async_guard.dart
Labels: cla: yes, tool

#77299 Roll Engine from c475288d9389 to ce695c41f95e (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#76192 [flutter_tools] Deferred components build system
  dev/bots/test.dart
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/android_builder.dart
  packages/flutter_tools/lib/src/android/deferred_components_gen_snapshot_validator.dart
  packages/flutter_tools/lib/src/android/deferred_components_prebuild_validator.dart
  packages/flutter_tools/lib/src/android/deferred_components_validator.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/build_system/depfile.dart
  packages/flutter_tools/lib/src/build_system/source.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/deferred_components.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/templates/module/android/deferred_component/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/deferred_component/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/general.shard/android/deferred_components_gen_snapshot_validator_test.dart
  packages/flutter_tools/test/general.shard/android/deferred_components_prebuild_validator_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/deferred_components_test.dart
  packages/flutter_tools/test/integration.shard/deferred_components_test.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_config.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
  packages/flutter_tools/test/integration.shard/test_data/project.dart
  packages/flutter_tools/test/integration.shard/test_utils.dart
  packages/flutter_tools/test/src/android_common.dart
  packages/flutter_tools/test/src/common.dart
Labels: cla: yes, severe: new feature, tool, waiting for tree to go green

#77302 Roll Engine from ce695c41f95e to 299eb3e710c1 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#76831 [customer_testing] Refactor runner to be testable
  dev/customer_testing/lib/customer_test.dart
  dev/customer_testing/lib/runner.dart
  dev/customer_testing/pubspec.yaml
  dev/customer_testing/run_tests.dart
  dev/customer_testing/test/common.dart
  dev/customer_testing/test/customer_test_test.dart
  dev/devicelab/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#77307 [devicelab] Create BuildTestTask
  dev/devicelab/bin/tasks/smoke_test_build_test.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/task_result.dart
  dev/devicelab/lib/tasks/build_test_task.dart
  dev/devicelab/test/tasks/build_test_task_test.dart
Labels: cla: yes, team, waiting for tree to go green

#77228 Add Windows desktop files for manual tests
  dev/manual_tests/windows/.gitignore
  dev/manual_tests/windows/CMakeLists.txt
  dev/manual_tests/windows/flutter/CMakeLists.txt
  dev/manual_tests/windows/flutter/generated_plugin_registrant.cc
  dev/manual_tests/windows/flutter/generated_plugin_registrant.h
  dev/manual_tests/windows/flutter/generated_plugins.cmake
  dev/manual_tests/windows/runner/CMakeLists.txt
  dev/manual_tests/windows/runner/Runner.rc
  dev/manual_tests/windows/runner/flutter_window.cpp
  dev/manual_tests/windows/runner/flutter_window.h
  dev/manual_tests/windows/runner/main.cpp
  dev/manual_tests/windows/runner/resource.h
  dev/manual_tests/windows/runner/run_loop.cpp
  dev/manual_tests/windows/runner/run_loop.h
  dev/manual_tests/windows/runner/runner.exe.manifest
  dev/manual_tests/windows/runner/utils.cpp
  dev/manual_tests/windows/runner/utils.h
  dev/manual_tests/windows/runner/win32_window.cpp
  dev/manual_tests/windows/runner/win32_window.h
Labels: a: desktop, cla: yes, platform-windows, team

#77314 Roll Plugins from 47c380a9bbc7 to eb86dfcf69a3 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77316 Delete unzipped FlutterMacOS.framework before replacing artifact
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: cla: yes, platform-mac, tool, waiting for tree to go green

#77320 Roll Plugins from eb86dfcf69a3 to b709f7e4994a (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77327 Fix typo
  examples/layers/raw/hello_world.dart
Labels: cla: yes, d: examples, team

#77386 Roll Engine from 299eb3e710c1 to 67abe7f9a9e4 (13 revisions)
  bin/internal/engine.version
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, cla: yes, engine, framework

#77329 Bitcode strip Flutter.framework in assemble build target
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/src/darwin_common.dart
Labels: cla: yes, platform-ios, team, tool

#77391 Roll Engine from 67abe7f9a9e4 to 2b47c37a4eb6 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77286 Revert "[showModalBottomSheet] fix: showModalBottomSheet does not mov…
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77400 [flutter_tools] migrate to null safe mustache
  dev/tools/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#77230 Add supported custom font formats in official docs
  packages/flutter/lib/src/painting/text_style.dart
Labels: cla: yes, framework, waiting for tree to go green

#77390 [flutter_tools] replace MockFlutterVersion usage with fake where possible, move from context
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/downgrade_test.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/drive/drive_service_test.dart
  packages/flutter_tools/test/general.shard/flutter_validator_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/fakes.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool, waiting for tree to go green

#77405 Fix typo in Windows template
  dev/manual_tests/windows/runner/flutter_window.cpp
  packages/flutter_tools/templates/app/windows.tmpl/runner/flutter_window.cpp
Labels: cla: yes, team, tool, waiting for tree to go green

#77410 Fix missing root Scaffold check in ScaffoldMessenger
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: cla: yes, f: material design, f: routes, framework, severe: crash, waiting for tree to go green

#77411 Roll Engine from 2b47c37a4eb6 to 98ca5ed0c3f7 (4 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77420 Add debug_second_compile_millis benchmark metric
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, platform-android, platform-ios, team, team: benchmark, waiting for tree to go green

#77421 Roll Engine from 98ca5ed0c3f7 to e5567abcd00c (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77419 fix Autovalidate enum references in fix data
  packages/flutter/lib/fix_data.yaml
  packages/flutter/test_fixes/cupertino.dart.expect
  packages/flutter/test_fixes/material.dart.expect
  packages/flutter/test_fixes/widgets.dart.expect
Labels: cla: yes, cp: 2.0, f: cupertino, f: material design, framework, waiting for tree to go green

#77426 Roll Plugins from b709f7e4994a to fc1b17ea3728 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77430 Roll Engine from e5567abcd00c to b52b2f309083 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77424 archiveing -> archiving
  packages/flutter_tools/lib/src/commands/build_ios.dart
Labels: cla: yes, tool, waiting for tree to go green

#77026 Change some dynamics to Object? and document slot better
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#77428 Add iOS archive codesign test
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
Labels: cla: yes, platform-ios, team, waiting for tree to go green

#77441 Roll Engine from b52b2f309083 to f751d04fa0de (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77444 Roll Plugins from fc1b17ea3728 to 26879dbd2f75 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77399 [flutter_tools] add tool feature/scaffold for UWP
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/windows/windows_device.dart
  packages/flutter_tools/test/general.shard/features_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: cla: yes, tool, waiting for tree to go green

#77479 Roll Plugins from 26879dbd2f75 to e6156827a2b9 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77625 Manual plugins roll to 3acc0cf03051a2888b06753ebe7c4cc22ced191a
  bin/internal/flutter_plugins.version
Labels: cla: yes

#76221 Added ElevatedButton code sample
  packages/flutter/lib/src/material/elevated_button.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77113 Enable deprecation consistency
  analysis_options.yaml
Labels: cla: yes, team, waiting for tree to go green

#77427 Declare NavigationRailDestination.label as non-nullable
  packages/flutter/lib/src/material/navigation_rail.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77463 [docs] added flutter-fix and dart-fix public links
  packages/flutter/lib/fix_data.yaml
  packages/flutter/test_fixes/README.md
Labels: cla: yes, framework, waiting for tree to go green

#77637 Increase activated devtools version to 2.0
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, team

#77432 [flutter_tools] remove most globals from resident web runner
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#77004 Removed ListTile accentColor dependency
  dev/benchmarks/test_apps/stocks/lib/main.dart
  dev/benchmarks/test_apps/stocks/test/icon_color_test.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: cla: yes, f: material design, framework, team, waiting for tree to go green

#77639 Roll Engine from f751d04fa0de to 6602df4dd26f (26 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#77202 [template] removes unused import from Kotlin and Android pluign template
  packages/flutter_tools/templates/plugin/android-java.tmpl/src/main/java/androidIdentifier/pluginClass.java.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/src/main/kotlin/androidIdentifier/pluginClass.kt.tmpl
Labels: cla: yes, tool, waiting for tree to go green

#77634 Roll Plugins from 3acc0cf03051 to a2c855def900 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77001 Add TextLeadingDistribution to TextStyle
  packages/flutter/lib/painting.dart
  packages/flutter/lib/src/painting/strut_style.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter/test/painting/text_style_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77649 Roll Plugins from a2c855def900 to 728129a8ab7f (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#76493 Add menuMaxHeight for DropdownButton
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77671 Roll Plugins from 728129a8ab7f to d44d155fa501 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77672 Roll Engine from 6527a68c9e07 to 2441c476a6b4 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#76532 [Fonts] Improve update_icons script
  dev/tools/update_icons.dart
  packages/flutter/lib/src/material/icons.dart
Labels: cla: yes, f: material design, framework, team

#76691 [Fonts] Sort material icons
  dev/tools/update_icons.dart
  packages/flutter/lib/src/material/icons.dart
Labels: cla: yes, f: material design, framework, team

#77657 Explain why devtools in pinned
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, team, waiting for tree to go green

#77612 Fixed Action code sample in the documentation had a bug issue #77591
  packages/flutter/lib/src/widgets/actions.dart
Labels: cla: yes, framework, waiting for tree to go green

#77664 Move iOS codesigning into assemble build target
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/integration.shard/ios_content_validation_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool

#77733 [Hero] toHero flightShuttleBuilder overrides fromHero flightShuttleBuilder
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/widgets/heroes_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#77734 Roll Engine from 2441c476a6b4 to 7764b5c55f30 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77559 Remove "unnecessary" import in build_appbundle_test
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
Labels: cla: yes, tool

#77653 [Analyze] Make deprecation note analyzer clearer on quote misuse
  dev/bots/analyze.dart
  dev/bots/test/analyze-test-input/root/packages/foo/deprecation.dart
  dev/bots/test/analyze_test.dart
Labels: cla: yes, team

#77652 Removed MaterialApp accentColor dependency.
  packages/flutter/lib/src/material/app.dart
  packages/flutter/test/material/app_test.dart
Labels: cla: yes, f: material design, framework

#77748 [flutter_tools] simplify fake imports for FakeProcessManager
  packages/flutter_tools/test/src/fake_process_manager.dart
  packages/flutter_tools/test/src/test_wrapper.dart
Labels: cla: yes, tool, waiting for tree to go green

#77732 Removed Stepper accentColor dependency
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/test/material/stepper_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77744 Removed PaginatedDataTable accentColor dependency.
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/test/material/paginated_data_table_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#77731 [flutter_tools] remove mock processes from batch compile_test
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
Labels: cla: yes, tool

#77781 Roll Engine from 7764b5c55f30 to 620b9e45a77a (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#77795 Roll Engine from 620b9e45a77a to 785ac320e4aa (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#77756 Implement iOS app install deltas
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_deploy.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/general.shard/ios/ios_deploy_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool, waiting for tree to go green

#77816 Roll Engine from 785ac320e4aa to d5058fb76888 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77738 [flutter_tools] migrate some base libraries to null safety
  packages/flutter_tools/lib/src/base/common.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/convert.dart
Labels: cla: yes, tool, waiting for tree to go green

#77825 Make LocalFileComparator.compare easier to override
  packages/flutter_test/lib/src/_goldens_io.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#77827 Roll Plugins from 4dea720e3aa4 to 735e1a5208e1 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77829 Roll Engine from d5058fb76888 to 9b5f59ec3d54 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77566 Increase timeouts to fix build integration timeout flakes
  packages/flutter_tools/test/integration.shard/deferred_components_test.dart
Labels: cla: yes, tool

#77840 Cherrypick engine to 711ab3fda05004ee5f6035f2a0bf099fca39a129
  bin/internal/engine.version
Labels: cla: yes, engine

#77755 Fix scrollbar hit testing based on pointer device kind
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: a: desktop, a: quality, cla: yes, f: material design, f: scrolling, framework, platform-web, waiting for tree to go green

#77847 Roll Engine from 9b5f59ec3d54 to afc72ee1d79c (3 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#77852 Roll Plugins from 735e1a5208e1 to 79dd06a1eb1d (2 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#77220 [flutter_tools] Generalize waitForExtension
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/resident_devtools_handler_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: cla: yes, tool

#77719 Remove unnecessary question marks
  packages/flutter/lib/src/animation/tween.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#77024 Adds set text semantics action to render editable
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/material/input_date_picker_form_field_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: a: accessibility, cla: yes, framework, waiting for tree to go green

#77757 Remove mock from event_printer_test
  packages/flutter_tools/test/general.shard/test/event_printer_test.dart
Labels: cla: yes, tool, waiting for tree to go green
