Repository flutter/flutter, pull requests merged in 2021-05, with the labels that each got.

#81372 Adding `itemExtent` to `ReorderableList` and `ReorderableListView`
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
  packages/flutter/test/widgets/scroll_view_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81567 Roll Plugins from 580a6e7a43a7 to 54aad0754cd6 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#81475 [flutter_tools] remove mocks from devfs web, cache, and xcode migrator test
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81544 re-enable directives_ordering
  analysis_options.yaml
Labels: cla: yes, waiting for tree to go green

#81545 [flutter_tools] android workflow tests migrate from mockito
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81548 [flutter_tools] remove mocks from android emulator tests
  packages/flutter_tools/lib/src/android/android_emulator.dart
  packages/flutter_tools/test/general.shard/android/android_emulator_test.dart
  packages/flutter_tools/test/general.shard/emulator_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81576 [flutter_tools] Make bundle sksl a define
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/tool_backend.dart
  packages/flutter_tools/bin/xcode_backend.sh
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81550 [flutter_tools] remove mocks from cold test
  packages/flutter_tools/test/general.shard/cold_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81554 Add additional logging when devtools cannot launch
  packages/flutter_tools/lib/src/devtools_launcher.dart
  packages/flutter_tools/test/general.shard/devtools_launcher_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81555 [flutter_tools] skip additional flaky test
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81558 Roll Engine from e7939e091e2c to 3e578c6e0d77 (29 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#81589 Roll Plugins from 54aad0754cd6 to a2ce3dab4661 (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#81581 Flutter Web Loading Indicator
  packages/flutter_tools/lib/src/web/bootstrap.dart
  packages/flutter_tools/test/general.shard/web/bootstrap_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81590 Fix assert in RenderObject.getTransformTo()
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/object_test.dart
Labels: cla: yes, framework

#81588 Allow widget inspector's _Location.file to be null
  packages/flutter/lib/src/widgets/widget_inspector.dart
Labels: cla: yes, framework

#81620 [flutter_tools] remove last android sdk mock
  packages/flutter_tools/test/general.shard/android/android_sdk_test.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool, waiting for tree to go green

#81497 Update documentation for scrollUntilVisible and friends.
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#81043 Update text_form_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81624 sort directives
  dev/tools/gen_keycodes/bin/gen_keycodes.dart
  dev/tools/gen_keycodes/lib/logical_key_data.dart
  packages/flutter_tools/bin/fuchsia_asset_builder.dart
Labels: cla: yes, team, tool, waiting for tree to go green

#81607 Fix extra blank lines in logger output
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/common.dart
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/lib/src/globals_null_migrated.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/base/terminal_test.dart
  packages/flutter_tools/test/general.shard/ios/code_signing_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
  packages/flutter_tools/test/src/testbed.dart
Labels: cla: yes, tool, waiting for tree to go green

#81634 Change elevation to double of MergeableMaterial
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/lib/src/material/mergeable_material.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81449 Fix benchmark
  dev/benchmarks/macrobenchmarks/test_driver/animated_image_test.dart
  dev/devicelab/bin/tasks/animated_image_gc_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, team, waiting for tree to go green

#81686 Add "onTap" callback to PopupMenuItem
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: cla: yes, f: material design, framework

#81696 Revert "Fix benchmark"
  dev/benchmarks/macrobenchmarks/test_driver/animated_image_test.dart
  dev/devicelab/bin/tasks/animated_image_gc_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, team

#81604 prototypeItem added to ReorderableList and ReorderableListView
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
  packages/flutter/test/widgets/scroll_view_test.dart
Labels: cla: yes, f: material design, framework

#81700 Roll Engine from 3e578c6e0d77 to 578449f10fde (23 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green, will affect goldens

#81393 Added arrowHeadColor property to PaginatedDataTable
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/test/material/paginated_data_table_test.dart
Labels: cla: yes, f: material design, framework

#81704 Roll Engine from 578449f10fde to 378e4dbc417e (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#81699 Fixed some trivial formatting issues in test/material/popup_menu_test.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: cla: yes, f: material design, framework

#81698 Turn off directives_ordering lint when analyzing samples
  dev/bots/analyze_sample_code.dart
Labels: cla: yes, team, waiting for tree to go green

#81585 test macos binaries are codesigned before publishing
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: cla: yes, team, waiting for tree to go green

#81784 [flutter drive] Do not start dds if --no-dds
  packages/flutter_tools/lib/src/drive/drive_service.dart
  packages/flutter_tools/test/general.shard/drive/drive_service_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81631 Clean up some old and obsolete TODOs of mine
  packages/flutter/lib/src/material/theme.dart
  packages/flutter/lib/src/rendering/error.dart
  packages/flutter/lib/src/widgets/async.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81234 [flutter_conductor] Add candidates sub command
  dev/tools/bin/conductor.dart
  dev/tools/lib/candidates.dart
  dev/tools/lib/repository.dart
  dev/tools/test/candidates_test.dart
Labels: cla: yes, team, waiting for tree to go green

#81569 [flutter] reject mouse drags by default in scrollables
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/widgets/scroll_configuration.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/gestures/drag_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, cla: yes, framework, waiting for tree to go green

#81659 Drop unused docs-linux task on Cirrus
  .cirrus.yml
Labels: cla: yes, waiting for tree to go green

#81796 Add doc links to RawGestureDetector
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
Labels: cla: yes, framework

#81431 Improve performance of debugCheckHasDirectionality
  packages/flutter/lib/src/material/debug.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/lib/src/widgets/debug.dart
  packages/flutter/lib/src/widgets/inherited_theme.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/lib/src/widgets/page_storage.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81789 [flutter_tools] remove most mocks from Fuchsia device tests
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_dev_finder_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_start_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81951 Disable flutter_build_with_compilation_error_test on Windows
  packages/flutter_tools/test/integration.shard/flutter_build_with_compilation_error_test.dart
Labels: cla: yes, tool

#81955 Temporarily disable win_build_tests_2_3
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team

#80999 Remove "unnecessary" imports in flutter_tools/test/general.shard
  packages/flutter_tools/test/general.shard/bundle_builder_test.dart
  packages/flutter_tools/test/general.shard/custom_devices/custom_device_test.dart
  packages/flutter_tools/test/general.shard/integration_test_device_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81003 Remove "unnecessary" imports in flutter_tools/test/commands.shard/hermetic
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81067 Deprecate AnimatedSize.vsync
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/lib/src/material/text_selection_toolbar.dart
  packages/flutter/lib/src/widgets/animated_cross_fade.dart
  packages/flutter/lib/src/widgets/animated_size.dart
  packages/flutter/test/widgets/animated_size_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81384 Allow users to pass in Xcode build settings as env variables to flutter build macos FLUTTER_XCODE_
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81435 Remove extended attributes from entire Flutter project
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
Labels: cla: yes, platform-ios, t: xcode, tool, waiting for tree to go green

#81565 Link to correct extended integration test driver file in integration_test README
  packages/integration_test/README.md
Labels: a: tests, cla: yes, framework, t: flutter driver, waiting for tree to go green

#81633 Remove jcenter from build.gradle
  dev/integration_tests/android_views/android/build.gradle
Labels: cla: yes, team, waiting for tree to go green

#81794 Reland GC related bench update
  dev/benchmarks/macrobenchmarks/test_driver/animated_image_test.dart
  dev/devicelab/bin/tasks/animated_image_gc_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_test/lib/src/frame_timing_summarizer.dart
  packages/integration_test/lib/integration_test.dart
Labels: a: tests, cla: yes, framework, team, waiting for tree to go green

#82005 Revert "Reland GC related bench update"
  dev/benchmarks/macrobenchmarks/test_driver/animated_image_test.dart
  dev/devicelab/bin/tasks/animated_image_gc_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_test/lib/src/frame_timing_summarizer.dart
  packages/integration_test/lib/integration_test.dart
Labels: a: tests, cla: yes, framework, team

#82004 Revert "Allow users to pass in Xcode build settings as env variables to flutter build macos FLUTTER_XCODE_"
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
Labels: cla: yes, tool

#81601 Allow reuse of NavigatorObserver in Navigator.observers
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#81800 Roll Engine from 378e4dbc417e to f57e986aa80c (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#81850 Assert when duplicated keys are introduced in subsequent build
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/multichildobject_with_keys_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#82017 Small change to doc to trick firebase
  packages/flutter/lib/src/widgets/framework.dart
Labels: cla: yes, framework

#81529 fix a MaterialApp NNBD issue
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/material/material_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81004 Remove "unnecessary" imports in dev/
  dev/tools/test/common.dart
  dev/tracing_tests/test/image_painting_event_test.dart
Labels: cla: yes, team, waiting for tree to go green

#82028 Fix dartdoc for SliverAppBar#shadowColor
  packages/flutter/lib/src/material/app_bar.dart
Labels: cla: yes, f: material design, framework

#82036 Roll Plugins from a2ce3dab4661 to 26456c85db36 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#81561 Minor cleanup to Linux application template format
  packages/flutter_tools/templates/app/linux.tmpl/my_application.cc.tmpl
Labels: cla: yes, tool, waiting for tree to go green

#82039 Revert "Assert when duplicated keys are introduced in subsequent build"
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/multichildobject_with_keys_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#81414 Added performance benchmarks for platform channels
  dev/benchmarks/platform_channels_benchmarks/.metadata
  dev/benchmarks/platform_channels_benchmarks/README.md
  dev/benchmarks/platform_channels_benchmarks/android/app/src/main/kotlin/com/example/platform_channels_benchmarks/MainActivity.kt
  dev/benchmarks/platform_channels_benchmarks/ios/Runner/AppDelegate.swift
  dev/benchmarks/platform_channels_benchmarks/lib/main.dart
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/devicelab/bin/tasks/platform_channels_benchmarks.dart
  dev/devicelab/bin/tasks/platform_channels_benchmarks_ios.dart
  dev/devicelab/lib/microbenchmarks.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/platform_channels_benchmarks.dart
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#82040 Roll Plugins from 26456c85db36 to d763b2c7293c (1 revision)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#82042 Reland GC benchmark changes again
  dev/benchmarks/macrobenchmarks/test_driver/animated_image_test.dart
  dev/devicelab/bin/tasks/animated_image_gc_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_test/lib/src/frame_timing_summarizer.dart
  packages/integration_test/lib/integration_test.dart
Labels: a: tests, cla: yes, framework, team, waiting for tree to go green

#82059 Revert "Reland GC benchmark changes again"
  dev/benchmarks/macrobenchmarks/test_driver/animated_image_test.dart
  dev/devicelab/bin/tasks/animated_image_gc_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_test/lib/src/frame_timing_summarizer.dart
  packages/integration_test/lib/integration_test.dart
Labels: a: tests, cla: yes, framework, team

#81792 Reduce potential collisions from Gold RNG
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, cla: yes, framework, team, team: flakes, team: infra, team: presubmit flakes, waiting for tree to go green

#81874 Added binary platform channels test
  dev/benchmarks/platform_channels_benchmarks/android/app/src/main/kotlin/com/example/platform_channels_benchmarks/MainActivity.kt
  dev/benchmarks/platform_channels_benchmarks/ios/Runner/AppDelegate.swift
  dev/benchmarks/platform_channels_benchmarks/lib/main.dart
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#81858 Deprecate `GestureDetector.kind` in favor of new `supportedDevices`
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/gestures/eager.dart
  packages/flutter/lib/src/gestures/force_press.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/multidrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/gestures/scale.dart
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/gestures/force_press_test.dart
  packages/flutter/test/gestures/long_press_test.dart
  packages/flutter/test/gestures/monodrag_test.dart
  packages/flutter/test/gestures/multidrag_test.dart
  packages/flutter/test/gestures/multitap_test.dart
  packages/flutter/test/gestures/recognizer_test.dart
  packages/flutter/test/gestures/scale_test.dart
  packages/flutter/test_fixes/gestures.dart
  packages/flutter/test_fixes/gestures.dart.expect
Labels: a: desktop, a: mouse, cla: yes, f: gestures, framework, severe: new feature, waiting for tree to go green

#81859 remove unnecessary String.toString()
  dev/benchmarks/test_apps/stocks/lib/i18n/stock_strings.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/slider_demo.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter_goldens_client/lib/skia_client.dart
  packages/flutter_test/lib/src/_goldens_web.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/ios/migrations/project_base_configuration_migration.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/migrations/cmake_custom_command_migration.dart
Labels: a: tests, cla: yes, f: material design, framework, team, tool, waiting for tree to go green

#81873 Sort imports when interpolating sample templates
  dev/bots/analyze_sample_code.dart
  dev/snippets/lib/snippets.dart
  dev/snippets/test/snippets_test.dart
Labels: cla: yes, team, waiting for tree to go green

#81586 Enable Dart plugin registrant on Desktop only
  packages/flutter_tools/lib/src/build_system/targets/dart_plugin_registrant.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
Labels: cla: yes, tool

#81932 Add some examples of widgets that support visual density
  packages/flutter/lib/src/material/theme_data.dart
Labels: cla: yes, d: api docs, documentation, f: material design, framework, waiting for tree to go green

#81879 Standardize build system environment defines derived from build info
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/dart_plugin_registrant.dart
  packages/flutter_tools/lib/src/build_system/targets/icon_tree_shaker.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/bundle.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/android/deferred_components_gen_snapshot_validator_test.dart
  packages/flutter_tools/test/general.shard/build_info_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/deferred_components_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/icon_tree_shaker_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/linux_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/windows_test.dart
  packages/flutter_tools/test/general.shard/bundle_builder_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81812 [integration_test] Don't log exceptions twice
  dev/automated_tests/integration_test/exception_handling_expectation.txt
  packages/integration_test/lib/integration_test.dart
Labels: cla: yes, team, waiting for tree to go green

#81961 Only skip license initialization on `flutter test` binding
  dev/automated_tests/integration_test/license_expectation.txt
  dev/automated_tests/integration_test/license_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_tools/test/integration.shard/test_test.dart
Labels: a: tests, cla: yes, framework, team, tool, waiting for tree to go green

#81927 [flutter_releases] Flutter Beta 2.2.0-10.3.pre Framework Cherrypicks
  bin/internal/engine.version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  dev/try_builders.json
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_with_compilation_error_test.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: a: internationalization, cla: yes, engine, f: material design, framework, team, tool

#82064 Fix missing logger for Driver.reuseApplication
  packages/flutter_tools/lib/src/drive/drive_service.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/drive/drive_service_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#82132 Roll Engine from f57e986aa80c to 1825befbc72d (39 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#82073 Disable temporarily validate_scheduler config.
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#82147 Roll Engine from 1825befbc72d to f5b97d0b23a3 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#82143 Mark Linux complex_layout_scroll_perf__devtools_memory flaky
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#81678 [key_codegen] Remove webValues
  dev/tools/gen_keycodes/data/logical_key_data.json
  dev/tools/gen_keycodes/data/web_key_map_dart.tmpl
  dev/tools/gen_keycodes/lib/logical_key_data.dart
  dev/tools/gen_keycodes/lib/macos_code_gen.dart
  dev/tools/gen_keycodes/lib/web_code_gen.dart
Labels: cla: yes, team

#82174 Roll Plugins from d763b2c7293c to 26c45dc4d575 (5 revisions)
  bin/internal/flutter_plugins.version
Labels: cla: yes, waiting for tree to go green

#81618 [flutter_tools] remove even more mocks
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/icon_tree_shaker_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/src/fake_devices.dart
  packages/flutter_tools/test/src/mocks.dart
Labels: cla: yes, tool, waiting for tree to go green

#82156 Revert "Disable temporarily validate_scheduler config."
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team

#81368 [flutter_tools] Show linux distribution and kernel release in `flutter doctor`
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81869 Update perf_tests.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: cla: yes, team

#77514 Changing SnackBar's dismiss direction
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#82196 Deprecated ThemeData buttonColor
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: cla: yes, f: material design, framework

#81282 Expose the alignment property for DropdownButton and item
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#82160 Fix mac_plugin_test task name in try_builders
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#82195 [flutter_tools] remove mocks from ios_device, project, flutter_command test
  packages/flutter_tools/test/general.shard/ios/ios_device_logger_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#81986 clean-up analysis_options.yaml's across the repository
  analysis_options.yaml
  dev/integration_tests/web/analysis_options.yaml
  dev/integration_tests/web/lib/framework_stack_trace.dart
  dev/integration_tests/web/lib/service_worker_test.dart
  dev/integration_tests/web/lib/sound_mode.dart
  dev/tools/gen_keycodes/analysis_options.yaml
  packages/flutter/lib/analysis_options_user.yaml
Labels: cla: yes, framework, team, waiting for tree to go green

#82236 Roll Engine from b21548774fbd to 5d3dde58ef1f (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#82272 Roll Engine from d241ae8ccefd to 44dcb668a8eb (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#81865 Add Enter and Tab back in to ios and macos key maps
  dev/tools/gen_keycodes/data/ios_logical_to_physical.json
  dev/tools/gen_keycodes/data/logical_key_data.json
  dev/tools/gen_keycodes/data/macos_logical_to_physical.json
  dev/tools/gen_keycodes/lib/logical_key_data.dart
  packages/flutter/lib/src/services/keyboard_maps.dart
  packages/flutter/lib/src/services/raw_keyboard_ios.dart
  packages/flutter/test/services/keyboard_key_test.dart
Labels: cla: yes, framework, team

#82274 Roll Engine from 44dcb668a8eb to 5f9eb39f7dd0 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#81100 Modify CupertinoSearchTextField's prefix icon.
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/test/cupertino/search_field_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#82279 Roll Engine from 5f9eb39f7dd0 to 507828e31264 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#81630 migrate web_complie_tests to null safety
  dev/integration_tests/web_compile_tests/pubspec.yaml
Labels: cla: yes, team, waiting for tree to go green

#82235 📝 Added tests for toString to increase coverage
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/lib/src/services/system_chrome.dart
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/services/message_codecs_test.dart
  packages/flutter/test/services/platform_views_test.dart
  packages/flutter/test/services/system_chrome_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#82293 Better hover handling for Scrollbar
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: a: annoyance, a: desktop, a: mouse, a: quality, cla: yes, f: material design, f: scrolling, framework, waiting for tree to go green

#81813 ExpansionPanelList elevation as double
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/test/material/expansion_panel_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#82298 Re-land: Allow users to pass in Xcode build settings as env variables to flutter build macos FLUTTER_XCODE_
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#82300 Roll Engine from af0a96bf4299 to 3c93ad4c55b7 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#82305 [dev] Add code owners on *_builders.json
  CODEOWNERS
Labels: cla: yes, waiting for tree to go green

#82310 Roll Engine to 44ba0c7c4bfd (5 revisions)
  bin/internal/engine.version
  packages/flutter/lib/src/foundation/basic_types.dart
Labels: cla: yes, engine, framework, waiting for tree to go green

#82312 Roll Engine from 44ba0c7c4bfd to 8e332453b809 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#82290 use throwsA matcher instead of try-catch-fail
  dev/bots/test/prepare_package_test.dart
  packages/flutter_test/test/goldens_test.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_test/test/test_text_input_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: a: tests, cla: yes, framework, team, tool, waiting for tree to go green

#82314 Roll Engine from 8e332453b809 to 3f6ceb720538 (1 revision)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#82297 remove noop primitive operations
  dev/devicelab/lib/framework/apk_utils.dart
  dev/manual_tests/lib/text.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/widgets/inherited_dependencies_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: a: tests, cla: yes, f: material design, framework, team, tool, waiting for tree to go green

#82322 Roll Engine from 3f6ceb720538 to 9a0aff0667d0 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#82331 Roll Engine from 9a0aff0667d0 to f3847febb247 (2 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#82356 Roll plugins to 0c99a3ba749bbdc57b0d8895cdfaeef835119613
  bin/internal/flutter_plugins.version
  dev/bots/test.dart
Labels: cla: yes, team

#82328 use throwsXxx instead of throwsA(isA<Xxx>())
  packages/flutter/test/cupertino/bottom_tab_bar_test.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/cupertino/sliding_segmented_control_test.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/rendering/box_test.dart
  packages/flutter/test/services/restoration_bucket_test.dart
  packages/flutter/test/widgets/grid_view_test.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
  packages/flutter/test/widgets/page_view_test.dart
  packages/flutter_driver/test/src/real_tests/flutter_driver_test.dart
  packages/flutter_driver/test/src/real_tests/io_extension_test.dart
  packages/flutter_test/test/goldens_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/screenshot_command_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_port_forwarder_test.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
  packages/flutter_tools/test/general.shard/artifact_updater_test.dart
  packages/flutter_tools/test/general.shard/base/common_test.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/desktop_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/mdns_discovery_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/testbed_test.dart
Labels: a: tests, cla: yes, f: cupertino, f: material design, framework, tool, waiting for tree to go green

#82308 Force LANG=en_US.UTF-8 in test runner
  dev/bots/test/bot_test.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/test/tasks/build_test_task_test.dart
Labels: cla: yes, team, waiting for tree to go green

#82340 change the elevation of dropdown from int to double
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework

#82307 consolidate all web integration tests under the same shard
  .cirrus.yml
  dev/bots/service_worker_test.dart
  dev/bots/test.dart
  dev/bots/utils.dart
  dev/prod_builders.json
  dev/try_builders.json
Labels: cla: yes, team

#81864 Add initial test owners for framework post-submit tests
  TESTOWNERS
Labels: cla: yes, waiting for tree to go green

#82239 Add flutter_tools to trigger list for skp_generator
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green

#82359 fixed typo in prod_builders for ios platform channels benchmark
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#82393 Activate DevTools before running an integration test that uses DevTools
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: cla: yes, tool

#82365 Upgrade to stable flutter_lints 1.0.0
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
Labels: cla: yes, tool, waiting for tree to go green

#82384 Mark linux_platform_channels_benchmarks not flaky
  dev/prod_builders.json
Labels: cla: yes, team

#82385 Mark animated_image_gc_perf not flaky
  dev/prod_builders.json
Labels: cla: yes, team, waiting for tree to go green

#82386 Turn on win_build_tests_2_3 shard, skip 'build windows' tests
  dev/bots/test.dart
  dev/try_builders.json
Labels: cla: yes, team

#82319 Fix typos
  dev/tools/lib/proto/conductor_state.proto
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/widgets/router.dart
  packages/integration_test/lib/integration_test_driver.dart
Labels: cla: yes, f: material design, framework, team, waiting for tree to go green

#82394 shuffle tests in web_long_running_tests shard
  dev/bots/test.dart
Labels: cla: yes, team, waiting for tree to go green

#82373 [flutter_tools] support flutter run -d winuwp
  packages/flutter_tools/bin/getaumidfromname.ps1
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/cmake.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/flutter_application_package.dart
  packages/flutter_tools/lib/src/flutter_device_manager.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/windows/application_package.dart
  packages/flutter_tools/lib/src/windows/uwptool.dart
  packages/flutter_tools/lib/src/windows/windows_device.dart
  packages/flutter_tools/test/general.shard/windows/project_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#82388 Roll Engine from f3847febb247 to a33937429616 (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: cla: yes, waiting for tree to go green

#82369 [flutter_tools] remove mocks from devices test
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#82425 Roll Engine from a33937429616 to 08d9bc0fdd62 (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#82286 Fix RenderEditable.computeMaxIntrinsicWidth error return.
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#82387 first part of applying sort_child_properties_last
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/lib/src/cupertino/segmented_control.dart
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/button_bar.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/date_picker_deprecated.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/theme.dart
  packages/flutter/lib/src/material/user_accounts_drawer_header.dart
  packages/flutter/lib/src/widgets/animated_size.dart
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/banner.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/lib/src/widgets/dismissible.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/scroll_configuration.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/visibility.dart
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/context_menu_action_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/form_section_test.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/picker_test.dart
  packages/flutter/test/cupertino/scaffold_test.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
Labels: cla: yes, f: cupertino, f: material design, framework, waiting for tree to go green

#82380 Corrected OverflowBar layout when it is wider that its intrinsic width
  packages/flutter/lib/src/widgets/overflow_bar.dart
  packages/flutter/test/widgets/overflow_bar_test.dart
Labels: cla: yes, framework, waiting for tree to go green

#82446 Revert "change the elevation of dropdown from int to double"
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: cla: yes, f: material design, framework

#82227 Add 'v' hotkey to open DevTools in the browser
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/base/command_help.dart
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/base/command_help_test.dart
  packages/flutter_tools/test/general.shard/resident_devtools_handler_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: cla: yes, team, tool

#82401 Revert "Disable flutter_build_with_compilation_error_test on Windows"
  packages/flutter_tools/test/integration.shard/flutter_build_with_compilation_error_test.dart
Labels: cla: yes, tool

#81987 Enable vm:notify-debugger-on-exception on handlePlatformMessage
  packages/flutter/lib/src/services/binding.dart
  packages/flutter_tools/test/integration.shard/break_on_framework_exceptions_test.dart
Labels: cla: yes, framework, tool, waiting for tree to go green

#82396 Revert "Turn on win_build_tests_2_3 shard, skip 'build windows' tests"
  dev/bots/test.dart
  dev/try_builders.json
Labels: cla: yes, team

#82372 [flutter_tool] Suggest how to increase the Android minSdkVersion
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#82450 Roll Engine from 08d9bc0fdd62 to 917371ffaefe (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: cla: yes, waiting for tree to go green

#82412 [flutter_tools] remove mocks from build_apk_test
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#82234 Fixed a problem with the FAB position when constraints set on bottom sheet.
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: cla: yes, f: material design, framework, waiting for tree to go green

#81632 Be more consistent about how we mark classes that can't be extended.
  packages/flutter/lib/src/rendering/layout_helper.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/lib/src/services/autofill.dart
  packages/flutter/lib/src/services/mouse_cursor.dart
Labels: cla: yes, framework, waiting for tree to go green

#82413 [flutter_tools] remove mocks from dart plugins test
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
Labels: cla: yes, tool, waiting for tree to go green

#82426 Enable use_named_constants_lint
  analysis_options.yaml
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/widgets/restoration_properties.dart
  packages/flutter/test/gestures/gesture_binding_resample_event_on_widget_test.dart
  packages/flutter/test/gestures/gesture_binding_resample_event_test.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/shape_decoration_test.dart
  packages/flutter_tools/test/general.shard/bundle_builder_test.dart
Labels: cla: yes, f: material design, framework, tool, waiting for tree to go green

#82441 Sets textInputAction property of CupertinoSearchTextField to TextInputAction.search by default
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/test/cupertino/search_field_test.dart
Labels: cla: yes, f: cupertino, framework, waiting for tree to go green

#82465 Roll Engine from 917371ffaefe to b0bb8eab1d2f (5 revisions)
  bin/internal/engine.version
Labels: cla: yes, waiting for tree to go green

#82466 Re-enable win_build_tests_2_3.
  dev/try_builders.json
Labels: cla: yes, team, waiting for tree to go green
