Repository flutter/flutter, pull requests merged in 2022-06, with the labels that each got.

#105070 Roll Flutter Engine from a5eefc80f9f9 to 6dfbd5464f1e (16 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105077 Roll Flutter Engine from 1c84b5e5a4ae to a39059012b93 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105078 Retry builds when SSL exceptions are thrown
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, waiting for tree to go green

#105080 Roll Flutter Engine from a39059012b93 to 961ad46be8eb (6 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105086 Roll Flutter Engine from 961ad46be8eb to 0d1057ef7b01 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105100 Roll Flutter Engine from 0d1057ef7b01 to 836e78ab22ce (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105125 Roll Flutter Engine from 9015062bab94 to a5fbe512a6aa (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105075 [flutter_tools] flutter daemon handles a closed stdout IOSink
  packages/flutter_tools/lib/src/daemon.dart
  packages/flutter_tools/test/general.shard/daemon_test.dart
Labels: tool, waiting for tree to go green

#105143 Roll Flutter Engine from a5fbe512a6aa to deb5449e41cc (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105083 For linux builds use machines with 8 cores.
  .ci.yaml
Labels: waiting for tree to go green

#105009 Update dependencies with 'flutter update-packages --force-upgrade'
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: team, waiting for tree to go green

#105076 [flutter_tools] handle HandshakeException in httphostvalidator
  packages/flutter_tools/lib/src/http_host_validator.dart
  packages/flutter_tools/test/commands.shard/hermetic/http_host_validator_test.dart
Labels: tool, waiting for tree to go green

#105141 [flutter_releases] Cherrypicks for SliverReorderableList and Slider regressions
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework, f: material design

#105166 Roll Flutter Engine from 362d67a274ed to 623657295d4a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105174 Roll Flutter Engine from 623657295d4a to 9c3bd5e6240d (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105162 [tool][web] Fix flutter.js in Safari 13
  packages/flutter_tools/lib/src/web/flutter_js.dart
Labels: tool

#105138 Revert "Added MaterialStatesController, updated InkWell et al."
  examples/api/lib/material/text_button/text_button.1.dart
  examples/api/test/material/text_button/text_button.1_test.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/material_states_controller_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: a: text input, team, framework, f: material design, d: api docs, d: examples, documentation

#105178 Roll Flutter Engine from 9c3bd5e6240d to e13fc94dd92d (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105186 Roll Flutter Engine from e13fc94dd92d to 172a120c6d99 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105190 Roll Flutter Engine from 172a120c6d99 to c617fd74c9f2 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105191 Roll Flutter Engine from c617fd74c9f2 to f4979963231d (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105196 Roll Flutter Engine from f4979963231d to 1953f5ce4740 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105198 Revert "Add error message and documentation when a `SnackBar` is off …
  examples/api/lib/material/scaffold/scaffold_messenger_state.show_snack_bar.1.dart
  examples/api/test/material/scaffold/scaffold_messenger_state.show_snack_bar.1_test.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#105201 Roll Flutter Engine from 1953f5ce4740 to a9833f19d304 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105113 Turn on `curly_braces_in_flow_control_structures` for developer-facing code
  analysis_options.yaml
  examples/api/analysis_options.yaml
  packages/analysis_options.yaml
  packages/flutter/lib/src/material/ink_sparkle.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/selection_area.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#105209 Roll Flutter Engine from a9833f19d304 to 625399dbb77e (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105212 Roll Flutter Engine from 625399dbb77e to d77ecb83abbd (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105214 Roll Flutter Engine from d77ecb83abbd to 9551e4d3e8dd (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105220 Roll Flutter Engine from 9551e4d3e8dd to 70d4068e6bae (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105144 [framework] ensure ink sparkle is disposed (#104569)
  packages/flutter/lib/src/material/ink_sparkle.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/test/material/ink_sparkle_test.dart
Labels: a: text input, team, tool, framework, engine, f: material design, d: api docs, d: examples, documentation

#105228 Roll Flutter Engine from 70d4068e6bae to 1c6deada7266 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105234 Roll Flutter Engine from 1c6deada7266 to 70bfb52ffe07 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#104274 Hide text selection toolbar when dragging handles on mobile
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, waiting for tree to go green

#105247 Revert "Hide text selection toolbar when dragging handles on mobile"
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, waiting for tree to go green, warning: land on red to fix tree breakage

#105240 Roll Flutter Engine from 70bfb52ffe07 to 00a64bf4f2de (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105161 flutter drive --enable-software-rendering --skia-deterministic-rendering
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: tool, waiting for tree to go green

#104507 Refactor `MaterialStateProperty` lerp functions
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/checkbox_theme.dart
  packages/flutter/lib/src/material/data_table_theme.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/navigation_bar_theme.dart
  packages/flutter/lib/src/material/radio_theme.dart
  packages/flutter/lib/src/material/scrollbar_theme.dart
  packages/flutter/lib/src/material/switch_theme.dart
  packages/flutter/lib/src/painting/borders.dart
  packages/flutter/test/material/material_state_property_test.dart
Labels: framework, f: material design, f: scrolling

#105249 Roll Flutter Engine from 00a64bf4f2de to a5967ed309ef (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105256 Roll Flutter Engine from cbe5d200567f to 6734def50873 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105262 Roll Flutter Engine from 6734def50873 to 05d0f87d883f (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105175 Merge dirty relayout boundaries after `RenderObject.invokeLayoutCallback`
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/widgets/layout_builder_mutations_test.dart
Labels: framework, waiting for tree to go green

#105276 Roll Flutter Engine from 05d0f87d883f to be47d54147ec (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105281 Roll Flutter Engine from be47d54147ec to eb8193877f95 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105284 Revert "Add error message and documentation when a `SnackBar` is off …
  examples/api/lib/material/scaffold/scaffold_messenger_state.show_snack_bar.1.dart
  examples/api/test/material/scaffold/scaffold_messenger_state.show_snack_bar.1_test.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#105285 Roll Flutter Engine from eb8193877f95 to 417069b94bbb (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105261 Remove `package:shelf` version pin
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: tool, waiting for tree to go green

#105287 Roll Flutter Engine from 417069b94bbb to 94042cf3797f (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102501 Update documentation for app bar theme properties
  packages/flutter/lib/src/material/app_bar_theme.dart
Labels: framework, f: material design

#103474 `CheckedPopupMenuItem`: Fix cursor bug and add cursor parameter
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, waiting for tree to go green

#105288 Roll Flutter Engine from 94042cf3797f to 76a156784168 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#104242 Extra timing on hot reload
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: tool

#105293 Revert "Add `actionsPadding` to dialog theme"
  dev/tools/gen_defaults/lib/dialog_template.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: team, framework, f: material design

#99714 fix: Removed helper method from Scaffold
  packages/flutter/lib/src/material/scaffold.dart
Labels: framework, f: material design

#105311 Revert "[DataTable]: Add ability to only select row using checkbox (#105123)"
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, waiting for tree to go green

#105316 Revert "Added MaterialStatesController, updated InkWell et al. (#1031…
  examples/api/lib/material/text_button/text_button.1.dart
  examples/api/test/material/text_button/text_button.1_test.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/material_states_controller_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: a: text input, team, framework, f: material design, d: api docs, d: examples, documentation

#105054 Move corrupted zip to a separate handler and ask user
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, waiting for tree to go green

#105242 Add flutter build macos-framework command
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  dev/devicelab/lib/framework/utils.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_macos_framework.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_darwin_framework_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: team, tool, platform-mac, waiting for tree to go green

#104562 [flutter_tools] add needsFullRestart flag on hot runner
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
Labels: tool, waiting for tree to go green

#105322 Use device_type dimension for samsung S10 builders
  .ci.yaml
Labels: waiting for tree to go green

#104850 [flutter_tools] re-use findProjectRoot on flutter command
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_get_test.dart
Labels: tool, waiting for tree to go green

#102785 Migrate status
  packages/flutter_tools/lib/src/commands/migrate.dart
  packages/flutter_tools/lib/src/commands/migrate_status.dart
  packages/flutter_tools/lib/src/migrate/migrate_utils.dart
  packages/flutter_tools/test/commands.shard/permeable/migrate_status_test.dart
Labels: tool, waiting for tree to go green

#105321 Pass run and drive --trace-systrace for iOS
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: platform-ios, tool, waiting for tree to go green

#105344 manual engine->flutter roll
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
  dev/automated_tests/flutter_test/exception_handling_expectation.txt
Labels: team, engine, waiting for tree to go green

#105352 Revert "Added MaterialStatesController, updated InkWell et al. (#1031…
  examples/api/lib/material/text_button/text_button.1.dart
  examples/api/test/material/text_button/text_button.1_test.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/material_states_controller_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: a: text input, team, framework, f: material design, d: api docs, d: examples, documentation

#105358 Roll Flutter Engine from 14194cbef3ad to 356618c07a56 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105361 Roll Flutter Engine from 356618c07a56 to 8617df25c65a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105363 Roll Flutter Engine from 8617df25c65a to 8d90474fd589 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105368 Roll Flutter Engine from 8d90474fd589 to edc0f9d6050a (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105370 Roll Flutter Engine from edc0f9d6050a to d67c76f5771d (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105371 Roll Flutter Engine from d67c76f5771d to 099f8cf17ae7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105373 Roll Flutter Engine from 099f8cf17ae7 to 6e180c9c3448 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105375 Roll Flutter Engine from 6e180c9c3448 to 34a5a5563f00 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105387 Roll Flutter Engine from 34a5a5563f00 to 61a3f3397204 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105390 Roll Flutter Engine from 61a3f3397204 to 075947bf4d1a (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105403 Roll Flutter Engine from 075947bf4d1a to 9e4f37257763 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105416 Roll Flutter Engine from 9e4f37257763 to ea68aff5effd (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105418 Roll Flutter Engine from ea68aff5effd to 73c59433b576 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105177 Remove `RenderAligningShiftedBox.mixin` (no longer needed)
  packages/flutter/lib/src/rendering/debug_overflow_indicator.dart
  packages/flutter/lib/src/rendering/shifted_box.dart
Labels: framework, waiting for tree to go green

#105428 Roll Flutter Engine from 73c59433b576 to 054e4b2af99a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105435 Roll Flutter Engine from 054e4b2af99a to 87282cbb6595 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105283 [flutter_tools] return terminal to echo and line mode before exiting resident_runner
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: tool, waiting for tree to go green

#105325 Update packages with `update-packages`
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/forbidden_from_release_tests/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: team

#105451 Roll Plugins from ae6757435c97 to 8ded25d1b674 (22 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#105334 remove forced compositing from opacity
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/debug_test.dart
Labels: framework, waiting for tree to go green, will affect goldens

#105326 Small typo with text on the source of an example text file
  examples/api/README.md
Labels: team, d: api docs, d: examples, documentation

#104998 Do not crash if the controller and TabBarView are updated at different phases (build and layout) of the same frame.
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, waiting for tree to go green

#105463 Roll Flutter Engine from 3aee2bc33753 to 013a167e2b2d (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#91496 [Stepper] Add Alternative Label on horizontal-type Stepper
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/test/material/stepper_test.dart
Labels: framework, f: material design

#104438 Remove `new` keyword in a few files
  dev/benchmarks/microbenchmarks/lib/common.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/src/widgets/preferred_size.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/painting/colors_test.dart
  packages/flutter_driver/lib/driver_extension.dart
  packages/flutter_driver/lib/src/common/enum_util.dart
  packages/flutter_localizations/lib/src/cupertino_localizations.dart
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_test/lib/src/nonconst.dart
  packages/flutter_tools/test/integration.shard/test_data/basic_project.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
  packages/flutter_tools/test/integration.shard/test_data/multidex_project.dart
  packages/flutter_tools/test/integration.shard/test_data/project_with_early_error.dart
  packages/flutter_tools/test/integration.shard/test_data/stepping_project.dart
Labels: a: tests, a: text input, team, tool, framework, f: material design, a: internationalization, f: scrolling, f: cupertino, waiting for tree to go green, tech-debt

#105474 Roll Flutter Engine from 013a167e2b2d to 777c4ace2f9b (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105467 [framework] respect debugDisableShadows in slider thumbs
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: framework, f: material design, waiting for tree to go green, will affect goldens

#105482 Roll Flutter Engine from 777c4ace2f9b to 0f2870c3e92b (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102787 Migrate apply
  packages/flutter_tools/lib/src/commands/migrate.dart
  packages/flutter_tools/lib/src/commands/migrate_apply.dart
  packages/flutter_tools/lib/src/migrate/migrate_update_locks.dart
  packages/flutter_tools/test/commands.shard/permeable/migrate_apply_test.dart
Labels: tool, waiting for tree to go green

#105484 Roll Flutter Engine from 0f2870c3e92b to d202f9e66aeb (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105488 Roll Flutter Engine from d202f9e66aeb to 577337792ccd (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105493 Roll Flutter Engine from 577337792ccd to 48864fc837a2 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105290 Updated the analyze.dart deprecation check to only look for beta branch versions.
  dev/bots/analyze.dart
  dev/bots/test/analyze-test-input/root/packages/foo/deprecation.dart
  dev/bots/test/analyze_test.dart
Labels: team

#105498 Roll Flutter Engine from 48864fc837a2 to 5797ecf2fb27 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105489 Revert "remove forced compositing from opacity"
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/debug_test.dart
Labels: framework, waiting for tree to go green

#105502 Roll Flutter Engine from 5797ecf2fb27 to 462f974ac35a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105508 Roll Flutter Engine from 462f974ac35a to 09684380714f (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#100226 Fix `ButtonStyleButton` `InkWell` shape
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/test/material/elevated_button_test.dart
Labels: framework, f: material design

#105519 Roll Flutter Engine from 09684380714f to 4cdc995298b9 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105526 Roll Flutter Engine from 4cdc995298b9 to ac8648a3eedd (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102747 Text selection located wrong position when selecting multiple lines over max lines
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/test/cupertino/text_selection_test.dart
  packages/flutter/test/material/text_selection_test.dart
Labels: a: text input, framework, f: material design, f: cupertino

#105529 Roll Flutter Engine from ac8648a3eedd to eee395ee7f6a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105533 Roll Flutter Engine from eee395ee7f6a to cffea50dc349 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#100476 Fix drawers are draggable on desktop platforms
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, waiting for tree to go green

#105176 Migrate `IconButton` to Material 3 - Part 1
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/icon_button_template.dart
  examples/api/lib/material/icon_button/icon_button.2.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/test/material/icon_button_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#105540 Roll Flutter Engine from cffea50dc349 to 311d672c4dd2 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105528 [flutter_releases] Flutter stable 3.0.2 Framework Cherrypicks
  .cirrus.yml
  bin/internal/engine.version
Labels: engine

#103183 Improve the `SliverChildBuilderDelegate` docs for folk to troubleshoot.
  packages/flutter/lib/src/widgets/sliver.dart
Labels: framework, f: scrolling, d: api docs, waiting for tree to go green, documentation

#105547 Roll Flutter Engine from 311d672c4dd2 to 02590c79ad4c (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#104954 fix a _ScaffoldLayout delegate update bug
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, waiting for tree to go green

#105555 Roll Flutter Engine from 02590c79ad4c to c80de6926412 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105559 Roll Flutter Engine from c80de6926412 to c0d8f8404a66 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105569 Roll Flutter Engine from c0d8f8404a66 to b60a46cf25f7 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105574 Roll Flutter Engine from b60a46cf25f7 to 424dd746ee3d (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99557 `CupertinoSlider`: Add clickable cursor for web
  packages/flutter/lib/src/cupertino/slider.dart
  packages/flutter/test/cupertino/slider_test.dart
Labels: framework, f: cupertino, waiting for tree to go green

#105581 Roll Flutter Engine from 424dd746ee3d to 768613a5d1e3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105587 Roll Flutter Engine from 768613a5d1e3 to faa2ee80551c (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105598 Roll Plugins from 6a146d66cb40 to f7d99fa5dbac (7 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#104491 TimePicker : Ability to define dialOnly / inputOnly modes
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
Labels: framework, f: material design, waiting for tree to go green

#104405 Fix PageView throws Null check error
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/test/widgets/page_view_test.dart
Labels: framework, f: scrolling, waiting for tree to go green

#105650 Roll Flutter Engine from 38d950a44245 to d088e572f328 (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105652 Roll Flutter Engine from d088e572f328 to 6e7c6451f9ce (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105657 Roll Flutter Engine from 6e7c6451f9ce to d7ef306fd371 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105661 Roll Flutter Engine from d7ef306fd371 to 64c743b855e1 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105663 Roll Flutter Engine from 64c743b855e1 to ab9932ebf468 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105668 Roll Flutter Engine from ab9932ebf468 to d5eff9c6a66a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105600 Stop using `FallThroughError`.
  packages/flutter_tools/lib/src/commands/custom_devices.dart
  packages/flutter_tools/lib/src/custom_devices/custom_device_config.dart
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices_test.dart
Labels: tool, waiting for tree to go green

#105670 Roll Flutter Engine from d5eff9c6a66a to 3498d1958311 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105097 Fix `SliverReorderableList` item dispose
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework, waiting for tree to go green

#105683 Roll Flutter Engine from 3498d1958311 to e00fcdd8d364 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105694 Roll Flutter Engine from e00fcdd8d364 to 47e374f6329e (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105696 Fix BoxShadow toString()
  packages/flutter/lib/src/painting/box_shadow.dart
  packages/flutter/test/painting/box_painter_test.dart
Labels: framework, waiting for tree to go green

#105707 Roll Plugins from f7d99fa5dbac to aa6c864d2acb (9 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#105710 Roll Flutter Engine from 080f810cb96a to 9cda78030a1b (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105636 Enable two new arm64 ios tests
  .ci.yaml
Labels: waiting for tree to go green

#105713 Roll Flutter Engine from 9cda78030a1b to 250cf343d2b5 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105648 Export public API types from foundation/*.dart library.
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/lib/src/foundation/_isolates_io.dart
  packages/flutter/lib/src/foundation/_isolates_web.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/foundation/consolidate_response.dart
  packages/flutter/lib/src/foundation/debug.dart
  packages/flutter/lib/src/foundation/serialization.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/test/foundation/serialization_test.dart
Labels: a: tests, a: text input, team, framework, f: cupertino, waiting for tree to go green

#105462 [flutter_tools] add shuffle to hermetic run_tests
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, waiting for tree to go green

#105720 Roll Flutter Engine from 250cf343d2b5 to 9ca483101b6d (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#105560 Make flutter attach respect the `--dds-port` flag.
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/test/integration.shard/flutter_attach_test.dart
Labels: tool, waiting for tree to go green

#105726 Roll Flutter Engine from 9ca483101b6d to fc8cdcf4e9dd (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102099 Updating PrimaryScrollController for Desktop
  dev/integration_tests/flutter_gallery/lib/demo/colors_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_alert_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_text_field_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/backdrop_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/bottom_app_bar_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/cards_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/chip_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/data_table_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/elevation_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/expansion_tile_list_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/icons_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/leave_behind_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/list_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/overscroll_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/reorderable_list_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/typography_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/video_demo.dart
  examples/api/lib/widgets/scrollbar/raw_scrollbar.0.dart
  examples/api/lib/widgets/scrollbar/raw_scrollbar.shape.0.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/primary_scroll_controller.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/range_maintaining_scroll_physics_test.dart
  packages/flutter/test/widgets/scroll_view_test.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: a: text input, new feature, team, framework, f: scrolling, d: api docs, d: examples, waiting for tree to go green, a: desktop, documentation

#105737 exports public API types from scheduler/*.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/scheduler/ticker.dart
Labels: framework, waiting for tree to go green

#105741 Roll Flutter Engine from fc8cdcf4e9dd to 51dc995186fe (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#105744 Enable arm64 module_test_ios and plugin_lint_mac in prod
  .ci.yaml
Labels: waiting for tree to go green

#105746 Roll Flutter Engine from 51dc995186fe to 612c8be59d64 (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green
