Repository flutter/flutter, pull requests merged in 2022-11, with the labels that each got.

#114387 Roll Flutter Engine from c16e2c08724c to 034a2da497d9 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114389 Roll Flutter Engine from 034a2da497d9 to f721db653dd1 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114382 Added token files for badges and lists.
  dev/tools/gen_defaults/data/badge.json
  dev/tools/gen_defaults/data/list.json
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/theme_data.dart
Labels: team, framework, f: material design

#114313 🎨 Improve exceptions thrown by asset bundle
  packages/flutter/lib/src/services/asset_bundle.dart
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/widgets/image_test.dart
Labels: framework, will affect goldens, autosubmit

#114393 [releases] Roll engine to include ios 16 revert
  bin/internal/engine.version
Labels: engine

#114290 Minor code cleanup: remove redundant return
  packages/flutter/lib/src/widgets/snapshot_widget.dart
Labels: framework, autosubmit

#106525 Add Material 3 support for BottomAppBar
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/bottom_app_bar.dart
  examples/api/lib/material/bottom_app_bar/bottom_app_bar.2.dart
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/lib/src/material/bottom_app_bar_theme.dart
  packages/flutter/lib/src/material/floating_action_button_location.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#114421 Revert "Add Material 3 support for BottomAppBar"
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/bottom_app_bar.dart
  examples/api/lib/material/bottom_app_bar/bottom_app_bar.2.dart
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/lib/src/material/bottom_app_bar_theme.dart
  packages/flutter/lib/src/material/floating_action_button_location.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, warning: land on red to fix tree breakage, autosubmit, revert

#114426 Roll Flutter Engine from 78ca5609d1cb to 31a21c75d016 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114427 Roll Plugins from 91d7fe59ab03 to 5c11747ae143 (7 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#114429 Mark `Linux_android new_gallery__transition_perf` flaky
  .ci.yaml
Labels: autosubmit

#114430 Roll Flutter Engine from 31a21c75d016 to e013908440cd (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114378 hintText TextOverflow
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design

#114438 Roll Flutter Engine from e013908440cd to a98c82a5e583 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114442 Revert "Overlay always applies clip (#113770)"
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: framework, f: cupertino, autosubmit

#114042 Handle dragging improvements
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: a: text input, framework

#114448 [releases] Revert "Overlay always applies clip (#113770)" (#114442)
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: framework, f: cupertino

#114444 Roll Flutter Engine from a98c82a5e583 to c1e1a089fa16 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114449 Roll Flutter Engine from c1e1a089fa16 to f4da34f1f6a8 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#114228 Add Material 3 Popup Menu example and update existing example
  examples/api/lib/material/popup_menu/popup_menu.0.dart
  examples/api/lib/material/popup_menu/popup_menu.1.dart
  examples/api/lib/material/popupmenu/popupmenu.0.dart
  examples/api/test/material/popup_menu/popup_menu.0_test.dart
  examples/api/test/material/popup_menu/popup_menu.1_test.dart
  examples/api/test/material/popupmenu/popupmenu.0_test.dart
  packages/flutter/lib/src/material/popup_menu.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#113998 `Layer ... was previously used as oldLayer` assertion error in debug mode, and page being blank in release mode, caused by LeaderLayer addToScene bug
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/test/widgets/composited_transform_test.dart
Labels: framework, autosubmit

#114003 Introduce debugWithActiveLayoutCleared to avoid duplicated code
  packages/flutter/lib/src/rendering/object.dart
Labels: framework, autosubmit

#113987 Fix `addToScene` documentation
  packages/flutter/lib/src/rendering/layer.dart
Labels: framework, autosubmit

#113830 Fix bug that`timeDilation` is not reset, causing subsequent test errors, and add verifications to ensure such problem does not exist in the future
  dev/tools/examples_smoke_test.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/scheduler/binding_test.dart
  packages/flutter/test/scheduler/scheduler_test.dart
  packages/flutter/test/scheduler/ticker_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, team, framework, team: flakes, tech-debt, autosubmit

#113076 [flutter_tools] Introducing arg option for specifying the output directory for web
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
Labels: tool, autosubmit

#114456 [flutter_releases] Flutter stable 3.3.7 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#114453 Roll Flutter Engine from f4da34f1f6a8 to e95a7ae83097 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114464 Roll Flutter Engine from e95a7ae83097 to 81f5c30b23f3 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114079 Add Material 3 support for `Slider` - Part 1
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/slider_template.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: team, framework, f: material design

#114471 Roll Flutter Engine from 81f5c30b23f3 to 85c23bc12c56 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114476 Roll Flutter Engine from 85c23bc12c56 to c05c8a8834ca (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114479 Roll Flutter Engine from c05c8a8834ca to 32faadb330fc (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114480 Roll Flutter Engine from 32faadb330fc to f9abfc5964c9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114487 Roll Flutter Engine from f9abfc5964c9 to 9a741295e793 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114489 Roll Flutter Engine from 9a741295e793 to 03d5b933164c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114494 Roll Flutter Engine from 9ef5c9b0107b to f5eb26e3f763 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114501 Roll Flutter Engine from f5eb26e3f763 to fed311918037 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114264 [web] Changes to web keyboard selection shortcuts for more consistent behavior
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/test/widgets/editable_text_shortcuts_test.dart
Labels: a: text input, framework, autosubmit

#114513 Roll Flutter Engine from fed311918037 to cdfd9d0ad69b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114451 Always invoke impeller ios shader target
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
Labels: tool, autosubmit

#114369 [flutter_tools/dap] Map org-dartlang-sdk URIs to the location of the source files found by the analyzer
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter.dart
  packages/flutter_tools/lib/src/debug_adapters/flutter_test_adapter.dart
  packages/flutter_tools/lib/src/debug_adapters/mixins.dart
  packages/flutter_tools/test/general.shard/dap/flutter_adapter_test.dart
Labels: tool, autosubmit

#114532 Roll Flutter Engine from cdfd9d0ad69b to 4d1d7a41ebd2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114533 [flutter_tools/dap] Add a base Flutter adapter class to avoid duplication between adapters
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter.dart
  packages/flutter_tools/lib/src/debug_adapters/flutter_base_adapter.dart
  packages/flutter_tools/lib/src/debug_adapters/flutter_test_adapter.dart
  packages/flutter_tools/lib/src/debug_adapters/mixins.dart
  packages/flutter_tools/lib/src/debug_adapters/server.dart
  packages/flutter_tools/test/general.shard/dap/mocks.dart
Labels: tool

#114458 [flutter_tools] provide --timeout option to flutter drive
  dev/devicelab/bin/tasks/new_gallery__transition_perf.dart
  dev/devicelab/lib/tasks/new_gallery.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
Labels: team, tool, autosubmit

#114534 Roll Flutter Engine from 4d1d7a41ebd2 to edb049257b52 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114466 Added tokens for Snackbar widget.
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/data/snackbar.json
Labels: team

#114540 Roll Flutter Engine from edb049257b52 to e43555ad3b94 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114537 Roll gallery to b6728704a6441ac37a21e433a1e43c990780d47b
  dev/devicelab/lib/versions/gallery.dart
Labels: team, autosubmit

#114546 Roll Flutter Engine from e43555ad3b94 to 840a7b346216 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113412 [tools]validation basic Xcode settings for build ipa
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/ios/application_package.dart
  packages/flutter_tools/lib/src/ios/plist_parser.dart
  packages/flutter_tools/lib/src/macos/application_package.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
Labels: platform-ios, tool, autosubmit

#114615 Revert "[tools]validation basic Xcode settings for build ipa"
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/ios/application_package.dart
  packages/flutter_tools/lib/src/ios/plist_parser.dart
  packages/flutter_tools/lib/src/macos/application_package.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
Labels: platform-ios, tool, warning: land on red to fix tree breakage, autosubmit, revert

#114621 Do not assume that pub is the first command run by "flutter create"
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool

#113794 fixes for incoming linter
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/lib/src/widgets/sliver_layout_builder.dart
  packages/flutter_test/lib/src/test_compat.dart
Labels: a: tests, framework, f: material design, f: scrolling, autosubmit

#114469 Fix the path where footer is written.
  dev/bots/post_process_docs.dart
Labels: team, autosubmit

#114640 Roll Flutter Engine from 840a7b346216 to 66b244d9fa0a (25 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114643 Roll Flutter Engine from 66b244d9fa0a to e3c51631a9b5 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114634 [tools]reland validation basic Xcode settings for build ipa
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/ios/application_package.dart
  packages/flutter_tools/lib/src/ios/plist_parser.dart
  packages/flutter_tools/lib/src/macos/application_package.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
Labels: platform-ios, tool, autosubmit

#114647 Revert "Scribble mixin"
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/services/scribble.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/services/binding_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/scribble_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/services/text_input_utils.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
Labels: a: tests, a: text input, framework, autosubmit

#114648 Roll Flutter Engine from e3c51631a9b5 to ed31c3d76df5 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114655 [release] Revert "Scribble mixin (#104128)" (#114647)
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/services/scribble.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/services/binding_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/scribble_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/services/text_input_utils.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
Labels: a: tests, a: text input, framework

#114646 Revert "Fix text field label animation duration and curve"
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: a: text input, framework, f: material design

#114658 [release] Revert "Fix text field label animation duration and curve" (#114646)
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design

#114651 Roll Flutter Engine from ed31c3d76df5 to fb7cde697062 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114667 Roll Flutter Engine from fb7cde697062 to 69a275300a28 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114668 Roll Flutter Engine from 69a275300a28 to 4b970fca0492 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114670 Roll Flutter Engine from 4b970fca0492 to 0a2d451b3105 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114674 Roll Flutter Engine from 0a2d451b3105 to 2f90bda40b99 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114678 Roll Flutter Engine from 2f90bda40b99 to c5cc559dba99 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#114683 Roll Flutter Engine from c5cc559dba99 to 449fcc8b80e9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114688 Roll Flutter Engine from 449fcc8b80e9 to 805b145d7e97 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114689 Roll Plugins from 5c11747ae143 to a279b9dd839a (6 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#114691 Roll Flutter Engine from 805b145d7e97 to 287a3ab59269 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114631 WidgetController.startGesture trackpad support
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/test_pointer.dart
  packages/flutter_test/test/controller_test.dart
Labels: a: tests, framework, autosubmit

#114115 Change some required nullable parameters in tool to non-null
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/test/flutter_web_goldens.dart
  packages/flutter_tools/test/general.shard/ios/code_signing_test.dart
Labels: platform-ios, tool, autosubmit

#114696 Roll Flutter Engine from 287a3ab59269 to e947833ceb5b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112584 Support keyboard selection in SelectabledRegion
  examples/api/lib/material/selectable_region/selectable_region.0.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/rendering/selection.dart
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/test/rendering/paragraph_test.dart
  packages/flutter/test/widgets/default_text_editing_shortcuts_test.dart
  packages/flutter/test/widgets/editable_text_shortcuts_test.dart
  packages/flutter/test/widgets/keyboard_utils.dart
  packages/flutter/test/widgets/scrollable_selection_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: a: text input, team, framework, f: material design, f: scrolling, d: api docs, d: examples, documentation, autosubmit

#114705 Roll Flutter Engine from e947833ceb5b to 5117e858ed1e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114710 Roll Flutter Engine from 5117e858ed1e to 6950689ed775 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114637 Switch the way we retrieve the vm_service_port from /hub to iquery, on device.
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
  packages/fuchsia_remote_debug_protocol/test/fuchsia_remote_connection_test.dart
Labels: tool

#114715 Revert "Switch the way we retrieve the vm_service_port from /hub to i…
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
  packages/fuchsia_remote_debug_protocol/test/fuchsia_remote_connection_test.dart
Labels: tool

#114714 Roll Flutter Engine from 6950689ed775 to 0933ca485a07 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114719 Remove auto_cleanup of xcode caches.
  .ci.yaml
Labels: autosubmit

#114720 Roll Flutter Engine from 0933ca485a07 to 28e1ea0cc5b1 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109659 [New Feature]Support mouse wheel event on the scrollbar widget
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/cupertino/scrollbar_test.dart
  packages/flutter/test/material/scrollbar_test.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: new feature, framework, a: fidelity, f: scrolling, autosubmit

#114728 Roll Flutter Engine from 28e1ea0cc5b1 to ba390f2a7b7d (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114732 Roll Flutter Engine from ba390f2a7b7d to 223a485ceb02 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114735 Roll Flutter Engine from 223a485ceb02 to cf56eb5565e2 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#114746 Roll Flutter Engine from cf56eb5565e2 to 9c45b0ebea2c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#112390 ICU Message Syntax Parser
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_templates.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_types.dart
  packages/flutter_tools/lib/src/localizations/localizations_utils.dart
  packages/flutter_tools/lib/src/localizations/message_parser.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
  packages/flutter_tools/test/general.shard/message_parser_test.dart
  packages/flutter_tools/test/integration.shard/gen_l10n_test.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: tool, autosubmit

#114751 Roll Flutter Engine from 9c45b0ebea2c to 0886c7d0b169 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114694 Mark new_gallery__transition_perf as non-flaky
  .ci.yaml
Labels: autosubmit

#114703 Fix macOS migration nothing-to-upgrade test
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
Labels: tool

#114759 Roll Flutter Engine from 0886c7d0b169 to 36cfa9e680cf (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114760 Roll Flutter Engine from 36cfa9e680cf to b8218eacc834 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114765 Roll Flutter Engine from b8218eacc834 to 6f3018a7256a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114772 Roll Flutter Engine from 6f3018a7256a to ecd3c4857899 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114560 Adds support for the Material Badge widget, BadgeTheme, BadgeThemeData
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/badge_template.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/badge.dart
  packages/flutter/lib/src/material/badge_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/badge_test.dart
  packages/flutter/test/material/badge_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: team, framework, f: material design, autosubmit

#114786 Roll Flutter Engine from ecd3c4857899 to 0cbdf464c084 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114789 Roll Flutter Engine from 0cbdf464c084 to 4e45cfb4a26e (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114798 Roll Flutter Engine from 4e45cfb4a26e to 6b57fddd1e0d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114713 Increase minimum supported macOS version from 10.13 to 10.14
  dev/benchmarks/complex_layout/macos/Podfile
  dev/benchmarks/complex_layout/macos/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/macos/Podfile
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/channels/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/flutter_gallery/macos/Podfile
  dev/integration_tests/flutter_gallery/macos/Podfile.lock
  dev/integration_tests/flutter_gallery/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/ui/macos/Podfile
  dev/integration_tests/ui/macos/Runner.xcodeproj/project.pbxproj
  dev/manual_tests/macos/Runner.xcodeproj/project.pbxproj
  examples/api/macos/Podfile
  examples/api/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_view/macos/Runner.xcodeproj/project.pbxproj
  examples/hello_world/macos/Runner.xcodeproj/project.pbxproj
  examples/image_list/macos/Runner.xcodeproj/project.pbxproj
  examples/layers/macos/Runner.xcodeproj/project.pbxproj
  examples/platform_view/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/lib/src/commands/build_macos_framework.dart
  packages/flutter_tools/lib/src/macos/migrations/macos_deployment_target_migration.dart
  packages/flutter_tools/templates/app_shared/macos.tmpl/Runner.xcodeproj/project.pbxproj.tmpl
  packages/flutter_tools/templates/cocoapods/Podfile-macos
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
Labels: team, tool, d: api docs, d: examples, documentation

#114802 Roll Flutter Engine from 6b57fddd1e0d to 891d4a3577fa (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114813 Roll Plugins from a279b9dd839a to 3ca34103db0f (4 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#114816 Roll Flutter Engine from 891d4a3577fa to 92d9ad27f782 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114819 Revert "Adds support for the Material Badge widget, BadgeTheme, BadgeThemeData"
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/badge_template.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/badge.dart
  packages/flutter/lib/src/material/badge_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/badge_test.dart
  packages/flutter/test/material/badge_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: team, framework, f: material design

#114821 Roll Flutter Engine from 92d9ad27f782 to 3345497043a9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114733 Delegate TestWindow.updateSemantics to the wrapped SingletonFlutterWindow
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework, autosubmit

#114335 Fix TextField/CupertinoTextField hint style overflow not work.
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/test/cupertino/text_field_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#105497 Mac Page Up / Page Down in text fields
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/text_editing_intents.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: scrolling

#114828 Roll Flutter Engine from 3345497043a9 to 0075e10bc4b3 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114099 when getting xcworkspace, exclude hidden files
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/xcode_build_system_migration.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: platform-ios, tool, autosubmit

#114833 Roll Flutter Engine from 0075e10bc4b3 to 4e03d059d4bb (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114698 Reland "Scribble mixin"
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/services/scribble.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/services/binding_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/scribble_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/services/text_input_utils.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
Labels: a: tests, a: text input, framework

#114745 feat: [InteractiveViewer] provide a way to set the initial child's alignment
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: framework

#114836 Roll Flutter Engine from 4e03d059d4bb to ee48c0392935 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#114499 [RawKeyboard] Allow inconsistent modifiers for Web
  dev/tools/gen_keycodes/data/keyboard_key.tmpl
  dev/tools/gen_keycodes/data/web_logical_location_mapping.json
  packages/flutter/lib/src/services/keyboard_maps.g.dart
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: team, framework, autosubmit

#104827 Use AppBar.systemOverlayStyle to style system navigation bar
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/services/system_chrome.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/rendering/view_chrome_style_test.dart
Labels: framework, f: material design, autosubmit

#114757 [flutter_tools] add compilation failure tests for new cases added in impellerc
  packages/flutter_tools/test/integration.shard/shader_compiler_test.dart
Labels: tool, autosubmit

#114842 Roll Flutter Engine from ee48c0392935 to a81a715ce6b2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114847 Roll Flutter Engine from a81a715ce6b2 to df602070ac4b (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114826 Fix `CastError` in `StadiumBorder.lerpTo` and `StadiumBorder.lerpFrom` when using `BorderRadiusDirectional`
  packages/flutter/lib/src/painting/rounded_rectangle_border.dart
  packages/flutter/lib/src/painting/stadium_border.dart
  packages/flutter/test/painting/stadium_border_test.dart
Labels: framework, autosubmit

#114854 Roll Flutter Engine from df602070ac4b to 004a305166d5 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114855 Roll Flutter Engine from 004a305166d5 to e7d7edab98ad (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114834 Switch the way we retrieve the vm_service_port from /hub to iquery, on device.
  packages/fuchsia_remote_debug_protocol/lib/src/fuchsia_remote_connection.dart
  packages/fuchsia_remote_debug_protocol/test/fuchsia_remote_connection_test.dart
Labels: tool, autosubmit

#114048 [tool] Support `--flavor` option for `flutter install`.
  .ci.yaml
  dev/devicelab/bin/tasks/flavors_test.dart
  dev/devicelab/bin/tasks/flavors_test_ios.dart
  dev/devicelab/bin/tasks/flavors_test_win.dart
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/install.dart
  packages/flutter_tools/test/commands.shard/hermetic/install_test.dart
Labels: team, platform-ios, tool, autosubmit

#114645 [macOS] Refactor the `flutter run` macOS console output test
  dev/devicelab/bin/tasks/run_release_test_macos.dart
  dev/devicelab/lib/tasks/run_tests.dart
Labels: team, autosubmit

#114461 [CP] Handle privatecommand messages that pass no data #112590
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/test/services/text_input_test.dart
Labels: a: text input, framework

#114383 Build command dependency injection
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_macos_framework.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_darwin_framework_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
  packages/flutter_tools/test/general.shard/web/migrations/scrub_generated_plugin_registrant_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, autosubmit

#114660 Apply multidex config in kotlin dsl gradle file
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/gradle/flutter.gradle.kts
Labels: tool, autosubmit

#114922 match error statements without relying on volatile human-readable descriptions
  dev/bots/test/analyze_snippet_code_test.dart
Labels: team, autosubmit

#114945 [release] Do not assume that pub is the first command run by "flutter create" #114621
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool

#114947 CP: Fix the path where footer is written.
  dev/bots/post_process_docs.dart
Labels: team

#114806 [CP] Fix a type casting error in text_input.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/test/services/text_input_test.dart
Labels: a: text input, framework

#114812 Update `CircleAvatar` to support Material 3
  packages/flutter/lib/src/material/circle_avatar.dart
  packages/flutter/test/material/circle_avatar_test.dart
Labels: framework, f: material design

#114628 Add more supported simulator debugging options and improve tests
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
Labels: platform-ios, tool, autosubmit

#114539 [flutter_tools/dap] Add support for forwarding `flutter run --machine` exposeUrl requests to the DAP client
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter.dart
  packages/flutter_tools/test/general.shard/dap/flutter_adapter_test.dart
  packages/flutter_tools/test/general.shard/dap/mocks.dart
Labels: tool

#115025 Roll Flutter Engine from c76035429c36 to aa4b3ea2f733 (27 revisions)
  bin/internal/canvaskit.version
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#115018 Add the `channel` parameter to the Dartpad samples
  dev/snippets/config/skeletons/dartpad-sample.html
  dev/tools/dartdoc.dart
Labels: team, d: api docs, documentation, autosubmit

#115033 Roll Flutter Engine from aa4b3ea2f733 to 722414a267da (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114857 `updateSemantics` in TestWindow should always be implemented.
  packages/flutter_test/test/window_test.dart
Labels: a: tests, framework, autosubmit

#115032 [cleanup] remove unnecessary brace in string interpolation
  packages/flutter/lib/src/material/menu_anchor.dart
Labels: framework, f: material design, autosubmit

#115045 Roll Flutter Engine from 722414a267da to a9fbf6af52c9 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#115048 Roll Flutter Engine from a9fbf6af52c9 to b42ed6933cef (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#115060 Roll Flutter Engine from b42ed6933cef to a42b2d9b94fb (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#115063 Roll Flutter Engine from a42b2d9b94fb to a71c0c6c3803 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#115088 Roll Flutter Engine from a71c0c6c3803 to 1c1ad0e72a4f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#115042 Roll ios-deploy iOS artifact to arm slice version
  bin/internal/ios-deploy.version
Labels: platform-ios, tool, autosubmit

#115093 Roll Flutter Engine from 1c1ad0e72a4f to 057c53a05419 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#115095 Roll Flutter Engine from 057c53a05419 to f467eee5112c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#115002 Reland: Adds support for the Material Badge widget, BadgeTheme, BadgeThemeData (#114560)
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/badge_template.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/badge.dart
  packages/flutter/lib/src/material/badge_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/badge_test.dart
  packages/flutter/test/material/badge_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: team, framework, f: material design
