Repository flutter/flutter, pull requests merged in 2022-09, with the labels that each got.

#110739 Set linux autoroller as bringup to reopen the tree.
  .ci.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#110727 Roll Flutter Engine from d993e0d55fc6 to f0f8d10b8809 (8 revisions)
  bin/internal/canvaskit.version
  bin/internal/engine.version
Labels: will affect goldens, autosubmit

#110743 Roll Flutter Engine from f0f8d10b8809 to b149eea0a3c2 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#110748 Revert "Set linux autoroller as bringup to reopen the tree."
  .ci.yaml
Labels: autosubmit

#110796 Roll Flutter Engine from b149eea0a3c2 to 185f4f595649 (13 revisions)
  bin/internal/canvaskit.version
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110799 Roll Flutter Engine from 185f4f595649 to b197788d963c (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#110552 Make ink_sparkle use FragmentShader
  packages/flutter/lib/src/material/ink_sparkle.dart
Labels: framework, f: material design

#110801 Roll Flutter Engine from b197788d963c to 12e931851b1e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110791 [flutter_tools] change the way version is calculated on master
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: tool, autosubmit

#110804 Revert "Revert "Switch Linux_build_test flutter_gallery__transition_perf back to bringup""
  .ci.yaml
Labels: revert

#110803 Roll Flutter Engine from 12e931851b1e to 6c3ab4b2fb18 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110808 Roll Flutter Engine from 6c3ab4b2fb18 to 4f200745cc91 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110805 [tool] Fix flutter.js regression with hot-reload on promise-based init.
  packages/flutter_tools/lib/src/web/file_generators/flutter_js.dart
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_project.dart
  packages/flutter_tools/test/integration.shard/test_data/project.dart
  packages/flutter_tools/test/web.shard/hot_reload_web_test.dart
  packages/flutter_tools/test/web.shard/test_data/hot_reload_index_html_samples.dart
Labels: tool, autosubmit

#110811 Add `Overlay.maybeOf`, make `Overlay.of` return a non-nullable instance
  examples/api/lib/widgets/overlay/overlay.0.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/magnifier.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/widgets/magnifier_test.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: a: text input, team, framework, f: material design, f: cupertino, d: api docs, d: examples, documentation, autosubmit

#110821 Roll Flutter Engine from f11bf3faa8e2 to 0cebd8d7f32c (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#110824 Fix `Action.overridable` example
  examples/api/lib/widgets/actions/action.action_overridable.0.dart
  examples/api/test/widgets/actions/action.action_overridable.0_test.dart
  packages/flutter/lib/src/widgets/actions.dart
Labels: team, framework, d: api docs, d: examples, documentation, autosubmit

#110162 Deprecate `ThemeData` `errorColor` and `backgroundColor`
  dev/integration_tests/flutter_gallery/lib/demo/calculator/home.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/chip_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/shrine/app.dart
  dev/integration_tests/flutter_gallery/lib/gallery/themes.dart
  dev/tools/dartdoc.dart
  examples/api/lib/material/input_decorator/input_decoration.floating_label_style_error.0.dart
  examples/api/lib/material/input_decorator/input_decoration.label_style_error.0.dart
  examples/api/test/material/input_decorator/input_decoration.floating_label_style_error.0_test.dart
  examples/api/test/material/input_decorator/input_decoration.label_style_error.0_test.dart
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter/test_fixes/material.dart
  packages/flutter/test_fixes/material.dart.expect
Labels: a: text input, team, framework, f: material design, d: api docs, d: examples, f: routes, documentation, tech-debt, autosubmit

#110833 Roll Flutter Engine from a9ccffd0f64b to f1aa081cbe02 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110836 Roll Flutter Engine from f1aa081cbe02 to 0b7842b4d43a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110749 Delete errant .packages
  packages/flutter_tools/test/data/fuchsia_test/main/.packages
Labels: tool

#110840 Roll Flutter Engine from 0b7842b4d43a to 022ebd2e6142 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110846 Roll Flutter Engine from 022ebd2e6142 to 5bf3bf043308 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110849 Roll Flutter Engine from 5bf3bf043308 to cab181411740 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110850 Roll Flutter Engine from cab181411740 to 5aaadea94c65 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109583 Bump android SDK to 33
  packages/flutter_tools/gradle/flutter.gradle
Labels: tool, autosubmit

#110861 Revert "Bump android SDK to 33"
  packages/flutter_tools/gradle/flutter.gradle
Labels: revert

#110860 Roll Flutter Engine from 5aaadea94c65 to c6182efc856d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110688 [Benchmark: platform_views_layout] show and hide more PlatformViews
  dev/benchmarks/platform_views_layout/test_driver/scroll_perf_test.dart
Labels: team, f: scrolling, autosubmit

#110693 [flutter_tools] Instantiate shutdown hooks before localfilesystem
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/test/general.shard/base/file_system_test.dart
  packages/flutter_tools/test/general.shard/base/process_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: a: text input, tool, autosubmit

#110869 Roll Flutter Engine from c6182efc856d to a8432b0ddd04 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110822 Manually update DWDS version to `v.16.0.0`
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: team, tool, will affect goldens, autosubmit

#110830 Fix Tooltip Issue on Switch
  packages/flutter/lib/src/material/toggleable.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/switch_test.dart
Labels: framework, f: material design

#110877 Roll Flutter Engine from a8432b0ddd04 to 5768766c52ab (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#110881 Update issue reference for skipped hot restart tests
  packages/flutter_tools/test/web.shard/hot_reload_web_test.dart
Labels: tool

#110883 Roll Flutter Engine from 5768766c52ab to 7f96a1557e6c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110886 Roll Flutter Engine from 7f96a1557e6c to 5e0f577b925e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110615 [Windows] Use dark title bar on dark system theme
  dev/integration_tests/flutter_gallery/windows/runner/CMakeLists.txt
  dev/integration_tests/flutter_gallery/windows/runner/win32_window.cpp
  dev/integration_tests/flutter_gallery/windows/runner/win32_window.h
  dev/integration_tests/windows_startup_test/lib/main.dart
  dev/integration_tests/windows_startup_test/lib/windows.dart
  dev/integration_tests/windows_startup_test/test_driver/main_test.dart
  dev/integration_tests/windows_startup_test/windows/runner/CMakeLists.txt
  dev/integration_tests/windows_startup_test/windows/runner/flutter_window.cpp
  dev/integration_tests/windows_startup_test/windows/runner/win32_window.cpp
  dev/integration_tests/windows_startup_test/windows/runner/win32_window.h
  dev/manual_tests/windows/runner/CMakeLists.txt
  dev/manual_tests/windows/runner/win32_window.cpp
  dev/manual_tests/windows/runner/win32_window.h
  examples/hello_world/windows/runner/CMakeLists.txt
  examples/hello_world/windows/runner/win32_window.cpp
  examples/hello_world/windows/runner/win32_window.h
  examples/platform_channel/windows/runner/CMakeLists.txt
  examples/platform_channel/windows/runner/win32_window.cpp
  examples/platform_channel/windows/runner/win32_window.h
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/CMakeLists.txt
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/win32_window.cpp
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/win32_window.h
Labels: team, tool, d: api docs, d: examples, documentation, autosubmit

#110873 Use semantics label for backbutton and closebutton for Android
  packages/flutter/lib/src/material/back_button.dart
  packages/flutter/test/material/back_button_test.dart
Labels: framework, f: material design, autosubmit

#110890 Revert "[Windows] Use dark title bar on dark system theme"
  dev/integration_tests/flutter_gallery/windows/runner/CMakeLists.txt
  dev/integration_tests/flutter_gallery/windows/runner/win32_window.cpp
  dev/integration_tests/flutter_gallery/windows/runner/win32_window.h
  dev/integration_tests/windows_startup_test/lib/main.dart
  dev/integration_tests/windows_startup_test/lib/windows.dart
  dev/integration_tests/windows_startup_test/test_driver/main_test.dart
  dev/integration_tests/windows_startup_test/windows/runner/CMakeLists.txt
  dev/integration_tests/windows_startup_test/windows/runner/flutter_window.cpp
  dev/integration_tests/windows_startup_test/windows/runner/win32_window.cpp
  dev/integration_tests/windows_startup_test/windows/runner/win32_window.h
  dev/manual_tests/windows/runner/CMakeLists.txt
  dev/manual_tests/windows/runner/win32_window.cpp
  dev/manual_tests/windows/runner/win32_window.h
  examples/hello_world/windows/runner/CMakeLists.txt
  examples/hello_world/windows/runner/win32_window.cpp
  examples/hello_world/windows/runner/win32_window.h
  examples/platform_channel/windows/runner/CMakeLists.txt
  examples/platform_channel/windows/runner/win32_window.cpp
  examples/platform_channel/windows/runner/win32_window.h
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/CMakeLists.txt
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/win32_window.cpp
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/win32_window.h
Labels: team, tool, d: examples, revert

#110870 Add `inherit: false` to material2018 text geometry text themes
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/test/material/typography_test.dart
Labels: framework, f: material design, autosubmit

#110893 Roll Flutter Engine from 5e0f577b925e to feb1729235a7 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#110895 Roll Flutter Engine from feb1729235a7 to 0b3955367410 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110896 Roll Flutter Engine from 0b3955367410 to 5c07e3d383d9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110899 Roll Flutter Engine from 5c07e3d383d9 to 0e5ead8122e0 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110900 Roll Flutter Engine from 0e5ead8122e0 to 6c16ba516a75 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110905 Roll Flutter Engine from 6c16ba516a75 to 201fd14c7161 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#110914 Roll Flutter Engine from 201fd14c7161 to 7f44b95616cc (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110922 Roll Flutter Engine from 7f44b95616cc to e17d32059c93 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#110929 Roll Flutter Engine from e17d32059c93 to 376e82381119 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110932 Roll Flutter Engine from 376e82381119 to b8a1324a7c98 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#110934 Roll Flutter Engine from b8a1324a7c98 to 14eb83a7d0bd (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110938 Roll Flutter Engine from 14eb83a7d0bd to a8e97892ce25 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110940 Roll Flutter Engine from a8e97892ce25 to 0a2f56cd025f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110954 Roll Flutter Engine from 0a2f56cd025f to b040ed90175b (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110960 Roll Flutter Engine from b040ed90175b to b94120dfe9c6 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#105957 Update `MaterialBanner` to support Material 3
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/action_chip_template.dart
  dev/tools/gen_defaults/lib/banner_template.dart
  dev/tools/gen_defaults/lib/filter_chip_template.dart
  dev/tools/gen_defaults/lib/input_chip_template.dart
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/lib/src/material/banner_theme.dart
  packages/flutter/test/material/banner_theme_test.dart
Labels: team, framework, f: material design, autosubmit

#102078 Migrate `ListTile` disabled icon color to Material 3
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: framework, f: material design, autosubmit

#110972 Roll Flutter Engine from b94120dfe9c6 to 5a2861e499d2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110974 Roll Flutter Engine from 5a2861e499d2 to 3ff25eb9081c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110983 Roll Flutter Engine from 3ff25eb9081c to 47c281f218db (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110991 Roll Flutter Engine from 47c281f218db to 25642a45a55e (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#110992 Roll Flutter Engine from 25642a45a55e to 7b3710878503 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110993 Roll Flutter Engine from 7b3710878503 to 3c0898c0dfed (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110999 Roll Flutter Engine from 3c0898c0dfed to ddc5bb330254 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#101586 Feat: dSYM debug info for iOS & macOS builds
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  dev/devicelab/bin/tasks/module_test_ios.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/commands/symbolize.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/commands.shard/hermetic/symbolize_test.dart
  packages/flutter_tools/test/general.shard/base/build_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/host_cross_arch.shard/ios_content_validation_test.dart
  packages/flutter_tools/test/host_cross_arch.shard/macos_content_validation_test.dart
Labels: team, tool, autosubmit

#111002 Roll Flutter Engine from ddc5bb330254 to 263cf42f8a25 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111007 Roll Flutter Engine from 263cf42f8a25 to d79d26f8dc15 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#111014 Roll Flutter Engine from d79d26f8dc15 to 61020e974c3f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111016 Roll Flutter Engine from 61020e974c3f to 623b80157c7a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#111023 Roll Flutter Engine from 623b80157c7a to 7595e0996866 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110859 Preliminary PR for engine changes for Tristate checkboxes
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: a: tests, team, framework, f: material design, a: accessibility, will affect goldens

#110710 Null safety migration of packages/flutter_tools/test/commands.shard/permeable
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/devices_test.dart
  packages/flutter_tools/test/commands.shard/permeable/format_test.dart
  packages/flutter_tools/test/commands.shard/permeable/migrate_abandon_test.dart
  packages/flutter_tools/test/commands.shard/permeable/migrate_apply_test.dart
  packages/flutter_tools/test/commands.shard/permeable/migrate_status_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/commands.shard/permeable/script_test.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
Labels: tool

#110709 Null safety migration of packages/flutter_tools/test/commands.shard/hermetic, part 3/3
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/install_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/logs_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/precache_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/proxied_devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/screenshot_command_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/shell_completion_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/symbolize_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/upgrade_test.dart
Labels: tool

#110708 Null safety migration of packages/flutter_tools/test/commands.shard/hermetic, part 2/3
  packages/flutter_tools/lib/src/commands/custom_devices.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/downgrade_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/ide_config_test.dart
Labels: tool

#110268 Adds `PopupMenuPosition position` to the `PopupMenuThemeData`
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/popup_menu_theme.dart
  packages/flutter/test/material/popup_menu_theme_test.dart
Labels: framework, f: material design, autosubmit

#110713 Null safety migration of packages/flutter_tools/test/web.shard
  packages/flutter_tools/test/web.shard/sdk_web_configuration_test.dart
Labels: tool

#110707 Null safety migration of packages/flutter_tools/test/commands.shard/hermetic, part 1/3
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_suggestion_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_darwin_framework_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_test.dart
Labels: tool

#111026 Roll Flutter Engine from 7595e0996866 to ce97b5a7f944 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#111044 Roll Flutter Engine from ce97b5a7f944 to 7db0a37ac76c (6 revisions)
  bin/internal/engine.version
Labels: autosubmit

#110627 Dispose Paragraph objects
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_pageview_scroll_linethrough.dart
  dev/integration_tests/flutter_gallery/lib/demo/transformations/transformations_demo.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/painting/flutter_logo.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/debug_overflow_indicator.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/banner.dart
  packages/flutter/lib/src/widgets/semantics_debugger.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/painting/text_painter_rtl_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: text input, team, framework, f: material design, a: accessibility, f: scrolling, f: cupertino, will affect goldens, autosubmit

#110624 Fixing elevation issues with Material 3
  dev/tools/gen_defaults/lib/action_chip_template.dart
  dev/tools/gen_defaults/lib/app_bar_template.dart
  dev/tools/gen_defaults/lib/button_template.dart
  dev/tools/gen_defaults/lib/card_template.dart
  dev/tools/gen_defaults/lib/dialog_template.dart
  dev/tools/gen_defaults/lib/filter_chip_template.dart
  dev/tools/gen_defaults/lib/icon_button_template.dart
  dev/tools/gen_defaults/lib/input_chip_template.dart
  dev/tools/gen_defaults/lib/navigation_bar_template.dart
  dev/tools/gen_defaults/lib/template.dart
  examples/api/test/material/appbar/app_bar.1_test.dart
  packages/flutter/lib/src/material/action_chip.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/choice_chip.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/drawer_theme.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/elevation_overlay.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/filter_chip.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/input_chip.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/lib/src/material/navigation_bar_theme.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/drawer_theme_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/icon_button_theme_test.dart
  packages/flutter/test/material/material_test.dart
Labels: a: text input, team, framework, f: material design, d: api docs, d: examples, documentation

#111052 Roll Flutter Engine from 3af5d354cd4f to 38ee17b7a817 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111047 Switch `Linux_build_test flutter_gallery__transition_perf` to prod
  .ci.yaml
Labels: autosubmit

#111057 Update engine version for 3.3.1.
  bin/internal/engine.version
Labels: tool, framework, engine

#111058 Roll Flutter Engine from 38ee17b7a817 to 3300fd194747 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#111059 Roll Flutter Engine from 3300fd194747 to d7b9d7260ba0 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#111067 Roll Flutter Engine from d7b9d7260ba0 to 2eba5a7485e9 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111072 Roll Flutter Engine from 2eba5a7485e9 to 52271211177c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111075 Roll Flutter Engine from 52271211177c to a8551aa0e9b9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111082 Roll Flutter Engine from a8551aa0e9b9 to 7549f94b55d1 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110998 Update null safety warnings in prep for Dart 3
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
Labels: tool

#111087 Roll Flutter Engine from 7549f94b55d1 to d94d3d5dd807 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#111093 Roll Flutter Engine from d94d3d5dd807 to c0a06da6b228 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110600 Request `DartPerformanceMode.latency` during transitions
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/scheduler/performance_mode_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/integration_test/test/binding_test.dart
Labels: framework, f: routes

#111092 [Fonts] Update icons
  bin/internal/material_fonts.version
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/test/material/icons_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#111111 Roll Flutter Engine from c0a06da6b228 to bc69a4463504 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#111005 [macOS] Add `platform_view` example.
  examples/platform_view/lib/main.dart
  examples/platform_view/macos/.gitignore
  examples/platform_view/macos/Flutter/Flutter-Debug.xcconfig
  examples/platform_view/macos/Flutter/Flutter-Release.xcconfig
  examples/platform_view/macos/Runner.xcodeproj/project.pbxproj
  examples/platform_view/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/platform_view/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/platform_view/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/platform_view/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/platform_view/macos/Runner/AppDelegate.swift
  examples/platform_view/macos/Runner/Base.lproj/MainMenu.xib
  examples/platform_view/macos/Runner/Configs/AppInfo.xcconfig
  examples/platform_view/macos/Runner/Configs/Debug.xcconfig
  examples/platform_view/macos/Runner/Configs/Release.xcconfig
  examples/platform_view/macos/Runner/Configs/Warnings.xcconfig
  examples/platform_view/macos/Runner/DebugProfile.entitlements
  examples/platform_view/macos/Runner/Info.plist
  examples/platform_view/macos/Runner/MainFlutterWindow.swift
  examples/platform_view/macos/Runner/PlatformViewController.swift
  examples/platform_view/macos/Runner/PlatformViewController.xib
  examples/platform_view/macos/Runner/Release.entitlements
Labels: team, d: examples, autosubmit

#110887 Use raw fontFamilyFallback values without packages when constructing a merged TextStyle
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/painting/text_style_test.dart
Labels: a: text input, framework, autosubmit

#111120 Roll Flutter Engine from bc69a4463504 to 611966bc3bcd (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#110712 Null safety migration of packages/flutter_tools/test/general.shard, part 2/2
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/args_test.dart
  packages/flutter_tools/test/general.shard/emulator_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
  packages/flutter_tools/test/general.shard/web/golden_comparator_process_test.dart
  packages/flutter_tools/test/general.shard/web/migrations/scrub_generated_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/web/web_asset_server_test.dart
  packages/flutter_tools/test/general.shard/web/web_expression_compiler_test.dart
Labels: tool

#111114 [web] skip flaky date picker golden tests
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#110533 Migrate Linux android gallery `e2e` and `hybrid` tests to build+test
  .ci.yaml
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_hybrid.dart
  dev/devicelab/lib/tasks/gallery.dart
Labels: team, autosubmit

#110613 110598: expect() in semantic test producing unhelpful output
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, autosubmit

#111128 Roll Flutter Engine from 611966bc3bcd to 1b9c9d0b5b78 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111117 Remove flutter_gallery_mac__start_up as target in .ci.yaml
  .ci.yaml
  TESTOWNERS
Labels: team, autosubmit

#110876 Create consts for service extension names so they can be accessed from tooling
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/service_extensions.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: framework

#111139 [platform_view]use cmd to uninstall the app
  dev/devicelab/bin/tasks/native_platform_view_ui_tests_ios.dart
  dev/integration_tests/ios_platform_view_tests/ios/PlatformViewUITests/PlatformViewUITests.m
Labels: team, autosubmit

#111148 Roll Flutter Engine from 1b9c9d0b5b78 to cb2234bc0eab (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111146 Create consts for foundation service extension names so they can be accessed from tooling
  packages/flutter/lib/foundation.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/service_extensions.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: framework

#111132 Annual spelling error fix
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/list_section.dart
  packages/flutter/lib/src/cupertino/list_tile.dart
  packages/flutter/lib/src/cupertino/magnifier.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/persistent_hash_map.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/magnifier.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/selection_area.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/painting/edge_insets.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/services/hardware_keyboard.dart
  packages/flutter/lib/src/services/platform_channel.dart
  packages/flutter/lib/src/services/spell_check.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/text_editing_delta.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/image_filter.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/lib/src/widgets/router.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/lib/src/widgets/snapshot_widget.dart
  packages/flutter/lib/src/widgets/tap_region.dart
  packages/flutter/lib/src/widgets/text_editing_intents.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/lib/src/widgets/ticker_provider.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/icon_test.dart
  packages/flutter_tools/lib/src/commands/upgrade.dart
Labels: a: text input, tool, framework, f: material design, f: scrolling, f: cupertino, f: routes, autosubmit

#111147 Delete `flutter_gallery_mac__start_up`.
  dev/devicelab/bin/tasks/flutter_gallery_mac__start_up.dart
Labels: team, autosubmit

#111152 Roll Flutter Engine from cb2234bc0eab to 370885a3370a (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111149 Create consts for rendering service extension names so they can be accessed from tooling
  packages/flutter/lib/rendering.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/debug.dart
  packages/flutter/lib/src/rendering/service_extensions.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: framework

#111154 Add prompt to publish on discord
  dev/conductor/core/lib/src/state.dart
Labels: team, d: conductor, autosubmit

#111159 Roll Flutter Engine from 55c4a3954e52 to 24babd254b65 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111035 fixes FadeInImage for an edge case
  packages/flutter/lib/src/widgets/fade_in_image.dart
  packages/flutter/test/widgets/fade_in_image_test.dart
Labels: framework, autosubmit

#111163 Roll Flutter Engine from 24babd254b65 to 4096e133ef51 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110851 Reland: Show output from pub get in flutter pub get
  dev/bots/analyze_snippet_code.dart
  dev/devicelab/lib/tasks/web_dev_mode_tests.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_get_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/update_packages_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/format_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/integration.shard/web_plugin_registrant_test.dart
  packages/flutter_tools/test/src/fakes.dart
  packages/flutter_tools/test/src/test_flutter_command_runner.dart
  packages/flutter_tools/test/src/throwing_pub.dart
Labels: a: text input, team, tool

#110013 Windows version check in doctor
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/windows/windows_version_validator.dart
  packages/flutter_tools/test/general.shard/windows_version_validator_test.dart
Labels: tool, autosubmit

#110379 Re-land [macOS] Bring up "flutter_gallery" devicelab, start up test for x86.
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/flutter_gallery_macos__start_up.dart
Labels: team, autosubmit

#111196 Roll Plugins from c6b2f8a84439 to fd03cdeffa4e (26 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#111112 Fixed one-frame InkWell overlay color problem on unhover
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: framework, f: material design

#111201 Revert Ballistic & Clamping simulation updates
  dev/tools/generate_android_spline_data.dart
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/scroll_activity.dart
  packages/flutter/lib/src/widgets/scroll_position_with_single_context.dart
  packages/flutter/lib/src/widgets/scroll_simulation.dart
  packages/flutter/test/widgets/scroll_activity_test.dart
  packages/flutter/test/widgets/scroll_simulation_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/scrollable_semantics_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
Labels: a: text input, team, framework, a: animation, a: accessibility, f: scrolling, autosubmit

#111202 [framework] revert removal of opacity
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/rendering/proxy_sliver_test.dart
  packages/flutter/test/widgets/animated_opacity_repaint_test.dart
Labels: framework, will affect goldens, autosubmit

#111041 [macOS] Add `platform_view_macos__start_up` tests devicelab test suite.
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/platform_view_macos__start_up.dart
Labels: team, autosubmit

#110814 Fix spell_check_test
  dev/integration_tests/non_nullable/android/app/src/main/res/drawable/launch_background.xml
  dev/integration_tests/spell_check/android/app/src/main/res/values/styles.xml
  dev/integration_tests/spell_check/integration_test/integration_test.dart
  packages/flutter/lib/src/services/spell_check.dart
  packages/integration_test/example/android/app/src/main/res/drawable/launch_background.xml
Labels: team, framework, integration_test, autosubmit

#111032 Use tristate checkbox engine changes
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, f: material design, a: accessibility

#111153 Migrated `Checkbox` to Material 3 - Added Error State
  dev/tools/gen_defaults/lib/checkbox_template.dart
  examples/api/lib/material/checkbox/checkbox.1.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/checkbox_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#110711 Null safety migration of packages/flutter_tools/test/general.shard, part 1/2
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
  packages/flutter_tools/test/general.shard/drive/web_driver_service_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_start_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
Labels: tool

#110606 Added platform channel integration tests for macos
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/channels_integration_test_macos.dart
  dev/integration_tests/channels/lib/main.dart
  dev/integration_tests/channels/macos/.gitignore
  dev/integration_tests/channels/macos/Flutter/Flutter-Debug.xcconfig
  dev/integration_tests/channels/macos/Flutter/Flutter-Release.xcconfig
  dev/integration_tests/channels/macos/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/channels/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/channels/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/integration_tests/channels/macos/Runner.xcworkspace/contents.xcworkspacedata
  dev/integration_tests/channels/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/integration_tests/channels/macos/Runner/AppDelegate.swift
  dev/integration_tests/channels/macos/Runner/Assets.xcassets/Contents.json
  dev/integration_tests/channels/macos/Runner/Base.lproj/MainMenu.xib
  dev/integration_tests/channels/macos/Runner/Configs/AppInfo.xcconfig
  dev/integration_tests/channels/macos/Runner/Configs/Debug.xcconfig
  dev/integration_tests/channels/macos/Runner/Configs/Release.xcconfig
  dev/integration_tests/channels/macos/Runner/Configs/Warnings.xcconfig
  dev/integration_tests/channels/macos/Runner/DebugProfile.entitlements
  dev/integration_tests/channels/macos/Runner/Info.plist
  dev/integration_tests/channels/macos/Runner/MainFlutterWindow.swift
  dev/integration_tests/channels/macos/Runner/Release.entitlements
Labels: team, autosubmit

#111240 Roll Flutter Engine from 4096e133ef51 to 6610f3f2a9fb (11 revisions)
  bin/internal/canvaskit.version
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#110985 Fix TabBarView with no animation not navigating
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, autosubmit

#111242 Roll Flutter Engine from 6610f3f2a9fb to 33faf88f6ecc (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111249 Roll Flutter Engine from 33faf88f6ecc to f504a5b73e1f (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#111254 Roll Flutter Engine from f504a5b73e1f to a71e3a5480e1 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111224 Add ability to show magnifier on long press
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#111267 Roll Flutter Engine from a71e3a5480e1 to dfe5c9e58bce (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111222 Create enum for scheduler service extension names so they can be accessed from tooling
  packages/flutter/lib/scheduler.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/scheduler/service_extensions.dart
  packages/flutter/test/foundation/service_extensions_test.dart
Labels: framework

#111060 Fix typos introduced typos in `popup_menu_theme_test.dart`
  packages/flutter/test/material/popup_menu_theme_test.dart
Labels: framework, f: material design, autosubmit

#111270 Roll Flutter Engine from dfe5c9e58bce to 90815e5f75de (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111275 Roll Flutter Engine from 90815e5f75de to b9a20e0f60f6 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#111277 Revert "Disable docs in cirrus to unblock the autoroller."
  .cirrus.yml
Labels: autosubmit

#111278 Revert "Temporarily disable docs tests."
  .ci.yaml
Labels: autosubmit

#111280 [flutter_tools] add test debugging for #111272
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, autosubmit

#111283 Roll Flutter Engine from b9a20e0f60f6 to 7b4957e8cffb (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#111287 Roll Plugins from fd03cdeffa4e to d4d3bd76fd54 (6 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#111288 Revert "Update `MaterialBanner` to support Material 3"
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/banner_template.dart
  dev/tools/gen_defaults/lib/chip_action_template.dart
  dev/tools/gen_defaults/lib/chip_filter_template.dart
  dev/tools/gen_defaults/lib/chip_input_template.dart
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/lib/src/material/banner_theme.dart
  packages/flutter/test/material/banner_theme_test.dart
Labels: team, framework, f: material design, autosubmit

#110095 Migrated `Switch` to Material 3
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/switch_template.dart
  examples/api/lib/material/switch/switch.2.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/switch_theme_test.dart
Labels: team, framework, f: material design

#111289 Roll Flutter Engine from 7b4957e8cffb to ab80786b2bb2 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#111290 Fix documentation for InputDecoration.focusColor
  packages/flutter/lib/src/material/input_decorator.dart
Labels: framework, f: material design, autosubmit
