Repository flutter/flutter, pull requests merged in 2022-05, with the labels that each got.

#102889 Roll Engine from 29a6bec85a3d to 9a1f497f1d90 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#102891 Roll Engine from 9a1f497f1d90 to 0accc792496e (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#102892 Roll Engine from 0accc792496e to 1636f0064088 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102896 Roll Engine from 1636f0064088 to d00bf2c6590e (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102899 Roll Engine from d00bf2c6590e to e59fa964dc78 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102900 Roll Engine from e59fa964dc78 to 40ca11426a9f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#102901 Roll Engine from 40ca11426a9f to 2f43ad6044dd (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#102905 Roll Engine from 2f43ad6044dd to bfa5f5df992a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102907 Roll Engine from bfa5f5df992a to f57cdbd4680a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#102913 Roll Engine from f57cdbd4680a to ed074738efcc (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#102917 Roll Engine from ed074738efcc to b8e8fcb9b564 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102919 Roll Engine from b8e8fcb9b564 to 66430ae6c18e (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102922 Roll Engine from 66430ae6c18e to 0c4573cd98da (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102538 Embed Flutter and App frameworks for add-to-app on iOS
  dev/devicelab/bin/tasks/module_test_ios.dart
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Flutter/engine/Flutter.podspec.tmpl
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: team, platform-ios, tool, a: existing-apps, waiting for tree to go green

#102926 Roll Engine from 0c4573cd98da to 302393580add (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102927 Roll Plugins from 160c714e75f3 to bbcb88d3bae4 (20 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#100312 Fix `CupertinoDatePicker` dark mode text color
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: framework, f: cupertino

#100313 Fix `CupertinoFormRow` dark mode text color
  packages/flutter/lib/src/cupertino/form_row.dart
  packages/flutter/test/cupertino/form_row_test.dart
Labels: framework, f: cupertino

#100310 Fix `CupertinoPicker` dark mode text color
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/test/cupertino/picker_test.dart
Labels: framework, f: cupertino

#97896 Fix position of CupertinoContextMenu within Transform.scale
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/test/cupertino/context_menu_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, a: text input, framework, f: material design, f: cupertino

#102938 Revert "Fix position of CupertinoContextMenu within Transform.scale"
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/test/cupertino/context_menu_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, a: text input, framework, f: material design, f: cupertino

#102929 Deflake arm64 android tests
  .ci.yaml
Labels: waiting for tree to go green

#102930 Roll Engine from 302393580add to cafc4eb02659 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#102937 [flutter_tools] update feature defaults
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/test/general.shard/features_test.dart
Labels: tool, waiting for tree to go green

#102941 Roll Engine from cafc4eb02659 to 9018e487d9f8 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#102949 Roll Engine from 9018e487d9f8 to 5a0432f959e1 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102953 Roll Engine from 5a0432f959e1 to a00140cb28fb (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102956 Roll Engine from a00140cb28fb to 53eeb5a1c7e0 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102959 Roll Engine from 53eeb5a1c7e0 to 6919a5114f01 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#102961 Roll Engine from 6919a5114f01 to 07819e5f45dd (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102965 Roll Engine from 07819e5f45dd to 5cb4391241dd (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#102972 Roll Engine from 5cb4391241dd to a3b3511fd773 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102976 [flutter_releases] Revert "Re-land reverse case for AppBar scrolled under" (#102580)
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/widgets/scroll_notification_observer.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, f: scrolling

#102979 Roll Plugins from bbcb88d3bae4 to 60b0b2d31ee0 (14 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#102980 Roll Engine from a3b3511fd773 to 84e364559d4c (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#100311 Fix `CupertinoTimerPicker` dark mode text color
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: framework, f: cupertino, waiting for tree to go green

#102833 [devicelab, flutter_test, ...] rename local functions with `_`s
  dev/devicelab/lib/tasks/microbenchmarks.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter_localizations/test/material/date_picker_test.dart
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/lib/src/event_simulation.dart
  packages/flutter_test/test/accessibility_test.dart
Labels: a: tests, team, framework, f: material design, a: accessibility, a: internationalization, waiting for tree to go green

#102982 Roll Engine from 84e364559d4c to 0a39dcddd3fd (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102984 Roll Engine from 0a39dcddd3fd to 87226dbd54ef (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102987 Roll Engine from 87226dbd54ef to 37c3d89a78e0 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102962 partial revert of repaint boundary change
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/opacity_repaint_test.dart
Labels: framework, waiting for tree to go green

#102989 Roll Engine from 37c3d89a78e0 to 6d9e19184d34 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#102942 Clean up ci.yaml and add missing gradle caches
  .ci.yaml
Labels: waiting for tree to go green

#101036 (Test-only) Add tests for new `ImageFilter.dilate`/`ImageFilter.erode` in flutter engine
  packages/flutter/test/widgets/image_filter_test.dart
Labels: framework, waiting for tree to go green, will affect goldens

#102999 Roll Engine from 6d9e19184d34 to acced3da4e72 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#103007 Roll Engine from acced3da4e72 to a98987d78c8a (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103012 Roll Engine from a98987d78c8a to a7f7ff020ddf (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103018 [flutter_releases] Roll Engine from 4df9cf27052b to 79152137a94c (8 revisions) (#102551)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
  dev/conductor/core/lib/src/codesign.dart
Labels: team, engine

#103017 Roll Engine from a7f7ff020ddf to 0b46116471cc (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103021 Roll Engine from 0b46116471cc to 84d353906299 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102943 Reland "Fix position of CupertinoContextMenu within Transform.scale"
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/test/cupertino/context_menu_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, a: text input, framework, f: material design, f: cupertino

#103026 Roll Engine from 84d353906299 to 0c5d7c579a42 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103027 Roll Engine from 0c5d7c579a42 to 95207488f999 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#103030 Roll Engine from 95207488f999 to 6e49e558090c (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103033 Roll Engine from 6e49e558090c to e32059bed53e (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#102808 Add prominent link to Google Fonts from icons documentation
  packages/flutter/lib/src/material/icons.dart
Labels: framework, f: material design

#103056 Roll Engine from e32059bed53e to d73708ca8882 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102453 Fix crash from alt-tab'ing just after startup
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/test/rendering/mouse_tracker_test.dart
Labels: framework, waiting for tree to go green

#103074 Revert "Fix crash from alt-tab'ing just after startup"
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/test/rendering/mouse_tracker_test.dart
Labels: framework

#103031 Fix `NavigationDestination` API doc
  packages/flutter/lib/src/material/navigation_bar.dart
Labels: framework, f: material design, waiting for tree to go green

#103048 [ci.yaml] Revert devicelab targets back to LUCI scheduler
  .ci.yaml
Labels: waiting for tree to go green

#103008 Update ffi gem installation instructions
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: platform-ios, tool, platform-mac, waiting for tree to go green

#103006 Add assertion that snackbars have a place to go
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: framework, f: material design, a: quality, waiting for tree to go green, a: error message

#103080 [flutter_releases] Roll engine to 2c34820
  bin/internal/engine.version
Labels: engine

#103088 Remove unused flutterMacOSPodspec artifact
  packages/flutter_tools/lib/src/artifacts.dart
Labels: tool, platform-mac, waiting for tree to go green

#103103 Roll Engine from d73708ca8882 to c08675194a66 (16 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
  dev/conductor/core/lib/src/codesign.dart
Labels: waiting for tree to go green

#103105 Roll Engine from c08675194a66 to 912da8da4776 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#103107 Roll Engine from 912da8da4776 to 327be3c357a8 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103042 `CupertinoSearchTextField`: Add interactive examples
  examples/api/lib/cupertino/search_field/cupertino_search_field.0.dart
  examples/api/lib/cupertino/search_field/cupertino_search_field.1.dart
  examples/api/test/cupertino/search_field/cupertino_search_field.0_test.dart
  examples/api/test/cupertino/search_field/cupertino_search_field.1_test.dart
  packages/flutter/lib/src/cupertino/search_field.dart
Labels: team, framework, f: cupertino, d: api docs, d: examples, documentation

#103041 `CupertinoFormRow`: Add an interactive example
  examples/api/lib/cupertino/form_row/cupertino_form_row.0.dart
  examples/api/test/cupertino/form_row/cupertino_form_row.0_test.dart
  packages/flutter/lib/src/cupertino/form_row.dart
Labels: team, framework, f: cupertino, d: api docs, d: examples, documentation

#103040 `CupertinoActivityIndicator`: Add an interactive example
  examples/api/lib/cupertino/activity_indicator/cupertino_activity_indicator.0.dart
  examples/api/test/cupertino/activity_indicator/cupertino_activity_indicator.0_test.dart
  packages/flutter/lib/src/cupertino/activity_indicator.dart
Labels: team, framework, f: cupertino, d: api docs, d: examples, documentation

#103043 `CupertinoSwitch`: Add an interactive example
  examples/api/lib/cupertino/switch/cupertino_switch.0.dart
  examples/api/test/cupertino/switch/cupertino_switch.0_test.dart
  packages/flutter/lib/src/cupertino/switch.dart
Labels: team, framework, f: cupertino, d: api docs, d: examples, documentation

#103044 Cupertino examples improvements and clean up
  examples/api/lib/cupertino/bottom_tab_bar/cupertino_tab_bar.0.dart
  examples/api/lib/cupertino/button/cupertino_button.0.dart
  examples/api/lib/cupertino/date_picker/cupertino_date_picker.0.dart
  examples/api/lib/cupertino/date_picker/cupertino_timer_picker.0.dart
  examples/api/lib/cupertino/dialog/cupertino_action_sheet.0.dart
  examples/api/lib/cupertino/dialog/cupertino_alert_dialog.0.dart
  examples/api/lib/cupertino/nav_bar/cupertino_navigation_bar.0.dart
  examples/api/lib/cupertino/nav_bar/cupertino_sliver_nav_bar.0.dart
  examples/api/lib/cupertino/picker/cupertino_picker.0.dart
  examples/api/lib/cupertino/segmented_control/cupertino_segmented_control.0.dart
  examples/api/lib/cupertino/segmented_control/cupertino_sliding_segmented_control.0.dart
  examples/api/lib/cupertino/slider/cupertino_slider.0.dart
  examples/api/lib/cupertino/text_field/cupertino_text_field.0.dart
  examples/api/test/cupertino/bottom_tab_bar/cupertino_tab_bar.0_test.dart
  examples/api/test/cupertino/button/cupertino_button.0_test.dart
  examples/api/test/cupertino/date_picker/cupertino_date_picker.0_test.dart
  examples/api/test/cupertino/date_picker/cupertino_timer_picker.0_test.dart
  examples/api/test/cupertino/dialog/cupertino_action_sheet.0_test.dart
  examples/api/test/cupertino/dialog/cupertino_alert_dialog.0_test.dart
  examples/api/test/cupertino/nav_bar/cupertino_navigation_bar.0_test.dart
  examples/api/test/cupertino/nav_bar/cupertino_sliver_nav_bar.0_test.dart
  examples/api/test/cupertino/picker/cupertino_picker.0_test.dart
  examples/api/test/cupertino/segmented_control/cupertino_segmented_control.0_test.dart
  examples/api/test/cupertino/segmented_control/cupertino_sliding_segmented_control.0_test.dart
  examples/api/test/cupertino/slider/cupertino_slider.0_test.dart
  examples/api/test/cupertino/text_field/cupertino_text_field.0.dart
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
Labels: a: text input, team, framework, f: scrolling, f: cupertino, d: api docs, d: examples, documentation

#103108 Roll Engine from 327be3c357a8 to f14e879b94e3 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103112 Roll Engine from f14e879b94e3 to ecab90afe14e (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102916 Fix DraggableScrollableSheet leaks Ticker
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: framework, f: scrolling, waiting for tree to go green

#103110 Add missing HIG links to cupertino documentation
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/lib/src/cupertino/text_field.dart
Labels: a: text input, framework, f: cupertino

#103127 Roll Engine from ecab90afe14e to 88afc654a7c0 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102991 rename local functions with `_`s
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/cupertino/form_row_test.dart
  packages/flutter/test/cupertino/picker_test.dart
Labels: framework, f: cupertino, waiting for tree to go green

#103138 Revert "Add assertion that snackbars have a place to go"
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: framework, f: material design, waiting for tree to go green

#103140 Roll Engine from 88afc654a7c0 to eba6dba14c69 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103142 [flutter_releases] Revert "Fix jumping when doing long press for selecting text (#102270)"
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework

#103144 Roll Plugins from cafc154de894 to 810d8344aa9e (11 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#103141 Revert "Fix jumping when doing long press for selecting text"
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, waiting for tree to go green

#103117 Remove unnecessary space in doc comment of `TextStyle`
  packages/flutter/lib/src/painting/text_style.dart
Labels: a: text input, framework, waiting for tree to go green

#103003 Adding two staging tests to ci.yaml
  .ci.yaml
Labels: waiting for tree to go green

#103101 [flutter_releases] Flutter beta 2.13.0-0.4.pre Framework Cherrypicks
  bin/internal/engine.version
  dev/bots/service_worker_test.dart
  dev/bots/test.dart
  dev/integration_tests/web/web/index_with_flutterjs.html
  dev/integration_tests/web/web/index_with_flutterjs_short.html
  dev/integration_tests/web/web/index_without_flutterjs.html
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/app_bar_template.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/app_bar_theme.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/app_bar_theme_test.dart
  packages/flutter/test/rendering/binding_test.dart
  packages/flutter_tools/lib/src/web/flutter_js.dart
Labels: engine

#103148 Roll Engine from eba6dba14c69 to d4d2afd04186 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103077 DefaultTextEditingShortcuts should use meta-based shortcut for iOS
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/test/widgets/app_test.dart
  packages/flutter/test/widgets/editable_text_shortcuts_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, waiting for tree to go green

#102093 Fix Backbutton is not displayed when there is a endDrawer
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: framework, f: material design, f: routes, waiting for tree to go green

#103154 Roll Engine from d4d2afd04186 to 387a9b9e300f (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103159 Roll Engine from 387a9b9e300f to b1b0a5adffe9 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103093 Reland "Fix crash from alt-tab'ing just after startup"
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/test/rendering/mouse_tracker_test.dart
Labels: framework, waiting for tree to go green

#101493 Clear the cached data of `RenderBox` if its parent re-layout
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/test/rendering/cached_intrinsics_test.dart
Labels: framework, waiting for tree to go green

#101748 Does not replace the root layer unnecessarily
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/test/rendering/view_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: framework, waiting for tree to go green

#103164 Roll Engine from b1b0a5adffe9 to 47c8a6acf9f3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#103157 [flutter_releases] Roll engine to 1efe6a3
  bin/internal/engine.version
Labels: engine

#103172 Roll Engine from 47c8a6acf9f3 to c8ccb265c5bc (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#102752 [DropdownButton]: Fix `alignment`parameter doesn't work for `hint` when `isExpanded: true`
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: framework, f: material design, waiting for tree to go green

#103095 Improve `Hero` examples
  examples/api/lib/widgets/heroes/hero.0.dart
  examples/api/lib/widgets/heroes/hero.1.dart
Labels: team, d: api docs, d: examples, waiting for tree to go green, documentation

#102748 `DropdownButton`: Update `selectedItemBuilder` example to show case item alignment and update DropdownButton examples
  examples/api/lib/material/dropdown/dropdown_button.0.dart
  examples/api/lib/material/dropdown/dropdown_button.selected_item_builder.0.dart
  examples/api/lib/material/dropdown/dropdown_button.style.0.dart
  examples/api/test/material/dropdown/dropdown_button.0_test.dart
  examples/api/test/material/dropdown/dropdown_button.selected_item_builder.0_test.dart
  examples/api/test/material/dropdown/dropdown_button.style.0_test.dart
Labels: team, f: material design, d: api docs, d: examples, waiting for tree to go green, documentation

#103178 Roll Engine from c8ccb265c5bc to 34c9706d840d (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103182 Roll Engine from 34c9706d840d to eb4f476fa6c7 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103161 Add debug logging to deferred components test for deflaking
  packages/flutter_tools/test/integration.shard/deferred_components_test.dart
Labels: tool, waiting for tree to go green

#103197 Roll Engine from a73b884510c6 to 6c05b5b06ded (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103134 Add default permissions
  .github/workflows/mirror.yml
Labels: waiting for tree to go green

#103201 Roll Engine from 6c05b5b06ded to 61de103d7993 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103207 Roll Plugins from 810d8344aa9e to 49b06b36c998 (4 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#103206 [flutter_releases] Cherry pick flutter-2.13-candidate.7 changes
  bin/internal/engine.version
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, engine

#103209 Roll Engine from 61de103d7993 to 47752f61be71 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#103175 [ci.yaml] Remove explicit caches
  .ci.yaml
Labels: waiting for tree to go green

#103214 [flutter_releases] partial revert of repaint boundary change (#102962)
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/opacity_repaint_test.dart
Labels: framework

#103123 Fix a [CupertinoDatePicker] semantics bug
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: framework, f: cupertino, waiting for tree to go green

#103211 Roll Engine from 47752f61be71 to 41e45ca446b4 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#103189 Increase Tooltip font size on Desktop
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: framework, f: material design, waiting for tree to go green

#103221 Roll Engine from 41e45ca446b4 to 7a7d9c8d61a4 (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103225 [flutter_releases] remove assert on markNeedsCompositingBitsUpdate #103227
  packages/flutter/lib/src/rendering/object.dart
Labels: a: text input, framework, engine

#103229 Roll Engine from 7a7d9c8d61a4 to e23c43195c64 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103226 remove unnecessary .toString()
  dev/bots/prepare_package.dart
  dev/bots/test.dart
  dev/bots/unpublish_package.dart
  dev/conductor/core/lib/src/version.dart
  dev/devicelab/lib/framework/utils.dart
  dev/integration_tests/android_views/lib/motion_events_page.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/icons_demo.dart
  dev/integration_tests/hybrid_android_views/lib/motion_events_page.dart
  dev/tools/examples_smoke_test.dart
  dev/tools/gen_defaults/lib/template.dart
  dev/tools/update_icons.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/animation/curves_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/material/tooltip_theme_test.dart
  packages/flutter_driver/lib/src/common/handler_factory.dart
  packages/flutter_tools/lib/src/android/application_package.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_types.dart
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/integration.shard/deferred_components_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/integration_test/lib/common.dart
Labels: a: tests, a: text input, team, tool, framework, a: animation, f: material design, waiting for tree to go green, integration_test

#103233 Roll Engine from e23c43195c64 to a205aad3bbb2 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103239 Roll Engine from a205aad3bbb2 to f94890e17e47 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103240 Roll Engine from f94890e17e47 to 726f9996cc0b (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103244 Roll Engine from 726f9996cc0b to 09c935bffa23 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103245 Roll Engine from 09c935bffa23 to 1ccb5ed131cb (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103249 Roll Engine from 1ccb5ed131cb to 703682671a80 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103251 Roll Engine from 703682671a80 to bfa87fdac664 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#103227 remove assert on markNeedsCompositingBitsUpdate
  packages/flutter/lib/src/rendering/object.dart
Labels: framework, waiting for tree to go green

#103128 Update Cupertino examples and add missing tests
  examples/api/lib/cupertino/activity_indicator/cupertino_activity_indicator.0.dart
  examples/api/lib/cupertino/button/cupertino_button.0.dart
  examples/api/lib/cupertino/context_menu/cupertino_context_menu.0.dart
  examples/api/lib/cupertino/date_picker/cupertino_date_picker.0.dart
  examples/api/lib/cupertino/date_picker/cupertino_timer_picker.0.dart
  examples/api/lib/cupertino/form_row/cupertino_form_row.0.dart
  examples/api/lib/cupertino/page_scaffold/cupertino_page_scaffold.0.dart
  examples/api/lib/cupertino/picker/cupertino_picker.0.dart
  examples/api/lib/cupertino/refresh/cupertino_sliver_refresh_control.0.dart
  examples/api/lib/cupertino/route/show_cupertino_dialog.0.dart
  examples/api/lib/cupertino/route/show_cupertino_modal_popup.0.dart
  examples/api/lib/cupertino/scrollbar/cupertino_scrollbar.0.dart
  examples/api/lib/cupertino/scrollbar/cupertino_scrollbar.1.dart
  examples/api/lib/cupertino/segmented_control/cupertino_segmented_control.0.dart
  examples/api/lib/cupertino/segmented_control/cupertino_sliding_segmented_control.0.dart
  examples/api/lib/cupertino/slider/cupertino_slider.0.dart
  examples/api/lib/cupertino/text_field/cupertino_text_field.0.dart
  examples/api/lib/cupertino/text_form_field_row/cupertino_text_form_field_row.1.dart
  examples/api/test/cupertino/context_menu/cupertino_context_menu.0_test.dart
  examples/api/test/cupertino/nav_bar/cupertino_sliver_nav_bar.0_test.dart
  examples/api/test/cupertino/page_scaffold/cupertino_page_scaffold.0_test.dart
  examples/api/test/cupertino/refresh/cupertino_sliver_refresh_control.0_test.dart
  examples/api/test/cupertino/route/show_cupertino_dialog.0_test.dart
  examples/api/test/cupertino/route/show_cupertino_modal_popup.0_test.dart
  examples/api/test/cupertino/scrollbar/cupertino_scrollbar.0_test.dart
  examples/api/test/cupertino/scrollbar/cupertino_scrollbar.1_test.dart
  examples/api/test/cupertino/segmented_control/cupertino_segmented_control.0_test.dart
  examples/api/test/cupertino/segmented_control/cupertino_sliding_segmented_control.0_test.dart
  examples/api/test/cupertino/text_form_field_row/cupertino_text_form_field_row.1_test.dart
  packages/flutter/lib/src/cupertino/route.dart
Labels: a: text input, team, framework, f: scrolling, f: cupertino, d: api docs, d: examples, f: routes, waiting for tree to go green, documentation

#103255 Roll Engine from bfa87fdac664 to 094cb30943a5 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#103260 Roll Engine from 094cb30943a5 to 4a358030cb07 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#102970 Fix `DropdownButton` menu clip
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: framework, f: material design, waiting for tree to go green

#103149 Updating the Slider Widget to allow up and down arrow keys to navigate out of the slider when in directional NavigationMode.
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/test/material/slider_test.dart
Labels: framework, f: material design, waiting for tree to go green

#102642 Fix empty Stack with infinite constraints throws
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/test/rendering/stack_test.dart
Labels: framework, waiting for tree to go green

#103166 Added clipBehavior on TabBarView
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, waiting for tree to go green

#103212 Remove custom `unawaited`, prefer `dart:async` version
  dev/devicelab/bin/tasks/flutter_attach_test_fuchsia.dart
  dev/devicelab/bin/tasks/module_test_ios.dart
  dev/devicelab/bin/tasks/routing_test.dart
  dev/devicelab/bin/tasks/run_release_test.dart
  dev/devicelab/bin/tasks/run_release_test_macos.dart
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/bin/test_runner.dart
  dev/devicelab/lib/common.dart
  dev/devicelab/lib/framework/browser.dart
  dev/devicelab/lib/framework/devices.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/dart_plugin_registry_tests.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/lib/tasks/web_benchmarks.dart
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/android_emulator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/base/common.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_pm.dart
  packages/flutter_tools/lib/src/ios/code_signing.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_deploy.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/xcdevice.dart
  packages/flutter_tools/lib/src/proxied_devices/devices.dart
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/flutter_tester_device.dart
  packages/flutter_tools/lib/src/test/flutter_web_goldens.dart
  packages/flutter_tools/lib/src/test/integration_test_device.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/proxied_devices_test.dart
  packages/flutter_tools/test/general.shard/base/async_guard_test.dart
  packages/flutter_tools/test/general.shard/compile_expression_test.dart
  packages/flutter_tools/test/general.shard/daemon_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/proxied_devices/proxied_devices_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/src/fake_vm_services.dart
  packages/flutter_tools/tool/daemon_client.dart
Labels: team, tool, waiting for tree to go green

#103267 Fix a `_WrappedScrollBehavior.shouldNotify` bug
  packages/flutter/lib/src/widgets/scroll_configuration.dart
  packages/flutter/test/widgets/scroll_behavior_test.dart
Labels: framework, f: scrolling, waiting for tree to go green

#102948 [flutter_tools] add --uninstall-first flag and pipe it through to ios-deploy
  dev/devicelab/lib/tasks/hot_mode_tests.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_deploy.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_deploy_test.dart
Labels: team, platform-ios, tool, waiting for tree to go green

#103273 Roll Engine from 4a358030cb07 to 2d2f8629cdb2 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#103274 Roll Engine from 2d2f8629cdb2 to 24466845e7a9 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#103276 Roll Engine from 24466845e7a9 to 235d951ccfbd (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103279 Roll Engine from 235d951ccfbd to 4c05cb763866 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103283 Roll Engine from 4c05cb763866 to aa80520b7fc9 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103286 Roll Engine from aa80520b7fc9 to b89e093d887f (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103287 Roll Engine from b89e093d887f to 2d1f34cbdde2 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103289 Roll Engine from 2d1f34cbdde2 to 19d5f037f221 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103291 Roll Engine from 19d5f037f221 to 0b84783081a7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#103293 Roll Engine from 0b84783081a7 to 259ccadd8203 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#103298 Roll Engine from 259ccadd8203 to fffb3eb58e7d (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#103269 Use consistent date instead of DateTime.now() in evaluation tests to avoid flakes
  packages/flutter_tools/test/integration.shard/expression_evaluation_test.dart
Labels: tool

#103307 Roll Engine from fffb3eb58e7d to d0e6e14d27cc (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green
