Repository flutter/flutter, pull requests merged in 2022-12, with the labels that each got.

#116310 Roll Flutter Engine from be4c7e2955c8 to 99b000e1e111 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116259 Added `controller` and `onSelected` properties to DropdownMenu
  examples/api/lib/material/dropdown_menu/dropdown_menu.0.dart
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/dropdown_menu_theme_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#116313 Roll Flutter Engine from 99b000e1e111 to 3c1de68824a3 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116312 Revert "iOS 16 context menu" due to theme color mix up
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar_button.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#116318 Roll Flutter Engine from 3c1de68824a3 to 441229a95cd9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116321 Roll Flutter Engine from 441229a95cd9 to 51356bf895d0 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116335 Roll Flutter Engine from 51356bf895d0 to 677549602684 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116146 Reland "Upgrade targetSdkVersion and compileSdkVersion to 33"
  dev/integration_tests/ui/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/ui/android/build.gradle
  dev/integration_tests/ui/android/buildscript-gradle.lockfile
  dev/integration_tests/ui/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/ui/android/project-app.lockfile
  dev/integration_tests/ui/android/project-integration_test.lockfile
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/test/integration.shard/android_e2e_api_test.dart
Labels: team, tool, autosubmit

#116356 Roll Plugins from a431b35bfa0b to 89ad5a9d6a33 (7 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#116361 Roll Flutter Engine from 52054a327017 to 31f099c21afa (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116365 Roll Flutter Engine from 31f099c21afa to d75b7ce37a58 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#114558 Suggest Rosetta when x64 binary cannot be run
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
  packages/flutter_tools/test/general.shard/flutter_validator_test.dart
Labels: tool, platform-mac, platform-host-arm, autosubmit

#115801 Removes retries from "dart pub get" and un-buffers its stdout/stderr output
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/integration.shard/web_plugin_registrant_test.dart
Labels: a: text input, tool, autosubmit

#116372 Roll Flutter Engine from d75b7ce37a58 to 303e26e96561 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116371 Add clarification to CupertinoUserInterfaceLevel docs
  packages/flutter/lib/src/cupertino/interface_level.dart
Labels: framework, f: cupertino, autosubmit

#116378 Roll Flutter Engine from 303e26e96561 to ec5de9b810ef (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116368 [flutter_tools] disable web compilation of shaders
  packages/flutter_tools/lib/src/asset.dart
Labels: tool, autosubmit

#114808 [gen_l10n] keys can contain dollar sign
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, autosubmit

#116384 Roll Flutter Engine from ec5de9b810ef to abb68f40be70 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116387 Roll Flutter Engine from abb68f40be70 to 1603fa1bb412 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116230 Tweak directional focus traversal
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: framework, f: focus, autosubmit

#116242 [tools]build ipa validate launch image using template files
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/ios/application_package.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
Labels: team, platform-ios, tool, autosubmit

#116397 Roll Flutter Engine from 1603fa1bb412 to 9463b5d192e6 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116399 Roll Flutter Engine from 9463b5d192e6 to 025aefc7afcb (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116424 Revert "[flutter_tools] Pin path_provider_android and roll pub packages"
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: team, tool

#116401 Roll Flutter Engine from 025aefc7afcb to 4c72d5c82152 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#115871 [conductor] Add instructions to update oncall logs
  dev/conductor/core/lib/src/state.dart
Labels: team

#116426 Roll Flutter Engine from 4c72d5c82152 to 8e0747cc306f (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116385 [framework] make ImageFiltered a repaint boundary
  packages/flutter/lib/src/widgets/image_filter.dart
  packages/flutter/test/widgets/animated_image_filtered_repaint_test.dart
  packages/flutter/test/widgets/image_filter_test.dart
Labels: framework, autosubmit

#116432 Roll Flutter Engine from 8e0747cc306f to 6bbf3e0e3c8b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116417 [CP] Fix Snackbar TalkBack regression
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: framework, f: material design, cp: review

#116430 [tools]build IPA validation bundle identifier using the default "com.example" prefix
  dev/devicelab/bin/tasks/ios_content_validation_test.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
Labels: team, platform-ios, tool, autosubmit

#116435 Roll Flutter Engine from 6bbf3e0e3c8b to a8a08d107bc2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116436 [devicelab] add benchmark for complex non-intersecting widgets with platform views
  .ci.yaml
  TESTOWNERS
  dev/benchmarks/platform_views_layout/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/platform_views_layout/lib/main_non_intersecting.dart
  dev/benchmarks/platform_views_layout/test_driver/scroll_perf_non_intersecting_test.dart
  dev/benchmarks/platform_views_layout/test_driver/uikit_view_scroll_perf_non_intersecting.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_non_intersecting_impeller_ios__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: team, f: scrolling, autosubmit

#115502 Platform binaries reland
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/icon_tree_shaker.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/format.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_kernel_compiler.dart
  packages/flutter_tools/lib/src/ios/xcode_build_settings.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/sdk_web_configuration.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/runner/local_engine.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/lib/src/test/web_test_compiler.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/icon_tree_shaker_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
  packages/flutter_tools/test/general.shard/compile_incremental_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/local_engine_test.dart
  packages/flutter_tools/test/integration.shard/web_plugin_registrant_test.dart
  packages/flutter_tools/test/web.shard/sdk_web_configuration_test.dart
Labels: a: text input, platform-ios, tool, autosubmit

#116438 Roll Flutter Engine from a8a08d107bc2 to 98b947a54a2e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116437 Zip api docs using the repo under test script.
  dev/bots/docs.sh
Labels: team, autosubmit

#116441 Roll Flutter Engine from 98b947a54a2e to afdc32933be7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116447 Roll Flutter Engine from afdc32933be7 to f7df812d26b7 (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116449 Roll Flutter Engine from f7df812d26b7 to 6d0ff37a44b3 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116451 Add widget of the week videos
  packages/flutter/lib/src/material/autocomplete.dart
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/async.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
Labels: a: text input, framework, f: material design, f: focus, autosubmit

#116452 Roll Flutter Engine from 6d0ff37a44b3 to d746877f73f2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116455 Roll Flutter Engine from d746877f73f2 to 7a35191aad6c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116458 Roll Flutter Engine from 7a35191aad6c to f9067ed20a1d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116460 Roll Flutter Engine from f9067ed20a1d to cf05ab4265d9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116465 Roll Flutter Engine from cf05ab4265d9 to 9b484713f6d1 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116467 Roll Flutter Engine from 9b484713f6d1 to b3e86c31c1f4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116468 Roll Flutter Engine from b3e86c31c1f4 to 662c5f8df412 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116472 Roll Flutter Engine from 662c5f8df412 to e10bf9c2ce79 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116475 Roll Flutter Engine from e10bf9c2ce79 to 5ac98f8a7eed (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116485 Roll Flutter Engine from 5ac98f8a7eed to 3e284f270a6a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116492 Roll Flutter Engine from 3e284f270a6a to 359a0a979a00 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116501 Roll Flutter Engine from 359a0a979a00 to a6a816644f4c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116505 Roll Flutter Engine from a6a816644f4c to 4de358e2f04b (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116520 Roll Plugins from 89ad5a9d6a33 to 2a330bc0afd5 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#115569 Migrate Packaging Builders to .ci.yaml
  .ci.yaml
  TESTOWNERS
Labels: team, team: infra, autosubmit

#116524 Roll Flutter Engine from 4de358e2f04b to 878fc6fc022e (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#113637 Speed up first asset load by encoding asset manifest in binary rather than JSON
  dev/benchmarks/microbenchmarks/lib/foundation/decode_and_parse_asset_manifest.dart
  dev/integration_tests/flutter_gallery/test/example_code_parser_test.dart
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/services/asset_bundle.dart
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/android/deferred_components_gen_snapshot_validator_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: team, tool, framework, autosubmit

#116535 Roll Flutter Engine from 878fc6fc022e to b4de17db2552 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116201 Incrementally update gradle to AGP 7.2.0 and 7.3.3 in some `integration_tests`
  dev/integration_tests/channels/android/build.gradle
  dev/integration_tests/channels/android/buildscript-gradle.lockfile
  dev/integration_tests/channels/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/channels/android/project-app.lockfile
  dev/integration_tests/external_ui/android/project-app.lockfile
  dev/integration_tests/flavors/android/build.gradle
  dev/integration_tests/flavors/android/buildscript-gradle.lockfile
  dev/integration_tests/flavors/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/flavors/android/project-app.lockfile
  dev/integration_tests/flavors/android/project-integration_test.lockfile
  dev/integration_tests/flutter_gallery/android/build.gradle
  dev/integration_tests/flutter_gallery/android/buildscript-gradle.lockfile
  dev/integration_tests/flutter_gallery/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/flutter_gallery/android/project-app.lockfile
  dev/integration_tests/flutter_gallery/android/project-connectivity.lockfile
  dev/integration_tests/flutter_gallery/android/project-device_info.lockfile
  dev/integration_tests/flutter_gallery/android/project-integration_test.lockfile
  dev/integration_tests/flutter_gallery/android/project-url_launcher.lockfile
  dev/integration_tests/flutter_gallery/android/project-video_player.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-camera_android.lockfile
Labels: team, autosubmit

#116538 [flutter_tools] dont include material shaders in web builds
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_test.dart
Labels: tool, autosubmit

#116542 Roll Flutter Engine from b4de17db2552 to a14d15f07a1a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116004 Improve Flex layout comment
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: framework, autosubmit

#115500 Do not parse stack traces in _findResponsibleMethod on Web platforms that use a different format
  packages/flutter_test/lib/src/test_async_utils.dart
  packages/flutter_test/test/test_async_utils_test.dart
Labels: a: tests, framework, autosubmit

#116547 Roll Flutter Engine from a14d15f07a1a to e2b1919a7596 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116533 Use Deploy Suffix
  .ci.yaml
Labels: autosubmit

#116550 Roll Flutter Engine from e2b1919a7596 to d82c8ad7ac7f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116552 Roll Flutter Engine from d82c8ad7ac7f to 0efb0ef40513 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116556 Roll Flutter Engine from 0efb0ef40513 to a309d239c4e2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116564 Roll Flutter Engine from a309d239c4e2 to 012826e19212 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116566 Roll Flutter Engine from 012826e19212 to 5d8530f79009 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116571 Roll Flutter Engine from 5d8530f79009 to a588dbe8b3c5 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116579 Roll Flutter Engine from a588dbe8b3c5 to 6d05ea47930a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116592 Roll Flutter Engine from 6d05ea47930a to ec211d21e2b1 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116282 Fix windows version validator under Chinese
  AUTHORS
  packages/flutter_tools/lib/src/windows/windows_version_validator.dart
  packages/flutter_tools/test/general.shard/windows_version_validator_test.dart
Labels: tool, autosubmit

#116554 [flutter_tools] dont include material shaders in web builds (#116538)
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_test.dart
Labels: tool

#116601 Roll Flutter Engine from e6e6a02106c6 to 86d7cbf09e09 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116380 [gen_l10n] Multiline descriptions
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_templates.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, autosubmit

#116557 Allow creating packages for master/main.
  dev/bots/prepare_package.dart
Labels: team, autosubmit

#116612 Roll Flutter Engine from 12ad3d76618c to 4ff8cc3ef53b (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116474 Bump dartdoc to 6.1.3
  dev/bots/docs.sh
Labels: team, autosubmit

#116573 Fix MenuAnchor padding
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#115023 [Android] Refactor the `flutter run` Android console output test
  dev/devicelab/bin/tasks/run_release_test.dart
  dev/devicelab/lib/tasks/run_tests.dart
Labels: team, autosubmit

#116586 Adjust upper Dart SDK constraint
  packages/flutter_tools/lib/src/commands/create.dart
Labels: tool

#116620 Roll Flutter Engine from 4ff8cc3ef53b to 4f22c2789023 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116543 Add ListenableBuilder with examples
  examples/api/lib/widgets/transitions/listenable_builder.0.dart
  examples/api/lib/widgets/transitions/listenable_builder.1.dart
  examples/api/test/foundation/change_notifier/change_notifier.0_test.dart
  examples/api/test/widgets/transitions/listenable_builder.0_test.dart
  examples/api/test/widgets/transitions/listenable_builder.1_test.dart
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/test/widgets/transitions_test.dart
Labels: team, framework, d: api docs, d: examples, documentation, autosubmit

#116450 Time picker precursors
  dev/tools/gen_defaults/lib/input_decorator_template.dart
  dev/tools/gen_defaults/lib/snackbar_template.dart
  dev/tools/gen_defaults/lib/template.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/painting/system_fonts_test.dart
Labels: a: text input, team, framework, f: material design, autosubmit

#116632 Roll Flutter Engine from 4f22c2789023 to 185e2f3d451c (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116633 Roll Flutter Engine from 185e2f3d451c to 67254d6e4b03 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116631 Update docs_deploy builder with the real name.
  .ci.yaml
Labels: autosubmit

#116660 Roll Plugins from 374e59804a6c to 7b5d8323efe3 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#116662 Revert "Speed up first asset load by encoding asset manifest in binary rather than JSON"
  dev/benchmarks/microbenchmarks/lib/foundation/decode_and_parse_asset_manifest.dart
  dev/integration_tests/flutter_gallery/test/example_code_parser_test.dart
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/services/asset_bundle.dart
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/android/deferred_components_gen_snapshot_validator_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: team, tool, framework, autosubmit

#115776 Reland "Use semantics label for backbutton and closebutton for Android"
  packages/flutter/lib/src/material/back_button.dart
  packages/flutter/lib/src/widgets/semantics_debugger.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/widgets/semantics_debugger_test.dart
Labels: framework, f: material design, a: accessibility, autosubmit

#116672 [roll + cherrypick] Revert "Speed up first asset load by encoding asset manifest in binar…
  dev/benchmarks/microbenchmarks/lib/foundation/decode_and_parse_asset_manifest.dart
  dev/integration_tests/flutter_gallery/test/example_code_parser_test.dart
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/services/asset_bundle.dart
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/android/deferred_components_gen_snapshot_validator_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: team, tool, framework

#116429 LookupBoundary
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/lookup_boundary.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/lookup_boundary_test.dart
Labels: framework, autosubmit

#116673 [flutter_releases] Flutter beta 3.7.0-1.1.pre Framework Cherrypicks
  bin/internal/engine.version
  bin/internal/release-candidate-branch.version
Labels: engine

#108068 Implement Linux part of examples
  examples/.clang-format
  examples/hello_world/linux/.gitignore
  examples/hello_world/linux/CMakeLists.txt
  examples/hello_world/linux/flutter/CMakeLists.txt
  examples/hello_world/linux/flutter/generated_plugin_registrant.cc
  examples/hello_world/linux/flutter/generated_plugin_registrant.h
  examples/hello_world/linux/flutter/generated_plugins.cmake
  examples/hello_world/linux/main.cc
  examples/hello_world/linux/my_application.cc
  examples/hello_world/linux/my_application.h
  examples/platform_channel/linux/.gitignore
  examples/platform_channel/linux/CMakeLists.txt
  examples/platform_channel/linux/flutter/CMakeLists.txt
  examples/platform_channel/linux/flutter/generated_plugin_registrant.cc
  examples/platform_channel/linux/flutter/generated_plugin_registrant.h
  examples/platform_channel/linux/flutter/generated_plugins.cmake
  examples/platform_channel/linux/main.cc
  examples/platform_channel/linux/my_application.cc
  examples/platform_channel/linux/my_application.h
Labels: team, d: examples

#116679 Fix language version check logic to determine nullsafe soundness.
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: tool

#116728 Roll Plugins from 7b5d8323efe3 to 51434ec83dde (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#116398 Fix wrong position of TabBarIndicator when it's label size and has label padding
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, autosubmit

#110127 Add `CupertinoSliverNavigationBar` large title magnification on over scroll
  AUTHORS
  examples/api/test/cupertino/nav_bar/cupertino_sliver_nav_bar.0_test.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
Labels: framework, f: cupertino, autosubmit

#116683 Add Remaining Packaging Builders
  .ci.yaml
  TESTOWNERS
Labels: autosubmit

#116690 Update text field input width when there are prefix/suffix icons
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design

#116626 [Windows] Add a `flutter run` console output test
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/run_release_test_windows.dart
  dev/devicelab/lib/tasks/run_tests.dart
  dev/integration_tests/ui/windows/.gitignore
  dev/integration_tests/ui/windows/CMakeLists.txt
  dev/integration_tests/ui/windows/flutter/CMakeLists.txt
  dev/integration_tests/ui/windows/flutter/generated_plugins.cmake
  dev/integration_tests/ui/windows/runner/CMakeLists.txt
  dev/integration_tests/ui/windows/runner/Runner.rc
  dev/integration_tests/ui/windows/runner/flutter_window.cpp
  dev/integration_tests/ui/windows/runner/flutter_window.h
  dev/integration_tests/ui/windows/runner/main.cpp
  dev/integration_tests/ui/windows/runner/resource.h
  dev/integration_tests/ui/windows/runner/runner.exe.manifest
  dev/integration_tests/ui/windows/runner/utils.cpp
  dev/integration_tests/ui/windows/runner/utils.h
  dev/integration_tests/ui/windows/runner/win32_window.cpp
  dev/integration_tests/ui/windows/runner/win32_window.h
Labels: team

#116622 Throw error when plural case had undefined behavior
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, autosubmit

#116747 [flutter_tools] add test of flutter update-packages --transitive-closure --consumer-only
  packages/flutter_tools/test/commands.shard/hermetic/update_packages_test.dart
Labels: tool, autosubmit

#116758 Bump dartdoc to 6.1.4
  dev/bots/docs.sh
Labels: team, warning: land on red to fix tree breakage, autosubmit

#116608 [CP] Fix Snackbar TalkBack regression
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: framework, f: material design

#116786 Opt dashing_postprocess.dart out of null safety
  dev/bots/docs.sh
Labels: team, warning: land on red to fix tree breakage, autosubmit

#116789 Update the Dart language version in the pubspec generated by the dartdoc script
  dev/bots/docs.sh
  dev/tools/dartdoc.dart
Labels: team

#116781 Roll Plugins from 51434ec83dde to 6ab7d710d2fb (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#116194 Add Material 3 support for `ListTile` - Part 1
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/list_tile_template.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/list_tile_theme.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: team, framework, f: material design, autosubmit

#116800 Several fixes to packaging builders.
  .ci.yaml
Labels: autosubmit

#116802 Roll Flutter Engine from 8d83b98c55b3 to 030950f3070c (29 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#116808 Roll Flutter Engine from 030950f3070c to 89fd33c62f2c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116811 Roll Flutter Engine from 89fd33c62f2c to a259613ab871 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116736 Add LookupBoundary to Material
  packages/flutter/lib/src/material/debug.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/widgets/lookup_boundary.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/material_test.dart
  packages/flutter/test/widgets/lookup_boundary_test.dart
Labels: framework, f: material design

#116813 Roll Flutter Engine from a259613ab871 to 8b56b5a98ed4 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116746 Floating cursor cleanup
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#116814 Roll Flutter Engine from 8b56b5a98ed4 to d64a5129add4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116817 Roll Flutter Engine from d64a5129add4 to faae28965a94 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116839 Revert "Adds API in semanticsconfiguration to decide how to merge child semanticsConfigurations"
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
  packages/flutter/test/widgets/semantics_child_configs_delegate_test.dart
Labels: a: text input, framework, f: material design, a: accessibility, f: scrolling, autosubmit

#116843 Roll Flutter Engine from faae28965a94 to fbb79e704b0a (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#116844 Roll Flutter Engine from fbb79e704b0a to 656b67796bbb (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116859 Roll Flutter Engine from 0795bccae849 to 3ca497ebb107 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116061 Taboo the word "simply" from our API documentation.
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_image_decoding.dart
  dev/bots/analyze.dart
  dev/bots/test/analyze-test-input/root/packages/flutter/lib/bar.dart
  dev/bots/test/analyze_test.dart
  packages/flutter/lib/src/animation/animations.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/scrollbar.dart
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/flow.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/proxy_sliver.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/hardware_keyboard.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/orientation_builder.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/lib/src/widgets/platform_menu_bar.dart
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/lib/src/widgets/value_listenable_builder.dart
  packages/flutter_tools/lib/src/base/deferred_component.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/localizations/localizations_utils.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: a: text input, team, framework, a: animation, f: material design, a: accessibility, f: scrolling, f: cupertino, f: routes, f: gestures, f: focus, autosubmit

#116868 Roll Flutter Engine from 3ca497ebb107 to 922546c9194b (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116871 Roll Flutter Engine from 922546c9194b to 9e37c988362e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116812 Pass drone_dimensions as part of the main target.
  .ci.yaml
Labels: autosubmit

#116891 Roll Plugins from 6ab7d710d2fb to 0609adb457fd (2 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#116861 [flutter_tools] Add remap sampler support
  packages/flutter_tools/lib/src/build_system/targets/shader_compiler.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/shader_compiler_test.dart
Labels: tool, autosubmit

#116888 Fix `NavigationBar` ripple for non-default `NavigationDestinationLabelBehavior`
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/test/material/navigation_bar_test.dart
Labels: framework, f: material design, autosubmit

#116741 Add LookupBoundary to Overlay
  packages/flutter/lib/src/widgets/debug.dart
  packages/flutter/lib/src/widgets/lookup_boundary.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/widgets/lookup_boundary_test.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: framework, f: material design, autosubmit

#116788 [framework] make opacity widget create a repaint boundary
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/opacity_repaint_test.dart
Labels: framework, will affect goldens, autosubmit

#116908 Revert "Add Material 3 support for `ListTile` - Part 1"
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/list_tile_template.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/list_tile_theme.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: team, framework, f: material design, autosubmit

#116913 Revert "Add Material 3 support for `ListTile` - Part 1 (#116194)"
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/list_tile_template.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/list_tile_theme.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: team, framework, f: material design

#116914 Adjust test to tolerate additional trace fields
  dev/tracing_tests/test/image_painting_event_test.dart
Labels: team, autosubmit

#116912 Fix "flutter pub get" output test
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
Labels: tool, autosubmit

#116858 Fix MediaQuery.paddingOf
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/test/widgets/media_query_test.dart
Labels: framework, autosubmit

#116920 Roll Flutter Engine from 62a5de2efc9c to 2148fc003077 (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112171 InteractiveViewer discrete trackpad panning
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/gestures/events_test.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: framework, f: gestures, autosubmit

#116798 Test 'flutter run' does not have unexpected engine logs
  .ci.yaml
  TESTOWNERS
  dev/devicelab/README.md
  dev/devicelab/bin/tasks/run_debug_test_android.dart
  dev/devicelab/bin/tasks/run_debug_test_macos.dart
  dev/devicelab/bin/tasks/run_debug_test_windows.dart
  dev/devicelab/lib/tasks/run_tests.dart
Labels: team, autosubmit

#116927 Roll Flutter Engine from 2148fc003077 to ff2fe8381f46 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116933 Remove duped fix rules
  packages/flutter/lib/fix_data/fix_cupertino.yaml
  packages/flutter/lib/fix_data/fix_material/fix_material.yaml
Labels: framework, f: material design, f: cupertino, autosubmit

#116792 [framework] make transform with filterQuality a rpb
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/widgets/animated_image_filtered_repaint_test.dart
  packages/flutter/test/widgets/transform_test.dart
Labels: framework, autosubmit

#116935 Roll Flutter Engine from ff2fe8381f46 to 6c190ea1e8df (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116689 Fix scroll jump when NestedScrollPosition is inertia-cancelled.
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/scroll_position_with_single_context.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
Labels: a: text input, framework, f: scrolling, autosubmit

#116939 Roll Flutter Engine from 6c190ea1e8df to e144f81e92d8 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#116941 Roll Flutter Engine from e144f81e92d8 to 290f3a35eeb2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113301 Remove RenderEditable textPainter height hack
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/painting/text_painter_test.dart
Labels: a: text input, framework, autosubmit
