Repository flutter/flutter, pull requests merged in 2022-10, with the labels that each got.

#112732 Roll Flutter Engine from c0629be446f8 to c1b05ec9e15f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112415 URI-decode asset paths before writing them to the asset manifest
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool, framework, autosubmit

#112734 Roll Flutter Engine from c1b05ec9e15f to 70fca36c698a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112737 Roll Flutter Engine from 70fca36c698a to 7188446686f7 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112739 Roll Flutter Engine from 7188446686f7 to e67d0cae6057 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112740 Roll Flutter Engine from e67d0cae6057 to 8916ced81560 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112742 Roll Flutter Engine from 8916ced81560 to 2a58774add03 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112748 Roll Flutter Engine from 2a58774add03 to 8324240b87ec (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112752 Roll Flutter Engine from 8324240b87ec to 0b6ffa1d8421 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112767 Roll Flutter Engine from 0b6ffa1d8421 to 13326ff842c8 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112774 Roll Flutter Engine from 13326ff842c8 to a7785c48cd0d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112780 [releases] Revert "Add button semantics in list tile (#112593)"
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
Labels: framework, f: material design

#112781 Roll Flutter Engine from a7785c48cd0d to 0e3ceba1159a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112786 Roll Flutter Engine from 0e3ceba1159a to a218f57d7638 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112790 Roll Flutter Engine from a218f57d7638 to 3085674f0f1b (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112794 Roll Flutter Engine from 3085674f0f1b to f5ebf959b695 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112795 Roll Flutter Engine from f5ebf959b695 to 0f5e8d826fca (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112779 Revert "Add button semantics in list tile"
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
Labels: framework, f: material design, autosubmit

#112799 Roll Flutter Engine from 0f5e8d826fca to bc900251f9f9 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112802 Roll Plugins from dc5f1855cb62 to 28c9c0d034d9 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#112805 Roll Flutter Engine from bc900251f9f9 to 132c5ff298a8 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112217 [flutter_tools] analyze --suggestions --machine command
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/validate_project.dart
  packages/flutter_tools/lib/src/project_validator.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_suggestion_test.dart
  packages/flutter_tools/test/general.shard/args_test.dart
  packages/flutter_tools/test/integration.shard/analyze_suggestions_integration_test.dart
Labels: tool, autosubmit

#112218 Added ShapeBorder to expansionTile
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/lib/src/material/expansion_tile_theme.dart
  packages/flutter/test/material/expansion_tile_test.dart
  packages/flutter/test/material/expansion_tile_theme_test.dart
Labels: framework, f: material design, autosubmit

#112810 Roll Flutter Engine from 132c5ff298a8 to 59d2f0713377 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112803 Update `AnimatedSlide` example
  examples/api/lib/widgets/implicit_animations/animated_slide.0.dart
  examples/api/test/widgets/implicit_animations/animated_slide.0_test.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: team, framework, a: animation, d: api docs, d: examples, documentation, autosubmit

#112814 Roll Flutter Engine from 59d2f0713377 to 109e859595e2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112817 Roll Flutter Engine from 1cd26a0eb287 to 4e69f628be71 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112826 Roll Flutter Engine from 4e69f628be71 to 524fd85b09b5 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112829 Roll Flutter Engine from 524fd85b09b5 to 78a201fccfa7 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112834 Roll Flutter Engine from 78a201fccfa7 to 83c68740e3b7 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112831 Stop embedding bitcode for iOS in tool
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/lib/src/base/build.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/ios/bitcode.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_darwin_framework_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/general.shard/base/build_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/xcode_backend_test.dart
  packages/flutter_tools/test/host_cross_arch.shard/ios_content_validation_test.dart
  packages/flutter_tools/test/host_cross_arch.shard/macos_content_validation_test.dart
  packages/flutter_tools/test/src/darwin_common.dart
Labels: team, platform-ios, tool, autosubmit

#112149 Revert file naming convention of .aar files to support fuzzy matching in build.gradle
  AUTHORS
  dev/devicelab/bin/tasks/android_obfuscate_test.dart
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
Labels: team, tool, autosubmit

#112841 Roll Flutter Engine from 83c68740e3b7 to b9e15923bf0c (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112843 Roll Flutter Engine from b9e15923bf0c to a523db3083ed (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112845 Roll Flutter Engine from a523db3083ed to ec1365a4af1d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112859 Roll Flutter Engine from ec1365a4af1d to 9ad7d245395c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112860 Roll Flutter Engine from 9ad7d245395c to 4339abbc91a4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112862 Roll Flutter Engine from 4339abbc91a4 to f16e221ffa89 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112863 Roll Plugins from 28c9c0d034d9 to 25e10b2a036d (2 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#112866 Roll Flutter Engine from f16e221ffa89 to c5957911c77a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112867 Roll Flutter Engine from c5957911c77a to 1d5c16ad5581 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112122 [web] Fix `kIsWeb` for Dart2wasm.
  packages/flutter/lib/src/foundation/constants.dart
  packages/flutter/lib/src/services/platform_channel.dart
  packages/flutter/lib/src/widgets/platform_selectable_region_context_menu.dart
  packages/flutter/test/dart/browser_environment_test.dart
  packages/flutter/test/painting/network_image_web_test.dart
Labels: a: text input, framework

#112109 [Android] Fix spell_check integration test flakiness
  .ci.yaml
  dev/integration_tests/spell_check/integration_test/integration_test.dart
Labels: team, autosubmit

#112869 Roll Flutter Engine from 1d5c16ad5581 to 256b8d066fc7 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112873 Roll Flutter Engine from 256b8d066fc7 to 4e8683e5f455 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112868 [stable hotfix] update engine version
  bin/internal/engine.version
Labels: engine, autosubmit

#112879 Roll Flutter Engine from 4e8683e5f455 to 9692f09afd67 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112883 Roll Flutter Engine from 9692f09afd67 to cbb96d0b06d7 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#76072 [text_input] introduce TextInputControl
  AUTHORS
  examples/api/lib/services/text_input/text_input_control.0.dart
  examples/api/test/services/text_input/text_input_control.0_test.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/text_input_test.dart
Labels: a: text input, team, framework, d: api docs, d: examples, documentation

#112895 Manually roll Flutter Engine from cbb9d0b06 to cef721963
  bin/internal/engine.version
Labels: engine

#112902 Revert "Manually roll Flutter Engine from cbb9d0b06 to cef721963"
  bin/internal/engine.version
Labels: engine, warning: land on red to fix tree breakage, revert

#112905 Revert "Roll Flutter Engine from 9692f09afd67 to cbb96d0b06d7 (2 revisions)"
  bin/internal/engine.version
Labels: engine, warning: land on red to fix tree breakage, revert

#112909 Run docs publish on all branches.
  .ci.yaml
Labels: autosubmit

#112914 Roll Flutter Engine from 9692f09afd67 to 4d4914799b9a (16 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112595 Fix outdated comment about overflow
  packages/flutter/lib/src/cupertino/refresh.dart
Labels: framework, f: cupertino, autosubmit

#112921 Roll Flutter Engine from 4d4914799b9a to 57d2ef06f2e4 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112930 Roll Flutter Engine from 57d2ef06f2e4 to 6232980336a2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112636 Add width property to SnackBarThemeData
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/snack_bar_theme.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/snack_bar_theme_test.dart
Labels: framework, f: material design

#112402 Wait for non-empty layout in platform view placeholder
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: framework, autosubmit

#112937 Roll Plugins from 25e10b2a036d to 3a928b8a3d8b (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#112619 Export `elapseBlocking` to test binding, so slow sync work can be simulated such as a slow widget build
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/test/bindings_test.dart
Labels: a: tests, framework, autosubmit

#112885 Switched `Element.renderObject` to iterative implementation.
  packages/flutter/lib/src/widgets/framework.dart
Labels: framework, autosubmit

#112897 Return void from project migrate()
  packages/flutter_tools/lib/src/base/project_migrator.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/host_app_info_plist_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/ios_deployment_target_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/project_base_configuration_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/project_build_location_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/ios/migrations/xcode_build_system_migration.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/migrations/macos_deployment_target_migration.dart
  packages/flutter_tools/lib/src/macos/migrations/remove_macos_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/migrations/cmake_custom_command_migration.dart
  packages/flutter_tools/lib/src/migrations/xcode_project_object_version_migration.dart
  packages/flutter_tools/lib/src/migrations/xcode_script_build_phase_migration.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/migrations/scrub_generated_plugin_registrant.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
  packages/flutter_tools/test/general.shard/migrations/cmake_project_migration_test.dart
Labels: platform-ios, tool, autosubmit

#112972 Roll Flutter Engine from 6232980336a2 to 3ea687122ab8 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112971 [flutter_releases] Flutter beta 3.4.0-34.0.pre Framework Cherrypicks
  bin/internal/engine.version
  bin/internal/release-candidate-branch.version
Labels: engine

#112968 improve debugging when dart pub get call fails
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: tool, autosubmit

#112975 When updating packages, do not delete the simulated SDK directory until all pub invocations have finished
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: tool, autosubmit

#112980 Roll Flutter Engine from 3ea687122ab8 to c2aa65b01863 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112984 Roll Flutter Engine from c2aa65b01863 to 8109b72830e1 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#102992 Consider Scrollable location in text selection drag events
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, f: cupertino

#112900 Add bitcode deprecation note for add-to-app iOS developers
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
Labels: team, platform-ios, tool, autosubmit

#112990 Roll Flutter Engine from 8109b72830e1 to 062edc48fdbe (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112996 Roll Flutter Engine from 062edc48fdbe to 5f2daf05e016 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#112998 Roll Flutter Engine from 5f2daf05e016 to 30993138d078 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112979 CP: Add a script to post-process docs. (#112228)
  dev/bots/post_process_docs.dart
  dev/bots/pubspec.yaml
  dev/bots/test/post_process_docs_test.dart
Labels: team

#113003 Roll Flutter Engine from 30993138d078 to db7e32a43291 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#83994 Added keyboardType in CupertinoSearchTextField
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/test/cupertino/search_field_test.dart
Labels: a: text input, new feature, framework, f: cupertino

#113023 Roll Flutter Engine from db7e32a43291 to e72434025f08 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113030 Roll Plugins from 3a928b8a3d8b to 54e748c343ef (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#112999 Ignore flakiness for Mac_arm64 tool_host_cross_arch_tests
  .ci.yaml
Labels: autosubmit

#113043 typo
  packages/flutter/lib/src/cupertino/search_field.dart
Labels: framework, f: cupertino, autosubmit

#112892 [framework] load files through ImmutableBuffer.fromFilePath (if exact file type)
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/test/painting/image_provider_test.dart
Labels: framework, autosubmit

#113031 Roll Flutter Engine from e72434025f08 to 14d18e7b10b0 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113050 Roll Flutter Engine from 14d18e7b10b0 to 966f249fb132 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113055 Roll Flutter Engine from 966f249fb132 to 1eeb38cc99a8 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112548 Remove NavigationToolbar condition that leading widget cannot be larger than 1/3 the total space available.
  packages/flutter/lib/src/widgets/navigation_toolbar.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: framework, f: material design, autosubmit

#112936 Upgrade targetSdkVersion and compileSdkVersion to 33
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/test/integration.shard/android_e2e_api_test.dart
Labels: tool, autosubmit

#113064 Revert "Upgrade targetSdkVersion and compileSdkVersion to 33"
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/test/integration.shard/android_e2e_api_test.dart
Labels: tool

#113063 Roll Flutter Engine from 1eeb38cc99a8 to ab3ae983451e (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113060 shader warm up with canvaskit and corresponding test
  packages/flutter/lib/src/foundation/constants.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
  packages/flutter/test/painting/shader_warm_up_test.dart
Labels: framework, autosubmit

#113048 Send text selection rects to engine on iPhone
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#113069 Roll Flutter Engine from ab3ae983451e to cc76af3e1f14 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113077 Roll Flutter Engine from cc76af3e1f14 to 7059da35c51a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112993 Generate coverage
  .github/workflows/coverage.yml
Labels: autosubmit

#112837 Add error message when lerping between TextStyles different `inherit` values
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/test/painting/text_style_test.dart
Labels: a: text input, framework, autosubmit

#113080 Roll Flutter Engine from 7059da35c51a to e30b37a9380a (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113081 Roll Flutter Engine from e30b37a9380a to a4174f29a71a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113086 Roll Flutter Engine from a4174f29a71a to a36a34b49736 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113088 Roll Flutter Engine from a36a34b49736 to a86f16599bc2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113095 Roll Flutter Engine from a86f16599bc2 to 7de65af6f8f1 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112728 [Android] Bump Kotlin and Android Gradle plugin versions in tests
  dev/benchmarks/microbenchmarks/android/build.gradle
  dev/benchmarks/microbenchmarks/android/gradle/wrapper/gradle-wrapper.properties
  dev/benchmarks/multiple_flutters/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/deferred_components_test/android/build.gradle
Labels: team, autosubmit

#113102 Roll Plugins from 54e748c343ef to d4db207f557b (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#113072 [flutter_tool] Don't download CanvasKit if it's already in flutter_web_sdk
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, platform-web, e: web_canvaskit

#112697 fix a CupertinoDatePicker bug
  packages/flutter/lib/src/rendering/list_wheel_viewport.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
Labels: framework, f: scrolling, autosubmit

#113115 Roll Flutter Engine from 7de65af6f8f1 to 38da11c4e017 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113116 Add `SliverGrid.builder` constructor
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: framework, f: scrolling, autosubmit

#113084 Report coverage to codecov rather than coveralls.
  .github/workflows/coverage.yml
Labels: autosubmit

#113091 Fix TabBar with padding is not centered
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design

#112821 Add checkbox and radio menu buttons
  dev/manual_tests/lib/menu_anchor.dart
  examples/api/lib/material/menu_anchor/checkbox_menu_button.0.dart
  examples/api/lib/material/menu_anchor/radio_menu_button.0.dart
  examples/api/test/material/menu_anchor/checkbox_menu_button.0_test.dart
  examples/api/test/material/menu_anchor/radio_menu_button.0_test.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#113124 Roll Flutter Engine from 38da11c4e017 to 8f6654109ef0 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113127 Roll Flutter Engine from 8f6654109ef0 to 257db6c0e0cc (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113132 Roll Flutter Engine from 257db6c0e0cc to 1736d34a3588 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113134 Roll Flutter Engine from 1736d34a3588 to f2614ed80682 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113136 Roll Flutter Engine from f2614ed80682 to 909007805b16 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113137 Roll Flutter Engine from 909007805b16 to b75d9bd05c17 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113138 Roll Flutter Engine from b75d9bd05c17 to feb84056107f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113139 Roll Flutter Engine from feb84056107f to 1b3157d1e930 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113142 Roll Flutter Engine from 1b3157d1e930 to 6967c350f8a9 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113147 Roll Flutter Engine from 6967c350f8a9 to 70abc40a8fcf (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113148 Roll Flutter Engine from 70abc40a8fcf to 823f0a9bf08e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112985 Fix for Issue #112983
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/templates/app_shared/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool

#113170 Roll Flutter Engine from 823f0a9bf08e to e13290bc23e4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113171 Roll Flutter Engine from e13290bc23e4 to 2737f6ea03c1 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113201 Roll Flutter Engine from ac1fec636770 to 12d580667f12 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113204 Roll Flutter Engine from 12d580667f12 to 52c8bd393868 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113206 Roll Flutter Engine from 52c8bd393868 to 502d0bddc89d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113217 Roll Flutter Engine from 502d0bddc89d to 7dfaf05298c2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113131 Deprecate `AnimatedListItemBuilder` and `AnimatedListRemovedItemBuilder`
  examples/api/lib/widgets/animated_list/animated_list.0.dart
  examples/api/lib/widgets/animated_list/sliver_animated_list.0.dart
  packages/flutter/lib/src/widgets/animated_grid.dart
  packages/flutter/lib/src/widgets/animated_list.dart
Labels: team, framework, f: scrolling, d: api docs, d: examples, documentation, autosubmit

#113218 Roll Flutter Engine from 7dfaf05298c2 to 97af1f977ecd (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112609 `AutomatedTestWidgetsFlutterBinding.pump` provides wrong pump time stamp, probably because of forgetting the precision
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/test/bindings_test.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: tests, framework, will affect goldens, autosubmit

#111747 Scramble order of operations of flutter.gradle
  packages/flutter_tools/gradle/flutter.gradle
Labels: tool, autosubmit

#113221 Roll Flutter Engine from 97af1f977ecd to 83c6a1c1d7be (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112816 Fix selection area causes small scrollables to bounce
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/widgets/scrollable_selection_test.dart
Labels: framework, f: scrolling, autosubmit

#113238 [framework] add ignores for platformDispatcher deprecation
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework, a: accessibility, autosubmit

#112778 Minor change type nullability
  packages/flutter/lib/src/rendering/sliver_list.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
Labels: framework, f: scrolling, autosubmit

#113243 Roll Flutter Engine from 83c6a1c1d7be to 623d2d91802e (7 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113246 Revert "Minor change type nullability"
  packages/flutter/lib/src/rendering/sliver_list.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
Labels: framework, f: scrolling

#113244 Roll Flutter Engine from 623d2d91802e to 38d45e663f0e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113249 Roll Flutter Engine from 38d45e663f0e to c034c8bf7c3a (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#113252 Roll Flutter Engine from c034c8bf7c3a to 593ae56f0453 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113255 Roll Flutter Engine from 593ae56f0453 to 2f3af21425e4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113269 Roll Flutter Engine from 2f3af21425e4 to db265ed41e14 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113271 Roll Flutter Engine from db265ed41e14 to a5f44b8c08b6 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#112466 Support Material 3 in bottom sheet
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/bottom_sheet_template.dart
  dev/tools/gen_defaults/lib/template.dart
  examples/api/lib/material/bottom_sheet/show_modal_bottom_sheet.1.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/bottom_sheet_theme.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#113284 Roll Flutter Engine from a5f44b8c08b6 to 7c4ad0b7d49e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113287 Roll Plugins from cfbdcd0b40fa to b175843a5f2d (6 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#113288 Roll Flutter Engine from 7c4ad0b7d49e to 281152f8322d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113240 BufferLogger should log stacktrace
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
Labels: tool, autosubmit

#113297 Roll Flutter Engine from c9f4e97abf68 to b783740a940f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#113299 Roll Flutter Engine from b783740a940f to 7979ffc80832 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit
