Repository flutter/flutter, pull requests merged in 2022-03, with the labels that each got.

#99305 Roll Engine from e3027b1b7bd4 to 615a60512c64 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99301 [cirrus] Refresh GCP service account
  .cirrus.yml
Labels: waiting for tree to go green

#99311 Use runUnsynchronized for android_views test
  dev/integration_tests/android_views/test_driver/main_test.dart
Labels: team, waiting for tree to go green

#99310 Roll Engine from 615a60512c64 to dc1dba505c33 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green, will affect goldens

#99342 Roll Plugins from f96d633e7a54 to 4eb17696ce2d (3 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#97046 Add NavigationBar dartpad example
  examples/api/lib/material/navigation_bar/navigation_bar.dart
  examples/api/test/material/navigation_bar/navigation_bar_test.dart
  packages/flutter/lib/src/material/navigation_bar.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#98512 Added viewport fraction parameter to tabView
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, f: scrolling, waiting for tree to go green

#99162 [ci.yaml] Migrate roller to cocoon scheduler
  .ci.yaml
Labels: team, waiting for tree to go green, team: infra

#99189 [flutter_conductor] deprecate increment
  dev/conductor/README.md
  dev/conductor/core/lib/src/globals.dart
  dev/conductor/core/lib/src/proto/compile_proto.sh
  dev/conductor/core/lib/src/proto/conductor_state.pb.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbenum.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbjson.dart
  dev/conductor/core/lib/src/proto/conductor_state.proto
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/lib/src/version.dart
  dev/conductor/core/test/start_test.dart
  dev/conductor/core/test/state_test.dart
  dev/conductor/core/test/version_test.dart
Labels: team, waiting for tree to go green, d: conductor

#98451 [framework] improve Notification API performance by skipping full Element tree traversal
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/notification_listener.dart
  packages/flutter/lib/src/widgets/scroll_notification.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/size_changed_layout_notifier.dart
  packages/flutter/lib/src/widgets/viewport.dart
  packages/flutter/test/material/material_test.dart
Labels: framework, f: material design, f: scrolling

#99192 Remove redundant properties passed to _Editable
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, framework, waiting for tree to go green

#99318 Update mac chrome and driver to 98.
  .ci.yaml
Labels: team, waiting for tree to go green, team: infra

#99346 Roll Engine from dc1dba505c33 to a5718ab3c33b (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green, will affect goldens

#99361 Revert "Clean up ClipboardStatusNotifier (#98951)"
  packages/flutter/lib/src/cupertino/desktop_text_selection.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/material/desktop_text_selection.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
  packages/flutter/test/material/text_selection_toolbar_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, f: cupertino

#99319 Add Android lifecycles test
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/android_lifecycles_test.dart
  dev/devicelab/lib/framework/devices.dart
  dev/devicelab/lib/tasks/android_choreographer_do_frame_test.dart
  dev/devicelab/lib/tasks/android_lifecycles_test.dart
Labels: team, waiting for tree to go green

#98046 Starts using the `--source` flag to compile the dart registrant.
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/entrypoint_dart_registrant.dart
  dev/devicelab/lib/tasks/entrypoint_dart_registrant.dart
  packages/flutter_tools/lib/src/build_system/targets/dart_plugin_registrant.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
Labels: team, tool, waiting for tree to go green

#97746 Update minimum required version to Xcode 13
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_validator_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: a: text input, tool, waiting for tree to go green, t: xcode

#99374 Revert "Clean up ClipboardStatusNotifier (#98951)" (#99361)
  packages/flutter/lib/src/cupertino/desktop_text_selection.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/material/desktop_text_selection.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
  packages/flutter/test/material/text_selection_toolbar_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, f: cupertino

#98995 Reland "Dismiss text selection toolbar with ESC"
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, waiting for tree to go green

#99369 Roll Engine from a5718ab3c33b to 2c396fe8950f (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99337 [flutter_releases] Flutter stable 2.10.3 Framework Cherrypicks
  bin/internal/engine.version
  dev/bots/analyze.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
Labels: tool, engine

#99402 Roll Plugins from 4eb17696ce2d to 0283a99ce39d (8 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#99328 Fix a Scrollbar hittest penetration issue
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, f: gestures, waiting for tree to go green

#99419 Revert "Draggable can be accepted when the data is null"
  dev/manual_tests/lib/drag_and_drop.dart
  examples/api/lib/widgets/drag_target/draggable.0.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: team, framework, d: api docs, d: examples, waiting for tree to go green, documentation

#99424 Roll Engine from 2c396fe8950f to ac33354b28e0 (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99353 Enable Samsung S10 tests in post-submit CI
  .ci.yaml
Labels: team, waiting for tree to go green, team: infra

#99364 Limit overscroll stretching
  packages/flutter/lib/src/widgets/overscroll_indicator.dart
  packages/flutter/test/widgets/overscroll_stretch_indicator_test.dart
Labels: platform-android, framework, f: material design, a: fidelity, f: scrolling, waiting for tree to go green

#99425 Roll Engine from ac33354b28e0 to 45620d3de3fc (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#97646 Simplify SafeArea test for maintainBottomViewPadding to ensure maintainBottomViewPadding is always respected
  packages/flutter/lib/src/widgets/safe_area.dart
  packages/flutter/test/widgets/safe_area_test.dart
Labels: framework, a: fidelity, a: quality, waiting for tree to go green

#98607 Specify widget height in EditableText shortcuts tests
  packages/flutter/test/widgets/editable_text_shortcuts_test.dart
Labels: a: text input, framework, waiting for tree to go green

#99298 More beautiful linear_gradient sample
  examples/api/lib/painting/gradient/linear_gradient.0.dart
  examples/api/pubspec.yaml
  examples/api/test/flutter_test_config.dart
  examples/api/test/goldens_io.dart
  examples/api/test/goldens_web.dart
  examples/api/test/painting/linear_gradient.0_test.dart
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, team, framework, d: api docs, d: examples, waiting for tree to go green, documentation, will affect goldens

#99432 Roll Engine from 45620d3de3fc to d0ec2205b34e (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99433 Fix lifecycle for API level 28
  dev/devicelab/lib/framework/devices.dart
  dev/devicelab/lib/tasks/android_lifecycles_test.dart
Labels: team, waiting for tree to go green

#99384 `CupertinoSliverNavigationBar`: Add example
  examples/api/lib/cupertino/nav_bar/cupertino_sliver_nav_bar.0.dart
  examples/api/test/cupertino/nav_bar/cupertino_sliver_nav_bar.0_test.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
Labels: team, framework, f: scrolling, f: cupertino, d: api docs, d: examples, documentation

#99446 Roll Engine from d0ec2205b34e to 121376d39a56 (7 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99489 Revert "Roll Engine from 121376d39a56 to 993285f64dac (6 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine

#99454 Deflake post-submit Linux/Samsung S10 tests
  .ci.yaml
Labels: waiting for tree to go green

#99501 Roll Engine from 121376d39a56 to a743fb81c763 (19 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99423 Fix the race condition in cache_test.dart
  packages/flutter_tools/test/integration.shard/cache_test.dart
Labels: tool

#99088 Deprecate MaterialButtonWithIconMixin
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/material_button.dart
Labels: framework, f: material design, severe: API break, d: api docs, waiting for tree to go green, documentation, tech-debt

#99513 Cherrypick engine
  bin/internal/engine.version
Labels: a: text input, team, framework, engine, f: material design, f: cupertino, d: api docs, d: examples, documentation

#99496 Use `PlatformDispatcher.instance` over `window` where possible
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
  dev/benchmarks/test_apps/stocks/test/icon_color_test.dart
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/lib/main.dart
  dev/integration_tests/ui/lib/route.dart
  examples/layers/raw/canvas.dart
  examples/layers/raw/hello_world.dart
  examples/layers/raw/spinning_square.dart
  examples/layers/raw/text.dart
  examples/layers/raw/touch_input.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/animation/animation_controller_test.dart
  packages/flutter/test/animation/animations_test.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/gestures/gesture_binding_resample_event_on_widget_test.dart
  packages/flutter/test/gestures/gesture_binding_resample_event_test.dart
  packages/flutter/test/gestures/gesture_binding_test.dart
  packages/flutter/test/gestures/locking_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/independent_layout_test.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/mouse_tracker_cursor_test.dart
  packages/flutter/test/rendering/mouse_tracker_test.dart
  packages/flutter/test/rendering/platform_view_test.dart
  packages/flutter/test/rendering/view_test.dart
  packages/flutter/test/scheduler/scheduler_test.dart
  packages/flutter/test/widgets/annotated_region_test.dart
  packages/flutter/test/widgets/binding_frame_scheduling_test.dart
  packages/flutter/test/widgets/reparent_state_with_layout_builder_test.dart
  packages/flutter/test/widgets/semantics_debugger_test.dart
  packages/flutter_localizations/test/widgets_test.dart
  packages/integration_test/lib/_callback_io.dart
Labels: a: text input, team, framework, a: animation, f: material design, a: accessibility, a: internationalization, d: examples, f: routes, f: gestures, waiting for tree to go green, integration_test

#99509 Roll Engine from a743fb81c763 to 96200db8e706 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99518 Roll Engine from 96200db8e706 to 33afddeacd9b (5 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99535 Roll Engine from 33afddeacd9b to 42814c3697df (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99537 Roll Engine from 42814c3697df to 36197621dea9 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#99545 Roll Engine from 36197621dea9 to 14b1f3fbc5e4 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99556 Roll Plugins from 0283a99ce39d to ab66a4bf3c4e (9 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#99363 Reland clean up clipboard.
  packages/flutter/lib/src/cupertino/desktop_text_selection.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/material/desktop_text_selection.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
  packages/flutter/test/material/text_selection_toolbar_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, waiting for tree to go green

#99560 Roll Engine from 14b1f3fbc5e4 to 9126849d86b1 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#97719 Fix custom-device default forwardPortSuccessRegex
  packages/flutter_tools/lib/src/commands/custom_devices.dart
  packages/flutter_tools/lib/src/custom_devices/custom_device_config.dart
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices_test.dart
Labels: tool, waiting for tree to go green

#99443 Use `BindingBase.platformDispatcher` over `BindingBase.window` where possible
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/gesture_settings.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/semantics/binding.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/lib/src/widgets/router.dart
  packages/flutter/test/material/app_test.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
  packages/flutter/test/painting/binding_test.dart
  packages/flutter/test/services/lifecycle_test.dart
  packages/flutter/test/widgets/binding_first_frame_developer_test.dart
  packages/flutter/test/widgets/binding_first_frame_rasterized_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
Labels: a: tests, a: text input, framework, f: material design, a: accessibility, f: routes, f: gestures, waiting for tree to go green

#99524 fix type error in service_worker_test.dart
  dev/bots/service_worker_test.dart
Labels: team, waiting for tree to go green

#98414 Improve documentation of `EditableText`/`TextField` callbacks
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, framework, f: material design, waiting for tree to go green

#99505 complete migration of flutter repo to Object.hash*
  dev/integration_tests/flutter_gallery/lib/demo/transformations/transformations_demo_board.dart
  dev/integration_tests/flutter_gallery/lib/gallery/demo.dart
  dev/integration_tests/flutter_gallery/lib/gallery/demos.dart
  dev/integration_tests/flutter_gallery/lib/gallery/options.dart
  dev/integration_tests/flutter_gallery/lib/gallery/scales.dart
  dev/integration_tests/web/lib/stack_trace.dart
  examples/api/lib/material/autocomplete/autocomplete.1.dart
  examples/api/lib/widgets/autocomplete/raw_autocomplete.1.dart
  packages/flutter/lib/src/foundation/README.md
  packages/flutter/lib/src/material/expansion_tile_theme.dart
  packages/flutter/lib/src/painting/basic_types.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/test/material/animated_icons_test.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_test/lib/src/image.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/matchers_test.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
Labels: a: tests, team, tool, framework, f: material design, d: api docs, d: examples, waiting for tree to go green, documentation

#98919 Migrate `Dialog` to Material 3
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/dialog_template.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/dialog_test.dart
Labels: team, framework, f: material design, waiting for tree to go green

#99565 Roll Engine from 9126849d86b1 to 2f819b16e6bb (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#98389 Improve container widget
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/test/widgets/container_test.dart
Labels: framework, waiting for tree to go green

#96863 CupertinoButton: Add clickable cursor on web
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/test/cupertino/button_test.dart
Labels: framework, f: cupertino, waiting for tree to go green

#99564 Add Windows performance benchmark
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/windows_home_scroll_perf__timeline_summary.dart
  dev/devicelab/lib/framework/devices.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
Labels: team, tool, f: scrolling, waiting for tree to go green

#99567 [framework] add gesture settings to draggable
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/gestures/gesture_config_regression_test.dart
Labels: framework, f: gestures, waiting for tree to go green

#99571 Roll Engine from 2f819b16e6bb to 42212138dfd0 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#98979 Make popup menu position configurable
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, waiting for tree to go green

#99566 Add logging when first frame is not rendering
  packages/flutter_tools/lib/src/tracing.dart
  packages/flutter_tools/test/general.shard/tracing_test.dart
Labels: tool, team: flakes, waiting for tree to go green

#99579 Mark Mac_ios simple_animation_perf_ios unflaky
  .ci.yaml
Labels: team: flakes, waiting for tree to go green

#99581 Roll Engine from 42212138dfd0 to 7b4905852d6f (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99586 Add version to xcode name cache.
  .ci.yaml
Labels: waiting for tree to go green

#99594 Roll Engine from 7b4905852d6f to e0e88d8c146f (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99609 Roll Engine from e0e88d8c146f to 6b5f8d13c380 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99611 Roll Engine from 6b5f8d13c380 to d0fe03eca4e5 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99602 Add vs_build dep to windows performance test
  .ci.yaml
Labels: waiting for tree to go green

#99620 Roll Engine from d0fe03eca4e5 to deace605c521 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99623 Roll Engine from deace605c521 to b6b301e2d563 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#99624 Roll Engine from b6b301e2d563 to e0648b42daaa (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99630 Roll Engine from e0648b42daaa to b2ba49443baf (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99645 Roll Engine from b2ba49443baf to 6576bd428ae1 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99649 Roll Engine from 6576bd428ae1 to 1875f0ad3f54 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#99657 Roll Engine from 1875f0ad3f54 to 97302b98fbb5 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99660 Roll Engine from 97302b98fbb5 to 877bec343b35 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99666 Roll Engine from 877bec343b35 to 898fadf19311 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99403 Re-invoke DismissIntent in Autocomplete if ignored
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: framework, waiting for tree to go green

#99687 Roll Plugins from ab66a4bf3c4e to 675f91b3a3e2 (7 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#99690 Roll Engine from 898fadf19311 to 2664593c3876 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99604 Remove package:typed_data from package:flutter dependencies
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/integration_tests/abstract_method_smoke_test/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/flutter_gallery/linux/flutter/generated_plugins.cmake
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/web/pubspec.yaml
  dev/integration_tests/web_compile_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/flutter/lib/src/foundation/serialization.dart
  packages/flutter/pubspec.yaml
  packages/flutter/test/services/message_codecs_test.dart
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/integration_test_macos/pubspec.yaml
Labels: team, framework, waiting for tree to go green

#98290 [flutter_tools] Add timeout duration to error and handle exceptions for HttpHostValidator.
  packages/flutter_tools/lib/src/http_host_validator.dart
  packages/flutter_tools/test/commands.shard/hermetic/http_host_validator_test.dart
Labels: tool, waiting for tree to go green

#99078 Support route on ios
  .ci.yaml
  TESTOWNERS
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
Labels: tool, waiting for tree to go green

#99696 Roll Engine from 2664593c3876 to f4e3f227d9aa (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99705 Roll Engine from f4e3f227d9aa to 1d581abd3f09 (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#98616 Remove deprecated RenderObjectElement methods
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/render_object_element_test.dart
Labels: team, framework, severe: API break, a: quality, waiting for tree to go green, tech-debt

#99709 Roll Engine from 1d581abd3f09 to 9e1594bd741f (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99716 correct github account usernames
  .github/dependabot.yml
Labels: waiting for tree to go green

#98583 Remove deprecated Overflow and Stack.overflow
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: team, framework, severe: API break, a: quality, waiting for tree to go green, tech-debt

#99721 Roll Engine from 9e1594bd741f to 9c3f73864029 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#98539 Remove deprecated CupertinoTextField, TextField, TextFormField maxLengthEnforced
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, team, framework, f: material design, severe: API break, f: cupertino, waiting for tree to go green, tech-debt

#99165 Adds a Listview tile select example
  examples/api/lib/widgets/scroll_view/listview_select.1.dart
  examples/api/test/widgets/scrollview/listview_select_test.1.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
Labels: team, f: scrolling, d: api docs, d: examples, waiting for tree to go green, documentation

#99728 Roll Engine from 9c3f73864029 to 0fed94d050b1 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99729 Check string size before Win32 MultiByte <-> WideChar conversions
  dev/integration_tests/flutter_gallery/windows/runner/utils.cpp
  dev/manual_tests/windows/runner/utils.cpp
  examples/api/windows/runner/utils.cpp
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/utils.cpp
Labels: team, tool, d: api docs, d: examples, documentation

#99401 Fix: Date picker interactive sample not loading
  packages/flutter/lib/src/material/date_picker.dart
Labels: framework, f: material design, waiting for tree to go green

#99751 Roll Engine from 0fed94d050b1 to 5c760759feca (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99765 Roll Plugins from 675f91b3a3e2 to b906ea50c900 (4 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#92909 Add Foldable support for modal routes
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/widgets/display_feature_sub_screen.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/material/about_test.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: a: tests, severe: new feature, framework, f: material design, cla: yes, f: cupertino, f: routes, waiting for tree to go green, a: layout

#99768 Revert "Remove deprecated CupertinoTextField, TextField, TextFormField maxLengthEnforced"
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, waiting for tree to go green

#99568 Update Material tokens to v0.88
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/data/assist_chip.json
  dev/tools/gen_defaults/data/banner.json
  dev/tools/gen_defaults/data/color_dark.json
  dev/tools/gen_defaults/data/color_light.json
  dev/tools/gen_defaults/data/dialog.json
  dev/tools/gen_defaults/data/elevated_card.json
  dev/tools/gen_defaults/data/elevation.json
  dev/tools/gen_defaults/data/fab_extended_primary.json
  dev/tools/gen_defaults/data/fab_large_primary.json
  dev/tools/gen_defaults/data/fab_primary.json
  dev/tools/gen_defaults/data/fab_small_primary.json
  dev/tools/gen_defaults/data/filled_card.json
  dev/tools/gen_defaults/data/filter_chip.json
  dev/tools/gen_defaults/data/input_chip.json
  dev/tools/gen_defaults/data/motion.json
  dev/tools/gen_defaults/data/navigation_bar.json
  dev/tools/gen_defaults/data/navigation_rail.json
  dev/tools/gen_defaults/data/outlined_card.json
  dev/tools/gen_defaults/data/palette.json
  dev/tools/gen_defaults/data/shape.json
  dev/tools/gen_defaults/data/slider.json
  dev/tools/gen_defaults/data/state.json
  dev/tools/gen_defaults/data/suggestion_chip.json
  dev/tools/gen_defaults/data/text_style.json
  dev/tools/gen_defaults/data/top_app_bar_large.json
  dev/tools/gen_defaults/data/top_app_bar_medium.json
  dev/tools/gen_defaults/data/top_app_bar_small.json
  dev/tools/gen_defaults/data/typeface.json
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/lib/src/material/typography.dart
Labels: a: text input, team, framework, f: material design

#99771 Handle hidden dot files in iOS framework bundles
  dev/devicelab/bin/tasks/module_test_ios.dart
  packages/flutter_tools/bin/podhelper.rb
Labels: team, platform-ios, tool, waiting for tree to go green

#97793 Fix Typo
  packages/flutter_tools/lib/src/android/gradle_errors.dart
Labels: tool

#98546 Remove deprecated OutlineButton
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/flat_button.dart
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/lib/src/material/outline_button.dart
  packages/flutter/lib/src/material/raised_button.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/outline_button_test.dart
  packages/flutter/test/material/theme_defaults_test.dart
Labels: team, framework, f: material design, severe: API break, a: quality, waiting for tree to go green, tech-debt

#99550 95533 min sdk error msgs enhancements
  packages/flutter_tools/README.md
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/templates/app_shared/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, waiting for tree to go green

#99574 Remove tool crash git.io link shortener
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/reporting/crash_reporting.dart
  packages/flutter_tools/lib/src/reporting/github_template.dart
  packages/flutter_tools/test/general.shard/crash_reporting_test.dart
  packages/flutter_tools/test/general.shard/github_template_test.dart
  packages/flutter_tools/test/src/fake_http_client.dart
Labels: a: text input, tool, waiting for tree to go green

#99710 Add the refresh rate fields to perf_test
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_driver/lib/src/driver/refresh_rate_summarizer.dart
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
Labels: a: tests, team, framework, waiting for tree to go green

#99787 Re-land removal of maxLengthEnforced deprecation
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, waiting for tree to go green

#99801 Revert "Add the refresh rate fields to perf_test"
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_driver/lib/src/driver/refresh_rate_summarizer.dart
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
Labels: a: tests, team, framework

#99056 Avoid calling `performLayout` when only the relayout boundary is different
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/relayout_boundary_test.dart
Labels: framework, waiting for tree to go green

#99507 remove unnecessary null check
  packages/flutter/lib/src/widgets/widget_inspector.dart
Labels: framework, waiting for tree to go green

#99791 Pass 'assume-initialize-from-dill-up-to-date' flag to the frontend server
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: tool, waiting for tree to go green

#99792 Roll Engine from 5c760759feca to 621c88dc2d13 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99809 Roll Engine from 621c88dc2d13 to 9362061fbb79 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99828 Roll Plugins from b906ea50c900 to eb6ad34c32b7 (9 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#99838 Roll Engine from 9362061fbb79 to a0963f14b67d (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99570 updateEditingValueWithDeltas snippet docs fix
  packages/flutter/lib/src/services/text_input.dart
Labels: a: text input, framework

#99782 Updated tokens to v0.90.
  dev/tools/gen_defaults/data/assist_chip.json
  dev/tools/gen_defaults/data/banner.json
  dev/tools/gen_defaults/data/color_dark.json
  dev/tools/gen_defaults/data/color_light.json
  dev/tools/gen_defaults/data/dialog.json
  dev/tools/gen_defaults/data/elevated_card.json
  dev/tools/gen_defaults/data/elevation.json
  dev/tools/gen_defaults/data/fab_extended_primary.json
  dev/tools/gen_defaults/data/fab_large_primary.json
  dev/tools/gen_defaults/data/fab_primary.json
  dev/tools/gen_defaults/data/fab_small_primary.json
  dev/tools/gen_defaults/data/filled_card.json
  dev/tools/gen_defaults/data/filter_chip.json
  dev/tools/gen_defaults/data/input_chip.json
  dev/tools/gen_defaults/data/motion.json
  dev/tools/gen_defaults/data/navigation_bar.json
  dev/tools/gen_defaults/data/navigation_rail.json
  dev/tools/gen_defaults/data/outlined_card.json
  dev/tools/gen_defaults/data/palette.json
  dev/tools/gen_defaults/data/shape.json
  dev/tools/gen_defaults/data/slider.json
  dev/tools/gen_defaults/data/state.json
  dev/tools/gen_defaults/data/suggestion_chip.json
  dev/tools/gen_defaults/data/text_style.json
  dev/tools/gen_defaults/data/top_app_bar_large.json
  dev/tools/gen_defaults/data/top_app_bar_medium.json
  dev/tools/gen_defaults/data/top_app_bar_small.json
  dev/tools/gen_defaults/data/typeface.json
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/lib/src/material/typography.dart
Labels: a: text input, team, framework, f: material design

#99847 Roll Engine from a0963f14b67d to 6d7bcc9e577c (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#99722 Fix `ColorScheme.shadow` to default to black even for dark themes.
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/test/material/color_scheme_test.dart
Labels: framework, f: material design

#92672 First pass at using platform abstraction for plugins
  dev/devicelab/lib/tasks/dart_plugin_registry_tests.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
  packages/flutter_tools/templates/plugin/lib/projectName.dart.tmpl
  packages/flutter_tools/templates/plugin/lib/projectName_method_channel.dart.tmpl
  packages/flutter_tools/templates/plugin/lib/projectName_platform_interface.dart.tmpl
  packages/flutter_tools/templates/plugin/lib/projectName_web.dart.tmpl
  packages/flutter_tools/templates/plugin/test/projectName_method_channel_test.dart.tmpl
  packages/flutter_tools/templates/plugin/test/projectName_test.dart.tmpl
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: team, tool, cla: yes, waiting for tree to go green

#94509 [tool] Add CADisableMinimumFrameDurationOnPhone to iOS templates
  packages/flutter_tools/templates/app_shared/ios.tmpl/Runner/Info.plist.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.tmpl/Info.plist.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#99870 Roll Engine from 6d7bcc9e577c to 09a11d137953 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#98582 Remove deprecated RenderEditable.onSelectionChanged
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/test/rendering/editable_gesture_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: a: text input, team, framework, severe: API break, a: quality, waiting for tree to go green, tech-debt

#99731 [Material] Create an InkSparkle splash effect that matches the Material 3 ripple effect
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/ink_sparkle.dart
  packages/flutter/test/material/ink_sparkle_test.dart
Labels: framework, a: animation, f: material design, waiting for tree to go green, will affect goldens

#99843 [ci.yaml] Remove unused benchmark property
  .ci.yaml
Labels: team, waiting for tree to go green, team: infra

#99878 Roll Engine from 09a11d137953 to 2c1816b39127 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#98578 Remove expired ThemeData deprecations
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: a: text input, team, framework, f: material design, severe: API break, a: quality, waiting for tree to go green, tech-debt

#99913 Roll Plugins from eb6ad34c32b7 to 20e231b0529c (8 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#99917 Roll Engine from bf2bf3a3fd2b to 6b1a24b1a108 (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99920 Revert "Remove expired ThemeData deprecations"
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: a: text input, framework, f: material design, waiting for tree to go green

#99923 Roll Engine from 6b1a24b1a108 to 482218b6770e (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99525 relax all accessibility action check on android accessibility integra…
  dev/integration_tests/android_semantics_testing/test_driver/main_test.dart
Labels: team, a: accessibility

#99929 Roll Engine from 482218b6770e to 6239bfb88423 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#99842 Update bug number for `android_semantics_integration_test`
  .ci.yaml
Labels: team, waiting for tree to go green, team: infra

#99725 [web] roll Chromium dep to 96.2
  .ci.yaml
  examples/hello_world/test_driver/smoke_web_engine_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: team, waiting for tree to go green, will affect goldens, team: infra

#96774 Fix flutter web app not respecting assets path when in non-root folder
  dev/bots/service_worker_test.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
Labels: tool, waiting for tree to go green

#99941 Marks Mac dart_plugin_registry_test to be flaky
  .ci.yaml
Labels: waiting for tree to go green

#99949 Revert "[web] roll Chromium dep to 96.2"
  .ci.yaml
  examples/hello_world/test_driver/smoke_web_engine_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: team, framework, f: cupertino, d: examples

#99990 Roll Plugins from 20e231b0529c to 0ade756afed0 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#99682 Fix/text containing finder work with rich texts
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/test/finders_test.dart
Labels: a: tests, framework, waiting for tree to go green

#100061 Roll Engine from 6239bfb88423 to 25acd778c96b (33 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#99987 Update semantics live region documentation
  AUTHORS
  packages/flutter/lib/src/semantics/semantics.dart
Labels: framework, a: accessibility, waiting for tree to go green

#99936 Ensure dart_plugin_registry shows stderr and exits when process exits
  dev/devicelab/lib/tasks/dart_plugin_registry_tests.dart
Labels: team, waiting for tree to go green

#100063 Roll Plugins from 0ade756afed0 to 0d5cf74c437e (2 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#99781 Fix route integration test on ios
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/route_test_ios.dart
Labels: team, tool, waiting for tree to go green, team: infra

#99871 [flutter_tools] exec rather than spawn subprocess from bin/internal/shared.sh
  bin/internal/shared.sh
  packages/flutter_tools/test/integration.shard/bash_entrypoint_test.dart
  packages/flutter_tools/test/integration.shard/test_data/listen_for_sigterm.dart
Labels: tool, waiting for tree to go green

#100068 Revert "Avoid calling `performLayout` when only the relayout boundary is different"
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/relayout_boundary_test.dart
Labels: framework, waiting for tree to go green
