Repository flutter/flutter, pull requests merged in 2022-08, with the labels that each got.

#108716 Roll Flutter Engine from 3cba105ed0bd to cf0db3e54687 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#108738 Roll Plugins from 257eacb1e2aa to a6d42f1e01d3 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#108623 Override PlaceholderDimensions equality operator to avoid unnecessary TextPainter re-layouts
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/painting/text_painter_test.dart
Labels: a: text input, framework, autosubmit

#108734 Roll Flutter Engine from cf0db3e54687 to aa9004449786 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108744 Roll Flutter Engine from aa9004449786 to 6d2fd23404b8 (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108743 Fix lerp to eccentric circle.
  dev/manual_tests/lib/star_border.dart
  packages/flutter/lib/src/painting/star_border.dart
  packages/flutter/test/painting/star_border_test.dart
Labels: team, framework, will affect goldens, autosubmit

#108749 Roll Flutter Engine from 6d2fd23404b8 to f182794500dc (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#108751 Roll Flutter Engine from f182794500dc to 25e8021c91e4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108747 clean-up analysis_options.yaml
  analysis_options.yaml
Labels: autosubmit

#107834 Fix ExpansionTile shows children background when expanded
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: framework, f: material design, a: quality, autosubmit

#108573 Create `containsSemantics` to allow for partial matching of semantics in tests.
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, a: accessibility, autosubmit

#108757 Roll Flutter Engine from e771729efdde to 7d0f6d2f11df (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108652 Enable conditional_uri_does_not_exist
  analysis_options.yaml
Labels: team, autosubmit

#108763 Roll Flutter Engine from 7d0f6d2f11df to b257966d8daa (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108766 Roll Flutter Engine from b257966d8daa to 60e5eb6f3c2c (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108769 Reland `Linux_samsung_a02 openpay_benchmarks__scroll_perf` (#108466)
  .ci.yaml
  TESTOWNERS
Labels: autosubmit

#108508 [SelectionOverlay]Move the debug statement to the scope of the assertion.
  examples/api/lib/widgets/overlay/overlay.0.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: a: text input, framework, autosubmit

#108780 Roll Flutter Engine from 60e5eb6f3c2c to 1c3b1b305ef3 (11 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108782 Roll Flutter Engine from 1c3b1b305ef3 to b6078110efda (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108784 Roll Flutter Engine from b6078110efda to 3b2bd24a1e0b (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108788 Roll Flutter Engine from 3b2bd24a1e0b to 0e5392c4c248 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108793 Roll Flutter Engine from 0e5392c4c248 to 4b192569797f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#108798 Roll Flutter Engine from 4b192569797f to e0b5edc1131b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108814 Roll Flutter Engine from e0b5edc1131b to b164c5c86d1c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108821 Roll Flutter Engine from b164c5c86d1c to eb2b57bdb7bc (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108822 Roll Plugins from a6d42f1e01d3 to 0d6d03a94ed5 (1 revision)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#108825 Roll Flutter Engine from eb2b57bdb7bc to 978d8e2dbe35 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#107477 Loupe Android + iOS
  packages/flutter/lib/cupertino.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/cupertino/magnifier.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/magnifier.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/selection_area.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/magnifier.dart
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/magnifier_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/magnifier_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/magnifier_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, will affect goldens

#108820 Mark `Mac_ios microbenchmarks_ios_flaky` flaky
  .ci.yaml
Labels: autosubmit

#97972 Deprecate `toggleableActiveColor`
  dev/integration_tests/flutter_gallery/lib/gallery/themes.dart
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter/test_fixes/material.dart
  packages/flutter/test_fixes/material.dart.expect
Labels: team, framework, f: material design, severe: API break, will affect goldens, tech-debt, autosubmit

#108830 Roll Flutter Engine from 978d8e2dbe35 to 2b3173254281 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108301 [flutter_tools] Test that DAP process terminates at the end of a session
  packages/flutter_tools/test/integration.shard/debug_adapter/flutter_adapter_test.dart
Labels: tool, autosubmit

#108833 Roll Flutter Engine from 2b3173254281 to 4e9c8699468a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108831 [flutter_releases] Flutter beta 3.3.0-0.2.pre Framework Cherrypicks
  bin/internal/flutter_plugins.version
  packages/flutter/lib/src/rendering/platform_view.dart
  packages/flutter/test/rendering/platform_view_test.dart
  packages/flutter/test/services/fake_platform_views.dart
Labels: framework

#108836 fix noop toString() diagnostics
  packages/flutter_tools/lib/src/migrate/migrate_manifest.dart
  packages/flutter_tools/test/integration.shard/build_ios_config_only_test.dart
Labels: tool, autosubmit

#108639 [flutter_tools] Migrate more tool tests to null-safety
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_get_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/update_packages_test.dart
Labels: tool, autosubmit

#108844 Revert "Fix ExpansionTile shows children background when expanded"
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: framework, f: material design, autosubmit

#108838 Roll Flutter Engine from 4e9c8699468a to 6724561b1cf4 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108843 Update docs to show ImageChunkEvent is an optional param
  packages/flutter/lib/src/widgets/image.dart
Labels: framework

#108718 Reland "Add shadowColor and surfaceTintColor to Dialog and DialogTheme."
  dev/tools/gen_defaults/lib/dialog_template.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: team, framework, f: material design

#108847 Roll Flutter Engine from 6724561b1cf4 to f3deaba5a359 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#108849 Roll Flutter Engine from f3deaba5a359 to c07e1acfadda (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108850 Roll Flutter Engine from c07e1acfadda to a1e77ae885a0 (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108853 Roll Flutter Engine from a1e77ae885a0 to c4564762773f (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108857 Roll Flutter Engine from c4564762773f to 6cd744bb9706 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108860 Roll Flutter Engine from 6cd744bb9706 to 51296a62d98c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108862 Roll Flutter Engine from 51296a62d98c to 05228ad454bc (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108882 Revert "Roll Flutter Engine from 51296a62d98c to 05228ad454bc (1 revision)"
  bin/internal/engine.version
Labels: engine, warning: land on red to fix tree breakage

#108887 Roll Plugins from 0d6d03a94ed5 to e74c42028d39 (5 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#108899 Roll Flutter Engine from 51296a62d98c to 2c282981d849 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#108430 [flutter_test] Add flag to send device pointer events to the framework
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/live_binding_test.dart
Labels: a: tests, framework, customer: money (g3), autosubmit

#108903 Roll Flutter Engine from 2c282981d849 to adba70232a61 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108884 fix flutter not finding custom device
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
Labels: tool, autosubmit

#108906 Force a11y services to off for complex_layout_semantics_perf test
  dev/benchmarks/complex_layout/test_driver/semantics_perf_test.dart
Labels: team, a: accessibility, autosubmit

#108507 Update `equalsIgnoringHashCodes` to take a list of Strings
  packages/flutter/test/material/checkbox_theme_test.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/list_tile_theme_test.dart
  packages/flutter/test/material/radio_theme_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, f: material design, autosubmit

#105407 [macOS] Use editing intents from engine
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/event_simulation.dart
  packages/flutter_test/lib/src/test_text_input.dart
  packages/flutter_test/lib/src/test_text_input_key_handler.dart
  packages/flutter_test/test/test_text_input_test.dart
Labels: a: tests, a: text input, framework

#108332 Added `IconButtonTheme` and apply it to `IconButton` in M3
  dev/tools/gen_defaults/lib/icon_button_template.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/constants.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/icon_button_theme.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/icon_button_theme_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: a: text input, framework, f: material design

#108776 [web] Add onEntrypointLoaded to FlutterLoader.
  dev/bots/service_worker_test.dart
  dev/bots/test.dart
  dev/integration_tests/web/web/index_with_flutterjs_entrypoint_loaded.html
  dev/md
  packages/flutter_tools/lib/src/web/file_generators/flutter_js.dart
Labels: team, tool, platform-web, autosubmit, flutter.js

#108868 [flutter_test] perf: find.ancestor
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: tests, framework, autosubmit

#108922 Roll Flutter Engine from adba70232a61 to 1188a808e1e0 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108915 Remove some outdated ignores from framework
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/lib/src/widgets/unique_widget.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/_compute_caller_unsound_null_safety_error.dart
  packages/flutter/test/foundation/assertions_test.dart
  packages/flutter/test/material/scrollbar_test.dart
  packages/flutter/test/painting/painting_utils.dart
  packages/flutter/test/rendering/sliver_fixed_extent_layout_test.dart
  packages/flutter/test/services/hardware_keyboard_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/raw_keyboard_listener_test.dart
Labels: team, framework, a: animation, f: material design, f: scrolling, f: gestures, tech-debt, autosubmit

#108925 Roll Flutter Engine from 1188a808e1e0 to 1743d1db1dda (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#107179 Clean up ScrollbarPainter
  packages/flutter/lib/src/widgets/scrollbar.dart
Labels: team, framework, f: scrolling, a: quality, tech-debt, autosubmit

#108924 Remove outdated ignores
  dev/integration_tests/deferred_components_test/lib/main.dart
  dev/integration_tests/web/lib/stack_trace.dart
  dev/integration_tests/web_e2e_tests/test_driver/text_editing_integration.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/event_simulation.dart
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
  packages/flutter_tools/test/general.shard/base/logger_test.dart
  packages/flutter_tools/test/general.shard/device_port_forwarder_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: a: tests, tool, framework, autosubmit

#108930 Add more logs to diagnose Gold flake
  packages/flutter_goldens/test/flutter_goldens_test.dart
  packages/flutter_goldens_client/lib/skia_client.dart
Labels: a: tests, team, framework, autosubmit

#108937 Roll Flutter Engine from 1743d1db1dda to 633a2c868ac9 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#108940 Roll Flutter Engine from 633a2c868ac9 to 2944653f476c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108943 Roll Flutter Engine from 2944653f476c to 86d862da243e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108946 Don't redefine SkSL builtin function 'saturate'
  packages/flutter/lib/src/material/shaders/ink_sparkle.frag
Labels: framework, f: material design

#108947 Roll Flutter Engine from 86d862da243e to 7b6911a843c4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108950 Roll Flutter Engine from 7b6911a843c4 to e32e0d217b96 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108984 Add avoid_redundant_argument_values ignores back
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: tool, warning: land on red to fix tree breakage, autosubmit

#108931 Can call ChangeNotifier.hasListeners after disposed
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/test/foundation/change_notifier_test.dart
Labels: framework, autosubmit

#108952 Roll Flutter Engine from e32e0d217b96 to 87874adcfb0c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108987 Roll Flutter Engine from 87874adcfb0c to ec1be5b9c3c4 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#108986 Roll Plugins from e74c42028d39 to 5f2e02cf63b4 (9 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#108907 [platform_view]longer wait time for element
  dev/integration_tests/ios_platform_view_tests/ios/PlatformViewUITests/PlatformViewUITests.m
Labels: team, autosubmit

#108989 Roll Flutter Engine from ec1be5b9c3c4 to 9ec11a055056 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108993 Roll Flutter Engine from 9ec11a055056 to 8a82422e5d18 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108994 Remove android_sdk and open_jdk from some iOS-only tests
  .ci.yaml
Labels: team: infra, autosubmit

#108995 Roll Flutter Engine from 8a82422e5d18 to 708349373697 (6 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108997 Roll Flutter Engine from 708349373697 to 81f540020ad0 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109003 Roll Flutter Engine from 81f540020ad0 to 6f47e3755ade (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109006 Roll Flutter Engine from 6f47e3755ade to 96388119cf3f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109010 Roll Flutter Engine from 96388119cf3f to 7d1abfe094e8 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109012 Roll Flutter Engine from 7d1abfe094e8 to e4f93b853de0 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#109009 Making xcode version consistent across .ci.yaml.
  .ci.yaml
Labels: autosubmit

#109013 Roll Flutter Engine from e4f93b853de0 to a4780451769d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109016 Roll Flutter Engine from a4780451769d to 8e05bbe6b838 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#109017 Roll Flutter Engine from 8e05bbe6b838 to 25bad51f09d6 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108792 Plugin FFI template bump ffigen to 6.0.1
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
Labels: tool, autosubmit

#105032 [flutter_tools] refactor stringsArg
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/args_test.dart
Labels: tool, autosubmit

#109021 [flutter_tools] ensure setAssetDirectory uses windows path
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: tool, autosubmit

#109044 Roll Plugins from 5f2e02cf63b4 to f07efc23410b (4 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#108659 Typo in Documentation for Restoration with didChangeDependencies
  packages/flutter/lib/src/widgets/restoration.dart
Labels: framework, autosubmit

#109049 Ignore one avoid_redundant_argument_values, requires linter fix.
  dev/integration_tests/android_semantics_testing/lib/src/tests/controls_page.dart
Labels: team, a: accessibility, autosubmit

#109063 Roll Flutter Engine from 25bad51f09d6 to 57f43bd3a901 (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109065 Roll Flutter Engine from 57f43bd3a901 to da4455d9c925 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#108710 Apply `indexToItemIndex` to indices returned by `findChildIndexCallback` in `SliverAnimatedListState`
  packages/flutter/lib/src/widgets/animated_list.dart
  packages/flutter/test/widgets/animated_list_test.dart
Labels: framework, f: scrolling, autosubmit

#109067 Roll Flutter Engine from da4455d9c925 to 021ee4e16c82 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108936 Do not abort at first error when tests fail.
  dev/bots/analyze.dart
  dev/bots/run_command.dart
  dev/bots/service_worker_test.dart
  dev/bots/test.dart
  dev/bots/test/analyze_test.dart
  dev/bots/utils.dart
Labels: team

#109069 Roll Flutter Engine from 021ee4e16c82 to 4780caad406f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#108858 [Fonts] Update icons
  bin/internal/material_fonts.version
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/test/material/icons_test.dart
Labels: framework, f: material design, will affect goldens

#109073 Revert "[Fonts] Update icons"
  bin/internal/material_fonts.version
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/test/material/icons_test.dart
Labels: framework, f: material design, warning: land on red to fix tree breakage

#109072 Roll Flutter Engine from 4780caad406f to ffb0ad778ee2 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#109074 Roll Flutter Engine from ffb0ad778ee2 to d1e5b60361b7 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109075 Roll Flutter Engine from d1e5b60361b7 to 490e6e93d23f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109078 Roll Flutter Engine from 490e6e93d23f to 4f2c7a6c6d89 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#109080 Roll Flutter Engine from 4f2c7a6c6d89 to 2323f70cab3b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#109082 Roll Flutter Engine from 2323f70cab3b to d94fc416b1ff (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109088 Roll Flutter Engine from d94fc416b1ff to 1e05711b36db (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109090 Roll Flutter Engine from 1e05711b36db to a195b6b6f35a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109092 Roll Flutter Engine from a195b6b6f35a to bb8a77c64f69 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#109101 Roll Flutter Engine from bb8a77c64f69 to b6b8f310c4b2 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109102 Roll Flutter Engine from b6b8f310c4b2 to f441093e02a5 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109105 Roll Flutter Engine from f441093e02a5 to b813f1eeae04 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#109026 Add quotes to Gradle NDK version error message
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/test/integration.shard/android_plugin_ndkversion_mismatch_test.dart
Labels: tool, autosubmit

#109110 Roll Flutter Engine from b813f1eeae04 to 1736a5562c4f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109118 Roll Flutter Engine from 1736a5562c4f to 31834da2d97f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109119 Roll Flutter Engine from 31834da2d97f to cae2f2b67449 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109121 Roll Flutter Engine from cae2f2b67449 to a8dec8426732 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#109130 Roll Flutter Engine from a8dec8426732 to 5e33a1f88a3e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109131 Roll Flutter Engine from 5e33a1f88a3e to f1fcb7557335 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109133 Roll Flutter Engine from f1fcb7557335 to e3477e473970 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109134 Roll Flutter Engine from e3477e473970 to 88394df55a41 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109138 Roll Flutter Engine from 88394df55a41 to fa30c6879b4d (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#109144 Roll Flutter Engine from fa30c6879b4d to dde62a46ec5a (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#109152 Roll Flutter Engine from dde62a46ec5a to ecf05ddad854 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109071 Add `outlineVariant` and `scrim` colors to `ColorScheme`
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/test/material/color_scheme_test.dart
Labels: framework, f: material design, autosubmit

#109164 Roll Flutter Engine from ecf05ddad854 to 518f223c34d7 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109168 Roll Flutter Engine from 518f223c34d7 to 907143bbb451 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109170 [flutter roll] Revert "Reland "Add shadowColor and surfaceTintColor to Dialog and Di…
  dev/tools/gen_defaults/lib/dialog_template.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: team, framework, f: material design, autosubmit

#109173 Roll Flutter Engine from 907143bbb451 to 9c3950e03301 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109174 Roll Flutter Engine from 9c3950e03301 to b9e8d09a7cd4 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#109091 [flutter_tools] support hot reload of font assets
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: tool, autosubmit

#108839 CP Catch more general XmlException #106365
  packages/flutter_tools/lib/src/android/application_package.dart
  packages/flutter_tools/lib/src/android/deferred_components_gen_snapshot_validator.dart
  packages/flutter_tools/lib/src/android/deferred_components_prebuild_validator.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/multidex.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool

#109176 Roll Flutter Engine from b9e8d09a7cd4 to 8adb92cfa296 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109178 Roll Flutter Engine from 8adb92cfa296 to 1edf99f3c9c0 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109172 Revert "Reland "Add shadowColor and surfaceTintColor to Dialog and Di…
  dev/tools/gen_defaults/lib/dialog_template.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: team, framework, f: material design, autosubmit

#109181 Roll Flutter Engine from 1edf99f3c9c0 to 086c02e63ce4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109183 Roll Flutter Engine from 086c02e63ce4 to a51c7638e702 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#109185 Fix autocomplete selections
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: framework, autosubmit

#109186 Roll Flutter Engine from a51c7638e702 to 79f726cbc560 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#109188 Roll Flutter Engine from 79f726cbc560 to 55413b24a260 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109189 Roll Flutter Engine from 55413b24a260 to 9bfbc548a6c7 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#109192 Roll Flutter Engine from 9bfbc548a6c7 to 6c14fb339fe1 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109193 Roll Flutter Engine from 6c14fb339fe1 to 82c8e2c0c6a0 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109194 Roll Flutter Engine from 82c8e2c0c6a0 to 72ad23564c99 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#109196 Roll Flutter Engine from 72ad23564c99 to b6dd604d9067 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#107648 [flutter_tools] Fix tool crash for map cast
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_get_test.dart
Labels: tool, autosubmit
