Repository flutter/flutter, pull requests merged in 2022-07, with the labels that each got.

#106910 Roll Flutter Engine from 6d498422cb2b to 9bd9114d8526 (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106795 Animated fractionally sized box
  examples/api/lib/widgets/implicit_animations/animated_fractionally_sized_box.0.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/widgets/implicit_animations_test.dart
Labels: new feature, framework, a: animation, waiting for tree to go green, autosubmit

#106919 Roll Flutter Engine from 9bd9114d8526 to a62945b236a2 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106922 Roll Flutter Engine from a62945b236a2 to b9547182c38b (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106926 Roll Flutter Engine from b9547182c38b to caec3e305a23 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106959 Roll Plugins from 670ade44963f to b5e4ad208a06 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#106965 Roll Flutter Engine from b9547182c38b to 28a5d3c05d61 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#106968 Roll Flutter Engine from 28a5d3c05d61 to 5cb924c189a9 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106967 Revert "Reland "Clipping if only one character text overflows (#99146…
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/rendering/paragraph_test.dart
Labels: a: text input, framework

#106964 [flutter roll] Revert "Reland "Clipping if only one character text overflows (#99146…
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/rendering/paragraph_test.dart
Labels: a: text input, framework, autosubmit

#106971 Roll Flutter Engine from 5cb924c189a9 to 6a54862353b4 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#106978 Roll Flutter Engine from 6a54862353b4 to 6a9124653a53 (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106980 Roll Flutter Engine from 6a9124653a53 to 684b54b55f5d (1 revision)
  bin/internal/canvaskit.version
  bin/internal/engine.version
Labels: waiting for tree to go green

#106921 [tool][web] Create an early web plugin_registrant for dartpad.
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/integration.shard/web_plugin_registrant_test.dart
Labels: tool, autosubmit

#105638 Add error messages to `_debugCanPerformMutations`
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/mutations_test.dart
Labels: framework, autosubmit

#106981 Roll Flutter Engine from 684b54b55f5d to 698fb83c35c3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#106984 Roll Flutter Engine from 698fb83c35c3 to e9d7b921d741 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106990 Roll Flutter Engine from e9d7b921d741 to 2bdc8e5b4c10 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106994 Roll Flutter Engine from 2bdc8e5b4c10 to a87b94a1a260 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#106998 Roll Flutter Engine from a87b94a1a260 to ef0f97185aec (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#106989 [framework] partial removal of forced compositing from opacity
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
  packages/flutter/test/widgets/debug_test.dart
Labels: framework, autosubmit

#107012 Roll Flutter Engine from ef0f97185aec to 2013801d2133 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107013 Roll Flutter Engine from 2013801d2133 to c5e54626ff68 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107019 Roll Flutter Engine from c5e54626ff68 to 51dc113c3f0f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107023 Roll Flutter Engine from 51dc113c3f0f to 5d1fddcd767a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107027 Roll Flutter Engine from 5d1fddcd767a to 20a5cf445148 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107032 Roll Flutter Engine from 20a5cf445148 to 003a0c87f770 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107041 Roll Flutter Engine from 003a0c87f770 to d441d7964b0c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107043 Roll Flutter Engine from d441d7964b0c to 07fe96cd4666 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107047 Roll Flutter Engine from 07fe96cd4666 to 90376212bf8b (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107049 Roll Flutter Engine from 90376212bf8b to e78ed7f1c973 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107060 Roll Flutter Engine from e78ed7f1c973 to 14f2f42bc6c8 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107065 Roll Flutter Engine from 14f2f42bc6c8 to 5312f485afa7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107072 Roll Flutter Engine from 5312f485afa7 to 93bd92af2301 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107079 Roll Flutter Engine from 93bd92af2301 to ce556dc481d5 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107082 Roll Flutter Engine from ce556dc481d5 to 560b55f4473a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107083 Roll Flutter Engine from 560b55f4473a to f110f3fd93bb (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107084 Roll Flutter Engine from f110f3fd93bb to 94b47cc0ebb8 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107086 Roll Flutter Engine from 94b47cc0ebb8 to 69901542b746 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107094 Roll Flutter Engine from 69901542b746 to c49de3fc089a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107102 Roll Flutter Engine from c49de3fc089a to edfe4d689169 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107111 Roll Flutter Engine from edfe4d689169 to 8197dec7e27b (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107116 Roll Flutter Engine from 8197dec7e27b to ed6adf55e029 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107120 Roll Flutter Engine from ed6adf55e029 to d7b6d9bbc0f2 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107144 Roll Flutter Engine from d7b6d9bbc0f2 to d87f730fae7b (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107154 Roll Plugins from b5e4ad208a06 to 3a2cd24a4a89 (7 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#107158 Roll Flutter Engine from d87f730fae7b to 3868f93222a1 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107168 [g3 roll] revert #105537 Implement frameData for TestWindow
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/bindings_test.dart
Labels: a: tests, framework, autosubmit

#107171 [g3 roll] Revert "Implement frameData for TestWindow (#105537)"
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/bindings_test.dart
Labels: a: tests, framework

#107170 Roll Flutter Engine from 3868f93222a1 to ea9e0d0ac508 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107174 Roll Flutter Engine from ea9e0d0ac508 to bfd29b249367 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107149 Add documentation references to BottomSheetThemeData
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/scaffold.dart
Labels: framework, f: material design

#106511 Fix typo in painting.TextStyle.merge docs
  packages/flutter/lib/src/painting/text_style.dart
Labels: a: text input, framework, autosubmit

#106904 Clarify that inputFormatters don't run on programmatical changes
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, framework, waiting for tree to go green

#107194 Bump dartdoc to 6.0.0
  dev/bots/docs.sh
Labels: team, autosubmit

#106831 Fix disallowIndicator for RefreshIndicator
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/lib/src/widgets/overscroll_indicator.dart
  packages/flutter/test/material/refresh_indicator_test.dart
Labels: framework, f: material design, f: scrolling, waiting for tree to go green, autosubmit

#107192 Add build-after-edit benchmark
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: team

#107200 Roll Flutter Engine from bfd29b249367 to 695ac6832d9f (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107177 Fix RawScrollbar colors
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, a: quality, autosubmit

#107205 Roll Flutter Engine from 695ac6832d9f to 2ee06ce55fb3 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107207 Roll Flutter Engine from 2ee06ce55fb3 to 581e6b68e608 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107211 Roll Flutter Engine from 581e6b68e608 to de57f9c909e0 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107216 Roll Flutter Engine from de57f9c909e0 to cc05c14221eb (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107220 Roll Flutter Engine from cc05c14221eb to 0460406b357d (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107236 Roll Flutter Engine from 56faff459eb9 to 628735f6f3cb (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107238 Roll Plugins from 3a2cd24a4a89 to 1787fa36c0c3 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#107241 Roll Flutter Engine from 628735f6f3cb to ca3bd308d1b3 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107184 Ensure flutter run build is done in incremental mode.
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
Labels: tool

#106840 Pass URI converter from context to DDS
  packages/flutter_tools/lib/src/base/dds.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: team, tool

#107059 Add `RelativeRect.fromDirectional` factory
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/test/rendering/relative_rect_test.dart
Labels: framework

#107250 Roll Flutter Engine from 61a3788bb933 to 664420ef307e (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#106567 Improve pub root directory interface
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework

#107261 Roll Flutter Engine from b974511b0c12 to b5fdb54943c0 (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107256 [flutter_tools] catch StdinException while trying to re-set single char mode
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: tool, autosubmit

#106962 Fixed AnimatedSwitcher chain produced duplicates
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/test/widgets/animated_switcher_test.dart
Labels: framework

#107270 Roll Flutter Engine from 4726d53e202d to 177d1ad4e2fe (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107272 Roll Flutter Engine from 177d1ad4e2fe to 3fe4125b0924 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107273 Roll Flutter Engine from 3fe4125b0924 to e6b17e091ab8 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107277 Roll Flutter Engine from e6b17e091ab8 to f2fdfd36f945 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107280 Roll Flutter Engine from f2fdfd36f945 to a063128ec74c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107276 Remove listeners from pending images when clearing cache
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/test/painting/image_cache_test.dart
Labels: framework, autosubmit

#107282 Roll Flutter Engine from a063128ec74c to d0bce3ffb421 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107300 Roll Flutter Engine from 8fa9aa412130 to c795b542b4d4 (3 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107306 Roll Flutter Engine from c795b542b4d4 to 15959feeacd6 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107311 Roll Plugins from 1787fa36c0c3 to d07de9300b2d (5 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#107156 `InputDecorator`: Switch hint to Opacity instead of AnimatedOpacity
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_date_picker_form_field_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design

#107318 Revert "Fixed AnimatedSwitcher chain produced duplicates" to investigate issue with g3
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/test/widgets/animated_switcher_test.dart
Labels: framework

#107301 Add new widget of the week videos
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/lib/src/widgets/actions.dart
Labels: framework, f: material design, d: api docs, waiting for tree to go green, documentation, autosubmit

#106893 Reland "Disable cursor opacity animation on macOS, make iOS cursor animation discrete (#104335)"
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#107323 Fix showDialog throws cryptic message when context is not active
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/material/dialog_test.dart
Labels: framework, f: material design, waiting for tree to go green

#107329 Reland"Make RenderSliverGrid more accurately report overflow"
  packages/flutter/lib/src/rendering/sliver_grid.dart
  packages/flutter/test/widgets/grid_view_test.dart
Labels: framework, f: scrolling, autosubmit

#107315 Roll Flutter Engine from 15959feeacd6 to 040655beb617 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green, will affect goldens

#107331 Roll Flutter Engine from 040655beb617 to 5f4c2374f1cf (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107333 Roll Flutter Engine from 5f4c2374f1cf to ffeeac34266d (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107339 Roll Flutter Engine from ffeeac34266d to 7f91d0dec1cd (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107340 Roll Flutter Engine from 7f91d0dec1cd to 7eb3d4c5c179 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107341 Roll Flutter Engine from 7eb3d4c5c179 to 96f6221b071c (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107342 Roll Flutter Engine from 96f6221b071c to d9c07fe44825 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107343 Roll Flutter Engine from d9c07fe44825 to faaa7e4d8e3b (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107344 Roll Flutter Engine from faaa7e4d8e3b to 6c871b3e6535 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107345 Roll Flutter Engine from 6c871b3e6535 to 43b5ef229384 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107347 Roll Flutter Engine from 43b5ef229384 to cd984a761a41 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107349 Roll Flutter Engine from cd984a761a41 to 44b86a879251 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107360 Roll Flutter Engine from 7e1f4f77c449 to bcf458444550 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107362 Roll Flutter Engine from bcf458444550 to 5907eae10efb (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107366 Roll Flutter Engine from 5907eae10efb to f4a7a18d2c25 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107376 Roll Flutter Engine from f4a7a18d2c25 to 6c321db6885f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107378 Roll Flutter Engine from 6c321db6885f to c717f1e796d9 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#105169 [fuchsia] Change format of ffx call to debug spam.
  dev/devicelab/lib/framework/devices.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_ffx.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_ffx_test.dart
Labels: tool, autosubmit

#107278 Refactor gen_defaults to support multiple generated code blocks in the same file independently.
  dev/tools/gen_defaults/README.md
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/app_bar_template.dart
  dev/tools/gen_defaults/lib/button_template.dart
  dev/tools/gen_defaults/lib/card_template.dart
  dev/tools/gen_defaults/lib/chip_action_template.dart
  dev/tools/gen_defaults/lib/chip_filter_template.dart
  dev/tools/gen_defaults/lib/chip_input_template.dart
  dev/tools/gen_defaults/lib/dialog_template.dart
  dev/tools/gen_defaults/lib/fab_template.dart
  dev/tools/gen_defaults/lib/icon_button_template.dart
  dev/tools/gen_defaults/lib/navigation_bar_template.dart
  dev/tools/gen_defaults/lib/navigation_rail_template.dart
  dev/tools/gen_defaults/lib/surface_tint.dart
  dev/tools/gen_defaults/lib/template.dart
  dev/tools/gen_defaults/lib/typography_template.dart
  dev/tools/gen_defaults/test/gen_defaults_test.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/card.dart
  packages/flutter/lib/src/material/chip_action.dart
  packages/flutter/lib/src/material/chip_choice.dart
  packages/flutter/lib/src/material/chip_filter.dart
  packages/flutter/lib/src/material/chip_input.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/elevation_overlay.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/material/typography.dart
Labels: a: text input, team, framework, f: material design

#107381 Roll Flutter Engine from c717f1e796d9 to 15402b25b007 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107388 Roll Flutter Engine from 372d2f411b9c to 2b5d5c3b2d7e (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107403 Roll Flutter Engine from 2b5d5c3b2d7e to 68689a5075d3 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107409 Roll Flutter Engine from 68689a5075d3 to 14fbf746bfa0 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#107411 Roll Plugins from d07de9300b2d to 8ed5e3f3ce0c (5 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#107406 Revert "`InputDecorator`: Switch hint to Opacity instead of AnimatedOpacity"
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_date_picker_form_field_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#106925 Remove superfluous periods from `pub --help` subcommand descriptions.
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/test/general.shard/args_test.dart
Labels: tool

#107417 Roll Flutter Engine from 14fbf746bfa0 to 24a1b60e7fd1 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107419 Roll Flutter Engine from 24a1b60e7fd1 to 307e8712e9e6 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107326 Add a matcher for Matrix4 that includes epsilon
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, autosubmit

#107421 Roll Flutter Engine from 307e8712e9e6 to f7ff8772d9b7 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107424 Roll Flutter Engine from f7ff8772d9b7 to 50ee36a349bf (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107383 Expose the duration and curve for theme animation in MaterialApp.
  packages/flutter/lib/src/material/app.dart
  packages/flutter/test/material/app_test.dart
Labels: framework, f: material design

#107430 Roll Flutter Engine from 50ee36a349bf to 30784c2e739b (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107433 Roll Flutter Engine from 30784c2e739b to abe7b2ccc30d (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107435 Persistent BottomSheet are not dismissible via a11y
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, autosubmit

#107269 [framework] SliverDecoration
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/lib/src/widgets/sliver_decoration.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/sliver_decoration_test.dart
Labels: new feature, framework, f: scrolling, will affect goldens, autosubmit

#107439 Roll Flutter Engine from abe7b2ccc30d to 7fa9e5ad45b7 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107444 Roll Flutter Engine from 7fa9e5ad45b7 to b2873842f1cf (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: waiting for tree to go green

#106948 Update `PopupRoute` docs and add an example
  examples/api/lib/widgets/routes/popup_route.0.dart
  examples/api/lib/widgets/routes/show_general_dialog.0.dart
  examples/api/test/widgets/routes/popup_route.0_test.dart
  examples/api/test/widgets/routes/show_general_dialog.0_test.dart
  packages/flutter/lib/src/widgets/routes.dart
Labels: team, framework, d: api docs, d: examples, f: routes, documentation, autosubmit

#107453 Roll Flutter Engine from d7e69586fe00 to 2ee0b934b9ff (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107459 Roll Flutter Engine from 2ee0b934b9ff to 3cab418bb66f (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107484 Roll Flutter Engine from 3a193e9f38a2 to 815f47563d6a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#107456 [flutter_tools] Replace android v2 embedding broken doc link
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool, autosubmit

#107476 Remerge "Fixed AnimatedSwitcher chain produced duplicates" after fixing issues with g3
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/test/widgets/animated_switcher_test.dart
Labels: framework

#107464 remove unused members in executable libs
  dev/benchmarks/test_apps/stocks/test/icon_color_test.dart
  dev/bots/analyze.dart
  dev/bots/test.dart
  dev/bots/unpublish_package.dart
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  dev/devicelab/bin/tasks/fast_scroll_heavy_gridview__memory.dart
  dev/devicelab/bin/tasks/fast_scroll_large_images__memory.dart
  dev/devicelab/bin/tasks/flutter_gallery_v2_chrome_run_test.dart
  dev/devicelab/test/adb_test.dart
  dev/forbidden_from_release_tests/bin/main.dart
  dev/integration_tests/web_e2e_tests/lib/image_loading_main.dart
  dev/manual_tests/lib/color_testing_demo.dart
  dev/manual_tests/lib/hover.dart
  dev/tools/dartdoc.dart
  dev/tools/examples_smoke_test.dart
Labels: team, f: scrolling, autosubmit

#107494 Roll Flutter Engine from 815f47563d6a to 20038216ace4 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#107426 updateEditingValueWithDeltas should fail loudly when TextRange is invalid
  packages/flutter/lib/src/services/text_editing_delta.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/text_editing_delta_test.dart
Labels: a: text input, framework

#107466 [PopupMenu]: Add menu `ClipBehavior`
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, autosubmit

#107104 Update `ListTile` and `ListTile` based widget docs for Material usage
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
Labels: framework, f: material design, autosubmit

#106955 Update `ListTile` docs for color animation issues and add example
  examples/api/lib/material/list_tile/list_tile.0.dart
  examples/api/lib/material/list_tile/list_tile.1.dart
  examples/api/test/material/list_tile/list_tile.0_test.dart
  examples/api/test/material/list_tile/list_tile.1_test.dart
  packages/flutter/lib/src/material/list_tile.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#107395 Improve coverage speed by using new caching option for package:coverage
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/coverage_collector.dart
  packages/flutter_tools/test/general.shard/coverage_collector_test.dart
Labels: tool

#107483 Migrate bringup post-submit targets to cocoon scheduler
  .ci.yaml
Labels: autosubmit

#107541 Check for analyzer rule names instead of descriptions in a flutter_tools test
  packages/flutter_tools/test/integration.shard/analyze_once_test.dart
Labels: tool

#107561 Revert "[framework] SliverDecoration"
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/lib/src/widgets/sliver_decoration.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/sliver_decoration_test.dart
Labels: framework, f: scrolling, autosubmit

#107562 Roll Flutter Engine from 20038216ace4 to 673d6b1cb102 (19 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#107565 [flutter_releases] Flutter stable 3.0.5 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#107577 Roll Flutter Engine from 563d3b0db8d9 to 54ceb8abc521 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#107586 Roll Flutter Engine from 54ceb8abc521 to ea31482f1540 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#107581 fix null safe check in RenderIndexedStack
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/test/rendering/stack_test.dart
Labels: framework, autosubmit
