Repository flutter/flutter, pull requests merged in 2022-01, with the labels that each got.

#96006 Roll Engine from 3c8394c3cc51 to f2ca3586480f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96014 Roll Engine from f2ca3586480f to 79e076dc9280 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96025 Roll Engine from 79e076dc9280 to d57efeb6c2d0 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96026 Roll Engine from d57efeb6c2d0 to d6a61a07e490 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96034 Roll Engine from d6a61a07e490 to bf05c852bf6f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96050 Roll Engine from bf05c852bf6f to 8f53bbfde032 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#95537 Improve iOS fidelity of `barrierColor`s and edge decorations for full-screen Cupertino page transitions
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: framework, a: fidelity, f: cupertino, f: routes, waiting for tree to go green, will affect goldens

#96083 Roll Engine from 8f53bbfde032 to 02f543f19499 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96093 Roll Engine from 02f543f19499 to ee91a97e5552 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96096 Roll Engine from ee91a97e5552 to a6ce607b13f8 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#94101 FFI plugin
  dev/integration_tests/flutter_gallery/windows/flutter/generated_plugins.cmake
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/flutter_project_metadata.dart
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/templates/README.md
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/app/test/widget_test.dart.tmpl
  packages/flutter_tools/templates/app_shared/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/module/common/lib/main.dart.tmpl
  packages/flutter_tools/templates/module/common/test/widget_test.dart.tmpl
  packages/flutter_tools/templates/plugin/.idea/libraries/Dart_SDK.xml.tmpl
  packages/flutter_tools/templates/plugin/.idea/modules.xml.tmpl
  packages/flutter_tools/templates/plugin/.idea/runConfigurations/example_lib_main_dart.xml.tmpl
  packages/flutter_tools/templates/plugin/.idea/workspace.xml.tmpl
  packages/flutter_tools/templates/plugin/README.md.tmpl
  packages/flutter_tools/templates/plugin/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin/windows.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_ffi/README.md.tmpl
  packages/flutter_tools/templates/plugin_ffi/android.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin_ffi/android.tmpl/projectName_android.iml.tmpl
  packages/flutter_tools/templates/plugin_ffi/ffigen.yaml.tmpl
  packages/flutter_tools/templates/plugin_ffi/ios.tmpl/Classes/projectName.c.tmpl
  packages/flutter_tools/templates/plugin_ffi/ios.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/plugin_ffi/lib/projectName.dart.tmpl
  packages/flutter_tools/templates/plugin_ffi/lib/projectName_bindings_generated.dart.tmpl
  packages/flutter_tools/templates/plugin_ffi/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_ffi/macos.tmpl/Classes/projectName.c.tmpl
  packages/flutter_tools/templates/plugin_ffi/src.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_ffi/src.tmpl/projectName.c.tmpl
  packages/flutter_tools/templates/plugin_ffi/src.tmpl/projectName.h.tmpl
  packages/flutter_tools/templates/plugin_ffi/windows.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_shared/.gitignore.tmpl
  packages/flutter_tools/templates/plugin_shared/.metadata.tmpl
  packages/flutter_tools/templates/plugin_shared/CHANGELOG.md.tmpl
  packages/flutter_tools/templates/plugin_shared/LICENSE.tmpl
  packages/flutter_tools/templates/plugin_shared/analysis_options.yaml.tmpl
  packages/flutter_tools/templates/plugin_shared/android.tmpl/.gitignore
  packages/flutter_tools/templates/plugin_shared/android.tmpl/settings.gradle.tmpl
  packages/flutter_tools/templates/plugin_shared/android.tmpl/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/plugin_shared/macos.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/plugin_shared/projectName.iml.tmpl
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin_shared/windows.tmpl/.gitignore
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/integration.shard/android_plugin_example_app_build_test.dart
  packages/flutter_tools/test/src/pubspec_schema.dart
Labels: team, tool, cla: yes, will affect goldens

#96122 Revert "FFI plugin"
  dev/integration_tests/flutter_gallery/windows/flutter/generated_plugins.cmake
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/flutter_project_metadata.dart
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/templates/README.md
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/app/test/widget_test.dart.tmpl
  packages/flutter_tools/templates/app_shared/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/module/common/lib/main.dart.tmpl
  packages/flutter_tools/templates/module/common/test/widget_test.dart.tmpl
  packages/flutter_tools/templates/plugin/.gitignore.tmpl
  packages/flutter_tools/templates/plugin/.idea/libraries/Dart_SDK.xml.tmpl
  packages/flutter_tools/templates/plugin/.idea/modules.xml.tmpl
  packages/flutter_tools/templates/plugin/.idea/runConfigurations/example_lib_main_dart.xml.tmpl
  packages/flutter_tools/templates/plugin/.idea/workspace.xml.tmpl
  packages/flutter_tools/templates/plugin/.metadata.tmpl
  packages/flutter_tools/templates/plugin/CHANGELOG.md.tmpl
  packages/flutter_tools/templates/plugin/LICENSE.tmpl
  packages/flutter_tools/templates/plugin/README.md.tmpl
  packages/flutter_tools/templates/plugin/analysis_options.yaml.tmpl
  packages/flutter_tools/templates/plugin/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin/macos.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/plugin/projectName.iml.tmpl
  packages/flutter_tools/templates/plugin/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin/windows.tmpl/.gitignore
  packages/flutter_tools/templates/plugin/windows.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_ffi/README.md.tmpl
  packages/flutter_tools/templates/plugin_ffi/android.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin_ffi/android.tmpl/projectName_android.iml.tmpl
  packages/flutter_tools/templates/plugin_ffi/ffigen.yaml.tmpl
  packages/flutter_tools/templates/plugin_ffi/ios.tmpl/Classes/projectName.c.tmpl
  packages/flutter_tools/templates/plugin_ffi/ios.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/plugin_ffi/lib/projectName.dart.tmpl
  packages/flutter_tools/templates/plugin_ffi/lib/projectName_bindings_generated.dart.tmpl
  packages/flutter_tools/templates/plugin_ffi/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_ffi/macos.tmpl/Classes/projectName.c.tmpl
  packages/flutter_tools/templates/plugin_ffi/src.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_ffi/src.tmpl/projectName.c.tmpl
  packages/flutter_tools/templates/plugin_ffi/src.tmpl/projectName.h.tmpl
  packages/flutter_tools/templates/plugin_ffi/windows.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin_shared/android.tmpl/.gitignore
  packages/flutter_tools/templates/plugin_shared/android.tmpl/settings.gradle.tmpl
  packages/flutter_tools/templates/plugin_shared/android.tmpl/src/main/AndroidManifest.xml.tmpl
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/integration.shard/android_plugin_example_app_build_test.dart
  packages/flutter_tools/test/src/pubspec_schema.dart
Labels: team, tool

#96115 [Fonts] Update icons
  bin/internal/material_fonts.version
  packages/flutter/lib/fix_data.yaml
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/test/material/icons_test.dart
  packages/flutter/test_fixes/material.dart
  packages/flutter/test_fixes/material.dart.expect
Labels: team, framework, f: material design, tech-debt

#96125 Add total_ui_gc_time to benchmarks captured
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: team

#96137 Revert "Add total_ui_gc_time to benchmarks captured"
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: team

#96007 Allow `Checkbox`es in `DataTable`s to inherit colors from `CheckboxTheme`
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, waiting for tree to go green

#96133 Roll Plugins from 6a9de4f5a7c0 to a10ac2e0d8a8 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#95210 Fix autofill eligibility check
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, waiting for tree to go green

#95290 Add a new PrebuiltFlutterApplicationPackage interface.
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/android/application_package.dart
  packages/flutter_tools/lib/src/application_package.dart
  packages/flutter_tools/lib/src/fuchsia/application_package.dart
  packages/flutter_tools/lib/src/ios/application_package.dart
  packages/flutter_tools/lib/src/macos/application_package.dart
  packages/flutter_tools/test/general.shard/android/android_device_start_test.dart
  packages/flutter_tools/test/general.shard/android/android_install_test.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_install_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/macos/application_package_test.dart
Labels: tool

#96157 stabilize the way we navigate multiple pages for E2E macrobenchmarks
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/src/opacity_peephole.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_col_of_rows_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_fade_transition_text_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_grid_of_opacity_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_one_rect_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/opacity_peephole_opacity_of_grid_perf_e2e.dart
  dev/benchmarks/macrobenchmarks/test/util.dart
Labels: a: text input, team, waiting for tree to go green

#96190 Revert "Roll Engine from a6ce607b13f8 to bcb4b359b8da (19 revisions)"
  bin/internal/canvaskit.version
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine

#95944 [DropdownButtonFormField] Add borderRadius property
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: framework, f: material design, waiting for tree to go green

#96148 Do not show v1 Android embedding message for non-Android commands
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: platform-android, tool, waiting for tree to go green

#96192 Roll Plugins from a10ac2e0d8a8 to cb381ced070d (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#94455 Fix `DataTable` `_SortArrow` changing orientation when state is updated
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#96195 Fix typo
  packages/flutter/lib/src/widgets/framework.dart
Labels: framework, d: api docs, waiting for tree to go green, documentation

#95649 Migrate build commands to null safety
  packages/flutter_tools/lib/src/bundle_builder.dart
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/build_fuchsia.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/commands/build_winuwp.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
Labels: tool, waiting for tree to go green, a: null-safety, tech-debt

#96196 Roll Engine from a6ce607b13f8 to 36eafae59d65 (25 revisions)
  bin/internal/canvaskit.version
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96236 Revert "Roll Engine from a6ce607b13f8 to 36eafae59d65 (25 revisions) (#96196)
  bin/internal/canvaskit.version
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine

#96205 Roll Plugins from cb381ced070d to 72634e0c404c (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#95370 Script to generate widget theme data defaults from the Material token database.
  dev/bots/test.dart
  dev/tools/gen_defaults/README.md
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/data/material-tokens.json
  dev/tools/gen_defaults/lib/fab_template.dart
  dev/tools/gen_defaults/lib/template.dart
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_defaults/test/gen_defaults_test.dart
Labels: team, f: material design, waiting for tree to go green

#96239 Roll Engine from a6ce607b13f8 to 849877954bb4 (27 revisions)
  bin/internal/canvaskit.version
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96238 Roll Plugins from 72634e0c404c to 7686be7ecbe1 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#95453 feat(flutter_tools): Added doctor path printing on verbose
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/test/general.shard/flutter_validator_test.dart
Labels: tool, waiting for tree to go green

#95492 feat(flutter_tools): Changed NoIdeValidator validation type from error to warning
  packages/flutter_tools/lib/src/doctor_validator.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
Labels: tool, waiting for tree to go green

#96243 Roll Plugins from 7686be7ecbe1 to 8df136e0048e (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96244 Roll Engine from 849877954bb4 to 38a007d125b0 (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96259 Revert "Roll Engine from 849877954bb4 to 38a007d125b0 (13 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine

#96268 Roll Engine from 849877954bb4 to 594238c30887 (22 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96154 RawKeyboard repeat events, and SingleActivator.includeRepeats
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
  packages/flutter/test/services/raw_keyboard_test.dart
  packages/flutter/test/widgets/shortcuts_test.dart
Labels: a: text input, framework, waiting for tree to go green

#96291 Roll Engine from 594238c30887 to f9e50f700a26 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#95224 InteractiveViewer scaleFactor
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: a: text input, framework, f: material design, f: cupertino

#96295 Reland "Ensure the engineLayer is disposed when an OpacityLayer is disabled""
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/test/rendering/layers_test.dart
Labels: framework, waiting for tree to go green

#96233 Disallow copy and cut when `obscureText` is set on `TextField`
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework

#96308 Revert "Disallow copy and cut when `obscureText` is set on `TextField` (#96233)"
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design

#95993 Fix `paints..something` and `paints..everything` succeeding when they should fail
  packages/flutter/test/rendering/mock_canvas.dart
  packages/flutter/test/rendering/mock_canvas_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: tests, a: text input, framework, waiting for tree to go green

#96299 Sync analysis_options.yaml with all.yaml, enable secure_pubspec_urls
  analysis_options.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
Labels: team, waiting for tree to go green

#94623 Fixes `RangeError` bug when length of `TabBar.tabs` is changed
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green

#96307 Roll Plugins from 8df136e0048e to 9934a40e87d7 (4 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96311 Roll Engine from f9e50f700a26 to 9b9342952004 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#95061 Make `FocusNode.traversalChildren` not be affected by parent's `canRequestFocus`
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/widgets/focus_manager_test.dart
Labels: framework, waiting for tree to go green, f: focus

#95894 fix a scrollbar bug
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, waiting for tree to go green

#96144 Do not crash on LeaderLayer.applyTransform after retained rendering
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/test/rendering/layers_test.dart
Labels: framework, waiting for tree to go green

#96302 Output Dart SDK version in published metadata
  dev/bots/prepare_package.dart
  dev/bots/test/prepare_package_test.dart
Labels: team, waiting for tree to go green

#96313 Links How to contribute to Flutter YouTube video
  CONTRIBUTING.md
Labels: waiting for tree to go green

#96318 Roll Engine from 9b9342952004 to 417eb75f574c (4 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96321 Roll Plugins from 9934a40e87d7 to b44b979f8bf9 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96264 Fix analyze --watch command iterator
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_continuously_test.dart
Labels: tool, waiting for tree to go green

#95977 LayerLink can temporary allow multiple leaders
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/object_test.dart
  packages/flutter/test/rendering/rendering_tester.dart
Labels: framework, waiting for tree to go green

#96319 Enable Linux_android android_semantics_integration_test in prod
  .ci.yaml
Labels: waiting for tree to go green

#96330 Roll Engine from 417eb75f574c to 97a1f4da5603 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96349 Roll Plugins from b44b979f8bf9 to 9aca084f4e02 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96352 Roll Engine from 97a1f4da5603 to 9327c029ae61 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96358 Roll Engine from 9327c029ae61 to fec23f543391 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96360 Roll Engine from fec23f543391 to ae70af98070a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96366 Roll Engine from ae70af98070a to 94786ae707df (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#94020 Fix old integration_test links
  packages/integration_test/integration_test_macos/ios/integration_test_macos.podspec
  packages/integration_test/integration_test_macos/pubspec.yaml
Labels: team, cla: yes, waiting for tree to go green, integration_test

#96380 Roll Engine from 94786ae707df to 8989f3cb25ad (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96383 Roll Engine from 8989f3cb25ad to 1e45f5cb6c34 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96385 Roll Engine from 1e45f5cb6c34 to 6a9c04dc471c (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96245 TextEditingValue default selection docs
  packages/flutter/lib/src/services/text_input.dart
Labels: a: text input, framework

#96258 Warm cache with all transitive dependencies in `flutter update-packages` command
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/update_packages_test.dart
  packages/flutter_tools/test/general.shard/update_packages_test.dart
Labels: tool, waiting for tree to go green

#94626 Adds ability to mark a subtree as not traversable
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: framework, f: material design, cla: yes, waiting for tree to go green, f: focus

#96224 InkResponse enable if onTapDown is not null
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: framework, f: material design, waiting for tree to go green

#96250 Hide PII from doctor validators for GitHub template
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/doctor_validator.dart
  packages/flutter_tools/lib/src/reporting/crash_reporting.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/analytics_test.dart
  packages/flutter_tools/test/general.shard/crash_reporting_test.dart
  packages/flutter_tools/test/general.shard/github_template_test.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
Labels: tool, waiting for tree to go green

#96320 Refactor devicelab bin/run.dart and other cleanup
  dev/devicelab/bin/run.dart
  dev/devicelab/lib/framework/framework.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/running_processes.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/test/run_test.dart
  dev/devicelab/test/runner_test.dart
  dev/devicelab/test/running_processes_test.dart
  dev/devicelab/test/tasks/build_test_task_test.dart
  dev/devicelab/test/utils_test.dart
Labels: team, waiting for tree to go green

#96325 Run update-packages --force-upgrade
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/forbidden_from_release_tests/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_goldens_client/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: team, waiting for tree to go green

#94951 Consider the FLUTTER_TOOL_ARGS as part of the compilation stamp
  bin/flutter
  bin/flutter.bat
  bin/internal/shared.bat
  bin/internal/shared.sh
  dev/bots/test.dart
Labels: team, waiting for tree to go green

#96413 Roll Engine from 21688ed3887f to 475f6f152d8f (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96414 Revert "feat(flutter_tools): Added doctor path printing on verbose"
  packages/flutter_tools/lib/src/base/user_messages.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/test/general.shard/flutter_validator_test.dart
Labels: tool, waiting for tree to go green

#96418 Roll Plugins from 9aca084f4e02 to a0b7daa5ec1f (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96431 Roll Engine from 475f6f152d8f to 36ad9f1bbe77 (9 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96439 Roll Engine from 36ad9f1bbe77 to b5a9cfd537b2 (2 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#95369 Add suggestion for compileSdkVersion warning
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, waiting for tree to go green

#96441 Roll Plugins from a0b7daa5ec1f to 94e80fccb291 (2 revisions)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96058 Fix typo
  packages/flutter_tools/templates/app_shared/web/index.html.tmpl
Labels: tool, waiting for tree to go green

#96450 Roll Engine from b5a9cfd537b2 to cfa617c948c6 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96457 Roll Engine from cfa617c948c6 to 748734adf22a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96435 InkWell.overlayColor is now resolved against MaterialState.pressed
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: framework, f: material design

#96475 Roll Engine from 748734adf22a to a79a3bac0c2a (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#75472 Support Scribble Handwriting
  AUTHORS
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/services/text_input_utils.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
Labels: a: tests, a: text input, severe: new feature, framework, f: material design, cla: yes, f: cupertino, waiting for tree to go green

#96494 Roll Engine from a79a3bac0c2a to 643b2787f45a (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96102 [RenderListWheelViewport] Update content dimensions to prevent scroll offset changes
  packages/flutter/lib/src/rendering/list_wheel_viewport.dart
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
Labels: framework, f: scrolling, waiting for tree to go green

#96388 Fix Dialog alignment doc
  packages/flutter/lib/src/material/dialog.dart
Labels: framework, f: material design, waiting for tree to go green

#96420 Enable no_leading_underscores_for_library_prefixes
  analysis_options.yaml
  packages/flutter/lib/src/foundation/bitfield.dart
  packages/flutter/lib/src/foundation/isolates.dart
  packages/flutter/lib/src/foundation/platform.dart
  packages/flutter_test/lib/src/goldens.dart
Labels: a: tests, framework, waiting for tree to go green

#96495 Cherrypicks flutter 2.8 candidate.16
  bin/internal/engine.version
Labels: engine

#96483 Expose keyCode field in RawKeyEventDataWeb.
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/lib/src/services/raw_keyboard_web.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: framework, waiting for tree to go green

#96486 enable more retained rendering opportunities for LeaderLayer
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/widgets/composited_transform_test.dart
Labels: framework, waiting for tree to go green

#96511 Roll Engine from 643b2787f45a to 91fe85e8cd62 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96559 Update Flutter desktop doc URL in error message
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
Labels: tool, waiting for tree to go green

#94486 Migrate FloatingActionButton to Material 3
  dev/tools/gen_defaults/data/material-tokens.json
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/floating_action_button_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/floating_action_button_theme_test.dart
Labels: team, framework, f: material design, cla: yes, waiting for tree to go green

#96089 Make `DraggableScrollableController` a `ChangeNotifier`
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: framework, f: scrolling, waiting for tree to go green

#96423 Increase deferred components test timeout
  dev/integration_tests/deferred_components_test/run_release_test.sh
Labels: team, waiting for tree to go green

#96417 enable unnecessary_late
  analysis_options.yaml
  dev/tools/gen_keycodes/lib/logical_key_data.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/test/rendering/rendering_tester.dart
  packages/flutter_test/lib/src/event_simulation.dart
Labels: a: tests, team, framework, waiting for tree to go green

#96481 [flutter_conductor] fix initialref to explicitly include remote name
  dev/conductor/core/lib/src/next.dart
  dev/conductor/core/lib/src/repository.dart
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/test/next_test.dart
  dev/conductor/core/test/repository_test.dart
  dev/conductor/core/test/start_test.dart
Labels: team, waiting for tree to go green

#96482 Correct scroll notifications for NestedScrollView
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/scroll_position_with_single_context.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
Labels: framework, f: scrolling, a: quality, waiting for tree to go green

#96499 Roll Plugins from 94e80fccb291 to 146b75179665 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96542 Roll Engine from 91fe85e8cd62 to fba23ea48548 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96532 MaterialStateProperty Docs
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/switch.dart
Labels: framework, f: material design, d: api docs, d: examples, waiting for tree to go green, documentation

#96577 Roll Engine from fba23ea48548 to c2d79b641ff0 (14 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96585 Roll Engine from c2d79b641ff0 to cbf83cd6cc81 (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96183 Fully support Dart-only mobile and macOS plugins
  dev/devicelab/bin/tasks/module_test_ios.dart
  dev/devicelab/bin/tasks/plugin_test.dart
  dev/devicelab/bin/tasks/plugin_test_ios.dart
  dev/devicelab/lib/tasks/plugin_tests.dart
  packages/flutter_tools/bin/podhelper.rb
  packages/flutter_tools/gradle/app_plugin_loader.gradle
  packages/flutter_tools/gradle/module_plugin_loader.gradle
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: tool, waiting for tree to go green

#96546 Date Picker year selectors should announce as 'buttons' to accessibility framework.
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
Labels: framework, f: material design

#95881 fix rsync output utf8decode bug
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
Labels: tool, waiting for tree to go green

#96539 Run Mac_android run_release_test on presubmit
  .ci.yaml
Labels: waiting for tree to go green

#94399 Fix wrong documentation URL for adding desktop support to existing app
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
Labels: tool, cla: yes, waiting for tree to go green

#96609 Roll Engine from 472847257329 to e29aad31a30d (1 revision)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96615 Revert "Support Scribble Handwriting"
  AUTHORS
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/services/autofill_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/services/text_input_utils.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
Labels: a: tests, a: text input, framework, f: material design, f: cupertino, waiting for tree to go green

#96560 Add Supported devices to the TapGestureRecognizer
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/test/gestures/tap_test.dart
Labels: framework, f: gestures, waiting for tree to go green

#95948 Mac cmd + shift + left/right
  packages/flutter/lib/src/services/text_editing.dart
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_editing_intents.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, waiting for tree to go green

#96620 Roll Engine from e29aad31a30d to fab19829949d (5 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96621 Roll Plugins from 146b75179665 to ec80d3439adb (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#95917 [flutter_tools] increase windows tool_integration_tests shard
  .ci.yaml
Labels: team, waiting for tree to go green, team: infra

#96563 Modularize ReorderableListView auto scrolling logic
  packages/flutter/lib/src/widgets/reorderable_list.dart
Labels: framework, waiting for tree to go green

#96631 Roll Engine from fab19829949d to f121c1fe6843 (10 revisions)
  bin/internal/engine.version
Labels: waiting for tree to go green

#96561 Land Set "basic" mouse cursor for disabled buttons, PR #89346
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: a: text input, framework, f: material design

#96377 Fix a [_ViewportElement] RenderObjectChild update bug
  packages/flutter/lib/src/widgets/viewport.dart
  packages/flutter/test/widgets/custom_scroll_view_test.dart
Labels: framework, f: scrolling, waiting for tree to go green

#96667 Revert "Roll Engine from fab19829949d to f121c1fe6843 (10 revisions)"
  bin/internal/engine.version
Labels: engine

#95685 Provide Appbar's `foregroundColor` to package license page titles
  packages/flutter/lib/src/material/about.dart
  packages/flutter/test/material/about_test.dart
Labels: framework, f: material design, waiting for tree to go green

#96632 Add example for CustomMultiChildLayout
  examples/api/lib/widgets/basic/custom_multi_child_layout.0.dart
  examples/api/test/widgets/basic/custom_multi_child_layout.0_test.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: team, framework, d: api docs, d: examples, waiting for tree to go green, documentation

#96567 PopupMenu: add themeable mouse cursor v2
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/popup_menu_theme.dart
  packages/flutter/test/material/popup_menu_theme_test.dart
Labels: framework, f: material design, waiting for tree to go green

#96252 Added TabBar.splashFactory, TabBarTheme.splashFactory,overlayColor
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, waiting for tree to go green

#95704 Dynamically add integration_tests and screenshots to native iOS test results
  packages/integration_test/example/integration_test/_extended_test_io.dart
  packages/integration_test/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/integration_test/example/ios/RunnerTests/RunnerTests.m
  packages/integration_test/ios/Classes/FLTIntegrationTestRunner.h
  packages/integration_test/ios/Classes/FLTIntegrationTestRunner.m
  packages/integration_test/ios/Classes/IntegrationTestIosTest.h
  packages/integration_test/ios/Classes/IntegrationTestIosTest.m
  packages/integration_test/ios/Classes/IntegrationTestPlugin.h
  packages/integration_test/ios/Classes/IntegrationTestPlugin.m
Labels: waiting for tree to go green, integration_test

#96551 [framework] dont null assert in _debugVerifyIllFatedPopulation
  dev/bots/test.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test_profile/README.md
  packages/flutter/test_profile/basic_test.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/compile_test.dart
Labels: framework, waiting for tree to go green

#96309 Disallow copy and cut when text field is obscured.
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, waiting for tree to go green

#96484 feat: Added more youtube refs to widgets docstrings
  packages/flutter/lib/src/cupertino/scrollbar.dart
  packages/flutter/lib/src/foundation/isolates.dart
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/theme.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
Labels: framework, f: material design, f: scrolling, waiting for tree to go green

#96534 Document template CMake files
  packages/flutter_tools/templates/app_shared/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/app_shared/linux.tmpl/flutter/CMakeLists.txt
  packages/flutter_tools/templates/app_shared/windows.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/app_shared/windows.tmpl/flutter/CMakeLists.txt
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/CMakeLists.txt
  packages/flutter_tools/templates/app_shared/winuwp.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/app_shared/winuwp.tmpl/flutter/CMakeLists.txt
  packages/flutter_tools/templates/app_shared/winuwp.tmpl/runner_uwp/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin/linux.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/templates/plugin/windows.tmpl/CMakeLists.txt.tmpl
Labels: tool, waiting for tree to go green

#96599 update adaptive slider docs
  packages/flutter/lib/src/material/slider.dart
Labels: framework, f: material design, waiting for tree to go green

#96684 Fix UNUSED_ELEMENT_PARAMETER for unused field formal parameter.
  packages/flutter/lib/src/widgets/reorderable_list.dart
Labels: framework

#96622 Add debug informations on ios_module_test
  dev/integration_tests/ios_host_app/FlutterUITests/FlutterUITests.m
  dev/integration_tests/ios_host_app/Host/MainViewController.m
Labels: team, waiting for tree to go green

#96557 Move examples from dart:ui ui/lib/text.dart to examples/api
  examples/api/lib/ui/text/font_feature.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_alternative.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_alternative_fractions.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_case_sensitive_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_character_variant.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_contextual_alternates.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_denominator.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_fractions.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_historical_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_historical_ligatures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_lining_figures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_locale_aware.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_notational_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_numerators.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_oldstyle_figures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_ordinal_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_proportional_figures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_scientific_inferiors.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_slashed_zero.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_stylistic_alternates.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_stylistic_set.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_stylistic_set.1.dart
  examples/api/lib/ui/text/font_feature.font_feature_subscripts.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_superscripts.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_swash.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_tabular_figures.0.dart
  examples/api/test/material/ink/ink.image_clip.0_test.dart
  examples/api/test/material/ink/ink.image_clip.1_test.dart
  examples/api/test/material/input_decorator/input_decoration.floating_label_style_error.0_test.dart
  examples/api/test/material/input_decorator/input_decoration.label_style_error.0_test.dart
  examples/api/test/ui/text/font_feature.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_alternative.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_alternative_fractions.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_case_sensitive_forms.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_character_variant.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_contextual_alternates.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_denominator.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_fractions.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_historical_forms.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_historical_ligatures.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_lining_figures.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_locale_aware.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_notational_forms.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_numerators.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_oldstyle_figures.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_ordinal_forms.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_proportional_figures.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_scientific_inferiors.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_slashed_zero.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_stylistic_alternates.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_stylistic_set.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_stylistic_set.1_test.dart
  examples/api/test/ui/text/font_feature.font_feature_subscripts.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_superscripts.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_swash.0_test.dart
  examples/api/test/ui/text/font_feature.font_feature_tabular_figures.0_test.dart
Labels: a: text input, team, f: material design, d: api docs, d: examples, documentation

#96657 feat: added custom padding in PopupMenuButton
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/popup_menu_theme.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/popup_menu_theme_test.dart
Labels: framework, f: material design

#96644 [framework] remove hashcode override for Element
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: framework, waiting for tree to go green

#96630 Migrate assemble and integration_test_device to null safety
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/test/integration_test_device.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/integration_test_device_test.dart
Labels: tool, waiting for tree to go green, a: null-safety, tech-debt

#96634 Explicitly set verbose flag for customer testing.
  dev/customer_testing/ci.bat
  dev/customer_testing/ci.sh
Labels: team, waiting for tree to go green

#96670 Roll Plugins from ec80d3439adb to 07f48a6034b4 (1 revision)
  bin/internal/flutter_plugins.version
Labels: waiting for tree to go green

#96678 Skip flaky test: background_isolate_test.dart: Hot restart kills background isolates
  packages/flutter_tools/test/integration.shard/background_isolate_test.dart
Labels: tool, waiting for tree to go green

#96673 Roll Engine from fab19829949d to 83d99a58097b (31 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green

#96777 Revert "Roll Engine from fab19829949d to 83d99a58097b (31 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine

#96778 Roll Engine from fab19829949d to 50adf4c1f79e (32 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: waiting for tree to go green
