Repository flutter/flutter, pull requests merged in 2023-04, with the labels that each got.

#123732 M3 DatePicker landscape header text style is now TextTheme.headlineSmall
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
Labels: framework, f: material design, autosubmit

#123925 Roll Flutter Engine from a48eedbda125 to be6cf51cf9a0 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123927 Roll Flutter Engine from be6cf51cf9a0 to c1e74ea8485f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123930 Roll Flutter Engine from c1e74ea8485f to dc204128ff37 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123938 Roll Flutter Engine from dc204128ff37 to 8aa24a31b3a6 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123941 Roll Flutter Engine from 8aa24a31b3a6 to 4af3447a352e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123942 Roll Flutter Engine from 4af3447a352e to 0adfe35fdcf4 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#123948 Roll Flutter Engine from 0adfe35fdcf4 to c4c7e622c81f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123951 Roll Flutter Engine from c4c7e622c81f to 3659dd4b3a0e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123956 Roll Flutter Engine from 3659dd4b3a0e to d62e1adfcad6 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#123957 Roll Flutter Engine from d62e1adfcad6 to c60b40c19d4d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123959 Roll Flutter Engine from c60b40c19d4d to fc9c1504f92d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123967 Roll Flutter Engine from fc9c1504f92d to 9c736bb2eb65 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#123972 Roll Flutter Engine from 9c736bb2eb65 to 05c14f07f0e5 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123969 Revert "[flutter_tools] Remove --no-sound-null-safety #3"
  dev/bots/test.dart
  packages/flutter/lib/src/services/clipboard.dart
  packages/flutter/test/foundation/isolates_test.dart
  packages/flutter/test_private/bin/test_private.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/args_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_null_unsafe_test.dart
Labels: team, tool, framework, autosubmit

#123980 Roll Flutter Engine from 05c14f07f0e5 to f0fa8fdb8add (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123981 Roll Flutter Engine from f0fa8fdb8add to b789b197c218 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123992 Roll Flutter Engine from b789b197c218 to 07afddf68810 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#123997 Roll Flutter Engine from 07afddf68810 to 0ed4b5ecbc11 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124007 Roll Flutter Engine from 0ed4b5ecbc11 to ea07ee9ec331 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124019 Roll Flutter Engine from ea07ee9ec331 to 2b118709bee4 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124024 Fix some `MaterialBanner` properties aren't respected when presented by `ScaffoldMessenger`
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/test/material/banner_test.dart
Labels: framework, f: material design, autosubmit

#124023 Roll Flutter Engine from 2b118709bee4 to 01aa040721d9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124031 Roll Packages from d07623d2db2b to bc15c97a5b6b (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#124033 Roll Flutter Engine from 01aa040721d9 to 87de56f5c9ef (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124041 Roll Flutter Engine from 87de56f5c9ef to 33fa6ebf58f0 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124044 Roll Flutter Engine from 33fa6ebf58f0 to 663f602027ce (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124052 Roll Flutter Engine from 663f602027ce to 1db7e7d59fa8 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124059 Roll Flutter Engine from 1db7e7d59fa8 to bda4d15abf00 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124064 Roll Flutter Engine from bda4d15abf00 to 2e5cdeade5cc (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124062 Add readlink -f flag to CocoaPods script to workaround Xcode 14.3 issue
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/migrations/cocoapods_script_symlink.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: platform-ios, tool, platform-mac, t: xcode, autosubmit

#124075 Roll Flutter Engine from 2e5cdeade5cc to aa60150eda7e (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124079 Add readlink -f flag to CocoaPods script to workaround Xcode 14.3 issue
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/migrations/cocoapods_script_symlink.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: platform-ios, tool, platform-mac, t: xcode

#123714 Run web integration tests on x64 or arm Macs
  .ci.yaml
Labels: platform-web, team: infra, autosubmit

#124093 Roll Flutter Engine from aa60150eda7e to 37ea80f6951b (11 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124098 Roll Flutter Engine from 37ea80f6951b to b5d2c056a091 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124113 Roll Flutter Engine from 047ce9ef1e50 to b82ce3f6c305 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124122 Roll Packages from bc15c97a5b6b to 3df3ba528e29 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#124123 Roll Flutter Engine from b82ce3f6c305 to f2a547b088f6 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124099 Update localizations.
  packages/flutter_localizations/lib/src/l10n/generated_material_localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_ur.arb
Labels: framework, f: material design, a: internationalization

#124127 Roll Flutter Engine from f2a547b088f6 to e860fa87d21c (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124060 Rename RenderView.window to RenderView.view
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/rendering/independent_layout_test.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/view_test.dart
  packages/flutter/test/widgets/independent_widget_layout_test.dart
  packages/flutter/test/widgets/keep_alive_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, framework

#122645 Do not use colors in output if running from CI.
  dev/bots/utils.dart
Labels: team, autosubmit

#124138 [flutter_tools] Pass app entrypoint to DWDS version 19.0.0
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/pubspec.yaml
Labels: team, tool, autosubmit

#124136 Roll Flutter Engine from e860fa87d21c to 8edd3c000a39 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124139 Make flutter_adapter_test more resilient to pub output
  packages/flutter_tools/test/integration.shard/debug_adapter/flutter_adapter_test.dart
Labels: tool, autosubmit

#123816 Add adaptive constructor to Radio and RadioListTile
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/radio_test.dart
Labels: framework, f: material design, autosubmit

#123716 Better support for wireless devices in IDEs
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/macos/xcdevice.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
Labels: platform-ios, tool, autosubmit

#124039 [flutter_tools] Remove --no-sound-null-safety #4
  dev/bots/test.dart
  packages/flutter/test/foundation/isolates_test.dart
  packages/flutter/test_private/bin/test_private.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/args_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_null_unsafe_test.dart
Labels: team, tool, framework

#124034 Add flag to filter by device connection interface
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/install.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/target_devices.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/general.shard/runner/target_devices_test.dart
Labels: tool, autosubmit

#123822 Allow --ipv6 flag for flutter attach on iOS devices
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/protocol_discovery.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
Labels: tool, autosubmit

#123915 Always use the canvaskit path from the web sdk.
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
Labels: tool, platform-web, autosubmit

#123293 FIX: SegmentedButton segments background cannot be made transparent
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design

#124147 Move analyzer_benchmark_vm to vm
  .ci.yaml
Labels: autosubmit

#124104 Fix `clipBehavior` for `Drawer` with shape and add `clipBehavior` property.
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/test/material/drawer_test.dart
Labels: framework, f: material design

#124058 Reland "Serve DevTools when running flutter test (#123607)"
  packages/flutter_tools/lib/src/test/flutter_tester_device.dart
  packages/flutter_tools/test/integration.shard/test_test.dart
Labels: tool, autosubmit

#124158 Roll Flutter Engine from 8edd3c000a39 to 3e5f27d4812e (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124170 Roll Flutter Engine from 3e5f27d4812e to 65515adfb5eb (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124066 [platform_view]fix iOS platform view's focus node leakage
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: framework, autosubmit

#124182 Roll Flutter Engine from 65515adfb5eb to 4219c72ac8f0 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121239 [flutter_tools] Include mode in app.start event, and forward app.start to DAP clients
  packages/flutter_tools/doc/daemon.md
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter.dart
  packages/flutter_tools/test/general.shard/dap/mocks.dart
  packages/flutter_tools/test/integration.shard/debug_adapter/flutter_adapter_test.dart
  packages/flutter_tools/test/integration.shard/flutter_run_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: tool, autosubmit

#124200 Roll Flutter Engine from 4219c72ac8f0 to db23c3fbe0b0 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124173 [macOS] Remigrate principal class to NSApplication
  dev/benchmarks/complex_layout/macos/Runner/Info.plist
  dev/benchmarks/macrobenchmarks/macos/Runner/Info.plist
  dev/integration_tests/channels/macos/Runner/Info.plist
  dev/integration_tests/flavors/macos/Runner/Info.plist
  dev/integration_tests/flutter_gallery/macos/Runner/Info.plist
  dev/integration_tests/ui/macos/Runner/Info.plist
  dev/manual_tests/macos/Runner/Info.plist
  examples/api/macos/Runner/Info.plist
  examples/flutter_view/macos/Runner/Info.plist
  examples/hello_world/macos/Runner/Info.plist
  examples/image_list/macos/Runner/Info.plist
  examples/layers/macos/Runner/Info.plist
  examples/platform_channel/macos/Runner/Info.plist
  examples/platform_view/macos/Runner/Info.plist
  packages/flutter_tools/lib/src/macos/migrations/flutter_application_migration.dart
  packages/flutter_tools/templates/app_shared/macos.tmpl/Runner/Info.plist
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
Labels: team, tool, d: api docs, d: examples, documentation

#124226 Revert "Fix scrolling in the `Drawer` and `NavigationDrawer` triggers AppBar's scrolledUnderElevation"
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, autosubmit, revert

#124135 Add CustomDimensions.commandRunIsTest
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/reporting/custom_dimensions.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: tool

#124227 Roll Flutter Engine from db23c3fbe0b0 to 67467127295d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124015 Add analytics package + setTelemetry method attached
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/globals.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
Labels: team, tool

#123916 Add Java-Gradle-AGP validation to flutter analyze
  dev/integration_tests/flutter_gallery/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/base/version.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/project_validator.dart
  packages/flutter_tools/test/general.shard/android/android_sdk_test.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/utils_test.dart
  packages/flutter_tools/test/integration.shard/analyze_suggestions_integration_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: a: text input, team, platform-android, tool

#124242 Roll Packages from 3df3ba528e29 to f224eea858f2 (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#124233 Normalize Java SDK (JDK) location logic across the tool
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_sdk_test.dart
Labels: tool, autosubmit

#124084 [Android] Catch and rethrow Java/Gradle incompatibility error
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool

#123481 Add spell check TextSpan creation logic that doesn't rely on composing region
  packages/flutter/lib/src/widgets/spell_check.dart
  packages/flutter/test/widgets/spell_check_test.dart
Labels: a: text input, framework

#123944 Add CallbackShortcuts example
  examples/api/lib/widgets/shortcuts/callback_shortcuts.0.dart
  examples/api/test/widgets/shortcuts/callback_shortcuts.0.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
Labels: team, framework, d: api docs, d: examples, documentation, autosubmit

#124179 Add tools test for buildWeb compilation
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: tool, platform-web, tech-debt, autosubmit

#124160 [web] Skip temporarily broken test
  examples/hello_world/test_driver/smoke_web_engine_test.dart
Labels: team, d: examples, platform-web, autosubmit

#124275 Manual roll Flutter Engine from 67467127295d to 2d0f65f1fbdf (7 revisions)
  bin/internal/engine.version
Labels: autosubmit

#123055 TapAndDragGestureRecognizer should declare victory immediately when drag is detected
  packages/flutter/lib/src/widgets/tap_and_drag_gestures.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/tap_and_drag_gestures_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, f: gestures, autosubmit

#124169 Fix search view position
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: framework, f: material design, autosubmit

#124263 Update iOS TESTOWNERS
  TESTOWNERS
Labels: team, autosubmit

#124284 Roll Flutter Engine from 2d0f65f1fbdf to 610cdf0ae117 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#124166 flutter tool: add experimental output during wasm build
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
Labels: tool

#124300 Manual roll Flutter Engine from 610cdf0ae117 to 1ec74c62fd3f (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124243 Fix error about missing MediaQuery
  packages/flutter/lib/src/widgets/debug.dart
  packages/flutter/test/widgets/debug_test.dart
  packages/flutter/test/widgets/media_query_test.dart
Labels: framework, autosubmit

#124183 flutter_tool: add and use WebCompilerConfig
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/compiler_config.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: tool, autosubmit

#124165 flutter tool: log dart2wasm vs dart2js as appropriate during build
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: tool, autosubmit

#124178 flutter tool: make FlutterOptions abstract final
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: tool, autosubmit

#124303 Revert "flutter tool: make FlutterOptions abstract final"
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: tool, warning: land on red to fix tree breakage, revert

#124305 Revert "flutter tool: log dart2wasm vs dart2js as appropriate during build"
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: tool, warning: land on red to fix tree breakage, revert

#124302 Roll Flutter Engine from 1ec74c62fd3f to 28eb8d55c1ba (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124315 Roll Flutter Engine from 28eb8d55c1ba to d492b8b3a567 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#124249 [Docs] Fix Typos
  packages/flutter/lib/src/material/action_buttons.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#124320 Roll Packages from f224eea858f2 to 3f480616948d (9 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#122682 Add decimalPatternDigits to gen-l10n valid NumberFormats
  packages/flutter_tools/lib/src/localizations/gen_l10n_types.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool

#124163 Fix a memory leak in `AutomaticKeepAlive`
  packages/flutter/lib/src/widgets/automatic_keep_alive.dart
  packages/flutter/test/widgets/automatic_keep_alive_test.dart
Labels: framework, autosubmit

#124338 Roll Flutter Engine from d492b8b3a567 to 9620c6482454 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#116793 Deprecate these old APIs
  dev/bots/analyze.dart
  dev/bots/post_process_docs.dart
  dev/bots/test/analyze-test-input/root/packages/foo/deprecation.dart
  dev/bots/test/analyze_test.dart
  dev/bots/test/post_process_docs_test.dart
  dev/integration_tests/web_e2e_tests/test_driver/platform_messages_integration.dart
  examples/api/test/widgets/binding/widget_binding_observer.0_test.dart
  examples/api/test/widgets/editable_text/editable_text.on_content_inserted.0_test.dart
  packages/flutter/lib/src/services/binary_messenger.dart
  packages/flutter/test/cupertino/scrollbar_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
  packages/flutter/test/widgets/undo_history_test.dart
  packages/flutter_test/lib/src/deprecated.dart
  packages/flutter_test/lib/src/test_text_input.dart
  packages/flutter_tools/templates/plugin/test/projectName_method_channel_test.dart.tmpl
Labels: a: tests, a: text input, team, framework, f: scrolling, f: cupertino, d: api docs, d: examples, documentation, autosubmit

#123946 Make tester.startGesture less async, for better stack traces
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/test/controller_test.dart
Labels: a: tests, framework, autosubmit

#124335 flutter tool: make FlutterOptions abstract final
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: tool, autosubmit

#124331 flutter tool: log dart2wasm vs dart2js as appropriate during build
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: tool, platform-web, autosubmit

#124345 Roll Flutter Engine from 9620c6482454 to 92c75660eb19 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124262 TextSelectionHandleControls deprecation deletion timeframe
  packages/flutter/lib/src/widgets/text_selection.dart
Labels: a: text input, framework, tech-debt

#123775 [DropdownMenu] add helperText & errorText to DropdownMenu Widget
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#124236 Fix double the
  packages/flutter/lib/src/material/checkbox_list_tile.dart
Labels: framework, f: material design, autosubmit

#124356 Roll Flutter Engine from 92c75660eb19 to 419be0aed5df (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123842 Fix surface-size state leak in material/paginated_data_table_test (framework shuffle-all 3/n)
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, framework, f: material design, autosubmit

#124360 Roll Flutter Engine from 419be0aed5df to 6e673411acf6 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#123740 Add vertical alignment offset to the ```MenuAnchor``` widget when overflowing
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design

#124363 Roll Flutter Engine from 6e673411acf6 to 8063e1f837d3 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124366 Roll Flutter Engine from 8063e1f837d3 to dc4fe907c4bc (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124357 Initialize `ThemeData.visualDensity` using `ThemeData.platform` instead of `defaultTargetPlatform`
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, autosubmit

#124371 Roll Flutter Engine from dc4fe907c4bc to bfc4113d5801 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#124374 Roll Flutter Engine from bfc4113d5801 to d1dad6acbe5c (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#123777 Fix EditableText misplaces caret when selection is invalid
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_shortcuts_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: a: text input, framework, autosubmit

#124391 Roll Packages from 3f480616948d to 75ede70ca5f0 (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#124271 Make logs verbose for gallery tests
  dev/devicelab/lib/tasks/gallery.dart
Labels: team, autosubmit

#120619 Fixes IgnorePointer and AbsorbPointer to only block user interactions…
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/proxy_sliver.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/semantics_debugger.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/visibility.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/widgets/absorb_pointer_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/keep_alive_test.dart
  packages/flutter/test/widgets/semantics_1_test.dart
  packages/flutter/test/widgets/semantics_2_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/sliver_visibility_test.dart
  packages/flutter/test/widgets/slivers_test.dart
  packages/flutter/test/widgets/visibility_test.dart
Labels: a: text input, framework, f: material design, a: accessibility, f: scrolling, f: cupertino, autosubmit

#124392 Roll Flutter Engine from d1dad6acbe5c to ddaa87c11434 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#123726 [flutter_test] Adds method to mock EventChannels
  packages/flutter/test/services/platform_channel_test.dart
  packages/flutter_test/lib/flutter_test.dart
  packages/flutter_test/lib/src/mock_event_channel.dart
  packages/flutter_test/lib/src/test_default_binary_messenger.dart
  packages/flutter_test/test/test_default_binary_messenger_test.dart
Labels: a: tests, framework, autosubmit

#124260 Update getGradleVersion to ignore commented out lines
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
Labels: platform-android, tool

#123213 Update gradle_utils.dart and flutter.gradle to have the same versions as the documentation in file says is required.
  packages/flutter_tools/lib/src/android/gradle_utils.dart
Labels: tool

#124401 Revert "[flutter_test] Adds method to mock EventChannels"
  packages/flutter/test/services/platform_channel_test.dart
  packages/flutter_test/lib/flutter_test.dart
  packages/flutter_test/lib/src/mock_event_channel.dart
  packages/flutter_test/lib/src/test_default_binary_messenger.dart
  packages/flutter_test/test/test_default_binary_messenger_test.dart
Labels: a: tests, framework

#124394 Mark analyzer_benchmark as unflaky
  .ci.yaml
Labels: autosubmit

#124395 Reland Refactor reorderable list semantics
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework, f: material design, autosubmit

#124349 Force plugin transitive dependencies to an ARC compatible version
  dev/devicelab/lib/tasks/plugin_tests.dart
  packages/flutter_tools/bin/podhelper.rb
Labels: team, platform-ios, tool, platform-mac, t: xcode, autosubmit

#124409 Roll Flutter Engine from ddaa87c11434 to fd79552e8153 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124348 Migrate away from deprecated BinaryMessenger API
  packages/flutter/test/cupertino/app_test.dart
  packages/flutter/test/material/app_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/painting/binding_test.dart
  packages/flutter/test/painting/system_fonts_test.dart
  packages/flutter/test/scheduler/ticker_test.dart
  packages/flutter/test/services/binding_test.dart
  packages/flutter/test/services/delta_text_input_test.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/services/hardware_keyboard_test.dart
  packages/flutter/test/services/platform_views_test.dart
  packages/flutter/test/services/raw_keyboard_test.dart
  packages/flutter/test/services/restoration_test.dart
  packages/flutter/test/services/text_input_test.dart
  packages/flutter/test/services/undo_manager_test.dart
  packages/flutter/test/widgets/app_test.dart
  packages/flutter/test/widgets/binding_attach_root_widget_test.dart
  packages/flutter/test/widgets/binding_cannot_schedule_frame_test.dart
  packages/flutter/test/widgets/binding_frame_scheduling_test.dart
  packages/flutter/test/widgets/binding_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/router_test.dart
  packages/flutter_test/lib/src/_binding_io.dart
Labels: a: tests, a: text input, framework, f: material design, f: cupertino, f: routes, autosubmit

#124427 Roll Flutter Engine from fd79552e8153 to 1f5433d4e4ae (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124386 Fix InkWell ripple visible on right click when not expected
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: framework, f: material design

#119954 Prepare for adding values to AppLifecycleState
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/widgets/text_selection.dart
Labels: a: text input, framework, autosubmit

#120935 document StaticIconProvider
  packages/flutter/lib/src/widgets/icon_data.dart
Labels: framework, autosubmit

#124434 Roll Flutter Engine from 1f5433d4e4ae to cac56b220dab (1 revision)
  bin/internal/engine.version
Labels: will affect goldens, autosubmit

#124461 Roll Flutter Engine from cac56b220dab to df5e055f6aba (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#124419 [CP] Roll Engine to 311ed5a
  bin/internal/engine.version
Labels: engine

#124466 Roll Flutter Engine from df5e055f6aba to fe924e27a725 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#124471 Roll Flutter Engine from fe924e27a725 to 36c5811c4676 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#124402 Cp 3.7.10 java gradle incompatibility catch
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool

#124479 Roll Flutter Engine from 36c5811c4676 to ce8143e25317 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#124484 Roll Flutter Engine from ce8143e25317 to 30daa2369d58 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#124486 Roll Flutter Engine from 30daa2369d58 to 58ab7eaee66c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#123929 [Text Input] Only unfocus when receive connectionClosed on platform except web
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#124508 Roll Flutter Engine from 58ab7eaee66c to 44d165644450 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#124296 Add support to the flutter tool to compile against the skwasm renderer
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/file_generators/wasm_bootstrap.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: tool, autosubmit

#124512 Update MCU version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/integration_tests/abstract_method_smoke_test/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/spell_check/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web/pubspec.yaml
  dev/integration_tests/web_compile_tests/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/wide_gamut_test/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/flutter_view/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/platform_view/pubspec.yaml
  examples/splash/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/integration_test_macos/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: team, tool, autosubmit

#124519 Roll Packages from 75ede70ca5f0 to a2f396cc91db (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#124415 [flutter_test] Adds method to mock EventChannels
  packages/flutter/test/services/platform_channel_test.dart
  packages/flutter_test/lib/flutter_test.dart
  packages/flutter_test/lib/src/mock_event_channel.dart
  packages/flutter_test/lib/src/test_default_binary_messenger.dart
  packages/flutter_test/test/test_default_binary_messenger_test.dart
Labels: a: tests, framework, autosubmit

#124299 [web] - fix text editing integration tests for new DOM structure
  dev/integration_tests/web_e2e_tests/lib/common.dart
Labels: team, platform-web, autosubmit

#124534 Roll Flutter Engine from 44d165644450 to 53930ff1dcdc (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#122142 Reduce macOS overscroll friction
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/test/cupertino/refresh_test.dart
  packages/flutter/test/widgets/scroll_physics_test.dart
Labels: framework, a: fidelity, f: scrolling, autosubmit

#124538 Roll Flutter Engine from 53930ff1dcdc to 072632897f9b (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#124061 Allow daemon to start DDS remotely when proxied devices are used.
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/proxied_devices/devices.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/general.shard/proxied_devices/proxied_devices_test.dart
Labels: tool, autosubmit
