Repository flutter/flutter, pull requests merged in 2023-03, with the labels that each got.

#121648 Roll Flutter Engine from 584144dd4108 to 43f28d2ff87b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119877 Add typically used parameter name to the builder used in layout_builder
  packages/flutter/lib/src/widgets/layout_builder.dart
Labels: framework, autosubmit

#113371 Remove @param onDone
  packages/integration_test/android/src/main/java/dev/flutter/plugins/integration_test/FlutterDeviceScreenshot.java
Labels: framework, integration_test, autosubmit

#121652 Roll Flutter Engine from 43f28d2ff87b to 9ffe548bd842 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#118263 Added `_ErrorDescription.toString()`
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/test/foundation/assertions_test.dart
Labels: framework, autosubmit

#121621 [flutter_tool] advertise the default value for --dart2js-optimization
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
Labels: tool, autosubmit

#113778 Update recipes doc with correct parameters
  dev/bots/README.md
Labels: team, autosubmit

#121655 Roll Flutter Engine from 9ffe548bd842 to 46ee3209b943 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121651 Delete flutter_plugins.version
  bin/internal/flutter_plugins.version
Labels: autosubmit

#121670 Roll Flutter Engine from 46ee3209b943 to 8e2eab59ce38 (6 revisions)
  bin/internal/engine.version
Labels: autosubmit

#120889 Fix text history undo/redo should not add a new entry to the history
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#121698 Roll Flutter Engine from 8e2eab59ce38 to 37ff1ca124a3 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#121576 Issues/111931 reland
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: text input, framework, a: accessibility

#121717 Roll Flutter Engine from 37ff1ca124a3 to b6b1d359a416 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121653 Custom context menus in SelectableRegion on web
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: framework

#121504 Fix finding JDK in current Android Studio (cherry-pick)
  AUTHORS
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: tool

#121620 Update a TODO in dartdoc.dart
  dev/tools/dartdoc.dart
Labels: team, framework, autosubmit

#105836 moving the left handle automatically scrolls EditableText to the right handle, which doesn't happen on native
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, f: cupertino

#121728 Roll Flutter Engine from b6b1d359a416 to 623c93554088 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#120895 Fix CupertinoSliverNavigationBar's alwaysShowMiddle not working properly during page transition
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
Labels: framework, f: cupertino, autosubmit

#121734 Remove customer testing from recipes cq.
  .ci.yaml
Labels: autosubmit

#121741 Roll Flutter Engine from 623c93554088 to 176e2775c0fc (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#114878 Add visual density for menu default style
  dev/tools/gen_defaults/lib/menu_template.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: team, framework, f: material design, autosubmit

#121745 Roll Flutter Engine from 176e2775c0fc to 03c9a9fc8d9b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121754 flutter_tool: DRY up features that are fully enabled
  packages/flutter_tools/lib/src/features.dart
Labels: tool, autosubmit

#121756 Roll Flutter Engine from 03c9a9fc8d9b to f85e4c667575 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121759 Added identical(a,b) short circuit ... finale
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/widgets/icon_theme_data.dart
  packages/flutter/test/widgets/icon_theme_data_test.dart
Labels: framework, f: cupertino, f: routes

#121779 Roll Flutter Engine from f85e4c667575 to 385d02891638 (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#121787 Roll Flutter Engine from 385d02891638 to 03024a1a3742 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121788 Roll Flutter Engine from 03024a1a3742 to 6aeb15058721 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121791 Roll Flutter Engine from 6aeb15058721 to afa877f4bc7a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121797 Roll Flutter Engine from afa877f4bc7a to bd149d277f3a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#121801 Roll Flutter Engine from bd149d277f3a to a3031df02349 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#105335 `OverlayPortal`
  examples/api/lib/widgets/overlay/overlay_portal.0.dart
  examples/api/test/widgets/overlay/overlay_portal.0_test.dart
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/ink_paint_test.dart
  packages/flutter/test/widgets/overlay_portal_test.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#121809 Roll Flutter Engine from a3031df02349 to 28497046429d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121749 Migrate to FlutterView.gestureSettings
  packages/flutter/lib/src/gestures/gesture_settings.dart
  packages/flutter/test/gestures/gesture_config_regression_test.dart
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework, f: gestures, autosubmit

#121810 Revert "Add visual density for menu default style"
  dev/tools/gen_defaults/lib/menu_template.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: team, framework, f: material design

#121807 Add `curl` dependency to plugin_test_linux
  .ci.yaml
Labels: autosubmit

#121751 Remove all traces of ViewConfiguration/PlatformConfiguration
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework, autosubmit

#121701 Cleanup PageTransitionsTheme documentation and add one example
  examples/api/lib/material/page_transitions_theme/page_transitions_theme.0.dart
  examples/api/test/material/page_transitions_theme/page_transitions_theme.0_test.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#121821 Roll Flutter Engine from 28497046429d to 5f6469f47e42 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121755 flutter_tool: only enable wasm compile in master channel
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/flutter_features.dart
  packages/flutter_tools/test/general.shard/features_test.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_wasm_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, autosubmit

#121834 Roll Flutter Engine from 5f6469f47e42 to 2be41c6d0152 (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121835 [flutter roll] Revert "Use AnimatedSwitcher's _childNumber as Key in layoutBuilder's Stack"
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/test/widgets/animated_switcher_test.dart
Labels: framework, autosubmit

#121837 Reorganize CLI flags for `build web`
  packages/flutter_tools/lib/src/commands/build_web.dart
Labels: tool, autosubmit

#121840 [cherry pick + flutter roll] Revert "Use AnimatedSwitcher's _childNumber as Key in layoutBuilder's…
  packages/flutter/lib/src/widgets/animated_switcher.dart
  packages/flutter/test/widgets/animated_switcher_test.dart
Labels: framework

#121831 [flutter_tools] ensure no pub output while caching PubDependencies artifact
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, autosubmit

#121857 Roll Flutter Engine from 2be41c6d0152 to a098c91e5e72 (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#121869 Roll Flutter Engine from a098c91e5e72 to 569c62d11084 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121610 [flutter_tools/dap] Inform DAP client whether restart is supported
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter.dart
  packages/flutter_tools/test/general.shard/dap/flutter_adapter_test.dart
  packages/flutter_tools/test/general.shard/dap/mocks.dart
Labels: tool, autosubmit

#121879 Roll Packages from 875a4032544f to ca7205b9c541 (10 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#121359 Update device filtering and introduce isConnected and connectionInterface
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/devices.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/logs.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/proxied_devices/devices.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/proxied_devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/commands.shard/permeable/devices_test.dart
  packages/flutter_tools/test/general.shard/custom_devices/custom_device_test.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/linux/linux_device_test.dart
  packages/flutter_tools/test/general.shard/macos/macos_device_test.dart
  packages/flutter_tools/test/general.shard/macos/macos_ipad_device_test.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/fake_devices.dart
Labels: a: text input, tool, autosubmit

#121814 Mark web_long_running_tests_2_5 flaky
  .ci.yaml
Labels: autosubmit

#121897 Roll Flutter Engine from 569c62d11084 to 9809d972cc15 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#121895 [flutter_tool] add enable-embedder-api flag
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: tool, framework, autosubmit

#121891 [flutter_tools] remove late from update-packages command
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/commands.shard/hermetic/update_packages_test.dart
Labels: tool, autosubmit

#121909 Roll Flutter Engine from 9809d972cc15 to f31988115453 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#119116 Feat: `showDatePicker` - Exposed callback when user changes Date Picker Mode
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_test.dart
Labels: framework, f: material design

#121913 Roll Flutter Engine from f31988115453 to 249e78dfb025 (8 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121916 Roll Flutter Engine from 249e78dfb025 to 34a828142134 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121918 Reland: Add visual density for menu default style (#114878)
  dev/tools/gen_defaults/lib/menu_template.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: team, framework, f: material design

#121919 Roll Flutter Engine from 34a828142134 to 3070e61574c0 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121884 Add `IconButton.filled`, `IconButton.filledTonal`, `IconButton.outlined`
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/icon_button_template.dart
  examples/api/lib/material/icon_button/icon_button.2.dart
  examples/api/lib/material/icon_button/icon_button.3.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/test/material/icon_button_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#121922 Roll Flutter Engine from 3070e61574c0 to de724e263264 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121956 Fix field cleared by TestWindow.clearGestureSettingsTestValue
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework

#121991 Roll Flutter Engine from de724e263264 to b4297f3cc886 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#121995 Roll Flutter Engine from b4297f3cc886 to 54b989378249 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#122002 Roll Flutter Engine from f8ec13dade7c to 197b6dae1c31 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121605 Use `dart pub` instead of `dart __deprecated pub`
  .cirrus.yml
  bin/internal/shared.bat
  bin/internal/shared.sh
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: tool

#121406 Bottom appbar/sheet shadow property
  dev/tools/gen_defaults/lib/bottom_app_bar_template.dart
  dev/tools/gen_defaults/lib/bottom_sheet_template.dart
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/lib/src/material/bottom_app_bar_theme.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/bottom_sheet_theme.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
Labels: team, framework, f: material design

#122018 Roll Flutter Engine from 197b6dae1c31 to b6db201ea32f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#120878 [tool] Proposal to multiple defines for --dart-define-from-file
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
Labels: tool, autosubmit

#121975 Add missing properties to `ListTileTheme.merge`
  packages/flutter/lib/src/material/list_tile_theme.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: framework, f: material design, autosubmit

#122026 Roll Packages from ca7205b9c541 to 789e3a72c9d4 (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#122037 Revert "Removes single window assumptions from `flutter_test`"
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/custom_multi_child_layout_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter/test/widgets/slotted_render_object_widget_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/controller_test.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
  packages/flutter_test/test/utils/fake_and_mock_utils.dart
  packages/flutter_test/test/view_test.dart
  packages/flutter_test/test/window_test.dart
Labels: a: tests, framework, f: material design, f: focus

#122033 Roll Flutter Engine from b6db201ea32f to e2bd89f97e7f (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#121322 Reland "Speed up first asset load by using the binary-formatted asset manifest for image resolution
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/services/asset_manifest.dart
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter/test/services/asset_manifest_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
Labels: team, framework, autosubmit

#121306 Update test font
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/painting/text_painter_rtl_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter/test/rendering/editable_gesture_test.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/paragraph_test.dart
  packages/flutter/test/widgets/baseline_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/default_colors_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/semantics_tester_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
  packages/flutter/test/widgets/text_test.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: a: text input, framework, f: material design, a: accessibility, f: scrolling, f: cupertino, f: routes, autosubmit

#122040 Add backward compatibility in proxied_devices.
  packages/flutter_tools/lib/src/proxied_devices/devices.dart
Labels: tool, autosubmit

#122043 pin flutter_plugin_android_lifecycle and roll other pub deps
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/update_packages_test.dart
Labels: team, tool, autosubmit

#122053 Revert "Update test font"
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/painting/text_painter_rtl_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter/test/rendering/editable_gesture_test.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/paragraph_test.dart
  packages/flutter/test/widgets/baseline_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/default_colors_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/semantics_tester_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
  packages/flutter/test/widgets/text_test.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: a: text input, framework, f: material design, a: accessibility, f: scrolling, f: cupertino, f: routes

#122019 Add ZoomPageTransitionsBuilder.allowSnapshotting
  examples/api/lib/material/page_transitions_theme/page_transitions_theme.1.dart
  examples/api/test/material/page_transitions_theme/page_transitions_theme.1_test.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/page_test.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#122059 [web] delete unhelpful image loading e2e test
  dev/bots/test.dart
  dev/integration_tests/web_e2e_tests/lib/image_loading_main.dart
  dev/integration_tests/web_e2e_tests/test_driver/image_loading_integration.dart
  dev/integration_tests/web_e2e_tests/test_driver/image_loading_integration_test.dart
Labels: team, autosubmit

#121885 Fix PlatformMenuItems with onSelectedIntent are never enabled
  packages/flutter/lib/src/widgets/platform_menu_bar.dart
  packages/flutter/test/widgets/platform_menu_bar_test.dart
Labels: framework, autosubmit

#122078 Roll Flutter Engine from e2bd89f97e7f to 1c4aab7da9f0 (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#122094 Roll Flutter Engine from 1c4aab7da9f0 to 4e6cbe0fc22d (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#109547 [integration_test] upgrade androidx test to 1.4.0
  dev/integration_tests/flutter_gallery/android/app/build.gradle
  dev/integration_tests/flutter_gallery/android/project-app.lockfile
  dev/integration_tests/flutter_gallery/android/project-integration_test.lockfile
  dev/integration_tests/release_smoke_test/android/app/build.gradle
  dev/integration_tests/release_smoke_test/android/project-app.lockfile
  dev/integration_tests/release_smoke_test/android/project-integration_test.lockfile
  dev/integration_tests/ui/android/project-app.lockfile
  dev/integration_tests/ui/android/project-integration_test.lockfile
  packages/integration_test/android/build.gradle
  packages/integration_test/example/android/app/build.gradle
  packages/integration_test/example/android/project-app.lockfile
  packages/integration_test/example/android/project-integration_test.lockfile
Labels: team, platform-android, framework, integration_test, autosubmit

#122104 Roll Packages from 789e3a72c9d4 to c40f1893ef38 (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#122109 Roll Flutter Engine from 4e6cbe0fc22d to b3985c31295f (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122121 Roll Flutter Engine from b3985c31295f to 811dcfb46101 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#122126 Roll Flutter Engine from 811dcfb46101 to 8510f554d3fa (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122060 Reland: Removes single window assumptions from `flutter_test`
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/custom_multi_child_layout_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter/test/widgets/slotted_render_object_widget_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/controller_test.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
  packages/flutter_test/test/utils/fake_and_mock_utils.dart
  packages/flutter_test/test/view_test.dart
  packages/flutter_test/test/window_test.dart
Labels: a: tests, framework, f: material design, f: focus, autosubmit

#121902 [web] Ensure CanvasKit is served from the correct location
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
Labels: tool, autosubmit

#122135 Roll Flutter Engine from 8510f554d3fa to 89627fda3055 (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122091 Use tearoffs in TestRenderingFlutterBinding
  packages/flutter/test/rendering/rendering_tester.dart
Labels: framework, autosubmit

#122115 Print on failure in web hotrestart tests
  packages/flutter_tools/test/web.shard/hot_reload_web_test.dart
Labels: tool

#122140 Roll Flutter Engine from 89627fda3055 to cc0fdef39f25 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#122124 Delete `FlutterCommand.intArg()`, which is not used anywhere
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: tool, autosubmit

#115012 Fix typo in `integrationDriver()` function
  packages/integration_test/lib/integration_test_driver.dart
Labels: framework, integration_test, autosubmit

#122152 Roll Flutter Engine from cc0fdef39f25 to ab28c582f4f4 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#122154 Fix DomCSSStyleSheetExtension to work with dart2wasm.
  packages/flutter/lib/src/services/dom.dart
Labels: framework, autosubmit

#122158 Roll Flutter Engine from ab28c582f4f4 to 694a14ca6e15 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121881 Fix path name to discover debug apk on add2app builds (#117999)
  packages/flutter_tools/lib/src/android/application_package.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
Labels: tool

#122206 [flutter_releases] Flutter stable 3.7.7 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#122217 Revert "Roll Flutter Engine from ab28c582f4f4 to 694a14ca6e15 (3 revisions)"
  bin/internal/engine.version
Labels: engine

#122193 Revert "Reland: Removes single window assumptions from `flutter_test`"
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/custom_multi_child_layout_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter/test/widgets/slotted_render_object_widget_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/controller_test.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
  packages/flutter_test/test/utils/fake_and_mock_utils.dart
  packages/flutter_test/test/view_test.dart
  packages/flutter_test/test/window_test.dart
Labels: a: tests, framework, f: material design, f: focus, autosubmit

#122145 Clear _scribbleCacheKey when connection closes
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#122212 Run plugin_test_macos on Intel machines
  .ci.yaml
Labels: autosubmit

#122161 Funnel devicelab tests through utils process methods
  dev/devicelab/bin/tasks/flutter_engine_group_performance.dart
  dev/devicelab/bin/tasks/flutter_gallery_v2_chrome_run_test.dart
  dev/devicelab/bin/tasks/flutter_test_performance.dart
  dev/devicelab/bin/tasks/routing_test.dart
  dev/devicelab/bin/tasks/service_extensions_test.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/android_choreographer_do_frame_test.dart
  dev/devicelab/lib/tasks/android_lifecycles_test.dart
  dev/devicelab/lib/tasks/dart_plugin_registry_tests.dart
  dev/devicelab/lib/tasks/hot_mode_tests.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/lib/tasks/platform_channels_benchmarks.dart
  dev/devicelab/lib/tasks/web_dev_mode_tests.dart
Labels: team, autosubmit

#98294 Add support for iOS UndoManager
  examples/api/lib/widgets/undo_history/undo_history_controller.0.dart
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/services/system_channels.dart
  packages/flutter/lib/src/services/undo_manager.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/undo_history.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/services/undo_manager_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/editable_text_utils.dart
  packages/flutter/test/widgets/undo_history_test.dart
  packages/flutter_test/lib/src/test_text_input.dart
Labels: a: tests, a: text input, framework, f: material design, f: cupertino, autosubmit

#117693 Revert "[web:tools] always use CanvasKit from the cache when building web apps (#93002)"
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: tool, autosubmit

#121904 Create configOnly flag for android
  packages/flutter_tools/lib/src/android/android_builder.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_config_only_test.dart
  packages/flutter_tools/test/src/android_common.dart
Labels: tool, autosubmit

#122147 Update cmake version to the latest in infra/3pp/tools
  .ci.yaml
Labels: autosubmit

#122178 Use variable instead of multiple accesses through a map
  packages/flutter_tools/lib/src/plugins.dart
Labels: tool, autosubmit

#122182 Add one DefaultTextStyle example
  examples/api/lib/widgets/text/text.0.dart
  examples/api/test/widgets/text/text.0_test.dart
  packages/flutter/lib/src/widgets/text.dart
Labels: a: text input, team, framework, d: api docs, d: examples, documentation, autosubmit

#122143 No friction factor on macOS overscroll ease
  packages/flutter/lib/src/widgets/scroll_physics.dart
  packages/flutter/test/cupertino/refresh_test.dart
  packages/flutter/test/widgets/scroll_physics_test.dart
Labels: framework, f: scrolling, autosubmit

#122224 [Impeller] Temporary flag flip for devicelab tests to use Impeller.
  dev/devicelab/bin/tasks/animated_complex_opacity_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/backdrop_filter_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/color_filter_and_fade_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/complex_layout_scroll_perf_bad_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/complex_layout_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e_impeller_ios.dart
  dev/devicelab/bin/tasks/fullscreen_textfield_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/imagefiltered_transform_animation_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/list_text_layout_impeller_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/microbenchmarks_impeller_ios.dart
  dev/devicelab/bin/tasks/new_gallery_impeller__transition_perf.dart
  dev/devicelab/bin/tasks/new_gallery_impeller_ios__transition_perf.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_non_intersecting_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/simple_animation_perf_impeller_ios.dart
  dev/devicelab/bin/tasks/tiles_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/new_gallery.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: team, autosubmit

#122236 Revert "[Impeller] Temporary flag flip for devicelab tests to use Impeller."
  dev/devicelab/bin/tasks/animated_complex_opacity_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/backdrop_filter_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/color_filter_and_fade_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/complex_layout_scroll_perf_bad_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/complex_layout_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e_impeller_ios.dart
  dev/devicelab/bin/tasks/fullscreen_textfield_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/imagefiltered_transform_animation_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/list_text_layout_impeller_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/microbenchmarks_impeller_ios.dart
  dev/devicelab/bin/tasks/new_gallery_impeller__transition_perf.dart
  dev/devicelab/bin/tasks/new_gallery_impeller_ios__transition_perf.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_non_intersecting_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/simple_animation_perf_impeller_ios.dart
  dev/devicelab/bin/tasks/tiles_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/new_gallery.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: a: text input, team, a: animation, f: scrolling, warning: land on red to fix tree breakage

#122234 Roll Flutter Engine from ab28c582f4f4 to 098fd5884e55 (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#122227 Fix `allowedButtonsFilter` not working as intended when null.
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/multidrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/test/gestures/multidrag_test.dart
Labels: framework, f: gestures

#121786 Fix a scrolling stutter caused by dragging scrollbar
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, autosubmit

#120912 Enable plugin_test_linux
  .ci.yaml
  dev/devicelab/lib/tasks/plugin_tests.dart
Labels: autosubmit

#122233 Reland (2): Removes single window assumptions from `flutter_test`
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/custom_multi_child_layout_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/media_query_test.dart
  packages/flutter/test/widgets/slotted_render_object_widget_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/controller_test.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
  packages/flutter_test/test/utils/fake_and_mock_utils.dart
  packages/flutter_test/test/view_test.dart
  packages/flutter_test/test/window_test.dart
Labels: a: tests, framework, f: material design, f: focus, autosubmit

#122254 Roll Flutter Engine from 098fd5884e55 to 347a4f3b6892 (6 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122260 Roll Flutter Engine from 347a4f3b6892 to a996e1d70af2 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#122265 Roll Flutter Engine from 7e1b3a98d114 to 78ff6a093411 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#122288 Roll Flutter Engine from 54066d919a20 to a82207cee323 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#122304 Roll Packages from a4d3d16029a7 to 3b29183e6f09 (10 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#122308 Roll Flutter Engine from a82207cee323 to 354503a6a545 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119225 Feat : `TextField` cursor color matching M2 and M3 Spec in error state
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/text_form_field_test.dart
Labels: a: text input, framework, f: material design

#122068 Reland "Update test font (#121306)"
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/painting/text_painter_rtl_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter/test/rendering/editable_gesture_test.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/rendering/paragraph_test.dart
  packages/flutter/test/widgets/baseline_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/default_colors_test.dart
  packages/flutter/test/widgets/scrollable_fling_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/semantics_tester_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
  packages/flutter/test/widgets/text_test.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: a: text input, framework, f: material design, a: accessibility, f: scrolling, f: cupertino, f: routes, autosubmit

#122119 Remove references to BindingBase.window
  dev/benchmarks/test_apps/stocks/test/icon_color_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/gestures/gesture_binding_resample_event_on_widget_test.dart
  packages/flutter/test/gestures/gesture_binding_test.dart
  packages/flutter/test/material/page_test.dart
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter/test/rendering/independent_layout_test.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/rendering/view_test.dart
  packages/flutter/test/widgets/annotated_region_test.dart
  packages/flutter/test/widgets/display_feature_sub_screen_test.dart
  packages/flutter/test/widgets/independent_widget_layout_test.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: team, framework, f: material design, f: cupertino, f: routes, f: gestures, autosubmit

#122318 Enable invalid_case_patterns lint
  analysis_options.yaml
Labels: autosubmit

#122328 [CP] Roll engine
  bin/internal/engine.version
Labels: engine

#122326 Roll Flutter Engine from 354503a6a545 to 852b52c364e6 (6 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122330 Roll Flutter Engine from 852b52c364e6 to 832298bdd707 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#121416 [flutter_tools] Add namespace getter in Android project; use namespace as fallback
  packages/flutter_tools/lib/src/android/application_package.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
Labels: tool, autosubmit

#122325 Updates `flutter/test/cupertino` to no longer use `TestWindow`
  packages/flutter/test/cupertino/scrollbar_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/text_selection_test.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
Labels: a: text input, framework, f: scrolling, f: cupertino, autosubmit

#122327 Updates `flutter/test/gestures` to no longer reference `TestWindow`
  packages/flutter/test/gestures/gesture_config_regression_test.dart
Labels: framework, f: gestures, autosubmit

#122321 Updates `flutter_localizations/test` to stop using `TestWindow`
  packages/flutter_localizations/test/material/date_picker_test.dart
  packages/flutter_localizations/test/material/time_picker_test.dart
Labels: f: material design, a: internationalization, autosubmit

#122230 fix devtool instructional messages after `flutter build ... --analyze-size `. Fixes #122229
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/integration.shard/analyze_size_test.dart
Labels: tool, autosubmit

#122335 Roll Flutter Engine from 832298bdd707 to 15a9ec7291fd (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122343 Roll Flutter Engine from 15a9ec7291fd to 71c81ef9dc90 (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122341 Remove another reference to BindingBase.window
  dev/benchmarks/microbenchmarks/lib/stocks/layout_bench.dart
Labels: team, autosubmit

#122340 [Impeller] Temporary flag flip for devicelab tests to use Impeller redux.
  dev/devicelab/bin/tasks/animated_complex_opacity_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/backdrop_filter_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/color_filter_and_fade_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/complex_layout_scroll_perf_bad_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/complex_layout_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/flutter_gallery__transition_perf_e2e_impeller_ios.dart
  dev/devicelab/bin/tasks/fullscreen_textfield_perf_impeller_ios__e2e_summary.dart
  dev/devicelab/bin/tasks/imagefiltered_transform_animation_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/list_text_layout_impeller_perf__e2e_summary.dart
  dev/devicelab/bin/tasks/microbenchmarks_impeller_ios.dart
  dev/devicelab/bin/tasks/new_gallery_impeller__transition_perf.dart
  dev/devicelab/bin/tasks/new_gallery_impeller_ios__transition_perf.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_non_intersecting_impeller_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/simple_animation_perf_impeller_ios.dart
  dev/devicelab/bin/tasks/tiles_scroll_perf_impeller_ios__timeline_summary.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/gallery.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
  dev/devicelab/lib/tasks/new_gallery.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: a: text input, team, a: animation, f: scrolling, autosubmit

#122347 Updates `flutter/test/rendering` to no longer use `TestWindow`
  packages/flutter/test/rendering/view_chrome_style_test.dart
  packages/flutter/test/rendering/view_test.dart
  packages/flutter/test/rendering/viewport_test.dart
Labels: framework, f: scrolling, autosubmit

#121850 Document on ScrollPhysics the requirement to override applyTo
  packages/flutter/lib/src/widgets/scroll_physics.dart
Labels: framework, f: scrolling, autosubmit

#122352 Remove single view assumption from TestViewConfiguration
  dev/benchmarks/microbenchmarks/lib/stocks/layout_bench.dart
  packages/flutter_test/lib/src/binding.dart
  packages/integration_test/lib/integration_test.dart
Labels: a: tests, team, framework, integration_test, autosubmit

#122359 Roll Flutter Engine from 71c81ef9dc90 to e323b11a5659 (4 revisions)
  bin/internal/engine.version
Labels: autosubmit

#122361 Roll Flutter Engine from e323b11a5659 to e9ca7b2c457b (2 revisions)
  bin/internal/engine.version
Labels: autosubmit
