Repository flutter/flutter, pull requests merged in 2023-11, with the labels that each got.

#137651 Roll Flutter Engine from 406b7d71ca37 to db06c2e10459 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, will affect goldens, autosubmit

#137646 Add dependency on leak_tracker and leak_tracker_testing to flutter_test.
  dev/a11y_assessments/pubspec.yaml
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/allowlist.dart
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/spell_check/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/wide_gamut_test/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test/flutter_test_config.dart
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: a: tests, tool, framework, a: internationalization, d: api docs, d: examples, f: integration_test, autosubmit

#137656 Roll Flutter Engine from db06c2e10459 to a0ac6b432cdf (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137657 Roll Flutter Engine from a0ac6b432cdf to 5ef5e6da9075 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137664 Roll Flutter Engine from 5ef5e6da9075 to 8ffc705a55d5 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137698 Add no-shuffle to reorderable_list_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework

#137702 Roll Packages from c9fec61b6cde to 6ad40b9a07d3 (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#137709 [flutter_releases] Flutter beta 3.16.0-0.4.pre Framework Cherrypicks
  bin/internal/engine.version
Labels: engine, autosubmit

#137710 Bumping version tag of provisioning profile cipd package.
  .ci.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#137479 Fix. typos
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
  packages/flutter/test/widgets/form_test.dart
Labels: a: text input, framework, autosubmit

#137562 Unified analytics events migration for `BuildEvent`
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_find_bundle_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: a: text input, platform-ios, tool, autosubmit

#137707 Roll Flutter Engine from 8ffc705a55d5 to 49d3ce9c2ae3 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137697 reset state of CustomSemanticsAction before running tests
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, framework, a: accessibility, autosubmit

#137720 Roll Flutter Engine from 49d3ce9c2ae3 to 406f0c477afb (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137550 Update `framework_test.dart` to remove `ButtonBar` usage and remove references from other clases
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: framework, f: material design, c: tech-debt, autosubmit

#137559 Added EdgeInsetsDirectional.copyWith
  packages/flutter/lib/src/painting/edge_insets.dart
  packages/flutter/test/painting/edge_insets_test.dart
Labels: framework, autosubmit

#136229 Add `Card.filled` and `Card.outlined` factory methods
  dev/bots/check_code_samples.dart
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/generated/used_tokens.csv
  dev/tools/gen_defaults/lib/card_template.dart
  dev/tools/gen_defaults/lib/navigation_bar_template.dart
  dev/tools/gen_defaults/lib/navigation_drawer_template.dart
  examples/api/lib/material/card/card.2.dart
  examples/api/test/material/card/card.2_test.dart
  packages/flutter/lib/src/material/card.dart
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/test/material/card_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#137728 Update Carousel tokens to v0.202
  dev/tools/gen_defaults/data/carousel_item.json
Labels: autosubmit

#137729 [github] Remove assignees in CP requests
  .github/ISSUE_TEMPLATE/7_cherry_pick.yml
Labels: autosubmit

#137740 Roll Flutter Engine from 406f0c477afb to eec2ae4ab4f1 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137743 Roll Flutter Engine from eec2ae4ab4f1 to d92ccb964fcc (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137744 Roll Flutter Engine from d92ccb964fcc to be629214a65e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137747 Roll Flutter Engine from be629214a65e to d79de7f6cb04 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137750 Roll Flutter Engine from d79de7f6cb04 to ff8d3a3fc19d (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137751 Roll Flutter Engine from ff8d3a3fc19d to bc39653b3198 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137752 Roll Flutter Engine from bc39653b3198 to 3c1e8f457e3d (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137494 Instrumented PipelineOwner for leak tracking
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/object_test.dart
Labels: framework

#137482 Instrument ImageStreamCompleterHandle for LeakTracking
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/test/painting/image_stream_test.dart
Labels: framework

#137762 Roll Flutter Engine from 0dd251e7ef6d to bd23e33a05a0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137763 Roll Packages from 6ad40b9a07d3 to 33c2b4e53ad7 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#137764 Roll Flutter Engine from bd23e33a05a0 to 4ba585b2ad91 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137767 Roll Flutter Engine from 4ba585b2ad91 to be49d6595ddd (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137039 Remove duplicate padding on CupertinoFormSection
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/test/cupertino/form_section_test.dart
  packages/flutter/test/cupertino/list_section_test.dart
Labels: framework, f: cupertino, autosubmit

#137741 Update `IconButton.iconSize` documentation
  packages/flutter/lib/src/material/icon_button.dart
Labels: framework, f: material design, autosubmit

#137774 Roll Flutter Engine from be49d6595ddd to 16d54bda1613 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135355 Cupertino date picker should dispose scroll controllers it created.
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: framework, f: cupertino, a: leak tracking

#133136 Fixes `DragTarget` crash if `Draggable.data` is `null`
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: framework, f: gestures, autosubmit

#137778 Fix mounted checks
  dev/integration_tests/android_views/lib/motion_events_page.dart
  dev/integration_tests/flutter_gallery/lib/gallery/demo.dart
  dev/integration_tests/hybrid_android_views/lib/motion_events_page.dart
Labels: autosubmit

#137777 Roll Flutter Engine from 16d54bda1613 to 2ec0f74a1e8a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137726 Migrate api docs from master to main.
  .ci.yaml
Labels: autosubmit

#137785 Roll Flutter Engine from 2ec0f74a1e8a to b11e318b3690 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135348 Chore/gradle remove redundant apply
  dev/a11y_assessments/android/settings.gradle
  examples/hello_world/android/settings.gradle
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/templates/app_shared/android.tmpl/settings.gradle.tmpl
Labels: platform-android, tool, d: examples, autosubmit

#137359 Avoid passing a nullable value to potentially non-nullable parameters
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
  packages/flutter/lib/src/material/scaffold.dart
Labels: framework, f: material design

#137789 Roll Flutter Engine from b11e318b3690 to 1e2eee05855f (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136756 Provide more information in 'unsupported class file' gradle error
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, autosubmit

#137719 Protect flutter analyze --suggestions from erroring on missing AGP value.
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app_shared/android-java.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool, autosubmit

#137795 Roll Flutter Engine from 1e2eee05855f to ef4ce9294299 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137191 [Android] Support Android 34
  dev/a11y_assessments/android/app/build.gradle
  dev/benchmarks/complex_layout/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/microbenchmarks/android/app/build.gradle
  dev/benchmarks/multiple_flutters/android/app/build.gradle
  dev/benchmarks/platform_views_layout/android/app/build.gradle
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/build.gradle
  dev/benchmarks/test_apps/stocks/android/app/build.gradle
  dev/integration_tests/abstract_method_smoke_test/android/app/build.gradle
  dev/integration_tests/android_custom_host_app/SampleApp/build.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/build.gradle
  dev/integration_tests/android_host_app_v2_embedding/app/build.gradle
  dev/integration_tests/android_semantics_testing/android/app/build.gradle
  dev/integration_tests/android_views/android/app/build.gradle
  dev/integration_tests/channels/android/app/build.gradle
  dev/integration_tests/deferred_components_test/android/app/build.gradle
  dev/integration_tests/deferred_components_test/android/component1/build.gradle
  dev/integration_tests/external_ui/android/app/build.gradle
  dev/integration_tests/flavors/android/app/build.gradle
  dev/integration_tests/flutter_gallery/android/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/hybrid_android_views/android/app/build.gradle
  dev/integration_tests/module_host_with_custom_build_v2_embedding/app/build.gradle
  dev/integration_tests/non_nullable/android/app/build.gradle
  dev/integration_tests/platform_interaction/android/app/build.gradle
  dev/integration_tests/release_smoke_test/android/app/build.gradle
  dev/integration_tests/spell_check/android/app/build.gradle
  dev/integration_tests/ui/android/app/build.gradle
  dev/manual_tests/android/app/build.gradle
  dev/tracing_tests/android/app/build.gradle
  examples/api/android/app/build.gradle
  examples/flutter_view/android/app/build.gradle
  examples/hello_world/android/app/build.gradle
  examples/image_list/android/app/build.gradle
  examples/layers/android/app/build.gradle
  examples/platform_channel/android/app/build.gradle
  examples/platform_view/android/app/build.gradle
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/templates/app_shared/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/deferred_component/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/gradle/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-java.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin_ffi/android.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/android/android_project_migration_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/integration.shard/android_plugin_compilesdkversion_mismatch_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_preview_sdk.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_config.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
  packages/flutter_tools/test/integration.shard/test_data/multidex_project.dart
  packages/integration_test/android/build.gradle
  packages/integration_test/example/android/app/build.gradle
Labels: tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#137799 Roll Flutter Engine from ef4ce9294299 to d9b6245d3748 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137803 Roll Flutter Engine from d9b6245d3748 to dd620fcf9af7 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#129186 [flutter_tools] do not try to build tool from dart.sh
  bin/internal/shared.bat
  bin/internal/shared.sh
  packages/flutter_tools/test/integration.shard/bash_entrypoint_test.dart
Labels: tool, autosubmit

#137811 Roll Flutter Engine from dd620fcf9af7 to 57768e18ed74 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137813 Roll Flutter Engine from 57768e18ed74 to dff66925dcfa (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137819 Roll Flutter Engine from dff66925dcfa to e3f81ed27cc7 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137820 Roll Flutter Engine from e3f81ed27cc7 to 78e8475ddbd7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137825 Roll Flutter Engine from 78e8475ddbd7 to d1b29a1bea0b (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137826 Roll Flutter Engine from d1b29a1bea0b to fc7c3f70c076 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137827 Roll Flutter Engine from fc7c3f70c076 to 43653c5a3ec8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137806 Upgrade leak_tracker and remove some deps in allow list.
  dev/a11y_assessments/pubspec.yaml
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/allowlist.dart
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/spell_check/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/wide_gamut_test/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: a: tests, tool, framework, a: internationalization, d: api docs, d: examples, f: integration_test, autosubmit

#136170 [leak-tracking] Add more leak tracking in test/painting #3
  packages/flutter/test/painting/paint_image_test.dart
  packages/flutter/test/painting/star_border_test.dart
  packages/flutter/test/painting/system_fonts_test.dart
  packages/flutter/test/painting/text_span_test.dart
Labels: a: text input, framework, f: cupertino, a: leak tracking

#136874 [web] dispatch corresponding keyup events in text editing integrations
  dev/integration_tests/web_e2e_tests/test_driver/text_editing_integration.dart
Labels: a: text input

#137841 Roll Packages from 33c2b4e53ad7 to cccf5d24d703 (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#137846 Roll flutter gallery version forward.
  dev/devicelab/lib/versions/gallery.dart
Labels: autosubmit

#137853 Roll Flutter Engine from 0415a4f5e2a2 to 72262a238090 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137788 Updated the nested navigation NavigationBar example
  examples/api/lib/material/navigation_bar/navigation_bar.2.dart
  packages/flutter/lib/src/material/navigation_bar.dart
Labels: framework, f: material design, d: api docs, d: examples

#137857 Roll Flutter Engine from 72262a238090 to d5ccb5b1b706 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137858 Roll Flutter Engine from d5ccb5b1b706 to f363a6e5e093 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137840 AppLifecycleListener should dispatch creation and disposal events.
  packages/flutter/lib/src/widgets/app_lifecycle_listener.dart
  packages/flutter/test/widgets/app_lifecycle_listener_test.dart
Labels: framework, a: leak tracking

#137793 InkFeature should dispatch creation and disposal events.
  packages/flutter/lib/src/material/material.dart
  packages/flutter/test/material/material_test.dart
Labels: framework, f: material design, a: leak tracking

#137861 Roll Flutter Engine from f363a6e5e093 to 677040f10f65 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135879 Tooltip docs: Recommend setting preferBelow to false in theme
  examples/api/lib/material/tooltip/tooltip.0.dart
  examples/api/lib/material/tooltip/tooltip.1.dart
  examples/api/lib/material/tooltip/tooltip.2.dart
  examples/api/lib/material/tooltip/tooltip.3.dart
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/lib/src/material/tooltip_theme.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#137871 Roll Flutter Engine from 677040f10f65 to 035740c1f90e (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137863 Send caret rect to embedder on selection update
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#137601 Pin dart-lang/native dependencies
  dev/devicelab/bin/tasks/module_test_ios.dart
  dev/devicelab/lib/tasks/native_assets_test.dart
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
  packages/flutter_tools/test/integration.shard/native_assets_test.dart
Labels: tool, autosubmit

#137872 Roll Flutter Engine from 035740c1f90e to ec20731de6ff (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137791 Remove unused generic type from BottomSheet
  dev/benchmarks/macrobenchmarks/lib/src/web/material3.dart
  dev/benchmarks/test_apps/stocks/lib/stock_home.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/list_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/persistent_bottom_sheet_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/reorderable_list_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/tabs_fab_demo.dart
  examples/api/lib/material/navigation_bar/navigation_bar.2.dart
  examples/api/lib/material/scaffold/scaffold.of.0.dart
  examples/api/lib/material/scaffold/scaffold.of.1.dart
  examples/api/lib/material/scaffold/scaffold_state.show_bottom_sheet.0.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/persistent_bottom_sheet_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/widgets/page_transitions_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#129210 InheritedElement.removeDependent()
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/widgets/framework_test.dart
Labels: framework, autosubmit

#137877 Roll Flutter Engine from ec20731de6ff to b66a87626300 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137835 HeroController should dispatch creation and disposal events.
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/material/app_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, f: material design, f: cupertino, f: routes, a: leak tracking

#137887 Roll Flutter Engine from b66a87626300 to 7282a5d94ab6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137892 Roll Flutter Engine from 7282a5d94ab6 to 25f5e285f874 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137898 Roll Flutter Engine from 25f5e285f874 to 576833873c15 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137900 Roll Flutter Engine from 576833873c15 to fb2a9c20141e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137903 Roll Flutter Engine from fb2a9c20141e to a45e679828e6 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137904 Roll Flutter Engine from a45e679828e6 to daf18fe46b72 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137908 Roll Flutter Engine from daf18fe46b72 to 1c6bd97e2288 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137912 Roll Flutter Engine from 1c6bd97e2288 to a7592e42464c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137914 Roll Flutter Engine from a7592e42464c to 11d66db97d3f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137920 Roll Flutter Engine from 11d66db97d3f to 0d8c7ceacc01 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137921 Roll Flutter Engine from 0d8c7ceacc01 to 555ffa17b55c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137837 Fix tool exit message shown when user provides a non-list to "assets" for a deferred component
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
Labels: tool, autosubmit

#137933 Roll Flutter Engine from 555ffa17b55c to b9b3269b0b2c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137611 Provide a helpful error message when `ColorScheme.brightness` doesn't match `ThemeData.brightness`
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, autosubmit

#137935 Roll Flutter Engine from b9b3269b0b2c to 4f6ed31bd8bd (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136624 Update BottomNavigationBar tests for M3
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#137708 Change cast in json parsing
  packages/flutter_tools/lib/src/proxied_devices/file_transfer.dart
  packages/flutter_tools/test/general.shard/proxied_devices/file_transfer_test.dart
Labels: tool, autosubmit

#137807 Check sample links for malformed links
  dev/bots/check_code_samples.dart
  dev/bots/test/check_code_samples_test.dart
Labels: d: api docs, autosubmit

#137902 [benchmarks] disable partial repaint for multiple backdrop blur iOS macrobenchmarks.
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#137717 Migration for `HotEvent` for Flutter hot runner
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/web_runner.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/drive/web_driver_service_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/run_hot_test.dart
Labels: tool, autosubmit

#137009 Cover text_selection tests with leak tracking.
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/widgets/text_selection_test.dart
  packages/flutter/test/widgets/text_selection_toolbar_layout_delegate_test.dart
Labels: a: text input, framework, a: leak tracking

#137961 ScrollActivity should dispatch creation and disposal events.
  packages/flutter/lib/src/widgets/scroll_activity.dart
  packages/flutter/test/widgets/scroll_activity_test.dart
Labels: framework, f: scrolling, a: leak tracking

#137960 SemanticsHandle should dispatch creation and disposal events.
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/semantics/binding.dart
  packages/flutter/test/semantics/semantics_binding_test.dart
Labels: framework, a: accessibility, a: leak tracking

#137944 Roll Flutter Engine from bdfa8aa8f81f to 461d815b48a0 (1 revision)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#137979 Roll Flutter Engine from 461d815b48a0 to b1a5d772792f (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#137980 Roll Flutter Engine from b1a5d772792f to f9f822359f2b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137983 Roll Flutter Engine from f9f822359f2b to 7f4d56a7f4f7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137987 Roll Flutter Engine from 7f4d56a7f4f7 to 99149d59cb3d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137996 Roll Flutter Engine from 99149d59cb3d to 633065f75b1c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137997 Roll Flutter Engine from 633065f75b1c to b1f2581f05e3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#138000 Roll Flutter Engine from b1f2581f05e3 to b91400976b4a (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#137999 Roll Packages from 49eac1fec6c7 to be18d282c5e7 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#137995 [native assets] Tool exit on build failure
  packages/flutter_tools/lib/src/ios/native_assets.dart
  packages/flutter_tools/lib/src/macos/native_assets.dart
  packages/flutter_tools/lib/src/native_assets.dart
  packages/flutter_tools/test/general.shard/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/linux/native_assets_test.dart
  packages/flutter_tools/test/general.shard/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/windows/native_assets_test.dart
Labels: platform-ios, tool, a: desktop, autosubmit

#138002 Roll Flutter Engine from b91400976b4a to e2810f07abb5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#138005 Roll Flutter Engine from e2810f07abb5 to a9e0f9514f78 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#130425 Adaptive `Switch`
  dev/tools/gen_defaults/lib/switch_template.dart
  examples/api/lib/material/switch/switch.4.dart
  examples/api/test/material/switch/switch.4_test.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/switch_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, d: api docs, d: examples, will affect goldens

#138013 Move Skia new_gallery_transition_perf on a02 from staging to prod
  .ci.yaml
Labels: autosubmit

#138014 [flutter release cp] Reland "Fixes ability to call nextFocus() on a node to focus its desc…
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: framework, f: focus, autosubmit

#138016 Roll Flutter Engine from a9e0f9514f78 to 38895fbd9468 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#138020 Roll Flutter Engine from 38895fbd9468 to 1b20752e2a63 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136936 [flutter_tools] toolexit when using plugins with preview device
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/preview_device.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: tool, autosubmit

#137975 Added an AnimationController API doc example
  examples/api/lib/animation/animation_controller/animated_digit.0.dart
  examples/api/test/animation/animation_controller/animated_digit.0_test.dart
  packages/flutter/lib/src/animation/animation_controller.dart
Labels: framework, a: animation, d: api docs, d: examples

#138034 Roll Flutter Engine from 1b20752e2a63 to f8961d203039 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#138037 Use no-response from cocoon.
  .github/workflows/no-response.yaml
Labels: autosubmit

#137782 Bumping version tag of provisioning profile cipd package. (#137710)
  .ci.yaml
Labels: autosubmit

#138039 Roll Flutter Engine from f8961d203039 to 3e3be5e33bda (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137318 Document where `Curves` curves correspond to CSS easing functions
  packages/flutter/lib/src/animation/curves.dart
Labels: framework, a: animation, autosubmit

#137715 Revert "Add no-shuffle to reorderable_list_test.dart"
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework, autosubmit

#138046 [flutter_tools] Fix local engine preview device
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
Labels: tool, autosubmit

#138045 [flutter release] update engine version of Flutter 3.16 candidate.0
  bin/internal/engine.version
Labels: engine, autosubmit

#137844 Ticker should dispatch creation and disposal events.
  packages/flutter/lib/src/scheduler/ticker.dart
  packages/flutter/test/scheduler/ticker_test.dart
Labels: framework, a: leak tracking

#138086 Roll Packages from be18d282c5e7 to 94c762380828 (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#138091 Roll Flutter Engine from 3e3be5e33bda to 117d47aa3f88 (20 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#138089 Run a couple of iOS tests in presubmit
  .ci.yaml
Labels: autosubmit

#138096 Roll Flutter Engine from 117d47aa3f88 to b0310da3254d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137681 Add support for color and color blendmode in FadeInImage
  packages/flutter/lib/src/widgets/fade_in_image.dart
  packages/flutter/test/widgets/fade_in_image_test.dart
Labels: framework, a: images, autosubmit

#138100 Roll Flutter Engine from b0310da3254d to 6dbcf8f13132 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#137957 Document additional cases
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/framework.dart
Labels: framework, autosubmit

#138108 Roll Flutter Engine from 6dbcf8f13132 to 5306213d9d19 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#138101 Remove fuchsia mac version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#138093 [Android] Fix `FlutterTestRunner.java` deprecations
  packages/integration_test/android/src/main/java/dev/flutter/plugins/integration_test/FlutterTestRunner.java
Labels: framework, f: integration_test, autosubmit

#138103 Remove physicalGeometry
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/view_test.dart
Labels: a: tests, framework, autosubmit

#138111 Roll Flutter Engine from 5306213d9d19 to 21f055f7d8d0 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#138113 Roll Flutter Engine from 21f055f7d8d0 to b3af5d64d3e6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#137878 [flutter_tools] disable flutter build AAR for plugins
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/java.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
Labels: tool, autosubmit

#138115 Use specific version of mac_toolchain
  .ci.yaml
Labels: autosubmit

#138116 Roll Flutter Engine from b3af5d64d3e6 to 233bd6263c62 (8 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#138118 Roll Flutter Engine from 233bd6263c62 to 8b490a9f1650 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#138095 prevent tool crash when `IntelliJValidatorOnMac` encounters an installation with a missing `CFBundleIdentifier`
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/intellij/intellij_validator.dart
  packages/flutter_tools/test/general.shard/intellij/intellij_validator_test.dart
Labels: tool, autosubmit

#138149 Roll Packages from 94c762380828 to b69f54ee0358 (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#138154 Manual roll Flutter Engine from 8b490a9f1650 to 35cad36b7ec5 (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit
