Repository flutter/flutter, pull requests merged in 2023-02, with the labels that each got.

#118963 [release + cherry-pick] Switching over from iOS-15 to iOS-16 in .ci.yaml. (#118807)
  .ci.yaml
Labels: team, team: infra

#119670 Roll Flutter Engine from bb7b7006f4a3 to 521b975449ba (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119669 Undo making Flex,Row,Column const
  packages/flutter/lib/src/material/button_bar.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: framework, f: material design

#119675 Roll Flutter Engine from 521b975449ba to 38913c5484cf (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119595 🥅 Produce warning instead of error for storage base url overrides
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, autosubmit

#119555 Support safe area and scrolling in the NavigationDrawer (#116995)
  packages/flutter/lib/src/material/navigation_drawer.dart
  packages/flutter/test/material/navigation_drawer_test.dart
Labels: framework, f: material design

#119683 Roll Flutter Engine from 38913c5484cf to 1703a396621b (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119439 Expose enableIMEPersonalizedLearning on CupertinoSearchTextField
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/test/cupertino/search_field_test.dart
Labels: framework, f: cupertino, autosubmit

#119384 CP: Throw error when plural case had undefined behavior (#116622)
  dev/tools/bin/find_commit.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool

#119686 Roll Flutter Engine from 1703a396621b to d92e23cb55b8 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119480 CupertinoThemeData equality
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/test/cupertino/theme_test.dart
  packages/flutter/test/material/theme_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#119688 Roll Flutter Engine from d92e23cb55b8 to 5b549950fd19 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#119706 Roll Flutter Engine from 0d87b156265c to c08a286d60e9 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119687 [flutter_releases] Flutter stable 3.7.1 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#119736 remove unnecessary parens
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#119741 Roll Flutter Engine from c08a286d60e9 to ba3adb74d952 (5 revisions)
  bin/internal/engine.version
Labels: autosubmit

#118338 [conductor] update console link
  dev/conductor/core/lib/src/state.dart
  dev/conductor/core/test/next_test.dart
Labels: team

#119738 Fix `ListTileThemeData.copyWith` doesn't override correct properties
  packages/flutter/lib/src/material/list_tile_theme.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: framework, f: material design, autosubmit

#119747 Roll Flutter Engine from ba3adb74d952 to 2b8dd4e5c699 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119577 Catch errors thrown while handling pointer events
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/test/gestures/gesture_binding_test.dart
Labels: tool, framework, f: gestures, autosubmit

#119187 Remove deprecated SystemNavigator.routeUpdated method
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/test/services/system_navigator_test.dart
Labels: framework, f: routes, autosubmit

#119756 Update a test expectation that depended on an SkParagraph fix
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: framework, autosubmit

#119596 🔥 Do not format the messages file for `gen-l10n`
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
Labels: tool, autosubmit

#119758 Roll Flutter Engine from 2b8dd4e5c699 to a12d102773dd (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#119587 Avoid printing blank lines between "Another exception was thrown:" messages
  dev/bots/analyze.dart
  dev/bots/run_command.dart
  dev/bots/utils.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: tool, autosubmit

#118835 Update the counter app to enable Material 3
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
Labels: tool, autosubmit

#119763 Roll Flutter Engine from a12d102773dd to 29d09845f21e (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119765 Roll Flutter Engine from 29d09845f21e to 97d27ff59459 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119762 Run Mac hostonly tests on any available arch
  .ci.yaml
Labels: team, team: infra, autosubmit

#119768 Roll Flutter Engine from 97d27ff59459 to 18118e10a0a5 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119748 Fix PathNotFoundException while updating artifact cache
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, autosubmit

#119784 Revert "Run Mac hostonly tests on any available arch"
  .ci.yaml
Labels: revert

#119783 Roll Flutter Engine from 18118e10a0a5 to 679c4b42e222 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119277 Reland "Add API for discovering assets"
  dev/benchmarks/microbenchmarks/lib/foundation/decode_and_parse_asset_manifest.dart
  dev/devicelab/lib/versions/gallery.dart
  packages/flutter/lib/services.dart
  packages/flutter/lib/src/services/asset_bundle.dart
  packages/flutter/lib/src/services/asset_manifest.dart
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/services/asset_manifest_test.dart
Labels: team, framework, autosubmit

#119622 Fix `pub get --unknown-flag`
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_get_test.dart
Labels: tool

#119830 Roll Flutter Engine from 679c4b42e222 to 388890a98e5b (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119832 Revert "[Re-land] Exposed tooltip longPress"
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/tooltip_test.dart
  packages/flutter/test/material/tooltip_theme_test.dart
Labels: framework, f: material design

#119799 Add missing variants and *new* indicators to `useMaterial3` docs
  packages/flutter/lib/src/material/theme_data.dart
Labels: framework, f: material design

#119833 Roll Flutter Engine from 388890a98e5b to e9e601c7cb35 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119838 Roll Flutter Engine from e9e601c7cb35 to 27f55219df79 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#119843 Revert "[Re-land] Exposed tooltip longPress (#118796)" (#119832)
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/tooltip_test.dart
  packages/flutter/test/material/tooltip_theme_test.dart
Labels: framework, f: material design

#119840 Roll Flutter Engine from 27f55219df79 to ae38c9585a61 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#118188 [web] Put all index.html operations in one place
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/html_utils.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/html_utils_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: tool, platform-web, autosubmit

#118707 Parser machine logs
  dev/bots/test.dart
  dev/bots/test/tool_subsharding_test.dart
  dev/bots/tool_subsharding.dart
Labels: team, autosubmit

#119766 Android defines target update
  .ci.yaml
Labels: autosubmit

#119076 [flutter_tools] Use base DAP detach and ensure correct output
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter.dart
  packages/flutter_tools/lib/src/debug_adapters/flutter_base_adapter.dart
  packages/flutter_tools/test/integration.shard/debug_adapter/flutter_adapter_test.dart
Labels: tool, autosubmit

#119859 Roll Flutter Engine from ae38c9585a61 to 616ecd8be3de (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119773 Bump test Chrome version for Mac arm support
  .ci.yaml
Labels: team, platform-web, autosubmit

#119638 Fix gets removedItem instead of its index
  examples/api/lib/widgets/animated_list/sliver_animated_list.0.dart
  examples/api/test/widgets/animated_list/sliver_animated_list.0_test.dart
Labels: team, f: scrolling, d: api docs, d: examples, documentation, autosubmit

#119870 Roll Flutter Engine from 616ecd8be3de to 2871970337df (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119680 Make `_focusDebug` not interpolate in debug mode
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/widgets/focus_manager_test.dart
Labels: team, framework, d: api docs, d: examples, documentation, f: focus, autosubmit

#119869 flutter_tool: remove explicit length header in HTTP response
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
Labels: tool, autosubmit

#119572 Remove deprecated kind in GestureRecognizer et al
  packages/flutter/lib/src/gestures/eager.dart
  packages/flutter/lib/src/gestures/force_press.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/multidrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/gestures/scale.dart
  packages/flutter/lib/src/widgets/tap_and_drag_gestures.dart
  packages/flutter/test/gestures/drag_test.dart
  packages/flutter/test/gestures/force_press_test.dart
  packages/flutter/test/gestures/long_press_test.dart
  packages/flutter/test/gestures/monodrag_test.dart
  packages/flutter/test/gestures/multidrag_test.dart
  packages/flutter/test/gestures/multitap_test.dart
  packages/flutter/test/gestures/recognizer_test.dart
  packages/flutter/test/gestures/scale_test.dart
Labels: team, framework, a: quality, f: gestures, tech-debt, autosubmit

#119879 Roll Flutter Engine from 2871970337df to 2696fff8716d (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119892 Roll Flutter Engine from 2696fff8716d to e3fe6dade964 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119495 [framework] use shader tiling instead of repeated calls to drawImage
  packages/flutter/lib/src/painting/decoration_image.dart
  packages/flutter/test/painting/decoration_test.dart
  packages/flutter/test/rendering/mock_canvas.dart
  packages/flutter/test/widgets/image_rtl_test.dart
Labels: framework, autosubmit

#119905 Roll Flutter Engine from e3fe6dade964 to 655530e3fd15 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#119910 Roll Flutter Engine from 655530e3fd15 to 67d35267c37c (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119926 Roll Flutter Engine from 67d35267c37c to 0fb48ce5b118 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#117291 Dispose OverlayEntry in TooltipState.
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/foundation/leak_tracking.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: team, framework, f: material design

#119716 Add Material 3 `RadioListTile` example and update existing examples
  examples/api/lib/material/radio_list_tile/custom_labeled_radio.0.dart
  examples/api/lib/material/radio_list_tile/custom_labeled_radio.1.dart
  examples/api/lib/material/radio_list_tile/radio_list_tile.0.dart
  examples/api/lib/material/radio_list_tile/radio_list_tile.1.dart
  examples/api/lib/material/radio_list_tile/radio_list_tile.toggleable.0.dart
  examples/api/test/material/radio_list_tile/custom_labeled_radio.0_test.dart
  examples/api/test/material/radio_list_tile/custom_labeled_radio.1_test.dart
  examples/api/test/material/radio_list_tile/radio_list_tile.0_test.dart
  examples/api/test/material/radio_list_tile/radio_list_tile.1_test.dart
  examples/api/test/material/radio_list_tile/radio_list_tile.toggleable.0_test.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#119939 Roll Flutter Engine from 0fb48ce5b118 to c39047ffb2a6 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119565 Fix iOS context menu position when flipped below
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/lib/src/material/spell_check_suggestions_toolbar.dart
  packages/flutter/lib/src/material/text_selection_toolbar.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
  packages/flutter/test/material/spell_check_suggestions_toolbar_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#119943 Roll Flutter Engine from c39047ffb2a6 to 745d7efb5736 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119867 [flutter_tools] fix Cannot delete file ENOENT from fuchsia_asset_builder
  packages/flutter_tools/lib/src/base/config.dart
  packages/flutter_tools/test/general.shard/config_test.dart
Labels: tool, autosubmit

#119871 Add mac_benchmark ci.yaml property
  .ci.yaml
Labels: team, team: infra, autosubmit

#119893 Tweak to floating-cursor-end behaviour
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#119884 Run Mac hostonly tests on any available arch
  .ci.yaml
Labels: team, team: infra, autosubmit

#119963 Run macOS benchmarks in prod pool to upload metrics
  .ci.yaml
Labels: team, team: infra, autosubmit

#119967 Roll Flutter Engine from 110c643d6ac2 to e1b265bb52aa (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#119679 [CP] Make gen-l10n error handling independent of logger state (#119644)
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool

#119971 Verify Mac artifact codesigning on x64 and arm64
  .ci.yaml
Labels: team, platform-mac, team: infra, autosubmit

#119745 CP: Fix null check error in DWDS
  packages/flutter_tools/pubspec.yaml
Labels: team

#119946 [CP] Fix PathNotFound on artifact cache
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool

#119244 Fix unable to find bundled Java version
  AUTHORS
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: tool, t: flutter doctor, autosubmit

#119981 Revert "Fix unable to find bundled Java version"
  AUTHORS
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: tool, revert

#119979 Do not run customer testing on release candidate branches.
  .ci.yaml
Labels: autosubmit

#119980 Roll Flutter Engine from e1b265bb52aa to 1b132e44194d (8 revisions)
  bin/internal/engine.version
Labels: autosubmit

#119990 Roll Flutter Engine from 1b132e44194d to c7a4bbab0e75 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#120016 De-flake adapter integration test
  packages/flutter_tools/test/integration.shard/debug_adapter/flutter_adapter_test.dart
Labels: tool, severe: flake

#120018 Roll Flutter Engine from c7a4bbab0e75 to 6bd500c38ea8 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#120022 Roll Flutter Engine from 6bd500c38ea8 to 2a104cdfcdf8 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#119977 [flutter_tools] Fix Future error handling ArgumentError in doctor --android-licenses
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
Labels: tool, autosubmit

#119737 Reland "Add --serve-observatory flag to run, attach, and test (#118402)"
  packages/flutter_tools/lib/src/base/dds.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_tester_device.dart
  packages/flutter_tools/test/general.shard/resident_devtools_handler_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/flutter_attach_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/integration.shard/test_test.dart
Labels: tool

#120075 [M3] Add ListTile's iconColor property support for icon buttons
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: framework, f: material design

#119960 Update Android TESTOWNERS
  TESTOWNERS
Labels: autosubmit

#120084 Roll Plugins from 9302d87ee545 to d065e4e0a82a (6 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#115545 Added "insertAll" and "removeAll" methods to AnimatedList
  packages/flutter/lib/src/widgets/animated_scroll_view.dart
  packages/flutter/test/widgets/animated_grid_test.dart
  packages/flutter/test/widgets/animated_list_test.dart
Labels: framework, f: scrolling, autosubmit

#119443 Fix flutter_tools stuck when using custom LLDB prompt
  packages/flutter_tools/lib/src/ios/ios_deploy.dart
  packages/flutter_tools/test/general.shard/ios/ios_deploy_test.dart
Labels: platform-ios, tool, autosubmit

#120104 Fix context menu web examples
  examples/api/lib/material/context_menu/context_menu_controller.0.dart
  examples/api/lib/material/context_menu/editable_text_toolbar_builder.0.dart
  examples/api/lib/material/context_menu/editable_text_toolbar_builder.1.dart
  examples/api/lib/material/context_menu/editable_text_toolbar_builder.2.dart
  examples/api/lib/material/context_menu/selectable_region_toolbar_builder.0.dart
  examples/api/test/material/context_menu/context_menu_controller.0_test.dart
  examples/api/test/material/context_menu/editable_text_toolbar_builder.0_test.dart
  examples/api/test/material/context_menu/editable_text_toolbar_builder.1_test.dart
  examples/api/test/material/context_menu/editable_text_toolbar_builder.2_test.dart
  examples/api/test/material/context_menu/selectable_region_toolbar_builder.0_test.dart
  packages/flutter/lib/src/widgets/context_menu_controller.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, team, framework, f: material design, d: api docs, d: examples, documentation

#120128 Force `Mac web_tool_tests` to run on x64 bots
  .ci.yaml
Labels: team, team: flakes, platform-web, autosubmit

#120141 Run `verify_binaries_codesigned` task on release branches
  .ci.yaml
Labels: autosubmit

#120150 Roll Flutter Engine from 2a104cdfcdf8 to 165126e7034c (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119360 Remove deprecated accentTextTheme and accentIconTheme members from ThemeData
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter/test/material/theme_test.dart
Labels: framework, f: material design, autosubmit

#120076 fix a [SelectableRegion] crash bug
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/lib/src/widgets/selection_container.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: framework, autosubmit

#120159 Roll Flutter Engine from 165126e7034c to 39f5e4cbaed9 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#120095 M3 segmented buttons token fixes
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/segmented_button_template.dart
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_theme_test.dart
Labels: a: text input, team, framework, a: animation, f: material design, f: scrolling, f: cupertino, d: api docs, d: examples, f: routes, f: gestures, documentation, f: focus

#119822 Fix cut button creation in 'buttonItemsForToolbarOptions'
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework

#120191 Roll Flutter Engine from 5aadda2f40b1 to e432b82f49f3 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#120193 Roll Plugins from d065e4e0a82a to 6f985d57b04b (10 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#117691 [web] Move JS content to its own `.js` files
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/web/file_generators/flutter_js.dart
  packages/flutter_tools/lib/src/web/file_generators/flutter_service_worker_js.dart
  packages/flutter_tools/lib/src/web/file_generators/js/flutter.js
  packages/flutter_tools/lib/src/web/file_generators/js/flutter_service_worker.js
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/integration.shard/test_data/project.dart
Labels: tool

#120198 Roll Flutter Engine from e432b82f49f3 to b67690f69661 (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#120167 Stop recursively including assets from asset folders
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool, autosubmit

#119712 Update `ExpansionTile` to support Material 3 & add an example
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/expansion_tile_template.dart
  examples/api/lib/material/expansion_tile/expansion_tile.0.dart
  examples/api/test/material/expansion_tile/expansion_tile.0_test.dart
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#119553 Cherry pick NavigationBar ink ripple fixes
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/test/material/navigation_bar_test.dart
  packages/flutter/test/material/navigation_bar_theme_test.dart
Labels: framework, f: material design

#119583 Web tab selection
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_show_on_screen_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/editable_text_utils.dart
Labels: a: text input, framework, f: routes

#119900 un-pin package:intl
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/tools/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/update_packages_test.dart
Labels: team, tool, autosubmit

#120214 Roll Flutter Engine from b67690f69661 to f310ffd1461a (1 revision)
  bin/internal/engine.version
Labels: autosubmit

#120107 Re-land "Fix unable to find bundled Java version"
  AUTHORS
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: tool, autosubmit

#117660 Fix hang on successful dev/bots/analyze.dart
  dev/bots/analyze.dart
  dev/bots/service_worker_test.dart
  dev/bots/test.dart
  dev/bots/utils.dart
Labels: team, autosubmit

#117664 Add test for RenderProxyBoxMixin; clarify doc, resolve TODO
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/proxy_box_test.dart
Labels: framework, autosubmit

#120251 Roll Flutter Engine from f310ffd1461a to 7098858dc0a5 (9 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#120151 Add support for extending selection to paragraph on ctrl + shift + arrow up/down on Non-Apple platforms
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_editing_intents.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#120257 Revert "Roll Flutter Engine from f310ffd1461a to 7098858dc0a5 (9 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, warning: land on red to fix tree breakage, revert

#120182 fix a TextFormField bug
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#120140 Add trackOutlineColor for Switch and SwitchListTile
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/switch_theme.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/switch_theme_test.dart
Labels: framework, f: material design, autosubmit

#120263 [flutter_releases] Flutter stable 3.7.2 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#120283 Revert "Stop recursively including assets from asset folders"
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool

#119853 Correct Badge interpretation of its alignment parameter
  dev/tools/gen_defaults/lib/badge_template.dart
  packages/flutter/lib/src/material/badge.dart
  packages/flutter/lib/src/material/badge_theme.dart
  packages/flutter/test/material/badge_test.dart
  packages/flutter/test/material/badge_theme_test.dart
Labels: team, framework, f: material design

#120050 Removed "if" on resolving text color at "SnackBarAction"
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: framework, f: material design

#119819 Fix BottomAppBar & BottomSheet M3 shadow
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/bottom_app_bar_theme_test.dart
  packages/flutter/test/material/bottom_sheet_test.dart
Labels: a: text input, team, framework, f: material design, d: api docs, d: examples, documentation

#120303 Roll Plugins from 6f985d57b04b to f59c08db3f27 (3 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#120144 [Android] Remove spell check devicelab test
  .ci.yaml
Labels: team, framework, team: flakes, team: infra, autosubmit

#120117 Add missing parameters to `RadioListTile`
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/test/material/radio_list_tile_test.dart
Labels: framework, f: material design

#120300 Revert "Update `ExpansionTile` to support Material 3 & add an example"
  dev/tools/gen_defaults/bin/gen_defaults.dart
  dev/tools/gen_defaults/lib/expansion_tile_template.dart
  examples/api/lib/material/expansion_tile/expansion_tile.0.dart
  examples/api/test/material/expansion_tile/expansion_tile.0_test.dart
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation

#120309 Manual roll Flutter Engine from bdc5b6b768f6 to cc4ca6a06ab3 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#119862 [CP] Fix lexer issue where select/plural/other/underscores cannot be in identifier names
  packages/flutter_tools/lib/src/localizations/message_parser.dart
  packages/flutter_tools/test/general.shard/message_parser_test.dart
Labels: tool

#120312 Reland "Stop recursively including assets from asset directories"
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool, autosubmit

#120319 Manual roll Flutter Engine from cc4ca6a06ab3 to 89c8a1393d4b (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: autosubmit

#120315 Update .cirrus.yml
  .cirrus.yml
Labels: autosubmit

#120311 [Tool] [Windows] Output build duration
  dev/devicelab/lib/tasks/run_tests.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
Labels: team, tool, autosubmit

#120209 [cp] Stop recursively including assets from asset folders
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool

#120324 Flutter stable 3.7.3 Framework
  bin/internal/engine.version
Labels: engine

#120275 Revert "[web] Move JS content to its own `.js` files"
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/web/file_generators/flutter_js.dart
  packages/flutter_tools/lib/src/web/file_generators/flutter_service_worker_js.dart
  packages/flutter_tools/lib/src/web/file_generators/js/flutter.js
  packages/flutter_tools/lib/src/web/file_generators/js/flutter_service_worker.js
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/integration.shard/test_data/project.dart
Labels: tool

#120143 Fix widget inspector null check
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework, autosubmit

#120362 Roll Plugins from f59c08db3f27 to 73986f4cc857 (5 revisions)
  bin/internal/flutter_plugins.version
Labels: autosubmit

#120364 Manual roll Flutter Engine from 2f2e2e27cb28 to eb346ba63f69 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: autosubmit

#120366 Update gallery
  dev/devicelab/lib/versions/gallery.dart
Labels: team, autosubmit

#120192 Add proper disabled values for input chips
  dev/tools/gen_defaults/lib/input_chip_template.dart
  packages/flutter/lib/src/material/input_chip.dart
  packages/flutter/test/material/input_chip_test.dart
Labels: team, framework, f: material design

#120115 Add missing parameters to `SwitchListTile`
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/test/material/switch_list_tile_test.dart
Labels: framework, f: material design, autosubmit

#119524 Support --local-engine=ios_debug_sim
  packages/flutter_tools/lib/src/runner/local_engine.dart
  packages/flutter_tools/test/general.shard/runner/local_engine_test.dart
Labels: tool, autosubmit

#119872 Added ListTile.titleAlignment, ListTileThemeData.titleAlignment
  examples/api/lib/material/list_tile/list_tile.4.dart
  examples/api/test/material/list_tile/list_tile.4_test.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/list_tile_theme.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: framework, f: material design, autosubmit

#120330 [flutter_tools] toolExit on sdkmanager exit during doctor --android-licenses
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
Labels: tool, autosubmit

#116674 Reland "Overlay always applies clip (#113770)"
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#120350 Clean up null safety messages
  packages/flutter_tools/lib/src/commands/build.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: tool

#120118 Add missing parameters to `CheckboxListTile`
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
Labels: framework, f: material design, autosubmit

#120381 Roll Flutter Engine from eb346ba63f69 to 603fd71f4749 (2 revisions)
  bin/internal/engine.version
Labels: autosubmit

#120393 Roll Flutter Engine from 603fd71f4749 to 39c41c40a4bc (3 revisions)
  bin/internal/engine.version
Labels: autosubmit

#120390 Remove test that verifies we can switch to stateless
  packages/flutter_tools/test/integration.shard/stateless_stateful_hot_reload_test.dart
Labels: tool, autosubmit

#120305 Cherry-pick changes to support the use_emulator flag that made it into candidate branch
  .ci.yaml
  dev/devicelab/bin/run.dart
  dev/devicelab/lib/command/test.dart
  dev/devicelab/lib/framework/runner.dart
  dev/devicelab/lib/framework/utils.dart
Labels: team
