Repository flutter/flutter, pull requests merged in 2023-08, with the labels that each got.

#131639 Roll Flutter Engine from fe2369565f59 to bb2a903c934c (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131242 🐛 Treat empty ARB content as empty map when decoding
  packages/flutter_tools/lib/src/localizations/gen_l10n_types.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
Labels: tool, autosubmit

#131645 Roll Flutter Engine from bb2a903c934c to 791f505c8c6e (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131647 Roll Flutter Engine from 791f505c8c6e to 1433e23c8a3d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131648 Roll Flutter Engine from 1433e23c8a3d to 7651b3cba6ba (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131655 Roll Flutter Engine from 7651b3cba6ba to 25b9d1088d09 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#131661 Roll Flutter Engine from 25b9d1088d09 to 2583c07f6a69 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131663 Roll Flutter Engine from 2583c07f6a69 to f1c80ce98499 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131679 Roll Flutter Engine from 703d45539059 to ae535c024146 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131687 Roll Flutter Engine from ae535c024146 to e3f817ce9953 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131677 Avoid concurrent modification of persistent frame callbacks
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/scheduler/binding_test.dart
Labels: framework, autosubmit

#131691 Roll Flutter Engine from e3f817ce9953 to 1aadc75dd5a7 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131692 Roll Packages from 60e9a542f94e to 3dc00c1a32f6 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#131696 Roll Flutter Engine from 1aadc75dd5a7 to 10a1f9cb74c9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131436 [CP] Minor adjustments on 2D APIs (#131358)
  packages/flutter/lib/src/widgets/scroll_delegate.dart
  packages/flutter/lib/src/widgets/two_dimensional_viewport.dart
  packages/flutter/test/widgets/two_dimensional_viewport_test.dart
Labels: framework, f: scrolling, autosubmit

#131700 Upgrade Flutter libraries.
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#131706 Roll Flutter Engine from 10a1f9cb74c9 to 9dae7b708bda (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131348 ImageProvider.toString uses double.toStringAsFixed
  packages/flutter/lib/src/painting/_network_image_io.dart
  packages/flutter/lib/src/painting/_network_image_web.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/test/painting/image_provider_test.dart
Labels: framework, autosubmit

#131409 Fix Scrollable `TabBar` for Material 3
  dev/tools/gen_defaults/generated/used_tokens.csv
  dev/tools/gen_defaults/lib/tabs_template.dart
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#123984 Update `ThemeData`'s factory method documents
  packages/flutter/lib/src/material/theme_data.dart
Labels: framework, f: material design, autosubmit

#131486 Fix for endless recursion for getLayoutExplorerNode on a Tooltip
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework

#130387 Tiny remove outdated comments
  packages/flutter/lib/src/cupertino/route.dart
Labels: framework, f: cupertino, f: routes, autosubmit

#131781 Added standard deviation to rasterizer results.
  dev/devicelab/lib/tasks/gallery.dart
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
Labels: a: tests, framework, autosubmit

#131785 Manual roll Flutter Engine from 9dae7b708bda to d6b962d0e36d (25 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, will affect goldens, autosubmit

#131724 Fix flex methods for min and max column widths
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/test/rendering/table_test.dart
Labels: framework, autosubmit

#131712 Update .ci.yaml to add new shard to prevent timeouts
  .ci.yaml
Labels: autosubmit

#131723 [flutter_tools] set terminal.singleCharMode to false after attach finishes
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
Labels: tool, autosubmit

#131790 Roll Flutter Engine from d6b962d0e36d to 9304c0074d29 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131713 add gem dependency to the ios_app_with_extensions_test
  .ci.yaml
Labels: autosubmit

#131788 Roll Packages from 3dc00c1a32f6 to 4e4961a24b3d (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#131703 [framework] lerp images in a save layer.
  packages/flutter/lib/src/painting/decoration_image.dart
  packages/flutter/test/painting/decoration_image_lerp_test.dart
Labels: framework, will affect goldens, autosubmit

#131705 Add documentation in flutter.groovy noting that we always use the latest available android version
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
Labels: tool, autosubmit

#131637 Mention that the widget tree is not disposed on exit
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/framework.dart
Labels: framework, d: api docs, autosubmit

#130164 Replace TextField.canRequestFocus with TextField.focusNode.canRequestFocus
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design

#131786 Update stack_frame.dart to parse unexpected error format to null.
  packages/flutter/lib/src/foundation/stack_frame.dart
  packages/flutter/test/foundation/stack_frame_test.dart
Labels: framework, autosubmit

#131820 Assert against infinite values of control points in CatmullRomSpline
  packages/flutter/lib/src/animation/curves.dart
  packages/flutter/test/animation/curves_test.dart
Labels: c: crash, framework, a: animation, a: error message, autosubmit

#131830 Manual roll Flutter Engine from 9304c0074d29 to 4c1157b9da54 (24 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#131848 Manual roll Flutter Engine from 4c1157b9da54 to 46f3e099ad04 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131806 remove Mac_ios ios_app_with_extensions_test
  .ci.yaml
Labels: autosubmit

#131857 [flutter_releases] Flutter beta 3.13.0-0.3.pre Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#131804 manual pub package roll
  packages/flutter_tools/pubspec.yaml
Labels: tool, autosubmit

#131880 Manual roll Flutter Engine from 4cc0b3dab001 to b08e1410a06a (9 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131896 Revert "Manual roll Flutter Engine from 4cc0b3dab001 to b08e1410a06a (9 revisions)"
  bin/internal/engine.version
Labels: engine, warning: land on red to fix tree breakage, revert

#131864 [Impeller] Add animated_blur_backdrop_filter_perf execution on samsung vulkan and opengles
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/animated_blur_backdrop_filter_perf_opengles__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: tool, autosubmit

#131863 Fix TimePicker token issue link
  dev/tools/gen_defaults/lib/time_picker_template.dart
Labels: framework, f: material design, autosubmit

#131897 Roll Flutter Engine from b08e1410a06a to 0c1de9b8afba (9 revisions)
  bin/internal/engine.version
Labels: engine, warning: land on red to fix tree breakage, autosubmit

#131902 Roll Flutter Engine from 0c1de9b8afba to 4c62dd81d136 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131903 Roll Flutter Engine from 4c62dd81d136 to 098ec489585e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131905 Roll Flutter Engine from 098ec489585e to ca8d852eddfc (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131907 Roll Flutter Engine from ca8d852eddfc to e3f75650ac5f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131088 make `--dart-define` override redundant values in `--dart-define-from-file`
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/assemble_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
Labels: tool, autosubmit

#131910 Roll Flutter Engine from e3f75650ac5f to de0ec1c971ab (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#131912 Roll Flutter Engine from de0ec1c971ab to 03137a3b9b81 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131913 Roll Flutter Engine from 03137a3b9b81 to c912e3417e68 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131917 Roll Flutter Engine from c912e3417e68 to 0725a6f519d0 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#131924 Roll Flutter Engine from 0725a6f519d0 to d15a02a8191c (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131928 Roll Flutter Engine from d15a02a8191c to badca1f7f8c9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131935 Roll Packages from d00c1f9eb01c to ce53da1bd741 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#131795 Check for simulator runtime in flutter doctor
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/lib/src/macos/xcode_validator.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_validator_test.dart
  packages/flutter_tools/test/src/context.dart
Labels: a: text input, platform-ios, tool, a: desktop, autosubmit

#131932 Mention `showTimePicker` function be can be used to show dialog with the time picker in the `TimePickerDialog` docs
  packages/flutter/lib/src/material/time_picker.dart
Labels: framework, f: material design, d: api docs, autosubmit

#131943 Roll Flutter Engine from badca1f7f8c9 to e9f80bff0703 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#131948 Roll Flutter Engine from e9f80bff0703 to a7bea8621f4b (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#120385 Predictive back support for root routes
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/shrine/expanding_bottom_sheet.dart
  dev/integration_tests/flutter_gallery/lib/gallery/home.dart
  examples/api/lib/material/navigation_bar/navigation_bar.2.dart
  examples/api/lib/widgets/form/form.1.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.0.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.1.dart
  examples/api/lib/widgets/pop_scope/pop_scope.0.dart
  examples/api/lib/widgets/will_pop_scope/will_pop_scope.0.dart
  examples/api/test/widgets/form/form.1_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.0_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.1_test.dart
  examples/api/test/widgets/navigator_utils.dart
  examples/api/test/widgets/pop_scope/pop_scope.0_test.dart
  examples/api/test/widgets/will_pop_scope/will_pop_scope.0_test.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/navigator_pop_handler.dart
  packages/flutter/lib/src/widgets/pop_scope.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/will_pop_scope.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/navigator_utils.dart
  packages/flutter/test/widgets/pop_scope_test.dart
Labels: a: text input, team, platform-android, framework, f: material design, f: cupertino, d: api docs, d: examples, f: routes, autosubmit

#131950 Roll Flutter Engine from a7bea8621f4b to c254deb8fbda (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131955 Roll Flutter Engine from c254deb8fbda to 4f4734cd48da (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131958 [flutter release] manual roll engine
  bin/internal/engine.version
Labels: engine

#131959 Sped up the time to find macrobenchmarks.
  dev/benchmarks/macrobenchmarks/test_driver/util.dart
Labels: autosubmit

#131970 mark linux packages_autoroller flaky because of token issue
  .ci.yaml
Labels: warning: land on red to fix tree breakage

#131966 Mark the ci_yaml roller task so that it is not backfilled.
  .ci.yaml
Labels: autosubmit

#131967 Manual roll Flutter Engine from 4f4734cd48da to a0d650e37f5d (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  dev/tracing_tests/test/common.dart
Labels: engine, autosubmit

#131878 Add TODO to refactor error handling.
  packages/flutter/lib/src/foundation/stack_frame.dart
Labels: framework, autosubmit

#131972 Roll Flutter Engine from a0d650e37f5d to 138a1ea9a692 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131975 Roll Flutter Engine from 138a1ea9a692 to 7302a678e58e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131976 Roll Flutter Engine from 7302a678e58e to 628b086265f2 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#131983 Roll Flutter Engine from 628b086265f2 to 2ce2913acbe4 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131986 Roll Flutter Engine from 2ce2913acbe4 to d26b8c8fb60c (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#131987 Roll Flutter Engine from d26b8c8fb60c to b512df490c94 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131675 Take paint offset into account for inline children hit test in Editable
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: framework

#131996 Roll Flutter Engine from b512df490c94 to cdafc05a7217 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#132004 Roll Flutter Engine from cdafc05a7217 to af7aaae2f1f9 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#132006 Roll Flutter Engine from af7aaae2f1f9 to 060c95f94364 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#132008 Roll Flutter Engine from 060c95f94364 to c9bd380ccbb0 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#132015 Roll Flutter Engine from c9bd380ccbb0 to a1d513f78bbb (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#132020 Roll Flutter Engine from a1d513f78bbb to 15b5707af406 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#132025 Roll Flutter Engine from 15b5707af406 to eb91441398a1 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#131765 Constrain _RenderScaledInlineWidget child size in computeDryLayout
  packages/flutter/lib/src/widgets/widget_span.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: text input, framework

#132031 Roll Flutter Engine from eb91441398a1 to 4304d6180264 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#132037 Roll Flutter Engine from 4304d6180264 to b10891e0d8d8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#132040 Roll Flutter Engine from b10891e0d8d8 to 5b47c0577060 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#132010 Slider should check `mounted` before start interaction
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/test/material/slider_test.dart
Labels: framework, f: material design, autosubmit

#132057 Roll Flutter Engine from 5b47c0577060 to 39ce1c097bce (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#131816 Android context menu theming and visual update
  packages/flutter/lib/src/material/text_selection_toolbar.dart
  packages/flutter/lib/src/material/text_selection_toolbar_text_button.dart
  packages/flutter/test/material/text_selection_toolbar_test.dart
  packages/flutter/test/material/text_selection_toolbar_text_button_test.dart
Labels: a: text input, framework, f: material design, will affect goldens, autosubmit

#131344 [web] Remove usage of `ui.webOnlyInitializePlatform()`
  packages/flutter_tools/lib/src/web/bootstrap.dart
Labels: tool, autosubmit

#131290 [CP] Allow `OverlayPortal` to be added/removed from the tree in a layout callback (#130670)
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/widgets/overlay_portal_test.dart
Labels: framework, autosubmit

#131289 [CP] `_RenderScaledInlineWidget` constrains child size (#130648)
  packages/flutter/lib/src/widgets/widget_span.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: text input, framework, autosubmit

#131288 [Cp] Fix Tooltip crash when selected in a SelectableRegion (#130181)
  packages/flutter/lib/src/material/selection_area.dart
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: framework, f: material design, autosubmit

#131837 Add static_path_tessellation macrobenchmark
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/path_tessellation.dart
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/test_driver/path_tessellation_dynamic_perf_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/path_tessellation_static_perf_test.dart
Labels: a: desktop, autosubmit

#130513 [web] New HtmlElementView.fromTagName constructor
  packages/flutter/lib/src/widgets/_html_element_view_io.dart
  packages/flutter/lib/src/widgets/_html_element_view_web.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/test/services/fake_platform_views.dart
  packages/flutter/test/widgets/html_element_view_test.dart
  packages/flutter/test/widgets/platform_view_test.dart
Labels: framework, autosubmit

#131287 Adds more documentations around ignoreSemantics deprecations.
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/proxy_sliver.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/sliver.dart
Labels: framework, f: scrolling, autosubmit

#132080 [Impeller] add drawVertices and drawAtlas benchmarks.
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/draw_atlas.dart
  dev/benchmarks/macrobenchmarks/lib/src/draw_vertices.dart
  dev/benchmarks/macrobenchmarks/test_driver/draw_atlas_perf_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/draw_vertices_perf_test.dart
Labels: autosubmit

#132104 Revert "Replace TextField.canRequestFocus with TextField.focusNode.canRequestFocus"
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design

#132106 Revert "Replace TextField.canRequestFocus with TextField.focusNode.ca…
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design

#132086 Roll Flutter Engine from be085f6699b6 to c27109291e22 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#132108 Roll Flutter Engine from c27109291e22 to 9c83d90b01bd (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#132112 Roll Flutter Engine from 9c83d90b01bd to 146c4c9487fc (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#132133 Roll Packages from d7ee75ad59ad to ac4137624a13 (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#132135 Roll Flutter Engine from 146c4c9487fc to 99fdac88f3c6 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#132085 More documentation about warm-up frames
  packages/flutter/lib/src/scheduler/binding.dart
Labels: framework, autosubmit

#132078 Update dartdoc driver to match current behaviour
  dev/tools/dartdoc.dart
Labels: autosubmit

#132141 Roll Flutter Engine from 99fdac88f3c6 to 22bd35a19352 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#132096 [CP] Constrain _RenderScaledInlineWidget child size in computeDryLayout #131765
  packages/flutter/lib/src/widgets/widget_span.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: text input, framework, autosubmit

#132087 [web] Use benchmark callback from `dart:ui_web`
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
Labels: autosubmit

#132123 Fix `TabBarTheme.indicatorColor` not applied in Material 2
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, autosubmit

#132149 Roll Flutter Engine from 22bd35a19352 to dd03fae51d38 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#132159 Roll Flutter Engine from dd03fae51d38 to 934ebb005d02 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#132156 Locate the template directory using a TemplatePathProvider.
  packages/flutter_tools/lib/src/ios/application_package.dart
  packages/flutter_tools/lib/src/template.dart
  packages/flutter_tools/test/general.shard/template_test.dart
Labels: platform-ios, tool, autosubmit

#132137 Document that missed_frame_build_budget_count is misleading
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
Labels: a: tests, framework, autosubmit

#131954 More PageStorage clarity in the documentation
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/widgets/page_storage.dart
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
Labels: framework, f: material design, f: scrolling, autosubmit

#132054 Add `PopupMenuButton.iconColor`, `PopupMenuTheme.iconSize` and fix button icon using unexpected color propert
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/popup_menu_theme.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/popup_menu_theme_test.dart
Labels: framework, f: material design, autosubmit

#132167 Revert of #120385
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/shrine/expanding_bottom_sheet.dart
  dev/integration_tests/flutter_gallery/lib/gallery/home.dart
  examples/api/lib/material/navigation_bar/navigation_bar.2.dart
  examples/api/lib/widgets/form/form.1.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.0.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.1.dart
  examples/api/lib/widgets/pop_scope/pop_scope.0.dart
  examples/api/lib/widgets/will_pop_scope/will_pop_scope.0.dart
  examples/api/test/widgets/form/form.1_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.0_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.1_test.dart
  examples/api/test/widgets/navigator_utils.dart
  examples/api/test/widgets/pop_scope/pop_scope.0_test.dart
  examples/api/test/widgets/will_pop_scope/will_pop_scope.0_test.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/navigator_pop_handler.dart
  packages/flutter/lib/src/widgets/pop_scope.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/will_pop_scope.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/navigator_utils.dart
  packages/flutter/test/widgets/pop_scope_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, d: api docs, d: examples, f: routes

#132166 Roll Flutter Engine from 934ebb005d02 to 82292b8390cb (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131459 Add `textCapitalization` property for `SearchBar` and `SearchAnchor`
  dev/tools/gen_defaults/lib/search_bar_template.dart
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/lib/src/material/search_bar_theme.dart
  packages/flutter/test/material/search_anchor_test.dart
  packages/flutter/test/material/search_bar_theme_test.dart
Labels: framework, f: material design, autosubmit

#132174 Cherry pick of revert
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/shrine/expanding_bottom_sheet.dart
  dev/integration_tests/flutter_gallery/lib/gallery/home.dart
  examples/api/lib/material/navigation_bar/navigation_bar.2.dart
  examples/api/lib/widgets/form/form.1.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.0.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.1.dart
  examples/api/lib/widgets/pop_scope/pop_scope.0.dart
  examples/api/lib/widgets/will_pop_scope/will_pop_scope.0.dart
  examples/api/test/widgets/form/form.1_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.0_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.1_test.dart
  examples/api/test/widgets/navigator_utils.dart
  examples/api/test/widgets/pop_scope/pop_scope.0_test.dart
  examples/api/test/widgets/will_pop_scope/will_pop_scope.0_test.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/navigator_pop_handler.dart
  packages/flutter/lib/src/widgets/pop_scope.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/will_pop_scope.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/navigator_utils.dart
  packages/flutter/test/widgets/pop_scope_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, d: api docs, d: examples, f: routes

#129363 Add more info to `OverlayState.insert` error messages
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/widgets/overlay_test.dart
Labels: framework, autosubmit

#132179 Roll Flutter Engine from 82292b8390cb to 29b117aa4192 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#132181 Roll Flutter Engine from 29b117aa4192 to 6839b88283b6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#132182 Roll Flutter Engine from 6839b88283b6 to 8ec575168d44 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#132146 3.13.0-0.4.pre Beta Cherrypicks
  bin/internal/engine.version
Labels: engine

#131964 Use pattern matching to avoid strange type annotations
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/paragraph.dart
Labels: framework, autosubmit

#132193 Roll Flutter Engine from 8ec575168d44 to 3d3fb4faed02 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#132233 Roll Flutter Engine from 3d3fb4faed02 to 30e7780efacc (8 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#132234 Roll Packages from ac4137624a13 to 881c1f552d0f (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#132243 Revert of #120385 (#132167)
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/shrine/expanding_bottom_sheet.dart
  dev/integration_tests/flutter_gallery/lib/gallery/home.dart
  examples/api/lib/material/navigation_bar/navigation_bar.2.dart
  examples/api/lib/widgets/form/form.1.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.0.dart
  examples/api/lib/widgets/navigator_pop_handler/navigator_pop_handler.1.dart
  examples/api/lib/widgets/pop_scope/pop_scope.0.dart
  examples/api/lib/widgets/will_pop_scope/will_pop_scope.0.dart
  examples/api/test/widgets/form/form.1_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.0_test.dart
  examples/api/test/widgets/navigator_pop_handler/navigator_pop_handler.1_test.dart
  examples/api/test/widgets/navigator_utils.dart
  examples/api/test/widgets/pop_scope/pop_scope.0_test.dart
  examples/api/test/widgets/will_pop_scope/will_pop_scope.0_test.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/services/system_navigator.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/navigator_pop_handler.dart
  packages/flutter/lib/src/widgets/pop_scope.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/will_pop_scope.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/navigator_utils.dart
  packages/flutter/test/widgets/pop_scope_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, d: api docs, d: examples, f: routes

#131893 [Impeller] Adds advanced blend benchmark
  .ci.yaml
  TESTOWNERS
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/project.pbxproj
  dev/benchmarks/macrobenchmarks/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/animated_advanced_blend.dart
  dev/benchmarks/macrobenchmarks/test_driver/animated_advanced_blend_perf_test.dart
  dev/devicelab/bin/tasks/animated_advanced_blend_perf__timeline_summary.dart
  dev/devicelab/bin/tasks/animated_advanced_blend_perf_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/animated_advanced_blend_perf_opengles__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#132238 Roll Flutter Engine from 30e7780efacc to b5b41ff66dae (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#131865 New tooling for iOS 17 physical devices
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/flutter_gallery_ios__start_up_xcode_debug.dart
  dev/devicelab/bin/tasks/integration_ui_ios_driver_xcode_debug.dart
  dev/devicelab/lib/tasks/integration_tests.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_tools/bin/xcode_debug.js
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/core_devices.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcode_build_settings.dart
  packages/flutter_tools/lib/src/ios/xcode_debug.dart
  packages/flutter_tools/lib/src/macos/xcdevice.dart
  packages/flutter_tools/lib/src/macos/xcode.dart
  packages/flutter_tools/lib/src/mdns_discovery.dart
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/README.md
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcodeproj.tmpl/project.pbxproj
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcodeproj.tmpl/project.xcworkspace/contents.xcworkspacedata
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcodeproj.tmpl/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcodeproj.tmpl/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcodeproj.tmpl/xcshareddata/xcschemes/Runner.xcscheme.tmpl
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcworkspace.tmpl/contents.xcworkspacedata
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcworkspace.tmpl/xcshareddata/IDEWorkspaceChecks.plist
  packages/flutter_tools/templates/xcode/ios/custom_application_bundle/Runner.xcworkspace.tmpl/xcshareddata/WorkspaceSettings.xcsettings
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/ios/core_devices_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_install_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_logger_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_project_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/xcode_debug_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
  packages/flutter_tools/test/general.shard/mdns_discovery_test.dart
Labels: a: text input, platform-ios, tool, a: desktop, autosubmit

#132092 Reland "[web] Migrate framework to fully use package:web (#128901)"
  packages/flutter/lib/src/foundation/_platform_web.dart
  packages/flutter/lib/src/painting/_network_image_web.dart
  packages/flutter/lib/src/services/dom.dart
  packages/flutter/lib/src/widgets/_platform_selectable_region_context_menu_web.dart
  packages/flutter/test/painting/_network_image_test_web.dart
  packages/flutter/test/painting/_test_http_request.dart
Labels: a: text input, framework, autosubmit

#131873 Add an example for `TapAndPanGestureRecognizer`
  examples/api/lib/gestures/tap_and_drag/tap_and_drag.0.dart
  examples/api/test/gestures/tap_and_drag/tap_and_drag.0_test.dart
  packages/flutter/lib/src/gestures/tap_and_drag.dart
Labels: framework, d: api docs, d: examples, f: gestures, autosubmit

#132093 Handle hasStrings on web
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#125016 Deprecate `describeEnum`.
  packages/flutter/lib/src/foundation/diagnostics.dart
Labels: framework, c: API break, autosubmit

#132173 Remove shrinkWrap from flexible_space_bar_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: a: tests, framework, f: material design, autosubmit

#131952 Sample code for ImageProvider
  dev/bots/test.dart
  examples/api/lib/painting/image_provider/image_provider.0.dart
  examples/api/test/painting/image_provider/image_provider.0_test.dart
  packages/flutter/lib/src/foundation/print.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter_test/lib/src/_binding_io.dart
Labels: a: tests, framework, d: api docs, d: examples, autosubmit

#131951 Allows adding a storage 'realm' to the storage base URL
  bin/internal/engine.realm
  bin/internal/update_dart_sdk.ps1
  bin/internal/update_dart_sdk.sh
  dev/bots/test.dart
  dev/conductor/core/lib/src/codesign.dart
  dev/devicelab/bin/tasks/engine_dependency_proxy_test.dart
  dev/tools/java_and_objc_doc.dart
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/gradle/resolve_dependencies.gradle
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, engine, autosubmit

#132094 Making TextPainter rounding hack disabled by default
  dev/bots/test.dart
  dev/integration_tests/flutter_gallery/test/drawer_test.dart
  examples/api/test/material/floating_action_button/floating_action_button.1_test.dart
  examples/api/test/material/menu_anchor/menu_accelerator_label.0_test.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/material/about_test.dart
  packages/flutter/test/material/action_chip_test.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/badge_test.dart
  packages/flutter/test/material/banner_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/choice_chip_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/filter_chip_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/navigation_bar_test.dart
  packages/flutter/test/material/navigation_rail_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/stepper_test.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/painting/text_painter_test.dart
  packages/flutter_localizations/test/text_test.dart
Labels: a: text input, framework, f: material design, a: internationalization, f: cupertino, d: api docs, d: examples, will affect goldens, autosubmit

#132242 Fix prefer_null_aware_operators violation
  packages/flutter/lib/src/painting/gradient.dart
Labels: framework, autosubmit

#132261 Pin leak_tracker.
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/general.shard/update_packages_test.dart
Labels: tool

#132280 Add missing `ignore: deprecated_member_use` to unblock the engine roller
  packages/flutter/lib/src/painting/text_painter.dart
Labels: a: text input, framework

#131641 Keep alive support for 2D scrolling
  packages/flutter/lib/src/widgets/scroll_delegate.dart
  packages/flutter/lib/src/widgets/two_dimensional_viewport.dart
  packages/flutter/test/widgets/two_dimensional_utils.dart
  packages/flutter/test/widgets/two_dimensional_viewport_test.dart
Labels: c: new feature, framework, f: scrolling, autosubmit

#132284 Roll Flutter Engine from b5b41ff66dae to 9117ff27d9c9 (16 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, will affect goldens, autosubmit

#132288 Roll Flutter Engine from 9117ff27d9c9 to 02ac5e84097b (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit
