Repository flutter/flutter, pull requests merged in 2023-10, with the labels that each got.

#135816 Roll Flutter Engine from 3ac5785c976b to 6f511aec0795 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135817 Roll Flutter Engine from 6f511aec0795 to e8c834be50bb (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135829 Roll Flutter Engine from e8c834be50bb to 310ad4666445 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135830 Roll Flutter Engine from 310ad4666445 to fff38de45ef7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135353 Leak track cupertino widgets
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/scaffold_test.dart
Labels: framework, f: cupertino, a: leak tracking

#135835 Roll Flutter Engine from fff38de45ef7 to 10b930ad1adf (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135352 leak track page_test.dart
  packages/flutter/test/cupertino/page_test.dart
Labels: framework, f: cupertino, a: leak tracking

#135828 Fix memory leaks in WidgetInspector and WidgetInspectorService.
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework, a: leak tracking

#135804 Test cover cupertino text field for memory leaks.
  packages/flutter/test/cupertino/text_field_test.dart
Labels: a: text input, framework, f: cupertino, a: leak tracking

#135837 Roll Flutter Engine from 10b930ad1adf to 9ccf85f09e73 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135838 Roll Flutter Engine from 9ccf85f09e73 to 8b63d286b51a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135840 Roll Flutter Engine from 8b63d286b51a to 1410d689bd0a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135843 Roll Flutter Engine from 1410d689bd0a to 321139f5821e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135775 Update dialog tests for Material3
  packages/flutter/test/material/dialog_test.dart
Labels: framework, f: material design, autosubmit

#135859 Roll Packages from d0e9a0e1b3ac to e2ac440a547a (12 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#135860 Roll Flutter Engine from 39819e6d306b to c0cf135b1199 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135862 Roll Flutter Engine from c0cf135b1199 to b97818f301ba (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135869 Roll Flutter Engine from b97818f301ba to f3a92cb0c4da (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135871 Roll Flutter Engine from f3a92cb0c4da to 9aa990133ebc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135851 Fix a couple of CupertinoTextField tests to avoid leak-tracking test failures.
  packages/flutter/test/cupertino/text_field_test.dart
Labels: a: text input, framework, f: cupertino, a: leak tracking

#135872 Roll Flutter Engine from 9aa990133ebc to 6aa04dca7589 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135878 Roll Flutter Engine from 6aa04dca7589 to 0956ef53590a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135309 leak track tab_scaffold_test.dart
  packages/flutter/test/cupertino/tab_scaffold_test.dart
Labels: framework, f: cupertino, a: leak tracking

#135230 Cover some cupertino tests with leak tracking
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/magnifier_test.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/cupertino/radio_test.dart
  packages/flutter/test/cupertino/scrollbar_test.dart
  packages/flutter/test/cupertino/sliding_segmented_control_test.dart
  packages/flutter/test/cupertino/spell_check_suggestions_toolbar_test.dart
  packages/flutter/test/cupertino/switch_test.dart
Labels: framework, f: scrolling, f: cupertino, a: leak tracking

#135880 Roll Flutter Engine from 0956ef53590a to 5bc3ab514546 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135887 Roll Flutter Engine from 5bc3ab514546 to 1549d58b6ed5 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135100 Fix the character field of RawKeyEvent is always null on iOS
  packages/flutter/lib/src/services/raw_keyboard.dart
  packages/flutter/test/services/raw_keyboard_test.dart
Labels: framework, autosubmit

#135889 Roll Flutter Engine from 1549d58b6ed5 to ef86c9d84745 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135893 Roll Flutter Engine from ef86c9d84745 to 0a60a1d89664 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135894 Roll Flutter Engine from 0a60a1d89664 to c11e7cdd5de5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135906 Roll Flutter Engine from c11e7cdd5de5 to 28b758503b57 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135907 Roll Packages from e2ac440a547a to c7008cf08813 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#135911 Roll Flutter Engine from 28b758503b57 to ff02c71f1451 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135913 Roll Flutter Engine from ff02c71f1451 to 74f4d3fc3179 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135882 Remove unused InlineSpan methods
  packages/flutter/lib/src/painting/placeholder_span.dart
  packages/flutter/lib/src/painting/text_span.dart
Labels: a: text input, framework, autosubmit

#135915 Roll Flutter Engine from 74f4d3fc3179 to 675a7e456d49 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135918 Roll Flutter Engine from 675a7e456d49 to 7c4f5e924bdb (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135897 Replace dead link in `CupertinoPicker` documentation
  packages/flutter/lib/src/cupertino/picker.dart
Labels: framework, f: cupertino, autosubmit

#135919 Roll Flutter Engine from 7c4f5e924bdb to db168beeae92 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135726 Add support for `setup` steps in flutter customer tests
  dev/customer_testing/lib/customer_test.dart
  dev/customer_testing/lib/runner.dart
  dev/customer_testing/test/customer_test_test.dart
Labels: autosubmit

#135923 Roll Flutter Engine from db168beeae92 to 1656dc4a8c63 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135927 Roll Flutter Engine from 1656dc4a8c63 to f209923f92c6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135933 Roll Flutter Engine from f209923f92c6 to be64d0c01184 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135937 Roll Flutter Engine from be64d0c01184 to 8ab7c8841ee5 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135938 Roll Flutter Engine from 8ab7c8841ee5 to eef2449ff80b (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135939 Roll Flutter Engine from eef2449ff80b to 88a234b860ba (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135905 Bump dart-lang/native deps
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
Labels: tool, autosubmit

#135940 Roll Flutter Engine from 88a234b860ba to 2ae2cc07d48a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135943 Roll Flutter Engine from 2ae2cc07d48a to 2fda8616144c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135945 Roll Flutter Engine from 2fda8616144c to 857f8001f937 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135947 Roll Flutter Engine from 857f8001f937 to 9c0d1f05397f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135951 Roll Flutter Engine from 9c0d1f05397f to 1cca24329fa1 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135953 Roll Flutter Engine from 1cca24329fa1 to e0baf28d05b4 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135967 Roll Flutter Engine from e0baf28d05b4 to c9e7d950d2a4 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135987 Roll Flutter Engine from c9e7d950d2a4 to b0d6bd15e739 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135996 Roll Packages from c7008cf08813 to d654f7597fb1 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#135998 Roll Flutter Engine from b0d6bd15e739 to 459676daff36 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136001 Roll Flutter Engine from 459676daff36 to 80f7023f8d4f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136004 Roll Flutter Engine from 80f7023f8d4f to 8e6dd239fb1a (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136007 Roll Flutter Engine from 8e6dd239fb1a to 8e3a05c9878e (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136009 Roll Flutter Engine from 8e3a05c9878e to 4d1f8ff52903 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136012 Roll Flutter Engine from 4d1f8ff52903 to 3fea9117be79 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136013 Roll Flutter Engine from 3fea9117be79 to 44287139573c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136015 Roll Flutter Engine from 44287139573c to 0ed225c3cc03 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136017 Roll Flutter Engine from 0ed225c3cc03 to dba8e8d9e6cf (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136019 Roll Flutter Engine from dba8e8d9e6cf to a9fe88e09131 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136022 Roll Flutter Engine from a9fe88e09131 to 4987e5468152 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136024 Roll Flutter Engine from 4987e5468152 to f8d53c5fe9f2 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136039 Roll Packages from d654f7597fb1 to 6714d5099ad5 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#136040 Roll Flutter Engine from f8d53c5fe9f2 to ad83202a59a6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136047 Roll Flutter Engine from ad83202a59a6 to 0ff05464f42f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136050 Roll Flutter Engine from 0ff05464f42f to 27a674466094 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135890 Upload frame_request_pending_latency [attempt #2]
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/test/perf_tests_test.dart
Labels: autosubmit

#136052 Roll Flutter Engine from 27a674466094 to 6492e1f8c315 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135886 Tiny improve code style by using records instead of lists
  packages/flutter/lib/src/widgets/text_selection.dart
Labels: a: text input, framework

#136062 Roll Flutter Engine from 6492e1f8c315 to cc9bc9e2c0d3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136034 Fix memory leaks in DateRangePickerDialog.
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_theme_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
Labels: framework, f: material design, autosubmit, a: leak tracking

#136066 Roll Flutter Engine from cc9bc9e2c0d3 to 59b6b94e1a51 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136074 Roll Packages from 6714d5099ad5 to e578a16580c7 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#135942 RenderEditable should dispose created layers.
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: tests, a: text input, framework, a: leak tracking

#136082 Roll Flutter Engine from 59b6b94e1a51 to 1bb228dfedfa (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135941 Call `markNeedsPaint` when adding overlayChild to `Overlay`
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/material/tooltip_theme_test.dart
  packages/flutter/test/widgets/overlay_portal_test.dart
Labels: framework, f: material design, autosubmit

#136094 Roll Flutter Engine from 1bb228dfedfa to eb5d5c66a83e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135512 [Windows] Add first Arm64 plugin tests
  .ci.yaml
Labels: a: desktop, autosubmit

#136098 Roll Flutter Engine from eb5d5c66a83e to 7bf93bb919d9 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136101 Roll Flutter Engine from 7bf93bb919d9 to b28032c157ee (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136103 Roll Flutter Engine from b28032c157ee to 1f79667fb860 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#135899 Simplify assertion in `AsyncSnapshot`
  packages/flutter/lib/src/widgets/async.dart
Labels: framework, autosubmit

#136104 Roll Flutter Engine from 1f79667fb860 to 356ab2a54862 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136106 Roll Flutter Engine from 356ab2a54862 to f71778651333 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134793 bottom_sheet: Clarify doc about behavior when useSafeArea is false
  packages/flutter/lib/src/material/bottom_sheet.dart
Labels: framework, f: material design, autosubmit

#136107 Roll Flutter Engine from f71778651333 to eaac056b63a4 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136108 Roll Flutter Engine from eaac056b63a4 to 40024059b09e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136110 Roll Flutter Engine from 40024059b09e to 8711c1fd2191 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136133 Allow leaks around tap down/up, while flackiness is not fixed.
  packages/flutter/test/cupertino/context_menu_test.dart
Labels: a: text input, framework, f: cupertino, a: leak tracking

#136141 Roll Flutter Engine from 8711c1fd2191 to a18c52768bbc (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136142 Roll Flutter Engine from a18c52768bbc to 46b05f69187d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136145 Roll Flutter Engine from 46b05f69187d to eb88bb5b5c4b (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136147 Roll Flutter Engine from eb88bb5b5c4b to 03c8c7724873 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136150 Roll Flutter Engine from 03c8c7724873 to 0785e3c69f7c (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136156 Roll Flutter Engine from 0785e3c69f7c to 34ffdf06ca93 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136158 Roll Flutter Engine from 34ffdf06ca93 to d5485d67b9f9 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136168 Roll Flutter Engine from d5485d67b9f9 to 7b8f5d4297c6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136175 Roll Flutter Engine from 7b8f5d4297c6 to e58a9b3c54b6 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136071 Update BottomSheet test for M3 + fix an issue in elevation resolution
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
Labels: framework, f: material design, autosubmit

#136182 Roll Flutter Engine from e58a9b3c54b6 to 53da096c0c38 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136186 Roll Flutter Engine from 53da096c0c38 to 69ffbd18ab5e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136187 Roll Flutter Engine from 69ffbd18ab5e to 2886353ee612 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135901 Update `CircleAvatar` & `DataTable` tests for Material 3
  packages/flutter/test/material/circle_avatar_test.dart
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, autosubmit

#135990 Fix `flutter drive` instructions in `Macrobenchmark` README
  dev/benchmarks/macrobenchmarks/README.md
Labels: autosubmit

#136195 Roll Flutter Engine from 2886353ee612 to 664f5e833871 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136169 [leak-tracking] Add leak tracking in test/painting #2
  packages/flutter/test/painting/continuous_rectangle_border_test.dart
  packages/flutter/test/painting/image_stream_test.dart
Labels: framework, a: leak tracking

#135609 [CP] Wait for CONFIGURATION_BUILD_DIR to update when debugging with Xcode
  packages/flutter_tools/bin/xcode_debug.js
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/xcode_debug.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/xcode_debug_test.dart
Labels: platform-ios, tool, autosubmit

#136201 Roll Flutter Engine from 664f5e833871 to 429a242b0db6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136202 Roll Packages from e578a16580c7 to 7de08ecd1cba (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#136205 Roll Flutter Engine from 429a242b0db6 to 22ce5c6a45e2 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134554 Reland "Adds a parent scope TraversalEdgeBehavior and fixes modal rou…
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, f: material design, f: routes, f: focus

#135454 [web] Fix `page up` `page down` `home` `end` shortcut behavior on web
  packages/flutter/lib/src/widgets/default_text_editing_shortcuts.dart
  packages/flutter/test/widgets/editable_text_shortcuts_test.dart
Labels: a: text input, framework, autosubmit

#136211 Roll Flutter Engine from 22ce5c6a45e2 to 81e5bf29dee4 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#136215 Roll Flutter Engine from 81e5bf29dee4 to 0966f62d7101 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136166 [leak-tracking] Cover testwidgets with leak tracking in test/gestures
  packages/flutter/test/gestures/transformed_monodrag_test.dart
  packages/flutter/test/gestures/transformed_scale_test.dart
Labels: framework, f: gestures, a: leak tracking

#136167 [leak-tracking] Add leak tracking in test/painting #1
  packages/flutter/test/painting/_network_image_test_web.dart
  packages/flutter/test/painting/binding_test.dart
  packages/flutter/test/painting/border_test.dart
  packages/flutter/test/painting/box_painter_test.dart
  packages/flutter/test/painting/flutter_logo_test.dart
Labels: framework, a: leak tracking

#136216 Roll Flutter Engine from 0966f62d7101 to 73da593bac54 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135884 [conductor] Remove PublishChannel and use MPA command
  dev/conductor/core/lib/src/globals.dart
  dev/conductor/core/lib/src/next.dart
  dev/conductor/core/lib/src/proto/conductor_state.pb.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbenum.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbjson.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbserver.dart
  dev/conductor/core/lib/src/proto/conductor_state.proto
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/lib/src/state.dart
  dev/conductor/core/test/globals_test.dart
  dev/conductor/core/test/next_test.dart
  dev/conductor/core/test/state_test.dart
Labels: autosubmit

#136220 Roll Flutter Engine from 73da593bac54 to 8f2fa3ceb8a0 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136228 Roll Flutter Engine from 8f2fa3ceb8a0 to 51193f8f53eb (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136232 Roll Flutter Engine from 51193f8f53eb to 92880e9847b3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136233 Roll Flutter Engine from 92880e9847b3 to d094401acb99 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136235 Roll Flutter Engine from d094401acb99 to 171b4b26e68b (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136240 Roll Flutter Engine from 171b4b26e68b to 9aa7cb057d22 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#135130 Migrate the "Non-speed related performance issues" issue template to Github forms
  .github/ISSUE_TEMPLATE/4_performance_others.md
  .github/ISSUE_TEMPLATE/4_performance_others.yml
Labels: autosubmit

#136248 Roll Flutter Engine from 9aa7cb057d22 to e354a13cfeab (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#135949 TestClipPaintingContext should dispose ContainerLayer
  packages/flutter/test/rendering/rendering_tester.dart
  packages/flutter/test/widgets/grid_view_test.dart
  packages/flutter/test/widgets/list_view_test.dart
Labels: a: text input, framework

#136086 RenderAnnotatedRegion should dispose created layers.
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/material/date_picker_theme_test.dart
Labels: framework, f: material design

#136258 Roll Packages from 7de08ecd1cba to 4b483f242936 (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#136259 Roll Flutter Engine from e354a13cfeab to 2b3f9886fbf0 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136264 Roll Flutter Engine from 2b3f9886fbf0 to 60e861dfe6b1 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#136093 Cover more test/material tests with leak tracking.
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/chip_theme_test.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/persistent_bottom_sheet_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: a: text input, framework, f: material design, a: leak tracking

#136265 Delete simulator after plugin_test_ios
  dev/devicelab/lib/tasks/plugin_tests.dart
Labels: autosubmit

#136261 TimePickerDialog should dispose created ChangeNotifiers.
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
Labels: framework, f: material design, a: leak tracking

#136272 Roll Flutter Engine from 60e861dfe6b1 to 39bfce213a4f (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#136278 Roll Flutter Engine from 39bfce213a4f to e0653982dad2 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136281 Roll Flutter Engine from e0653982dad2 to 702f366b1c5d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#136271 [flutter_tools] allow tool integration tests to quit on SIGINT
  packages/flutter_tools/test/src/context.dart
Labels: a: text input, tool, autosubmit

#135779 Seperate localization tests for Material2 and Material3
  packages/flutter_localizations/test/basics_test.dart
  packages/flutter_localizations/test/material/date_picker_test.dart
  packages/flutter_localizations/test/material/time_picker_test.dart
  packages/flutter_localizations/test/text_test.dart
Labels: a: text input, f: material design, a: internationalization, autosubmit

#133346 [framework] restore old zoom page transition for benchmarking.
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/new_gallery_impeller_old_zoom__transition_perf.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
Labels: framework, f: material design, autosubmit

#136292 Roll Flutter Engine from 702f366b1c5d to bdeb53455f7c (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#135710 [Android] Update Java/AGP/Gradle warning compatible Java range
  packages/flutter_tools/lib/src/commands/create.dart
Labels: tool, autosubmit

#136283 [flutter_tools] catch StdinException when setting terminal to SingleCharMode
  packages/flutter_tools/lib/src/base/terminal.dart
  packages/flutter_tools/test/general.shard/base/terminal_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, autosubmit

#136280 Add key event handlers that happen before or after the focus traversal
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/widgets/focus_manager_test.dart
Labels: framework, f: material design, f: focus, autosubmit
