Repository flutter/flutter, pull requests merged in 2023-09, with the labels that each got.

#130645 Add an example for `InputChip` generated by user input
  examples/api/lib/material/input_chip/input_chip.1.dart
  examples/api/test/material/input_chip/input_chip.1_test.dart
  packages/flutter/lib/src/material/input_chip.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#133818 [CP] Fix flutter upgrade failing with "Unknown Flutter tag" to 3.13
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/test/commands.shard/hermetic/upgrade_test.dart
  packages/flutter_tools/test/integration.shard/downgrade_upgrade_integration_test.dart
Labels: tool, autosubmit

#133823 Roll Flutter Engine from b867c4da54cc to 494fd7fe85a3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#133825 Roll Flutter Engine from 494fd7fe85a3 to f28eb11e5bd4 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#133830 Roll Flutter Engine from f28eb11e5bd4 to 01e74b252ee0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#133831 Roll Flutter Engine from 01e74b252ee0 to a9ebed54c451 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#133839 Roll Flutter Engine from a9ebed54c451 to 0769aba5b7d8 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#133842 Roll Flutter Engine from 0769aba5b7d8 to 09cb3d99f24e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#133844 Roll Flutter Engine from 09cb3d99f24e to ced8f1a71206 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#133558 Fix MaterialState.pressed is missing when pressing button with keyboard
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/test/material/ink_well_test.dart
Labels: framework, f: material design, autosubmit

#133663 Add more documentation for SystemChannels.keyboard getKeyboardState
  packages/flutter/lib/src/services/hardware_keyboard.dart
  packages/flutter/lib/src/services/system_channels.dart
Labels: a: text input, framework, d: api docs, autosubmit

#133634 Fixed `PaginatedDataTable` not using `dataRowMinHeight` and `dataRowMaxHeight` from Theme
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/test/material/paginated_data_table_test.dart
Labels: framework, f: material design, autosubmit

#130841 Adds a parent scope TraversalEdgeBehavior and fixes modal route to no…
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, f: material design, f: routes, f: focus

#133828 Test cover more tests with leak tracking.
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/checkbox_theme_test.dart
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/divider_test.dart
  packages/flutter/test/material/divider_theme_test.dart
Labels: framework, f: material design

#133868 Roll Flutter Engine from 4c085b883d6f to ddd03f863897 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#133869 Run Mac_arm64_ios run_debug_test_macos in presubmit
  .ci.yaml
Labels: autosubmit

#133809 Change android_virtual_device to version 34
  .ci.yaml
Labels: autosubmit

#133873 Roll Flutter Engine from ddd03f863897 to d00b69a438a6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#133821 [CP] Fix flutter upgrade failing with "Unknown Flutter tag" to 3.14
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/test/commands.shard/hermetic/upgrade_test.dart
  packages/flutter_tools/test/integration.shard/downgrade_upgrade_integration_test.dart
Labels: tool

#133176 Remove deprecated TestWindow.textScaleFactorTestValue/TestWindow.clearTextScaleFactorTestValue
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/window_test.dart
Labels: a: tests, framework, autosubmit

#133719 fix install checks in flavors devicelab tests
  dev/devicelab/bin/tasks/flavors_test.dart
  dev/devicelab/bin/tasks/flavors_test_ios.dart
  dev/devicelab/bin/tasks/flavors_test_macos.dart
Labels: tool, autosubmit

#133178 Remove deprecated TestWindow.platformBrightnessTestValue/TestWindow.clearPlatformBrightnessTestValue
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/window_test.dart
Labels: a: tests, framework, autosubmit

#133894 Revert "fix install checks in flavors devicelab tests"
  dev/devicelab/bin/tasks/flavors_test.dart
  dev/devicelab/bin/tasks/flavors_test_ios.dart
  dev/devicelab/bin/tasks/flavors_test_macos.dart
Labels: warning: land on red to fix tree breakage, revert

#133895 [Windows Arm64] Add first device lab test
  .ci.yaml
Labels: autosubmit

#133863 Mark leak in _DayPickerState.
  packages/flutter/test/material/date_picker_test.dart
Labels: framework, f: material design

#133826 MaterialStatesController should dispatch creation in constructor.
  packages/flutter/test/material/material_states_controller_test.dart
  packages/flutter/test/widgets/focus_manager_test.dart
  packages/flutter/test/widgets/router_test.dart
  packages/flutter/test/widgets/scroll_controller_test.dart
  packages/flutter/test/widgets/shortcuts_test.dart
Labels: framework, f: material design, f: scrolling, f: routes, f: focus, autosubmit

#133879 Roll Flutter Engine from d00b69a438a6 to 489c399e3dc6 (3 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#133923 Fix for new analyzer lint
  packages/flutter/lib/src/widgets/framework.dart
Labels: framework

#133924 Manual roll Flutter Engine from 489c399e3dc6 to e496eec40e21 (26 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#133926 Roll Flutter Engine from e496eec40e21 to 020776662e92 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#133935 Roll Flutter Engine from 020776662e92 to fbc6f4a54047 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#133806 Reland leak fix for EditableTextState
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_selection_theme_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#133057 [CP] Fix visual overflow for SliverMainAxisGroup (#132989)
  packages/flutter/lib/src/rendering/sliver_group.dart
  packages/flutter/test/widgets/sliver_main_axis_group_test.dart
Labels: framework, f: scrolling

#133373 [flutter_tools] Fix TypeError when a FileSystemException happens during flutter doctor
  packages/flutter_tools/lib/src/intellij/intellij_validator.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
  packages/flutter_tools/test/general.shard/intellij/intellij_validator_test.dart
  packages/flutter_tools/test/general.shard/xcode_backend_test.dart
  packages/flutter_tools/test/src/common.dart
Labels: tool, autosubmit

#133949 SegmentedButton should not create new MaterialStatesController in every build.
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design

#134055 revert 131377
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_selection_theme_test.dart
Labels: a: text input, framework, f: material design

#134049 Manual roll Flutter Engine from fbc6f4a54047 to 1a6b47af3eb0 (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine

#134060 [Reland] Fix flavors test install checks
  dev/devicelab/bin/tasks/flavors_test.dart
  dev/devicelab/bin/tasks/flavors_test_ios.dart
  dev/devicelab/bin/tasks/flavors_test_macos.dart
Labels: autosubmit

#133918 CupertinoAlertDialog should not create ScrollController on every build, if null values are passed in constructor.
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: framework, f: material design, f: cupertino

#133947 _SearchBarState should dispose FocusNode, if it created it.
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: framework, f: material design

#133915 RenderParagraph should dispose instances of SelectableFragments.
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/test/material/elevated_button_test.dart
Labels: framework, f: material design, autosubmit

#133951 _MaterialAppState should dispose MaterialHeroController.
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/stepper_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
Labels: framework, f: material design, autosubmit

#133958 Cover more tests with leak tracking.
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/drawer_button_test.dart
  packages/flutter/test/material/drawer_test.dart
  packages/flutter/test/material/drawer_theme_test.dart
  packages/flutter/test/material/expansion_panel_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/flexible_space_bar_collapse_mode_test.dart
  packages/flutter/test/material/flexible_space_bar_stretch_mode_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/inherited_theme_test.dart
  packages/flutter/test/material/ink_paint_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/input_date_picker_form_field_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/magnifier_test.dart
  packages/flutter/test/material/menu_anchor_test.dart
  packages/flutter/test/material/menu_bar_theme_test.dart
  packages/flutter/test/material/menu_style_test.dart
  packages/flutter/test/material/menu_theme_test.dart
  packages/flutter/test/material/mergeable_material_test.dart
  packages/flutter/test/material/navigation_drawer_test.dart
  packages/flutter/test/material/navigation_drawer_theme_test.dart
  packages/flutter/test/material/navigation_rail_theme_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/page_test.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/scrollbar_paint_test.dart
  packages/flutter/test/material/scrollbar_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/material/snack_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/material/text_field_helper_text_test.dart
  packages/flutter/test/material/text_field_splash_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/material/text_selection_test.dart
  packages/flutter/test/material/text_selection_theme_test.dart
  packages/flutter/test/material/theme_defaults_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/material/time_picker_theme_test.dart
  packages/flutter/test/material/time_test.dart
  packages/flutter/test/material/tooltip_test.dart
  packages/flutter/test/material/tooltip_theme_test.dart
  packages/flutter/test/material/value_indicating_slider_test.dart
  packages/flutter/test/material/will_pop_test.dart
Labels: a: text input, framework, f: material design, f: scrolling, f: focus

#133365 Dispose AnimationSheetRecorder to avoid leaks
  packages/flutter/test/animation/animation_sheet_test.dart
  packages/flutter/test/animation/live_binding_test.dart
  packages/flutter/test/material/progress_indicator_test.dart
  packages/flutter_test/lib/src/animation_sheet.dart
Labels: a: tests, team, framework, a: animation, f: material design, c: tech-debt, autosubmit

#134072 Revert "_SearchBarState should dispose FocusNode, if it created it."
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: framework, f: material design, revert

#134071 Revert "CupertinoAlertDialog should not create ScrollController on every build, if null values are passed in constructor."
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: framework, f: material design, f: cupertino, revert

#134069 Roll Flutter Engine from 1a6b47af3eb0 to f4975e04f35e (16 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#133769 Retry connecting to device in CI after lost connection
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/ios_deploy.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: platform-ios, tool, autosubmit

#134077 Roll Flutter Engine from f4975e04f35e to 98b036ae708e (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134080 Roll Flutter Engine from 98b036ae708e to 5b2cc9d9b8fe (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134081 Roll Flutter Engine from 5b2cc9d9b8fe to 590349006d23 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#133891 [CP] Migrate web-only initialization APIs
  packages/flutter/lib/src/foundation/_platform_web.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
  packages/flutter_tools/lib/src/web/file_generators/main_dart.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_web_plugins/lib/src/plugin_registry.dart
  packages/flutter_web_plugins/test/plugin_event_channel_test.dart
  packages/flutter_web_plugins/test/plugin_registry_test.dart
Labels: tool, framework, autosubmit

#134089 Roll Flutter Engine from 590349006d23 to 8bacc3b38707 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134096 Roll Flutter Engine from 8bacc3b38707 to 0c663258fd09 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134100 Roll Flutter Engine from 0c663258fd09 to 0c8c1647dcd0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134103 Roll Flutter Engine from 0c8c1647dcd0 to 9344685efbc3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134104 Roll Flutter Engine from 9344685efbc3 to bace539bb654 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134128 Roll Flutter Engine from bace539bb654 to 3d9989f1e155 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134132 Roll Flutter Engine from 3d9989f1e155 to c7fd088291e2 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134137 Roll Flutter Engine from 5253a33096d1 to a5e7fa6bf81a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#133914 _DropdownMenuState should dispose TextEditingController.
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_theme_test.dart
Labels: framework, f: material design, will affect goldens

#134140 Roll Flutter Engine from a5e7fa6bf81a to 839051596b1d (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134088 [flutter_tools] Fix "FormatException: Invalid date format" during version freshness check
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: tool, autosubmit

#134000 Add `CheckedPopupMenuItem.onTap` callback
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, autosubmit

#133422 Fix `subtitleTextStyle.color` isn't applied to the `ListTile.subtitle` in Material 2
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: framework, f: material design, autosubmit

#134082 [Windows Arm64] Also use Windows 11 for Devicelab tests
  .ci.yaml
Labels: autosubmit

#133602 [CP] handle exceptions raised while searching for configured android studio
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/test/general.shard/android/android_studio_test.dart
Labels: tool

#134158 Roll Flutter Engine from 839051596b1d to b04c2a378302 (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#133859 Clean the fixed TODOs.
  packages/flutter/test/material/date_range_picker_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#134164 Roll Flutter Engine from b04c2a378302 to 2c69d05dfafb (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134163 [flutter_releases] Flutter stable 3.13.0 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#133917 DraggableScrollableActuator should dispose notifier.
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
Labels: framework, f: material design, f: scrolling, autosubmit

#134169 Roll Flutter Engine from 2c69d05dfafb to fa14d337449b (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134183 Revert "Roll Flutter Engine from 2c69d05dfafb to fa14d337449b (6 revisions)"
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine

#134188 Manual roll Flutter Engine from 2c69d05dfafb to 75437a3bd002 (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134193 Roll Flutter Engine from 75437a3bd002 to 187c5b3c5f71 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134199 Roll Flutter Engine from 187c5b3c5f71 to d864ae68db3c (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134138 Fix `DataTable`'s `headingTextStyle` & `dataTextStyle` are not merged with default text style
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, autosubmit

#133989 Fix `TabBar` doesn't use `labelStyle` & `unselectedLabelStyle` color
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, autosubmit

#134201 Roll Flutter Engine from d864ae68db3c to 5a45ecd24aa3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134206 Roll Flutter Engine from 5a45ecd24aa3 to 558136a1ccbf (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#134216 Roll Flutter Engine from 558136a1ccbf to 71bea01d3abe (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#133948 SearchDelegate should dispose resources.
  packages/flutter/lib/src/material/search.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design, autosubmit

#133803 Cover some test/widgets tests with leak tracking
  packages/flutter/test/widgets/absorb_pointer_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/align_test.dart
  packages/flutter/test/widgets/animated_align_test.dart
  packages/flutter/test/widgets/animated_container_test.dart
  packages/flutter/test/widgets/animated_cross_fade_test.dart
  packages/flutter/test/widgets/animated_grid_test.dart
  packages/flutter/test/widgets/animated_image_filtered_repaint_test.dart
  packages/flutter/test/widgets/animated_list_test.dart
  packages/flutter/test/widgets/animated_opacity_repaint_test.dart
  packages/flutter/test/widgets/animated_padding_test.dart
  packages/flutter/test/widgets/animated_positioned_test.dart
  packages/flutter/test/widgets/animated_size_test.dart
  packages/flutter/test/widgets/animated_switcher_test.dart
  packages/flutter/test/widgets/annotated_region_test.dart
  packages/flutter/test/widgets/app_lifecycle_listener_test.dart
  packages/flutter/test/widgets/app_navigator_key_test.dart
  packages/flutter/test/widgets/app_overrides_test.dart
  packages/flutter/test/widgets/app_test.dart
  packages/flutter/test/widgets/app_title_test.dart
  packages/flutter/test/widgets/aspect_ratio_test.dart
  packages/flutter/test/widgets/async_test.dart
  packages/flutter/test/widgets/autocomplete_test.dart
  packages/flutter/test/widgets/autofill_group_test.dart
  packages/flutter/test/widgets/automatic_keep_alive_test.dart
  packages/flutter/test/widgets/backdrop_filter_test.dart
  packages/flutter/test/widgets/banner_test.dart
  packages/flutter/test/widgets/baseline_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/binding_deferred_first_frame_test.dart
  packages/flutter/test/widgets/binding_test.dart
  packages/flutter/test/widgets/box_decoration_test.dart
  packages/flutter/test/widgets/build_context_test.dart
  packages/flutter/test/widgets/build_scope_test.dart
  packages/flutter/test/widgets/center_test.dart
  packages/flutter/test/widgets/clamp_overscrolls_test.dart
  packages/flutter/test/widgets/clip_test.dart
  packages/flutter/test/widgets/color_filter_test.dart
  packages/flutter/test/widgets/column_test.dart
  packages/flutter/test/widgets/composited_transform_test.dart
  packages/flutter/test/widgets/constrained_box_test.dart
  packages/flutter/test/widgets/container_test.dart
  packages/flutter/test/widgets/context_menu_controller_test.dart
  packages/flutter/test/widgets/coordinates_test.dart
  packages/flutter/test/widgets/custom_multi_child_layout_test.dart
  packages/flutter/test/widgets/custom_paint_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/custom_scroll_view_test.dart
  packages/flutter/test/widgets/custom_single_child_layout_test.dart
  packages/flutter/test/widgets/debug_test.dart
  packages/flutter/test/widgets/decorated_sliver_test.dart
  packages/flutter/test/widgets/default_colors_test.dart
  packages/flutter/test/widgets/default_text_editing_shortcuts_test.dart
  packages/flutter/test/widgets/default_text_height_behavior_test.dart
  packages/flutter/test/widgets/default_text_style_test.dart
  packages/flutter/test/widgets/did_update_widget_test.dart
  packages/flutter/test/widgets/directionality_test.dart
  packages/flutter/test/widgets/dismissible_test.dart
  packages/flutter/test/widgets/display_feature_sub_screen_test.dart
  packages/flutter/test/widgets/disposable_build_context_test.dart
Labels: a: text input, framework, f: scrolling, f: routes

#133941 DropdownRoutePage should dispose the created ScrollController.
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/paginated_data_table_test.dart
Labels: framework, f: material design

#134231 Roll Flutter Engine from 71bea01d3abe to f0b718e28779 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134232 Roll Packages from e7d812cefce0 to 22d475491502 (9 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#134162 fix `--exit` flag in dev/devicelab/bin/run.dart
  dev/devicelab/bin/run.dart
  dev/devicelab/lib/framework/runner.dart
Labels: autosubmit

#134165 add --exit flag to dev/devicelab/bin/test_runner.dart
  dev/devicelab/lib/command/test.dart
Labels: autosubmit

#134240 Roll Flutter Engine from f0b718e28779 to 8d07c2947e60 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134181 [Windows Arm64] Remove device_type property
  .ci.yaml
Labels: autosubmit

#134218 Fix `ExpansionTile` properties cannot be updated with `setState`
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: framework, f: material design, autosubmit

#134243 Roll Flutter Engine from 8d07c2947e60 to 2dba8ceca824 (2 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#132406 [integration_test] Allow capture of screenshots for `FlutterFragmentActivity`s
  .ci.yaml
  dev/bots/test.dart
  packages/integration_test/android/build.gradle
  packages/integration_test/android/src/main/AndroidManifest.xml
  packages/integration_test/android/src/main/java/dev/flutter/plugins/integration_test/FlutterDeviceScreenshot.java
  packages/integration_test/android/src/test/java/dev/flutter/plugins/integration_test/FlutterDeviceScreenshotTest.java
  packages/integration_test/example/android/project-integration_test.lockfile
Labels: platform-android, framework, f: integration_test, autosubmit

#134249 Roll Flutter Engine from 2dba8ceca824 to a828c26e7e97 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134076 _SearchBarState should dispose FocusNode, if it created it.
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: framework, f: material design, autosubmit

#134254 Roll Flutter Engine from a828c26e7e97 to 65f6fb841c7a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134075 CupertinoAlertDialog should not create ScrollController on every build, if null values are passed in constructor.
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: framework, f: material design, f: cupertino, autosubmit

#134260 Roll Flutter Engine from 65f6fb841c7a to 505ef3c33102 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#133999 TestWidgetsFlutterBinding should dispose old RestorationManager on reset.
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/test/bindings_reset_test.dart
Labels: a: tests, framework, autosubmit

#133858 EditableTextState should dispose cursorVisibilityNotifier.
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, framework, f: material design, autosubmit

#134064 Remove non needed controllers in SegmentedButton.
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design

#134091 _TabBarViewState should dispose created instances of PageController.
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/page_selector_test.dart
  packages/flutter/test/material/scrollbar_test.dart
  packages/flutter/test/material/tabbed_scrollview_warp_test.dart
Labels: framework, f: material design, f: scrolling, autosubmit

#134263 Roll Flutter Engine from 505ef3c33102 to df3965a55fd8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134267 Roll Flutter Engine from df3965a55fd8 to 4ac4429a206b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134270 Roll Flutter Engine from 4ac4429a206b to ea1d0d28e26f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134219 Fix `Drawer` examples are missing `dartpad` tag
  packages/flutter/lib/src/material/drawer.dart
Labels: framework, f: material design, autosubmit

#127925 fix a Scrollbar example crash
  dev/bots/check_code_samples.dart
  examples/api/lib/material/scrollbar/scrollbar.0.dart
  examples/api/test/material/scrollbar/scrollbar.0_test.dart
Labels: team, framework, f: scrolling, d: api docs, d: examples, autosubmit

#134288 Roll Flutter Engine from ea1d0d28e26f to a140ab4a4ec6 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134290 Roll Flutter Engine from a140ab4a4ec6 to f146d4bf244b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134293 Roll Flutter Engine from f146d4bf244b to c38feb382e96 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134299 Roll Flutter Engine from c38feb382e96 to f09a139101c3 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#134301 Roll Packages from 22d475491502 to aaae5ef97a45 (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#134246 Update links to iOS embedder docs to point to new Doxygen docs
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/texture.dart
  packages/flutter/lib/src/services/restoration.dart
  packages/flutter/lib/src/widgets/platform_view.dart
  packages/flutter/lib/src/widgets/texture.dart
Labels: a: text input, framework, autosubmit

#134198 Make `CupertinoTextField` at least as tall as its first line of placeholder
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/test/cupertino/text_field_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#134310 Roll Flutter Engine from 6d6b44886175 to 47a79306eed3 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134313 Roll Flutter Engine from 47a79306eed3 to b2cb1d271a88 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134155 Add ios analyzer command for universal links
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/ios_analyze.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/commands.shard/hermetic/ios_analyze_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool, autosubmit

#134298 Update chip docs to clarify how to specify a shape with no border & explain default values for Material 3
  packages/flutter/lib/src/material/chip.dart
Labels: framework, f: material design, autosubmit

#134314 Roll Flutter Engine from b2cb1d271a88 to 2da727e23518 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134001 InputDecoration.error should activate error state
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#134274 Remove TextPainter migration flag from the framework
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/rendering/binding.dart
Labels: a: text input, framework, autosubmit

#133911 RestorationManager should dispatch creation in constructor.
  packages/flutter/lib/src/services/restoration.dart
  packages/flutter/test/services/restoration_test.dart
Labels: framework, f: material design, autosubmit

#134212 Fix memory leak in _DraggableScrollableSheetState
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/material/about_test.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: framework, f: material design, f: scrolling

#134316 Roll Flutter Engine from 2da727e23518 to 8d2892211366 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134321 Roll Flutter Engine from 8d2892211366 to 66bec85d5005 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134324 Roll Flutter Engine from 66bec85d5005 to d6aa2d9061c1 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134327 Roll Flutter Engine from d6aa2d9061c1 to 3a5f3ad1d054 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#134328 Roll Flutter Engine from 3a5f3ad1d054 to 1f2da3d69da7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134332 Roll Flutter Engine from 1f2da3d69da7 to 7af8a5d8d556 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134336 Roll Flutter Engine from 7af8a5d8d556 to 00ef109b845e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134349 Roll Flutter Engine from 00ef109b845e to 348e3a376807 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#133884 Day picker should dispose created MaterialStatesController's.
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
  packages/flutter/test/material/date_picker_test.dart
Labels: framework, f: material design, autosubmit

#134353 Roll Flutter Engine from 348e3a376807 to 4e3231af6efc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134355 Roll Flutter Engine from 4e3231af6efc to d1913cb6a276 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134356 Roll Flutter Engine from d1913cb6a276 to b8afb6deacf3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134360 Roll Flutter Engine from b8afb6deacf3 to 4edbefa5e8f7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134215 SelectableRegion onSelectionChange should be called when the selection changes
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: framework, autosubmit

#133657 [CP] Update vm_snapshot_analysis to 0.7.6 on stable
  dev/forbidden_from_release_tests/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
Labels: team, tool, a: desktop, autosubmit

#134365 Roll Flutter Engine from 4edbefa5e8f7 to feea98d6d0ae (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#134368 Roll Flutter Engine from feea98d6d0ae to 47d1a045d140 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134375 Roll Flutter Engine from 47d1a045d140 to a2af0c6965be (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134384 Roll Flutter Engine from a2af0c6965be to 59b08263f7cc (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#134391 Roll Flutter Engine from 59b08263f7cc to 2acd60d6baed (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134392 Roll Flutter Engine from 2acd60d6baed to 04d836f69571 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134396 Roll Flutter Engine from 04d836f69571 to 7e41b064eb23 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#134404 Roll Flutter Engine from 7e41b064eb23 to 1aa11b644855 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#134410 Roll Flutter Engine from ac6be4dbf821 to e9f1696e5060 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#134424 Roll Flutter Engine from e9f1696e5060 to 2b5961cbc40d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#134363 Cover more tests with leak tracking.
  packages/flutter/test/material/about_test.dart
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/bottom_sheet_theme_test.dart
  packages/flutter/test/material/button_theme_test.dart
  packages/flutter/test/material/drawer_test.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_menu_theme_test.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/floating_action_button_location_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/list_tile_theme_test.dart
  packages/flutter/test/material/material_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/page_selector_test.dart
  packages/flutter/test/material/page_test.dart
  packages/flutter/test/material/paginated_data_table_test.dart
  packages/flutter/test/material/persistent_bottom_sheet_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/progress_indicator_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/material/search_bar_theme_test.dart
  packages/flutter/test/material/segmented_button_test.dart
  packages/flutter/test/material/segmented_button_theme_test.dart
  packages/flutter/test/material/selection_area_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/switch_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/text_field_restoration_test.dart
  packages/flutter/test/material/text_form_field_restoration_test.dart
  packages/flutter/test/material/text_form_field_test.dart
  packages/flutter/test/material/text_selection_toolbar_test.dart
  packages/flutter/test/material/theme_test.dart
  packages/flutter/test/material/time_test.dart
Labels: a: text input, framework, f: material design
