Repository flutter/flutter, pull requests merged in 2023-06, with the labels that each got.

#127442 add link to design doc wiki page
  CONTRIBUTING.md
Labels: autosubmit

#128009 Roll Flutter Engine from f9bc342c84e2 to 6db2f3e9857c (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#128013 Roll Flutter Engine from 6db2f3e9857c to ec321ba0740b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#127354 [tools] use Java class for all java-searching behavior
  dev/integration_tests/flutter_gallery/macos/Podfile.lock
  packages/flutter_tools/lib/src/android/android_sdk.dart
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/lib/src/android/java.dart
  packages/flutter_tools/lib/src/android/migrations/android_studio_java_gradle_conflict_migration.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
  packages/flutter_tools/test/general.shard/android/android_project_migration_test.dart
  packages/flutter_tools/test/general.shard/android/android_sdk_test.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
  packages/flutter_tools/test/general.shard/android/java_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: a: text input, platform-android, t: gradle, autosubmit

#128016 Roll Flutter Engine from ec321ba0740b to 65938065a118 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128017 Roll Flutter Engine from 65938065a118 to a9ed2dec45ff (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128024 Roll Flutter Engine from a9ed2dec45ff to e235f47164fa (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#127872 Fixes in Cupertino translations
  packages/flutter_localizations/lib/src/l10n/cupertino_es.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_419.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_AR.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_BO.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_CL.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_CO.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_CR.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_DO.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_EC.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_GT.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_HN.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_MX.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_NI.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_PA.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_PE.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_PR.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_PY.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_SV.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_US.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_UY.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_es_VE.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_pl.arb
  packages/flutter_localizations/lib/src/l10n/cupertino_pt.arb
  packages/flutter_localizations/lib/src/l10n/generated_cupertino_localizations.dart
Labels: a: internationalization, f: cupertino

#128026 Roll Flutter Engine from e235f47164fa to bc81133892a6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128034 Roll Flutter Engine from bc81133892a6 to 8339c71a963c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128035 Roll Flutter Engine from 8339c71a963c to c8e1a8d6fb57 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#126395 [tool] In `flutter doctor -v`, warn when Android Studio version could not be detected.
  packages/flutter_tools/lib/src/android/android_studio_validator.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/test/general.shard/android/android_studio_validator_test.dart
  packages/flutter_tools/test/general.shard/vscode/vscode_validator_test.dart
Labels: autosubmit

#127269 Add fallback font to IconData class
  packages/flutter/lib/src/widgets/icon.dart
  packages/flutter/lib/src/widgets/icon_data.dart
  packages/flutter/test/widgets/icon_test.dart
Labels: autosubmit

#128045 Roll Packages from 95bb7930e12b to f0513ae199e1 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#128007 [framework] remove reference to closed issue.
  packages/flutter/lib/src/material/ink_sparkle.dart
Labels: f: material design, autosubmit

#128011 [labeler] Remove use of any
  .github/labeler.yml
Labels: autosubmit

#128050 Roll Flutter Engine from c8e1a8d6fb57 to fdd39c421fb9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128056 Roll Flutter Engine from fdd39c421fb9 to 7c0a639efd0a (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#128076 [CP] Append $flutter/osx sdk property to existing platforms/targets relyin…
  .ci.yaml
Labels: autosubmit

#128058 Revised Floating Action Button examples
  examples/api/lib/material/floating_action_button/floating_action_button.0.dart
  examples/api/lib/material/floating_action_button/floating_action_button.1.dart
  examples/api/lib/material/floating_action_button/floating_action_button.2.dart
  examples/api/lib/material/floating_action_button/floating_action_button.3.dart
  examples/api/test/material/floating_action_button/floating_action_button.0_test.dart
  examples/api/test/material/floating_action_button/floating_action_button.1_test.dart
  examples/api/test/material/floating_action_button/floating_action_button.2_test.dart
  examples/api/test/material/floating_action_button/floating_action_button.3_test.dart
  packages/flutter/lib/src/material/floating_action_button.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#128066 migrate the package_autoroller from querying by label to title
  dev/conductor/core/lib/src/packages_autoroller.dart
  dev/conductor/core/test/packages_autoroller_test.dart
Labels: team, autosubmit

#128064 Roll Flutter Engine from 7c0a639efd0a to 3a453f2ccb77 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128065 Updated InputDecoratorExamples for M3
  examples/api/lib/material/input_decorator/input_decoration.0.dart
  examples/api/lib/material/input_decorator/input_decoration.1.dart
  examples/api/lib/material/input_decorator/input_decoration.2.dart
  examples/api/lib/material/input_decorator/input_decoration.3.dart
  examples/api/lib/material/input_decorator/input_decoration.floating_label_style_error.0.dart
  examples/api/lib/material/input_decorator/input_decoration.label.0.dart
  examples/api/lib/material/input_decorator/input_decoration.label_style_error.0.dart
  examples/api/lib/material/input_decorator/input_decoration.material_state.0.dart
  examples/api/lib/material/input_decorator/input_decoration.material_state.1.dart
  examples/api/lib/material/input_decorator/input_decoration.prefix_icon.0.dart
  examples/api/lib/material/input_decorator/input_decoration.prefix_icon_constraints.0.dart
  examples/api/lib/material/input_decorator/input_decoration.suffix_icon.0.dart
  examples/api/lib/material/input_decorator/input_decoration.suffix_icon_constraints.0.dart
  examples/api/test/material/input_decorator/input_decoration.prefix_icon.0_test.dart
  examples/api/test/material/input_decorator/input_decoration.suffix_icon.0_test.dart
Labels: team, f: material design, d: api docs, d: examples, documentation, autosubmit, f: material

#127996 [flutter_tools] Use process matcher for multidex test
  packages/flutter_tools/test/host_cross_arch.shard/cache_test.dart
  packages/flutter_tools/test/host_cross_arch.shard/ios_content_validation_test.dart
  packages/flutter_tools/test/integration.shard/analyze_all_templates_test.dart
  packages/flutter_tools/test/integration.shard/analyze_size_test.dart
  packages/flutter_tools/test/integration.shard/gradle_non_android_plugin_test.dart
  packages/flutter_tools/test/integration.shard/multidex_build_test.dart
  packages/flutter_tools/test/integration.shard/test_test.dart
  packages/flutter_tools/test/integration.shard/test_utils.dart
  packages/flutter_tools/test/integration.shard/tool_backend_test.dart
Labels: tool, autosubmit

#125851 Add retry flag to flutter_test
  packages/flutter_test/lib/src/test_compat.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: tests, framework, autosubmit

#128080 Updated Menu examples
  examples/api/lib/material/menu_anchor/menu_accelerator_label.0.dart
  examples/api/lib/material/menu_anchor/menu_anchor.0.dart
  examples/api/lib/material/menu_anchor/menu_anchor.1.dart
  examples/api/test/material/menu_anchor/menu_accelerator_label.0_test.dart
  examples/api/test/material/menu_anchor/menu_anchor.1_test.dart
Labels: team, f: material design, d: api docs, d: examples, documentation

#128075 Add error message when sliver overlap absorber is missing
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
Labels: framework, f: scrolling, a: quality, a: error message, autosubmit

#127696 [CP] fix: Search anchor box location when used on nested navigator
  packages/flutter/lib/src/material/search_anchor.dart
Labels: framework, f: material design, autosubmit

#126698 Fix issue where DevTools would not be immediately available when using --start-paused
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/resident_devtools_handler_test.dart
  packages/flutter_tools/test/integration.shard/devtools_uri_test.dart
Labels: tool, autosubmit

#128071 Updated custom ListTile examples
  examples/api/lib/material/list_tile/custom_list_item.1.dart
  examples/api/test/material/list_tile/custom_list_item.1_test.dart
  packages/flutter/lib/src/material/list_tile.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#128088 Updated TabBar and ToggleButtons examples
  examples/api/lib/material/toggle_buttons/toggle_buttons.0.dart
  examples/api/test/material/tabs/tab_bar.2_test.dart
  examples/api/test/material/toggle_buttons/toggle_buttons.0_test.dart
Labels: team, f: material design, d: api docs, d: examples, documentation, autosubmit

#127976 Sync Lints
  analysis_options.yaml
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/test/rendering/image_test.dart
  packages/integration_test/test/binding_test.dart
Labels: integration_test, autosubmit

#128093 Fix typos in labels
  .github/labeler.yml
Labels: team, autosubmit

#128089 Roll Flutter Engine from 3a453f2ccb77 to 02d6fbb68b69 (14 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#127762 [Refactor] fix quote style in template
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
Labels: tool, autosubmit

#128121 Roll Packages from f0513ae199e1 to 75085edb54fe (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#127990 Make --flutter-repo analyze whole repo
  packages/flutter_tools/lib/src/commands/analyze.dart
  packages/flutter_tools/lib/src/commands/analyze_base.dart
  packages/flutter_tools/lib/src/commands/analyze_continuously.dart
  packages/flutter_tools/lib/src/commands/analyze_once.dart
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
Labels: tool, autosubmit

#127875 Workaround for Dart VM timeout
  dev/devicelab/lib/framework/utils.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/lib/src/commands/custom_devices.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/args_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_logger_test.dart
Labels: team, platform-ios, tool, autosubmit

#127480 Tiny remove unnecessary method in text_selection.dart
  packages/flutter/lib/src/widgets/text_selection.dart
Labels: a: text input, framework, autosubmit

#128119 Roll Flutter Engine from 02d6fbb68b69 to c6e9383f2143 (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#127882 Remove LiveTestRenderView
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/test/rendering/view_test.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/test/coordinate_translation_test.dart
  packages/flutter_test/test/widget_tester_live_device_test.dart
Labels: a: tests, framework, autosubmit

#128092 Pre-migration for dart:ui multi view changes
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework, autosubmit

#128142 Roll Flutter Engine from c6e9383f2143 to b4250acbf3ca (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#127231 Reland "Remove obsolete drawShadow bounds workaround (#127052)"
  packages/flutter/lib/src/rendering/proxy_box.dart
Labels: framework, autosubmit

#128147 Roll Flutter Engine from b4250acbf3ca to f3f6a020595d (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128149 Roll Flutter Engine from f3f6a020595d to 8769e9ce3a90 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128124 Roll dds dependency to 2.8.3 for expression evaluation upcoming fixes.
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/integration.shard/debug_adapter/flutter_adapter_test.dart
  packages/flutter_tools/test/integration.shard/debug_adapter/test_adapter_test.dart
  packages/flutter_tools/test/integration.shard/debug_adapter/test_client.dart
Labels: team, tool, autosubmit

#128152 Prefix for dart:ui multiview change
  packages/flutter_test/test/platform_dispatcher_test.dart
Labels: a: tests, framework, autosubmit

#128158 Roll Flutter Engine from 8769e9ce3a90 to 54293721816a (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#128161 Roll Flutter Engine from 54293721816a to c838a1b05924 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128246 Roll Packages from 75085edb54fe to db4e5c26ed3f (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#128252 Roll Flutter Engine from c838a1b05924 to f9f72388a4da (19 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#128254 Migrate SemanticsBinding to onSemanticsActionEvent
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/semantics/binding.dart
  packages/flutter/test/semantics/semantics_owner_test.dart
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework, a: accessibility, autosubmit

#127718 Fix update drag error that made NestedScrollView un-scrollable
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
Labels: framework, f: scrolling, a: quality, autosubmit

#127351 Remove scrollbar deprecations isAlwaysShown and hoverThickness
  packages/flutter/lib/src/cupertino/scrollbar.dart
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/scrollbar_theme.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/cupertino/scrollbar_test.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/scrollbar_test.dart
  packages/flutter/test/material/scrollbar_theme_test.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: team, framework, f: material design, severe: API break, f: scrolling, f: cupertino, tech-debt, autosubmit

#128243 [labeler] Fix adding labels when name is directory
  .github/labeler.yml
Labels: team, autosubmit

#128273 [framework] attempt non-key solution
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: framework, autosubmit

#128282 Roll Flutter Engine from 7f12e3497428 to 220ece4d9faa (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#128288 [CP] FlexibleSpaceBar background fix
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: framework, f: material design, autosubmit

#128293 Roll Flutter Engine from 220ece4d9faa to 2b353ae90731 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128301 Roll Flutter Engine from 2b353ae90731 to aaa7574375a6 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#127983 [web] Use 'Uri' instead of 'dart:html' to extract pathname
  packages/flutter_web_plugins/lib/src/navigation/utils.dart
  packages/flutter_web_plugins/pubspec.yaml
  packages/flutter_web_plugins/test/navigation/utils_test.dart
Labels: team, platform-web, autosubmit

#128263 Migration guide for moving from BottomNavigationBar to NavigationBar
  examples/api/lib/material/navigation_bar/navigation_bar.0.dart
  examples/api/test/material/navigation_bar/navigation_bar.0_test.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
Labels: team, framework, d: api docs, d: examples, documentation, autosubmit

#128307 Roll Flutter Engine from aaa7574375a6 to 722aad83e5fe (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#128298 Use a `show` over a `hide` for `test_api` exports
  packages/flutter_test/lib/src/widget_tester.dart
Labels: a: tests, framework, autosubmit

#128155 Use Material3 in the 2D viewport tests
  packages/flutter/test/widgets/two_dimensional_utils.dart
  packages/flutter/test/widgets/two_dimensional_viewport_test.dart
Labels: framework, f: scrolling, autosubmit

#128333 Update cherry-pick issue template to more uniform labels.
  .github/ISSUE_TEMPLATE/7_cherry_pick.yml
Labels: autosubmit, team: release

#128256 Clean-up viewId casts in flutter_test
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, framework, autosubmit

#128341 Roll Flutter Engine from 722aad83e5fe to b6d37f8f74ad (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#128295 Adding example for migrating to navigation drawer
  examples/api/lib/material/navigation_drawer/navigation_drawer.1.dart
  packages/flutter/lib/src/material/drawer.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#128291 Updating cirrus docker image to ubuntu focal.
  dev/ci/docker_linux/Dockerfile
Labels: team, autosubmit

#128348 Roll Packages from db4e5c26ed3f to da72219048fc (10 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#128114 Fix `Null check operator used on a null value` on TextField with contextMenuBuilder
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#128350 Roll Flutter Engine from b6d37f8f74ad to 4571695f9e76 (6 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#128112 Remove `textScaleFactor` dependent logic from `AppBar`
  dev/tools/gen_defaults/lib/app_bar_template.dart
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/app_bar_test.dart
Labels: team, framework, autosubmit

#128302 [flutter_tools] never tree shake 0x20 (space) font codepoints on web
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/icon_tree_shaker.dart
  packages/flutter_tools/test/general.shard/build_system/targets/icon_tree_shaker_test.dart
Labels: tool, autosubmit

#128073 [Android] Update plugin and module templates to use Flutter constant for `compileSdkVersion`
  packages/flutter_tools/templates/module/android/deferred_component/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/build.gradle.tmpl
Labels: tool, autosubmit

#128356 Roll Flutter Engine from 4571695f9e76 to ca499463ec2e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#127826 Remove more rounding hacks from TextPainter
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/date_range_picker_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#128078 Update Draggable YouTube video link
  packages/flutter/lib/src/widgets/drag_target.dart
Labels: framework, autosubmit

#128363 Roll Flutter Engine from ca499463ec2e to 6f9df0f988c1 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#126302 Show error message in release mode when box is not laid out without losing performance
  packages/flutter/lib/src/rendering/box.dart
Labels: framework, autosubmit

#128287 Add viewId to PointerEvents
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/hit_test.dart
  packages/flutter/lib/src/gestures/resampler.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/gestures/gesture_binding_resample_event_on_widget_test.dart
  packages/flutter/test/gestures/gesture_binding_test.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/lib/src/window.dart
  packages/flutter_test/test/platform_dispatcher_test.dart
Labels: a: tests, a: text input, framework, f: gestures, autosubmit

#128095 Make inspector weakly referencing the inspected objects.
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework

#128371 Refactor tests
  examples/layers/macos/Runner/DebugProfile.entitlements
  packages/flutter/test/material/debug_test.dart
  packages/flutter/test/material/scaffold_test.dart
  packages/flutter/test/rendering/simple_semantics_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/heroes_test.dart
Labels: team, framework, f: material design, a: accessibility, d: examples, autosubmit

#128160 Super tiny fix of dead link
  packages/flutter/test/foundation/leak_tracking.dart
Labels: framework, autosubmit

#128182 Addressed Ambiguity in transform.scale constructor docs
  packages/flutter/lib/src/widgets/basic.dart
Labels: framework, autosubmit

#128143 Do not try to load main/default asset image if only higher-res variants exist
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/services/asset_manifest.dart
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter/test/services/asset_manifest_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool, framework, a: assets, autosubmit

#128376 Roll Flutter Engine from 6f9df0f988c1 to 59d5444cf06c (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128264 [tools] allow explicitly specifying the JDK to use via a new config setting
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/android/java.dart
  packages/flutter_tools/lib/src/commands/config.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/config_test.dart
  packages/flutter_tools/test/general.shard/android/android_sdk_test.dart
  packages/flutter_tools/test/general.shard/android/android_workflow_test.dart
  packages/flutter_tools/test/general.shard/android/java_test.dart
Labels: a: text input, platform-android, tool, autosubmit

#128351 Update menu API docs to help developers migrate to m3
  examples/api/lib/material/dropdown_menu/dropdown_menu.1.dart
  examples/api/lib/material/menu_anchor/menu_anchor.2.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/popup_menu.dart
Labels: team, framework, f: material design, d: api docs, d: examples, documentation, autosubmit

#127904 Super tiny MediaQuery doc update
  packages/flutter/lib/src/widgets/media_query.dart
Labels: framework, d: api docs, documentation, autosubmit

#128444 Roll Packages from da72219048fc to a84b2c2ac344 (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#128255 Roll engine, patch expression evaluation
  bin/internal/engine.version
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/compile_expression_test.dart
Labels: tool, framework, engine, autosubmit

#128392 Fix typos 'wether' -> 'whether'
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
Labels: framework, f: material design, autosubmit

#128460 Roll Flutter Engine from 4f4486b00be2 to 1089ce6874cf (20 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#125998 Adds vmservices to retrieve android applink settings
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/lib/src/android/android_app_link_settings.dart
  packages/flutter_tools/lib/src/android/android_builder.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/integration.shard/android_gradle_print_app_link_domains_test.dart
  packages/flutter_tools/test/integration.shard/android_gradle_print_application_id_test.dart
  packages/flutter_tools/test/src/android_common.dart
Labels: tool, autosubmit

#128365 Disable context menu
  examples/api/lib/material/menu_anchor/menu_anchor.1.dart
  examples/api/test/material/menu_anchor/menu_anchor.1_test.dart
Labels: team, d: api docs, d: examples, documentation, autosubmit

#128473 Roll Flutter Engine from 1089ce6874cf to a5f7d5d75ff2 (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#128471 Redo make inspector weakly referencing the inspected objects.
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework

#127567 Use `--target-os` for appropriate precompiled targets.
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
Labels: tool

#128506 Revert "Redo make inspector weakly referencing the inspected objects."
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, revert

#128447 Update Chrome version for testing
  .ci.yaml
Labels: will affect goldens, autosubmit

#128446 [labeler] Set sync labels to false to stop removing labels
  .github/workflows/labeler.yml
Labels: team, autosubmit

#128452 Fix PointerEventConverter doc
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/converter.dart
Labels: framework, f: gestures, autosubmit

#128479 [flutter_releases] Flutter beta 3.12.0-0.0.pre Framework Cherrypicks
  bin/internal/engine.version
  bin/internal/release-candidate-branch.version
Labels: engine

#128458 Move RenderObjectElement.updateChildren to Element
  packages/flutter/lib/src/widgets/framework.dart
Labels: framework, autosubmit

#127227 [floating_cursor_selection]add more comments on the tricky part
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, framework, autosubmit

#127562 Disable blinking cursor when `EditableText.showCursor` is false
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_cursor_test.dart
Labels: a: text input, framework, autosubmit

#128533 [CP] Roll engine to bd8ca1966
  bin/internal/engine.version
Labels: engine

#128442 Update flutter to dartdoc 6.3.0 and hide Icons implementation from doc pages
  .gitignore
  dev/bots/docs.sh
  packages/flutter/lib/src/cupertino/icons.dart
  packages/flutter/lib/src/material/icons.dart
Labels: team, framework, f: material design, f: cupertino, autosubmit

#128507 Update `chip.dart` to use set of `MaterialState`
  packages/flutter/lib/src/material/chip.dart
Labels: framework, f: material design

#128324 Fix navigation rail with long labels misplaced highlights
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/test/material/navigation_rail_test.dart
Labels: framework, f: material design

#127446 Navigator.pop before PopupMenuItem onTap call
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, autosubmit

#128266 Reland "Migrate benchmarks to package:web"
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_image_decoding.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_platform_view_infinite_scroll.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/recorder.dart
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/forbidden_from_release_tests/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_ui/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: a: tests, team, tool, framework, f: scrolling, d: api docs, d: examples, documentation, integration_test, autosubmit

#128437 Advise developers to use OverflowBar instead of ButtonBar
  packages/flutter/lib/src/material/button_bar.dart
Labels: framework, f: material design, autosubmit

#128539 Reduce `_DoubleClampVisitor` false positives
  dev/bots/analyze.dart
Labels: team, autosubmit

#126596 Sliver Main Axis Group
  examples/api/lib/widgets/sliver/sliver_main_axis_group.0.dart
  examples/api/test/widgets/sliver/sliver_main_axis_group.0_test.dart
  packages/flutter/lib/src/rendering/sliver_group.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/sliver_main_axis_group_test.dart
Labels: team, framework, f: scrolling, d: api docs, d: examples, documentation

#123274 Add `AppLifecycleListener`, with support for application exit handling
  examples/api/lib/widgets/app_lifecycle_listener/app_lifecycle_listener.0.dart
  examples/api/lib/widgets/app_lifecycle_listener/app_lifecycle_listener.1.dart
  examples/api/test/widgets/app_lifecycle_listener/app_lifecycle_listener.0_test.dart
  examples/api/test/widgets/app_lifecycle_listener/app_lifecycle_listener.1_test.dart
  examples/api/test/widgets/binding/widget_binding_observer.0_test.dart
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/lib/src/widgets/app_lifecycle_listener.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/services/lifecycle_test.dart
  packages/flutter/test/widgets/app_lifecycle_listener_test.dart
  packages/flutter/test/widgets/binding_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, a: text input, team, framework, d: api docs, d: examples, documentation, autosubmit

#128429 Adding migration guide for Material 3 colors
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/lib/src/material/colors.dart
Labels: framework, f: material design, autosubmit

#118129 [flutter_tools] Precache after channel switch
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/lib/src/commands/precache.dart
  packages/flutter_tools/lib/src/commands/upgrade.dart
  packages/flutter_tools/test/commands.shard/permeable/upgrade_test.dart
  packages/flutter_tools/test/general.shard/args_test.dart
  packages/flutter_tools/test/general.shard/channel_test.dart
Labels: tool, autosubmit

#127060 Remove single view assumption from MouseTracker, and unify its hit testing code flow
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/lib/src/rendering/view.dart
  packages/flutter/test/rendering/mouse_tracker_test_utils.dart
Labels: framework, f: gestures, autosubmit

#128072 [Android] Bump integration tests using `compileSdkVersion` 31 to 33
  dev/integration_tests/android_custom_host_app/SampleApp/build.gradle
  dev/integration_tests/android_host_app_v2_embedding/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/module_host_with_custom_build_v2_embedding/app/build.gradle
Labels: team, autosubmit

#128462 Revert "test owners: cyanglaz -> vashworth"
  TESTOWNERS
Labels: autosubmit

#128554 Manual roll Flutter Engine from a5f7d5d75ff2 to 8f9e608d39ab (31 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#128455 Fix `showBottomSheet` doesn't remove scrim when draggable sheet is dismissed
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, autosubmit

#128466 Replace `MaterialButton` from test classes
  packages/flutter/test/material/bottom_sheet_test.dart
  packages/flutter/test/material/card_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: framework, f: material design, f: focus, autosubmit

#128568 Roll Flutter Engine from 8f9e608d39ab to cb93477008d6 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#128267 [flutter_tools] [DAP] Don't try to restart/reload if app hasn't started yet
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter.dart
  packages/flutter_tools/test/general.shard/dap/flutter_adapter_test.dart
Labels: tool, autosubmit

#128335 [testing] Make the FLUTTER_STORAGE_BASE_URL warning non-fatal
  packages/flutter_tools/lib/src/base/logger.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
Labels: tool, autosubmit

#128573 Roll Flutter Engine from cb93477008d6 to 93afba901b3b (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128543 Updated material button theme tests for Material3
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_theme_test.dart
  packages/flutter/test/material/floating_action_button_theme_test.dart
  packages/flutter/test/material/outlined_button_theme_test.dart
  packages/flutter/test/material/text_button_theme_test.dart
Labels: a: text input, framework, f: material design

#128582 Roll Packages from e13b8c43386a to afe2f05c1adb (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#128521 Updated flutter_localizations tests for Material3;
  packages/flutter_localizations/test/basics_test.dart
  packages/flutter_localizations/test/material/date_picker_test.dart
  packages/flutter_localizations/test/material/time_picker_test.dart
  packages/flutter_localizations/test/text_test.dart
Labels: a: text input, f: material design, a: internationalization, autosubmit

#128594 Roll Flutter Engine from 93afba901b3b to bc6e047570f6 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128082 ExpansionPanel isExpanded callback parameter (Ticket 74114)
  dev/integration_tests/flutter_gallery/lib/demo/material/expansion_panels_demo.dart
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/test/material/expansion_panel_test.dart
Labels: team, framework, f: material design, autosubmit

#128593 Ignore app.stop events received before the app.detach response in attach integration tests
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: tool, autosubmit

#128501 Add tooltips for `SegmentedButton`
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design

#128607 Revert "Update `chip.dart` to use set of `MaterialState`"
  packages/flutter/lib/src/material/chip.dart
Labels: framework, f: material design, autosubmit

#128602 Roll Flutter Engine from bc6e047570f6 to 071e1fb21c7a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#128599 Clarifies semantics long press and semantics on tap documentation
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: framework, a: accessibility, autosubmit

#128449 [CP] Do not try to load main/default asset image if only higher-res variants exist
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/services/asset_manifest.dart
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter/test/services/asset_manifest_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool, framework, cp: review, autosubmit

#128612 Roll Flutter Engine from 071e1fb21c7a to 488876ed26c6 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128547 Add Selected semantics to IconButton
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/test/material/icon_button_test.dart
Labels: framework, f: material design, autosubmit

#128529 rename generated asset manifest file back to `AssetManifest.bin` (from `AssetManifest.smcbin`)
  packages/flutter/lib/src/services/asset_manifest.dart
  packages/flutter/test/painting/image_resolution_test.dart
  packages/flutter/test/services/asset_bundle_test.dart
  packages/flutter/test/services/asset_manifest_test.dart
  packages/flutter/test/widgets/image_resolution_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
Labels: tool, framework, a: assets, autosubmit

#128617 Roll Flutter Engine from 488876ed26c6 to 3e90345cdca7 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128620 Remove unnecessary parentheses
  packages/flutter/lib/src/material/segmented_button.dart
Labels: framework, f: material design, autosubmit

#128627 Roll Flutter Engine from 3e90345cdca7 to b037db26037f (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#128643 Roll Flutter Engine from b037db26037f to 962d78e0ae9c (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  bin/internal/fuchsia-mac.version
Labels: engine, autosubmit

#127728 migrate `Tooltip` to use `OverlayPortal`
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: framework, f: material design, autosubmit
