Repository flutter/flutter, pull requests merged in 2024-03, with the labels that each got.

#144436 Roll Flutter Engine from 7e8fefe4a084 to 6f8044436eb3 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144443 Enable missing-code-block-language
  dartdoc_options.yaml
Labels: autosubmit

#144425 Remove master from API docs
  dev/bots/docs.sh
  dev/docs/README.md
  dev/tools/create_api_docs.dart
  dev/tools/test/create_api_docs_test.dart
  packages/flutter/lib/animation.dart
  packages/flutter/lib/src/cupertino/icons.dart
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/interactive_viewer.dart
Labels: framework, a: animation, f: material design, f: cupertino, autosubmit

#144448 Roll Flutter Engine from 6f8044436eb3 to 0db468f7bae5 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144450 Roll Flutter Engine from 0db468f7bae5 to 34cf95c7bd82 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144452 Roll Flutter Engine from 34cf95c7bd82 to f300ced56a4e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144453 Roll Flutter Engine from f300ced56a4e to 76140bc9cec9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144455 Roll Flutter Engine from 76140bc9cec9 to f68cc57cbe12 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144457 Roll Flutter Engine from f68cc57cbe12 to 1dff89788b18 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144391 Horizontally expand text selection toolbar buttons in overflow menu
  packages/flutter/lib/src/material/adaptive_text_selection_toolbar.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/material/text_selection_toolbar.dart
  packages/flutter/test/material/text_selection_toolbar_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#144459 Roll Flutter Engine from 1dff89788b18 to 16e04d264145 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144464 Roll Flutter Engine from 16e04d264145 to f0037d4fbd67 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144468 Roll Flutter Engine from f0037d4fbd67 to 2a5a9a6dead0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144169 InputDecorator M3 tests migration - Step4 - Hint tests
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#144319 Fix chips use square delete button `InkWell` shape instead of circular
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#144317 Fix `CalendarDatePicker` day selection shape and overlay
  dev/tools/gen_defaults/lib/date_picker_template.dart
  examples/api/lib/material/date_picker/date_picker_theme_day_shape.0.dart
  examples/api/test/material/date_picker/date_picker_theme_day_shape.0_test.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/date_picker_theme.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
  packages/flutter/test/material/date_picker_theme_test.dart
Labels: framework, f: material design, d: api docs, d: examples, will affect goldens, autosubmit

#144475 Fix `showDateRangePicker` is missing `dartpad` tag and cleanup
  examples/api/lib/material/date_picker/show_date_picker.0.dart
  examples/api/lib/material/date_picker/show_date_range_picker.0.dart
  packages/flutter/lib/src/material/date_picker.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#144477 Roll Packages from 6d02f0359368 to a9c68b83356b (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#144480 Roll Flutter Engine from 2a5a9a6dead0 to 8ef8543d6001 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144065 [github actions] rewrite cherry pick template
  .github/PR_TEMPLATE/PULL_REQUEST_CP_TEMPLATE.md
Labels: autosubmit

#144493 Roll Flutter Engine from 8ef8543d6001 to 2706c732b22a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144519 Roll Flutter Engine from 2706c732b22a to 024ea680ceed (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144522 Roll Flutter Engine from 024ea680ceed to c52b3033eca6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144545 Roll Flutter Engine from 9cbca80e2196 to 2338a557e018 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144426 [Windows] Update keyboard modifiers link
  packages/flutter/lib/src/services/raw_keyboard_windows.dart
Labels: framework, autosubmit

#144549 Roll Flutter Engine from 2338a557e018 to afd2d9f9421d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144490 Fix Small Typo in Skia_Client Doc Comment
  packages/flutter_goldens/lib/skia_client.dart
Labels: a: tests, framework, autosubmit

#144427 Doc fix for `DropdownButtonFormField.value`
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/widgets/form.dart
Labels: framework, f: material design, autosubmit

#144554 Roll Flutter Engine from afd2d9f9421d to a31209171949 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144556 Roll Packages from a9c68b83356b to 06258277070f (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#144550 Fix build mode not propagated in android native asset build
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/test/general.shard/isolated/build_system/targets/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
Labels: tool

#144279 Add missing parameter to `TableBorder.symmetric`, and improve class constructors
  dev/conductor/core/bin/packages_autoroller.dart
  dev/conductor/core/lib/src/repository.dart
  dev/devicelab/lib/framework/browser.dart
  dev/integration_tests/android_semantics_testing/lib/src/common.dart
  dev/integration_tests/flutter_gallery/lib/gallery/demo.dart
  dev/integration_tests/flutter_gallery/lib/gallery/syntax_highlighter.dart
  dev/tools/gen_defaults/lib/typography_template.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/time.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/lib/src/rendering/table_border.dart
  packages/flutter/lib/src/services/autofill.dart
  packages/flutter/lib/src/services/live_text.dart
  packages/flutter/lib/src/services/mouse_cursor.dart
  packages/flutter/lib/src/services/text_formatter.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/media_query.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/rendering/table_border_test.dart
  packages/flutter_driver/lib/src/common/layer_tree.dart
  packages/flutter_driver/lib/src/driver/refresh_rate_summarizer.dart
  packages/flutter_driver/lib/src/driver/timeline.dart
  packages/flutter_test/lib/src/mock_event_channel.dart
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/build_system/targets/dart_plugin_registrant.dart
  packages/flutter_tools/lib/src/debug_adapters/flutter_adapter_args.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_pm.dart
  packages/flutter_tools/lib/src/persistent_tool_state.dart
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/pre_run_validator.dart
  packages/flutter_tools/lib/src/proxied_devices/file_transfer.dart
  packages/flutter_tools/test/general.shard/proxied_devices/proxied_devices_test.dart
Labels: a: tests, a: text input, tool, framework, f: material design, f: routes, f: gestures, autosubmit

#144466 Remove unnecessary (and the only) `RenderObject.markParentNeedsLayout` override
  packages/flutter/lib/src/widgets/overlay.dart
Labels: framework, autosubmit

#144558 Roll Flutter Engine from a31209171949 to 0d8588b1de7a (1 revision)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#144551 Print warning and exit when iOS device is unpaired
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/macos/xcdevice.dart
  packages/flutter_tools/lib/src/runner/target_devices.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_install_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_project_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/runner/target_devices_test.dart
Labels: platform-ios, tool, a: desktop, autosubmit

#144570 Roll Flutter Engine from 0d8588b1de7a to 40018811ec0e (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144572 Roll Flutter Engine from 40018811ec0e to 62cf93be60b2 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144578 Roll Flutter Engine from 62cf93be60b2 to 728aa4ef05d4 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144583 Updated the TextButton image button example artwork
  examples/api/lib/material/text_button/text_button.0.dart
  examples/api/test/material/text_button/text_button.0_test.dart
Labels: a: text input, framework, d: api docs, d: examples, autosubmit

#144541 Restorable CupertinoTextFormFieldRow
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/test/cupertino/text_form_field_row_restoration_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#144568 Do not shorten native assets framework names
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets_host.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_host_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: tool, a: desktop

#144607 Roll Flutter Engine from d514a302cdff to 17a4b66e0729 (8 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144615 Roll Flutter Engine from 17a4b66e0729 to 8916bb32b7b8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144579 Revert "_DefaultTabControllerState should dispose all created TabContoller instances. (#136608)"
  packages/flutter/lib/src/material/tab_controller.dart
Labels: framework, f: material design, autosubmit

#144624 Roll Flutter Engine from 8916bb32b7b8 to a7c785884903 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144576 remove unused `firstBuildTime` parameter in `DevFS::update`
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/test/general.shard/hot_shared.dart
  packages/flutter_tools/test/general.shard/resident_runner_helpers.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: tool, autosubmit

#144628 Roll Packages from 06258277070f to 2aa6e3f6bafe (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#144627 Add regression test for TabBar crash
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, autosubmit

#144629 Roll Flutter Engine from a7c785884903 to 3e8b0deffe4e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143392 Adds missing `style` to `PopupMenuButton`
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, autosubmit

#144630 Updated the smiley TextButton example again
  examples/api/lib/material/text_button/text_button.0.dart
  examples/api/test/material/text_button/text_button.0_test.dart
Labels: a: text input, framework, d: api docs, d: examples, autosubmit

#144639 Roll Flutter Engine from 3e8b0deffe4e to 49bc1577f317 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144161 Enable asset transformation feature in hot reload workflow (excluding Web)
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/build_system/tools/asset_transformer.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/general.shard/build_system/targets/asset_transformer_test.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_ddc_modules_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: tool, autosubmit

#144248 Fix embedding FlutterMacOS.framework for macOS add2app via cocoapods
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
  packages/flutter_tools/lib/src/commands/build_macos_framework.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_darwin_framework_test.dart
Labels: tool, autosubmit

#144653 Roll Flutter Engine from 49bc1577f317 to effcf97a1f7c (10 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#143661 Fill in SliverConstraints fields missing from ==, hashCode, toString
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/test/rendering/slivers_test.dart
  packages/flutter/test/widgets/keep_alive_test.dart
  packages/flutter/test/widgets/list_view_viewporting_test.dart
  packages/flutter/test/widgets/sliver_fill_viewport_test.dart
  packages/flutter/test/widgets/slivers_appbar_pinned_test.dart
Labels: framework, f: scrolling, autosubmit

#144659 Roll Flutter Engine from effcf97a1f7c to d374c78bcf52 (5 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#144661 Roll Flutter Engine from d374c78bcf52 to 370e7d5866d9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144668 Roll Flutter Engine from 370e7d5866d9 to b6efe0dd88fe (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144702 Roll Flutter Engine from b6efe0dd88fe to 9aad0e93899b (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144707 Roll Flutter Engine from 9aad0e93899b to 20037e385bda (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144575 [Impeller] measure GPU memory usage.
  dev/devicelab/lib/tasks/perf_tests.dart
  packages/flutter_driver/lib/src/driver/memory_summarizer.dart
  packages/flutter_driver/lib/src/driver/timeline_summary.dart
  packages/flutter_driver/test/src/gpu_memory_summarizer_test.dart
  packages/flutter_driver/test/src/real_tests/timeline_summary_test.dart
Labels: a: tests, framework, autosubmit

#144664 make DevFSContent descendants immutable
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
Labels: tool, autosubmit

#144078 Remove deprecated `errorColor` from `ThemeData`
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, autosubmit

#144709 Fix code sample failing in smoke test
  examples/api/lib/material/color_scheme/dynamic_content_color.0.dart
Labels: framework, d: api docs, d: examples, autosubmit

#144710 Roll Flutter Engine from 20037e385bda to 44405aedba13 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144703 Bring back firebase tests to prod
  .ci.yaml
Labels: autosubmit

#144714 Roll Flutter Engine from 44405aedba13 to 5bbac1a5c576 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#144682 Use wasm-compatible conditional import in timeline.dart, avoid emitting timeline events in SchedulerBinding
  packages/flutter/lib/src/foundation/timeline.dart
  packages/flutter/lib/src/scheduler/binding.dart
Labels: framework

#142735 Run macOS test on `dev/integration_tests/ui`
  dev/devicelab/lib/tasks/run_tests.dart
Labels: autosubmit

#144724 Roll Flutter Engine from 5bbac1a5c576 to 31bbe61dfa0d (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144732 Roll Flutter Engine from 31bbe61dfa0d to b2adf7471d3d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144735 Roll Flutter Engine from b2adf7471d3d to 53ddbdfc24e5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144741 Roll Flutter Engine from 53ddbdfc24e5 to 4f6ea31d1f25 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144691 Fix memory leak in `editable_gesture_test.dart`
  packages/flutter/test/rendering/editable_gesture_test.dart
Labels: framework, a: leak tracking

#144743 Roll Flutter Engine from 4f6ea31d1f25 to 8a859c5b3a2d (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144746 Roll Flutter Engine from 8a859c5b3a2d to 03ebd6460b83 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144747 Roll Flutter Engine from 03ebd6460b83 to 6c1751bd774e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143847 [flutter_test] Change KeyEventSimulator default transit mode
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/services/raw_keyboard_test.dart
  packages/flutter_test/lib/src/event_simulation.dart
  packages/flutter_test/test/event_simulation_test.dart
Labels: a: tests, a: text input, framework, f: material design, f: cupertino, autosubmit

#144756 Roll Flutter Engine from 6c1751bd774e to 0246484d2bae (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144765 Roll Flutter Engine from 0246484d2bae to 40a42796b129 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144766 Roll Flutter Engine from 40a42796b129 to f8c3b2db8cd1 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144688 Fix frameworks added to bundle multiple times instead of lipo
  packages/flutter_tools/lib/src/isolated/native_assets/ios/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
  packages/flutter_tools/test/general.shard/isolated/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
Labels: tool, a: desktop, autosubmit

#144772 Roll Packages from 9b88dbc53992 to 6701c9e61804 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#143579 [flutter_test] Use defaultTargetPlatform for key events simulation
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/event_simulation.dart
  packages/flutter_test/test/event_simulation_test.dart
Labels: a: tests, framework, autosubmit

#144775 Roll Flutter Engine from f8c3b2db8cd1 to 12828950890a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#140122 [flutter_tools] add custom tool analysis to analyze.dart, lint Future.catchError
  dev/bots/analyze.dart
  dev/bots/custom_rules/analyze.dart
  dev/bots/custom_rules/avoid_future_catcherror.dart
  dev/bots/custom_rules/no_double_clamp.dart
  dev/bots/utils.dart
  packages/flutter_tools/lib/src/daemon.dart
Labels: tool, autosubmit

#144784 Roll Flutter Engine from 12828950890a to 9e8ccaa3842e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144792 Roll Flutter Engine from 9e8ccaa3842e to c2863530ce39 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#140566 Fixed -> DropdownMenu throws exception when it is in any scrollable l…
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#144715 [flutter_releases] Flutter stable 3.19.3 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine, autosubmit

#144793 Roll Flutter Engine from c2863530ce39 to 305333c50191 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144797 Roll Flutter Engine from 305333c50191 to ec4f9af3d53b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144214 refactor: Remove `throwOnPluginPubspecError` flag for plugin validation
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
Labels: tool, autosubmit

#144799 Roll Flutter Engine from ec4f9af3d53b to 175069397a40 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#144734 Enable asset transformation for `flutter run -d <browser>` and `flutter test`
  packages/flutter_tools/lib/src/bundle_builder.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/bundle_builder_test.dart
Labels: tool, autosubmit

#144804 Roll Flutter Engine from 175069397a40 to 80cd7981043f (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144697 Update documentation of `AlertDialog`'s default `TextStyle` for Material 3
  packages/flutter/lib/src/material/dialog.dart
Labels: framework, f: material design, autosubmit

#144813 Roll Flutter Engine from 80cd7981043f to bbb1ed00af49 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144763 Remove `toString()` overrides in `dart:ui`/`package:flutter` in profile/release mode on wasm/vm targets
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
  packages/flutter_tools/test/general.shard/compile_test.dart
Labels: tool

#144831 Roll Packages from 6701c9e61804 to 0badb4356021 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#144817 Roll Flutter Engine from bbb1ed00af49 to bc4abcda6357 (2 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#134790 Fixes the transition builder changing the Cupertino transition on Android.
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
Labels: framework, f: material design, autosubmit

#144839 Roll Flutter Engine from bc4abcda6357 to 05fdf947f81b (9 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143176 Rename isAvailableForEnvironment to isForEnvironment
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/comparator_selection_test.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, framework, autosubmit

#144844 Roll Flutter Engine from 05fdf947f81b to e099277ce061 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144849 Roll Flutter Engine from e099277ce061 to 953927eae78b (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144827 Replace dead links
  packages/flutter/lib/src/cupertino/activity_indicator.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/slider.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/widgets/bottom_navigation_bar_item.dart
  packages/flutter/test/material/typography_test.dart
Labels: framework, f: material design, f: cupertino, f: routes, autosubmit

#144845 Upgrade vm_service.
  dev/a11y_assessments/pubspec.yaml
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/new_gallery/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/spell_check/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/wide_gamut_test/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: a: tests, tool, framework, a: internationalization, d: api docs, d: examples, platform-web, f: integration_test

#144862 Roll Flutter Engine from 953927eae78b to 7541e902f1b4 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#144863 Roll Flutter Engine from 7541e902f1b4 to 79536627661a (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144864 Roll Flutter Engine from 79536627661a to c3b70321be79 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144865 Roll Flutter Engine from c3b70321be79 to e79a72d362a7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144866 Roll Flutter Engine from e79a72d362a7 to d4e3d964dc8a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144870 Roll Flutter Engine from d4e3d964dc8a to 196132ffe2f8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143680 Fix multiple calls to Slider's onChanged.
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/test/material/slider_test.dart
Labels: framework, f: material design, autosubmit

#144875 Roll Flutter Engine from 196132ffe2f8 to 6f7fdc533490 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144876 Roll Flutter Engine from 6f7fdc533490 to fc06f5a99377 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144884 Roll Flutter Engine from fc06f5a99377 to 958d7cd560d2 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144887 Roll Flutter Engine from 958d7cd560d2 to 49f01510e4e2 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144889 Roll Flutter Engine from 49f01510e4e2 to 51fefde43cb3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144891 Roll Flutter Engine from 51fefde43cb3 to f77664330122 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#144894 Roll Flutter Engine from f77664330122 to 7c2a56a44b41 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144858 Rename isAvailableForEnvironment to isForEnvironment (#143176)
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/comparator_selection_test.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, framework, autosubmit

#144907 Roll Flutter Engine from 7c2a56a44b41 to d13999c0ca79 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#144920 Roll Flutter Engine from d13999c0ca79 to 210f84eb818b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144923 Roll Flutter Engine from 210f84eb818b to 3b0b59bb224d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144931 Roll Packages from 0badb4356021 to d489d84c359b (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#144934 Roll Flutter Engine from 3b0b59bb224d to 9196947bc687 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#144946 Roll Flutter Engine from 9196947bc687 to 6745955bb49e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144752 Expose build mode in environment of asset transformer processes
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/lib/src/build_system/tools/asset_transformer.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/general.shard/build_system/targets/asset_transformer_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
Labels: tool, autosubmit

#144905 Refactoring `if` chains into `switch` statements
  dev/integration_tests/flutter_gallery/lib/demo/material/bottom_navigation_demo.dart
  dev/manual_tests/lib/overlay_geometry.dart
  examples/api/lib/material/bottom_app_bar/bottom_app_bar.2.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/lib/src/gestures/arena.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/test/material/mergeable_material_test.dart
  packages/flutter_test/lib/src/test_text_input_key_handler.dart
  packages/flutter_tools/lib/src/android/android_device_discovery.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/dart/analysis.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/web_test_compiler.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: a: tests, a: text input, tool, framework, f: material design, f: cupertino, d: api docs, d: examples, f: gestures, autosubmit

#144706 Fail tests on exceptions raised after test completed
  dev/automated_tests/test_smoke_test/fail_test_on_exception_after_test.dart
  dev/bots/test.dart
  dev/bots/test/test_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, framework, autosubmit

#144912 Make TabController communicating creation in constructor.
  packages/flutter/lib/src/material/tab_controller.dart
Labels: framework, f: material design, autosubmit

#144847 Update integration tests regexes.
  packages/flutter_tools/test/integration.shard/flutter_build_apk_verbose_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: tool, autosubmit

#144718 Add platform check to `FocusManager` app lifecycle listener
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/test/widgets/focus_manager_test.dart
Labels: framework, f: focus, autosubmit

#144994 Roll Packages from d489d84c359b to d1aeb26e1b43 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#144996 Manual roll Flutter Engine from 6745955bb49e to 6cefbe183546 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144968 Fix typing to unblock pub roll
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: autosubmit

#144888 Write unit tests for API Examples of checkbox.0, checkbox.1
  dev/bots/check_code_samples.dart
  examples/api/test/material/checkbox/checkbox.0_test.dart
  examples/api/test/material/checkbox/checkbox.1_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#144978 add missing `await`s
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/filter_chip_test.dart
  packages/flutter/test/material/input_chip_test.dart
  packages/flutter/test/services/platform_views_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#145002 Manual roll Flutter Engine from 6cefbe183546 to 67713071563e (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#144980 Reland "Fail tests on exceptions raised after test completed (#144706)"
  dev/automated_tests/test_smoke_test/fail_test_on_exception_after_test.dart
  dev/bots/test.dart
  dev/bots/test/test_test.dart
  packages/flutter_test/lib/src/binding.dart
Labels: a: tests, framework, autosubmit

#145006 Manual roll Flutter Engine from 67713071563e to af1fd1724986 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#145005 Manually roll pub packages
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/android/project-app.lockfile
  dev/integration_tests/flutter_gallery/android/project-integration_test.lockfile
  dev/integration_tests/flutter_gallery/android/project-url_launcher_android.lockfile
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/new_gallery/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#145008 Update gold validator to check for regression in flutter-gold check
  packages/flutter/test/widgets/basic_test.dart
Labels: framework, will affect goldens, autosubmit

#145007 Add a microbenchmark for text intrinsic height layout
  dev/benchmarks/microbenchmarks/lib/layout/text_intrinsic_bench.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: a: text input, autosubmit

#145018 Roll Flutter Engine from af1fd1724986 to 9db394dbc007 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#145025 Roll Flutter Engine from 9db394dbc007 to f1db33f48070 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#145024 Revert "Remove unused drone_dimension field"
  .ci.yaml
Labels: autosubmit
