Repository flutter/flutter, pull requests merged in 2024-07, with the labels that each got.

#151082 Roll Flutter Engine from 0d93da7e2fe1 to b57a044ed10f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151115 Fix teardown of a FocusScopeNode in material/app_test
  packages/flutter/test/material/app_test.dart
Labels: framework, f: material design, warning: land on red to fix tree breakage, autosubmit

#151091 Fix missing `[` in docs
  packages/flutter/lib/src/material/date.dart
Labels: framework, f: material design, autosubmit

#151107 Bump dartdoc to 8.0.10
  dev/bots/docs.sh
Labels: autosubmit

#151011 More docimports for animation library
  packages/flutter/lib/animation.dart
Labels: framework, a: animation, autosubmit

#150970 Read AndroidManifest.xml and emit manifest-aar-impeller-(enabled|disabled) analytics
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
Labels: tool, autosubmit

#151127 Roll Flutter Engine from b57a044ed10f to 3456fee1a6b9 (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#149881 [CP] Point kotlin message in `gradle_errors.dart` towards new place
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, autosubmit

#151046 [CP-stable] Upgrade dependency on package:unified_analytics from 5.8.8+1 to 5.8.8+2
  packages/flutter_tools/pubspec.yaml
Labels: tool, autosubmit

#150969 Upgrade template Gradle, App AGP, Module AGP, and Kotlin versions, and tests
  .ci.yaml
  TESTOWNERS
  dev/bots/suite_runners/run_android_java11_integration_tool_tests.dart
  dev/bots/test.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/test/android_java11_integration.shard/android_dependency_version_checking_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_find_bundle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
Labels: tool, autosubmit

#150946 Implementing a few switch statements
  dev/bots/analyze.dart
  dev/tools/localization/bin/gen_date_localizations.dart
  dev/tools/mega_gallery.dart
  packages/flutter/lib/src/painting/box_border.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#151074 [tool] remove some temporary printTrace calls
  dev/integration_tests/flutter_gallery/pubspec.yaml
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
  packages/flutter_tools/test/src/fake_vm_services.dart
Labels: tool, autosubmit

#151150 Roll Flutter Engine from 3456fee1a6b9 to fc5bc14e6091 (8 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#150708 Fix: `CupertinoActionSheet` should take up max height when actions section is short
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, autosubmit

#151155 Roll Flutter Engine from fc5bc14e6091 to d3c5bd66a78f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151156 Roll Flutter Engine from d3c5bd66a78f to 40c087b31515 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#150559 Refactor BuildInfo to always require packageConfigPath
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_aar.dart
  packages/flutter_tools/lib/src/commands/build_appbundle.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_preview.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_kernel_compiler.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_tester_device.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/lib/src/test/web_test_compiler.dart
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/commands.shard/hermetic/flutter_web_platform_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
  packages/flutter_tools/test/general.shard/android/build_validation_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_find_bundle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/build_info_test.dart
  packages/flutter_tools/test/general.shard/bundle_builder_test.dart
  packages/flutter_tools/test/general.shard/cmake_test.dart
  packages/flutter_tools/test/general.shard/commands/build_test.dart
  packages/flutter_tools/test/general.shard/flutter_tester_device_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_start_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_kernel_compiler_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/isolated/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/macos/application_package_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
  packages/flutter_tools/test/general.shard/test/web_test_compiler_test.dart
  packages/flutter_tools/test/general.shard/tester/flutter_tester_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_ddc_modules_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: tool, a: desktop

#151165 Roll Flutter Engine from 40c087b31515 to 433d360eee11 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#151153 [flutter_driver] add allocator mtl to memory event allowlist.
  packages/flutter_driver/lib/src/driver/memory_summarizer.dart
  packages/flutter_driver/test/src/gpu_memory_summarizer_test.dart
Labels: a: tests, framework, autosubmit

#151132 docimports for semantics
  packages/flutter/lib/semantics.dart
  packages/flutter/lib/src/semantics/binding.dart
  packages/flutter/lib/src/semantics/debug.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/semantics/semantics_event.dart
  packages/flutter/lib/src/semantics/semantics_service.dart
Labels: framework, a: accessibility, autosubmit

#151119 Docimports for foundation
  packages/flutter/lib/src/foundation/_bitfield_io.dart
  packages/flutter/lib/src/foundation/_bitfield_web.dart
  packages/flutter/lib/src/foundation/_isolates_io.dart
  packages/flutter/lib/src/foundation/_isolates_web.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/basic_types.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/change_notifier.dart
  packages/flutter/lib/src/foundation/collections.dart
  packages/flutter/lib/src/foundation/constants.dart
  packages/flutter/lib/src/foundation/debug.dart
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/lib/src/foundation/isolates.dart
  packages/flutter/lib/src/foundation/key.dart
  packages/flutter/lib/src/foundation/licenses.dart
  packages/flutter/lib/src/foundation/persistent_hash_map.dart
  packages/flutter/lib/src/foundation/platform.dart
  packages/flutter/lib/src/foundation/print.dart
Labels: framework, autosubmit

#151123 docimports for gestures
  packages/flutter/lib/src/gestures/arena.dart
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/gestures/constants.dart
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/debug.dart
  packages/flutter/lib/src/gestures/drag.dart
  packages/flutter/lib/src/gestures/drag_details.dart
  packages/flutter/lib/src/gestures/eager.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/gesture_settings.dart
  packages/flutter/lib/src/gestures/hit_test.dart
  packages/flutter/lib/src/gestures/long_press.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/gestures/multidrag.dart
  packages/flutter/lib/src/gestures/multitap.dart
  packages/flutter/lib/src/gestures/pointer_signal_resolver.dart
  packages/flutter/lib/src/gestures/recognizer.dart
  packages/flutter/lib/src/gestures/tap.dart
  packages/flutter/lib/src/gestures/tap_and_drag.dart
  packages/flutter/lib/src/gestures/team.dart
Labels: framework, f: gestures, autosubmit

#151149 docimports for cupertino
  packages/flutter/lib/src/cupertino/adaptive_text_selection_toolbar.dart
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/cupertino/bottom_tab_bar.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/cupertino/checkbox.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/constants.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/desktop_text_selection_toolbar.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/form_row.dart
  packages/flutter/lib/src/cupertino/form_section.dart
  packages/flutter/lib/src/cupertino/list_section.dart
  packages/flutter/lib/src/cupertino/list_tile.dart
  packages/flutter/lib/src/cupertino/localizations.dart
  packages/flutter/lib/src/cupertino/magnifier.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/page_scaffold.dart
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/lib/src/cupertino/radio.dart
  packages/flutter/lib/src/cupertino/refresh.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/scrollbar.dart
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/lib/src/cupertino/spell_check_suggestions_toolbar.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/lib/src/cupertino/thumb_painter.dart
Labels: a: text input, framework, f: scrolling, f: cupertino, f: routes, autosubmit

#151125 docimports for physics
  packages/flutter/lib/src/physics/gravity_simulation.dart
  packages/flutter/lib/src/physics/spring_simulation.dart
Labels: framework, autosubmit

#150276 `dismissible.dart` code cleanup
  packages/flutter/lib/src/widgets/dismissible.dart
Labels: framework, autosubmit

#151126 docimports for scheduler
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/lib/src/scheduler/debug.dart
  packages/flutter/lib/src/scheduler/priority.dart
  packages/flutter/lib/src/scheduler/ticker.dart
Labels: framework, autosubmit

#151143 docimports for painting
  packages/flutter/lib/src/painting/alignment.dart
  packages/flutter/lib/src/painting/basic_types.dart
  packages/flutter/lib/src/painting/beveled_rectangle_border.dart
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/lib/src/painting/border_radius.dart
  packages/flutter/lib/src/painting/borders.dart
  packages/flutter/lib/src/painting/box_border.dart
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/lib/src/painting/box_fit.dart
  packages/flutter/lib/src/painting/box_shadow.dart
  packages/flutter/lib/src/painting/circle_border.dart
  packages/flutter/lib/src/painting/clip.dart
  packages/flutter/lib/src/painting/colors.dart
  packages/flutter/lib/src/painting/continuous_rectangle_border.dart
  packages/flutter/lib/src/painting/debug.dart
  packages/flutter/lib/src/painting/decoration.dart
  packages/flutter/lib/src/painting/decoration_image.dart
  packages/flutter/lib/src/painting/edge_insets.dart
  packages/flutter/lib/src/painting/flutter_logo.dart
  packages/flutter/lib/src/painting/geometry.dart
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/lib/src/painting/image_cache.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/painting/image_resolution.dart
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/lib/src/painting/inline_span.dart
  packages/flutter/lib/src/painting/linear_border.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/painting/notched_shapes.dart
  packages/flutter/lib/src/painting/oval_border.dart
  packages/flutter/lib/src/painting/placeholder_span.dart
  packages/flutter/lib/src/painting/rounded_rectangle_border.dart
  packages/flutter/lib/src/painting/shader_warm_up.dart
  packages/flutter/lib/src/painting/shape_decoration.dart
  packages/flutter/lib/src/painting/stadium_border.dart
  packages/flutter/lib/src/painting/star_border.dart
  packages/flutter/lib/src/painting/strut_style.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/lib/src/painting/text_span.dart
  packages/flutter/lib/src/painting/text_style.dart
Labels: a: text input, framework, autosubmit

#151169 Roll Packages from 412ec4615aa4 to d2705fb82b26 (13 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#143538 ScrollEndNotification example: auto-scroll based on RenderSliver constraints and geometry
  examples/api/lib/widgets/scroll_end_notification/scroll_end_notification.1.dart
  examples/api/test/widgets/scroll_end_notification/scroll_end_notification.1_test.dart
  packages/flutter/lib/src/widgets/scroll_notification.dart
Labels: c: new feature, framework, f: scrolling, d: api docs, d: examples, autosubmit

#151073 Use `ErrorHandlingFileSystem.deleteIfExists` when deleting .plugin_symlinks
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: tool, autosubmit

#151186 Roll Flutter Engine from 433d360eee11 to 44278941443e (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151183 [tool] Fix `stdin.flush` calls on processes started by `FakeProcessManager`
  packages/flutter_tools/test/general.shard/fake_process_manager_test.dart
  packages/flutter_tools/test/src/fake_process_manager.dart
Labels: tool, autosubmit

#151192 Fix typo
  packages/flutter/lib/src/animation/animation.dart
Labels: framework, a: animation, autosubmit

#151170 [flutter_tools] Update the mapping for the Dart SDK internal URI
  packages/flutter_tools/lib/src/debug_adapters/flutter_base_adapter.dart
  packages/flutter_tools/test/general.shard/dap/flutter_adapter_test.dart
  packages/flutter_tools/test/integration.shard/debug_adapter/flutter_adapter_test.dart
  packages/flutter_tools/test/integration.shard/debug_adapter/test_client.dart
Labels: tool, autosubmit

#145848 Interactable ScrollView content when settling a scroll activity
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/scroll_position_with_single_context.dart
  packages/flutter/test/widgets/list_view_test.dart
  packages/flutter/test/widgets/nested_scroll_view_test.dart
Labels: a: text input, framework, f: scrolling, autosubmit

#151189 docImports for flutter_test
  packages/flutter_test/lib/flutter_test.dart
  packages/flutter_test/lib/src/_binding_io.dart
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/lib/src/_goldens_web.dart
  packages/flutter_test/lib/src/_matchers_io.dart
  packages/flutter_test/lib/src/_matchers_web.dart
  packages/flutter_test/lib/src/accessibility.dart
  packages/flutter_test/lib/src/animation_sheet.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/deprecated.dart
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_test/lib/src/image.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/lib/src/mock_canvas.dart
  packages/flutter_test/lib/src/platform.dart
  packages/flutter_test/lib/src/recording_canvas.dart
  packages/flutter_test/lib/src/restoration.dart
  packages/flutter_test/lib/src/stack_manipulation.dart
  packages/flutter_test/lib/src/test_async_utils.dart
  packages/flutter_test/lib/src/test_compat.dart
  packages/flutter_test/lib/src/test_pointer.dart
  packages/flutter_test/lib/src/test_text_input.dart
  packages/flutter_test/lib/src/test_vsync.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_test/lib/src/window.dart
Labels: a: tests, a: text input, framework, a: animation, a: accessibility, autosubmit

#149825 Fix result propagation in RenderSliverEdgeInsetsPadding.hitTestChildren
  packages/flutter/lib/src/rendering/sliver_padding.dart
  packages/flutter/test/widgets/slivers_padding_test.dart
Labels: framework, f: scrolling, autosubmit

#151168 Fix scheduler event loop being stuck due to task with Priority.idle
  packages/flutter/lib/src/scheduler/binding.dart
  packages/flutter/test/scheduler/scheduler_test.dart
Labels: framework, autosubmit

#151208 Roll Flutter Engine from 44278941443e to c5c0c54d6d1d (9 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151226 Roll Flutter Engine from a02e3f673da3 to 8274f54f11be (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151197 Handle a SocketException thrown when sending the browser close command to Chrome
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/web.shard/chrome_test.dart
Labels: tool, autosubmit

#151003 Force regeneration of platform-specific manifests before running performance tests
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#151241 Roll Flutter Engine from a3e61c0fd1c2 to 4190543cb093 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#150614 Fix project name fallback
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, autosubmit

#150422 Add example of goldenFileComparator usage in widget tests
  packages/flutter_test/lib/src/goldens.dart
Labels: a: tests, framework, autosubmit

#150402 chore: fix typos and link broken
  docs/releases/archive/Release-Notes---Changes-in-1.2.1.md
  examples/api/lib/widgets/scroll_end_notification/scroll_end_notification.0.dart
  packages/flutter_tools/lib/src/debug_adapters/README.md
  packages/integration_test/android/src/main/java/dev/flutter/plugins/integration_test/FlutterTestRunner.java
Labels: a: tests, tool, framework, f: scrolling, d: api docs, d: examples, f: integration_test, autosubmit, team-release, d: docs/

#148938 content dimensions are not established get controller value error
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/test/widgets/page_view_test.dart
Labels: framework, autosubmit

#151235 Fix link in tree hygene doc
  docs/contributing/Tree-hygiene.md
Labels: team, framework, autosubmit, d: docs/

#151204 Fix references in examples
  examples/api/lib/material/carousel/carousel.0.dart
  examples/api/lib/material/choice_chip/choice_chip.0.dart
  examples/api/lib/widgets/animated_grid/animated_grid.0.dart
  examples/api/lib/widgets/animated_list/animated_list.0.dart
  examples/api/lib/widgets/binding/widget_binding_observer.0.dart
  examples/api/lib/widgets/editable_text/editable_text.on_content_inserted.0.dart
  examples/api/lib/widgets/scroll_position/is_scrolling_listener.0.dart
Labels: a: text input, framework, f: scrolling, d: api docs, d: examples, autosubmit

#150670 Feat: Add withOpacity to gradient
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/test/painting/gradient_test.dart
Labels: framework, autosubmit

#151254 Remove warning when KGP version not detected
  packages/flutter_tools/gradle/src/main/kotlin/dependency_version_checker.gradle.kts
Labels: tool, autosubmit

#151145 SliverFloatingHeader
  examples/api/lib/widgets/sliver/sliver_floating_header.0.dart
  examples/api/test/widgets/sliver/sliver_floating_header.0_test.dart
  packages/flutter/lib/src/widgets/focus_manager.dart
  packages/flutter/lib/src/widgets/pinned_header_sliver.dart
  packages/flutter/lib/src/widgets/sliver_floating_header.dart
  packages/flutter/lib/src/widgets/sliver_resizing_header.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/sliver_floating_header_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, f: focus, autosubmit

#151257 Update deprecation policy
  docs/contributing/Tree-hygiene.md
Labels: team, framework, autosubmit, d: docs/

#151205 PinnedHeaderSliver example based on the iOS Settings AppBar
  examples/api/lib/widgets/sliver/pinned_header_sliver.1.dart
  examples/api/test/widgets/sliver/pinned_header_sliver.1_test.dart
  packages/flutter/lib/src/widgets/pinned_header_sliver.dart
Labels: framework, f: scrolling, d: api docs, d: examples, autosubmit

#150583 Add a message about spam/brigading
  docs/contributing/issue_hygiene/README.md
Labels: team, framework, autosubmit, d: docs/

#151261 Prepares semantics_update_test for upcoming link URL change
  packages/flutter/test/semantics/semantics_update_test.dart
Labels: framework, a: accessibility, autosubmit

#149102 Cupertino transparent navigation bars
  examples/api/lib/cupertino/nav_bar/cupertino_navigation_bar.0.dart
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/page_scaffold.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
Labels: framework, f: cupertino, d: api docs, d: examples, will affect goldens, autosubmit

#150999 Fix invalid URL suggestion for gradle incompatability
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, autosubmit

#151293 Roll Flutter Engine from 4190543cb093 to 8e2d05fa95d7 (13 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#151299 Roll Flutter Engine from 8e2d05fa95d7 to 2b6bb516e7e6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151314 Roll Flutter Engine from 2b6bb516e7e6 to 79a91e38c587 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151315 Roll Packages from d2705fb82b26 to 754de1918a33 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#151318 Roll Flutter Engine from 79a91e38c587 to 3c6a373bda3e (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#151326 Roll Flutter Engine from 3c6a373bda3e to 1f0f950ea02a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151340 Roll Flutter Engine from ba9c7b6336ef to 74d40c160e48 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151350 Roll Packages from 754de1918a33 to 97bad7ecf569 (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#151279 de-duplicate code in analyze.dart
  dev/bots/analyze.dart
  dev/bots/custom_rules/analyze.dart
Labels: autosubmit

#151064 Add tests for color_filtered.0.dart example.
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/color_filter/color_filtered.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#151352 Roll Flutter Engine from 4ee09d3b7f3b to e6b09697df1a (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151362 Roll Flutter Engine from e6b09697df1a to d1ebc5fde630 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151377 Roll Flutter Engine from d1ebc5fde630 to 3600ec613a00 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#151378 Roll Flutter Engine from 3600ec613a00 to 5ca3b856ee5a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151387 Roll Flutter Engine from 5ca3b856ee5a to ca79a56a66d7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#150606 Add tests for action_listener.0.dart
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/actions/action_listener.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#151393 Roll Flutter Engine from ca79a56a66d7 to 69075e7e87d4 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151089 Add tests for material_state_border_side.0_test.dart
  dev/bots/check_code_samples.dart
  examples/api/test/material/material_state/material_state_border_side.0_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#149597 [Reland] - Enable `explicitChildNodes` for the `AlertDialog` content
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: framework, f: material design

#151390 Update doc-import to primary configured import, _goldens_io.dart
  packages/flutter_test/lib/src/goldens.dart
Labels: a: tests, framework

#151417 Roll Packages from 97bad7ecf569 to 14341d1800f4 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#151374 Factor out deprecated names in example code
  examples/api/lib/material/checkbox/checkbox.0.dart
  examples/api/lib/material/data_table/data_table.1.dart
  examples/api/lib/material/date_picker/date_picker_theme_day_shape.0.dart
  examples/api/lib/material/input_decorator/input_decoration.floating_label_style_error.0.dart
  examples/api/lib/material/input_decorator/input_decoration.label_style_error.0.dart
  examples/api/lib/material/list_tile/list_tile.3.dart
  examples/api/lib/material/navigation_bar/navigation_bar.2.dart
  examples/api/lib/material/search_anchor/search_bar.0.dart
  examples/api/lib/material/switch/switch.1.dart
  examples/api/lib/material/switch/switch.2.dart
  examples/api/lib/material/switch/switch.4.dart
  examples/api/lib/material/text_button/text_button.0.dart
  examples/api/lib/material/text_button/text_button.1.dart
  examples/api/lib/painting/axis_direction/axis_direction.0.dart
  examples/api/lib/painting/linear_border/linear_border.0.dart
  examples/api/lib/rendering/growth_direction/growth_direction.0.dart
  examples/api/lib/rendering/scroll_direction/scroll_direction.0.dart
  examples/api/lib/widgets/actions/actions.0.dart
  examples/api/lib/widgets/focus_traversal/focus_traversal_group.0.dart
  examples/api/lib/widgets/sliver/pinned_header_sliver.0.dart
  examples/api/lib/widgets/sliver/sliver_floating_header.0.dart
  examples/api/lib/widgets/sliver/sliver_resizing_header.0.dart
Labels: a: text input, framework, f: scrolling, d: api docs, d: examples, f: focus, autosubmit

#151289 Added SliverFloatingHeader.snapMode
  packages/flutter/lib/src/widgets/sliver_floating_header.dart
  packages/flutter/test/widgets/sliver_floating_header_test.dart
Labels: framework, f: scrolling, autosubmit

#150990 Re-enable `SemanticsAction.focus` matchers
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/checkbox_test.dart
  packages/flutter/test/cupertino/radio_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/drawer_button_test.dart
  packages/flutter/test/material/input_date_picker_form_field_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter_test/lib/src/matchers.dart
Labels: a: tests, a: text input, framework, f: material design, a: accessibility, f: cupertino, autosubmit

#150991 [ios]A typical news app benchmark with bottom ad banner
  .ci.yaml
  TESTOWNERS
  dev/benchmarks/platform_views_layout/lib/main_bottom_ad_banner.dart
  dev/benchmarks/platform_views_layout/test_driver/scroll_perf_bottom_ad_banner_test.dart
  dev/benchmarks/platform_views_layout/test_driver/uikit_view_scroll_perf_bottom_ad_banner.dart
  dev/devicelab/bin/tasks/platform_views_scroll_perf_bottom_ad_banner__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: f: scrolling, a: platform-views, autosubmit

#151376 `MaterialState` → `WidgetState` in documentation
  packages/flutter/lib/src/material/app_bar.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/button_theme.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/lib/src/material/checkbox_theme.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/chip_theme.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/elevated_button_theme.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/filled_button_theme.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/icon_button_theme.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/material_button.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/material/menu_bar_theme.dart
  packages/flutter/lib/src/material/menu_button_theme.dart
  packages/flutter/lib/src/material/menu_style.dart
  packages/flutter/lib/src/material/menu_theme.dart
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/lib/src/material/navigation_drawer.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/outlined_button_theme.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/lib/src/material/radio_theme.dart
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/scrollbar_theme.dart
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/lib/src/material/segmented_button_theme.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/material/text_button_theme.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/time_picker_theme.dart
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
Labels: a: text input, framework, f: material design, f: scrolling, autosubmit

#151356 Update `DataTable` documentation
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
Labels: framework, f: material design, autosubmit

#150430 Make `FittedBox` not throw when child has zero size.
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/test/rendering/box_constraints_test.dart
  packages/flutter/test/widgets/fitted_box_test.dart
Labels: framework, autosubmit

#151357 [tool] make `testUsingContext` provide a `Stdio` (with `hasTerminal` unset) override by default
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: a: text input, tool, autosubmit

#151403 [deps] Roll dart-lang/native packages
  dev/integration_tests/link_hook/hook/build.dart
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/isolated/native_assets/ios/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/hook/build.dart.tmpl
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
Labels: tool, a: desktop, autosubmit

#150440 Write the package config location to the test bootstrap.
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
Labels: tool

#151359 [tool] Remove some usages of deprecated usage package
  dev/bots/analyze.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/base/analyze_size.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_linux.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/commands/build_windows.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/remove_framework_link_and_embedding_migration.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_find_bundle_test.dart
  packages/flutter_tools/test/general.shard/base/analyze_size_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
Labels: a: text input, platform-ios, tool, autosubmit

#151400 Fix Material 3 `Dialog` default background color
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/material/dialog_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#151482 Roll Flutter Engine from 69075e7e87d4 to 4a2ac0e51a8f (21 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#151481 Link engine docs on AS setup in flutter/flutter docs on engine contributor setup
  docs/engine/contributing/Setting-up-the-Engine-development-environment.md
Labels: engine, autosubmit, team-engine, d: docs/

#151488 Roll Flutter Engine from 4a2ac0e51a8f to d3269d5855a7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#150639 Add Semantics Property `linkUrl`
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, a: accessibility, autosubmit

#150669 testAdd tests for stepper.controls_builder.0.dart
  dev/bots/check_code_samples.dart
  examples/api/test/material/stepper/stepper.controls_builder.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#151131 Clean up leaky test.
  packages/flutter/test/widgets/draggable_test.dart
Labels: framework

#149915 Update doc of `SemanticsProperties.identifier`
  packages/flutter/lib/src/semantics/semantics.dart
Labels: framework, a: accessibility, autosubmit

#151495 Roll Flutter Engine from d3269d5855a7 to 9d943eb2b37a (5 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#151505 Roll Flutter Engine from 9d943eb2b37a to 371db85f33d7 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#151421 fix heading level absorption, diagnostics; add tests and an a11y use-case
  dev/a11y_assessments/web/flutter_bootstrap.js
  dev/a11y_assessments/web/index.html
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter/test/widgets/text_test.dart
Labels: a: text input, framework, a: accessibility, autosubmit

#151522 Roll Flutter Engine from 371db85f33d7 to db2b45bea2c0 (8 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151175 Add docImports for flutter_test references
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter/lib/src/foundation/binding.dart
  packages/flutter/lib/src/foundation/platform.dart
Labels: framework, a: animation, autosubmit

#151550 Roll Flutter Engine from db2b45bea2c0 to 1c23c8f64076 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151199 [CupertinoActionSheet] Fix padding and font size of buttons
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#151556 Roll Packages from 14341d1800f4 to ea35fc6fb86a (16 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#151433 Reland "Upgrade template Gradle, App AGP, Module AGP, and Kotlin versions, and tests"... but no longer upgrade module AGP version
  .ci.yaml
  TESTOWNERS
  dev/bots/suite_runners/run_android_java11_integration_tool_tests.dart
  dev/bots/test.dart
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/test/android_java11_integration.shard/android_dependency_version_checking_test.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_find_bundle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_test.dart
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
Labels: tool, autosubmit

#151548 doc imports for enum values
  packages/flutter/lib/painting.dart
  packages/flutter/lib/rendering.dart
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/foundation/_bitfield_io.dart
  packages/flutter/lib/src/foundation/_bitfield_web.dart
  packages/flutter/lib/src/foundation/service_extensions.dart
  packages/flutter/lib/src/painting/image_decoder.dart
  packages/flutter/lib/src/painting/text_style.dart
  packages/flutter/lib/src/scheduler/service_extensions.dart
  packages/flutter/lib/src/services/service_extensions.dart
  packages/flutter/test/painting/no_op_codec.dart
  packages/flutter/test/widgets/shortcuts_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#151494 Use correct locale for `CupertinoDatePicker` weekday
  dev/tools/localization/gen_cupertino_localizations.dart
  packages/flutter/lib/src/cupertino/localizations.dart
  packages/flutter_localizations/lib/src/cupertino_localizations.dart
  packages/flutter_localizations/lib/src/l10n/generated_cupertino_localizations.dart
  packages/flutter_localizations/test/cupertino/translations_test.dart
Labels: framework, a: internationalization, f: cupertino, autosubmit

#151572 Roll Flutter Engine from 1c23c8f64076 to 6534fbf3c2c1 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151577 Roll Flutter Engine from 6534fbf3c2c1 to 36dccf7bb25c (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#151233 Add `TimeOfDay` comparison methods
  packages/flutter/lib/src/material/time.dart
  packages/flutter/test/material/time_test.dart
Labels: framework, f: material design, autosubmit

#151267 docimports for flutter_driver
  packages/flutter_driver/lib/driver_extension.dart
  packages/flutter_driver/lib/src/common/deserialization_factory.dart
  packages/flutter_driver/lib/src/common/diagnostics_tree.dart
  packages/flutter_driver/lib/src/common/find.dart
  packages/flutter_driver/lib/src/common/gesture.dart
  packages/flutter_driver/lib/src/common/handler_factory.dart
  packages/flutter_driver/lib/src/common/health.dart
  packages/flutter_driver/lib/src/common/layer_tree.dart
  packages/flutter_driver/lib/src/common/message.dart
  packages/flutter_driver/lib/src/common/render_tree.dart
  packages/flutter_driver/lib/src/common/wait.dart
  packages/flutter_driver/lib/src/driver/driver.dart
  packages/flutter_driver/lib/src/driver/frame_request_pending_latency_summarizer.dart
  packages/flutter_driver/lib/src/driver/gc_summarizer.dart
  packages/flutter_driver/lib/src/driver/profiling_summarizer.dart
  packages/flutter_driver/lib/src/driver/raster_cache_summarizer.dart
  packages/flutter_driver/lib/src/driver/refresh_rate_summarizer.dart
  packages/flutter_driver/lib/src/driver/scene_display_lag_summarizer.dart
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
  packages/flutter_driver/lib/src/driver/vsync_frame_lag_summarizer.dart
  packages/flutter_driver/lib/src/extension/_extension_io.dart
  packages/flutter_driver/lib/src/extension/_extension_web.dart
  packages/flutter_driver/lib/src/extension/extension.dart
  packages/flutter_driver/lib/src/extension/wait_conditions.dart
Labels: a: tests, framework, autosubmit

#150896 expose keyboardType in DropdownMenu #150894
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#137040 feat: Support overriding native endorsed plugins
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: tool, autosubmit

#151272 Replaced {@tool snippet} with {@tool dartpad} in CupertinoTabController
  packages/flutter/lib/src/cupertino/tab_scaffold.dart
Labels: framework, f: cupertino, autosubmit

#151294 Fix: Submenu anchor misaligned with child panel in web (Resolved #151081)
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
  packages/flutter/test/material/menu_style_test.dart
Labels: framework, f: material design, autosubmit

#151565 Re-enable debug canvaskit e2e tests.
  dev/bots/suite_runners/run_web_tests.dart
Labels: autosubmit

#151271 docimports for flutter_goldens, flutter_localizations, flutter_web_plugins, fuchsia_remote_debug_protocol, integration_test
  packages/flutter/test/rendering/rendering_tester.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/lib/skia_client.dart
  packages/flutter_goldens/test/json_templates.dart
  packages/flutter_localizations/lib/src/cupertino_localizations.dart
  packages/flutter_localizations/lib/src/material_localizations.dart
  packages/flutter_localizations/lib/src/widgets_localizations.dart
  packages/flutter_web_plugins/lib/flutter_web_plugins.dart
  packages/fuchsia_remote_debug_protocol/lib/src/dart/dart_vm.dart
  packages/integration_test/lib/common.dart
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/test/binding_fail_test.dart
Labels: a: tests, tool, framework, f: material design, a: internationalization, f: cupertino, platform-web, f: integration_test, autosubmit

#151606 docimports for API samples
  examples/api/lib/material/expansion_panel/expansion_panel_list.expansion_panel_list_radio.0.dart
  examples/api/lib/material/reorderable_list/reorderable_list_view.reorderable_list_view_builder.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_alternative.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_alternative_fractions.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_case_sensitive_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_character_variant.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_contextual_alternates.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_denominator.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_fractions.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_historical_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_historical_ligatures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_lining_figures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_locale_aware.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_notational_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_numerators.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_oldstyle_figures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_ordinal_forms.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_proportional_figures.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_scientific_inferiors.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_slashed_zero.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_stylistic_alternates.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_stylistic_set.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_stylistic_set.1.dart
  examples/api/lib/ui/text/font_feature.font_feature_subscripts.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_superscripts.0.dart
  examples/api/lib/ui/text/font_feature.font_feature_swash.0.dart
  examples/api/lib/widgets/actions/action.action_overridable.0.dart
Labels: a: text input, framework, d: api docs, d: examples, autosubmit

#151489 Add link to design document archive
  docs/contributing/Design-Documents.md
Labels: team, framework, autosubmit, d: docs/

#151612 Unmark java11 tests as bringup:true
  .ci.yaml
Labels: autosubmit

#149465 Roll `Switch.adaptive` changes into `CupertinoSwitch`
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/lib/src/cupertino/thumb_painter.dart
  packages/flutter/test/cupertino/switch_test.dart
Labels: framework, f: cupertino, autosubmit

#151534 [native_assets] Stop running link hooks in JIT mode
  dev/integration_tests/link_hook/hook/build.dart
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/isolated/native_assets/android/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/ios/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/test/general.shard/isolated/android/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
  packages/flutter_tools/test/general.shard/isolated/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/linux/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/windows/native_assets_test.dart
Labels: tool, a: desktop, autosubmit

#151603 Remove workaround for a bug in dart2wasm
  packages/flutter/lib/src/widgets/focus_manager.dart
Labels: framework, f: focus

#150868 Fix `TabBar` tab indicator stretch effect
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, autosubmit

#151651 Update obsolete comment in InputDecorator test
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, autosubmit

#151399 Add test for menu_anchor.2.dart
  dev/bots/check_code_samples.dart
  examples/api/test/material/menu_anchor/menu_anchor.2_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#151605 [macOS] support secure restorable state by default
  dev/a11y_assessments/macos/Runner/AppDelegate.swift
  dev/benchmarks/complex_layout/macos/Runner/AppDelegate.swift
  dev/benchmarks/macrobenchmarks/macos/Runner/AppDelegate.swift
  dev/integration_tests/channels/macos/Runner/AppDelegate.swift
  dev/integration_tests/flavors/macos/Runner/AppDelegate.swift
  dev/integration_tests/flutter_gallery/macos/Runner/AppDelegate.swift
  dev/integration_tests/ui/macos/Runner/AppDelegate.swift
  dev/manual_tests/macos/Runner/AppDelegate.swift
  examples/api/macos/Runner/AppDelegate.swift
  examples/flutter_view/macos/Runner/AppDelegate.swift
  examples/hello_world/macos/Runner/AppDelegate.swift
  examples/image_list/macos/Runner/AppDelegate.swift
  examples/layers/macos/Runner/AppDelegate.swift
  examples/platform_channel/macos/Runner/AppDelegate.swift
  examples/platform_view/macos/Runner/AppDelegate.swift
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/migrations/secure_restorable_state_migration.dart
  packages/flutter_tools/templates/app_shared/macos.tmpl/Runner/AppDelegate.swift
  packages/flutter_tools/test/general.shard/macos/macos_project_migration_test.dart
Labels: tool, framework, d: api docs, d: examples, a: desktop

#151636 [native_assets] Don't auto-roll deps
  packages/flutter_tools/lib/src/update_packages_pins.dart
Labels: tool, autosubmit

#151674 Roll Flutter Engine from 36dccf7bb25c to 6b36113c4ab7 (22 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, will affect goldens, autosubmit

#151678 Roll Flutter Engine from 6b36113c4ab7 to 63dd50788d4a (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151690 Roll Flutter Engine from 63dd50788d4a to 1554a0d9b388 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151692 Roll Flutter Engine from 1554a0d9b388 to b555f8fea7b8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151698 Roll Flutter Engine from b555f8fea7b8 to d4df5638e5df (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151662 [native_assets] Roll deps
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
Labels: tool, autosubmit

#151700 Roll Flutter Engine from d4df5638e5df to 18e22f824c79 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151643 Emit source maps for wasm in `flutter build web --wasm`
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/web/compiler_config.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: tool

#151704 Roll Flutter Engine from 18e22f824c79 to b531a5ae27fc (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151723 Roll Flutter Engine from b531a5ae27fc to 450d2ec7bbdf (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151728 Roll Flutter Engine from 450d2ec7bbdf to a921637f16f6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149594 Fix `Slider` thumb doesn't align with divisions, thumb padding, and rounded corners
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/inherited_theme_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#151722 tool/build/web: move source-maps CLI flag to "general" web section
  packages/flutter_tools/lib/src/commands/build_web.dart
Labels: tool, autosubmit

#151759 Roll Packages from 3379e51a042a to 4a4e63e43f42 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#151617 Remove bringup from platform_views_scroll_perf_bottom_ad_banner__timeline_summary
  .ci.yaml
Labels: autosubmit

#151762 Roll Flutter Engine from 54f0879a6d88 to 8440bbe9028a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#151773 Retry plugin_test_ios in presubmit
  .ci.yaml
Labels: autosubmit

#151783 Roll Flutter Engine from 8440bbe9028a to cd78d213fcc8 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151386 Add support for inverting CircularNotchedRectangle to optionally be drawn on the bottom of a path
  packages/flutter/lib/src/painting/notched_shapes.dart
  packages/flutter/test/painting/notched_shapes_test.dart
Labels: framework, autosubmit

#151790 Roll Flutter Engine from cd78d213fcc8 to f1363fb7c2da (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit
