Repository flutter/flutter, pull requests merged in 2024-12, with the labels that each got.

#159676 Roll Flutter Engine from d7be573a5ee5 to 1f6312df6d75 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#159508 iPad Scribble flicker and crash
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_scribble_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework

#159424 [ Tool ] Fix "Error: Unable to find git in your PATH" when Command Processor `AutoRun` registry key is defined
  bin/internal/shared.bat
Labels: autosubmit

#158302 Fix output path for --appSizeBase
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/integration.shard/analyze_size_test.dart
Labels: tool, a: desktop

#159694 Roll Flutter Engine from e0900f83a0c8 to 05fdaa6edc12 (9 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159517 Ignore exhaustiveness check for some semantics tests, for now
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: framework, a: accessibility, autosubmit

#156313 doc/improve-hint-text-doc
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, framework, autosubmit, workaround available, team-text-input

#159702 Roll Flutter Engine from 05fdaa6edc12 to 5001e2a490db (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159706 Roll Flutter Engine from 5001e2a490db to 349ad277b574 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159708 Roll Flutter Engine from 349ad277b574 to 089071a726d5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159665 Fix DropdownMenu menu is detached from the text field
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#159713 Roll Flutter Engine from 089071a726d5 to f9d4f744e088 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159715 Make native asset tests more robust against flutter upgrading its pinned dependencies
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test_utils.dart
Labels: tool

#159502 [SwiftPM] Rename `SWIFT_PACKAGE_MANAGER` environment variable to `FLUTTER_SWIFT_PACKAGE_MANAGER`
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/test/general.shard/features_test.dart
Labels: tool, autosubmit

#159303 remove unnecessary semicolon in module_plugin_loader.radle
  packages/flutter_tools/gradle/module_plugin_loader.gradle
Labels: platform-android, tool, autosubmit

#159398 Fix typo in flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: tool

#159137 fix fialing lint `Consider using 'register' to avoid unnecessary configuration`
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
Labels: platform-android, tool, autosubmit

#159701 [Widget Inspector] Only include `truncated` field in JSON response if `true`
  packages/flutter/lib/src/foundation/diagnostics.dart
  packages/flutter/test/foundation/diagnostics_json_test.dart
Labels: framework

#158503 Add `IconAlignment` to `ButtonStyle` and `styleFrom` methods
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/elevated_button_theme_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/filled_button_theme_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/outlined_button_theme_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/text_button_theme_test.dart
Labels: a: text input, framework, f: material design

#159759 Increase timeout of Devtools tests
  .ci.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#159776 Roll Flutter Engine from 938f8163b526 to 1e6864c489c8 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159422 Add `mouseCursor` parameter to `Chip`s
  packages/flutter/lib/src/material/action_chip.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/choice_chip.dart
  packages/flutter/lib/src/material/filter_chip.dart
  packages/flutter/lib/src/material/input_chip.dart
  packages/flutter/test/cupertino/checkbox_test.dart
  packages/flutter/test/material/action_chip_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/choice_chip_test.dart
  packages/flutter/test/material/filter_chip_test.dart
  packages/flutter/test/material/input_chip_test.dart
Labels: framework, f: material design, f: cupertino, will affect goldens, autosubmit

#159667 Format controller.dart of flutter_test
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, framework, autosubmit

#159778 Roll Flutter Engine from 1e6864c489c8 to ee1b6ed65677 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159783 Roll Flutter Engine from ee1b6ed65677 to 29d66405e6df (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159750 Add deprecation notice for Android x86 when building for the target
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
Labels: tool, autosubmit, cp: merge-to-stable, cp: merge-to-beta

#156412 Fix `DropdownMenu` focus
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#158026 [Android] Removes dev dependency plugins from release builds
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/android_release_builds_exclude_dev_dependencies_test.dart
  dev/devicelab/bin/tasks/gradle_desugar_classes_test.dart
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  dev/devicelab/lib/framework/apk_utils.dart
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/groovy/native_plugin_loader.groovy
Labels: platform-android, tool, autosubmit

#157983 Fix: Update PopupMenu position when layout changes
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, autosubmit

#159805 Roll Flutter Engine from 29d66405e6df to 1f7f37e264b0 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159808 Roll Flutter Engine from 1f7f37e264b0 to 9e8fcad4eaf6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159510 Add `flutter widget-preview {start, clean}` commands
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/templates/widget_preview_scaffold/README.md.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/lib/main.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/commands.shard/permeable/utils/project_testing_utils.dart
  packages/flutter_tools/test/commands.shard/permeable/widget_preview_test.dart
  packages/flutter_tools/test/integration.shard/web_plugin_registrant_test.dart
Labels: tool, autosubmit

#159818 Roll Flutter Engine from 9e8fcad4eaf6 to 8d3c71840069 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159836 Roll Flutter Engine from 8d3c71840069 to 05e2d6597cb2 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159441 fix failing lint in MainActivity.kt.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/app/src/main/kotlin/androidIdentifier/MainActivity.kt.tmpl
Labels: tool, autosubmit

#159839 Reland Fix Date picker overlay colors aren't applied on selected state
  examples/api/test/material/date_picker/date_picker_theme_day_shape.0_test.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/date_picker_theme_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#159331 Fixed typos
  dev/a11y_assessments/test/expansion_tile_test.dart
  dev/benchmarks/microbenchmarks/lib/benchmark_collection.dart
  dev/benchmarks/microbenchmarks/lib/foundation/observer_list_bench.dart
  dev/bots/utils.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/tools/native_driver/lib/src/backend/android/adb.dart
  dev/tools/native_driver/lib/src/backend/android/driver.dart
  dev/tools/native_driver/lib/src/common.dart
  dev/tools/native_driver/lib/src/goldens.dart
  docs/contributing/Style-guide-for-Flutter-repo.md
  docs/ecosystem/testing/Plugin-Tests.md
  examples/api/lib/widgets/scroll_end_notification/scroll_end_notification.1.dart
  examples/api/lib/widgets/scroll_position/is_scrolling_listener.0.dart
  examples/api/lib/widgets/sliver/pinned_header_sliver.1.dart
  examples/api/test/widgets/scroll_end_notification/scroll_end_notification.1_test.dart
  examples/api/test/widgets/shortcuts/shortcuts.1_test.dart
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/safe_area.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/sliding_segmented_control_test.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/widgets/app_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/scrollbar_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_driver/lib/src/common/screenshot.dart
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/lib/src/compute_dev_dependencies.dart
  packages/flutter_tools/lib/src/dart/generate_synthetic_packages.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/test/native_assets.dart
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/migrations/swift_package_manager_integration_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/general.shard/compute_dev_dependencies_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/isolated/build_system/targets/native_assets_test.dart
  packages/flutter_tools/test/general.shard/migrations/swift_package_manager_integration_migration_test.dart
  packages/flutter_tools/test/integration.shard/android_plugin_skip_unsupported_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_without_cbuild_assemble_test.dart
Labels: a: tests, a: text input, team, tool, framework, f: material design, a: accessibility, f: scrolling, f: cupertino, d: api docs, d: examples, package, a: desktop, team-ecosystem, autosubmit, d: docs/

#158925 Updated Material 3 Progress Indicators Samples
  examples/api/lib/material/progress_indicator/circular_progress_indicator.0.dart
  examples/api/lib/material/progress_indicator/circular_progress_indicator.1.dart
  examples/api/lib/material/progress_indicator/linear_progress_indicator.0.dart
  examples/api/lib/material/progress_indicator/linear_progress_indicator.1.dart
  examples/api/test/material/progress_indicator/circular_progress_indicator.0_test.dart
  examples/api/test/material/progress_indicator/circular_progress_indicator.1_test.dart
  examples/api/test/material/progress_indicator/linear_progress_indicator.0_test.dart
  packages/flutter/lib/src/material/progress_indicator.dart
Labels: framework, f: material design, d: api docs, d: examples

#159720 Introduce Material 3 `year2023` flag to `ProgressIndicatorThemeData`
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/lib/src/material/progress_indicator_theme.dart
  packages/flutter/test/material/progress_indicator_test.dart
  packages/flutter/test/material/progress_indicator_theme_test.dart
Labels: framework, f: material design, will affect goldens

#159857 [flutter_tools] configure shader compiler to output GLES3 shaders for Android.
  packages/flutter_tools/lib/src/build_system/tools/shader_compiler.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/shader_compiler_test.dart
Labels: tool, autosubmit

#159827 [ci] Add google_adsense to 9_first_party_packages.yml
  .github/ISSUE_TEMPLATE/9_first_party_packages.yml
Labels: autosubmit

#159858 Roll Flutter Engine from b4f52b275535 to 3a8204a0ab41 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159770 Migrate module templates to declarative application of the Flutter Gradle Plugin
  dev/devicelab/bin/tasks/build_android_host_app_with_module_aar.dart
  dev/devicelab/bin/tasks/build_android_host_app_with_module_source.dart
  dev/devicelab/lib/framework/utils.dart
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/templates/module/android/gradle/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/host_app_ephemeral/settings.gradle.copy.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/include_flutter.groovy.copy.tmpl
Labels: platform-android, tool, autosubmit

#159865 Roll Flutter Engine from 3a8204a0ab41 to bbe33f2d8df2 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158440 Fix the drawing position of OutlineInputBorder
  packages/flutter/lib/src/material/input_border.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, will affect goldens

#146182 Added boundary feature to ReorderableList.
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: c: new feature, framework, f: material design, autosubmit

#159856 Configure Page Width
  analysis_options.yaml
Labels: autosubmit

#159874 Roll Flutter Engine from bbe33f2d8df2 to 91f216d1c172 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#159472 Fix DropdownButtonFormField overlay colors management
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: framework, f: material design, autosubmit

#159880 Roll Flutter Engine from 91f216d1c172 to 31ba1e093a07 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159721 Introduce Material 3 `year2023` flag to `SliderThemeData`
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: framework, f: material design

#159299 Align comments in ` flutter_build_preview_sdk_test.dart` with build.gradle.kts usage
  packages/flutter_tools/test/android_preview_integration.shard/flutter_build_preview_sdk_test.dart
Labels: tool, autosubmit

#159296 fix failing lint : `findByPath` requires a specific ordering of project evaluation in `flutter.groovy`
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
Labels: platform-android, tool, autosubmit

#159907 Revert: Fix DropdownMenu rendered behind AppBar
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#159909 Roll Flutter Engine from 31ba1e093a07 to d42645f3ecde (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159913 Roll Flutter Engine from d42645f3ecde to de53ed532619 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158881 Create new page transition for M3
  examples/api/lib/material/page_transitions_theme/page_transitions_theme.0.dart
  examples/api/lib/material/page_transitions_theme/page_transitions_theme.3.dart
  examples/api/lib/widgets/heroes/hero.1.dart
  examples/api/test/material/page_transitions_theme/page_transitions_theme.3_test.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/page.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#159918 Roll Flutter Engine from de53ed532619 to 1e63abec8faf (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159920 Roll Flutter Engine from 1e63abec8faf to fd41747c23a9 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#159288 Improve UI-thread animation performance
  packages/flutter/lib/src/animation/listener_helpers.dart
  packages/flutter/lib/src/foundation/observer_list.dart
  packages/flutter/test/animation/iteration_patterns_test.dart
Labels: framework, a: animation, autosubmit

#159929 Roll Flutter Engine from fd41747c23a9 to 2ed05f0068e2 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159950 Roll Flutter Engine from 2ed05f0068e2 to 82d7c1b2c268 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#159959 Roll Flutter Engine from 82d7c1b2c268 to 292146ab2fda (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159964 Roll Flutter Engine from 292146ab2fda to 13231e3e48d5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159968 Roll Flutter Engine from 13231e3e48d5 to 28d9aec2e024 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159976 Roll Flutter Engine from 6b2794ee581e to 7dd1cffaad06 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159978 Roll Packages from bc0c22d57910 to 45bcc3210fcc (20 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#155615 Show issues in triage even if they've been assigned
  docs/triage/README.md
Labels: autosubmit, team-framework, d: docs/

#159792 Fix `RangeSlider` thumb doesn't align with divisions, thumb padding, and rounded corners
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: framework, f: material design, autosubmit

#159344 Fix `SafeArea` DartPad sample
  examples/api/lib/widgets/safe_area/safe_area.0.dart
  examples/api/test/widgets/safe_area/safe_area.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#159990 Roll Flutter Engine from 7dd1cffaad06 to a8c08bc9b909 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#157815 iOS Selection Handle Improvements
  packages/flutter/lib/src/cupertino/magnifier.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/magnifier_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
Labels: a: text input, framework, f: cupertino, will affect goldens, autosubmit

#159993 Roll Flutter Engine from a8c08bc9b909 to 37a7a144b864 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159811 Add handler for `SemanticsAction.scrollToOffset`
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/list_view_semantics_test.dart
  packages/flutter/test/widgets/scrollable_semantics_test.dart
  packages/flutter/test/widgets/scrollable_semantics_traversal_order_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/single_child_scroll_view_test.dart
  packages/flutter/test/widgets/sliver_semantics_test.dart
  packages/flutter/test/widgets/slivers_appbar_floating_pinned_test.dart
  packages/flutter/test/widgets/text_test.dart
  packages/flutter_test/lib/src/controller.dart
Labels: a: tests, a: text input, framework, f: material design, a: accessibility, f: scrolling

#160000 Roll Flutter Engine from 37a7a144b864 to 4d0e9ac8f5ae (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#159922 Add `mouseCursor` to `Tooltip`
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: framework, f: material design, autosubmit

#159698 fix: SelectableRegion should only finalize selection after changing
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: framework, autosubmit

#160008 Roll Flutter Engine from 4d0e9ac8f5ae to 2069db895c62 (3 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#160011 Roll Flutter Engine from 2069db895c62 to 0338d1c7d7fe (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159396 [tool] Fix android tests using outdated regexs to modify templates
  packages/flutter_tools/test/integration.shard/android_plugin_example_app_build_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_agp_version_test.dart
Labels: tool, autosubmit

#159859 Add support for injecting assets into the widget_preview_scaffold
  packages/flutter_tools/lib/src/base/deferred_component.dart
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview_test.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool

#160042 Roll Flutter Engine from 4d001245329b to 58e5f9b3df54 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159823 `CupertinoTextField` accessibility behavior on Linux should match `TextField`
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/test/cupertino/text_field_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#159943 Adjust the drawing position of OutlineInputBorder
  packages/flutter/lib/src/material/input_border.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#160039 Revert "Framework sends a11y message when enabling semantics (#159163)"
  packages/flutter/lib/src/rendering/binding.dart
  packages/flutter/lib/src/semantics/semantics_event.dart
  packages/flutter/test/rendering/binding_pipeline_manifold_semantics_event_test.dart
  packages/flutter/test/widgets/feedback_test.dart
  packages/flutter_driver/test/src/real_tests/extension_test.dart
Labels: a: tests, framework, a: accessibility, autosubmit

#160044 Roll Flutter Engine from 58e5f9b3df54 to 23fc43d5e61f (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160045 [flutter_releases] Flutter stable 3.27.0 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine

#159992 Pin pkg:intl to 0.19.0
  packages/flutter_tools/lib/src/update_packages_pins.dart
Labels: tool, autosubmit

#160056 mark Linux packages_autoroller bringup
  .ci.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#157663 fix fade_transition issue
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/rendering/object_test.dart
  packages/flutter/test/widgets/fade_transition_test.dart
Labels: framework, autosubmit

#159406 Test `SliverMainAxisGroup` offstage child
  examples/api/test/widgets/sliver/sliver_main_axis_group.0_test.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/sliver_main_axis_group_test.dart
Labels: a: tests, a: text input, framework, f: scrolling, d: api docs, d: examples, autosubmit

#160052 Roll Flutter Engine from 23fc43d5e61f to 3a641b680edb (3 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#160061 Roll Flutter Engine from 3a641b680edb to a8f755647275 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160063 Roll Flutter Engine from a8f755647275 to 4f6180a2a577 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160086 Add `submenuIcon` property to override the default `SubmenuButton` arrow icon
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/material/menu_theme.dart
  packages/flutter/test/material/menu_anchor_test.dart
  packages/flutter/test/material/menu_theme_test.dart
Labels: framework, f: material design, autosubmit

#160054 Conductor output updates
  dev/conductor/bin/conductor
  dev/conductor/core/lib/src/next.dart
  dev/conductor/core/lib/src/state.dart
  dev/conductor/core/test/next_test.dart
Labels: autosubmit

#160092 Roll Flutter Engine from e4316b8bc5f2 to 7941d7801b08 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160099 Roll Packages from 0f1fd493b893 to 16616ad588d7 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#159394 Fix false positive validation result on form submission with AutovalidateMode.onUnfocus
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/test/widgets/form_test.dart
Labels: framework, autosubmit

#160007 Add script to check format of changed dart files
  dev/bots/analyze.dart
  dev/tools/bin/format.dart
  dev/tools/format.bat
  dev/tools/format.sh
  dev/tools/pubspec.yaml
  dev/tools/test/format_test.dart
Labels: autosubmit

#160105 Update changelog with 3.27 changes
  CHANGELOG.md
Labels: autosubmit

#160094 Don't throw `StateError` when listing core devices during tool shutdown
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/lib/src/ios/core_devices.dart
  packages/flutter_tools/test/general.shard/ios/core_devices_test.dart
Labels: platform-ios, tool, autosubmit

#160110 Roll Flutter Engine from 7941d7801b08 to 3cdd84160baa (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#159385 Added spellCheckConfiguration to the constructor of CupertinoTextFormFieldRow
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/test/cupertino/text_form_field_row_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit, team-text-input

#160112 [flutter_releases] Flutter beta 3.28.0-0.1.pre Framework Cherrypicks
  bin/internal/engine.version
  bin/internal/release-candidate-branch.version
Labels: engine

#160117 Roll Flutter Engine from 3cdd84160baa to ba7ad8719733 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160126 Roll Flutter Engine from ba7ad8719733 to b8034f152711 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160128 Roll Flutter Engine from b8034f152711 to e3524615fb69 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160132 Roll Flutter Engine from e3524615fb69 to 92de3d0f8830 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160134 Roll Flutter Engine from 92de3d0f8830 to 847deb2089a3 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160165 Roll Flutter Engine from 847deb2089a3 to 4d8488f02cd8 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160158 Add entry-point annotations for test-only code.
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: framework, f: material design, f: cupertino, f: routes

#160171 Roll Flutter Engine from 4d8488f02cd8 to 0bcea845cd31 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160170 Roll Packages from 16616ad588d7 to cbdb48a0bcee (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#160060 Fix analytics enabled/disabled event not being sent when the user enables/disables analytics
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
Labels: tool, autosubmit

#160190 Roll Flutter Engine from 0bcea845cd31 to 9b51e30a4d37 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160186 [web] Enable platform view benchmarks in Skwasm
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
Labels: autosubmit

#155575 Make animation and router support simulation, and use Spring for Cupertino
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/physics/spring_simulation.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/cupertino/dialog_test.dart
  packages/flutter/test/physics/spring_simulation_test.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: framework, a: animation, f: cupertino, f: routes, will affect goldens, autosubmit

#159756 Force automatic ndk download when building for Android
  .ci.yaml
  dev/a11y_assessments/android/app/build.gradle
  dev/benchmarks/complex_layout/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/microbenchmarks/android/app/build.gradle
  dev/benchmarks/multiple_flutters/android/app/build.gradle
  dev/benchmarks/platform_views_layout/android/app/build.gradle
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/build.gradle
  dev/benchmarks/test_apps/stocks/android/app/build.gradle
  dev/devicelab/bin/tasks/gradle_desugar_classes_test.dart
  dev/integration_tests/android_semantics_testing/android/app/build.gradle
  dev/integration_tests/android_verified_input/android/app/build.gradle
  dev/integration_tests/android_views/android/app/build.gradle
  dev/integration_tests/channels/android/app/build.gradle
  dev/integration_tests/deferred_components_test/android/app/build.gradle
  dev/integration_tests/deferred_components_test/android/component1/build.gradle
  dev/integration_tests/external_textures/android/app/build.gradle
  dev/integration_tests/flavors/android/app/build.gradle
  dev/integration_tests/flutter_gallery/android/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/hybrid_android_views/android/app/build.gradle
  dev/integration_tests/module_host_with_custom_build_v2_embedding/app/build.gradle
  dev/integration_tests/native_driver_test/android/app/build.gradle
  dev/integration_tests/non_nullable/android/app/build.gradle
  dev/integration_tests/platform_interaction/android/app/build.gradle
  dev/integration_tests/pure_android_host_apps/android_custom_host_app/SampleApp/build.gradle
  dev/integration_tests/pure_android_host_apps/android_host_app_v2_embedding/app/build.gradle
  dev/integration_tests/pure_android_host_apps/host_app_kotlin_gradle_dsl/app/build.gradle.kts
  dev/integration_tests/release_smoke_test/android/app/build.gradle
  dev/integration_tests/spell_check/android/app/build.gradle
  dev/integration_tests/ui/android/app/build.gradle
  dev/manual_tests/android/app/build.gradle
  dev/tracing_tests/android/app/build.gradle
  examples/flutter_view/android/app/build.gradle
  examples/hello_world/android/app/build.gradle.kts
  examples/image_list/android/app/build.gradle
  examples/layers/android/app/build.gradle
  examples/platform_channel/android/app/build.gradle
  examples/platform_view/android/app/build.gradle
  packages/flutter_tools/gradle/src/main/groovy/CMakeLists.txt
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/integration_test/example/android/app/build.gradle
Labels: a: tests, platform-android, tool, framework, d: examples, f: integration_test, autosubmit

#160046 Adds splashBorderRadius property to TabBarTheme
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
Labels: framework, f: material design, autosubmit

#160220 Roll Flutter Engine from 9b51e30a4d37 to 5eedfefe38c1 (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#160233 Roll Flutter Engine from 5eedfefe38c1 to b9df033311cc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160238 Roll Flutter Engine from b9df033311cc to 3c263a38f56b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160239 Fix NavigationDrawerDestination backgroundColor obscures interactions
  packages/flutter/lib/src/material/navigation_drawer.dart
  packages/flutter/test/material/navigation_drawer_test.dart
Labels: framework, f: material design, autosubmit

#160245 Roll Packages from cbdb48a0bcee to 56886ffe11ad (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#160193 Fix `Stepper` connector not being properly displayed
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/test/material/stepper_test.dart
Labels: framework, f: material design, autosubmit

#160254 Roll Flutter Engine from 3c263a38f56b to f0ff4f25bda8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#159452 Refactor gradle task runner to share error handler code
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
Labels: tool, autosubmit

#160059 precompile generate_gradle_lockfile script BEFORE updating pub dependencies
  dev/conductor/core/lib/src/packages_autoroller.dart
  dev/conductor/core/lib/src/repository.dart
  dev/conductor/core/test/packages_autoroller_test.dart
Labels: autosubmit

#160260 [Reland] Force automatic ndk download when building for Android
  .ci.yaml
  dev/a11y_assessments/android/app/build.gradle
  dev/benchmarks/complex_layout/android/app/build.gradle
  dev/benchmarks/macrobenchmarks/android/app/build.gradle
  dev/benchmarks/microbenchmarks/android/app/build.gradle
  dev/benchmarks/multiple_flutters/android/app/build.gradle
  dev/benchmarks/platform_views_layout/android/app/build.gradle
  dev/benchmarks/platform_views_layout_hybrid_composition/android/app/build.gradle
  dev/benchmarks/test_apps/stocks/android/app/build.gradle
  dev/devicelab/bin/tasks/gradle_desugar_classes_test.dart
  dev/integration_tests/android_semantics_testing/android/app/build.gradle
  dev/integration_tests/android_verified_input/android/app/build.gradle
  dev/integration_tests/android_views/android/app/build.gradle
  dev/integration_tests/channels/android/app/build.gradle
  dev/integration_tests/deferred_components_test/android/app/build.gradle
  dev/integration_tests/deferred_components_test/android/component1/build.gradle
  dev/integration_tests/external_textures/android/app/build.gradle
  dev/integration_tests/flavors/android/app/build.gradle
  dev/integration_tests/flutter_gallery/android/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/hybrid_android_views/android/app/build.gradle
  dev/integration_tests/module_host_with_custom_build_v2_embedding/app/build.gradle
  dev/integration_tests/native_driver_test/android/app/build.gradle
  dev/integration_tests/non_nullable/android/app/build.gradle
  dev/integration_tests/platform_interaction/android/app/build.gradle
  dev/integration_tests/pure_android_host_apps/android_custom_host_app/SampleApp/build.gradle
  dev/integration_tests/pure_android_host_apps/android_host_app_v2_embedding/app/build.gradle
  dev/integration_tests/pure_android_host_apps/host_app_kotlin_gradle_dsl/app/build.gradle.kts
  dev/integration_tests/release_smoke_test/android/app/build.gradle
  dev/integration_tests/spell_check/android/app/build.gradle
  dev/integration_tests/ui/android/app/build.gradle
  dev/manual_tests/android/app/build.gradle
  dev/tracing_tests/android/app/build.gradle
  examples/flutter_view/android/app/build.gradle
  examples/hello_world/android/app/build.gradle.kts
  examples/image_list/android/app/build.gradle
  examples/layers/android/app/build.gradle
  examples/platform_channel/android/app/build.gradle
  examples/platform_view/android/app/build.gradle
  packages/flutter_tools/gradle/src/main/groovy/CMakeLists.txt
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/integration_test/android/build.gradle.kts
  packages/integration_test/example/android/app/build.gradle
Labels: a: tests, platform-android, tool, framework, d: examples, f: integration_test, autosubmit

#160253 Changelog update for stable branch.
  CHANGELOG.md
Labels: autosubmit

#160258 Enable `explicit-package-dependencies` (`resident_web_runner_cold_test.dart`)
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
Labels: tool, autosubmit

#160265 Migrate `test_compiler_test.dart` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
Labels: tool

#160267 Migrate `generate_synthetic_packages_test.dart` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/dart/generate_synthetic_packages_test.dart
Labels: tool

#160273 Migrate `test/general.shard/web` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
  packages/flutter_tools/test/general.shard/web/migrations/scrub_generated_plugin_registrant_test.dart
Labels: tool

#160275 Migrate `test/general.shard/build_system` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: tool, autosubmit

#160264 Migrate `cocoapods_test.dart` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
Labels: tool, a: desktop, autosubmit

#160277 Migrate `hot_test.dart` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/hot_test.dart
Labels: tool, autosubmit

#160278 Migrate `resident_web_runner_test.dart` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: tool, autosubmit

#160280 Migrate the rest of `general.shard` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: tool, autosubmit

#160279 Migrate `test/general.shard/*plugin*` tests to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: tool, autosubmit

#160274 Migrate `flutter_command_test.dart` to `explicit-package-dependencies`.
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: tool, autosubmit

#160290 Roll Flutter Engine from f0ff4f25bda8 to c4e3cc27afef (5 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#160291 Roll Flutter Engine from c4e3cc27afef to 4e4a430bcd0d (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#160294 Roll Flutter Engine from 4e4a430bcd0d to a9f7fa8ca613 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160311 Added Mohammed Chahboun to authors
  AUTHORS
Labels: autosubmit

#160321 Roll Flutter Engine from a9f7fa8ca613 to 159090f6f40f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160323 Roll Flutter Engine from 159090f6f40f to 330210f44aa6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#160368 Skip integration tests that consistently OOM on a Windows platform.
  packages/flutter_tools/test/integration.shard/android_plugin_skip_unsupported_test.dart
Labels: tool, warning: land on red to fix tree breakage

#160367 Fix a bug to skip `flutter_gen` when synthetic packages are disabled
  packages/flutter_tools/lib/src/dart/generate_synthetic_packages.dart
  packages/flutter_tools/test/general.shard/dart/generate_synthetic_packages_test.dart
Labels: tool, autosubmit
