Repository flutter/flutter, pull requests merged in 2024-10, with the labels that each got.

#155735 Fix crash in Linux platform channel example.
  examples/platform_channel/linux/my_application.cc
  examples/platform_channel/test/platform_channel_test.dart
Labels: d: examples, a: desktop

#155968 Disable flaky menu test
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#155967 Roll Flutter Engine from e61bc853acb2 to bfb6dddb2b30 (8 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#155978 Roll Flutter Engine from bfb6dddb2b30 to 6ee04ed763d9 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#155981 Roll Flutter Engine from 6ee04ed763d9 to 259f56c6e91b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155985 Roll Flutter Engine from 6b21b796cc94 to da28db8ff41d (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#155789 [CP-stable] Bump package:dds from version 4.2.4+1 to 4.2.4+2
  packages/flutter_tools/pubspec.yaml
Labels: tool, autosubmit

#154601 Feat: Add opportunity to change CupertinoTextField suffix alignment
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/test/cupertino/text_field_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#154476 [tool][android] Allow --target-platform work properly with --debug mode
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  dev/devicelab/bin/tasks/gradle_plugin_light_apk_test.dart
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/lib/src/commands/build_apk.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
Labels: tool, autosubmit

#155999 Roll Flutter Engine from 3fdb546bf595 to 794dcaf7a2b9 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156000 Roll Packages from 27c98537ccac to ebcc4f0b014c (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#156004 Roll Flutter Engine from 794dcaf7a2b9 to d02a10f83e41 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155964 [Swift Package Manager] Make available but off on beta and stable
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/test/general.shard/features_test.dart
Labels: tool, autosubmit

#156010 Roll Flutter Engine from d02a10f83e41 to e127e7857110 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#155969 Reland `TabBarTheme` normalization
  dev/tools/gen_defaults/lib/tabs_template.dart
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
Labels: framework, f: material design, autosubmit

#156019 Roll Flutter Engine from e127e7857110 to a609ee6ea35a (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156021 Roll Flutter Engine from a609ee6ea35a to e7b3ce717006 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156023 Roll Flutter Engine from e7b3ce717006 to ab48d6d8c167 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155552 Add WidgetStateMouseCursor example and tests for it.
  examples/api/lib/widgets/widget_state/widget_state_mouse_cursor.0.dart
  examples/api/test/widgets/widget_state/widget_state_mouse_cursor.0_test.dart
  packages/flutter/lib/src/widgets/widget_state.dart
Labels: framework, d: api docs, d: examples, autosubmit

#156029 Roll Flutter Engine from ab48d6d8c167 to df1982dd4482 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155214 Add `enableSplash` parameter to `CarouselView`
  packages/flutter/lib/src/material/carousel.dart
  packages/flutter/test/material/carousel_test.dart
Labels: framework, f: material design, autosubmit

#156032 Roll Flutter Engine from df1982dd4482 to a7abf7a8163e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156038 Roll Flutter Engine from a7abf7a8163e to a5bc2e2708c7 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#155773 mark {Linux,Windows} tool_integration_tests_* non-bringup
  .ci.yaml
Labels: autosubmit

#156039 Roll Flutter Engine from a5bc2e2708c7 to e0f049d69240 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155252 fix `DropdownMenu` keyboard navigation when entries are filtered empty
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#156042 Roll Flutter Engine from e0f049d69240 to 055969512dc5 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156043 Roll Flutter Engine from 055969512dc5 to 767bdc38cf51 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156049 Roll Flutter Engine from 767bdc38cf51 to 21ad04948457 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156055 Roll Flutter Engine from 21ad04948457 to 8774940b9ddc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156065 Roll Flutter Engine from 8774940b9ddc to 9b224bd2f895 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156074 Roll Flutter Engine from 9b224bd2f895 to d48c35d16814 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#155757 Fix DropdownMenu does not rematch initialSelection when entries have changed
  examples/api/lib/material/dropdown_menu/dropdown_menu.0.dart
  examples/api/lib/material/dropdown_menu/dropdown_menu.1.dart
  examples/api/lib/material/dropdown_menu/dropdown_menu.2.dart
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#156080 Roll Flutter Engine from d48c35d16814 to f20681241753 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156011 update flutter create generated projects to use package:flutter_lints 5.0.0
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package/lib/projectName.dart.tmpl
  packages/flutter_tools/templates/package/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
  packages/flutter_tools/templates/skeleton/pubspec.yaml.tmpl
Labels: tool

#155867 Add deprecation warning for "flutter create --ios-language"
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, autosubmit

#155994 fix ReorderableList not passing in item extent builder
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework, autosubmit

#156084 fix wrong test in "fixing `DropdownMenu` keyboard navigation"
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#156106 Roll Packages from ebcc4f0b014c to 7c97c8809bc9 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#156108 Update Upgrading-Engine's-Android-API-version.md to reflect code move
  docs/platforms/android/Upgrading-Engine's-Android-API-version.md
Labels: autosubmit, d: docs/

#156107 Roll Flutter Engine from f20681241753 to 3bdc1c0a30b6 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#150031 Allow mixing route transitions in one app.
  examples/api/lib/widgets/routes/flexible_route_transitions.0.dart
  examples/api/lib/widgets/routes/flexible_route_transitions.1.dart
  examples/api/test/widgets/routes/flexible_route_transitions.0_test.dart
  examples/api/test/widgets/routes/flexible_route_transitions.1_test.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/material/page.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/lib/src/widgets/transitions.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: framework, f: material design, f: cupertino, d: api docs, d: examples, f: routes, autosubmit

#156115 Roll Flutter Engine from 3bdc1c0a30b6 to 751ab9b3c5eb (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151788 Add `mouseCursor` property to `CupertinoCheckbox`
  packages/flutter/lib/src/cupertino/checkbox.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/test/cupertino/checkbox_test.dart
  packages/flutter/test/cupertino/radio_test.dart
  packages/flutter/test/material/checkbox_test.dart
Labels: framework, f: material design, f: cupertino, autosubmit

#156083 Add back main() methods to benchmark benches.
  dev/benchmarks/microbenchmarks/lib/geometry/matrix_utils_transform_bench.dart
  dev/benchmarks/microbenchmarks/lib/geometry/rrect_contains_bench.dart
  dev/benchmarks/microbenchmarks/lib/gestures/gesture_detector_bench.dart
  dev/benchmarks/microbenchmarks/lib/gestures/velocity_tracker_bench.dart
  dev/benchmarks/microbenchmarks/lib/language/sync_star_bench.dart
  dev/benchmarks/microbenchmarks/lib/language/sync_star_semantics_bench.dart
  dev/benchmarks/microbenchmarks/lib/stocks/animation_bench.dart
  dev/benchmarks/microbenchmarks/lib/stocks/build_bench.dart
  dev/benchmarks/microbenchmarks/lib/stocks/layout_bench.dart
Labels: a: animation, a: accessibility, f: gestures

#156118 Roll Flutter Engine from 751ab9b3c5eb to 33ac1b30ab0a (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#155129 Update `ThemeData.dialogTheme` type to accept `DialogThemeData`
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/dialog_theme_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, autosubmit

#156122 Roll Flutter Engine from 33ac1b30ab0a to 70232fa124d0 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156124 Roll Flutter Engine from 70232fa124d0 to bd44b58e3204 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156144 Roll Flutter Engine from bd44b58e3204 to 247bc68c578e (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156121 further shard the Windows tool_integration_tests* targets
  .ci.yaml
Labels: autosubmit

#156123 Move some tools test ownership to Ben
  TESTOWNERS
Labels: autosubmit

#156155 Roll Packages from 7c97c8809bc9 to 429650f681c0 (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#154932 Add autocorrect and enableSuggestions to SearchDelegate
  packages/flutter/lib/src/material/search.dart
  packages/flutter/test/material/search_test.dart
Labels: framework, f: material design, autosubmit

#154753 pattern-matching refactor
  dev/bots/custom_rules/avoid_future_catcherror.dart
  dev/bots/test/analyze-gen-defaults/dev/tools/gen_defaults/bin/template.dart
  dev/bots/test/analyze-test-input/root/dev/tools/localization/bin/gen_localizations.dart
  dev/devicelab/lib/framework/ios.dart
  dev/devicelab/lib/framework/metrics_center.dart
  dev/integration_tests/flutter_gallery/lib/demo/shrine/model/app_state_model.dart
  dev/integration_tests/flutter_gallery/test/live_smoketest.dart
  dev/integration_tests/new_gallery/lib/studies/reply/adaptive_nav.dart
  dev/manual_tests/lib/focus.dart
  dev/snippets/bin/snippets.dart
  examples/api/lib/widgets/focus_traversal/focus_traversal_group.0.dart
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/foundation/synchronous_future.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/painting/alignment.dart
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/services/message_codecs.dart
  packages/flutter/lib/src/services/platform_views.dart
  packages/flutter/lib/src/widgets/actions.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/inherited_theme.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/platform_menu_bar.dart
  packages/flutter/test/services/message_codecs_testing.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
  packages/flutter_driver/lib/src/common/handler_factory.dart
  packages/flutter_driver/lib/src/driver/frame_request_pending_latency_summarizer.dart
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/daemon.dart
  packages/flutter_tools/lib/src/dart_pub_json_formatter.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/ios/core_devices.dart
  packages/flutter_tools/lib/src/ios/xcode_debug.dart
  packages/flutter_tools/lib/src/migrations/swift_package_manager_integration_migration.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: a: tests, platform-ios, tool, framework, f: material design, d: api docs, d: examples, f: routes, f: focus, autosubmit, refactor

#156160 Roll Flutter Engine from 247bc68c578e to de1762dbc5cc (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#155699 Inherited Theme: zero rebuilds
  packages/flutter/test/widgets/inherited_test.dart
Labels: framework, autosubmit

#155728 Allow arrow keys to navigate `MenuAnchor` independently of global shortcut definition
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#155609 Refactor devfs_web_ddc_modules_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_ddc_modules_test.dart
Labels: tool, autosubmit, refactor

#156174 Roll Flutter Engine from de1762dbc5cc to 20369c5d2b93 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156188 Roll Flutter Engine from 20369c5d2b93 to 66d397dff87a (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156213 Roll Flutter Engine from c2a9fb051bd0 to e0109f0fd5b2 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156216 Roll Flutter Engine from e0109f0fd5b2 to 205484009711 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156225 Roll Packages from 429650f681c0 to 05bf1d482dd9 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#153254 Normalize `ThemeData.cardTheme`
  packages/flutter/lib/src/material/card.dart
  packages/flutter/lib/src/material/card_theme.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/search_anchor_test.dart
  packages/flutter/test/material/theme_data_test.dart
  packages/flutter/test/widgets/inherited_test.dart
Labels: framework, f: material design, autosubmit

#156239 Roll Flutter Engine from 205484009711 to d38f5e560a98 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156179 remove bringup from Windows tool_integration_tests_*
  .ci.yaml
Labels: autosubmit

#156249 Roll Flutter Engine from d38f5e560a98 to 9fa363bdde20 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156250 Roll Flutter Engine from 9fa363bdde20 to eece6c3ec63a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156252 Roll Flutter Engine from eece6c3ec63a to bc5f9fc80b06 (2 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#156258 Roll Flutter Engine from bc5f9fc80b06 to fd6082ab6693 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156261 Roll Flutter Engine from fd6082ab6693 to 92b5b318190b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156266 Roll Flutter Engine from 92b5b318190b to 6d6bc39fe8b1 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156267 Roll Flutter Engine from 6d6bc39fe8b1 to 2068577e510b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156274 Roll Flutter Engine from 2068577e510b to 01de9dcf6bbf (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156283 Roll Flutter Engine from 01de9dcf6bbf to ee9e0612b970 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156286 Roll Flutter Engine from ee9e0612b970 to 2c25423ea618 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154806 CheckboxListTile: add property to scale the checkbox
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
Labels: framework, f: material design, autosubmit

#156301 Roll Flutter Engine from 2c25423ea618 to a190ab54ce07 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156311 Roll Flutter Engine from a190ab54ce07 to 8e46a7670b94 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156214 Fix `DropdownMenu` with `expandedInsets` always aligned on top
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#156322 Roll Packages from 05bf1d482dd9 to bb00d34a4280 (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#156323 Roll Flutter Engine from 8e46a7670b94 to 683a14c1f1be (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156339 Roll Flutter Engine from 683a14c1f1be to ffacad996f1f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156346 handle any `RPCError` due to vm service disconnection in `flutter run`
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
Labels: tool, autosubmit

#156347 Roll Flutter Engine from ffacad996f1f to 0c9d3f11f098 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156187 Update 'dump-info' usage for dart2js builds
  packages/flutter_tools/lib/src/web/compiler_config.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: tool, autosubmit

#155297 Fixes an issue where onTapOutside was incorrectly triggered across routes in TapRegion
  packages/flutter/lib/src/widgets/tap_region.dart
  packages/flutter/test/widgets/tap_region_test.dart
Labels: framework, autosubmit

#156342 Clarify when `override: no versioning needed` label should be applied
  docs/ecosystem/contributing/README.md
Labels: package, team-ecosystem, autosubmit, d: docs/

#156364 Roll Flutter Engine from e84e30357ccc to 427302eafdda (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156372 Roll Flutter Engine from 427302eafdda to e096ddb3091e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156376 [tool] Emit a deprecation warning for some values of --web-renderer.
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
Labels: tool, autosubmit

#156379 Roll Flutter Engine from e096ddb3091e to 07c702f2d79b (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156384 Roll Flutter Engine from 07c702f2d79b to fd1ccdb95e03 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156386 Roll Flutter Engine from fd1ccdb95e03 to 5923a8b3e632 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156388 Roll Flutter Engine from 5923a8b3e632 to 012029ee19f3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156390 Roll Flutter Engine from 012029ee19f3 to 33c1a6a16e81 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156226 Update `flexible_space_bar_test.dart` tests for Material 3
  packages/flutter/test/material/flexible_space_bar_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#156392 Roll Flutter Engine from 33c1a6a16e81 to 7e8011f3cc8e (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156221 Migrator for android 35/16kb page size cmake flags for plugin_ffi
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/android/migrations/cmake_android_16k_pages_migration.dart
  packages/flutter_tools/templates/plugin_ffi/src.tmpl/CMakeLists.txt.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/android/migration/cmake_android_16k_pages_migration_test.dart
Labels: tool, autosubmit

#156398 Roll Flutter Engine from 7e8011f3cc8e to 9306456e2532 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156401 Roll Flutter Engine from 9306456e2532 to 8ec95fe63f2d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156402 Roll Flutter Engine from 8ec95fe63f2d to bf21ee76f585 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155618 NavigatorPopHandler.onPopWithResult
  packages/flutter/lib/src/widgets/navigator_pop_handler.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, f: routes

#156406 Roll Flutter Engine from bf21ee76f585 to 82c1dfcf588c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156407 Roll Packages from bb00d34a4280 to 8fbf4cda12e7 (10 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#156131 Update `DropdownMenu` tests to remove some dependence on platforms
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#155571 Add `bySemanticsIdentifier` finder for finding by identifier
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/test/finders_test.dart
Labels: a: tests, framework, a: accessibility, autosubmit, customer: castaway

#156426 Roll Dartdoc to 8.2.0
  dev/bots/docs.sh
Labels: warning: land on red to fix tree breakage, autosubmit

#156404 Update MenuAnchor API examples
  examples/api/lib/material/menu_anchor/checkbox_menu_button.0.dart
  examples/api/lib/material/menu_anchor/menu_accelerator_label.0.dart
  examples/api/lib/material/menu_anchor/menu_anchor.0.dart
  examples/api/lib/material/menu_anchor/menu_anchor.2.dart
  examples/api/test/material/menu_anchor/menu_bar.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#156428 Roll Flutter Engine from 82c1dfcf588c to 167a42e50fa2 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156253 Normalize `ThemeData.tabBarTheme`
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: framework, f: material design, autosubmit

#156433 Roll Flutter Engine from 167a42e50fa2 to ea4a00f1c123 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156432 [tool] Update description of where to install platforms in XCode
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/xcode_validator.dart
Labels: platform-ios, tool, a: desktop, autosubmit

#156435 Roll Flutter Engine from ea4a00f1c123 to 0e7344ae240d (4 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#156443 Roll Flutter Engine from 0e7344ae240d to db0c0b7ca428 (4 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#156477 Roll Packages from 8fbf4cda12e7 to 9d00fb1a8e50 (9 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#156487 Roll Flutter Engine from 4a97943e0556 to fb0b59d9438b (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156492 Roll Flutter Engine from fb0b59d9438b to 3a95d6e1ddbf (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156452 Add test for animated list example
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/animated_list/animated_list.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#156499 [canvaskit] Unskip cupertino datepicker tests
  packages/flutter/test/cupertino/date_picker_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#156498 Roll Flutter Engine from 3a95d6e1ddbf to 590babc1581b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156533 Update Android plugin templates for newer AGP
  packages/flutter_tools/templates/plugin/android-java.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/plugin_ffi/android.tmpl/build.gradle.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, autosubmit

#156538 Roll Packages from 9d00fb1a8e50 to f1a3da2a9f28 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#156540 Flutter tool assumes impeller is enabled by default
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
Labels: tool, autosubmit

#156541 Roll Flutter Engine from 590babc1581b to 3ce72a28934c (13 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156539 Add doc-import for references to CommonFinders
  packages/flutter/lib/src/widgets/standard_component_type.dart
Labels: framework, autosubmit

#156555 Roll Flutter Engine from 3ce72a28934c to 3f0e2fb48145 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156562 Roll Flutter Engine from 3f0e2fb48145 to e41a7629654a (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156596 [devicelab] handle missed lifecycle messages.
  dev/devicelab/bin/tasks/flutter_gallery__back_button_memory.dart
Labels: autosubmit

#156592 Roll Packages from f1a3da2a9f28 to 67401e169e5c (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#156549 Manual pub roll
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/android/project-app.lockfile
  dev/benchmarks/platform_views_layout/android/project-google_mobile_ads.lockfile
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/forbidden_from_release_tests/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/link_hook/pubspec.yaml
  dev/integration_tests/native_driver_test/pubspec.yaml
  dev/integration_tests/new_gallery/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/native_driver/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#156602 Roll Flutter Engine from e41a7629654a to d13cbfb6f38a (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156600 [devicelab] remove raster cache benchmarks.
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/raster_cache_use_memory_perf__e2e_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#156028 Add code sample to the CupertinoMagnifier/CupertinoTextMagnifier
  examples/api/lib/widgets/magnifier/cupertino_magnifier.0.dart
  examples/api/lib/widgets/magnifier/cupertino_text_magnifier.0.dart
  examples/api/test/widgets/magnifier/cupertino_magnifier.0_test.dart
  examples/api/test/widgets/magnifier/cupertino_text_magnifier.0_test.dart
  packages/flutter/lib/src/cupertino/magnifier.dart
Labels: a: text input, framework, f: cupertino, d: api docs, d: examples, autosubmit

#156609 Roll Flutter Engine from d13cbfb6f38a to bc3b18085b7e (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156603 Remove non-functional, deprecated `package_api_docs` lint
  analysis_options.yaml
Labels: autosubmit

#156468 Improve InputDecoration.errorMaxLines documentation
  packages/flutter/lib/src/material/input_decorator.dart
Labels: framework, f: material design, autosubmit

#156619 Roll Flutter Engine from bc3b18085b7e to b39fec6d97d1 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156593 CheckboxListTile: use Transform.scale only when required
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
Labels: framework, f: material design, autosubmit

#154511 Updated iPhone enable developer mode instructions
  packages/flutter_tools/lib/src/runner/target_devices.dart
  packages/flutter_tools/test/general.shard/runner/target_devices_test.dart
Labels: tool, autosubmit

#156439 Add test for AutofillGroup api example
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/autofill/autofill_group.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#156292 RadioListTile: add property to scale the radio
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/test/material/radio_list_tile_test.dart
Labels: framework, f: material design, autosubmit

#156658 Roll Flutter Engine from b39fec6d97d1 to ea311c957176 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156665 Roll Flutter Engine from ea311c957176 to 04f82d07c7fe (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156671 Roll Flutter Engine from 04f82d07c7fe to c2ef73e32f27 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156673 Roll Flutter Engine from c2ef73e32f27 to 8fdc6a8254a6 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156677 Roll Flutter Engine from 8fdc6a8254a6 to adc590994aa3 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#156678 Roll Flutter Engine from adc590994aa3 to fdc667ebb34e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#156716 Update iOS/macOS plugin test information
  docs/ecosystem/testing/Plugin-Tests.md
Labels: package, team-ecosystem, autosubmit, d: docs/
