Repository flutter/flutter, pull requests merged in 2024-08, with the labels that each got.

#152648 Manual roll Flutter Engine from 16332725788c to 32f788823f43 (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#152654 Manual roll Flutter Engine from 32f788823f43 to ed95b491f260 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152658 Roll Flutter Engine from 32f788823f43 to 0fbff219c498 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152661 Roll Flutter Engine from 0fbff219c498 to f546fef7d7cd (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152663 Roll Flutter Engine from f546fef7d7cd to 4dc94d6f88ba (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152665 Roll Flutter Engine from 4dc94d6f88ba to 7c4a44611abe (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152669 Fix formatting issues in `search_anchor.0_test.dart`
  examples/api/test/material/search_anchor/search_anchor.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#152383 Fix local testing, gradle XML errors, and enable on CI.
  .ci.yaml
  dev/bots/suite_runners/run_flutter_driver_android_tests.dart
  dev/integration_tests/android_driver_test/android/app/src/main/res/drawable-v21/launch_background.xml
  dev/integration_tests/android_driver_test/android/app/src/main/res/drawable/launch_background.xml
  dev/integration_tests/android_driver_test/android/app/src/main/res/values-night/styles.xml
  dev/integration_tests/android_driver_test/android/app/src/main/res/values/styles.xml
  dev/integration_tests/android_driver_test/test_driver/_flutter_goldens_fork.dart
  packages/flutter_driver/lib/src/native/android.dart
  packages/flutter_driver/lib/src/native/driver.dart
  packages/flutter_goldens/lib/skia_client.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, framework, will affect goldens

#152647 [CupertinoActionSheet & AlertDialog] Improve documentation and type for `scrollController` parameters
  packages/flutter/lib/src/cupertino/dialog.dart
Labels: framework, f: cupertino, autosubmit

#152693 Roll Packages from 46a712f38301 to 27896d1c5aa8 (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#152685 Fix bad pattern matching in DDS exception parsing
  packages/flutter_tools/lib/src/base/dds.dart
  packages/flutter_tools/test/general.shard/base/dds_exception_test.dart
Labels: tool

#152694 Roll Flutter Engine from 7c4a44611abe to bbb2fcad4808 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152031 Remove one set of parens that wrap a single String literal
  packages/flutter_tools/test/general.shard/base/terminal_test.dart
Labels: tool, autosubmit

#152696 Disable DDS and Dart profiling for Android driver tests.
  dev/bots/suite_runners/run_flutter_driver_android_tests.dart
Labels: autosubmit

#152701 Roll Flutter Engine from bbb2fcad4808 to 230879c7936e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152700 Quick docs grammar fixes
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/widgets/editable_text.dart
Labels: a: text input, framework, f: material design, autosubmit

#152635 SearchBar.scrollPadding
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: a: text input, framework, f: material design

#152116 Explain that predictive back doesn't work with WillPopScope
  packages/flutter/lib/src/widgets/will_pop_scope.dart
Labels: framework, autosubmit

#152535 Use `.fromMap()` constructors in example code
  examples/api/lib/material/input_decorator/input_decoration.widget_state.0.dart
  examples/api/lib/material/input_decorator/input_decoration.widget_state.1.dart
  examples/api/lib/material/list_tile/list_tile.3.dart
  examples/api/lib/material/switch/switch.1.dart
  examples/api/lib/material/switch/switch.2.dart
  examples/api/lib/material/switch/switch.4.dart
  examples/api/lib/material/text_button/text_button.1.dart
  examples/api/lib/widgets/focus_traversal/focus_traversal_group.0.dart
Labels: a: text input, framework, d: api docs, d: examples, f: focus, autosubmit, refactor

#152707 Roll Flutter Engine from 17e3c7d520e7 to 1cbe88e8115e (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152718 Roll Flutter Engine from 1cbe88e8115e to ab3f177fb61d (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#152721 Roll Flutter Engine from ab3f177fb61d to fe39ed980e74 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152739 Roll Flutter Engine from fe39ed980e74 to b408111b976c (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152731 Add test for scaffold_state.show_bottom_sheet.0.dart
  dev/bots/check_code_samples.dart
  examples/api/test/material/scaffold/scaffold_state.show_bottom_sheet.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#152745 Roll Flutter Engine from b408111b976c to 077b6f057b69 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152750 Shift Linux_build_test tests from MotoG4 to mokey
  .ci.yaml
Labels: autosubmit

#152754 Roll Packages from 27896d1c5aa8 to cc9ff470587b (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#152560 [wiki] Remove outdated warning about stale coverage data
  docs/contributing/testing/Test-coverage-for-package-flutter.md
Labels: team, framework, autosubmit, d: docs/

#152689 Ignore both unused_element and unused_element_parameter
  packages/flutter/lib/src/widgets/widget_inspector.dart
Labels: framework, autosubmit

#152735 Add tests for scaffold messenger state
  dev/bots/check_code_samples.dart
  examples/api/test/material/scaffold/scaffold_messenger_state.show_material_banner.0_test.dart
  examples/api/test/material/scaffold/scaffold_messenger_state.show_snack_bar.0_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#152003 Make the App's title optional on web
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/test/cupertino/app_test.dart
  packages/flutter/test/widgets/app_test.dart
Labels: framework, f: material design, f: cupertino, autosubmit

#152748 [SliderTheme] Fix markdown links for api doc images
  packages/flutter/lib/src/material/slider_theme.dart
Labels: framework, f: material design, autosubmit

#152762 Roll Flutter Engine from 077b6f057b69 to 353c6b237b78 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152744 Quick Grammar Fixes
  packages/flutter/lib/src/material/drawer_theme.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, autosubmit

#150727 Write more on Animation and related docs
  packages/flutter/lib/src/animation/animation.dart
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter/lib/src/animation/tween.dart
  packages/flutter/lib/src/scheduler/ticker.dart
Labels: framework, a: animation, autosubmit

#152776 Use print logging on LUCI.
  dev/integration_tests/android_driver_test/test_driver/main_test.dart
Labels: autosubmit

#143501 Fix handling of `iconSize` and `iconColor` defaults for `ButtonStyleButton` subclasses.
  dev/tools/gen_defaults/generated/used_tokens.csv
  dev/tools/gen_defaults/lib/button_template.dart
  dev/tools/gen_defaults/lib/menu_template.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/test/material/button_style_test.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#152777 Roll Flutter Engine from 353c6b237b78 to 3c9d7e3f7c02 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149703 Improve `CupertinoRadio` fidelity
  packages/flutter/lib/src/cupertino/radio.dart
  packages/flutter/test/cupertino/radio_test.dart
Labels: framework, f: cupertino, will affect goldens

#152790 Roll Flutter Engine from 3c9d7e3f7c02 to 516235e4456b (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#152804 Roll Flutter Engine from 516235e4456b to afb7007298cc (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152808 Fix device_os requested in linux_build_test tests
  .ci.yaml
Labels: autosubmit

#152814 Roll Flutter Engine from afb7007298cc to 4c868ee85616 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152818 Roll Flutter Engine from 4c868ee85616 to 2a51c687fd40 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152821 Roll Flutter Engine from 2a51c687fd40 to 980577996f38 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152824 Roll Flutter Engine from 980577996f38 to 16012e2f8ccd (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152854 Roll Flutter Engine from 16012e2f8ccd to 540c22589911 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#152859 Roll Flutter Engine from 540c22589911 to 0aac60342005 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152073 reduce warnings inside flutter.groovy file
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
Labels: tool, autosubmit

#152866 Roll Packages from cc9ff470587b to 82e8d1eecb45 (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#152472 Introduce `double` `Flex.spacing` parameter for `Row`/`Column` spacing
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/rendering/flex_test.dart
  packages/flutter/test/widgets/flex_test.dart
Labels: framework, autosubmit

#152876 [Docs] DeviceOrientation Enum Correction
  packages/flutter/lib/src/services/system_chrome.dart
Labels: framework, autosubmit

#152868 Roll Flutter Engine from 0aac60342005 to 1bfd06cda313 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152766 Add migration to git ignore SwiftPM build directories
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/migrations/swift_package_manager_gitignore_migration.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/templates/app_shared/.gitignore.tmpl
  packages/flutter_tools/templates/plugin_shared/.gitignore.tmpl
  packages/flutter_tools/test/general.shard/migrations/swift_package_manager_gitignore_migration_test.dart
Labels: platform-ios, tool, a: desktop, autosubmit

#152889 Roll Flutter Engine from 1bfd06cda313 to e073ad2e3ad4 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152791 Fix CarouselView rebuild
  packages/flutter/lib/src/material/carousel.dart
  packages/flutter/test/material/carousel_test.dart
Labels: framework, f: material design, autosubmit

#152890 [Reland] Introduce `double` `Flex.spacing` parameter for `Row`/`Column` spacing
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/test/rendering/flex_test.dart
  packages/flutter/test/widgets/flex_test.dart
  packages/flutter_tools/test/integration.shard/overall_experience_test.dart
Labels: tool, framework, autosubmit

#152896 Bump dartdoc to 8.0.13
  dev/bots/docs.sh
Labels: autosubmit

#151951 more docImports
  packages/flutter/lib/src/gestures/binding.dart
  packages/flutter/lib/src/painting/binding.dart
  packages/flutter/lib/src/painting/box_shadow.dart
  packages/flutter/lib/src/painting/debug.dart
  packages/flutter/lib/src/scheduler/ticker.dart
  packages/flutter/lib/src/services/binary_messenger.dart
  packages/flutter/lib/src/services/hardware_keyboard.dart
  packages/flutter/pubspec.yaml
  packages/flutter_driver/lib/src/common/diagnostics_tree.dart
  packages/flutter_driver/lib/src/common/text_input_action.dart
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/lib/src/_goldens_web.dart
  packages/flutter_test/lib/src/controller.dart
  packages/flutter_test/lib/src/frame_timing_summarizer.dart
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_test/pubspec.yaml
  packages/flutter_web_plugins/lib/flutter_web_plugins.dart
Labels: a: tests, a: text input, framework, f: gestures, platform-web, autosubmit

#152185 added functionality to where SR will communicate button clicked
  dev/a11y_assessments/lib/use_cases/text_button.dart
  dev/a11y_assessments/test/text_button_test.dart
Labels: a: text input, autosubmit

#152895 Roll Flutter Engine from e073ad2e3ad4 to bc140a0124b7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152905 Roll Flutter Engine from bc140a0124b7 to 376a853846ce (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152706 Implement `on` clauses
  examples/api/lib/material/autocomplete/autocomplete.3.dart
  examples/api/lib/material/autocomplete/autocomplete.4.dart
  examples/api/lib/material/search_anchor/search_anchor.4.dart
  packages/flutter_tools/lib/src/dart/pub.dart
Labels: tool, framework, d: api docs, d: examples, autosubmit, refactor

#152911 Roll Flutter Engine from 376a853846ce to f5f6e966e7e7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#152915 Roll Flutter Engine from f5f6e966e7e7 to f75ffb65cfe3 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152917 Roll Flutter Engine from f75ffb65cfe3 to 84116159ebfc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152924 Roll Flutter Engine from 84116159ebfc to 7fc38bef4775 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152930 Roll Packages from 82e8d1eecb45 to 551bde53f6ea (12 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#152934 Roll Flutter Engine from 7fc38bef4775 to 99da2cab3f6d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152907 Add Nate Wilson to authors
  AUTHORS
Labels: autosubmit

#151761 Feat: Add fillColor property for cupertinoCheckbox
  packages/flutter/lib/src/cupertino/checkbox.dart
  packages/flutter/test/cupertino/checkbox_test.dart
Labels: framework, f: cupertino, autosubmit

#152444 fix: add parameter to maintainState of SearchDelegate
  packages/flutter/lib/src/material/search.dart
  packages/flutter/test/material/search_test.dart
Labels: framework, f: material design, autosubmit

#152944 Roll Flutter Engine from 99da2cab3f6d to e97955bf12ac (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#150950 [material/menu_anchor.dart] MenuAnchor focus refactoring for RawMenuAnchor
  examples/api/test/material/menu_anchor/menu_anchor.0_test.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#152948 Roll Flutter Engine from e97955bf12ac to aabd582e9c7e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152940 [devicelab] opt gallery benchmarks and platform view test into merged thread mode.
  dev/devicelab/lib/tasks/new_gallery.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#152941 [API Examples] `scroll_direction.0_test.dart` & `growth_direction.0_test.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/rendering/growth_direction/growth_direction.0_test.dart
  examples/api/test/rendering/scroll_direction/scroll_direction.0_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, autosubmit

#152932 Fix Linux_android_emu tests late initialization errors
  dev/integration_tests/android_driver_test/test_driver/main_test.dart
  dev/integration_tests/android_views/test_driver/main_test.dart
  dev/integration_tests/external_textures/test_driver/frame_rate_main_test.dart
  dev/integration_tests/ui/test_driver/defines_test.dart
  packages/flutter_driver/lib/src/driver/vmservice_driver.dart
Labels: a: tests, framework

#152358 [tool] Guard process writes to frontend server in `ResidentCompiler`
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/compile.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/test/general.shard/compile_incremental_test.dart
  packages/flutter_tools/test/general.shard/hot_shared.dart
  packages/flutter_tools/test/general.shard/resident_runner_helpers.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
Labels: tool, autosubmit

#152962 Roll Flutter Engine from aabd582e9c7e to 206e86ee8a40 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152882 Support clearing selection programmatically through SelectableRegionState
  packages/flutter/lib/src/material/selection_area.dart
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: framework, f: material design, autosubmit

#152985 Roll Flutter Engine from 206e86ee8a40 to 5a0fd5fbecc6 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153027 Update design languages triage link to exclude drafts
  docs/triage/README.md
Labels: autosubmit, d: docs/

#153017 Fix PageController throws when changing page before viewPortDimensions are set
  packages/flutter/lib/src/widgets/page_view.dart
  packages/flutter/test/widgets/page_view_test.dart
Labels: c: crash, framework, f: scrolling, autosubmit

#151367 Style: Rename CupertinoSwitch activeColor and trackColor to activeTrackColor and InactiveTrackColor
  examples/api/lib/cupertino/switch/cupertino_switch.0.dart
  packages/flutter/lib/fix_data/fix_cupertino.yaml
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/test/cupertino/switch_test.dart
  packages/flutter/test_fixes/cupertino/cupertino.dart
  packages/flutter/test_fixes/cupertino/cupertino.dart.expect
Labels: framework, f: cupertino, d: api docs, d: examples, c: tech-debt, autosubmit

#150914 MenuAnchor hover traversal fixes
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#153040 Roll Packages from 551bde53f6ea to 5cc0a0160194 (12 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#153035 Roll Flutter Engine from 5a0fd5fbecc6 to 69c29fb309bb (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152958 Doc imports again
  examples/api/lib/ui/text/font_feature.font_feature_tabular_figures.0.dart
  packages/flutter/lib/src/animation/animation.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/material_localizations.dart
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/default_selection_style.dart
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/localizations.dart
  packages/flutter/lib/src/widgets/primary_scroll_controller.dart
  packages/flutter/lib/src/widgets/scroll_controller.dart
  packages/flutter/lib/src/widgets/scroll_delegate.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/lib/src/widgets/sliver_prototype_extent_list.dart
  packages/flutter/pubspec.yaml
  packages/flutter_goldens/lib/flutter_goldens.dart
Labels: a: tests, a: text input, framework, a: animation, f: material design, f: scrolling, d: api docs, d: examples, autosubmit

#152683 [web] hide the --web-renderer option in the tool
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/args_test.dart
Labels: tool, autosubmit

#153048 Roll Flutter Engine from 69c29fb309bb to 317eb6107646 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153044 Revert "Marks Mac channels_integration_test to be flaky"
  .ci.yaml
Labels: autosubmit

#152988 Add xcresulttool --legacy flag for deprecated usage
  packages/flutter_tools/lib/src/ios/xcresult.dart
  packages/flutter_tools/test/general.shard/ios/xcresult_test.dart
Labels: platform-ios, tool, autosubmit

#153053 Allow dropdown_menu to accept any EdgeInsetsGeometry
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#153058 Roll Flutter Engine from 317eb6107646 to d4d9537bccdf (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153039 Set default Cupertino `primaryContrastingColor` to white
  packages/flutter/lib/src/cupertino/theme.dart
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/cupertino/theme_test.dart
Labels: framework, f: cupertino, autosubmit

#152946 Clean up MenuAnchor
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#153063 Roll Flutter Engine from d4d9537bccdf to 9932f34aac4e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#153034 Add drawer and navigation drawer in a11y assessment app, also run `dart format` under a11y_assessments/
  dev/a11y_assessments/lib/main.dart
  dev/a11y_assessments/lib/use_cases/auto_complete.dart
  dev/a11y_assessments/lib/use_cases/badge.dart
  dev/a11y_assessments/lib/use_cases/check_box_list_tile.dart
  dev/a11y_assessments/lib/use_cases/date_picker.dart
  dev/a11y_assessments/lib/use_cases/dialog.dart
  dev/a11y_assessments/lib/use_cases/drawer.dart
  dev/a11y_assessments/lib/use_cases/expansion_tile.dart
  dev/a11y_assessments/lib/use_cases/material_banner.dart
  dev/a11y_assessments/lib/use_cases/navigation_bar.dart
  dev/a11y_assessments/lib/use_cases/navigation_drawer.dart
  dev/a11y_assessments/lib/use_cases/navigation_rail.dart
  dev/a11y_assessments/lib/use_cases/radio_list_tile.dart
  dev/a11y_assessments/lib/use_cases/slider.dart
  dev/a11y_assessments/lib/use_cases/text_button.dart
  dev/a11y_assessments/lib/use_cases/text_field.dart
  dev/a11y_assessments/lib/use_cases/text_field_password.dart
  dev/a11y_assessments/lib/use_cases/use_cases.dart
  dev/a11y_assessments/test/accessibility_guideline_test.dart
  dev/a11y_assessments/test/check_box_list_tile_test.dart
  dev/a11y_assessments/test/drawer_test.dart
  dev/a11y_assessments/test/home_page_test.dart
  dev/a11y_assessments/test/navigation_drawer_test.dart
  dev/a11y_assessments/test/navigation_rail_test.dart
  dev/a11y_assessments/test/radio_list_tile_test.dart
  dev/a11y_assessments/test/slider_test.dart
  dev/a11y_assessments/test/snack_bar_test.dart
  dev/a11y_assessments/test/text_button_test.dart
  dev/a11y_assessments/test/text_field_password_test.dart
  dev/a11y_assessments/test/text_field_test.dart
Labels: a: text input, f: material design, a: accessibility, autosubmit

#153067 Roll Flutter Engine from 9932f34aac4e to 9dd4a2303898 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#153073 Roll Flutter Engine from 9dd4a2303898 to 94cf8c8fad31 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153086 Roll Flutter Engine from 94cf8c8fad31 to 3978ddd8d7a7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#150962 Add a contribution doc on using reliable links in tooling
  docs/contributing/use-reliable-links.md
Labels: team, framework, autosubmit, d: docs/

#153047 Fix `flutter build ipa --export-method` not accepting `enterprise` flag
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
Labels: tool, autosubmit

#150568 The `PopupMenuButton` should not steal focus from the TextField when it appears.
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/material/bottom_sheet.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/page.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/pages.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, f: cupertino, f: routes, autosubmit

#152642 [web] Fix reading of the --local-web-sdk flag and remove the copy of useLocalWebSdk in DebuggingOptions
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: tool, autosubmit

#153066 Roll pub packages [manual]
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/lib/web_benchmarks.dart
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/multiple_flutters/module/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_driver_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/link_hook/pubspec.yaml
  dev/integration_tests/new_gallery/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#153107 Roll Packages from 5cc0a0160194 to bb797b9338c8 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#153111 Roll Flutter Engine from 3978ddd8d7a7 to 387f6f3c5fdb (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152992 Remove -sdk for watchOS simulator in tool
  packages/flutter_tools/lib/src/ios/xcodeproj.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
Labels: platform-ios, tool, autosubmit

#153113 Move Android tests with macOS host from staging to prod
  .ci.yaml
Labels: autosubmit

#153124 Roll Flutter Engine from 387f6f3c5fdb to ef820aa74f7a (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153060 Clean up .gitignore files
  .gitignore
  dev/a11y_assessments/.gitignore
  dev/integration_tests/flavors/.gitignore
  dev/integration_tests/wide_gamut_test/.gitignore
  dev/tools/vitool/.gitignore
Labels: autosubmit

#153121 [devicelab] opt all impeller tests to GPU tracing, opt some Android tests into merged thread mode.
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#153132 Roll Flutter Engine from ef820aa74f7a to 05208896830a (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153129 Re-enable dds for flutter drive tests that use DevTools
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#153143 Roll Flutter Engine from 05208896830a to e50fd307b6f7 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153145 Roll Flutter Engine from e50fd307b6f7 to c9ec468c7592 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153147 Make ios_deploy_test.dart more robust
  packages/flutter_tools/test/general.shard/ios/ios_deploy_test.dart
Labels: tool

#153174 Fix tests expectations regarding new lines.
  packages/flutter_tools/test/commands.shard/hermetic/analyze_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/symbolize_test.dart
Labels: tool

#153115 Move Cupertino focus constants to cupertino/constants.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/cupertino/checkbox.dart
  packages/flutter/lib/src/cupertino/constants.dart
  packages/flutter/lib/src/cupertino/radio.dart
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/checkbox_test.dart
  packages/flutter/test/cupertino/radio_test.dart
Labels: framework, f: cupertino, autosubmit

#153180 Roll Packages from bb797b9338c8 to f7b12561aeb6 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#153182 Roll Flutter Engine from c9ec468c7592 to 4d5b1df96fc9 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153191 Roll Flutter Engine from 4d5b1df96fc9 to 2f577d8e3fa2 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153055 Spell check range error
  packages/flutter/lib/src/services/spell_check.dart
  packages/flutter/lib/src/widgets/spell_check.dart
  packages/flutter/test/services/spell_check_test.dart
  packages/flutter/test/widgets/spell_check_test.dart
Labels: framework

#153089 Expose affixes icon constraints in InputDecorationTheme
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, autosubmit

#153210 Roll Flutter Engine from 2f577d8e3fa2 to 3acd373923c9 (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153203 Move windows mokey tests to prod
  .ci.yaml
Labels: autosubmit

#153216 Roll Flutter Engine from 3acd373923c9 to 0560465ecd36 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153224 Roll Flutter Engine from 0560465ecd36 to 2c910fc878b6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#153215 [iOS] Copy Flutter.framework.dSYM into app archive
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
Labels: tool, autosubmit

#153229 Roll Flutter Engine from 2c910fc878b6 to c11fe483947c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#153233 Roll Flutter Engine from c11fe483947c to d409dcdc9b41 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153257 Roll Flutter Engine from d409dcdc9b41 to 1a5e2e58d3d4 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153262 Roll Flutter Engine from 1a5e2e58d3d4 to 5fea110c3b20 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#153291 Roll Packages from f7b12561aeb6 to d9a6de802e1f (9 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#153295 Roll Flutter Engine from 5fea110c3b20 to bcf2dcc09a13 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#151675 Upgrade module template AGP version
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
Labels: tool, autosubmit

#152981 Refactor: Deprecate inactiveColor from cupertino checkbox
  packages/flutter/lib/fix_data/fix_cupertino.yaml
  packages/flutter/lib/src/cupertino/checkbox.dart
  packages/flutter/test_fixes/cupertino/cupertino.dart
  packages/flutter/test_fixes/cupertino/cupertino.dart.expect
Labels: framework, f: cupertino, c: tech-debt, autosubmit

#152845 Implemented CupertinoButton new styles/sizes (fixes #92525)
  examples/api/lib/material/context_menu/editable_text_toolbar_builder.0.dart
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/lib/src/cupertino/constants.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar_button.dart
  packages/flutter/lib/src/cupertino/text_theme.dart
  packages/flutter/test/cupertino/button_test.dart
  packages/flutter/test/cupertino/text_theme_test.dart
  packages/flutter/test/cupertino/theme_test.dart
Labels: a: text input, framework, a: fidelity, f: cupertino, d: api docs, d: examples, will affect goldens, autosubmit

#153247 Disable DevTools when running the hot restart integration test in flutter_tools
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: tool, autosubmit

#153313 Roll Flutter Engine from bcf2dcc09a13 to 5d8ee52e985b (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153126 Make CupertinoButton interactive by keyboard shortcuts
  packages/flutter/lib/src/cupertino/button.dart
  packages/flutter/test/cupertino/button_test.dart
Labels: framework, f: cupertino, autosubmit

#153326 Roll Flutter Engine from 5d8ee52e985b to 07ecd90b7755 (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153325 Add fake dependency on flutter_gpu for the docs
  dev/tools/create_api_docs.dart
  dev/tools/test/create_api_docs_test.dart
Labels: autosubmit

#153332 Roll Flutter Engine from 07ecd90b7755 to af68e772d298 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153336 Roll Flutter Engine from af68e772d298 to adb1fa9fdbcf (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153338 Roll Flutter Engine from adb1fa9fdbcf to 9054eb43aa26 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153348 Roll Flutter Engine from 9054eb43aa26 to ba7225c6c068 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153351 Roll Flutter Engine from ba7225c6c068 to 9566b25c7319 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit
