Repository flutter/flutter, pull requests merged in 2024-09, with the labels that each got.

#154507 [native assets] Roll dependencies
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
Labels: tool, autosubmit

#154461 Improve microbenchmarks a smidge
  dev/benchmarks/microbenchmarks/README.md
  dev/benchmarks/microbenchmarks/lib/benchmark_collection.dart
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: autosubmit

#154510 Roll Packages from c9c000430163 to 848d7e915e21 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#154527 Remove unnecessary imports.
  dev/snippets/test/filesystem_resource_provider.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, autosubmit

#154456 sort part directives
  packages/flutter_tools/lib/src/reporting/reporting.dart
Labels: tool, autosubmit

#153319 Adds wide gamut framework test
  dev/integration_tests/wide_gamut_test/integration_test/app_test.dart
  dev/integration_tests/wide_gamut_test/lib/main.dart
Labels: autosubmit

#154464 Roll Flutter Engine from 2d56e448887f to a3504c2f347d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154430 [flutter_releases] Flutter stable 3.24.0 Framework Cherrypicks
  CHANGELOG.md
  bin/internal/engine.version
Labels: engine, autosubmit

#154473 Replace `ListTile` usage with `CupertinoListTile`
  packages/flutter/lib/src/cupertino/switch.dart
Labels: framework, f: cupertino, autosubmit

#154036 Refactor `CircularNotchedRectangle.getOuterPath()`
  packages/flutter/lib/src/painting/notched_shapes.dart
Labels: framework, autosubmit, refactor

#154405 Fix typing error in AutofillGroup docs
  packages/flutter/lib/src/widgets/autofill.dart
Labels: framework, autosubmit

#154462 Add Android SDK to Linux packages_autoroller
  .ci.yaml
Labels: autosubmit

#154568 Really make the seed stable to YYYY-MM-DD
  dev/devicelab/lib/tasks/microbenchmarks.dart
Labels: autosubmit

#154569 Roll Flutter Engine from a3504c2f347d to 537343143275 (17 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#154372 Revert #154339, remove bringup on linux customer testing
  .ci.yaml
Labels: autosubmit

#154577 Update customer test logging
  dev/customer_testing/lib/runner.dart
  dev/customer_testing/run_tests.dart
Labels: autosubmit

#150776 set onChangedField function to only update options with new results
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: framework, autosubmit, team-text-input

#153938 Switched CupertinoDynamicColor to `implements Color`
  packages/flutter/lib/src/cupertino/colors.dart
Labels: framework, f: cupertino, autosubmit

#154578 Roll Flutter Engine from 537343143275 to 872cbe8ff279 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154557 Tiny Fix in Docs for `SliverFixedExtentList` & `SliverVariedExtentList`
  packages/flutter/lib/src/widgets/sliver.dart
Labels: framework, f: scrolling, autosubmit

#154551 Tiny Fix in Docs for `SliverList.separated` & `SliverList.builder`
  packages/flutter/lib/src/widgets/sliver.dart
Labels: framework, f: scrolling, autosubmit

#154581 Roll Flutter Engine from 872cbe8ff279 to e04220209943 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154514 Prepare bots for not reporting UNUSED_IMPORT in presence of unresolved identifiers.
  dev/bots/test/analyze_snippet_code_test.dart
Labels: autosubmit

#154582 [CP] Add iOS dSYMs to codesign test
  dev/bots/suite_runners/run_verify_binaries_codesigned_tests.dart
Labels: autosubmit, team-release

#154377 Get reasonable output when a stream test fails.
  dev/devicelab/test/run_test.dart
Labels: autosubmit

#154212 Improve Documentation for ResizeImage Dimensions and Usage
  packages/flutter/lib/src/painting/image_provider.dart
Labels: framework, autosubmit

#154588 Roll Flutter Engine from 1e74e9ab10ce to 8d7d5ff693c6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154598 Roll Flutter Engine from 8d7d5ff693c6 to f78a77086dc5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154599 Roll Flutter Engine from f78a77086dc5 to 14a8b542e074 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#154550 Fix duplicate MaterialApp in api example test
  examples/api/test/material/material_state/material_state_border_side.0_test.dart
  examples/api/test/widgets/value_listenable_builder/value_listenable_builder.0_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#154604 Roll Flutter Engine from 14a8b542e074 to 68214414d327 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154617 Roll Flutter Engine from 68214414d327 to 3a235702c499 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154621 Roll Flutter Engine from 3a235702c499 to d6be2ac8ec01 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154625 Update changelog from 3.24.2 to master
  CHANGELOG.md
Labels: autosubmit

#151861 Make the Flutter Gradle Plugin apply `FlutterExtension` to (flutter) plugins
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
Labels: tool, autosubmit

#153805 Fixes an issue where itemExtent was incorrectly assigned to renderObject.minExtent
  packages/flutter/lib/src/material/carousel.dart
  packages/flutter/test/material/carousel_test.dart
Labels: framework, f: material design, autosubmit

#153256 added enabled to search anchor
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: framework, f: material design, autosubmit

#154591 iOS,macOS: Add list of expected-unsigned binaries
  dev/bots/suite_runners/run_verify_binaries_codesigned_tests.dart
Labels: autosubmit

#153951 Add minimum height for MaterialBanner
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/test/material/banner_test.dart
Labels: framework, f: material design, autosubmit

#154637 Roll Packages from 848d7e915e21 to e93995a89a7e (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#154636 iOS,macOS: Add list of expected-unsigned binaries
  dev/bots/suite_runners/run_verify_binaries_codesigned_tests.dart
Labels: autosubmit

#154638 Roll Flutter Engine from d6be2ac8ec01 to 8395337ff43f (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153973 Test of AppBarMediumApp and AppBarLargeApp
  dev/bots/check_code_samples.dart
  examples/api/test/material/app_bar/sliver_app_bar.2_test.dart
  examples/api/test/material/app_bar/sliver_app_bar.3_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, autosubmit

#154642 Roll Flutter Engine from 8395337ff43f to 4a01a3a04e32 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152950 [tool] Update `.gitignore` templates to include `.flutter-plugins` files
  packages/flutter_tools/templates/package/.gitignore.tmpl
  packages/flutter_tools/templates/package_ffi/.gitignore.tmpl
  packages/flutter_tools/templates/plugin_shared/.gitignore.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, autosubmit

#154434 Improve 'flutter downgrade' error message
  packages/flutter_tools/lib/src/commands/downgrade.dart
  packages/flutter_tools/test/commands.shard/hermetic/downgrade_test.dart
Labels: tool, autosubmit

#154653 Roll Flutter Engine from 4a01a3a04e32 to 652a43bc4055 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154655 Roll Flutter Engine from 652a43bc4055 to 4844cb489b3f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154661 Roll Flutter Engine from 4844cb489b3f to 34b61eb53b99 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#154669 Roll Packages from e93995a89a7e to 71e827e7df68 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#154672 Roll Flutter Engine from 34b61eb53b99 to a156e713f4dc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154057 Fix ZoomPageTransitionsBuilder hardcoded fill color
  AUTHORS
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
Labels: framework, f: material design, will affect goldens

#154678 Roll Flutter Engine from a156e713f4dc to e042ff5df7af (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154667 Fix DropdownMenu menu does not follow the text field
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#154677 Add proguard rule to keep the class for all implementations of FlutterPlugin
  packages/flutter_tools/gradle/flutter_proguard_rules.pro
Labels: tool, autosubmit

#154679 Roll Flutter Engine from e042ff5df7af to c50eb8a65097 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154684 iOS,macOS: Do not copy unsigned_binaries.txt to build outputs
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/artifact_updater_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
Labels: tool, autosubmit

#153982 Normalize Dialog theme
  dev/tools/gen_defaults/lib/dialog_template.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: framework, f: material design, autosubmit

#154691 Roll Flutter Engine from c50eb8a65097 to 015f3b1dec53 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154680 Made some pixel tests fuzzy
  packages/flutter/test/painting/decoration_test.dart
Labels: framework, autosubmit

#154649 Improve iOS unpack target's error messages
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
Labels: tool, autosubmit

#154689 Quick access to style guide
  docs/README.md
Labels: autosubmit, d: docs/

#154725 Roll Packages from 71e827e7df68 to 56df73e3c54c (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#151430 Improve CupertinoPopupSurface appearance
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/popup_surface_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#154363 [Conductor] Add ability to override mirror, add tests for default arg parsing and custom arg parsing
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/test/start_test.dart
Labels: autosubmit

#153099 [tool] Add `dartFileName` setting for platform plugins
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/platform_plugins.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
  packages/flutter_tools/test/general.shard/plugin_parsing_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/windows/plugins_test.dart
Labels: tool, a: desktop, autosubmit

#154048 Support custom transition duration for `DialogRoute`, `CupertinoDialogRoute` and show dialog methods.
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/material/dialog_test.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: framework, f: material design, f: cupertino, f: routes, autosubmit

#153159 Fix DropdownMenu focused item styles
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#154646 Adjust ButtonStyle.{foreground,icon}Color dartdocs for new behavior
  packages/flutter/lib/src/material/button_style.dart
Labels: framework, f: material design, autosubmit

#154715 Remove allowoptimization modifier from FlutterPlugin proguard rules
  packages/flutter_tools/gradle/flutter_proguard_rules.pro
Labels: tool, autosubmit

#154512 Fix Material 3 `AppBar.leading` action IconButtons
  packages/flutter/lib/src/material/action_buttons.dart
  packages/flutter/test/material/app_bar_sliver_test.dart
  packages/flutter/test/material/app_bar_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
Labels: framework, f: material design, f: scrolling, autosubmit

#154734 Roll Flutter Engine from c50eb8a65097 to 419fb8c0ab3e
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_driver_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/android/project-app.lockfile
  dev/integration_tests/flutter_gallery/android/project-video_player_android.lockfile
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/link_hook/pubspec.yaml
  dev/integration_tests/new_gallery/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/test/painting/decoration_image_lerp_test.dart
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: a: tests, tool, framework, engine, d: api docs, d: examples, will affect goldens, f: integration_test

#154764 Roll Flutter Engine from 419fb8c0ab3e to b9f9015ff986 (12 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#154769 Roll Flutter Engine from 419fb8c0ab3e to 7bf1169715d6 (14 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154782 Roll Flutter Engine from 7bf1169715d6 to 51d4402f17b4 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: warning: land on red to fix tree breakage, autosubmit

#154485 Fix TabBar crash with SliverAppBar
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/tabs_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#154791 Roll Flutter Engine from 51d4402f17b4 to 331fd5af8217 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#154794 Roll Flutter Engine from 331fd5af8217 to 117a7d0859ed (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154820 Roll Flutter Engine from 117a7d0859ed to 7e6d5c897a5a (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#154824 Roll Packages from 56df73e3c54c to b4e0fc1bc117 (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#150315 Expose foreground property of TextStyle in Icon widget
  packages/flutter/lib/src/widgets/icon.dart
  packages/flutter/test/widgets/icon_test.dart
Labels: framework, autosubmit

#154832 Roll Flutter Engine from 7e6d5c897a5a to 9822a711049c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154835 Roll Flutter Engine from 9822a711049c to 1b2656a5b8aa (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154844 Roll Flutter Engine from 1b2656a5b8aa to 813ad2db9796 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154847 Fix leaky tests.
  packages/flutter/test/widgets/heroes_test.dart
Labels: framework, autosubmit

#154445 Handle `ProcessException`s due to `git` missing on the host
  packages/flutter_tools/lib/runner.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/general.shard/runner/runner_test.dart
Labels: tool, autosubmit

#154849 Roll Flutter Engine from 813ad2db9796 to 7ad9e5ba962c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152815 Add scrim color parameter to _ZoomEnterTransitionPainter
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
Labels: framework, f: material design, autosubmit

#154695 un-break `ThemeData` equality
  dev/tools/gen_defaults/lib/segmented_button_template.dart
  examples/api/lib/material/input_decorator/input_decoration.widget_state.0.dart
  examples/api/lib/material/input_decorator/input_decoration.widget_state.1.dart
  examples/api/lib/material/list_tile/list_tile.3.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/lib/src/widgets/widget_state.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: a: text input, framework, f: material design, d: api docs, d: examples, autosubmit, refactor

#154855 Roll Flutter Engine from 7ad9e5ba962c to c18ecf9e4000 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154883 Roll Flutter Engine from c18ecf9e4000 to 656117fc8ba9 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154841 Improve tracing and fix packages_autoroller
  .ci.yaml
  dev/conductor/core/lib/src/git.dart
  dev/conductor/core/lib/src/packages_autoroller.dart
  dev/conductor/core/lib/src/repository.dart
  dev/conductor/core/lib/src/validate_checkout_post_gradle_regeneration.dart
  dev/conductor/core/test/packages_autoroller_test.dart
  packages/flutter_tools/lib/src/update_packages_pins.dart
Labels: tool, autosubmit

#154900 Roll Flutter Engine from 656117fc8ba9 to 3dc8b71f96cc (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154904 Roll Flutter Engine from 3dc8b71f96cc to 8a038a6f7099 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154921 Clean up `SnackBar` inherit theme data test
  packages/flutter/test/material/snack_bar_test.dart
Labels: framework, f: material design, autosubmit

#154926 Roll Packages from b4e0fc1bc117 to bb53e5d536ae (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#154757 Fix `flutter build aar` for modules that use a plugin
  .ci.yaml
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
Labels: tool, autosubmit

#154833 SearchBar context menu
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: a: text input, framework, f: material design

#154889 fix test `chrome.close can recover if getTab throws a StateError`
  packages/flutter_tools/test/web.shard/chrome_test.dart
Labels: tool, autosubmit

#152976 `CupertinoSlidingSegmentedControl` update
  packages/flutter/lib/src/cupertino/sliding_segmented_control.dart
  packages/flutter/test/cupertino/sliding_segmented_control_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#154945 Remove scheduler: luci from new `build_aar_module_test`
  .ci.yaml
Labels: autosubmit

#154948 Remove last `--disable-dart-dev` in `flutter/flutter`.
  dev/devicelab/lib/framework/runner.dart
Labels: autosubmit

#153890 fix unpack freezing app with animation duration zero
  packages/flutter/lib/src/widgets/sliver_tree.dart
  packages/flutter/test/widgets/sliver_tree_test.dart
Labels: framework, f: scrolling, autosubmit

#154306 handle EAGAIN (macOS) in ErrorHandlingProcessManager
  packages/flutter_tools/lib/src/base/error_handling_io.dart
  packages/flutter_tools/test/general.shard/base/error_handling_io_test.dart
Labels: tool, autosubmit

#154952 [flutter_releases] Flutter beta 3.26.0-0.1.pre Framework Cherrypicks
  bin/internal/engine.version
  bin/internal/release-candidate-branch.version
Labels: engine, autosubmit

#154954 Missing benchmarks for `foundation/all_elements_bench.dart`
  dev/benchmarks/microbenchmarks/lib/benchmark_collection.dart
Labels: autosubmit

#154953 Adds dart fixes for Color opacity functions
  packages/flutter/lib/fix_data/fix_painting.yaml
  packages/flutter/test_fixes/painting/painting.dart
  packages/flutter/test_fixes/painting/painting.dart.expect
Labels: framework, c: tech-debt, autosubmit

#154960 Roll Flutter Engine from 8a038a6f7099 to 60c15bc0f40e (15 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#154964 Migrate `apple-mobile-web-*` to `mobile-web-*`.
  dev/a11y_assessments/web/index.html
  dev/integration_tests/flutter_gallery/web/index.html
  dev/integration_tests/non_nullable/web/index.html
  dev/integration_tests/web/web/index.html
  dev/integration_tests/web/web/index_with_blocked_service_workers.html
  dev/integration_tests/web/web/index_with_flutterjs.html
  dev/integration_tests/web/web/index_with_flutterjs_custom_sw_version.html
  dev/integration_tests/web/web/index_with_flutterjs_el_nonce.html
  dev/integration_tests/web/web/index_with_flutterjs_el_tt_on.html
  dev/integration_tests/web/web/index_with_flutterjs_entrypoint_loaded.html
  dev/integration_tests/web/web/index_with_flutterjs_short.html
  dev/integration_tests/web/web/index_without_flutterjs.html
  dev/manual_tests/web/index.html
  examples/api/web/index.html
  packages/flutter_tools/templates/app_shared/web/index.html.tmpl
  packages/flutter_tools/test/web.shard/test_data/hot_reload_index_html_samples.dart
  packages/integration_test/example/web/index.html
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#154969 Roll Flutter Engine from 60c15bc0f40e to a26075f9b1e6 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154973 Roll Flutter Engine from a26075f9b1e6 to 52eeea075767 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154980 Roll Flutter Engine from b9c0b96c3316 to 35a3171b72c5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154984 Roll Flutter Engine from 35a3171b72c5 to 0a14c519ea4f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154380 [CP-stable] When shutting down chrome, guard the call to `ChromeConnection.getTab`
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/test/web.shard/chrome_test.dart
Labels: tool, autosubmit

#155022 Roll Flutter Engine from 54757dab9462 to 4eb729b7a5c4 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152836 Fix `flutter create` warning regarding Java compatibility
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, autosubmit

#154944 [CP-stable] Cherry pick "Fix `flutter build aar` for modules that use a plugin"
  .ci.yaml
  dev/devicelab/bin/tasks/build_aar_module_test.dart
  packages/flutter_tools/gradle/aar_init_script.gradle
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
Labels: tool, autosubmit

#154934 Migrate Color.toString() test, improves `equalsIgnoringHashCodes`
  packages/flutter/test/widgets/keep_alive_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, autosubmit

#154949 Update the signature of DDS launcher callback.
  packages/flutter_tools/lib/src/base/dds.dart
  packages/flutter_tools/test/general.shard/flutter_tester_device_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
Labels: tool, autosubmit

#150903 Add 'direction' allow to 'SegmentedButton' oriented vertically
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#151969 fix: Dropdown menu trying to access highlight element which doesn't exist when search and filters both are enabled
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#155031 Roll Flutter Engine from 4eb729b7a5c4 to ade8ef293bc6 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#155033 Roll Packages from bb53e5d536ae to 4c18648650ae (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#154645 Fix `flutter run` on Mac x64 hosts if Swift Package Manager is enabled
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/xcode_backend_test.dart
Labels: platform-ios, tool, autosubmit

#155044 [flutter_releases] Flutter stable 3.24.3 Framework Cherrypicks
  CHANGELOG.md
  bin/internal/engine.version
Labels: engine, autosubmit

#155046 Roll Flutter Engine from ade8ef293bc6 to ee5adf6d2ee1 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#153619 Factor out `Container` objects
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/material/navigation_drawer.dart
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/material/paginated_data_table.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/material/navigation_drawer_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/progress_indicator_test.dart
  packages/flutter/test/material/stepper_test.dart
  packages/flutter/test/widgets/interactive_viewer_test.dart
Labels: a: text input, framework, f: material design, autosubmit, refactor

#155052 iOS: update provisioning profile for 2024-2025 cert
  .ci.yaml
Labels: autosubmit

#155049 when setting up the log reader for a device during `flutter run`, discard any `RPCError` thrown due to the device being disconnected
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_helpers.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: tool, autosubmit

#155070 Manual roll to 48ddaf578fb0c8326d5b4b680b0f49ea72e33216
  bin/internal/engine.version
  dev/a11y_assessments/android/project-app.lockfile
  dev/benchmarks/complex_layout/android/project-app.lockfile
  dev/benchmarks/complex_layout/android/project-integration_test.lockfile
  dev/benchmarks/macrobenchmarks/android/project-app.lockfile
  dev/benchmarks/macrobenchmarks/android/project-integration_test.lockfile
  dev/benchmarks/platform_views_layout/android/project-app.lockfile
  dev/benchmarks/platform_views_layout/android/project-google_mobile_ads.lockfile
  dev/benchmarks/platform_views_layout/android/project-webview_flutter_android.lockfile
  dev/benchmarks/platform_views_layout_hybrid_composition/android/project-app.lockfile
  dev/benchmarks/test_apps/stocks/android/project-app.lockfile
  dev/integration_tests/abstract_method_smoke_test/android/project-app.lockfile
  dev/integration_tests/android_embedding_v2_smoke_test/android/project-app.lockfile
  dev/integration_tests/android_semantics_testing/android/project-app.lockfile
  dev/integration_tests/android_semantics_testing/android/project-integration_test.lockfile
  dev/integration_tests/android_verified_input/android/project-app.lockfile
  dev/integration_tests/android_views/android/project-app.lockfile
  dev/integration_tests/android_views/android/project-path_provider_android.lockfile
  dev/integration_tests/channels/android/project-app.lockfile
  dev/integration_tests/channels/android/project-integration_test.lockfile
  dev/integration_tests/external_textures/android/project-app.lockfile
  dev/integration_tests/flavors/android/project-app.lockfile
  dev/integration_tests/flavors/android/project-integration_test.lockfile
  dev/integration_tests/flutter_gallery/android/project-app.lockfile
  dev/integration_tests/flutter_gallery/android/project-integration_test.lockfile
  dev/integration_tests/flutter_gallery/android/project-url_launcher_android.lockfile
  dev/integration_tests/flutter_gallery/android/project-video_player_android.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-app.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-camera_android_camerax.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-flutter_plugin_android_lifecycle.lockfile
  dev/integration_tests/hybrid_android_views/android/project-app.lockfile
  dev/integration_tests/hybrid_android_views/android/project-path_provider_android.lockfile
  dev/integration_tests/non_nullable/android/project-app.lockfile
  dev/integration_tests/platform_interaction/android/project-app.lockfile
  dev/integration_tests/release_smoke_test/android/project-app.lockfile
  dev/integration_tests/release_smoke_test/android/project-integration_test.lockfile
  dev/integration_tests/spell_check/android/project-app.lockfile
  dev/integration_tests/spell_check/android/project-integration_test.lockfile
  dev/integration_tests/ui/android/project-app.lockfile
  dev/integration_tests/ui/android/project-integration_test.lockfile
  dev/manual_tests/android/project-app.lockfile
  dev/tools/bin/generate_gradle_lockfiles.dart
  examples/flutter_view/android/project-app.lockfile
  examples/hello_world/android/project-app.lockfile
  examples/image_list/android/project-app.lockfile
  examples/layers/android/project-app.lockfile
  examples/platform_channel/android/project-app.lockfile
  examples/platform_view/android/project-app.lockfile
  packages/integration_test/example/android/project-app.lockfile
  packages/integration_test/example/android/project-integration_test.lockfile
Labels: a: tests, framework, engine, d: examples, f: integration_test, autosubmit

#155103 Roll Packages from 4c18648650ae to 91caa7a6e3dd (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#155101 iOS: update provisioning profile for 2024-2025 cert
  .ci.yaml
Labels: autosubmit

#155109 update changelog on master
  CHANGELOG.md
Labels: autosubmit

#154522 fix(Linux): specify application id
  packages/flutter_tools/templates/app_shared/linux.tmpl/my_application.cc.tmpl
Labels: tool, autosubmit

#154584 Prevent the keyboard from reshowing on iOS
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#155128 Roll Flutter Engine from 48ddaf578fb0 to 8609af642725 (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#155130 Address frame policy benchmark flakes
  dev/benchmarks/microbenchmarks/lib/layout/text_intrinsic_bench.dart
  dev/benchmarks/microbenchmarks/lib/stocks/build_bench.dart
  packages/flutter_test/lib/src/binding.dart
  packages/flutter_test/lib/src/widget_tester.dart
Labels: a: tests, a: text input, framework, autosubmit

#155111 Disable fuchsia in flutter_tools
  packages/flutter_tools/lib/src/fuchsia/fuchsia_sdk.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_start_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_device_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_ffx_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_kernel_compiler_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_pm_test.dart
  packages/flutter_tools/test/general.shard/fuchsia/fuchsia_workflow_test.dart
Labels: tool, autosubmit

#155134 Roll Flutter Engine from 8609af642725 to 4d5fea97e933 (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154694 Mark `_LayoutBuilderElement` as always clean
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/layout_builder_test.dart
Labels: framework, autosubmit

#155136 Roll Flutter Engine from 4d5fea97e933 to 3d8163f47919 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155138 Roll Flutter Engine from 3d8163f47919 to 04802b779045 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#155144 Roll Flutter Engine from 04802b779045 to 94696ed75dea (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154916 Fix TextField content should be selected on desktop when gaining focus
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/adaptive_text_selection_toolbar_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#155147 Roll Flutter Engine from 94696ed75dea to d917a15823f3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155151 Roll Flutter Engine from d917a15823f3 to 70109e3b40c0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#155156 Roll Flutter Engine from 70109e3b40c0 to bef48e87f438 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#154912 Stop reading .packages from flutter_tools.
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/dart/package_map.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/android/android_device_test.dart
  packages/flutter_tools/test/general.shard/application_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_flavors_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_fonts_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_bundle_variant_test.dart
  packages/flutter_tools/test/general.shard/asset_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/android_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/assets_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/commands/flutter_root_test.dart
  packages/flutter_tools/test/general.shard/compile_batch_test.dart
  packages/flutter_tools/test/general.shard/custom_devices/custom_device_test.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_project_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/ios/simulators_test.dart
  packages/flutter_tools/test/general.shard/isolated/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/linux/linux_device_test.dart
  packages/flutter_tools/test/general.shard/macos/macos_device_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/runner/local_engine_test.dart
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_ddc_modules_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
  packages/flutter_tools/test/general.shard/web/migrations/scrub_generated_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/windows/windows_device_test.dart
  packages/flutter_tools/test/integration.shard/command_output_test.dart
  packages/flutter_tools/test/integration.shard/test_data/project.dart
  packages/flutter_tools/test/integration.shard/test_utils.dart
Labels: tool, a: desktop

#151026 Fix: Flicker when reorderable list doesn't change its position
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
Labels: framework, autosubmit

#155171 Roll Packages from 91caa7a6e3dd to 330581face4b (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit
