Repository flutter/flutter, pull requests merged in 2024-06, with the labels that each got.

#149462 Roll Flutter Engine from 990f1ceac5d5 to 40b868efcc46 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149467 Roll Flutter Engine from 40b868efcc46 to b0f4d7459708 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149468 Roll Flutter Engine from b0f4d7459708 to d81edf635a9f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149590 Roll Flutter Engine from d81edf635a9f to ea72558be758 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#149545 Cleanup triage reports from docs/
  docs/triage/README.md
  docs/wiki_archive/Nevercode [TBD]/2021---Issue-Triage-Reports.md
  docs/wiki_archive/Nevercode [TBD]/2022---Issue-Triage-Reports.md
  docs/wiki_archive/Nevercode [TBD]/2023-Issue-Triage-Reports.md
  docs/wiki_archive/Nevercode [TBD]/2024-Issue-Triage-Reports.md
  docs/wiki_archive/Nevercode [TBD]/Issue-triage-reports.md
Labels: autosubmit, d: docs/

#149567 Move some benchmarks from MotoG4 to Mokey
  .ci.yaml
Labels: will affect goldens

#149303 Reland "Prevent LayoutBuilder from rebuilding more than once (#147856)"
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/layout_builder_and_global_keys_test.dart
  packages/flutter/test/widgets/layout_builder_and_state_test.dart
  packages/flutter/test/widgets/layout_builder_test.dart
  packages/flutter/test/widgets/overlay_portal_test.dart
Labels: framework, autosubmit

#149147 Add a simplified SimpleCascadingMenuApp example
  examples/api/lib/material/menu_anchor/menu_anchor.3.dart
  examples/api/test/material/menu_anchor/menu_anchor.3_test.dart
  packages/flutter/lib/src/material/menu_anchor.dart
Labels: framework, f: material design, d: api docs, d: examples, will affect goldens, autosubmit

#148741 update generated localized message files in the stocks test app
  dev/benchmarks/test_apps/stocks/lib/i18n/regenerate.md
  dev/benchmarks/test_apps/stocks/lib/i18n/stock_strings.dart
  dev/benchmarks/test_apps/stocks/lib/i18n/stock_strings_en.dart
  dev/benchmarks/test_apps/stocks/lib/i18n/stock_strings_es.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_templates.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, autosubmit

#143939 Added filter callback on dropdown menu
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, will affect goldens

#149595 Fix InputDecorator.prefixIcon color when disabled
  dev/tools/gen_defaults/generated/used_tokens.csv
  dev/tools/gen_defaults/lib/input_decorator_template.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, autosubmit

#149542 [CupertinoActionSheet] Fix overflow of the overscroll section when the user scrolls far
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#148739 Support failures-only and silent reporters in `flutter test`
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
Labels: tool, autosubmit

#148423 Fixes multi line textfield hint text gets ellipsized
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#149614 Switch to triage-* labels for platform package triage
  docs/triage/README.md
Labels: autosubmit, d: docs/

#149299 Place `flutter_gpu` in the package cache.
  packages/flutter_tools/lib/src/flutter_cache.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, autosubmit, flutter-gpu

#149623 Roll Flutter Engine from ea72558be758 to 60a7bb2353b6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149627 Roll Flutter Engine from 60a7bb2353b6 to a6aa5d826649 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149439 Fix the scrolling layout deviation of `CupertinoActionSheet`
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, autosubmit

#149658 Roll Flutter Engine from a6aa5d826649 to e211c43f3dc1 (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, will affect goldens, autosubmit

#149348 Allow `find.byTooltip` to use a RegEx
  packages/flutter_test/lib/src/finders.dart
  packages/flutter_test/test/finders_test.dart
Labels: a: tests, framework, autosubmit

#149680 Roll Flutter Engine from e211c43f3dc1 to fe00f023666c (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149618 Disable sandboxing for macOS apps and tests in CI
  dev/devicelab/lib/framework/ios.dart
  packages/flutter_tools/lib/src/commands/build_macos.dart
  packages/flutter_tools/lib/src/desktop_device.dart
  packages/flutter_tools/lib/src/linux/linux_device.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/macos_device.dart
  packages/flutter_tools/lib/src/macos/macos_ipad_device.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/windows/windows_device.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/desktop_device_test.dart
Labels: tool, a: desktop, autosubmit

#146654 Scrollbar thumb drag gestures now produce one start and one end scroll notification
  examples/api/lib/widgets/scroll_end_notification/scroll_end_notification.0.dart
  examples/api/lib/widgets/scroll_position/is_scrolling_listener.0.dart
  examples/api/test/widgets/scroll_end_notification/scroll_end_notification.0_test.dart
  examples/api/test/widgets/scroll_position/is_scrolling_listener.0_test.dart
  packages/flutter/lib/src/widgets/scroll_notification.dart
  packages/flutter/lib/src/widgets/scroll_position.dart
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scroll_notification_test.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, autosubmit

#149671 Prepares semantics_update_test for upcoming heading level changes
  packages/flutter/test/semantics/semantics_update_test.dart
Labels: framework, a: accessibility, autosubmit

#149692 Roll Flutter Engine from fe00f023666c to 3dd40156afb6 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147171 TreeSliver & associated classes
  examples/api/lib/widgets/sliver/sliver_tree.0.dart
  examples/api/lib/widgets/sliver/sliver_tree.1.dart
  examples/api/test/widgets/sliver/sliver_tree.0_test.dart
  examples/api/test/widgets/sliver/sliver_tree.1_test.dart
  packages/flutter/lib/rendering.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/rendering/sliver_tree.dart
  packages/flutter/lib/src/widgets/sliver_tree.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/rendering/sliver_tree_test.dart
  packages/flutter/test/widgets/sliver_tree_test.dart
Labels: c: new feature, framework, f: scrolling, d: api docs, d: examples, autosubmit

#149695 Roll Flutter Engine from 3dd40156afb6 to e88469090fed (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142942 Request focus if `SemanticsAction.focus` is sent to a focusable widget
  dev/integration_tests/flutter_gallery/test/demo/material/chip_demo_test.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/cupertino/checkbox_test.dart
  packages/flutter/test/cupertino/radio_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
  packages/flutter/test/material/card_test.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
  packages/flutter/test/material/drawer_button_test.dart
  packages/flutter/test/material/drawer_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/expand_icon_test.dart
  packages/flutter/test/material/expansion_panel_test.dart
  packages/flutter/test/material/expansion_tile_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/material_button_test.dart
  packages/flutter/test/material/menu_anchor_test.dart
  packages/flutter/test/material/navigation_bar_test.dart
  packages/flutter/test/material/navigation_drawer_test.dart
  packages/flutter/test/material/navigation_rail_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/segmented_button_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/material/user_accounts_drawer_header_test.dart
  packages/flutter/test/widgets/absorb_pointer_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter/test/widgets/gesture_detector_semantics_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, a: text input, framework, f: material design, a: accessibility, f: cupertino, f: routes, f: focus, autosubmit

#149208 [CP-stable] Remove `TextEditingController` private member access (#149042)
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#149694 make output of flutter run web tests verbose
  dev/bots/suite_runners/run_web_tests.dart
Labels: autosubmit

#149752 [flutter_releases] Flutter stable 3.22.2 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine, autosubmit

#149639 [CP] Fix TwoDimensionalViewport's keep alive child not always removed (when no longer should be kept alive)
  packages/flutter/lib/src/widgets/two_dimensional_viewport.dart
  packages/flutter/test/widgets/two_dimensional_utils.dart
  packages/flutter/test/widgets/two_dimensional_viewport_test.dart
Labels: framework, f: scrolling, cp: review, cp: approved, autosubmit

#149637 Remove temporary LayoutBuilder migration flag, defer `markNeedsLayout`
  packages/flutter/lib/src/widgets/layout_builder.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/layout_builder_and_global_keys_test.dart
  packages/flutter/test/widgets/layout_builder_test.dart
Labels: framework, autosubmit

#148094 Create CarouselView widget - Part 1
  examples/api/lib/material/carousel/carousel.0.dart
  examples/api/test/material/carousel/carousel.0_test.dart
  packages/flutter/lib/material.dart
  packages/flutter/lib/src/material/carousel.dart
  packages/flutter/test/material/carousel_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#149746 Remove unused code from an older test artifact.
  dev/integration_tests/android_host_app/.gradle/6.3/fileChanges/last-build.bin
  dev/integration_tests/android_host_app/.gradle/6.3/gc.properties
  dev/integration_tests/android_host_app/.gradle/vcs-1/gc.properties
Labels: autosubmit

#149770 Roll Flutter Engine from 11a32d43e3f6 to f37733035060 (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#149705 Add `contrastLevel` parameter to `ColorScheme.fromSeed`
  examples/api/lib/material/color_scheme/color_scheme.0.dart
  examples/api/test/material/color_scheme/color_scheme.0_test.dart
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/test/material/color_scheme_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#149767 Send q once
  dev/bots/suite_runners/run_web_tests.dart
Labels: autosubmit

#149763 Fixes Router transaction to respect operation order
  packages/flutter/lib/src/widgets/router.dart
  packages/flutter/test/widgets/router_test.dart
Labels: framework, f: routes, autosubmit

#149696 Remove abi key from local golden file testing
  packages/flutter_goldens/lib/skia_client.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, framework, autosubmit

#149778 Roll Flutter Engine from f37733035060 to f51e0ad3abbe (3 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#149440 [flutter_releases] Flutter beta 3.23.0-0.0.pre Framework Cherrypicks
  bin/internal/engine.version
  bin/internal/release-candidate-branch.version
Labels: engine, autosubmit

#149785 Roll Flutter Engine from f51e0ad3abbe to 0edca2e9d3d2 (8 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149786 Roll Flutter Engine from 0edca2e9d3d2 to 32c3b9b7cbe1 (2 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#149789 Roll Flutter Engine from 32c3b9b7cbe1 to 92d0cd9370f7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149643 Fix InputDecorator suffixIcon color when in error and hovered
  dev/tools/gen_defaults/generated/used_tokens.csv
  dev/tools/gen_defaults/lib/input_decorator_template.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, autosubmit

#149793 Roll Flutter Engine from 92d0cd9370f7 to d9684a37af06 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149821 Fix some links in the "Handling breaking change" section
  docs/contributing/Tree-hygiene.md
Labels: team, framework, autosubmit, d: docs/

#149820 Roll Packages from 11e192a86db3 to 586faa631499 (13 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#149832 Roll Flutter Engine from d9684a37af06 to f5a9690c6061 (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149822 Fix leaky test.
  packages/flutter/test/widgets/router_test.dart
Labels: framework, f: routes, a: leak tracking

#149835 Roll Flutter Engine from f5a9690c6061 to 25bcbb888939 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149245 Introduce `ChipAnimationStyle` to override default chips animations durations
  examples/api/lib/material/chip/chip_attributes.chip_animation_style.0.dart
  examples/api/test/material/chip/chip_attributes.chip_animation_style.0_test.dart
  packages/flutter/lib/src/material/action_chip.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/choice_chip.dart
  packages/flutter/lib/src/material/filter_chip.dart
  packages/flutter/lib/src/material/input_chip.dart
  packages/flutter/test/material/action_chip_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/choice_chip_test.dart
  packages/flutter/test/material/filter_chip_test.dart
  packages/flutter/test/material/input_chip_test.dart
Labels: framework, a: animation, f: material design, d: api docs, d: examples, autosubmit

#149837 Roll Flutter Engine from 25bcbb888939 to 31804a222f97 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#149818 3.22.2 release notes
  docs/releases/Hotfixes-to-the-Stable-Channel.md
Labels: autosubmit, team-release, d: docs/

#125771 Add support for setting the heading level for web semantics (#97894)
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, framework, a: accessibility, autosubmit

#149848 Roll Flutter Engine from 31804a222f97 to bf1a4877da0b (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149823 Fix leaky test.
  packages/flutter/test/material/carousel_test.dart
Labels: framework, f: material design, autosubmit

#149827 Run tests on macOS 13 or 14
  .ci.yaml
Labels: will affect goldens, autosubmit

#143325 SliverResizingHeader
  examples/api/lib/widgets/sliver/sliver_resizing_header.0.dart
  examples/api/test/widgets/sliver/sliver_resizing_header.0_test.dart
  packages/flutter/lib/src/widgets/sliver_resizing_header.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/sliver_resizing_header_test.dart
Labels: c: new feature, framework, f: scrolling, d: api docs, d: examples, autosubmit

#149471 [CupertinoActionSheet] Add sliding tap gesture
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#149858 Remove abi key permanently from golden file testing
  docs/contributing/testing/Writing-a-golden-file-test-for-package-flutter.md
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/lib/skia_client.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, team, framework, autosubmit, d: docs/

#149828 Attempt to fix some web test flakiness.
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: tool, will affect goldens, autosubmit

#149361 Remove some vestigial /*!*/ comments
  packages/flutter_goldens/lib/skia_client.dart
Labels: a: tests, framework, autosubmit

#149861 Roll Flutter Engine from bf1a4877da0b to 5a0a49939c64 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149865 Roll Flutter Engine from 5a0a49939c64 to fea8e51b0280 (2 revisions)
  bin/internal/engine.version
Labels: engine, will affect goldens, autosubmit

#149867 Roll Flutter Engine from fea8e51b0280 to 5d5e0ee9102c (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149870 Roll Flutter Engine from 5d5e0ee9102c to 47b15dfba1da (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149871 Roll Flutter Engine from 47b15dfba1da to 087feab9922b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149761 [native_assets] Fix framework name deduplication
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
Labels: tool, a: desktop, autosubmit

#149225 Add test for standard_fab_location.0.dart
  dev/bots/check_code_samples.dart
  examples/api/test/material/floating_action_button_location/standard_fab_location.0_test.dart
Labels: framework, d: api docs, d: examples, will affect goldens, autosubmit

#149547 Add test for dropdown_menu.1.dart
  dev/bots/check_code_samples.dart
  examples/api/test/material/dropdown_menu/dropdown_menu.1_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#149850 Refactor `widget_inspector_test.dart`
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework, autosubmit

#149875 Roll Flutter Engine from 087feab9922b to 98e9393bf2e9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#149899 Roll Flutter Engine from 98e9393bf2e9 to 1cdbebee1901 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149900 Roll Packages from 586faa631499 to 8a2c4e499973 (8 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#149902 Shift consistently passing tests on mokey to prod
  .ci.yaml
Labels: autosubmit

#149739 Fix `SegmentedButton` clipping when drawing segments
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design, autosubmit

#149918 Revert "Identify and re-throw our dependency checking errors in `flutter.groovy` (#149609)"
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/kotlin/dependency_version_checker.gradle.kts
Labels: tool, autosubmit

#149923 Fix test case in "getRootWidgetSummaryTree" test
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework

#143196 PinnedHeaderSliver
  examples/api/lib/widgets/sliver/pinned_header_sliver.0.dart
  examples/api/test/widgets/sliver/pinned_header_sliver.0_test.dart
  packages/flutter/lib/src/widgets/pinned_header_sliver.dart
  packages/flutter/lib/src/widgets/sliver_resizing_header.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/pinned_header_sliver_test.dart
Labels: c: new feature, framework, f: scrolling, d: api docs, d: examples, autosubmit

#149930 Refactor `getRootWidgetSummaryTree` tests in `widget_inspector_test.dart`
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework

#149944 Roll Flutter Engine from 1cdbebee1901 to 45cf05f7a580 (10 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, will affect goldens, autosubmit

#149568 [CupertinoActionSheet] Match colors to native
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#149995 Remove package:platform from issue template
  .github/ISSUE_TEMPLATE/9_first_party_packages.yml
Labels: autosubmit

#149926 Retain the toString method for subclasses of Key in profile/release mode
  dev/integration_tests/release_smoke_test/lib/main.dart
  packages/flutter/lib/src/foundation/key.dart
Labels: framework, autosubmit

#149773 [web] Change `--web-renderer` default from `auto` to `canvaskit`
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/compiler_config.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_defines_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
Labels: tool, autosubmit

#149698 Update hasTrailingSpaces
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/painting/text_painter_test.dart
Labels: a: text input, framework, autosubmit

#149941 Cut no-longer-accurate microtask reference in finalizeTree doc
  packages/flutter/lib/src/widgets/framework.dart
Labels: framework, autosubmit

#145500 [web] Notify engine of handled PointerScrollEvents.
  packages/flutter/lib/src/gestures/converter.dart
  packages/flutter/lib/src/gestures/events.dart
  packages/flutter/lib/src/gestures/pointer_signal_resolver.dart
  packages/flutter/lib/src/widgets/scrollable.dart
  packages/flutter/test/gestures/pointer_signal_resolver_test.dart
  packages/flutter/test/widgets/scrollable_test.dart
  packages/flutter_test/lib/src/test_pointer.dart
Labels: a: tests, framework, f: scrolling, f: gestures, autosubmit

#149997 Roll Packages from 8a2c4e499973 to e95fe4a0cd3a (3 revisions)
  bin/internal/flutter_packages.version
Labels: will affect goldens, autosubmit

#149996 Use const bool.fromEnvironment("dart.tool.dart2wasm") to detect dart2wasm
  packages/flutter/lib/src/foundation/constants.dart
Labels: framework, will affect goldens

#150007 Fixes TextField hinttext in a11y_assessment
  dev/a11y_assessments/lib/use_cases/text_field.dart
  dev/a11y_assessments/lib/use_cases/text_field_password.dart
  dev/a11y_assessments/test/text_field_password_test.dart
  dev/a11y_assessments/test/text_field_test.dart
Labels: a: text input, autosubmit

#150009 Temporarily run Mac_arm64 framework_tests_misc on only Mac-13
  .ci.yaml
Labels: autosubmit

#150015 Reland: [CupertinoActionSheet] Match colors to native (#149568)
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino

#150014 Fixes a bug where NavigatorState.pop does not consider any possible s…
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, f: routes, autosubmit

#150017 Unpin `camera_android` and remove its only usage
  dev/integration_tests/gradle_deprecated_settings/android/project-camera_android.lockfile
  packages/flutter_tools/lib/src/update_packages_pins.dart
Labels: tool, autosubmit

#149976 Fix copy-paste-o in MethodChannel.invokeListMethod doc
  packages/flutter/lib/src/services/platform_channel.dart
Labels: framework, will affect goldens, autosubmit

#150019 [docs] Per-platform desktop triage instructions
  docs/triage/README.md
Labels: autosubmit, d: docs/

#150025 Manual Pub Roll
  dev/integration_tests/flutter_gallery/android/project-app.lockfile
  dev/integration_tests/flutter_gallery/android/project-video_player_android.lockfile
  dev/integration_tests/flutter_gallery/pubspec.yaml
Labels: autosubmit

#149779 Add high-contrast theme
  dev/a11y_assessments/lib/main.dart
  dev/a11y_assessments/test/home_page_test.dart
Labels: autosubmit

#149383 Add tests for scaffold drawer and end drawer
  dev/bots/check_code_samples.dart
  examples/api/test/material/scaffold/scaffold.drawer.0_test.dart
  examples/api/test/material/scaffold/scaffold.end_drawer.0_test.dart
Labels: framework, d: api docs, d: examples, will affect goldens, autosubmit

#150018 Fix `ColorScheme` example and tests
  examples/api/lib/material/color_scheme/color_scheme.0.dart
  examples/api/test/material/color_scheme/color_scheme.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#150051 Roll Packages from e95fe4a0cd3a to 8c24fd4ec947 (7 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#150069 Roll Flutter Engine from 1cdbebee1901 to c7fcbfce608f (54 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, will affect goldens, autosubmit

#149877 closes #issue136763, changed a command to generate gradle error message according to platform
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, will affect goldens, autosubmit

#150010 Add new `WidgetInspector` service extension: `getRootWidgetTree`
  packages/flutter/lib/src/widgets/service_extensions.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/foundation/service_extensions_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework, autosubmit

#150055 Remove double MaterialApp wrap from api samples
  examples/api/test/material/action_buttons/action_icon_theme.0_test.dart
  examples/api/test/material/dialog/adaptive_alert_dialog.0_test.dart
  examples/api/test/material/dialog/alert_dialog.0_test.dart
  examples/api/test/material/dialog/alert_dialog.1_test.dart
  examples/api/test/material/dialog/dialog.0_test.dart
  examples/api/test/material/dialog/show_dialog.0_test.dart
  examples/api/test/material/dialog/show_dialog.1_test.dart
  examples/api/test/material/dialog/show_dialog.2_test.dart
  examples/api/test/material/divider/divider.0_test.dart
  examples/api/test/material/divider/divider.1_test.dart
  examples/api/test/material/divider/vertical_divider.0_test.dart
  examples/api/test/material/divider/vertical_divider.1_test.dart
  examples/api/test/material/dropdown/dropdown_button.0_test.dart
  examples/api/test/material/dropdown/dropdown_button.selected_item_builder.0_test.dart
  examples/api/test/material/dropdown/dropdown_button.style.0_test.dart
  examples/api/test/material/popup_menu/popup_menu.0_test.dart
  examples/api/test/material/popup_menu/popup_menu.1_test.dart
  examples/api/test/material/reorderable_list/reorderable_list_view.build_default_drag_handles.0_test.dart
  examples/api/test/material/reorderable_list/reorderable_list_view.reorderable_list_view_builder.0_test.dart
  examples/api/test/material/time_picker/show_time_picker.0_test.dart
  examples/api/test/material/toggle_buttons/toggle_buttons.0_test.dart
  examples/api/test/widgets/basic/custom_multi_child_layout.0_test.dart
  examples/api/test/widgets/basic/mouse_region.0_test.dart
  examples/api/test/widgets/basic/mouse_region.on_exit.0_test.dart
  examples/api/test/widgets/basic/mouse_region.on_exit.1_test.dart
  examples/api/test/widgets/basic/offstage.0_test.dart
  examples/api/test/widgets/basic/physical_shape.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#149737 Fix DropdownMenu can be focused and updated when disabled
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#150047 Reland "Add tests for scaffold drawer and end drawer" (#150045)
  dev/bots/check_code_samples.dart
  examples/api/test/material/scaffold/scaffold.drawer.0_test.dart
  examples/api/test/material/scaffold/scaffold.end_drawer.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#149682 Add a doc for the flutter/packages gardener
  docs/infra/Packages-Gardener-Rotation.md
Labels: team-infra, autosubmit, d: docs/

#150115 Roll Packages from 8c24fd4ec947 to 260102b64c0f (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#149933 Update to Chrome for Testing 125, since we haven't updated in a bit.
  .ci.yaml
Labels: will affect goldens, autosubmit

#149681 Add mouse cursor property to `CupertinoRadio`
  packages/flutter/lib/src/cupertino/radio.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/test/cupertino/radio_test.dart
Labels: framework, f: material design, f: cupertino, autosubmit

#150124 Update packages desktop PR triage link lables
  docs/triage/README.md
Labels: autosubmit, d: docs/

#150071 Fix markdown hyperlinks in the style guide
  docs/contributing/Style-guide-for-Flutter-repo.md
  docs/wiki_archive/Workarounds-for-common-issues.md
Labels: team, framework, autosubmit, d: docs/

#150090 [Reland] Fix `SegmentedButton` clipping when drawing segments (#149739)
  packages/flutter/lib/src/material/segmented_button.dart
  packages/flutter/test/material/segmented_button_test.dart
Labels: framework, f: material design, autosubmit

#150081 Update WidgetStatesController docs
  packages/flutter/lib/src/widgets/widget_state.dart
Labels: framework, autosubmit

#149840 Reland: Request focus if accessibility focus is given to a Focus widget (#142942)
  dev/integration_tests/flutter_gallery/test/demo/material/chip_demo_test.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/cupertino/checkbox_test.dart
  packages/flutter/test/cupertino/radio_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/back_button_test.dart
  packages/flutter/test/material/bottom_navigation_bar_test.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
  packages/flutter/test/material/card_test.dart
  packages/flutter/test/material/checkbox_list_tile_test.dart
  packages/flutter/test/material/checkbox_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
  packages/flutter/test/material/drawer_button_test.dart
  packages/flutter/test/material/drawer_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/expand_icon_test.dart
  packages/flutter/test/material/expansion_panel_test.dart
  packages/flutter/test/material/expansion_tile_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/floating_action_button_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/ink_well_test.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/material_button_test.dart
  packages/flutter/test/material/menu_anchor_test.dart
  packages/flutter/test/material/navigation_bar_test.dart
  packages/flutter/test/material/navigation_drawer_test.dart
  packages/flutter/test/material/navigation_rail_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/popup_menu_test.dart
  packages/flutter/test/material/radio_list_tile_test.dart
  packages/flutter/test/material/radio_test.dart
  packages/flutter/test/material/raw_material_button_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/segmented_button_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/switch_list_tile_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/material/toggle_buttons_test.dart
  packages/flutter/test/material/user_accounts_drawer_header_test.dart
  packages/flutter/test/widgets/absorb_pointer_test.dart
  packages/flutter/test/widgets/actions_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/drawer_test.dart
  packages/flutter/test/widgets/focus_scope_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter/test/widgets/gesture_detector_semantics_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, a: text input, framework, f: material design, a: accessibility, f: cupertino, f: routes, f: focus, autosubmit

#150052 Improve build time when using SwiftPM
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/test/general.shard/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_utils.dart
Labels: tool, autosubmit

#150129 Reland 2: [CupertinoActionSheet] Match colors to native
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#150142 Revert "Reland 2: [CupertinoActionSheet] Match colors to native"
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, revert

#150141 Update testowners
  TESTOWNERS
Labels: autosubmit

#149925 RawScrollbar: don't listen for drag gestures when scrolling is not possible
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, autosubmit

#150147 Revert "[CupertinoActionSheet] Add sliding tap gesture"
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, autosubmit

#150198 Roll Packages from 260102b64c0f to 7805455bf627 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#150111 Replace InputDecorator M3 golden test
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, will affect goldens

#150208 Roll Flutter Engine from 4cb3025d3abf to 8167dffd1914 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#149876 [Reland] Introduce `ChipAnimationStyle` to override default chips animations durations
  examples/api/lib/material/chip/chip_attributes.chip_animation_style.0.dart
  examples/api/test/material/chip/chip_attributes.chip_animation_style.0_test.dart
  packages/flutter/lib/src/material/action_chip.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/lib/src/material/choice_chip.dart
  packages/flutter/lib/src/material/filter_chip.dart
  packages/flutter/lib/src/material/input_chip.dart
  packages/flutter/test/material/action_chip_test.dart
  packages/flutter/test/material/chip_test.dart
  packages/flutter/test/material/choice_chip_test.dart
  packages/flutter/test/material/filter_chip_test.dart
  packages/flutter/test/material/input_chip_test.dart
Labels: framework, a: animation, f: material design, d: api docs, d: examples, will affect goldens, autosubmit

#150138 Suppress Flutter update check if `--machine` is present at all.
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_runner_test.dart
Labels: tool, autosubmit

#150180 Use --(no-)strip-wams instead of --(no-)-name-section in `dart compile wasm`
  packages/flutter_tools/lib/src/web/compiler_config.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: tool, will affect goldens

#150128 Reland "Identify and re-throw our dependency checking errors in flutter.groovy"
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/kotlin/dependency_version_checker.gradle.kts
Labels: tool, autosubmit

#150213 Bump new release for a11y_assessment
  dev/a11y_assessments/README.md
  dev/a11y_assessments/android/app/build.gradle
  dev/a11y_assessments/pubspec.yaml
Labels: autosubmit

#150212 Update doc for `ColorScheme.surface`
  packages/flutter/lib/src/material/color_scheme.dart
Labels: framework, f: material design, d: api docs, autosubmit

#149433 Document CIPD role & login for upgrading Android engine
  docs/platforms/android/Upgrading-Engine's-Android-API-version.md
Labels: d: docs/

#150235 Fix leaky test.
  packages/flutter/test/cupertino/tab_scaffold_test.dart
Labels: framework, f: cupertino, autosubmit, a: leak tracking

#150176 Validate the `contrastLevel` during `ColorScheme` creation
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/test/material/color_scheme_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#149624 Include transform in static Gradient lerp methods
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/test/painting/gradient_test.dart
Labels: framework, autosubmit

#150185 Switch to `Iterable.cast` instance method
  packages/flutter/lib/src/widgets/nested_scroll_view.dart
  packages/flutter_driver/lib/src/driver/timeline.dart
Labels: a: tests, framework, f: scrolling, will affect goldens, autosubmit

#150034 Add tests for navigator.0.dart
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/navigator/navigator.0_test.dart
Labels: framework, d: api docs, d: examples, f: routes, autosubmit

#150264 Roll Packages from 7805455bf627 to dd04ab1c75cd (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#150149 Add transparent color to Cupertino colors
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/lib/src/cupertino/text_selection_toolbar_button.dart
  packages/flutter/test/cupertino/context_menu_test.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_selection_toolbar_button_test.dart
  packages/flutter/test/cupertino/theme_test.dart
Labels: a: text input, framework, f: cupertino, f: routes

#149774 Make `CupertinoTextField` respect decoration color when disabled
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/test/cupertino/text_field_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#150287 Fix flaky complex_layout_scroll_perf__memory test
  dev/benchmarks/complex_layout/test_memory/scroll_perf.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/integration_tests/flutter_gallery/test_memory/memory_nav.dart
Labels: f: scrolling, autosubmit, fyi-infra

#150290 Roll Flutter Engine from 8167dffd1914 to 9779c273aac3 (21 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#150298 Roll Flutter Engine from 9779c273aac3 to 2218a4566765 (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#150359 Roll Packages from dd04ab1c75cd to 711b4ac2794e (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#150368 Fix flaky complex_layout_scroll_perf__memory & flutter_gallery__memory_nav
  dev/benchmarks/complex_layout/test_memory/scroll_perf.dart
  dev/devicelab/bin/tasks/complex_layout_scroll_perf__memory.dart
  dev/devicelab/bin/tasks/flutter_gallery__memory_nav.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/integration_tests/flutter_gallery/test_memory/memory_nav.dart
Labels: autosubmit, fyi-infra

#149544 Update old wiki links
  .github/ISSUE_TEMPLATE/7_cherry_pick.yml
  .github/ISSUE_TEMPLATE/8_design_doc.yml
  .github/PR_TEMPLATE/PULL_REQUEST_CP_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/easy-cp.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  analysis_options.yaml
  dev/bots/README.md
  dev/bots/analyze.dart
  dev/bots/analyze_snippet_code.dart
  dev/bots/test/analyze_test.dart
  dev/bots/utils.dart
  dev/conductor/README.md
  dev/conductor/core/bin/cli.dart
  dev/conductor/core/lib/conductor_core.dart
  dev/conductor/core/lib/src/globals.dart
  dev/integration_tests/web_e2e_tests/README.md
  dev/tools/update_icons.dart
  docs/contributing/testing/Writing-a-golden-file-test-for-package-flutter.md
  docs/releases/archive/Commits-Between-1.2.1-and-1.5.4.md
  packages/analysis_options.yaml
  packages/flutter/lib/fix_data/README.md
  packages/flutter/lib/src/material/icons.dart
  packages/flutter/pubspec.yaml
  packages/flutter/test/painting/decoration_image_lerp_test.dart
  packages/flutter/test_fixes/README.md
  packages/flutter/test_private/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/lib/fix_data/README.md
  packages/flutter_driver/test_fixes/README.md
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/lib/skia_client.dart
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/lib/fix_data/README.md
  packages/flutter_test/lib/src/goldens.dart
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/README.md
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/integration_test/lib/fix_data/README.md
Labels: a: tests, team, tool, framework, f: material design, a: internationalization, f: integration_test, autosubmit, team-release, d: docs/
