Repository flutter/flutter, pull requests merged in 2024-11, with the labels that each got.

#157934 Add a warning/additional handlers for parsing`synthetic-package`.
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/dart/generate_synthetic_packages.dart
  packages/flutter_tools/test/general.shard/dart/generate_synthetic_packages_test.dart
Labels: tool, autosubmit

#157972 Roll Flutter Engine from bb77cf867aef to cd46383cd55e (11 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#157978 Roll Flutter Engine from cd46383cd55e to d7e928911ac2 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#152477 performance: Override .elementAt in CachingIterable
  packages/flutter/lib/src/foundation/basic_types.dart
  packages/flutter/test/foundation/caching_iterable_test.dart
Labels: framework, autosubmit

#157909 Add test for `notification.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/notification_listener/notification.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#157982 Roll Flutter Engine from d7e928911ac2 to bacc5e1e73b7 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#157986 Add test for `interactive_viewer.transformation_controller.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/lib/widgets/interactive_viewer/interactive_viewer.transformation_controller.0.dart
  examples/api/test/widgets/interactive_viewer/interactive_viewer.transformation_controller.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#157991 Roll Flutter Engine from bacc5e1e73b7 to 0a0d5c9be6ff (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#157994 Roll Flutter Engine from 0a0d5c9be6ff to 3a090b46dd35 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158003 Roll Packages from 7cc1caa0cc36 to 796afa35071d (15 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#157971 Make the SwiftPM integration tests more idiomatic
  packages/flutter_tools/test/integration.shard/swift_package_manager_test.dart
Labels: tool, autosubmit

#158015 Improve consistency of code snippets in basic.dart
  packages/flutter/lib/src/widgets/basic.dart
Labels: framework, autosubmit

#158018 Roll Flutter Engine from 3a090b46dd35 to 7b176f4f25da (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158021 Roll Flutter Engine from 7b176f4f25da to 7dfdcacd8ae4 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158031 Delete unused references to dev.flutter.plugins.e2e.
  dev/benchmarks/macrobenchmarks/android/app/src/androidTest/java/com/example/macrobenchmarks/MainActivityTest.java
  dev/integration_tests/flutter_gallery/android/app/src/androidTest/java/io/flutter/demo/gallery/MainActivityTest.java
Labels: autosubmit

#158034 Roll Flutter Engine from 7dfdcacd8ae4 to 38b6165f137d (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158038 Roll Flutter Engine from 38b6165f137d to 05cb5d7f7939 (4 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#157989 Add test for `raw_scrollbar.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/scrollbar/raw_scrollbar.0_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, autosubmit

#157438 Fixes typos & spelling error in changelog.md file
  CHANGELOG.md
Labels: autosubmit

#158078 Revert "Add a warning/additional handlers for parsing`synthetic-package`."
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/dart/generate_synthetic_packages.dart
  packages/flutter_tools/test/general.shard/dart/generate_synthetic_packages_test.dart
Labels: tool, warning: land on red to fix tree breakage, autosubmit

#158044 Add test for `interactive_viewer.constrained.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/interactive_viewer/interactive_viewer.constrained.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#158069 Add test for `raw_scrollbar.1.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/scrollbar/raw_scrollbar.1_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, will affect goldens, autosubmit

#158086 Remove null from flex documentation
  packages/flutter/lib/src/widgets/basic.dart
Labels: framework, autosubmit

#158119 Disable failing native assets test
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: tool, warning: land on red to fix tree breakage

#156257 Remove use_modular_headers! from Swift Podfiles
  dev/benchmarks/complex_layout/ios/Podfile
  dev/benchmarks/complex_layout/macos/Podfile
  dev/benchmarks/macrobenchmarks/macos/Podfile
  dev/integration_tests/channels/macos/Podfile
  dev/integration_tests/flavors/macos/Podfile
  dev/integration_tests/flutter_gallery/macos/Podfile
  dev/integration_tests/ios_app_with_extensions/ios/Podfile
  dev/integration_tests/ui/macos/Podfile
  examples/api/macos/Podfile
  packages/flutter_tools/templates/cocoapods/Podfile-ios-swift
  packages/flutter_tools/templates/cocoapods/Podfile-macos
Labels: tool, framework, d: api docs, d: examples, a: desktop, autosubmit

#158127 Roll Flutter Engine from 05cb5d7f7939 to 25c7e471e2ef (12 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#158132 Roll Flutter Engine from 25c7e471e2ef to f880b56b6ede (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#154298 Fix `WidgetStateProperty` documentation
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/checkbox_list_tile.dart
  packages/flutter/lib/src/material/ink_well.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/widget_state.dart
Labels: a: text input, framework, f: material design, autosubmit

#158137 Roll Flutter Engine from f880b56b6ede to 75acceedca41 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158035 Remove references to the HTML renderer in public docs.
  docs/contributing/testing/Flutter-Test-Fonts.md
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/image.dart
Labels: team, framework, autosubmit, d: docs/

#158141 Extract and restore a test that a blank native assets project still builds
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test_utils.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_without_cbuild_assemble_test.dart
Labels: tool, autosubmit

#158148 Roll Flutter Engine from 75acceedca41 to 6271a92a376f (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158133 Add optional parameter to FlutterTesterDevices.
  packages/flutter_tools/lib/src/tester/flutter_tester.dart
Labels: tool, autosubmit

#158143 Further remove web-only considerations that are no longer necessary
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/widgets/image.dart
Labels: framework, autosubmit

#158152 Roll Flutter Engine from 6271a92a376f to 418609dd5b58 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#157913 Refactor DropdownMenu tests
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/dropdown_menu_theme_test.dart
Labels: framework, f: material design, autosubmit, refactor

#158156 Roll Flutter Engine from 418609dd5b58 to 7207a8fbec93 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158094 Add test for `raw_scrollbar.shape.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/scrollbar/raw_scrollbar.shape.0_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, autosubmit

#158169 Roll Flutter Engine from 7207a8fbec93 to f56401062e42 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158170 Make native asset integration test more robust, thereby allowing smooth auto-update of packages via `flutter update-packages`
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test_utils.dart
Labels: tool

#158179 Roll Packages from 796afa35071d to 721943194945 (11 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#158184 Reland2: Revert "Revert "Add a warning/additional handlers for parsing`synthetic-package`.""
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/dart/generate_synthetic_packages.dart
  packages/flutter_tools/test/general.shard/dart/generate_synthetic_packages_test.dart
Labels: tool, warning: land on red to fix tree breakage

#156545 Flutter tool assumes impeller is enabled by default (#156540)
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_apk_test.dart
Labels: tool, cp: review, autosubmit

#157306 [CP-beta] Fix flavor-conditional asset bundling for path dependencies
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_package_test.dart
Labels: tool, cp: review, cp: approved, autosubmit

#158146 increase subsharding for `Windows build_tests` from 8 to 9
  .ci.yaml
Labels: autosubmit

#158194 Roll Flutter Engine from f56401062e42 to e5e06c97c33c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#152069 Fix: Gap between prefix and suffix icon and input field in input deco…
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design

#157646 Kill interactive script job `xcdevice observe` processes on tool/daemon shutdown
  packages/flutter_tools/lib/src/base/io.dart
  packages/flutter_tools/lib/src/context_runner.dart
  packages/flutter_tools/lib/src/macos/xcdevice.dart
  packages/flutter_tools/test/general.shard/macos/xcode_test.dart
Labels: tool, a: desktop, autosubmit

#158201 use root directory as the default for rootOverride in Cache.test constructor
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/test/general.shard/android/gradle_utils_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
Labels: tool, autosubmit

#158161 Add test for `raw_scrollbar.2.dart`
  dev/bots/check_code_samples.dart
  examples/api/lib/widgets/scrollbar/raw_scrollbar.0.dart
  examples/api/lib/widgets/scrollbar/raw_scrollbar.2.dart
  examples/api/lib/widgets/scrollbar/raw_scrollbar.desktop.0.dart
  examples/api/test/widgets/scrollbar/raw_scrollbar.2_test.dart
Labels: framework, f: scrolling, d: api docs, d: examples, autosubmit

#158196 Increase subsharding for `Linux tool_integration_tests`
  .ci.yaml
Labels: autosubmit

#157748 Factor out "shaker" class
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: a: text input, framework, f: material design, autosubmit, refactor

#158205 Remove observatory related TODO that is already fixed.
  packages/flutter_tools/test/integration.shard/flutter_attach_test.dart
Labels: tool, autosubmit

#158202 Remove unused `enableObservatory` flag.
  packages/flutter_tools/lib/src/test/flutter_platform.dart
Labels: tool, autosubmit

#158145 Forward fix `CupertinoDynamicColor` by adding `toARGB32()`.
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/test/cupertino/colors_test.dart
Labels: framework, f: cupertino, autosubmit

#158218 Roll Flutter Engine from e5e06c97c33c to a3741d6248b7 (14 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#156338 fix: ensure draggable_scrollable_sheet respects shouldCloseOnMinExten…
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: framework, f: scrolling, autosubmit

#158204 Restore skipped iOS test by looping over `FakeAsync` elapse.
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
Labels: tool, autosubmit

#158206 Update error message for Cocoapods support for synchronized groups/folders
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_validator_test.dart
Labels: tool, a: desktop, autosubmit

#158222 Roll Flutter Engine from a3741d6248b7 to f03f11300a9d (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158175 Cleanup MenuAnchor and Improve DropdownMenu tests readability
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/dropdown_menu_theme_test.dart
Labels: framework, f: material design, autosubmit

#158214 Make flutter_tools use newest package:{native_assets_builder,native_assets_cli,native_toolchain_c}
  dev/integration_tests/link_hook/hook/build.dart
  dev/integration_tests/link_hook/hook/link.dart
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/isolated/native_assets/android/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/ios/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/linux/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets_host.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/windows/native_assets.dart
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/test/general.shard/isolated/android/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/build_system/targets/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
  packages/flutter_tools/test/general.shard/isolated/hot_test.dart
  packages/flutter_tools/test/general.shard/isolated/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/linux/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_host_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/windows/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: tool, a: desktop

#158248 Add test for `image.loading_builder.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/image/image.loading_builder.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#158267 Roll Packages from 721943194945 to bb5a25815cae (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#158247 Add test for `image.frame_builder.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/image/image.frame_builder.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#158220 excluding website-cms from critical pr triage
  docs/triage/README.md
Labels: autosubmit, d: docs/

#154574 [web] fix --ab option for web benchmarks
  dev/devicelab/bin/run.dart
  dev/devicelab/lib/framework/ab.dart
  dev/devicelab/lib/tasks/web_benchmarks.dart
Labels: autosubmit

#158223 Delete firebase_android_embedding_v2_smoke_test
  .ci.yaml
  TESTOWNERS
  dev/integration_tests/android_embedding_v2_smoke_test/.gitignore
  dev/integration_tests/android_embedding_v2_smoke_test/.metadata
  dev/integration_tests/android_embedding_v2_smoke_test/README.md
  dev/integration_tests/android_embedding_v2_smoke_test/android/.gitignore
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/build.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/debug/AndroidManifest.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/kotlin/com/example/android_embedding_v2_smoke_test/MainActivity.kt
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/res/drawable/launch_background.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/main/res/values/styles.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/src/profile/AndroidManifest.xml
  dev/integration_tests/android_embedding_v2_smoke_test/android/build.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/android/buildscript-gradle.lockfile
  dev/integration_tests/android_embedding_v2_smoke_test/android/gradle.properties
  dev/integration_tests/android_embedding_v2_smoke_test/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/android_embedding_v2_smoke_test/android/project-app.lockfile
  dev/integration_tests/android_embedding_v2_smoke_test/android/project-battery.lockfile
  dev/integration_tests/android_embedding_v2_smoke_test/android/settings.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/android/settings_aar.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/lib/main.dart
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
Labels: autosubmit

#158283 Roll Flutter Engine from f03f11300a9d to 58ac1dadd69d (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#157560 Fix use of deprecated `buildDir` in Android templates/tests/examples
  dev/benchmarks/macrobenchmarks/android/build.gradle
  dev/benchmarks/microbenchmarks/android/build.gradle
  dev/benchmarks/multiple_flutters/android/build.gradle
  dev/integration_tests/deferred_components_test/android/build.gradle
  dev/integration_tests/deferred_components_test/android/component1/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/build.gradle
  dev/integration_tests/module_host_with_custom_build_v2_embedding/build.gradle
  dev/integration_tests/native_driver_test/android/build.gradle
  dev/tools/bin/generate_gradle_lockfiles.dart
  dev/tracing_tests/android/build.gradle
  examples/hello_world/android/build.gradle.kts
  examples/layers/android/build.gradle
  packages/flutter_tools/gradle/module_plugin_loader.gradle
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/lib/src/android/migrations/top_level_gradle_build_file_migration.dart
  packages/flutter_tools/templates/app_shared/android-java.tmpl/build.gradle.kts.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/build.gradle.kts.tmpl
  packages/flutter_tools/templates/module/android/deferred_component/build.gradle.tmpl
  packages/flutter_tools/test/general.shard/android/android_project_migration_test.dart
  packages/flutter_tools/test/integration.shard/android_gradle_deprecated_plugin_apply_test.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_config.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
  packages/flutter_tools/test/integration.shard/test_data/plugin_project.dart
Labels: tool, d: examples, autosubmit

#158271 Fix flakiness in hot_reload_test.dart
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
Labels: tool, autosubmit

#158240 Added cusor control properties to CupertinoSearchTextField and tests
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/test/cupertino/search_field_test.dart
Labels: framework, f: cupertino, autosubmit

#158295 Roll Flutter Engine from 58ac1dadd69d to b36ca3319825 (9 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158297 Roll Flutter Engine from b36ca3319825 to 94dac953a95f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#157866 Make leak tracking bots blocking.
  .ci.yaml
  docs/contributing/testing/Leak-tracking.md
Labels: team, framework, autosubmit, d: docs/

#158303 Roll Flutter Engine from 94dac953a95f to 076688d95818 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158304 Roll Flutter Engine from 076688d95818 to 8a963cfc134c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158324 Add recently imported packages to issue template
  .github/ISSUE_TEMPLATE/9_first_party_packages.yml
Labels: autosubmit

#157462 `Plugin.isDevDependency` if exclusively in `dev_dependencies`
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/compute_dev_dependencies.dart
  packages/flutter_tools/lib/src/dart_pub_json_formatter.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/cocoapod_utils.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/compute_dev_dependencies_test.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/flutter_tools/test/general.shard/plugin_parsing_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
  packages/flutter_tools/test/general.shard/windows/plugins_test.dart
Labels: platform-ios, tool, a: desktop, autosubmit

#158308 Roll Flutter Engine from 8a963cfc134c to ac50b20ae5c9 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, will affect goldens, autosubmit

#158335 Fix a breakage caused by the test being unskipped.
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
Labels: tool, warning: land on red to fix tree breakage

#158336 Roll Flutter Engine from ac50b20ae5c9 to 371c86fb6b49 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158330 Increase Java heap limit to 8GB for plugin integration tests using deferred components
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
Labels: tool

#158345 Add clarification on review timelines in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: autosubmit

#158346 Manual roll Flutter Engine from 371c86fb6b49 to bcb281cde579
  bin/internal/engine.version
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
  packages/flutter_tools/templates/module/common/lib/main.dart.tmpl
Labels: tool, engine, autosubmit

#147080 Make `_SelectableRegionSelectionContainerDelegate` public
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/lib/src/widgets/text.dart
  packages/flutter/test/widgets/selectable_region_test.dart
Labels: a: text input, framework, autosubmit

#158354 Roll Flutter Engine from bcb281cde579 to 8e19915c19fc (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158362 Roll Flutter Engine from 8e19915c19fc to 44d788f4651b (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158326 Add flutter/package code generation instructions
  docs/ecosystem/contributing/README.md
Labels: package, team-ecosystem, autosubmit, d: docs/

#158260 Add ability to override `NavigationDestination.label` padding for `NavigationBar`
  dev/tools/gen_defaults/lib/navigation_bar_template.dart
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/lib/src/material/navigation_bar_theme.dart
  packages/flutter/test/material/navigation_bar_test.dart
  packages/flutter/test/material/navigation_bar_theme_test.dart
Labels: framework, f: material design, autosubmit

#158323 [TextInput] Add TextInputType.webSearch (#15762)
  packages/flutter/lib/src/services/text_input.dart
  packages/flutter/test/services/text_input_test.dart
Labels: a: text input, framework, autosubmit

#158393 Roll Flutter Engine from a08bd5a07c2a to 1b567e80386e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158398 Roll Flutter Engine from 1b567e80386e to 6b77347edfc5 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158402 Roll Flutter Engine from 6b77347edfc5 to b7134d373ef8 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158405 Roll Flutter Engine from b7134d373ef8 to 54df0b8a4784 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158395 Manually cherry-pick #158141 (`out_dir_shared`) into `beta`
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test_utils.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_without_cbuild_assemble_test.dart
Labels: tool, cp: review, autosubmit, cp: merge-to-beta

#158407 Roll Flutter Engine from 54df0b8a4784 to 2f097cfd3d2d (1 revision)
  bin/internal/engine.version
Labels: engine

#158411 Roll Flutter Engine from 2f097cfd3d2d to ca6f5110d9d3 (3 revisions)
  bin/internal/engine.version
Labels: engine

#158414 Roll Flutter Engine from ca6f5110d9d3 to 690cdfd09beb (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine

#158418 Roll Flutter Engine from 690cdfd09beb to 9b4c3b3d5518 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158019 Add `SafeArea` DartPad sample
  examples/api/lib/widgets/safe_area/safe_area.0.dart
  examples/api/test/widgets/safe_area/safe_area.0_test.dart
  packages/flutter/lib/src/widgets/safe_area.dart
Labels: framework, d: api docs, d: examples, autosubmit

#155488 Remove block and line comments when detecting '.flutter-plugins' in settings.gradle(.kts)
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/test/integration.shard/android_gradle_legacy_flutter_plugins_strings_in_comments_test.dart
Labels: tool

#158438 Roll Flutter Engine from 9b4c3b3d5518 to 01c76e42c20f (3 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#158443 Roll Flutter Engine from 01c76e42c20f to d90e9f4718b8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158453 Roll Flutter Engine from d90e9f4718b8 to e9a44820f302 (1 revision)
  bin/internal/engine.version
Labels: engine

#158379 Replace custom `RPCErrorCodes` with `RPCErrorKind` from `package:vm_service`
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/general.shard/resident_devtools_handler_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
  packages/flutter_tools/test/general.shard/tracing_test.dart
  packages/flutter_tools/test/general.shard/vmservice_test.dart
Labels: tool

#158464 Roll Flutter Engine from 3cb6f4de89b6 to 7b3eacd20eb6 (1 revision)
  bin/internal/engine.version
Labels: engine

#158454 Fix Chip draws `InkWell.hoverColor` is drawn on top of the provided background color with `hovered` state
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: framework, f: material design

#158409 [SwiftPM] Simplify logic that determines if CocoaPods is used
  packages/flutter_tools/lib/src/macos/darwin_dependency_management.dart
Labels: tool, a: desktop

#158487 Roll Flutter Engine from 35041f118744 to a672f971c659 (1 revision)
  bin/internal/engine.version
Labels: engine

#158488 Roll Flutter Engine from a672f971c659 to b0a4ca92c49e (2 revisions)
  bin/internal/engine.version
Labels: engine

#158309 Add test for `dynamic_content_color.0.dart`
  dev/bots/check_code_samples.dart
  examples/api/lib/material/color_scheme/dynamic_content_color.0.dart
  examples/api/test/material/color_scheme/dynamic_content_color.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#158506 Roll Flutter Engine from b0a4ca92c49e to 877abb9ad6ff (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#157218 Made Cupertino dialog more like a native dialog in dark mode
  packages/flutter/lib/src/cupertino/colors.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: framework, a: fidelity, f: cupertino, will affect goldens, autosubmit

#158357 Support materialTapTargetSize in PopupMenuButton
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design

#158529 force Linux plugin_test to run on Ubuntu 20.04
  .ci.yaml
Labels: warning: land on red to fix tree breakage

#158528 Update test to include more complete instructions for how to run tests locally, add example to andoid 11 tests as well
  dev/bots/suite_runners/run_android_java11_integration_tool_tests.dart
  dev/bots/suite_runners/run_flutter_driver_android_tests.dart
Labels: autosubmit

#158525 Manually cherry-pick #158141 (out_dir_shared) into stable
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test_utils.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_without_cbuild_assemble_test.dart
Labels: tool, autosubmit

#158408 Clean up dependabot config, add github-action group
  .github/dependabot.yml
Labels: autosubmit

#158533 Explain how to use `flutter channel`.
  packages/flutter_tools/lib/src/commands/channel.dart
  packages/flutter_tools/test/general.shard/channel_test.dart
Labels: tool

#158518 Allow `devDependencies` to be omitted and not cause a tool crash.
  packages/flutter_tools/lib/src/compute_dev_dependencies.dart
  packages/flutter_tools/test/general.shard/compute_dev_dependencies_test.dart
Labels: tool

#158541 Roll Flutter Engine from 877abb9ad6ff to 08348c9eebcc (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine

#158545 Roll Flutter Engine from 08348c9eebcc to ef760d6e1f13 (1 revision)
  bin/internal/engine.version
Labels: engine

#158551 Roll Flutter Engine from ef760d6e1f13 to 05c14d8b4cd7 (3 revisions)
  bin/internal/engine.version
Labels: engine

#158553 Roll Flutter Engine from 05c14d8b4cd7 to db3e5af2ca22 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158524 Move `dart pub deps` call to `<Pub>.deps` and use it accordingly
  packages/flutter_tools/lib/src/compute_dev_dependencies.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/general.shard/compute_dev_dependencies_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_deps_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapod_utils_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/src/context.dart
  packages/flutter_tools/test/src/fake_pub_deps.dart
  packages/flutter_tools/test/src/testbed.dart
  packages/flutter_tools/test/src/throwing_pub.dart
Labels: tool, a: desktop, autosubmit

#158626 Roll Packages from 72356fda4684 to 26e123a6ce03 (19 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#158526 Avoid using platform `ProcessInfo.maxRss` in test.
  packages/flutter_tools/test/commands.shard/permeable/build_appbundle_test.dart
Labels: tool, autosubmit

#154629 "Fix failing checks" wiki page for new contributors
  docs/contributing/testing/Fix-failing-checks.md
  docs/infra/Understanding-a-LUCI-build-failure.md
Labels: team, framework, team-infra, autosubmit, d: docs/

#158757 Stream the output of `flutter build` for debugging.
  packages/flutter_tools/test/integration.shard/isolated/native_assets_without_cbuild_assemble_test.dart
Labels: tool, autosubmit

#158799 Roll Flutter Engine from db3e5af2ca22 to 82940a9aa714 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#158778 [flutter_releases] Flutter stable 3.24.5 Framework Cherrypicks
  CHANGELOG.md
  bin/internal/engine.version
Labels: engine, autosubmit

#158587 docs: include Human Interface haptic information in HapticFeedback
  packages/flutter/lib/src/services/haptic_feedback.dart
Labels: framework, autosubmit

#158880 Temporarily skip flutter build apk for native_assets tests.
  packages/flutter_tools/test/integration.shard/isolated/native_assets_without_cbuild_assemble_test.dart
Labels: tool, warning: land on red to fix tree breakage

#158213 [SwiftPM] Move the logic for SwiftPM enablement to the platform project
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/macos/cocoapod_utils.dart
  packages/flutter_tools/lib/src/macos/cocoapods.dart
  packages/flutter_tools/lib/src/macos/darwin_dependency_management.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapod_utils_test.dart
  packages/flutter_tools/test/general.shard/macos/darwin_dependency_management_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/general.shard/xcode_project_test.dart
Labels: platform-ios, tool, a: desktop

#158890 Adds a skip message for analyzer
  packages/flutter_tools/test/integration.shard/isolated/native_assets_without_cbuild_assemble_test.dart
Labels: tool, warning: land on red to fix tree breakage, autosubmit

#158470 #154792 - CupertinoActionSheetAction cursor doesn't change to clickable on desktop
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
Labels: framework, f: cupertino, autosubmit

#158159 Fix update order of SliverAppBar
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/rendering/sliver_persistent_header.dart
  packages/flutter/lib/src/widgets/sliver_persistent_header.dart
  packages/flutter/test/material/app_bar_sliver_test.dart
Labels: framework, f: material design, f: scrolling

#157998 Adjusts the Hindi TimeOfDayFormat to display in a LTR orientation in localizations.
  packages/flutter_localizations/lib/src/l10n/generated_material_localizations.dart
  packages/flutter_localizations/lib/src/l10n/material_hi.arb
  packages/flutter_localizations/test/material/time_picker_test.dart
Labels: framework, f: material design, a: internationalization

#148856 Add constraint options to `SearchAnchor` suggestions builder
  dev/tools/gen_defaults/lib/search_view_template.dart
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/lib/src/material/search_view_theme.dart
  packages/flutter/test/material/search_anchor_test.dart
  packages/flutter/test/material/search_view_theme_test.dart
Labels: framework, f: material design

#158895 Try with `bringup: true` debugging why `flutter build apk` often times out.
  .ci.yaml
  TESTOWNERS
  dev/bots/test.dart
  packages/flutter_tools/test/flutter_build_apk.shard/README.md
  packages/flutter_tools/test/flutter_build_apk.shard/flutter_build_apk_test.dart
Labels: tool, autosubmit

#158901 Roll Flutter Engine from 82940a9aa714 to e97b148e796d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#158905 Roll Flutter Engine from e97b148e796d to 619804c0fbb7 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#158547 Reland Add test for dynamic_content_color.0.dart
  dev/bots/check_code_samples.dart
  examples/api/lib/material/color_scheme/dynamic_content_color.0.dart
  examples/api/test/material/color_scheme/dynamic_content_color.0_test.dart
Labels: framework, d: api docs, d: examples

#158915 Add one MenuAnchor alignment test
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#158898 No longer pass `--verbose` to implicit `pub` calls when `flutter --verbose` is set.
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/test/general.shard/dart/pub_get_test.dart
Labels: tool

#158009 Add `dev_dependency` attribute to plugins in `.flutter-plugins-dependencies`
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/integration.shard/flutter_plugins_dependencies_test.dart
Labels: tool, autosubmit

#158938 Roll Packages from 26e123a6ce03 to b9ac917daeb0 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#158933 Enable --verbose for android_plugin_skip_unsupported_test tests
  packages/flutter_tools/test/integration.shard/android_plugin_skip_unsupported_test.dart
Labels: tool, autosubmit

#158943 [flutter_releases] Flutter beta 3.27.0-0.2.pre Framework Cherrypicks
  bin/internal/engine.version
Labels: engine, autosubmit
