Repository flutter/flutter, pull requests merged in 2024-02, with the labels that each got.

#141818 Added ButtonStyle.foregroundBuilder and ButtonStyle.backgroundBuilder
  dev/bots/check_code_samples.dart
  examples/api/lib/material/text_button/text_button.0.dart
  examples/api/test/material/text_button/text_button.0_test.dart
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/button_style_test.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/text_button_theme_test.dart
Labels: a: text input, framework, f: material design, d: api docs, d: examples, autosubmit

#141701 Fix token usages on Regular Chip and Action Chip
  dev/tools/gen_defaults/generated/used_tokens.csv
  dev/tools/gen_defaults/lib/action_chip_template.dart
  dev/tools/gen_defaults/lib/chip_template.dart
  packages/flutter/lib/src/material/action_chip.dart
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/action_chip_test.dart
  packages/flutter/test/material/chip_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#142644 Convert button `.icon` and `.tonalIcon` constructors to take nullable icons.
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#142649 [Impeller] opt vulkan tests into GPU tracing.
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#142662 Roll Flutter Engine from c83617eee093 to c4247c5e31ba (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142675 Roll Flutter Engine from c4247c5e31ba to f4fbabf1eb9f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142667 improve error message when `--base-href` argument does not start with `/`
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
Labels: tool, autosubmit

#142654 Introduce tone-based surfaces and accent color add-ons - Part 1
  packages/flutter/lib/src/material/color_scheme.dart
  packages/flutter/test/material/color_scheme_test.dart
Labels: framework, f: material design, autosubmit

#142690 Roll Flutter Engine from f4fbabf1eb9f to 68943afd62d1 (9 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142717 Add no-shuffle tag to gen_defaults_test.dart
  dev/tools/gen_defaults/test/gen_defaults_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit

#142723 Fix engine to 8824d6391fd0f00c5ecd6926a9be7e11035b8c04
  bin/internal/engine.version
Labels: engine, autosubmit

#141427 Unpin test
  dev/a11y_assessments/pubspec.yaml
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_embedding_v2_smoke_test/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/channels/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ios_app_with_extensions/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/non_nullable/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/release_smoke_test/pubspec.yaml
  dev/integration_tests/spell_check/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/wide_gamut_test/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/manual_tests/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  dev/tools/vitool/pubspec.yaml
  dev/tracing_tests/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/image_list/pubspec.yaml
  examples/layers/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/splash/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter/pubspec.yaml
  packages/flutter/test_private/test/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_goldens/pubspec.yaml
  packages/flutter_localizations/pubspec.yaml
  packages/flutter_test/pubspec.yaml
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_web_plugins/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/pubspec.yaml
Labels: a: tests, tool, framework, a: internationalization, d: api docs, d: examples, platform-web, f: integration_test, autosubmit

#142726 Roll Flutter Engine from 68943afd62d1 to 8c43332c6ffc (8 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#141604 fix CupertinoTabView's Android back button handling with PopScope
  packages/flutter/lib/src/cupertino/tab_view.dart
  packages/flutter/test/cupertino/tab_test.dart
Labels: framework, f: cupertino, autosubmit

#142737 Remove outdated arm64_armv7 check
  dev/devicelab/bin/tasks/build_ios_framework_module_test.dart
Labels: autosubmit

#142739 Remove verbose-system-logs on iOS perf tests
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#142740 Roll Flutter Engine from 8c43332c6ffc to 39415c3eed42 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142677 Fix leaks in tests.
  packages/flutter/test/widgets/scroll_aware_image_provider_test.dart
Labels: framework, f: scrolling

#142738 Remove unused deprecated autoroll mirror-remote flag
  dev/conductor/core/bin/packages_autoroller.dart
Labels: autosubmit

#142743 Fix gen_defaults test randomness
  dev/tools/gen_defaults/test/gen_defaults_test.dart
Labels: autosubmit

#142666 Test codesigning xcframeworks in artifacts
  dev/bots/test.dart
  dev/bots/test/codesign_test.dart
Labels: a: release, autosubmit

#142643 Upload DerivedData logs in CI
  dev/devicelab/lib/framework/utils.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
Labels: platform-ios, tool, autosubmit

#142744 Make leak_tracking bots sticked to the left even if bot thinks they are non-flacky.
  .ci.yaml
Labels: autosubmit

#142749 Roll Flutter Engine from 9beb7e82e081 to dd4c79a6c864 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142634 Implement `switch` expressions in `lib/src/material/`
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/expand_icon.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/material/floating_action_button.dart
  packages/flutter/lib/src/material/floating_action_button_location.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/material_localizations.dart
  packages/flutter/lib/src/material/menu_anchor.dart
Labels: framework, f: material design, autosubmit

#142676 [github actions] ping actor of workflow on cherry pick pr creation
  .github/workflows/easy-cp.yml
Labels: autosubmit

#142262 Use proto name for emulator version and show cipd package version
  .ci.yaml
Labels: autosubmit

#142762 Reland: Added ButtonStyle.foregroundBuilder and ButtonStyle.backgroundBuilder
  dev/bots/check_code_samples.dart
  examples/api/lib/material/text_button/text_button.0.dart
  examples/api/test/material/text_button/text_button.0_test.dart
  packages/flutter/lib/src/material/button_style.dart
  packages/flutter/lib/src/material/button_style_button.dart
  packages/flutter/lib/src/material/elevated_button.dart
  packages/flutter/lib/src/material/filled_button.dart
  packages/flutter/lib/src/material/material_state.dart
  packages/flutter/lib/src/material/outlined_button.dart
  packages/flutter/lib/src/material/text_button.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/text_button_theme_test.dart
Labels: a: text input, framework, f: material design, d: api docs, d: examples, autosubmit

#141396 Wasm/JS Dual Compile with the flutter tool
  dev/benchmarks/macrobenchmarks/web/index.html
  dev/devicelab/lib/tasks/web_benchmarks.dart
  dev/integration_tests/web_e2e_tests/web/index.html
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/lib/src/html_utils.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/web_test_compiler.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/compiler_config.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_defines_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_wasm_test.dart
  packages/flutter_tools/test/web.shard/hot_reload_web_test.dart
  packages/flutter_tools/test/web.shard/test_data/hot_reload_index_html_samples.dart
Labels: tool, autosubmit, team-web

#142783 Roll Flutter Engine from dd4c79a6c864 to b35153d00b2e (10 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142777 [flutter_releases] Flutter beta 3.19.0-0.4.pre Framework Cherrypicks
  bin/internal/engine.version
Labels: autosubmit

#142714 Allow all iOS tests to use either iOS 16 or 17
  .ci.yaml
Labels: autosubmit

#142765 Add a link the different possible Android virtual device configs
  .ci.yaml
Labels: autosubmit

#142812 Roll Packages from 5b48c446976f to d37fb0a716e7 (14 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#142248 Support navigation during a Cupertino back gesture
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: framework, f: cupertino, f: routes

#142752 Reland "Add support for Gradle Kotlin DSL (#140744)"
  examples/hello_world/android/app/build.gradle
  examples/hello_world/android/app/build.gradle.kts
  examples/hello_world/android/build.gradle
  examples/hello_world/android/build.gradle.kts
  examples/hello_world/android/buildscript-gradle.lockfile
  examples/hello_world/android/settings.gradle.kts
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/lib/src/project.dart
Labels: tool, d: examples, autosubmit

#138195 Fix CupertinoTextSelectionToolbar clipping
  packages/flutter/lib/src/cupertino/text_selection_toolbar.dart
  packages/flutter/test/cupertino/text_selection_toolbar_test.dart
Labels: a: text input, framework, f: cupertino, autosubmit

#142832 Roll Flutter Engine from e29263212bfd to 266d5d0b5588 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142463 Update TextSelectionOverlay
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: cupertino

#142836 Roll Flutter Engine from 266d5d0b5588 to 78c63d3c2c68 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142842 Roll Flutter Engine from 78c63d3c2c68 to 9869d47a2736 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142847 Roll Flutter Engine from 9869d47a2736 to fee02145da8c (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142848 Roll Flutter Engine from fee02145da8c to 23763db72272 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142850 Roll Flutter Engine from 23763db72272 to 20742e37e54e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142876 Roll Flutter Engine from 20742e37e54e to f34c658b9600 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142430 fix AppBar docs for backgroundColor & foregroundColor
  packages/flutter/lib/src/material/app_bar.dart
Labels: framework, f: material design, autosubmit

#142915 Roll Packages from d37fb0a716e7 to ae3494d15fd1 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#142918 Move Mac_build_test flutter_gallery__transition_perf_e2e_ios to staging
  .ci.yaml
Labels: autosubmit

#142904 Fixed test in language_version_test.dart that failed when shuffling, …
  packages/flutter_tools/test/general.shard/dart/language_version_test.dart
Labels: tool, autosubmit

#142736 Run examples_smoke_test on Linux
  dev/bots/test.dart
Labels: autosubmit

#142950 Roll Flutter Engine from f34c658b9600 to 9bd98bc2fcdf (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142954 Roll Flutter Engine from 9bd98bc2fcdf to 9c1b6c98f7f0 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142959 Roll Flutter Engine from 9c1b6c98f7f0 to 808886312e2b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#138313 TextField context menu should fade on scroll on mobile devices
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#142985 Roll Packages from ae3494d15fd1 to 1a5a7ce56e87 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#142825 Add `AnimationStyle` to `showSnackBar`
  examples/api/lib/material/scaffold/scaffold_messenger_state.show_snack_bar.2.dart
  examples/api/test/material/scaffold/scaffold_messenger_state.show_snack_bar.2_test.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#141954 Material 3 - Tab indicator stretch animation
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, a: fidelity, autosubmit

#142776 Fix CupertinoPageScaffold resizeToAvoidBottomInset
  packages/flutter/lib/src/cupertino/page_scaffold.dart
  packages/flutter/test/cupertino/scaffold_test.dart
Labels: framework, f: cupertino, autosubmit

#143005 Roll Flutter Engine from 808886312e2b to 07cdaab7f531 (18 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142709 Move native assets to `isolated/` directory
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/isolated/native_assets/README.md
  packages/flutter_tools/lib/src/isolated/native_assets/android/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/ios/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/linux/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets_host.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/test/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/windows/native_assets.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/hot_shared.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/isolated/android/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/build_system/targets/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
  packages/flutter_tools/test/general.shard/isolated/hot_test.dart
  packages/flutter_tools/test/general.shard/isolated/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/linux/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_host_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/isolated/windows/native_assets_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_helpers.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: tool, a: desktop, autosubmit

#141364 Make destructiveRed a CupertinoDynamicColor
  packages/flutter/lib/src/cupertino/colors.dart
Labels: framework, f: cupertino, autosubmit

#142341 [Windows] Fix signed/unsigned int comparison
  dev/a11y_assessments/windows/runner/utils.cpp
  dev/benchmarks/complex_layout/windows/runner/utils.cpp
  dev/integration_tests/flutter_gallery/windows/runner/utils.cpp
  dev/integration_tests/ui/windows/runner/utils.cpp
  dev/integration_tests/windows_startup_test/windows/runner/utils.cpp
  dev/manual_tests/windows/runner/utils.cpp
  examples/api/windows/runner/utils.cpp
  examples/flutter_view/windows/runner/utils.cpp
  examples/hello_world/windows/runner/utils.cpp
  examples/layers/windows/runner/utils.cpp
  examples/platform_channel/windows/runner/utils.cpp
  examples/platform_view/windows/runner/utils.cpp
  packages/flutter_tools/templates/app_shared/windows.tmpl/runner/utils.cpp
Labels: tool, framework, d: api docs, d: examples, a: desktop, autosubmit

#138545 Activate InkSparkle on CanvasKit
  packages/flutter/lib/src/material/theme_data.dart
  packages/flutter/test/material/elevated_button_test.dart
  packages/flutter/test/material/filled_button_test.dart
  packages/flutter/test/material/ink_sparkle_test.dart
  packages/flutter/test/material/outlined_button_test.dart
  packages/flutter/test/material/text_button_test.dart
  packages/flutter/test/material/theme_data_test.dart
Labels: a: text input, framework, f: material design, a: fidelity, autosubmit

#142177 Update _goldens_io.dart to generate failure images during a size mism…
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/test/goldens_test.dart
Labels: a: tests, framework, autosubmit

#143007 Instrument CurvedAnimation.
  packages/flutter/lib/src/animation/animations.dart
  packages/flutter/test/animation/animations_test.dart
Labels: framework, a: animation, autosubmit, a: leak tracking

#143017 Dispose precached image info
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/test/widgets/image_test.dart
Labels: framework, autosubmit, a: leak tracking

#143016 Mark `Windows_android hot_mode_dev_cycle_win__benchmark` as no longer flaky
  .ci.yaml
Labels: autosubmit

#143035 Copy the flutter version JSON file into the simulated Flutter SDK used by update_packages
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/test/commands.shard/hermetic/update_packages_test.dart
  packages/flutter_tools/test/general.shard/update_packages_test.dart
Labels: tool

#142334 Run Mac x64 build tests in postsubmit only
  .ci.yaml
Labels: autosubmit

#143052 [reland] Add `AnimationStyle` to `showSnackBar`
  examples/api/lib/material/scaffold/scaffold_messenger_state.show_snack_bar.2.dart
  examples/api/test/material/scaffold/scaffold_messenger_state.show_snack_bar.2_test.dart
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/scaffold_test.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#142981 Fix M3 text field height + initial step for input decorator M3 test migration
  examples/api/test/material/input_decorator/input_decoration.prefix_icon.0_test.dart
  examples/api/test/material/input_decorator/input_decoration.suffix_icon.0_test.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/dropdown_form_field_test.dart
  packages/flutter/test/material/dropdown_test.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, d: api docs, d: examples, will affect goldens, autosubmit

#143076 Roll Packages from 1a5a7ce56e87 to e4ea6bf72e1b (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#143039 Manual roll Flutter Engine from 808886312e2b to 1ac6beb8a3c2 (22 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143082 Roll Flutter Engine from 1ac6beb8a3c2 to 6807342305e4 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#142523 Handle transitions to AppLifecycleState.detached in lifecycle state generation
  packages/flutter/lib/src/services/binding.dart
  packages/flutter/test/widgets/app_lifecycle_listener_test.dart
  packages/flutter/test/widgets/binding_test.dart
Labels: framework

#143034 Remove redundant `rootDirectoryPath` parameter in `DevFS::update`
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_hot.dart
Labels: tool, autosubmit

#143086 Roll Flutter Engine from 6807342305e4 to fafd8e55eb4b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142329 Make generate_gradle_lockfiles also write the gradle wrapper file
  dev/tools/bin/generate_gradle_lockfiles.dart
Labels: autosubmit

#142742 Remove unused devicelab task gradle_non_android_plugin_test
  TESTOWNERS
  dev/devicelab/bin/tasks/gradle_non_android_plugin_test.dart
Labels: autosubmit

#142975 Add the number of mismatched pixels to golden tests output
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/test/goldens_test.dart
Labels: a: tests, framework, a: error message, autosubmit

#142251 Add a test for the isAvailableForEnvironment logic
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter_goldens/test/comparator_selection_test.dart
Labels: a: tests, framework, will affect goldens, autosubmit

#142987 Move Mac_build_test flutter_gallery__transition_perf_e2e_ios out of staging
  .ci.yaml
Labels: autosubmit

#143085 Restore log dumps for gradle OOM crashes, and set a value for `MaxMetaspaceSize`
  dev/a11y_assessments/android/gradle.properties
  dev/benchmarks/complex_layout/android/gradle.properties
  dev/benchmarks/macrobenchmarks/android/gradle.properties
  dev/benchmarks/microbenchmarks/android/gradle.properties
  dev/benchmarks/multiple_flutters/android/gradle.properties
  dev/benchmarks/platform_views_layout/android/gradle.properties
  dev/benchmarks/platform_views_layout_hybrid_composition/android/gradle.properties
  dev/benchmarks/test_apps/stocks/android/gradle.properties
  dev/integration_tests/abstract_method_smoke_test/android/gradle.properties
  dev/integration_tests/android_custom_host_app/gradle.properties
  dev/integration_tests/android_embedding_v2_smoke_test/android/gradle.properties
  dev/integration_tests/android_host_app_v2_embedding/gradle.properties
  dev/integration_tests/android_semantics_testing/android/gradle.properties
  dev/integration_tests/android_verified_input/android/gradle.properties
  dev/integration_tests/android_views/android/gradle.properties
  dev/integration_tests/channels/android/gradle.properties
  dev/integration_tests/deferred_components_test/android/gradle.properties
  dev/integration_tests/external_textures/android/gradle.properties
  dev/integration_tests/flavors/android/gradle.properties
  dev/integration_tests/flutter_gallery/android/gradle.properties
  dev/integration_tests/gradle_deprecated_settings/android/gradle.properties
  dev/integration_tests/hybrid_android_views/android/gradle.properties
  dev/integration_tests/module_host_with_custom_build_v2_embedding/gradle.properties
  dev/integration_tests/non_nullable/android/gradle.properties
  dev/integration_tests/platform_interaction/android/gradle.properties
  dev/integration_tests/release_smoke_test/android/gradle.properties
  dev/integration_tests/spell_check/android/gradle.properties
  dev/integration_tests/ui/android/gradle.properties
  dev/manual_tests/android/gradle.properties
  dev/tracing_tests/android/gradle.properties
  examples/api/android/gradle.properties
  examples/flutter_view/android/gradle.properties
  examples/hello_world/android/gradle.properties
  examples/image_list/android/gradle.properties
  examples/layers/android/gradle.properties
  examples/platform_channel/android/gradle.properties
  examples/platform_view/android/gradle.properties
  packages/flutter_tools/templates/app_shared/android.tmpl/gradle.properties.tmpl
  packages/flutter_tools/templates/module/android/gradle/gradle.properties.tmpl
  packages/flutter_tools/test/integration.shard/android_plugin_example_app_build_test.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
  packages/integration_test/android/gradle.properties
  packages/integration_test/example/android/gradle.properties
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#143097 Revert "Add `SingleChildScrollView` for `NavigationRail`"
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/test/material/navigation_rail_test.dart
Labels: framework, f: material design, autosubmit

#142561 Various improvements to text-editing-related documentation.
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/selection_area.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/lib/src/widgets/magnifier.dart
  packages/flutter/lib/src/widgets/selectable_region.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/lib/src/widgets/text_selection_toolbar_layout_delegate.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#143023 Fix inputs and outputs for `WebReleaseBundle`
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
Labels: tool, autosubmit

#142000 Enforce a policy on supported Gradle, Java, AGP, and KGP versions
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/kotlin/dependency_version_checker.gradle.kts
  packages/flutter_tools/lib/src/android/README.md
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/android_preview_integration.shard/android_dependency_version_checking_test.dart
Labels: tool, autosubmit

#143046 Remove Cirrus check for web test concurrency
  dev/bots/test.dart
Labels: autosubmit

#141380 Fixed cursor blinking during selection.
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design

#143112 Roll Flutter Engine from 19ae46afed69 to e4a5acc14b44 (7 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#128236 Improve build output for all platforms
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/os.dart
  packages/flutter_tools/lib/src/base/utils.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/linux/build_linux.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/windows/build_windows.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ios_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_ipa_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_linux_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_macos_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_windows_test.dart
  packages/flutter_tools/test/general.shard/base/os_test.dart
  packages/flutter_tools/test/general.shard/utils_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: team, tool, a: desktop, autosubmit

#143120 Roll Flutter Engine from e4a5acc14b44 to b1ba9f329f76 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#143123 Roll Flutter Engine from b1ba9f329f76 to 322a461dc74f (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143108 Add a unit test for `NavigationRail`
  packages/flutter/test/material/navigation_rail_test.dart
Labels: framework, f: material design, autosubmit

#143131 Roll Flutter Engine from 322a461dc74f to 4ea7bd07328b (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143135 Roll Flutter Engine from 4ea7bd07328b to 45137ea6ba29 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143128 Pass along web renderer into debugging options in the test command.
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
Labels: tool, autosubmit

#143138 Roll Flutter Engine from 45137ea6ba29 to 104804aa374e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143139 Roll Flutter Engine from 104804aa374e to 084bd0b8f5ac (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143140 Roll Flutter Engine from 084bd0b8f5ac to 22e1241e9823 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143147 Roll Flutter Engine from 22e1241e9823 to 6d524588c0f9 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143161 Roll Packages from e4ea6bf72e1b to 29d8cc006b0e (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#143000 Highlight the links to the release branches more prominently in the CP issue template
  .github/ISSUE_TEMPLATE/7_cherry_pick.yml
Labels: autosubmit

#143055 Reland "Move native assets to `isolated/` directory"
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/isolated/native_assets/README.md
  packages/flutter_tools/lib/src/isolated/native_assets/android/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/ios/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/linux/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets_host.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/test/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/windows/native_assets.dart
  packages/flutter_tools/lib/src/native_assets.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/hot_shared.dart
  packages/flutter_tools/test/general.shard/hot_test.dart
  packages/flutter_tools/test/general.shard/isolated/android/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/build_system/targets/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
  packages/flutter_tools/test/general.shard/isolated/hot_test.dart
  packages/flutter_tools/test/general.shard/isolated/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/linux/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_host_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/isolated/windows/native_assets_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_helpers.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: tool, a: desktop, autosubmit

#143165 Roll Flutter Engine from f53fbd8393ce to 3fb60b8f37c3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143169 Roll Flutter Engine from 3fb60b8f37c3 to fb99a84de07e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143119 Enable the whole logcat log
  dev/devicelab/lib/framework/devices.dart
Labels: autosubmit

#143121 Correct menu position when menu is constrained
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, autosubmit

#143084 [flutter_tool] Retry a gradle build on connection timeout
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, autosubmit

#143184 Cross-link SliverFixedExtentList/SliverPrototypeExtentList/SliverVariedExtentList
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/lib/src/widgets/sliver_prototype_extent_list.dart
  packages/flutter/lib/src/widgets/sliver_varied_extent_list.dart
Labels: framework, f: scrolling, d: api docs, autosubmit

#143175 Revert Dual Web Compile changes
  dev/benchmarks/macrobenchmarks/web/index.html
  dev/devicelab/lib/tasks/web_benchmarks.dart
  dev/integration_tests/web_e2e_tests/web/index.html
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/build_targets.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/lib/src/html_utils.dart
  packages/flutter_tools/lib/src/isolated/build_targets.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/web_test_compiler.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web/compiler_config.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_defines_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/web/compile_web_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
  packages/flutter_tools/test/integration.shard/flutter_build_wasm_test.dart
  packages/flutter_tools/test/web.shard/hot_reload_web_test.dart
  packages/flutter_tools/test/web.shard/test_data/hot_reload_index_html_samples.dart
Labels: tool, will affect goldens, autosubmit

#143183 Roll Flutter Engine from fb99a84de07e to 6f5b6a37107b (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143132 [Re-land] Enforce a policy on supported Gradle, Java, AGP, and KGP versions
  dev/integration_tests/ui/android/app/build.gradle
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/kotlin/dependency_version_checker.gradle.kts
  packages/flutter_tools/lib/src/android/README.md
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/templates/app_shared/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/test/android_preview_integration.shard/android_dependency_version_checking_test.dart
Labels: tool, autosubmit

#142934 Set default flutter source directory for gradle builds
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/test/integration.shard/android_gradle_flutter_source_path_test.dart
Labels: tool, autosubmit

#143189 Roll Flutter Engine from 6f5b6a37107b to 9b37c68b4069 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143190 Roll Flutter Engine from 9b37c68b4069 to eabac2fa7a26 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143192 Roll Flutter Engine from eabac2fa7a26 to 95feed196aab (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#143195 Roll Flutter Engine from 95feed196aab to 7b579dc30979 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143188 Layout animated GIFs only once
  packages/flutter/lib/src/rendering/image.dart
  packages/flutter/test/widgets/image_test.dart
Labels: framework, autosubmit

#143199 Roll Flutter Engine from 7b579dc30979 to f9a169e0e0c1 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143201 Roll Flutter Engine from f9a169e0e0c1 to 1f3b15738adb (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143204 Roll Flutter Engine from 1f3b15738adb to 377f1b068541 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143207 Roll Flutter Engine from 377f1b068541 to f6dddb257a4f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143208 Roll Flutter Engine from f6dddb257a4f to 350dc662e5af (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142490 barrierColor property in DialogTheme
  packages/flutter/lib/src/material/dialog.dart
  packages/flutter/lib/src/material/dialog_theme.dart
  packages/flutter/test/material/dialog_theme_test.dart
Labels: framework, f: material design, autosubmit

#143214 Roll Flutter Engine from 350dc662e5af to 1508b11bf791 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143217 Roll Packages from 29d8cc006b0e to 11152d2bc8f3 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#143220 Roll Flutter Engine from 1508b11bf791 to dcac9863a1fc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143222 Roll Flutter Engine from dcac9863a1fc to 7a241130fcf8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#142008 Migrate integration_test plugin to Gradle Kotlin DSL
  packages/integration_test/android/build.gradle
  packages/integration_test/android/build.gradle.kts
  packages/integration_test/android/settings.gradle.kts
Labels: a: tests, platform-android, framework, t: gradle, f: integration_test, autosubmit

#143231 Roll Flutter Engine from 7a241130fcf8 to 7a5390c6b3bd (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143167 Set plugin template minimum iOS version to 12.0
  dev/devicelab/lib/tasks/plugin_tests.dart
  packages/flutter_tools/templates/plugin/ios-objc.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/plugin/ios-swift.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/templates/plugin_ffi/ios.tmpl/projectName.podspec.tmpl
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
  packages/integration_test/ios/integration_test.podspec
Labels: a: tests, tool, framework, f: integration_test, autosubmit

#143235 Roll Flutter Engine from 7a5390c6b3bd to 1232d598f7c4 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143237 Roll Flutter Engine from 1232d598f7c4 to 8c521eb24171 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#140378 Add position data to `OnDragEnd` callback
  packages/flutter/lib/src/gestures/drag_details.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
Labels: framework, f: gestures

#142793 Implementing `switch` expressions in `lib/src/material/`
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/lib/src/material/progress_indicator.dart
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_list_tile.dart
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/refresh_indicator.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/lib/src/material/switch.dart
  packages/flutter/lib/src/material/switch_list_tile.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_selection.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/material/toggle_buttons.dart
  packages/flutter/lib/src/material/typography.dart
  packages/flutter/lib/src/material/user_accounts_drawer_header.dart
Labels: a: text input, framework, f: material design, autosubmit

#142913 Fix: performance improvement on golden test comparison
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/test/goldens_test.dart
Labels: a: tests, framework, autosubmit

#143251 Roll Flutter Engine from 8c521eb24171 to 6a3b0216ff5b (4 revisions)
  bin/internal/engine.version
  dev/integration_tests/release_smoke_test/lib/main.dart
Labels: engine, autosubmit

#143256 Roll Flutter Engine from 6a3b0216ff5b to f969c52f133a (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143258 Roll Flutter Engine from f969c52f133a to 41daa5b913b9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143261 Roll Flutter Engine from 41daa5b913b9 to 1b8f23bbd099 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#143264 Roll Flutter Engine from 1b8f23bbd099 to e08b6c899c42 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143265 Roll Flutter Engine from e08b6c899c42 to c587bd69985f (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143266 Roll Flutter Engine from c587bd69985f to 3c5149ccde38 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#143267 Roll Flutter Engine from 3c5149ccde38 to e6ceb3504f50 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143272 Move Windows arm64 tests to bringup true
  .ci.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#143273 Roll Flutter Engine from e6ceb3504f50 to 1478f4e75dd9 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143024 Fix text painter longest line resizing logic for `TextWidthBasis.longestLine`
  dev/integration_tests/flutter_gallery/lib/demo/shrine/supplemental/product_card.dart
  dev/integration_tests/flutter_gallery/lib/gallery/home.dart
  packages/flutter/lib/src/painting/text_painter.dart
  packages/flutter/test/painting/text_painter_test.dart
Labels: a: text input, framework, autosubmit

#143275 Roll Flutter Engine from 1478f4e75dd9 to b06b3e0d75ad (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#143280 Roll Flutter Engine from b06b3e0d75ad to 936495d94cc6 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit
