Repository flutter/flutter, pull requests merged in 2024-05, with the labels that each got.

#147645 Move docs_test and docs_publish to bringup
  .ci.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#147481 Added missing code block language in docs
  dev/benchmarks/complex_layout/README.md
  dev/benchmarks/macrobenchmarks/README.md
  dev/benchmarks/microbenchmarks/README.md
  dev/benchmarks/platform_views_layout/README.md
  dev/benchmarks/platform_views_layout_hybrid_composition/README.md
  dev/bots/README.md
  dev/conductor/README.md
  dev/integration_tests/README.md
  dev/integration_tests/android_custom_host_app/README.md
  dev/integration_tests/android_host_app_v2_embedding/README.md
  dev/integration_tests/external_textures/README.md
  dev/integration_tests/ios_host_app/README.md
  dev/integration_tests/module_host_with_custom_build_v2_embedding/README.md
  dev/integration_tests/web_e2e_tests/README.md
  dev/tools/gen_defaults/README.md
  dev/tools/gen_keycodes/README.md
  examples/hello_world/README.md
  examples/layers/README.md
  examples/platform_view/README.md
  packages/flutter/test_private/README.md
  packages/flutter_tools/doc/daemon.md
  packages/flutter_tools/lib/src/debug_adapters/README.md
  packages/flutter_tools/lib/src/reporting/github_template.dart
  packages/flutter_tools/test/general.shard/github_template_test.dart
  packages/flutter_tools/test/integration.shard/README.md
  packages/flutter_tools/test/web.shard/README.md
  packages/integration_test/README.md
  packages/integration_test/example/README.md
Labels: a: tests, tool, framework, d: examples, f: integration_test, autosubmit

#147426 Add tests for single_activator.0.dart API example.
  dev/bots/check_code_samples.dart
  examples/api/lib/widgets/shortcuts/single_activator.0.dart
  examples/api/test/widgets/shortcuts/single_activator.0_test.dart
  packages/flutter/lib/src/widgets/shortcuts.dart
Labels: framework, d: api docs, d: examples, autosubmit

#147505 Update reorderable_list.dart to use Dart 3 return switch statement for consistency
  packages/flutter/lib/src/widgets/reorderable_list.dart
Labels: framework, autosubmit

#147647 Roll Packages from cc47b06b438d to aea93d2a515c (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#146721 Add test for animated_fractionally_sized_box.0.dart API example.
  dev/bots/check_code_samples.dart
  examples/api/lib/widgets/implicit_animations/animated_fractionally_sized_box.0.dart
  examples/api/test/widgets/implicit_animations/animated_fractionally_sized_box.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#147649 Roll Flutter Engine from 0ce67714ce4c to 0014e0353aa9 (13 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#145647 Draggable feedback positioning
  packages/flutter/lib/src/widgets/drag_target.dart
  packages/flutter/test/widgets/draggable_test.dart
Labels: framework

#147655 Roll Flutter Engine from 0014e0353aa9 to 5129b4919434 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147472 `flutter/lib/src/`: refactoring if-chains into switch expressions
  packages/flutter/lib/src/animation/animation_controller.dart
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/lib/src/cupertino/list_tile.dart
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/gestures/monodrag.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/checkbox.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/ink_decoration.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/scrollbar.dart
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/lib/src/painting/matrix_utils.dart
  packages/flutter/lib/src/painting/shape_decoration.dart
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/container.dart
  packages/flutter/lib/src/widgets/magnifier.dart
  packages/flutter/lib/src/widgets/overscroll_indicator.dart
  packages/flutter/lib/src/widgets/router.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/lib/src/widgets/ticker_provider.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
Labels: a: text input, framework, a: animation, f: material design, f: scrolling, f: cupertino, f: routes, f: gestures

#147341 Fix `TextField` horizontal drag conflicts
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/gestures/tap_and_drag.dart
  packages/flutter/lib/src/widgets/text_selection.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/gestures/tap_and_drag_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/text_selection_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, f: gestures, autosubmit

#147654 [web] remove platform_messages_integration test
  dev/bots/suite_runners/run_web_tests.dart
  dev/integration_tests/web_e2e_tests/lib/platform_messages_main.dart
  dev/integration_tests/web_e2e_tests/test_driver/platform_messages_integration.dart
  dev/integration_tests/web_e2e_tests/test_driver/platform_messages_integration_test.dart
Labels: autosubmit

#147233 fix DropdownMenu overflow
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#147670 Roll Flutter Engine from 5129b4919434 to 842cf254ec58 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147663 Remove obsolete performance analysis tools.
  packages/flutter/lib/src/cupertino/app.dart
  packages/flutter/lib/src/material/app.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/performance_overlay.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/performance_overlay.dart
  packages/flutter/test/rendering/layers_test.dart
  packages/flutter/test/widgets/performance_overlay_test.dart
Labels: framework, f: material design, f: cupertino, autosubmit

#147675 Roll Flutter Engine from 842cf254ec58 to c536a14052e5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#146260 Implement computeDryBaseline for `RenderWrap`
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/rendering/wrap.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: framework, autosubmit

#147678 Roll Flutter Engine from c536a14052e5 to 2d73fa207927 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147677 Update selectable_text_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: a: text input, framework, autosubmit

#147681 Roll Flutter Engine from 2d73fa207927 to f56c20c6ac67 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#146253 Implement getDryBaseline for Stack and Overlay
  packages/flutter/lib/src/rendering/stack.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/test/rendering/stack_test.dart
Labels: framework, autosubmit

#147679 Allow explicit exclusion of packages from pinned packages in `flutter update-packages --force-update`
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/new_gallery/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/update_packages_test.dart
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test, autosubmit

#147688 Roll Flutter Engine from f56c20c6ac67 to 3087ec1adddd (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147693 Roll Flutter Engine from 3087ec1adddd to 78dced50c467 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147673 add verbose logging to select hot reload/hot restart tests
  packages/flutter_tools/lib/src/devfs.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/test/integration.shard/hot_reload_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
  packages/flutter_tools/test/integration.shard/vmservice_integration_test.dart
Labels: tool, autosubmit

#147695 Roll Flutter Engine from 78dced50c467 to 90ce9e5959fc (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147696 Roll Flutter Engine from 90ce9e5959fc to 7cbef71f4f54 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147699 Roll Flutter Engine from 7cbef71f4f54 to bfc6787eedc3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147700 Roll Flutter Engine from bfc6787eedc3 to fc28057dbd4d (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147701 Roll Flutter Engine from fc28057dbd4d to 58b031c096ea (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147703 Roll Flutter Engine from 58b031c096ea to 3c9c2ce8369e (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147711 Roll Flutter Engine from 3c9c2ce8369e to b989d239e281 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#147713 Roll Flutter Engine from b989d239e281 to 1fb36ac9d718 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147720 Roll Flutter Engine from 1fb36ac9d718 to e1126e59b698 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147727 Roll Flutter Engine from e1126e59b698 to 9982b5ffd913 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#146365 `_RenderDecorator.computeDryBaseline`
  packages/flutter/lib/src/material/input_decorator.dart
Labels: framework, f: material design, autosubmit

#147740 Roll Flutter Engine from 9982b5ffd913 to 5088f63ecee2 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147424 Add default arguments to `AnimatedPhysicalModel`
  packages/flutter/lib/src/material/material.dart
  packages/flutter/lib/src/widgets/implicit_animations.dart
  packages/flutter/test/widgets/implicit_animations_test.dart
Labels: framework, a: animation, f: material design, autosubmit

#147450 Control flow collections: `flutter_tools/`
  packages/flutter_tools/lib/src/android/android_studio.dart
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/base/analyze_size.dart
  packages/flutter_tools/lib/src/base/deferred_component.dart
  packages/flutter_tools/lib/src/base/process.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/depfile.dart
  packages/flutter_tools/lib/src/build_system/targets/deferred_components.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/custom_devices/custom_device.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/fuchsia/fuchsia_device.dart
  packages/flutter_tools/lib/src/ios/core_devices.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/simulators.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/project_validator.dart
  packages/flutter_tools/lib/src/proxy_validator.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/test/test_time_recorder.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/lib/src/windows/application_package.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/commands.shard/hermetic/devices_test.dart
Labels: platform-ios, tool, a: desktop, autosubmit

#147736 [web] skip debug mode CanvasKit e2e tests due to flakiness; unskip all other modes
  dev/bots/suite_runners/run_web_tests.dart
Labels: autosubmit

#147748 Roll Flutter Engine from 5088f63ecee2 to 3f1f81915620 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147753 Roll Flutter Engine from 3f1f81915620 to fc71b650a70a (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147759 Roll Flutter Engine from fc71b650a70a to c380e9fd4122 (4 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147761 Roll Flutter Engine from c380e9fd4122 to 98a800b00cfc (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147763 Roll Flutter Engine from 98a800b00cfc to d8c8cf4384f0 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147765 Roll Flutter Engine from d8c8cf4384f0 to b8d81a4f6e5a (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147766 Roll Flutter Engine from b8d81a4f6e5a to 75eb18090510 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#146674 Improved documentation for SpringSimulation
  packages/flutter/lib/src/physics/spring_simulation.dart
Labels: framework, autosubmit

#147769 Roll Flutter Engine from 75eb18090510 to 1f9edbeeceb3 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147778 Roll Flutter Engine from 445c3bfc0d5b to 8cce00433073 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147374 Always relies on floatingLabelStyle when FloatingLabelBehavior.always
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, autosubmit

#147782 Roll Packages from aea93d2a515c to f4719ca2feff (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#147780 Roll Flutter Engine from 8cce00433073 to 837914f3788b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147652 fixes `SearchAnchor` leak
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/test/material/search_anchor_test.dart
Labels: framework, f: material design, a: leak tracking

#147791 Roll Flutter Engine from 837914f3788b to 3eadfd5284c0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147796 Roll Flutter Engine from 3eadfd5284c0 to 250536888a91 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147800 Roll Flutter Engine from 250536888a91 to d701f407c8ea (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147802 Roll Flutter Engine from d701f407c8ea to 484574426120 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147805 Roll Flutter Engine from 484574426120 to 2561636602ed (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147808 Roll Flutter Engine from 2561636602ed to 1d484e57ce2c (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147812 Roll Flutter Engine from 1d484e57ce2c to c937a02c6eb0 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147818 Roll Flutter Engine from c937a02c6eb0 to 135acd5a689a (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147834 Roll Flutter Engine from 135acd5a689a to 66d08d55d788 (2 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#147596 Fix memory leak in ExpansionTile.
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test/material/expansion_tile_test.dart
Labels: framework, f: material design, a: leak tracking

#147689 Reland fix memory leaks for tab selector
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/page_selector_test.dart
Labels: framework, f: material design, a: leak tracking

#147821 Fix memory leaks in `CupertinoSwitch`
  packages/flutter/lib/src/cupertino/switch.dart
  packages/flutter/test/cupertino/switch_test.dart
Labels: framework, f: cupertino, a: leak tracking

#147813 Fix test.
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, a: leak tracking

#147841 Roll Flutter Engine from 66d08d55d788 to 9080957cd6a0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147842 Roll Flutter Engine from 9080957cd6a0 to 900322f23375 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147845 Roll Flutter Engine from 900322f23375 to 624dcb987f39 (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#147852 Roll Flutter Engine from 624dcb987f39 to c73fd390d10e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147853 Roll Flutter Engine from c73fd390d10e to e2b828f368f6 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147854 Roll Flutter Engine from e2b828f368f6 to f2bfea5fdecd (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147858 Fix Tooltip.decoration comment
  packages/flutter/lib/src/material/tooltip.dart
Labels: framework, f: material design, autosubmit

#147865 Roll Flutter Engine from f2bfea5fdecd to a30ae7729c95 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147866 Roll Packages from f4719ca2feff to 2dfe645a96f9 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#147878 Roll Flutter Engine from a30ae7729c95 to d0f99b35eac6 (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147846 Fix leak in a test.
  packages/flutter/test/gestures/tap_and_drag_test.dart
Labels: framework, f: gestures, autosubmit

#147880 Roll Flutter Engine from d0f99b35eac6 to 70cc300f9ad8 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147882 [new gallery] Reisze gallery images
  dev/integration_tests/new_gallery/lib/studies/crane/backdrop.dart
  dev/integration_tests/new_gallery/lib/studies/crane/item_cards.dart
Labels: autosubmit

#147884 Roll Flutter Engine from 70cc300f9ad8 to 960a0c8fecbe (1 revision)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#147886 Roll Flutter Engine from 960a0c8fecbe to 463ff7d2d4d5 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#146999 Fix janks and memory leaks in `CupertinoPageTransition` and `CupertinoFullscreenDialogTransition`
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/test/cupertino/route_test.dart
Labels: framework, f: cupertino, f: routes, a: leak tracking

#147843 MultiSelectableSelectionContainerDelegate documentation fixes.
  packages/flutter/lib/src/widgets/selectable_region.dart
Labels: framework, autosubmit

#147895 Roll Flutter Engine from 463ff7d2d4d5 to 422f92b992c5 (5 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147899 Roll Flutter Engine from 422f92b992c5 to 4cb9e02c06ce (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147564 test focus example 0
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/focus_scope/focus.0_test.dart
Labels: framework, d: api docs, d: examples, f: focus, autosubmit

#147904 Roll Flutter Engine from 4cb9e02c06ce to b64e2300bcd0 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147893 Fix document generation, eliminate template support from snippets tool.
  dev/snippets/README.md
  dev/snippets/bin/snippets.dart
  dev/snippets/lib/src/configuration.dart
  dev/snippets/lib/src/data_types.dart
  dev/snippets/lib/src/import_sorter.dart
  dev/snippets/lib/src/snippet_generator.dart
  dev/snippets/lib/src/snippet_parser.dart
  dev/snippets/lib/src/util.dart
  dev/snippets/test/configuration_test.dart
  dev/snippets/test/snippet_parser_test.dart
  dev/snippets/test/snippets_test.dart
Labels: autosubmit

#147485 fix MenuItemButton if child is null
  packages/flutter/lib/src/material/menu_anchor.dart
  packages/flutter/test/material/menu_anchor_test.dart
Labels: framework, f: material design, autosubmit

#147905 Roll Flutter Engine from b64e2300bcd0 to b7bfd94af743 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147906 Roll Flutter Engine from b7bfd94af743 to 80470584e1e1 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147910 Roll Flutter Engine from 80470584e1e1 to ece1d686e3ba (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147860 DropdownMenu cleanup
  packages/flutter/lib/src/material/dropdown_menu.dart
Labels: framework, f: material design, autosubmit

#147912 Roll Flutter Engine from ece1d686e3ba to 150f694a7816 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147457 Added missing tests for ButtonStyle example
  dev/bots/check_code_samples.dart
  examples/api/test/material/button_style/button_style.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#147433 Add tests for shortcuts.dart API examples.
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/shortcuts/shortcuts.0_test.dart
  examples/api/test/widgets/shortcuts/shortcuts.1_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#147809 Improve Android SDK and NDK mistmatch warning message
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/test/integration.shard/android_plugin_compilesdkversion_mismatch_test.dart
  packages/flutter_tools/test/integration.shard/android_plugin_ndkversion_mismatch_test.dart
Labels: tool, autosubmit

#147536 Add tests for callback_shortcuts.0.dart API example.
  dev/bots/check_code_samples.dart
  examples/api/test/widgets/shortcuts/callback_shortcuts.0.dart
  examples/api/test/widgets/shortcuts/callback_shortcuts.0_test.dart
Labels: framework, d: api docs, d: examples, autosubmit

#147924 Roll Packages from 2dfe645a96f9 to 5ccddfc995e4 (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#147926 Roll Flutter Engine from 150f694a7816 to 5d94a52687a6 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147607 Reapply new PopScope API
  dev/integration_tests/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/full_screen_dialog_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/text_form_field_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/shrine/expanding_bottom_sheet.dart
  dev/integration_tests/flutter_gallery/lib/gallery/home.dart
  examples/api/lib/widgets/form/form.1.dart
  examples/api/lib/widgets/pop_scope/pop_scope.0.dart
  examples/api/lib/widgets/pop_scope/pop_scope.1.dart
  examples/api/test/widgets/pop_scope/pop_scope.1_test.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/navigator_pop_handler.dart
  packages/flutter/lib/src/widgets/pop_scope.dart
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/tab_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/pop_scope_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, d: api docs, d: examples, f: routes

#147326 Add kotlinOptions jvmTarget to templates
  dev/integration_tests/abstract_method_smoke_test/android/app/build.gradle
  dev/integration_tests/android_embedding_v2_smoke_test/android/app/build.gradle
  dev/integration_tests/android_semantics_testing/android/app/build.gradle
  dev/integration_tests/channels/android/app/build.gradle
  dev/integration_tests/non_nullable/android/app/build.gradle
  dev/integration_tests/release_smoke_test/android/app/build.gradle
  dev/integration_tests/spell_check/android/app/build.gradle
  dev/integration_tests/ui/android/app/build.gradle
  packages/flutter_tools/templates/app_shared/android-java.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/app_shared/android-kotlin.tmpl/app/build.gradle.tmpl
  packages/flutter_tools/templates/plugin/android-kotlin.tmpl/build.gradle.tmpl
Labels: tool, autosubmit

#147709 Fix dep tracking
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/test/general.shard/build_system/targets/common_test.dart
Labels: tool, autosubmit

#141295 Change dialog font family
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: framework, f: cupertino, autosubmit

#147938 Roll Flutter Engine from 5d94a52687a6 to d88b7dbfef2e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#145258 feat: Rework getting plugin implementation candidates and plugin resolution
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
Labels: tool, autosubmit

#147464 improve focus example
  dev/bots/check_code_samples.dart
  examples/api/lib/widgets/focus_scope/focus.1.dart
  examples/api/test/widgets/focus_scope/focus.1_test.dart
Labels: framework, d: api docs, d: examples, f: focus, autosubmit

#147939 Roll Flutter Engine from d88b7dbfef2e to 42898e014fd1 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147935 Properly guard context access in then clauses
  dev/integration_tests/flutter_gallery/lib/demo/material/dialog_demo.dart
Labels: f: material design, autosubmit

#147232 Introduce `TabBar.textScaler` for tab label upper text scale limit
  packages/flutter/lib/src/material/tab_bar_theme.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
Labels: framework, f: material design, autosubmit

#147911 Implement `RenderEditable.computeDryBaseline`
  packages/flutter/lib/src/rendering/editable.dart
Labels: framework, autosubmit

#147346 [web] Use platform detection from Flutter web engine.
  packages/flutter/lib/src/foundation/_platform_web.dart
  packages/flutter/test/foundation/platform_web_test.dart
Labels: framework, autosubmit

#147943 Roll Flutter Engine from 42898e014fd1 to 1fe835b85f5c (3 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147897 [flutter web] Listen for service extension registration events to determine hot-restart method name
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: tool, autosubmit

#147947 Roll Flutter Engine from 1fe835b85f5c to 880280a14b65 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147817 fixes `RawDialogRoute` memory leak
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: framework, f: routes, autosubmit, a: leak tracking

#146224 Implement computeDryBaseline for RenderChip
  packages/flutter/lib/src/material/chip.dart
  packages/flutter/test/material/chip_test.dart
Labels: framework, f: material design, autosubmit

#147954 Roll Flutter Engine from d8dd731f91ef to 1c52274e1118 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147955 Roll Flutter Engine from 1c52274e1118 to 8b0ab9366715 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147907 Fix more memory leaks in cupertino page transition
  packages/flutter/lib/src/cupertino/route.dart
Labels: framework, f: cupertino, f: routes, a: leak tracking

#147957 Roll Flutter Engine from 8b0ab9366715 to 0a469aa59c4e (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147861 Fix floating SnackBar is not centered when RTL and Material 2
  packages/flutter/lib/src/material/scaffold.dart
  packages/flutter/lib/src/material/snack_bar.dart
  packages/flutter/test/material/snack_bar_test.dart
Labels: framework, f: material design, autosubmit

#147973 Roll Flutter Engine from 78878241c8f3 to 071014f31c6b (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147980 Roll Packages from 5ccddfc995e4 to 8de142d33b88 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#147822 Fix memory leaks in context menu
  packages/flutter/lib/src/cupertino/context_menu.dart
  packages/flutter/test/cupertino/context_menu_test.dart
Labels: a: text input, framework, f: cupertino, a: leak tracking

#147581 `_RenderValueIndicator` leak fix used on `RangeSlider`
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/test/material/range_slider_test.dart
Labels: framework, f: material design, autosubmit, a: leak tracking

#147998 Tweak to fix context.mounted in dialog_demo
  dev/integration_tests/flutter_gallery/lib/demo/material/dialog_demo.dart
Labels: f: material design, autosubmit

#147997 add print traces to reload isolate resume logic
  packages/flutter_tools/lib/src/run_hot.dart
Labels: tool, autosubmit

#148010 Roll Flutter Engine from 9cb60de37b6d to 93c504058426 (6 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#148014 Roll Flutter Engine from 93c504058426 to bd58d2b2d655 (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147953 Fix semantic debugger
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/widgets/semantics_debugger.dart
  packages/flutter/test/rendering/paragraph_test.dart
  packages/flutter/test/rendering/platform_view_test.dart
  packages/flutter/test/rendering/reattach_test.dart
  packages/flutter/test/rendering/simple_semantics_test.dart
  packages/flutter/test/widgets/semantics_debugger_test.dart
  packages/flutter/test/widgets/semantics_test.dart
Labels: framework, a: accessibility, autosubmit

#148023 Exclude abi key in local golden file testing
  packages/flutter_goldens/lib/skia_client.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, framework, autosubmit

#147944 [web] Update wasm CLI details to be clear JavaScript is ALSO compiled
  packages/flutter_tools/lib/src/commands/build_web.dart
Labels: tool, autosubmit, e: wasm, team-web

#148030 Roll Flutter Engine from bd58d2b2d655 to 69f2d9610a18 (7 revisions)
  bin/internal/engine.version
  bin/internal/fuchsia-linux.version
Labels: engine, autosubmit

#148034 Roll Flutter Engine from 69f2d9610a18 to fe08238f5a52 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#148038 Roll Flutter Engine from fe08238f5a52 to c2e874fdc164 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#148040 Roll Flutter Engine from c2e874fdc164 to c0fd3386d018 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#147950 [flutter_releases] Flutter stable 3.22.0 Framework Cherrypicks
  bin/internal/engine.version
  dartdoc_options.yaml
  dev/bots/docs.sh
  dev/snippets/README.md
  dev/snippets/bin/snippets.dart
  dev/snippets/lib/snippets.dart
  dev/snippets/lib/src/analysis.dart
  dev/snippets/lib/src/configuration.dart
  dev/snippets/lib/src/data_types.dart
  dev/snippets/lib/src/import_sorter.dart
  dev/snippets/lib/src/snippet_generator.dart
  dev/snippets/lib/src/snippet_parser.dart
  dev/snippets/lib/src/util.dart
  dev/snippets/pubspec.yaml
  dev/snippets/test/configuration_test.dart
  dev/snippets/test/fake_process_manager.dart
  dev/snippets/test/filesystem_resource_provider.dart
  dev/snippets/test/import_sorter_test.dart
  dev/snippets/test/snippet_parser_test.dart
  dev/snippets/test/snippets_test.dart
  dev/snippets/test/util_test.dart
  dev/tools/create_api_docs.dart
Labels: engine, autosubmit

#147098 Fix ExpandIcon color when ExpansionPanel.canTapOnHeader true (#147097)
  packages/flutter/lib/src/material/expansion_panel.dart
  packages/flutter/test/material/expansion_panel_test.dart
Labels: framework, f: material design, autosubmit

#148053 Add Badge example
  examples/api/lib/material/badge/badge.0.dart
  examples/api/test/material/badge/badge.0_test.dart
  packages/flutter/lib/src/material/badge.dart
Labels: framework, f: material design, d: api docs, d: examples, autosubmit

#148020 Bump flutter_lints to 4.0
  packages/flutter_tools/templates/app/pubspec.yaml.tmpl
  packages/flutter_tools/templates/module/common/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package/pubspec.yaml.tmpl
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/templates/plugin_shared/pubspec.yaml.tmpl
  packages/flutter_tools/templates/skeleton/pubspec.yaml.tmpl
Labels: tool, autosubmit

#148070 Roll Flutter Engine from c0fd3386d018 to 6e722ae213bd (2 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit

#147432 Getting rid of containers
  packages/flutter/lib/src/cupertino/context_menu_action.dart
  packages/flutter/lib/src/cupertino/date_picker.dart
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/cupertino/refresh.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/material/banner.dart
  packages/flutter/lib/src/material/bottom_navigation_bar.dart
  packages/flutter/lib/src/material/button.dart
  packages/flutter/lib/src/material/button_bar.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/card.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/cupertino/context_menu_test.dart
  packages/flutter/test/material/card_test.dart
  packages/flutter/test/material/card_theme_test.dart
  packages/flutter/test/material/drawer_test.dart
  packages/flutter/test/material/drawer_theme_test.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#147342 Remove hidden dependencies on the default LocalPlatform
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/lib/skia_client.dart
  packages/flutter_goldens/test/flutter_goldens_test.dart
Labels: a: tests, framework, autosubmit

#148087 Don't pin package:macros
  dev/automated_tests/pubspec.yaml
  dev/benchmarks/complex_layout/pubspec.yaml
  dev/benchmarks/macrobenchmarks/pubspec.yaml
  dev/benchmarks/microbenchmarks/pubspec.yaml
  dev/benchmarks/platform_channels_benchmarks/pubspec.yaml
  dev/benchmarks/platform_views_layout/pubspec.yaml
  dev/benchmarks/platform_views_layout_hybrid_composition/pubspec.yaml
  dev/benchmarks/test_apps/stocks/pubspec.yaml
  dev/bots/pubspec.yaml
  dev/conductor/core/pubspec.yaml
  dev/customer_testing/pubspec.yaml
  dev/devicelab/pubspec.yaml
  dev/integration_tests/android_semantics_testing/pubspec.yaml
  dev/integration_tests/android_verified_input/pubspec.yaml
  dev/integration_tests/android_views/pubspec.yaml
  dev/integration_tests/deferred_components_test/pubspec.yaml
  dev/integration_tests/external_textures/pubspec.yaml
  dev/integration_tests/flavors/pubspec.yaml
  dev/integration_tests/flutter_gallery/pubspec.yaml
  dev/integration_tests/hybrid_android_views/pubspec.yaml
  dev/integration_tests/ios_platform_view_tests/pubspec.yaml
  dev/integration_tests/new_gallery/pubspec.yaml
  dev/integration_tests/platform_interaction/pubspec.yaml
  dev/integration_tests/ui/pubspec.yaml
  dev/integration_tests/web_e2e_tests/pubspec.yaml
  dev/integration_tests/windows_startup_test/pubspec.yaml
  dev/snippets/pubspec.yaml
  dev/tools/gen_defaults/pubspec.yaml
  dev/tools/gen_keycodes/pubspec.yaml
  dev/tools/pubspec.yaml
  examples/api/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/platform_channel/pubspec.yaml
  examples/platform_channel_swift/pubspec.yaml
  examples/texture/pubspec.yaml
  packages/flutter_driver/pubspec.yaml
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/fuchsia_remote_debug_protocol/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
Labels: a: tests, tool, framework, d: api docs, d: examples, f: integration_test

#148084 Roll Flutter Engine from 6e722ae213bd to c0917b14fc36 (1 revision)
  bin/internal/engine.version
Labels: engine, autosubmit

#148086 Reland "Implement computeDryBaseline for `RenderWrap` (#146260)"
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/rendering/wrap.dart
  packages/flutter/test/widgets/wrap_test.dart
Labels: framework, autosubmit

#147793 `if` chains → `switch` expressions
  dev/benchmarks/macrobenchmarks/lib/src/picture_cache.dart
  dev/benchmarks/macrobenchmarks/lib/src/web/bench_build_material_checkbox.dart
  dev/conductor/core/lib/src/start.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/backdrop_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/list_demo.dart
  dev/integration_tests/flutter_gallery/lib/gallery/backdrop.dart
  dev/integration_tests/flutter_gallery/lib/gallery/syntax_highlighter.dart
  dev/integration_tests/new_gallery/lib/demos/material/cards_demo.dart
  dev/integration_tests/new_gallery/lib/demos/reference/two_pane_demo.dart
  dev/integration_tests/new_gallery/lib/pages/settings_icon/icon.dart
  dev/integration_tests/wide_gamut_test/integration_test/app_test.dart
  dev/manual_tests/lib/density.dart
  dev/manual_tests/lib/page_view.dart
  dev/tools/gen_defaults/lib/template.dart
  dev/tools/gen_keycodes/lib/utils.dart
  examples/api/lib/material/snack_bar/snack_bar.2.dart
  packages/flutter/test/widgets/linked_scroll_view_test.dart
  packages/flutter/test/widgets/overscroll_stretch_indicator_test.dart
  packages/flutter/test/widgets/two_dimensional_viewport_test.dart
  packages/flutter_driver/lib/src/driver/timeline.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/lib/src/widget_tester.dart
  packages/flutter_tools/lib/src/android/deferred_components_validator.dart
  packages/flutter_tools/lib/src/base/multi_root_file_system.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/core_devices.dart
  packages/flutter_tools/lib/src/localizations/message_parser.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/src/context.dart
Labels: a: tests, a: text input, platform-ios, tool, framework, f: material design, f: scrolling, d: api docs, d: examples

#148137 Roll Flutter Engine from c0917b14fc36 to 1ccd0c308b3a (10 revisions)
  bin/internal/engine.version
Labels: engine, autosubmit
