Repository flutter/flutter, pull requests merged in 2025-04, with the labels that each got.

#166165 [Impeller] Directly tessellate conics to linear path segments
  engine/src/flutter/impeller/display_list/aiks_dl_path_unittests.cc
  engine/src/flutter/impeller/geometry/path_component.cc
  engine/src/flutter/impeller/geometry/path_component.h
  engine/src/flutter/impeller/geometry/wangs_formula.cc
  engine/src/flutter/impeller/geometry/wangs_formula.h
Labels: engine, will affect goldens, e: impeller, autosubmit

#166299 Roll Skia from 5f262bd2cbb4 to 4b07443e6071 (10 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166298 [impeller] fixes diagonal antialiased lines
  engine/src/flutter/impeller/display_list/aiks_dl_path_unittests.cc
  engine/src/flutter/impeller/entity/contents/line_contents.cc
Labels: engine, will affect goldens, e: impeller, autosubmit

#166293 [android_engine_test] disable old HC mode tests.
  dev/integration_tests/android_engine_test/test_driver/platform_view/hybrid_composition_platform_view_main_test.dart
Labels: autosubmit

#166199 [Impeller] small cpu perf for text contents.
  engine/src/flutter/impeller/entity/contents/text_contents.cc
  engine/src/flutter/impeller/entity/contents/text_contents_unittests.cc
Labels: a: text input, engine, e: impeller, autosubmit

#166301 Roll Dart SDK from 509faa921c95 to 6b07a09cbd2d (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#166156 [engine, web_ui] Fix instances of library_private_types_in_public_api
  engine/src/flutter/lib/web_ui/analysis_options.yaml
  engine/src/flutter/lib/web_ui/lib/src/engine/canvaskit/text.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/dom.dart
  engine/src/flutter/lib/web_ui/pubspec.yaml
  engine/src/flutter/lib/web_ui/test/common/matchers.dart
Labels: a: text input, engine, platform-web, autosubmit

#166211 [tool] Improve using project files in build targets
  packages/flutter_tools/lib/src/build_system/source.dart
  packages/flutter_tools/lib/src/build_system/targets/dart_plugin_registrant.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/test/general.shard/build_system/source_test.dart
Labels: tool, autosubmit, team-ios

#166321 Roll Dart SDK from 6b07a09cbd2d to b4d374ec59ec (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine

#166329 Roll Skia from 4b07443e6071 to 52cbb917fffd (4 revisions)
  DEPS
Labels: engine

#164437 Add `--ignore-timeouts` flag for `flutter test` command
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
Labels: tool

#163654 [Gen-l10n] Add `Message.resourceId` and `locale` to all `L10nException` error messages
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n_types.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, autosubmit

#166296 Trim any text before osascript JSON response
  packages/flutter_tools/lib/src/ios/xcode_debug.dart
  packages/flutter_tools/test/general.shard/ios/xcode_debug_test.dart
Labels: platform-ios, tool, autosubmit, team-ios

#166342 Roll Dart SDK from b4d374ec59ec to 4e1f02bc704f (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#166332 Update Roadmap
  docs/roadmap/Roadmap.md
  docs/roadmap/[Archive]-Old-Roadmaps.md
Labels: d: docs/, emergency

#166027 Convert `AppPluginLoaderPlugin` to Kotlin, and add `NativePluginLoaderReflectionBridge` to expose it in Kotlin
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/module_plugin_loader.gradle
  packages/flutter_tools/gradle/src/main/groovy/app_plugin_loader.groovy
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/groovy/native_plugin_loader.groovy
  packages/flutter_tools/gradle/src/main/kotlin/BaseApplicationNameHandler.kt
  packages/flutter_tools/gradle/src/main/kotlin/BaseFlutterTaskHelper.kt
  packages/flutter_tools/gradle/src/main/kotlin/DependencyVersionChecker.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterAppPluginLoaderPlugin.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterExtension.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginConstants.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginUtils.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterTask.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterTaskHelper.kt
  packages/flutter_tools/gradle/src/main/kotlin/NativePluginLoaderReflectionBridge.kt
  packages/flutter_tools/gradle/src/main/scripts/native_plugin_loader.gradle.kts
Labels: platform-android, tool, autosubmit

#164469 Fix: Hero animation for page transition
  packages/flutter/lib/src/material/page.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
  packages/flutter/test/widgets/heroes_test.dart
Labels: framework, f: material design, autosubmit

#164675 Fix: DelegateTransition for cupertino sheet route
  packages/flutter/lib/src/widgets/routes.dart
  packages/flutter/test/cupertino/sheet_test.dart
  packages/flutter/test/widgets/routes_test.dart
Labels: framework, f: cupertino, f: routes, autosubmit

#166045 [dart:ui] Add `Path.addRSuperellipse`
  engine/src/flutter/display_list/dl_builder.cc
  engine/src/flutter/display_list/testing/dl_test_snippets.cc
  engine/src/flutter/impeller/geometry/path_builder.cc
  engine/src/flutter/impeller/geometry/round_superellipse_param.cc
  engine/src/flutter/impeller/geometry/round_superellipse_param.h
  engine/src/flutter/lib/ui/dart_ui.cc
  engine/src/flutter/lib/ui/painting.dart
  engine/src/flutter/lib/ui/painting/path.cc
  engine/src/flutter/lib/ui/painting/path.h
  engine/src/flutter/lib/ui/painting/rsuperellipse.h
  engine/src/flutter/lib/web_ui/lib/path.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/canvaskit/path.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/skwasm/skwasm_impl/path.dart
  engine/src/flutter/lib/web_ui/test/engine/scene_view_test.dart
  engine/src/flutter/testing/dart/geometry_test.dart
  engine/src/flutter/testing/dart/path_test.dart
Labels: engine, platform-web, e: impeller, autosubmit

#166351 Started pixel aligning hairlines
  engine/src/flutter/display_list/geometry/dl_path.cc
  engine/src/flutter/display_list/geometry/dl_path.h
  engine/src/flutter/display_list/geometry/dl_path_unittests.cc
  engine/src/flutter/impeller/display_list/aiks_dl_path_unittests.cc
  engine/src/flutter/impeller/display_list/dl_dispatcher.cc
  engine/src/flutter/impeller/entity/geometry/line_geometry.cc
Labels: engine, will affect goldens, e: impeller, autosubmit

#166484 Roll Skia from 52cbb917fffd to 75a0ec473181 (21 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166295 Remove unnecessary cache busting mechanism in hot restart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
Labels: tool, autosubmit

#165935 [a11y] add SemanticsValidationResult
  engine/src/flutter/lib/ui/semantics.dart
  engine/src/flutter/lib/ui/semantics/semantics_node.h
  engine/src/flutter/lib/ui/semantics/semantics_update_builder.cc
  engine/src/flutter/lib/ui/semantics/semantics_update_builder.h
  engine/src/flutter/lib/web_ui/lib/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/incrementable.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/text_field.dart
  engine/src/flutter/lib/web_ui/test/common/matchers.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_tester.dart
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/table.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/lib/src/widgets/table.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/input_date_picker_form_field_test.dart
  packages/flutter/test/semantics/semantics_update_test.dart
  packages/flutter/test/widgets/custom_painter_test.dart
  packages/flutter/test/widgets/form_test.dart
  packages/flutter/test/widgets/semantics_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter/test/widgets/table_test.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, a: text input, framework, engine, f: material design, a: accessibility, platform-web, autosubmit

#166471 Skip flaking scheduler test
  packages/flutter/test/scheduler/scheduler_test.dart
Labels: framework, autosubmit

#166455 Fix ISSUE_TEMPLATE Ordering: `10 < 9`, but `10 > 09`
  .github/ISSUE_TEMPLATE/01_activation.yml
  .github/ISSUE_TEMPLATE/02_bug.yml
  .github/ISSUE_TEMPLATE/03_feature_request.yml
  .github/ISSUE_TEMPLATE/04_performance_others.yml
  .github/ISSUE_TEMPLATE/05_performance_speed.yml
  .github/ISSUE_TEMPLATE/06_infrastructure.yml
  .github/ISSUE_TEMPLATE/07_design_doc.yml
  .github/ISSUE_TEMPLATE/08_first_party_packages.yml
  .github/ISSUE_TEMPLATE/09_feature.yml
  bin/internal/update_dart_sdk.sh
  docs/contributing/Design-Documents.md
  docs/infra/Flutter-Framework-Gardener-Rotation.md
  docs/infra/Understanding-a-LUCI-build-failure.md
  docs/platforms/desktop/macos/Developing-with-Flutter-on-Apple-Silicon.md
  engine/src/flutter/docs/impeller/Flutter-GPU.md
  packages/flutter/lib/src/foundation/assertions.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/flex.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/framework.dart
  packages/flutter/test/foundation/assertions_test.dart
  packages/flutter/test/semantics/semantics_test.dart
  packages/flutter_driver/lib/src/driver/web_driver.dart
  packages/flutter_localizations/lib/src/l10n/README.md
  packages/flutter_tools/lib/src/cache.dart
  packages/flutter_tools/lib/src/migrations/swift_package_manager_integration_migration.dart
Labels: a: tests, team, tool, framework, engine, a: accessibility, a: internationalization, a: desktop, team-infra, autosubmit, triaged-infra, d: docs/

#164790 Add styling parameters in `PopupMenuDivider`
  packages/flutter/lib/src/material/divider.dart
  packages/flutter/lib/src/material/popup_menu.dart
  packages/flutter/test/material/popup_menu_test.dart
Labels: framework, f: material design, autosubmit

#165393 Fix: Range slider show overlay for both thumbs on hovering one
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/test/material/range_slider_test.dart
Labels: framework, f: material design, autosubmit

#166368 Deprecate ExpansionTileController
  packages/flutter/lib/fix_data/fix_material/fix_expansion_tile.yaml
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/test_fixes/material/expansion_tile.dart
  packages/flutter/test_fixes/material/expansion_tile.dart.expect
Labels: framework, f: material design, c: tech-debt, autosubmit

#163950 Migrate to Theme.brightnessOf method
  dev/integration_tests/flutter_gallery/lib/demo/material/date_and_time_picker_demo.dart
  dev/integration_tests/flutter_gallery/lib/demo/material/menu_demo.dart
  dev/integration_tests/flutter_gallery/lib/gallery/app.dart
  dev/integration_tests/flutter_gallery/lib/gallery/demo.dart
  dev/integration_tests/flutter_gallery/lib/gallery/options.dart
  dev/integration_tests/new_gallery/lib/studies/reply/app.dart
  dev/integration_tests/new_gallery/lib/studies/reply/mail_card_preview.dart
  packages/flutter/lib/src/material/bottom_app_bar.dart
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/lib/src/material/expand_icon.dart
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/stepper.dart
  packages/flutter/lib/src/material/tabs.dart
Labels: framework, f: material design, autosubmit

#166499 Roll Skia from 75a0ec473181 to c106d7831592 (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166504 Roll Dart SDK from b8b4076b1237 to 2a1a13cc3a91 (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#166508 Roll Fuchsia Linux SDK from v7PGvypiiWLO8PbsZ... to vYisSsIgqw0mqFRVJ...
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#166509 Roll Skia from c106d7831592 to 2be12bc2668b (1 revision)
  DEPS
Labels: engine, autosubmit

#166056 Fix read only TextField focus traversal on macOS
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, autosubmit

#166282 [native_assets] Roll dependencies
  dev/integration_tests/link_hook/hook/build.dart
  dev/integration_tests/link_hook/hook/link.dart
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/isolated/native_assets/android/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/ios/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/macos/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/test/general.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test_utils.dart
Labels: tool, a: desktop, autosubmit, team-ios

#166514 Roll Dart SDK from 2a1a13cc3a91 to 72562ca93bb5 (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#166517 Roll Skia from 2be12bc2668b to f91412f5d89d (2 revisions)
  DEPS
Labels: engine, autosubmit

#166457 Roll Packages from 125c117a432f to 07496eb03035 (31 revisions)
  bin/internal/flutter_packages.version
  dev/bots/suite_runners/run_flutter_packages_tests.dart
Labels: autosubmit

#166525 Roll Dart SDK from 72562ca93bb5 to d174ec16c3ea (1 revision)
  DEPS
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#166538 Roll Skia from b67e53719e78 to 5f65df75febd (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166542 Roll Packages from 07496eb03035 to 4a36dc63f719 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#166544 Roll Fuchsia GN SDK from K_1kHDN1WfObPYHya... to jsZSHIOmQAs3URvWU...
  DEPS
Labels: engine, autosubmit

#166305 [Impeller] Render conics without conversion from Flutter apps
  engine/src/flutter/display_list/geometry/dl_path.cc
  engine/src/flutter/display_list/geometry/dl_path_unittests.cc
  engine/src/flutter/display_list/skia/dl_sk_conversions_unittests.cc
  engine/src/flutter/display_list/testing/BUILD.gn
  engine/src/flutter/display_list/testing/dl_test_mock_path_receiver.h
  engine/src/flutter/impeller/geometry/path_component.cc
  engine/src/flutter/testing/display_list_testing.cc
  engine/src/flutter/testing/display_list_testing.h
Labels: engine, will affect goldens, e: impeller, autosubmit

#166551 Roll Skia from 5f65df75febd to af7ff0e98c4e (7 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166557 Roll Dart SDK from d174ec16c3ea to 4293d50dd30d (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#166560 Roll Skia from af7ff0e98c4e to a7da13848085 (3 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, will affect goldens, autosubmit

#166511 Add x64 ddm variants
  engine/src/flutter/ci/builders/linux_android_aot_engine_ddm.json
  engine/src/flutter/ci/builders/linux_android_debug_engine_ddm.json
Labels: engine, autosubmit

#166559 Disable firefox image_to_byte_data_test as a group.
  engine/src/flutter/.ci.yaml
  engine/src/flutter/lib/web_ui/test/engine/image_to_byte_data_test.dart
Labels: engine, platform-web, will affect goldens, autosubmit

#166571 Roll Dart SDK from 4293d50dd30d to 87965ab4864e (3 revisions)
  DEPS
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, will affect goldens, autosubmit

#166583 Roll Packages from 4a36dc63f719 to 267ac7b66308 (2 revisions)
  bin/internal/flutter_packages.version
Labels: will affect goldens, autosubmit

#164571 [Embedder] Only call removeview callback when raster thread is done with the view
  engine/src/flutter/shell/common/shell.cc
  engine/src/flutter/shell/platform/embedder/fixtures/main.dart
  engine/src/flutter/shell/platform/embedder/tests/embedder_unittests.cc
Labels: engine, autosubmit

#166234 [Impeller] if drawTextFrame scale is massive, convert to Path.
  engine/src/flutter/display_list/testing/dl_rendering_unittests.cc
  engine/src/flutter/impeller/display_list/aiks_dl_text_unittests.cc
  engine/src/flutter/impeller/display_list/canvas.cc
  engine/src/flutter/impeller/typographer/BUILD.gn
  engine/src/flutter/impeller/typographer/backends/skia/text_frame_skia.cc
  engine/src/flutter/impeller/typographer/text_frame.cc
  engine/src/flutter/impeller/typographer/text_frame.h
  engine/src/flutter/txt/src/skia/paragraph_skia.cc
Labels: a: text input, engine, will affect goldens, e: impeller, autosubmit

#166565 [web] fix text selection offset in multi-line fields
  engine/src/flutter/lib/web_ui/lib/src/engine/dom.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/text_field.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/text_editing/input_type.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  engine/src/flutter/lib/web_ui/test/engine/text_editing_test.dart
Labels: a: text input, engine, a: accessibility, platform-web, autosubmit

#166598 Relands "[Impeller] Render conics without conversion from Flutter apps (#166305)"
  engine/src/flutter/display_list/geometry/dl_path.cc
  engine/src/flutter/display_list/geometry/dl_path_unittests.cc
  engine/src/flutter/display_list/skia/dl_sk_conversions_unittests.cc
  engine/src/flutter/display_list/testing/BUILD.gn
  engine/src/flutter/display_list/testing/dl_test_mock_path_receiver.h
  engine/src/flutter/impeller/geometry/path_component.cc
  engine/src/flutter/testing/display_list_testing.cc
  engine/src/flutter/testing/display_list_testing.h
Labels: engine, e: impeller, autosubmit

#165925 Adds semantics input type
  engine/src/flutter/lib/ui/fixtures/ui_test.dart
  engine/src/flutter/lib/ui/semantics.dart
  engine/src/flutter/lib/web_ui/lib/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/semantics.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/text_field.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_tester.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/text_field_test.dart
  engine/src/flutter/shell/platform/embedder/fixtures/main.dart
  engine/src/flutter/shell/platform/windows/fixtures/main.dart
  engine/src/flutter/testing/ios_scenario_app/lib/src/locale_initialization.dart
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/basic.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/search_anchor_test.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/semantics/semantics_update_test.dart
  packages/flutter/test/widgets/basic_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/semantics_tester.dart
  packages/flutter_test/lib/src/matchers.dart
  packages/flutter_test/test/matchers_test.dart
Labels: a: tests, a: text input, framework, engine, f: material design, a: accessibility, platform-windows, platform-web, a: desktop, autosubmit

#166609 Roll Skia from a7da13848085 to 943df306bc3a (8 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166647 Roll Skia from 943df306bc3a to 8f1638231e34 (2 revisions)
  DEPS
Labels: engine, autosubmit

#166657 Roll Skia from 8f1638231e34 to da7929d79c28 (1 revision)
  DEPS
Labels: engine, autosubmit

#166661 Roll Skia from da7929d79c28 to 8505be5b584e (1 revision)
  DEPS
Labels: engine, autosubmit

#166389 Make coverage collection aware of workspaces
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/test_test.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
Labels: tool

#166114 Convert the Flutter Gradle Plugin entirely to Kotlin source
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPlugin.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginConstants.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginUtils.kt
  packages/flutter_tools/gradle/src/main/kotlin/NativePluginLoaderReflectionBridge.kt
  packages/flutter_tools/gradle/src/main/kotlin/plugins/PluginHandler.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/BaseFlutterTask.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/BaseFlutterTaskHelper.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/FlutterTask.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/FlutterTaskHelper.kt
  packages/flutter_tools/gradle/src/main/scripts/CMakeLists.txt
  packages/flutter_tools/gradle/src/main/scripts/native_plugin_loader.gradle.kts
  packages/flutter_tools/gradle/src/test/kotlin/BaseApplicationNameHandlerTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/DeeplinkTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/DependencyVersionCheckerTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/FlutterExtensionTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/FlutterPluginTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/FlutterPluginUtilsTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/IntentFilterCheckTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/VersionUtilsTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/plugins/PluginHandlerTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/tasks/BaseFlutterTaskHelperTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/tasks/FlutterTaskHelperTest.kt
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
Labels: platform-android, tool, autosubmit

#163909 Feat: Add yearShape property to DatePickerThemeData
  dev/tools/gen_defaults/lib/date_picker_template.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/date_picker_theme.dart
  packages/flutter/test/material/date_picker_theme_test.dart
Labels: framework, f: material design, autosubmit

#166675 Roll Skia from 8505be5b584e to 966d9c665eed (2 revisions)
  DEPS
Labels: engine, autosubmit

#166680 Roll Skia from 966d9c665eed to 339ef4f48c29 (1 revision)
  DEPS
Labels: engine, autosubmit

#166150 [Widget Preview] implemented gridview and listview layouts
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/widget_preview_rendering.dart.tmpl
Labels: tool, will affect goldens, autosubmit

#166687 Remove `bringup:true` from Linux tool_tests_widget_preview_scaffold
  .ci.yaml
Labels: autosubmit

#166676 [reland] Convert the Flutter Gradle Plugin entirely to Kotlin source
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPlugin.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginConstants.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginUtils.kt
  packages/flutter_tools/gradle/src/main/kotlin/NativePluginLoaderReflectionBridge.kt
  packages/flutter_tools/gradle/src/main/kotlin/plugins/PluginHandler.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/BaseFlutterTask.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/BaseFlutterTaskHelper.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/FlutterTask.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/FlutterTaskHelper.kt
  packages/flutter_tools/gradle/src/main/scripts/CMakeLists.txt
  packages/flutter_tools/gradle/src/main/scripts/native_plugin_loader.gradle.kts
  packages/flutter_tools/gradle/src/test/kotlin/BaseApplicationNameHandlerTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/DeeplinkTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/DependencyVersionCheckerTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/FlutterExtensionTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/FlutterPluginTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/FlutterPluginUtilsTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/IntentFilterCheckTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/VersionUtilsTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/plugins/PluginHandlerTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/tasks/BaseFlutterTaskHelperTest.kt
  packages/flutter_tools/gradle/src/test/kotlin/tasks/FlutterTaskHelperTest.kt
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
Labels: platform-android, tool, autosubmit

#166690 Roll Skia from 339ef4f48c29 to 5f0f9b76b975 (1 revision)
  DEPS
Labels: engine, autosubmit

#166701 [ Widget Preview ] Update generated test files
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/widget_preview_rendering.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/pubspec.yaml
Labels: tool, autosubmit

#164680 Fix: CupertinoSheetTransition moves SystemUIOverlayStyle to outside of delegatedTransition and only changes top bar
  packages/flutter/lib/src/cupertino/sheet.dart
  packages/flutter/test/cupertino/sheet_test.dart
Labels: framework, f: cupertino, autosubmit

#166710 Roll Skia from 5f0f9b76b975 to f493d403c01b (3 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166699 [flutter_tools] Update dwds version to 24.3.10
  packages/flutter_tools/pubspec.yaml
Labels: tool, autosubmit

#166714 [web] reland fix text selection offset in multi-line fields
  engine/src/flutter/lib/web_ui/lib/src/engine/dom.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/text_field.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/text_editing/input_type.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  engine/src/flutter/lib/web_ui/test/engine/text_editing_test.dart
Labels: a: text input, engine, a: accessibility, platform-web, autosubmit

#166720 Roll Skia from f493d403c01b to 245d2b8fb042 (3 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#166303 Add `RoundedSuperellipseBorder` and apply it to `CupertinoActionSheet`
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/lib/src/painting/box_border.dart
  packages/flutter/lib/src/painting/box_decoration.dart
  packages/flutter/lib/src/painting/rounded_rectangle_border.dart
  packages/flutter/test/cupertino/action_sheet_test.dart
  packages/flutter/test/painting/rounded_superellipse_border_test.dart
Labels: framework, f: cupertino, will affect goldens, autosubmit

#165557 Fix: DraggableScrollableSheet may not close if snapping is enabled
  packages/flutter/lib/src/widgets/draggable_scrollable_sheet.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
Labels: framework, f: scrolling, autosubmit

#165868 Fix `DropdownMenu` keyboard navigation on filtered entries
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#166741 Roll Skia from 7d56b9cc7ce9 to 3ea44c88d37b (1 revision)
  DEPS
Labels: engine, autosubmit

#166742 Roll Skia from 3ea44c88d37b to 515eb6238867 (1 revision)
  DEPS
Labels: engine, autosubmit

#166748 Roll Skia from 515eb6238867 to 57a1644f0f8f (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine

#166099 add check for announcement support per platform
  packages/flutter/lib/src/semantics/semantics_service.dart
  packages/flutter/test/semantics/semantics_service_test.dart
Labels: framework, a: accessibility, autosubmit

#166757 Enable a swath of `bringup: true` builds that were forgotten to the void.
  .ci.yaml
Labels: autosubmit

#166760 Roll Skia from 57a1644f0f8f to 7b929584566c (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166698 [ Widget Preview ] Add initial support for communications over the Dart Tooling Daemon (DTD)
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/widget_preview/dtd_services.dart
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/dtd_services.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/widget_preview_rendering.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/widget_preview_test.dart
  packages/flutter_tools/test/commands.shard/permeable/widget_preview_test.dart
  packages/flutter_tools/test/integration.shard/widget_preview_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/dtd_services.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/widget_preview_rendering.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/pubspec.yaml
Labels: tool, autosubmit

#166159 Added Docs For Updating to a New Java Version in CI
  docs/platforms/android/New-Android-version.md
  docs/platforms/android/Uploading-New-Java-Version-to-CIPD.md
Labels: autosubmit, d: docs/

#166727 Fix warnings in FGP
  dev/devicelab/bin/tasks/gradle_plugin_fat_apk_test.dart
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/src/main/kotlin/Deeplink.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterAppPluginLoaderPlugin.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterExtension.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPlugin.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginConstants.kt
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginUtils.kt
  packages/flutter_tools/gradle/src/main/kotlin/VersionUtils.kt
  packages/flutter_tools/gradle/src/main/kotlin/plugins/PluginHandler.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/BaseFlutterTask.kt
  packages/flutter_tools/gradle/src/main/kotlin/tasks/BaseFlutterTaskHelper.kt
  packages/flutter_tools/gradle/src/main/scripts/native_plugin_loader.gradle.kts
  packages/flutter_tools/gradle/src/test/kotlin/tasks/BaseFlutterTaskHelperTest.kt
Labels: platform-android, tool, autosubmit

#166594 Unbreak presubmit for stable
  engine/src/flutter/lib/web_ui/test/engine/image_to_byte_data_test.dart
  engine/src/flutter/testing/run_tests.py
Labels: engine, platform-web, autosubmit, team-ios

#166788 Re-disable microbenchmarks iOS.
  .ci.yaml
Labels: emergency

#166749 Remove package:macros and package:_macros from pubspec.yaml
  engine/src/flutter/pubspec.yaml
  engine/src/flutter/web_sdk/pubspec.yaml
Labels: engine, platform-web, autosubmit

#166771 [Impeller] disable no decal metal test.
  engine/src/flutter/impeller/display_list/aiks_dl_blur_unittests.cc
Labels: engine, e: impeller, autosubmit

#166442 Fix TreeSliver rendering offset.
  packages/flutter/lib/src/rendering/sliver_tree.dart
  packages/flutter/test/widgets/sliver_tree_test.dart
Labels: framework, f: scrolling, will affect goldens, autosubmit

#166775 Roll Packages from 267ac7b66308 to 2405f6a2b7e1 (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#166778 Allow dart pub deps --json to fail without causing an explicit crash.
  packages/flutter_tools/lib/src/compute_dev_dependencies.dart
  packages/flutter_tools/lib/src/dart/pub.dart
  packages/flutter_tools/test/general.shard/compute_dev_dependencies_test.dart
  packages/flutter_tools/test/general.shard/dart/pub_deps_test.dart
Labels: tool, autosubmit

#166725 [Impeller] keep device holder and allocator alive until last vk image is destroyed.
  engine/src/flutter/impeller/renderer/backend/vulkan/allocator_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/allocator_vk_unittests.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/texture_source_vk.h
Labels: engine, e: impeller, autosubmit

#166776 Roll Skia from 7b929584566c to ac01f9306a0c (3 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#165589 SliverEnsureSemantics
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/scrollable.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
  examples/api/lib/widgets/sliver/sliver_ensure_semantics.0.dart
  examples/api/test/widgets/sliver/sliver_ensure_semantics.0_test.dart
  packages/flutter/lib/src/rendering/proxy_sliver.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: framework, engine, a: accessibility, f: scrolling, d: api docs, d: examples, platform-web, autosubmit

#166354 [framework] re-enable skipped impeller goldens.
  packages/flutter/test/cupertino/date_picker_test.dart
  packages/flutter/test/widgets/color_filter_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
  packages/flutter/test/widgets/shader_mask_test.dart
Labels: a: text input, framework, f: cupertino, will affect goldens, autosubmit

#166612 [Impeller] fix image shader matrix to 3x3.
  engine/src/flutter/impeller/display_list/aiks_dl_basic_unittests.cc
  engine/src/flutter/impeller/display_list/paint.cc
  engine/src/flutter/impeller/geometry/matrix.h
  engine/src/flutter/impeller/geometry/matrix_unittests.cc
Labels: engine, will affect goldens, e: impeller, autosubmit

#165481 fix(ListTileTheme): isThreeLine is missing.
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/lib/src/material/list_tile_theme.dart
  packages/flutter/test/material/list_tile_test.dart
  packages/flutter/test/material/list_tile_theme_test.dart
Labels: framework, f: material design, autosubmit

#166512 Fix CarouselView demo page is not functional using mouse scroll
  packages/flutter/lib/src/material/carousel.dart
Labels: framework, f: material design, autosubmit

#165430 [stable] fix validation check when restoring to onscreen with BDF and mips.
  CHANGELOG.md
  engine/src/flutter/impeller/display_list/aiks_dl_unittests.cc
  engine/src/flutter/impeller/display_list/canvas.cc
  engine/src/flutter/impeller/display_list/canvas.h
Labels: engine, e: impeller, cp: review, autosubmit, cp: stable

#166838 Update roadmap email
  docs/roadmap/Roadmap.md
Labels: autosubmit, d: docs/

#164455 Add `buildMode`, `icuDataPath` and `engineRevision` interpolations for custom devices
  packages/flutter_tools/lib/src/custom_devices/custom_device.dart
  packages/flutter_tools/static/custom-devices.schema.json
  packages/flutter_tools/test/general.shard/custom_devices/custom_device_test.dart
Labels: tool, autosubmit

#166717 Content aware hash moved to script and tracked
  .github/workflows/content-aware-hash.yml
  bin/internal/content_aware_hash.ps1
  bin/internal/content_aware_hash.sh
  dev/bots/analyze.dart
  dev/tools/test/content_aware_hash_test.dart
  docs/tool/Engine-artifacts.md
Labels: tool, team-infra, autosubmit, d: docs/

#164966 Fix: Focus on leading icon when null
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#166871 Roll Packages from 2405f6a2b7e1 to 431dc61cadd5 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#166873 Roll forward "Content aware hash moved..." with fix
  .github/workflows/content-aware-hash.yml
  bin/internal/content_aware_hash.ps1
  bin/internal/content_aware_hash.sh
  dev/bots/analyze.dart
  dev/tools/test/content_aware_hash_test.dart
  docs/tool/Engine-artifacts.md
Labels: tool, autosubmit, team-tool, d: docs/

#166797 ImageStreamCompleter no longer checks `_hadAtLeastOneListener` for disposal
  packages/flutter/lib/src/painting/image_stream.dart
  packages/flutter/test/painting/image_stream_test.dart
Labels: framework, autosubmit

#166854 [Impeller] prefer 24 bit depth buffer format on vulkan backend.
  engine/src/flutter/impeller/renderer/backend/vulkan/capabilities_vk.cc
Labels: engine, e: impeller, autosubmit

#166876 bump max tasks to a huge number.
  engine/src/flutter/impeller/renderer/context.h
Labels: engine, e: impeller, autosubmit

#166784 [Impeller] Speed up vulkan startup time by re-using existing vulkan context.
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
  engine/src/flutter/shell/platform/android/android_shell_holder.cc
  engine/src/flutter/shell/platform/android/android_shell_holder.h
  engine/src/flutter/shell/platform/android/android_shell_holder_unittests.cc
  engine/src/flutter/shell/platform/android/flutter_main.cc
  engine/src/flutter/shell/platform/android/flutter_main.h
  engine/src/flutter/shell/platform/android/platform_view_android.cc
  engine/src/flutter/shell/platform/android/platform_view_android.h
  engine/src/flutter/shell/platform/android/platform_view_android_jni_impl.cc
  engine/src/flutter/shell/platform/android/platform_view_android_unittests.cc
Labels: platform-android, engine, e: impeller, autosubmit

#166881 [Impeller] correctly invalidate program objects when performing a hotreload on GLES>
  engine/src/flutter/impeller/entity/contents/content_context.cc
  engine/src/flutter/impeller/renderer/backend/gles/pipeline_library_gles.cc
  engine/src/flutter/impeller/renderer/backend/gles/test/pipeline_library_gles_unittests.cc
Labels: engine, e: impeller, autosubmit

#165337 Add runtime flag for enable flutter_gpu, off by default.
  engine/src/flutter/common/settings.h
  engine/src/flutter/lib/gpu/context.cc
  engine/src/flutter/lib/ui/ui_dart_state.cc
  engine/src/flutter/lib/ui/ui_dart_state.h
  engine/src/flutter/runtime/runtime_controller.cc
  engine/src/flutter/shell/common/engine.cc
  engine/src/flutter/shell/common/switches.cc
  engine/src/flutter/shell/common/switches.h
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  engine/src/flutter/shell/platform/android/test/io/flutter/embedding/engine/loader/FlutterLoaderTest.java
  engine/src/flutter/shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  engine/src/flutter/shell/platform/darwin/ios/framework/Source/FlutterDartProjectTest.mm
  engine/src/flutter/testing/dart/gpu_test.dart
  engine/src/flutter/testing/run_tests.py
Labels: platform-android, platform-ios, engine, autosubmit, team-ios

#166501 [Impeller] set correct depth for emulated advanced blend restore.
  engine/src/flutter/impeller/display_list/aiks_dl_blend_unittests.cc
  engine/src/flutter/impeller/display_list/canvas.cc
  engine/src/flutter/impeller/display_list/canvas.h
Labels: engine, will affect goldens, e: impeller, autosubmit

#166652 [Web] Ensure that NetworkImage does not crash when disposed between frames
  packages/flutter/lib/src/painting/_network_image_web.dart
  packages/flutter/test/painting/_network_image_test_web.dart
Labels: framework, autosubmit

#166883 Roll Skia from ac01f9306a0c to 6552940886b8 (15 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166882 [engine] disable Skia resource manager warning when using Impeller.
  engine/src/flutter/shell/common/shell_io_manager.cc
Labels: engine, autosubmit

#166867 Handle missing placeholders in `gen-l10n`, add a regression test.
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
Labels: tool, autosubmit

#166891 Roll Skia from 6552940886b8 to 5ef1b00ac320 (1 revision)
  DEPS
Labels: engine, autosubmit

#166862 [native assets] Roll dependencies
  dev/integration_tests/link_hook/hook/build.dart
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  packages/flutter_tools/test/general.shard/isolated/build_system/targets/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/native_assets_test.dart
Labels: tool, a: desktop, autosubmit, team-ios

#166678 Update TextFormField restoration tests
  packages/flutter/test/material/text_form_field_restoration_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#166893 [devicelab] use surface control/hcpp in lazy startup benchmark.
  dev/devicelab/bin/tasks/flutter_gallery_lazy__start_up.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#166772 [CP-Stable] Unset GIT_DIR and other variables before updating
  CHANGELOG.md
  bin/internal/update_engine_version.ps1
  bin/internal/update_engine_version.sh
  dev/tools/test/update_engine_version_test.dart
Labels: cp: review, autosubmit

#166879 Run tests on either iOS 17 or iOS 18
  .ci.yaml
Labels: autosubmit

#166846 [ Widget Preview ] Add support for "soft" restart of individual previews
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/controls.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/widget_preview_rendering.dart.tmpl
  packages/flutter_tools/test/widget_preview_scaffold.shard/update_widget_preview_scaffold.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/controls.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/widget_preview_rendering.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/soft_restart_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/template_change_detection_smoke_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/widget_preview_scaffold_change_detector.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/widget_preview_scaffold_test_utils.dart
Labels: tool, autosubmit

#166887 [web:skwasm] be consistent about handling imbalanced layer push/pop sequence
  engine/src/flutter/lib/web_ui/lib/src/engine/scene_builder.dart
  engine/src/flutter/lib/web_ui/test/ui/scene_builder_test.dart
Labels: engine, platform-web, autosubmit

#166869 [ Widget Preview ] Link to placeholder documentation when no previews are defined
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/utils.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/widget_preview_rendering.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/pubspec.yaml.tmpl
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/utils.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/widget_preview_rendering.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/pubspec.yaml
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/no_previews_detected_test.dart
Labels: tool, autosubmit

#166805 Remove unnecessary this. qualifiers.
  packages/flutter/lib/src/cupertino/route.dart
  packages/flutter/lib/src/widgets/routes.dart
Labels: framework, f: cupertino, f: routes

#165317 Add ability to customize the default `RangeSlider` padding
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
Labels: framework, f: material design, autosubmit

#166931 Roll Skia from 5ef1b00ac320 to 171b2bf1e496 (4 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#164695 Feat: Add hintMaxLines in InputDecorationTheme
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#166939 add Impeller path stroke tessellation benchmark
  .ci.yaml
  TESTOWNERS
  dev/benchmarks/macrobenchmarks/lib/common.dart
  dev/benchmarks/macrobenchmarks/lib/main.dart
  dev/benchmarks/macrobenchmarks/lib/src/path_tessellation.dart
  dev/benchmarks/macrobenchmarks/test_driver/path_stroke_tessellation_dynamic_perf_test.dart
  dev/benchmarks/macrobenchmarks/test_driver/path_stroke_tessellation_static_perf_test.dart
  dev/devicelab/bin/tasks/dynamic_path_stroke_tessellation_perf__timeline_summary.dart
  dev/devicelab/bin/tasks/dynamic_path_stroke_tessellation_perf_ios__timeline_summary.dart
  dev/devicelab/bin/tasks/static_path_stroke_tessellation_perf__timeline_summary.dart
  dev/devicelab/bin/tasks/static_path_stroke_tessellation_perf_ios__timeline_summary.dart
  dev/devicelab/lib/tasks/perf_tests.dart
Labels: autosubmit

#166955 Roll Skia from 171b2bf1e496 to 98deb838d3b8 (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#166889 Reland "SliverEnsureSemantics (#165589)"
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/scrollable.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
  examples/api/lib/widgets/sliver/sliver_ensure_semantics.0.dart
  examples/api/test/widgets/sliver/sliver_ensure_semantics.0_test.dart
  packages/flutter/lib/src/rendering/proxy_sliver.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/sliver_multi_box_adaptor.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/lib/src/widgets/sliver.dart
  packages/flutter/test/widgets/slivers_test.dart
Labels: framework, engine, a: accessibility, f: scrolling, d: api docs, d: examples, platform-web, autosubmit

#166892 [Impeller] correct render pass bariers when resolve has mips.
  engine/src/flutter/impeller/display_list/aiks_dl_unittests.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/barrier_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/render_pass_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/texture_source_vk.cc
Labels: engine, e: impeller, autosubmit

#166943 [Impeller] re-make AHB swapchain lazy and allow usage on < 34
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
Labels: engine, e: impeller, autosubmit

#166940 [native assets] Support user-defines in pubspec
  dev/integration_tests/hook_user_defines/.gitignore
  dev/integration_tests/hook_user_defines/hook/build.dart
  dev/integration_tests/hook_user_defines/lib/hook_user_defines.dart
  dev/integration_tests/hook_user_defines/pubspec.yaml
  dev/integration_tests/hook_user_defines/src/hook_user_defines.c
  dev/integration_tests/hook_user_defines/src/hook_user_defines.h
  dev/integration_tests/hook_user_defines/test/hook_user_defines_test.dart
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/test/native_assets.dart
  packages/flutter_tools/test/general.shard/isolated/linux/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/windows/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test_utils.dart
Labels: tool, a: desktop, autosubmit, team-ios

#166963 Roll Fuchsia Linux SDK from vYisSsIgqw0mqFRVJ... to 91RIHvX0YC3wzD7qj...
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#166966 Roll Skia from 98deb838d3b8 to e7aa93f33a20 (1 revision)
  DEPS
Labels: engine, autosubmit

#166969 [native assets] Roll dependencies
  dev/integration_tests/hook_user_defines/pubspec.yaml
  dev/integration_tests/link_hook/pubspec.yaml
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
Labels: tool, autosubmit

#166977 [native assets] Use workspace pubspec for user-defines
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/test/native_assets.dart
Labels: tool, autosubmit

#166877 Reland "[ Widget Preview ] Add initial support for communications over the Dart Tooling Daemon (DTD) (#166698)"
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/lib/src/runner/flutter_command_runner.dart
  packages/flutter_tools/lib/src/widget_preview/dtd_services.dart
  packages/flutter_tools/templates/template_manifest.json
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/dtd_services.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/widget_preview_rendering.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/pubspec.yaml.tmpl
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/widget_preview_test.dart
  packages/flutter_tools/test/commands.shard/permeable/widget_preview_test.dart
  packages/flutter_tools/test/integration.shard/widget_preview_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/dtd_services.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/widget_preview_rendering.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/pubspec.yaml
Labels: tool, autosubmit

#166941 [Impeller] defer vulkan context initialization as long as possible.
  engine/src/flutter/shell/platform/android/android_context_gl_impeller.cc
  engine/src/flutter/shell/platform/android/android_context_gl_impeller.h
  engine/src/flutter/shell/platform/android/android_context_vk_impeller.cc
  engine/src/flutter/shell/platform/android/android_context_vk_impeller.h
  engine/src/flutter/shell/platform/android/android_rendering_selector.h
  engine/src/flutter/shell/platform/android/android_surface_vk_impeller.cc
  engine/src/flutter/shell/platform/android/android_surface_vk_impeller.h
  engine/src/flutter/shell/platform/android/context/android_context.h
  engine/src/flutter/shell/platform/android/flutter_main.cc
  engine/src/flutter/shell/platform/android/flutter_main.h
  engine/src/flutter/shell/platform/android/platform_view_android.cc
  engine/src/flutter/shell/platform/android/platform_view_android_unittests.cc
Labels: platform-android, engine, autosubmit

#166982 Roll Packages from 431dc61cadd5 to 465bcffe9079 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#166936 [flutter_releases] Pin engine version for 3.29.3 stable
  bin/internal/engine.version
Labels: cp: review, autosubmit

#166995 Create `engine.version`
  bin/internal/engine.version
Labels: autosubmit

#165916 [iOS/macOS] Add Xcode error if dev dependencies are incorrect
  dev/benchmarks/macrobenchmarks/macos/Runner.xcodeproj/project.pbxproj
  dev/bots/test.dart
  dev/devicelab/bin/tasks/native_ui_tests_macos.dart
  dev/devicelab/lib/tasks/plugin_tests.dart
  dev/integration_tests/ios_add2app_life_cycle/flutterapp/pubspec.yaml
  dev/integration_tests/ui/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_tools/bin/macos_assemble.sh
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/lib/src/base/file_system.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/darwin.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_macos_framework.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/xcode_build_settings.dart
  packages/flutter_tools/lib/src/macos/build_macos.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
  packages/flutter_tools/test/general.shard/ios/xcodeproj_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/flutter_plugins_dependencies_test.dart
  packages/flutter_tools/test/integration.shard/macos_assemble_test.dart
  packages/flutter_tools/test/integration.shard/xcode_dev_dependencies_test.dart
Labels: platform-ios, tool, a: desktop, autosubmit, team-ios

#164102 modify toggle mode style with DatePickerTheme
  AUTHORS
  dev/tools/gen_defaults/lib/date_picker_template.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/date_picker_theme.dart
  packages/flutter/test/material/date_picker_theme_test.dart
Labels: framework, f: material design, autosubmit

#166957 [Impeller] fix vulkan/gl color space decode.
  engine/src/flutter/lib/ui/painting/image_decoder_impeller.cc
  engine/src/flutter/lib/ui/painting/image_decoder_unittests.cc
Labels: engine, autosubmit

#166998 Fix regression in NDK version checking
  dev/devicelab/lib/framework/dependency_smoke_test_task_definition.dart
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPluginUtils.kt
Labels: platform-android, tool, autosubmit
