Repository flutter/flutter, pull requests merged in 2025-01, with the labels that each got.

#161084 [native_assets] Filter hook environment
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
Labels: tool

#160982 Omit hardcoded `--packages=.dart_tool/package_config.json`.
  packages/flutter_tools/lib/src/test/test_golden_comparator.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
  packages/flutter_tools/test/general.shard/test/test_golden_comparator_test.dart
Labels: tool

#161067 rev to the latest dart-lang/http and remove older http_multi_server refs
  DEPS
  engine/src/flutter/pubspec.yaml
Labels: engine

#160937 Add `SurfaceProducer.onSurfaceCleanup`, deprecate `onSurfaceDestroyed`.
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  engine/src/flutter/shell/platform/android/io/flutter/view/TextureRegistry.java
  engine/src/flutter/shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: engine, autosubmit

#161106 Remove the word normalized, remove minimum/maximum.
  engine/src/flutter/lib/ui/painting.dart
Labels: engine, autosubmit

#161101 update repo to be forward compatible with shelf_web_socket v3.0
  engine/src/flutter/lib/web_ui/dev/test_platform.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
Labels: tool, engine

#161174 Roll Packages from eb7358231e43 to 07ae98c5aff9 (29 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#161105 Update `flutter_template_images` to `5.0.0`.
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
Labels: tool, autosubmit

#161140 [Impeller] protect onscreen cmd buffer with render ready semaphore.
  engine/src/flutter/impeller/display_list/aiks_playground.cc
  engine/src/flutter/impeller/display_list/canvas.cc
  engine/src/flutter/impeller/display_list/canvas.h
  engine/src/flutter/impeller/display_list/canvas_unittests.cc
  engine/src/flutter/impeller/display_list/dl_dispatcher.cc
  engine/src/flutter/impeller/display_list/dl_dispatcher.h
  engine/src/flutter/impeller/display_list/dl_playground.cc
  engine/src/flutter/impeller/entity/inline_pass_context.cc
  engine/src/flutter/impeller/entity/inline_pass_context.h
  engine/src/flutter/impeller/renderer/backend/vulkan/context_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/context_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/render_pass_builder_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/render_pass_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/surface_context_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/surface_context_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/khr/khr_swapchain_impl_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/khr/khr_swapchain_impl_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/khr/khr_swapchain_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/khr/khr_swapchain_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/swapchain_vk.h
  engine/src/flutter/impeller/renderer/context.cc
  engine/src/flutter/impeller/renderer/context.h
  engine/src/flutter/impeller/toolkit/interop/surface.cc
  engine/src/flutter/shell/gpu/gpu_surface_gl_impeller.cc
  engine/src/flutter/shell/gpu/gpu_surface_metal_impeller.mm
  engine/src/flutter/shell/gpu/gpu_surface_vulkan_impeller.cc
  engine/src/flutter/shell/platform/embedder/embedder_external_view.cc
Labels: engine, autosubmit

#161005 Update Create Pull Request GitHub workflow reviewers
  .github/workflows/minimal.yml
Labels: autosubmit

#161006 Mark firebase_release_smoke_test unflaky
  .ci.yaml
Labels: autosubmit

#160993 Update GitHub URL for failing android_semantics_integration_test bringup
  .ci.yaml
Labels: autosubmit

#160990 Mark flavors_test_macos unflaky
  .ci.yaml
Labels: autosubmit

#160986 Remove now-unnecessary command `felt analyze`.
  engine/src/flutter/ci/builders/linux_web_engine_test.json
  engine/src/flutter/lib/web_ui/dev/analyze.dart
  engine/src/flutter/lib/web_ui/dev/felt.dart
  engine/src/flutter/lib/web_ui/dev/generate_builder_json.dart
Labels: engine, autosubmit

#161183 Update golden canary
  packages/flutter/test/widgets/basic_test.dart
Labels: framework, will affect goldens, autosubmit

#161178 Updated eglConfigChoose error message and error clause.
  engine/src/flutter/impeller/toolkit/egl/display.cc
Labels: engine

#160984 `TestCompiler` emits why an error occurred, if applicable, and some refactors to do so
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/test_compiler.dart
  packages/flutter_tools/lib/src/test/test_golden_comparator.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
  packages/flutter_tools/test/general.shard/test/test_compiler_test.dart
  packages/flutter_tools/test/general.shard/test/test_golden_comparator_test.dart
Labels: tool, autosubmit

#161192 [Impeller] dont generate final 1x1 mip level to work around Adreno GPU bug
  engine/src/flutter/impeller/geometry/geometry_unittests.cc
  engine/src/flutter/impeller/geometry/size.h
Labels: engine, autosubmit

#161189 Rename `shellPath` to `flutterTesterBinPath`.
  packages/flutter_tools/bin/fuchsia_tester.dart
  packages/flutter_tools/lib/src/test/flutter_platform.dart
  packages/flutter_tools/lib/src/test/flutter_tester_device.dart
  packages/flutter_tools/lib/src/test/runner.dart
  packages/flutter_tools/test/general.shard/flutter_platform_test.dart
  packages/flutter_tools/test/general.shard/flutter_tester_device_test.dart
Labels: tool

#161187 [Engine] Make `SkiaGoldClient` a NOP when the branch is not `main` or `master`.
  engine/src/flutter/testing/skia_gold_client/lib/skia_gold_client.dart
  engine/src/flutter/testing/skia_gold_client/test/skia_gold_client_test.dart
Labels: engine, autosubmit

#160556 Use `flutter` repo for engine golds instead of `flutter-engine`.
  engine/src/flutter/testing/dart/canvas_test.dart
  engine/src/flutter/testing/skia_gold_client/lib/skia_gold_client.dart
  engine/src/flutter/testing/skia_gold_client/test/skia_gold_client_test.dart
Labels: engine, will affect goldens

#160349 Set java 11 as expected java version in all templates
  packages/flutter_tools/templates/app/android-java.tmpl/app/build.gradle.kts.tmpl
  packages/flutter_tools/templates/app/android-kotlin.tmpl/app/build.gradle.kts.tmpl
  packages/flutter_tools/templates/module/android/deferred_component/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/host_app_common/app.tmpl/build.gradle.tmpl
  packages/flutter_tools/templates/module/android/library_new_embedding/Flutter.tmpl/build.gradle.tmpl
Labels: tool, autosubmit

#161211 Remove `verbose: true` from `canvas_test.dart`.
  engine/src/flutter/testing/dart/canvas_test.dart
Labels: engine

#161190 Scale any clip path by 1 / DPR.
  engine/src/flutter/lib/web_ui/lib/src/engine/scene_view.dart
  engine/src/flutter/lib/web_ui/test/engine/scene_view_test.dart
Labels: engine, autosubmit

#161102 use uuid from package:uuid instead of from package:usage
  packages/flutter_tools/lib/src/compile.dart
Labels: tool

#160989 Mark platform_channel_sample_test_macos unflaky
  .ci.yaml
Labels: autosubmit

#160991 Mark analyzer_benchmark unflaky
  .ci.yaml
Labels: autosubmit

#161212 Migrate engine labeler to top level
  .github/labeler.yml
  engine/src/flutter/.github/labeler.yml
Labels: engine, autosubmit, monorepo

#160890 Improve Plugins That Reference V1 Embedding Error Message
  packages/flutter_tools/lib/src/android/gradle_errors.dart
  packages/flutter_tools/test/general.shard/android/gradle_errors_test.dart
Labels: tool, autosubmit

#161069 [Android] Add `.cxx` directories to app template `.gitignore`
  dev/a11y_assessments/android/.gitignore
  dev/integration_tests/android_verified_input/android/.gitignore
  dev/integration_tests/deferred_components_test/android/.gitignore
  dev/integration_tests/native_driver_test/android/.gitignore
  dev/integration_tests/non_nullable/android/.gitignore
  dev/manual_tests/android/.gitignore
  dev/tracing_tests/android/.gitignore
  packages/flutter_tools/templates/app/android.tmpl/.gitignore
  packages/flutter_tools/templates/plugin/android.tmpl/.gitignore
  packages/integration_test/android/.gitignore
  packages/integration_test/example/android/.gitignore
Labels: a: tests, tool, framework, f: integration_test, autosubmit

#161188 Fold `_FlutterTestRunnerImpl` into `FlutterTestRunner`.
  packages/flutter_tools/lib/src/test/runner.dart
Labels: tool

#161240 Stamp golden files to verify engine Skia Gold is WAI.
  engine/src/flutter/testing/skia_gold_client/tool/e2e_fixtures/solid_blue_square.png
  engine/src/flutter/testing/skia_gold_client/tool/e2e_fixtures/solid_green_square.png
  engine/src/flutter/testing/skia_gold_client/tool/e2e_fixtures/solid_red_square.png
Labels: engine, will affect goldens

#161253 [Impeller] Update README on preview status on Android.
  engine/src/flutter/impeller/README.md
Labels: engine, e: impeller

#158897 [SwiftPM] Add separate feature flag for the app migration
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/flutter_features.dart
  packages/flutter_tools/lib/src/migrations/swift_package_manager_integration_migration.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/features_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/flutter_tools/test/general.shard/migrations/swift_package_manager_integration_migration_test.dart
  packages/flutter_tools/test/general.shard/xcode_project_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_utils.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, a: desktop, autosubmit

#161244 Roll Packages from 07ae98c5aff9 to 3fc6b7ace3ff (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#161249 Move validation logic for `.ci.yaml` to `flutter/flutter`.
  dev/bots/test/ci_yaml_validation_test.dart
Labels: autosubmit

#161252 Change timing of `onSurfaceDestroyed` to match `onSurfaceCleanup`
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  engine/src/flutter/shell/platform/android/io/flutter/view/TextureRegistry.java
  engine/src/flutter/shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: platform-android, engine, autosubmit

#160636 Allow async platform responses in FlMockBinaryMessenger
  engine/src/flutter/shell/platform/linux/fl_basic_message_channel_test.cc
  engine/src/flutter/shell/platform/linux/fl_key_channel_responder_test.cc
  engine/src/flutter/shell/platform/linux/fl_method_channel_test.cc
  engine/src/flutter/shell/platform/linux/fl_platform_channel_test.cc
  engine/src/flutter/shell/platform/linux/fl_platform_handler_test.cc
  engine/src/flutter/shell/platform/linux/fl_settings_handler_test.cc
  engine/src/flutter/shell/platform/linux/fl_text_input_handler_test.cc
  engine/src/flutter/shell/platform/linux/fl_window_state_monitor_test.cc
  engine/src/flutter/shell/platform/linux/testing/fl_mock_binary_messenger.cc
  engine/src/flutter/shell/platform/linux/testing/fl_mock_binary_messenger.h
Labels: a: text input, engine, a: desktop

#161248 [deps] remove references to archived repos
  DEPS
  engine/src/flutter/pubspec.yaml
  engine/src/flutter/web_sdk/pubspec.yaml
Labels: engine, platform-web

#160947 Remove support for imperative apply of Flutter Gradle Plugin
  dev/integration_tests/deferred_components_test/android/settings.gradle
  dev/integration_tests/deferred_components_test/android/settings.gradle.kts
  packages/flutter_tools/gradle/app_plugin_loader.gradle
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/flutter.gradle
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/test/integration.shard/android_gradle_deprecated_plugin_apply_test.dart
  packages/flutter_tools/test/integration.shard/android_plugin_skip_unsupported_test.dart
  packages/flutter_tools/test/integration.shard/deprecated_gradle_settings_test.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
Labels: platform-android, tool, autosubmit

#161257 [Impeller] disable runtime mipmap generation on Adreno.
  engine/src/flutter/impeller/renderer/backend/vulkan/blit_pass_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/blit_pass_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/command_buffer_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/context_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/context_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/workarounds_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/workarounds_vk.h
Labels: engine, e: impeller, autosubmit

#161267 Clear selection state when exiting select mode
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: framework

#161274 [Impeller] disable input attachment / self dependency on Adreno 630 and older.
  engine/src/flutter/impeller/renderer/backend/vulkan/capabilities_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/capabilities_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/workarounds_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/workarounds_vk.h
Labels: engine, e: impeller, autosubmit

#161273 [Impeller] porter duff workarounds for Adreno GPU.
  engine/src/flutter/impeller/entity/contents/atlas_contents.cc
  engine/src/flutter/impeller/entity/contents/content_context.cc
  engine/src/flutter/impeller/entity/contents/content_context.h
  engine/src/flutter/impeller/entity/contents/filters/blend_filter_contents.cc
  engine/src/flutter/impeller/entity/contents/vertices_contents.cc
  engine/src/flutter/impeller/entity/shaders/blending/porter_duff_blend.frag
  engine/src/flutter/impeller/tools/malioc.json
Labels: engine, e: impeller, autosubmit

#161292 Revert "use uuid from package:uuid instead of from package:usage"
  packages/flutter_tools/lib/src/compile.dart
Labels: tool

#160032 Adds onHover and onLongPress to IconButton widget
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/test/material/icon_button_test.dart
Labels: framework, f: material design, autosubmit

#160978 Updating AVD Dependency for Android 28 Emulator
  engine/src/flutter/ci/builders/linux_android_emulator.json
  engine/src/flutter/ci/builders/linux_android_emulator_34.json
Labels: engine, autosubmit

#161326 [Impeller] reland: fix porterduff shader and handle optimized out texture binding in GLES backend.
  engine/src/flutter/impeller/entity/contents/atlas_contents.cc
  engine/src/flutter/impeller/entity/contents/content_context.cc
  engine/src/flutter/impeller/entity/contents/content_context.h
  engine/src/flutter/impeller/entity/contents/filters/blend_filter_contents.cc
  engine/src/flutter/impeller/entity/contents/vertices_contents.cc
  engine/src/flutter/impeller/entity/shaders/blending/porter_duff_blend.frag
  engine/src/flutter/impeller/renderer/backend/gles/buffer_bindings_gles.cc
  engine/src/flutter/impeller/tools/malioc.json
Labels: engine, e: impeller, autosubmit

#161270 Make the encoding of a `YamlNode` to a `String` more explicit.
  packages/flutter_tools/lib/src/base/yaml.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/general.shard/flutter_manifest_test.dart
Labels: tool, autosubmit

#161275 [SwiftPM] Turn on by default
  dev/devicelab/bin/tasks/plugin_lint_mac.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/test/general.shard/features_test.dart
Labels: tool, autosubmit

#161287 [Impeller] re-enable Adreno 630
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
Labels: engine, e: impeller, autosubmit

#161329 [CP-stable] Revert "fixed keyboardDismissBehavior on scroll without a drag"
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/test/widgets/single_child_scroll_view_test.dart
Labels: framework, f: scrolling, cp: review, autosubmit

#161177 [CP-stable] Revert "Fix DropdownMenu does not rematch initialSelection when entries have changed"
  examples/api/lib/material/dropdown_menu/dropdown_menu.0.dart
  examples/api/lib/material/dropdown_menu/dropdown_menu.1.dart
  examples/api/lib/material/dropdown_menu/dropdown_menu.2.dart
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, d: api docs, d: examples, cp: review, autosubmit

#161340 git ignore .ccls-cache
  .gitignore
Labels: autosubmit

#161342 Revert "[SwiftPM] Add separate feature flag for the app migration (#158897)"
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/flutter_features.dart
  packages/flutter_tools/lib/src/migrations/swift_package_manager_integration_migration.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/features_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapods_test.dart
  packages/flutter_tools/test/general.shard/migrations/swift_package_manager_integration_migration_test.dart
  packages/flutter_tools/test/general.shard/xcode_project_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_utils.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, a: desktop, autosubmit

#161199 [flutter_tools] ignore viewpost ime and samsung spam messages.
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/test/general.shard/android/adb_log_reader_test.dart
Labels: tool, autosubmit

#161347 remove formatter from snippet tool
  dev/snippets/bin/snippets.dart
  dev/snippets/lib/snippets.dart
  dev/snippets/lib/src/import_sorter.dart
  dev/snippets/lib/src/snippet_generator.dart
  dev/snippets/pubspec.yaml
  dev/snippets/test/import_sorter_test.dart
  dev/snippets/test/snippet_parser_test.dart
Labels: autosubmit

#161353 [Impeller] add opt in flag for SurfaceControl testing.
  engine/src/flutter/common/settings.h
  engine/src/flutter/impeller/renderer/backend/vulkan/context_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/context_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
  engine/src/flutter/shell/common/switches.cc
  engine/src/flutter/shell/common/switches.h
  engine/src/flutter/shell/platform/android/android_context_vk_impeller.cc
  engine/src/flutter/shell/platform/android/context/android_context.h
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  engine/src/flutter/shell/platform/android/platform_view_android.cc
  engine/src/flutter/shell/platform/android/test/io/flutter/embedding/engine/loader/FlutterLoaderTest.java
Labels: platform-android, engine, e: impeller, autosubmit

#160567 `ImplicitlyAnimatedWidgetState` code cleanup
  packages/flutter/lib/src/widgets/implicit_animations.dart
Labels: framework, a: animation, autosubmit, refactor

#161196 Proposal to deprecate `webGoldenComparator`.
  packages/flutter_test/lib/src/_goldens_io.dart
  packages/flutter_test/lib/src/_goldens_web.dart
  packages/flutter_test/lib/src/_matchers_web.dart
  packages/flutter_test/lib/src/_test_selector_web.dart
  packages/flutter_test/lib/src/goldens.dart
Labels: a: tests, framework, autosubmit

#161389 Remove seemingly stale web Cirrus and "Web Installer" instructions
  docs/contributing/testing/Running-Flutter-Driver-tests-with-Web.md
Labels: team, framework, autosubmit, d: docs/

#161276 Support DDC library bundle format and remove support for DDC module format
  engine/src/flutter/web_sdk/BUILD.gn
  packages/flutter_tools/lib/src/artifacts.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/flutter_web_platform_test.dart
  packages/flutter_tools/test/general.shard/artifacts_test.dart
  packages/flutter_tools/test/general.shard/web/bootstrap_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_ddc_modules_test.dart
  packages/flutter_tools/test/general.shard/web/devfs_web_test.dart
Labels: tool, engine, platform-web

#161331 [Impeller] fix scaling of trampoline import of GLES textures into Vulkan.
  dev/integration_tests/android_engine_test/android/app/src/main/kotlin/com/example/native_driver_test/MainActivity.kt
  dev/integration_tests/android_engine_test/android/app/src/main/kotlin/com/example/native_driver_test/fixtures/OtherFaceTexturePlugin.kt
  dev/integration_tests/android_engine_test/lib/external_texture_other_face_main.dart
  dev/integration_tests/android_engine_test/test_driver/external_texture_other_face_main_test.dart
  engine/src/flutter/shell/platform/android/surface_texture_external_texture_vk_impeller.cc
Labels: a: text input, platform-android, engine, will affect goldens, autosubmit

#161394 Roll Dart to Version 3.7.0-312.0.dev
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
Labels: engine

#161388 Remove `accept_android_sdk_licenses.sh`, which appears unused.
  dev/bots/accept_android_sdk_licenses.sh
  dev/bots/analyze.dart
Labels: autosubmit

#160525 remove`useMaterial3: true,` in from the template
  packages/flutter_tools/templates/app/lib/main.dart.tmpl
Labels: tool, autosubmit

#160246 Add `mouseCursor` parameter to `ReorderableListView`
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/test/material/reorderable_list_test.dart
Labels: framework, f: material design, autosubmit

#161396 Remove Cirrus CI from Flutter goldens.
  packages/flutter_goldens/lib/flutter_goldens.dart
  packages/flutter_goldens/test/comparator_selection_test.dart
Labels: a: tests, framework, autosubmit

#161379 Roll Packages from 3fc6b7ace3ff to 65547511c004 (11 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#161401 Fix link to engine docs in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: autosubmit

#161404 integration_test: Add gitignore of golden image
  packages/integration_test/example/.gitignore
Labels: a: tests, framework, f: integration_test

#161344 Update Style-guide-for-Flutter-repo.md
  docs/contributing/Style-guide-for-Flutter-repo.md
Labels: team, framework, d: docs/

#161400 We no longer have a separate engine repo.
  docs/about/Why-we-have-a-separate-engine-repo.md
  docs/contributing/Style-guide-for-Flutter-repo.md
  engine/src/flutter/docs/README.md
Labels: team, framework, engine, autosubmit, d: docs/

#161391 Remove `CIRRUS_TASK_NAME` from what I can tell, is always omitted on `LUCI`
  dev/bots/test.dart
  dev/bots/utils.dart
Labels: will affect goldens

#161392 Replace the always omitted `CPU` environment variable with `numberOfProcessors`.
  dev/bots/utils.dart
Labels: autosubmit

#160999 Mark integration_ui_test_test_macos unflaky
  .ci.yaml
Labels: autosubmit

#161000 Mark hot_mode_dev_cycle_macos_target__benchmark unflaky
  .ci.yaml
Labels: autosubmit

#160996 Mark animated_complex_opacity_perf_macos__e2e_summary unflaky
  .ci.yaml
Labels: autosubmit

#160998 Mark hello_world_macos__compile unflaky
  .ci.yaml
Labels: autosubmit

#160997 Mark complex_layout_scroll_perf_macos__timeline_summary unflaky
  .ci.yaml
Labels: autosubmit

#161431 FixForward: method was renamed
  dev/integration_tests/android_engine_test/lib/external_texture_other_face_main.dart
Labels: warning: land on red to fix tree breakage

#160497 🔊 [tool] Add a wirelessly connected device name as `displayName`
  packages/flutter_tools/lib/src/android/android_device.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/custom_devices.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/commands/screenshot.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/proxied_devices/devices.dart
  packages/flutter_tools/lib/src/resident_devtools_handler.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/runner/target_devices.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/daemon_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/proxied_devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/run_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/screenshot_command_test.dart
  packages/flutter_tools/test/general.shard/android/adb_log_reader_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_helpers.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_cold_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/runner/target_devices_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
  packages/flutter_tools/test/src/fake_devices.dart
Labels: platform-ios, tool, autosubmit

#157769 Update `TextEditingController.text` documentation to recommend against using it in production code
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/lib/src/material/search.dart
  packages/flutter/lib/src/material/search_anchor.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/material/search_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, autosubmit

#161390 Remove some miscellaneous references to Cirrus.
  dev/bots/README.md
  dev/tools/create_api_docs.dart
  docs/contributing/testing/Running-and-writing-tests.md
Labels: team, framework, d: docs/

#160023 Deprecate unused `ButtonStyleButton.iconAlignment` property
  packages/flutter/lib/src/material/button_style_button.dart
Labels: framework, f: material design, autosubmit

#161091 Update error message for when leading/trailing width exceeds `ListTile` width and add missing test
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: framework, f: material design, autosubmit

#161515 Roll Packages from 65547511c004 to 3c3bc6832b39 (16 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#161524 [flutter_releases] Flutter stable 3.27.2 Framework Cherrypicks
  bin/internal/engine.version
Labels: engine, autosubmit

#161438 [Impeller] remove API 30 restriction for SurfaceControl testing.
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
  engine/src/flutter/impeller/toolkit/android/surface_control.cc
Labels: engine, e: impeller, autosubmit

#155963 Convert base application name handling to kotlin source (start of FGP kt conversion)
  packages/flutter_tools/gradle/build.gradle.kts
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/gradle/src/main/kotlin/BaseApplicationNameHandler.kt
  packages/flutter_tools/gradle/src/main/kotlin/flutter.gradle.kts
  packages/flutter_tools/gradle/src/main/kotlin_scripts/dependency_version_checker.gradle.kts
  packages/flutter_tools/gradle/src/test/kotlin/BaseApplicationNameHandlerTest.kt
  packages/flutter_tools/test/integration.shard/android_run_flutter_gradle_plugin_tests_test.dart
Labels: platform-android, tool, autosubmit

#161452 Propagate environment variables when `flutter drive` is invoked.
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/lib/src/drive/drive_service.dart
  packages/flutter_tools/lib/src/drive/web_driver_service.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/general.shard/drive/drive_service_test.dart
  packages/flutter_tools/test/general.shard/drive/web_driver_service_test.dart
  packages/flutter_tools/test/integration.shard/driver_environment_test.dart
  packages/flutter_tools/test/web.shard/web_driver_service_test.dart
Labels: tool, autosubmit

#161407 Udpate documentation on the third_party directories
  docs/contributing/Style-guide-for-Flutter-repo.md
Labels: team, framework, d: docs/

#161451 Context menu button callback docs clarification
  packages/flutter/lib/src/material/adaptive_text_selection_toolbar.dart
Labels: a: text input, framework, f: material design

#161453 Migrate DisplayList unit tests to DL/Impeller geometry classes
  engine/src/flutter/display_list/benchmarking/dl_benchmarks.cc
  engine/src/flutter/display_list/benchmarking/dl_benchmarks.h
  engine/src/flutter/display_list/benchmarking/dl_builder_benchmarks.cc
  engine/src/flutter/display_list/display_list_unittests.cc
  engine/src/flutter/display_list/dl_builder.cc
  engine/src/flutter/display_list/dl_canvas.h
  engine/src/flutter/display_list/dl_color.h
  engine/src/flutter/display_list/dl_color_unittests.cc
  engine/src/flutter/display_list/dl_paint_unittests.cc
  engine/src/flutter/display_list/dl_vertices_unittests.cc
  engine/src/flutter/display_list/effects/dl_color_source_unittests.cc
  engine/src/flutter/display_list/geometry/dl_geometry_types.h
  engine/src/flutter/display_list/geometry/dl_path.cc
  engine/src/flutter/display_list/geometry/dl_path.h
  engine/src/flutter/display_list/geometry/dl_path_unittests.cc
  engine/src/flutter/display_list/testing/dl_test_snippets.cc
  engine/src/flutter/display_list/testing/dl_test_snippets.h
  engine/src/flutter/display_list/utils/dl_matrix_clip_tracker.cc
  engine/src/flutter/display_list/utils/dl_matrix_clip_tracker_unittests.cc
  engine/src/flutter/impeller/geometry/path.cc
  engine/src/flutter/impeller/geometry/path.h
  engine/src/flutter/impeller/geometry/round_rect.cc
  engine/src/flutter/impeller/geometry/round_rect_unittests.cc
  engine/src/flutter/impeller/toolkit/interop/dl_builder.cc
  engine/src/flutter/shell/common/dl_op_spy_unittests.cc
Labels: engine, e: impeller, autosubmit

#161251 [Impeller] Update guidance on prebuilt artifacts.
  engine/src/flutter/impeller/toolkit/interop/README.md
Labels: engine, e: impeller

#161527 Remove `WEB_SHARD_COUNT`, which no longer exists post-Cirrus.
  dev/bots/suite_runners/run_web_tests.dart
Labels: autosubmit

#161223 Fixed repeated strings for incompatible Gradle or AGP version in `create` command
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool

#161450 Explain more specifically how to use `flutter drive`/what it does
  packages/flutter_tools/lib/src/commands/drive.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
Labels: tool, autosubmit

#158124 Add validator execution times to `flutter doctor --verbose`
  packages/flutter_tools/lib/src/android/android_studio_validator.dart
  packages/flutter_tools/lib/src/android/android_workflow.dart
  packages/flutter_tools/lib/src/doctor.dart
  packages/flutter_tools/lib/src/doctor_validator.dart
  packages/flutter_tools/lib/src/http_host_validator.dart
  packages/flutter_tools/lib/src/intellij/intellij_validator.dart
  packages/flutter_tools/lib/src/linux/linux_doctor.dart
  packages/flutter_tools/lib/src/macos/cocoapods_validator.dart
  packages/flutter_tools/lib/src/macos/xcode_validator.dart
  packages/flutter_tools/lib/src/proxy_validator.dart
  packages/flutter_tools/lib/src/vscode/vscode_validator.dart
  packages/flutter_tools/lib/src/web/web_validator.dart
  packages/flutter_tools/lib/src/windows/visual_studio_validator.dart
  packages/flutter_tools/lib/src/windows/windows_version_validator.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/general.shard/reporting/events_test.dart
  packages/flutter_tools/test/general.shard/windows_version_validator_test.dart
Labels: tool, a: desktop

#161550 Mark `Mac_mokey microbenchmarks` as flakey
  .ci.yaml
Labels: warning: land on red to fix tree breakage

#161530 Remove last two references to Cirrus CI.
  dev/devicelab/lib/framework/running_processes.dart
  engine/src/flutter/testing/benchmark/bin/parse_and_send.dart
Labels: engine, autosubmit

#161360 [web:a11y] treat empty tappables as buttons
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/semantics.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: engine, a: accessibility, platform-web, autosubmit

#161496 Fix paths when running clang-tidy on git diffs
  engine/src/flutter/tools/pkg/git_repo_tools/lib/git_repo_tools.dart
  engine/src/flutter/tools/pkg/git_repo_tools/test/git_repo_tools_test.dart
Labels: engine, autosubmit

#161528 Add route settings to CupertinoSheetRoute
  packages/flutter/lib/src/cupertino/sheet.dart
  packages/flutter/test/cupertino/sheet_test.dart
Labels: framework, f: cupertino, autosubmit

#161532 Copy `linux_host_engine` as `linux_host_engine_test`, removing `archives: [...]`.
  engine/src/flutter/.ci.yaml
  engine/src/flutter/ci/builders/linux_host_engine_test.json
  engine/src/flutter/testing/run_tests.py
Labels: engine, autosubmit

#161529 Remove references to `cirrus`, mostly in doc comments.
  dev/customer_testing/ci.sh
  dev/devicelab/lib/framework/browser.dart
  docs/platforms/android/New-Android-version.md
  engine/src/flutter/lib/web_ui/dev/firefox_installer.dart
  engine/src/flutter/testing/benchmark/bin/parse_and_send.dart
  packages/flutter_goldens/test/comparator_selection_test.dart
Labels: a: tests, framework, engine, platform-web, autosubmit, d: docs/

#161405 Move the analyzer_benchmark to Mac arm64 devicelab bots
  .ci.yaml
Labels: autosubmit

#143249 Autocomplete Options Width
  packages/flutter/lib/src/material/autocomplete.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/material/autocomplete_test.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#161548 Use wildcards
  analysis_options.yaml
  dev/tools/gen_defaults/test/gen_defaults_test.dart
  engine/src/flutter/lib/ui/painting.dart
  examples/api/lib/services/text_input/text_input_control.0.dart
  examples/api/lib/widgets/magnifier/cupertino_text_magnifier.0.dart
  examples/api/lib/widgets/scroll_position/scroll_controller_notification.0.dart
  examples/api/lib/widgets/text_magnifier/text_magnifier.0.dart
  packages/flutter/lib/src/material/about.dart
  packages/flutter/lib/src/painting/_network_image_web.dart
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/cupertino/route_test.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/about_test.dart
  packages/flutter/test/material/app_test.dart
  packages/flutter/test/material/circle_avatar_test.dart
  packages/flutter/test/material/data_table_test.dart
  packages/flutter/test/material/date_range_picker_test.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/reorderable_list_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/text_field_focus_test.dart
  packages/flutter/test/painting/image_cache_test.dart
  packages/flutter/test/rendering/sliver_tree_test.dart
  packages/flutter/test/widgets/app_test.dart
  packages/flutter/test/widgets/draggable_scrollable_sheet_test.dart
  packages/flutter/test/widgets/draggable_test.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
  packages/flutter/test/widgets/framework_test.dart
  packages/flutter/test/widgets/grid_view_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/image_test.dart
  packages/flutter/test/widgets/implicit_animations_test.dart
  packages/flutter/test/widgets/inherited_theme_test.dart
  packages/flutter/test/widgets/list_view_test.dart
  packages/flutter/test/widgets/list_view_viewporting_test.dart
  packages/flutter/test/widgets/navigator_restoration_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/page_route_builder_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
  packages/flutter/test/widgets/restoration_scope_test.dart
  packages/flutter/test/widgets/router_test.dart
  packages/flutter/test/widgets/routes_test.dart
  packages/flutter/test/widgets/scroll_delegate_test.dart
  packages/flutter/test/widgets/selectable_region_test.dart
  packages/flutter/test/widgets/slivers_test.dart
  packages/flutter/test/widgets/two_dimensional_scroll_view_test.dart
  packages/flutter_localizations/test/widgets_test.dart
  packages/flutter_test/test/view_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices_test.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_web_plugins/lib/src/navigation_non_web/url_strategy.dart
Labels: a: tests, a: text input, tool, framework, engine, a: animation, f: material design, a: internationalization, f: scrolling, f: cupertino, d: api docs, d: examples, f: routes, f: focus, autosubmit

#161567 Roll Dart to Version 3.7.0-323.0.dev
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
Labels: engine

#159917 [Web] Allow specifying the strategy on when to use <img> element to display images
  packages/flutter/lib/src/painting/_network_image_io.dart
  packages/flutter/lib/src/painting/_network_image_web.dart
  packages/flutter/lib/src/painting/_web_image_info_io.dart
  packages/flutter/lib/src/painting/_web_image_info_web.dart
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/lib/src/widgets/_web_image_io.dart
  packages/flutter/lib/src/widgets/_web_image_web.dart
  packages/flutter/lib/src/widgets/image.dart
  packages/flutter/test/painting/_network_image_test_web.dart
  packages/flutter/test/painting/_test_http_request.dart
Labels: framework, autosubmit

#161415 Update InputDecoration.border documentation
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/material_state.dart
Labels: framework, f: material design, autosubmit

#161597 Roll Packages from 3c3bc6832b39 to d1fd6232ec33 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#161566 Update changelog for 3.27.2 release
  CHANGELOG.md
Labels: autosubmit

#161255 Added special case for fat width arcs
  engine/src/flutter/impeller/display_list/aiks_dl_path_unittests.cc
  engine/src/flutter/impeller/display_list/dl_dispatcher.cc
  engine/src/flutter/testing/impeller_golden_tests_output.txt
Labels: engine, will affect goldens, e: impeller, autosubmit

#161565 Replace `fetch `with `gclient sync`.
  engine/src/flutter/docs/contributing/Setting-up-the-Engine-development-environment.md
Labels: engine, autosubmit

#161569 update changelog for 3.27.2 release
  CHANGELOG.md
Labels: autosubmit

#161599 Fix `showLicensePage` does not inherit ambient `Theme`
  packages/flutter/lib/src/material/about.dart
  packages/flutter/test/material/about_test.dart
Labels: framework, f: material design, autosubmit

#161343 [Android] Actually remove dev dependencies from release builds
  dev/devicelab/bin/tasks/android_release_builds_exclude_dev_dependencies_test.dart
  packages/flutter_tools/gradle/src/main/groovy/flutter.groovy
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
Labels: platform-android, tool, autosubmit

#161560 Last Engine<>Framework lint sync
  engine/src/flutter/analysis_options.yaml
  engine/src/flutter/lib/web_ui/analysis_options.yaml
  engine/src/flutter/lib/web_ui/lib/src/engine/initialization.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/platform_dispatcher/app_lifecycle_state.dart
  engine/src/flutter/lib/web_ui/test/engine/composition_test.dart
  engine/src/flutter/lib/web_ui/test/engine/pointer_binding/event_position_helper_test.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/text_field_test.dart
  engine/src/flutter/lib/web_ui/test/engine/window_test.dart
Labels: a: text input, engine, a: accessibility, platform-web

#161562 [Impeller] fixes for AHB swapchains.
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.cc
Labels: engine, e: impeller, autosubmit

#161536 [canvaskit] Fix GIF decode failure
  engine/src/flutter/lib/web_ui/lib/src/engine/image_format_detector.dart
  engine/src/flutter/lib/web_ui/test/engine/image_format_detector_test.dart
Labels: engine, platform-web

#161464 [SwiftPM] Make 'flutter build ios-framework' generate an empty Package.swift
  packages/flutter_tools/lib/src/macos/cocoapod_utils.dart
  packages/flutter_tools/test/general.shard/macos/cocoapod_utils_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_test.dart
Labels: tool, a: desktop, autosubmit

#161553 [DisplayList] remove obsolete use of Skia geometry objects in DL utils
  engine/src/flutter/display_list/dl_builder.cc
  engine/src/flutter/display_list/utils/dl_accumulation_rect.cc
  engine/src/flutter/display_list/utils/dl_accumulation_rect.h
  engine/src/flutter/display_list/utils/dl_accumulation_rect_unittests.cc
  engine/src/flutter/display_list/utils/dl_matrix_clip_tracker.cc
  engine/src/flutter/display_list/utils/dl_matrix_clip_tracker.h
  engine/src/flutter/display_list/utils/dl_matrix_clip_tracker_unittests.cc
  engine/src/flutter/flow/diff_context.cc
Labels: engine, autosubmit

#161622 Remove `gradle_deprecated_settings` test app, and remove reference from lockfile exclusion yaml
  dev/integration_tests/gradle_deprecated_settings/README.md
  dev/integration_tests/gradle_deprecated_settings/android/app/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/AndroidManifest.xml
  dev/integration_tests/gradle_deprecated_settings/android/app/src/main/java/com/yourcompany/flavors/MainActivity.java
  dev/integration_tests/gradle_deprecated_settings/android/build.gradle
  dev/integration_tests/gradle_deprecated_settings/android/buildscript-gradle.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/gradle.properties
  dev/integration_tests/gradle_deprecated_settings/android/gradle/wrapper/gradle-wrapper.properties
  dev/integration_tests/gradle_deprecated_settings/android/project-app.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-camera_android_camerax.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/project-flutter_plugin_android_lifecycle.lockfile
  dev/integration_tests/gradle_deprecated_settings/android/settings.gradle
  dev/integration_tests/gradle_deprecated_settings/lib/main.dart
  dev/integration_tests/gradle_deprecated_settings/pubspec.yaml
  dev/tools/bin/config/lockfile_exclusion.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, emergency

#161554 Clean up engine's analysis_options.yaml
  analysis_options.yaml
  engine/src/flutter/analysis_options.yaml
Labels: engine, autosubmit

#161194 [Impeller] null check device buffer in image encoding.
  engine/src/flutter/lib/ui/painting/image_encoding_impeller.cc
Labels: engine, autosubmit

#161514 Fix `TabBar` glitchy elastic `Tab` animation
  examples/api/test/material/tabs/tab_bar.indicator_animation.0_test.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/tabs_utils.dart
Labels: framework, a: animation, f: material design, d: api docs, d: examples, will affect goldens, autosubmit

#161427 Fix DropdownMenu isCollapsed decoration does not Reduce height
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#161609 Manual roll of Skia to e7b8d078851f
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
  engine/src/flutter/lib/web_ui/dev/steps/copy_artifacts_step.dart
  engine/src/flutter/testing/dart/codec_test.dart
Labels: engine, platform-web, autosubmit

#161672 Roll Packages from d1fd6232ec33 to f73cb00e127b (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#161666 Revert "Autocomplete Options Width"
  packages/flutter/lib/src/material/autocomplete.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/material/autocomplete_test.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: framework, f: material design, autosubmit

#161667 Update two_dimensional_scrollables triage routing
  docs/triage/README.md
Labels: autosubmit, d: docs/

#158580 feat: Change default value of keyboardDismissBehavior
  packages/flutter/lib/src/material/reorderable_list.dart
  packages/flutter/lib/src/widgets/reorderable_list.dart
  packages/flutter/lib/src/widgets/scroll_configuration.dart
  packages/flutter/lib/src/widgets/scroll_view.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/two_dimensional_scroll_view.dart
  packages/flutter/test/cupertino/app_test.dart
  packages/flutter/test/material/app_test.dart
Labels: framework, f: material design, f: scrolling, f: cupertino, autosubmit

#161533 route CLI command usage information through the logger instead of using `print`
  packages/flutter_tools/lib/src/commands/custom_devices.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/custom_devices_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_test.dart
Labels: tool, autosubmit

#161613 Enable duplicate `linux_host_engine_test`.
  engine/src/flutter/.ci.yaml
  engine/src/flutter/ci/builders/linux_host_engine_test.json
Labels: engine, autosubmit

#161696 Do not block vertical drag gestures in CupertinoSheetRoute body
  packages/flutter/lib/src/cupertino/sheet.dart
  packages/flutter/test/cupertino/sheet_test.dart
Labels: framework, f: cupertino, autosubmit, team-design

#160663 remove usage of `Usage` from build system
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/bundle_builder.dart
  packages/flutter_tools/lib/src/commands/assemble.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_macos_framework.dart
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/test/general.shard/build_system/targets/ios_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/macos_test.dart
Labels: tool, autosubmit

#161493 Set meta tag in default index
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
Labels: tool

#161706 Remove some stray printf debugging
  engine/src/flutter/shell/platform/linux/fl_texture_registrar_test.cc
Labels: engine, platform-linux, a: desktop

#161778 Update social links in readme
  README.md
Labels: autosubmit

#161637 Make fl_keyboard_manager_handle_event async
  engine/src/flutter/shell/platform/linux/fl_keyboard_manager.cc
  engine/src/flutter/shell/platform/linux/fl_keyboard_manager.h
  engine/src/flutter/shell/platform/linux/fl_keyboard_manager_test.cc
  engine/src/flutter/shell/platform/linux/fl_view.cc
Labels: engine, platform-linux, a: desktop

#160383 Initialize dartLoader.rootDirectories so the Web stack trace mapper can convert package source paths
  dev/integration_tests/web/lib/stack_trace.dart
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/web/bootstrap.dart
  packages/flutter_tools/test/general.shard/web/bootstrap_test.dart
Labels: tool, autosubmit

#161697 [Impellerc] correctly pad arrays of vec3s in reflector.
  engine/src/flutter/impeller/compiler/reflector.cc
  engine/src/flutter/lib/ui/fixtures/shaders/general_shaders/BUILD.gn
  engine/src/flutter/lib/ui/fixtures/shaders/general_shaders/vec3_uniform.frag
  engine/src/flutter/testing/dart/fragment_shader_test.dart
Labels: engine, e: impeller, autosubmit

#161740 [Impeller] remove Adreno denylist entries.
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
Labels: engine, e: impeller, autosubmit

#161767 [Impeller] use 3 fences to synchronize AHB swapchains (like we do for KHR).
  engine/src/flutter/impeller/renderer/backend/vulkan/BUILD.gn
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/external_fence_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/external_fence_vk.h
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/external_semaphore_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/swapchain/ahb/external_semaphore_vk.h
Labels: engine, e: impeller, autosubmit

#161781 Roll Dart to Version 3.8.0-1.0.dev
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
Labels: engine, autosubmit

#161695 Reland "#143249 Autocomplete options width"
  packages/flutter/lib/src/material/autocomplete.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/test/material/autocomplete_test.dart
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: framework, f: material design

#161783 [CP-stable] Fix `TabBar` glitchy elastic `Tab` animation
  examples/api/test/material/tabs/tab_bar.indicator_animation.0_test.dart
  packages/flutter/lib/src/material/tabs.dart
  packages/flutter/test/material/tab_bar_theme_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/material/tabs_utils.dart
Labels: framework, a: animation, f: material design, d: api docs, d: examples, cp: review, autosubmit

#161771 [Release] Update the cherry-pick process.
  .github/ISSUE_TEMPLATE/7_cherry_pick.yml
  .github/ISSUE_TEMPLATE/7_design_doc.yml
  .github/ISSUE_TEMPLATE/8_first_party_packages.yml
  .github/ISSUE_TEMPLATE/9_feature.yml
  docs/contributing/Design-Documents.md
  docs/releases/Flutter-Cherrypick-Process.md
Labels: team, framework, team-release, d: docs/
