Repository flutter/flutter, pull requests merged in 2025-08, with the labels that each got.

#169798 Move android_obfuscate_test from devicelab into tools integration.shard
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/android_obfuscate_test.dart
  packages/flutter_tools/test/integration.shard/android_obfuscate_test.dart
Labels: tool, autosubmit, team-android

#173111 Roll Packages from db6988d785fa to f0645d8448a5 (3 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173075 [engine] Null aware elements clean-ups
  engine/src/flutter/lib/web_ui/dev/steps/run_suite_step.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/dom.dart
  engine/src/flutter/lib/web_ui/test/engine/history_test.dart
  engine/src/flutter/lib/web_ui/test/engine/platform_views/message_handler_test.dart
  engine/src/flutter/lib/web_ui/test/engine/pointer_binding_test.dart
  engine/src/flutter/lib/web_ui/test/engine/raw_keyboard_test.dart
  engine/src/flutter/lib/web_ui/test/engine/text_editing_test.dart
  engine/src/flutter/tools/engine_tool/lib/src/proc_utils.dart
Labels: a: text input, engine, platform-web, autosubmit

#173001 Update GCA instructions
  .gemini/styleguide.md
Labels: autosubmit

#171945 Add `side` to `RadioThemeData`
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_theme.dart
  packages/flutter/test/material/radio_theme_test.dart
Labels: framework, f: material design, autosubmit

#173119 Roll Dart SDK from 6832e04cf2f9 to 6e1bb159c860 (8 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#173117 Roll Fuchsia Linux SDK from xo_bqOoFuBKFmgKxn... to yFLr81lLXmSX7n11D...
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#172643 fix: :bug: Add equality and hashCode implementations to ResizeImage
  packages/flutter/lib/src/painting/image_provider.dart
  packages/flutter/test/painting/image_provider_resize_image_test.dart
Labels: framework, autosubmit

#172812 Make sure that a RawAutocomplete doesn't crash in 0x0 environment
  packages/flutter/test/widgets/autocomplete_test.dart
Labels: framework, autosubmit

#173114 fix: get content hash for master on local engine branches
  .github/workflows/content-aware-hash.yml
  bin/internal/content_aware_hash.ps1
  bin/internal/content_aware_hash.sh
  dev/tools/test/content_aware_hash_test.dart
  docs/tool/Engine-artifacts.md
Labels: tool, autosubmit, team-tool, d: docs/

#172976 Reformat text.dart's code snippets
  packages/flutter/lib/src/widgets/text.dart
Labels: a: text input, framework, autosubmit

#173135 Roll Skia from 9e2c59634961 to 81dd6aa516b0 (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#173144 Roll Skia from 81dd6aa516b0 to af6d6eb383a6 (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit, emergency

#173120 Add `innerRadius` to `RadioThemeData`
  packages/flutter/lib/src/material/radio.dart
  packages/flutter/lib/src/material/radio_theme.dart
  packages/flutter/test/material/radio_theme_test.dart
Labels: framework, f: material design, autosubmit

#173166 Roll Fuchsia Linux SDK from yFLr81lLXmSX7n11D... to wZuA8Dqty4scQkZuV...
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#173170 Roll Skia from 7ef888e30a28 to e056e47e118b (1 revision)
  DEPS
Labels: engine, autosubmit

#173140 fix: tag fuchsia package after uploading
  engine/src/flutter/tools/fuchsia/build_fuchsia_artifacts.py
Labels: engine

#173185 Roll Skia from e056e47e118b to 09667386bcba (2 revisions)
  DEPS
Labels: engine, autosubmit

#173169 fix: get content hash for master on local engine branches (third attempt)
  .github/workflows/content-aware-hash.yml
  bin/internal/content_aware_hash.ps1
  bin/internal/content_aware_hash.sh
  dev/tools/test/content_aware_hash_test.dart
  docs/tool/Engine-artifacts.md
Labels: tool, team-tool, d: docs/

#173194 Roll Skia from 09667386bcba to 39c70f883c0e (1 revision)
  DEPS
Labels: engine, autosubmit

#173213 Roll Skia from edf0f8a5bba6 to 763bba9c33fd (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#173215 Roll Packages from f0645d8448a5 to 1a722878a551 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173219 Roll Skia from 763bba9c33fd to dce9550a1356 (1 revision)
  DEPS
Labels: engine, autosubmit

#172478 Add the 'windowing' feature flag and use to wrap an implementation for regular windows that always throws
  dev/devicelab/lib/tasks/integration_tests.dart
  dev/integration_tests/ui/test_driver/feature_flags_test.dart
  packages/flutter/lib/src/foundation/_features.dart
  packages/flutter/lib/src/widgets/_window.dart
  packages/flutter/lib/src/widgets/binding.dart
  packages/flutter/lib/src/widgets/window.dart
  packages/flutter/test/widgets/windowing_test.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/flutter_features.dart
  packages/flutter_tools/test/general.shard/flutter_validator_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, framework

#173131 Upload the Android standalone embedder API dylibs.
  engine/src/flutter/BUILD.gn
  engine/src/flutter/ci/builders/linux_android_debug_engine.json
  engine/src/flutter/shell/platform/embedder/BUILD.gn
Labels: engine, autosubmit

#173076 Using a shared message-only HWND for clip board data on win32 instead of the implicit view
  engine/src/flutter/shell/platform/windows/platform_handler.cc
  engine/src/flutter/shell/platform/windows/platform_handler.h
  engine/src/flutter/shell/platform/windows/platform_handler_unittests.cc
Labels: engine, platform-windows, a: desktop

#173132 In "flutter create", use the project directory in the suggested "cd" command instead of the main source file path
  packages/flutter_tools/lib/src/commands/create.dart
  packages/flutter_tools/test/commands.shard/permeable/create_test.dart
Labels: tool, autosubmit

#173249 Roll Skia from a7c8e461d609 to 5da6e04f04b9 (6 revisions)
  DEPS
Labels: engine, autosubmit

#173261 Roll Fuchsia Linux SDK from ufssK8EgJ_9RpLFgu... to XEsjoUSNHijML1i9h...
  DEPS
Labels: engine, autosubmit

#172421 Make sure that an AboutListTile doesn't crash in 0x0 environment
  packages/flutter/test/material/about_test.dart
Labels: framework, f: material design, autosubmit

#173266 Roll Dart SDK from 8e9e37dc3ff6 to 794b2c233650 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173268 Roll Skia from 14ee1a562e7d to 89074a4c2ea0 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173272 Roll Skia from 89074a4c2ea0 to 8d6eae20579d (1 revision)
  DEPS
Labels: engine, autosubmit

#173283 Roll Skia from 260e9149ba3e to a918c0e08500 (3 revisions)
  DEPS
Labels: engine, autosubmit

#173284 Unmark `Linux android_java17_tool_integration_tests` as bringup
  .ci.yaml
Labels: autosubmit

#173290 Roll Packages from 1a722878a551 to 83ae18a4faf6 (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173294 [web] Fix potential race condition in ClickDebouncer
  engine/src/flutter/lib/web_ui/lib/src/engine/pointer_binding.dart
  engine/src/flutter/lib/web_ui/test/engine/pointer_binding_test.dart
Labels: engine, platform-web, autosubmit

#173306 Roll Dart SDK from 1553753fee86 to 5b44a0f0b380 (3 revisions)
  DEPS
Labels: engine, autosubmit

#173248 licenses_cpp: moved is_minimal_linux to pkgconfig usage
  engine/src/flutter/shell/platform/glfw/BUILD.gn
  engine/src/flutter/shell/platform/linux/BUILD.gn
  engine/src/flutter/shell/platform/linux/config/BUILD.gn
  engine/src/flutter/testing/BUILD.gn
Labels: engine, platform-linux, a: desktop, autosubmit

#173329 Roll Fuchsia Linux SDK from XEsjoUSNHijML1i9h... to 2Mo76-tiDj4ZCZbPv...
  DEPS
Labels: engine, autosubmit

#173350 Roll Packages from 83ae18a4faf6 to f0b272645902 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173363 Roll Skia from 9bb1fc4bc326 to 5518bb27db67 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173372 Roll Skia from 5518bb27db67 to 05d82af3f4bd (2 revisions)
  DEPS
Labels: engine, autosubmit

#173376 Roll Skia from 05d82af3f4bd to dd60ed46a006 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173382 Roll Skia from dd60ed46a006 to 9a886bdfb716 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173280 Fix drawerScrimColor transition.
  packages/flutter/lib/src/material/drawer.dart
  packages/flutter/test/material/drawer_test.dart
Labels: framework, f: material design, autosubmit

#173414 Roll Packages from f0b272645902 to 6efb75994fc0 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#171638 [web] add --static-assets-url argument to build web
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/commands/build_web.dart
  packages/flutter_tools/lib/src/isolated/web_asset_server.dart
  packages/flutter_tools/lib/src/web/compile.dart
  packages/flutter_tools/lib/src/web_template.dart
  packages/flutter_tools/test/commands.shard/hermetic/build_web_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/web_test.dart
  packages/flutter_tools/test/general.shard/web_template_test.dart
Labels: tool

#173371 Update engine version for 3.35-.03
  bin/internal/engine.version
Labels: autosubmit

#173381 Remove a couple of asserts from display_list_unittest
  engine/src/flutter/display_list/display_list_unittests.cc
Labels: engine, autosubmit

#173312 [A11y] TextField prefix icon and suffix icon create a sibling node'
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, autosubmit

#173436 Roll ICU from b929596baebf to 1b2e3e8a421e (7 revisions)
  DEPS
Labels: engine, autosubmit

#173451 Roll Dart SDK from ba58b96a80d7 to c48772a79e1f (3 revisions)
  DEPS
Labels: engine, autosubmit

#173454 Roll Dart SDK from c48772a79e1f to 4b7b565eb468 (1 revision)
  DEPS
Labels: engine, autosubmit

#173462 Roll Fuchsia Linux SDK from i4vsuEGyP8Xeb5tiy... to HclTm0V8hgSpfqmtG...
  DEPS
Labels: engine, autosubmit

#173443 Use LLDB as the default debugging method for iOS 17+ and Xcode 26+
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/hot_mode_dev_cycle_ios_xcode_debug.dart
  packages/flutter_tools/lib/src/device.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/flutter_features.dart
  packages/flutter_tools/lib/src/ios/core_devices.dart
  packages/flutter_tools/lib/src/ios/devices.dart
  packages/flutter_tools/lib/src/ios/lldb.dart
  packages/flutter_tools/lib/src/macos/xcdevice.dart
  packages/flutter_tools/test/general.shard/device_test.dart
  packages/flutter_tools/test/general.shard/flutter_validator_test.dart
  packages/flutter_tools/test/general.shard/ios/core_devices_test.dart
  packages/flutter_tools/test/general.shard/ios/devices_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_install_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_project_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_nonprebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/ios_device_start_prebuilt_test.dart
  packages/flutter_tools/test/general.shard/ios/lldb_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: platform-ios, tool, a: desktop, autosubmit, team-ios

#173468 Roll Skia from a6ccfeafbfba to 86824ed582be (20 revisions)
  DEPS
Labels: engine, autosubmit

#173235 [a11y] Textfield has flag `isFocusable` set to true
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/material/date_picker_test.dart
  packages/flutter/test/material/dropdown_menu_test.dart
  packages/flutter/test/material/input_date_picker_form_field_test.dart
  packages/flutter/test/material/search_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/form_test.dart
  packages/flutter/test/widgets/selectable_text_test.dart
Labels: a: text input, framework, f: material design, f: cupertino

#173459 Remove jetifier usages from framework and engine
  dev/benchmarks/multiple_flutters/android/gradle.properties
  dev/integration_tests/deferred_components_test/android/gradle.properties
  dev/integration_tests/pure_android_host_apps/android_custom_host_app/gradle.properties
  dev/integration_tests/release_smoke_test/android/gradle.properties
  engine/src/flutter/shell/platform/android/gradle.properties
  examples/layers/android/gradle.properties
  packages/flutter_tools/test/integration.shard/android_plugin_example_app_build_test.dart
  packages/flutter_tools/test/integration.shard/test_data/deferred_components_project.dart
  packages/integration_test/example/android/gradle.properties
Labels: a: tests, platform-android, tool, framework, engine, d: examples, f: integration_test, autosubmit, team-android

#172678 Fix tooltip crash when route has secondary animation
  packages/flutter/lib/src/material/tooltip.dart
  packages/flutter/test/material/tooltip_test.dart
Labels: framework, f: material design, autosubmit

#173178 Make sure that a Checkbox doesn't crash in 0x0 environment
  packages/flutter/test/material/checkbox_test.dart
Labels: framework, f: material design, autosubmit

#173477 [WebParagraph] Fix a property name on newer Chrome versions
  engine/src/flutter/lib/web_ui/lib/src/engine/dom.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/web_paragraph/layout.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/web_paragraph/paragraph.dart
Labels: engine, platform-web, autosubmit

#173475 add `--variance host_debug_unopt_arm64` for apple chip simulator
  engine/src/flutter/docs/testing/Testing-the-engine.md
Labels: engine, autosubmit

#173487 Roll Dart SDK from 91cbf6d7563a to 6a7ae1ffd1c9 (1 revision)
  DEPS
Labels: engine, autosubmit

#173175 Update `ExpansibleController` in `ExpansionTile` `didUpdateWidget`
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/lib/src/widgets/expansible.dart
  packages/flutter/test/material/expansion_tile_test.dart
  packages/flutter/test/widgets/expansible_test.dart
Labels: framework, f: material design, autosubmit

#173556 Roll Packages from 34948d11297a to a114ac22b1d0 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173563 Update CI iOS tests
  .ci.yaml
  TESTOWNERS
  dev/devicelab/bin/tasks/hot_mode_dev_cycle_ios__benchmark_no_dds.dart
Labels: autosubmit

#173568 Reapply "Make device debuggable if useDwdsWebSocketConnection is true … (#173551)"
  dev/devicelab/bin/tasks/linux_chrome_dev_mode.dart
  dev/devicelab/bin/tasks/macos_chrome_dev_mode.dart
  dev/devicelab/bin/tasks/windows_chrome_dev_mode.dart
  dev/devicelab/lib/framework/browser.dart
  dev/devicelab/lib/framework/devices.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/lib/tasks/web_dev_mode_tests.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/integration.shard/hot_reload_websocket_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: tool, autosubmit

#173561 Enables vulkan for PowerVR B-Series
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk.cc
  engine/src/flutter/impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
Labels: engine, e: impeller, autosubmit

#173582 Update Dart revision for 3.35 stable release
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
Labels: engine, autosubmit

#173596 Roll Dart SDK from b2a23936f968 to c5fe48aee60d (2 revisions)
  DEPS
Labels: engine, autosubmit

#173349 Fix the issue of over-scrolling in SliverMainAxisGroup with a PinnedHeaderSliver.
  packages/flutter/lib/src/rendering/sliver_group.dart
  packages/flutter/test/widgets/sliver_main_axis_group_test.dart
Labels: framework, f: scrolling, autosubmit

#173611 Roll Skia from a2936eff2179 to 9ed4b4e53db2 (3 revisions)
  DEPS
Labels: engine, autosubmit

#173362 [ Tool ] Fix crash from possible DDS startup race
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/vmservice.dart
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/general.shard/cold_test.dart
  packages/flutter_tools/test/general.shard/hot_shared.dart
  packages/flutter_tools/test/general.shard/resident_runner_helpers.dart
  packages/flutter_tools/test/general.shard/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/general.shard/terminal_handler_test.dart
  packages/flutter_tools/test/integration.shard/flutter_attach_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: tool, autosubmit

#173628 Reapply "Make device debuggable if useDwdsWebSocketConnection is true … (#173551)"
  .ci.yaml
  dev/devicelab/bin/tasks/linux_chrome_dev_mode.dart
  dev/devicelab/bin/tasks/macos_chrome_dev_mode.dart
  dev/devicelab/bin/tasks/windows_chrome_dev_mode.dart
  dev/devicelab/lib/framework/browser.dart
  dev/devicelab/lib/framework/devices.dart
  dev/devicelab/lib/tasks/perf_tests.dart
  dev/devicelab/lib/tasks/web_dev_mode_tests.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
  packages/flutter_tools/test/integration.shard/hot_reload_websocket_test.dart
  packages/flutter_tools/test/integration.shard/test_driver.dart
Labels: tool, autosubmit

#173548 Remove jetifier usages
  dev/a11y_assessments/android/gradle.properties
  dev/benchmarks/complex_layout/android/gradle.properties
  dev/benchmarks/macrobenchmarks/android/gradle.properties
  dev/benchmarks/microbenchmarks/android/gradle.properties
  dev/benchmarks/platform_views_layout/android/gradle.properties
  dev/benchmarks/platform_views_layout_hybrid_composition/android/gradle.properties
  dev/benchmarks/test_apps/stocks/android/gradle.properties
  dev/integration_tests/android_engine_test/android/gradle.properties
  dev/integration_tests/android_semantics_testing/android/gradle.properties
  dev/integration_tests/android_views/android/gradle.properties
  dev/integration_tests/channels/android/gradle.properties
  dev/integration_tests/display_cutout_rotation/android/gradle.properties
  dev/integration_tests/external_textures/android/gradle.properties
  dev/integration_tests/flavors/android/gradle.properties
  dev/integration_tests/flutter_gallery/android/gradle.properties
  dev/integration_tests/module_host_with_custom_build_v2_embedding/gradle.properties
  dev/integration_tests/platform_interaction/android/gradle.properties
  dev/integration_tests/pure_android_host_apps/android_host_app_v2_embedding/gradle.properties
  dev/integration_tests/spell_check/android/gradle.properties
  dev/integration_tests/ui/android/gradle.properties
  dev/manual_tests/android/gradle.properties
  dev/tracing_tests/android/gradle.properties
  examples/flutter_view/android/gradle.properties
  examples/hello_world/android/gradle.properties
  examples/image_list/android/gradle.properties
  examples/platform_channel/android/gradle.properties
  examples/platform_view/android/gradle.properties
Labels: d: examples, autosubmit

#173569 [ios][tools]do not log "bonjour not found" at all (unless verbose)
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/test/general.shard/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: tool, autosubmit, team-ios

#172875 Fix directional focus in nested scrollables with different axis
  packages/flutter/lib/src/widgets/focus_traversal.dart
  packages/flutter/test/widgets/focus_traversal_test.dart
Labels: framework, f: focus, autosubmit

#173639 [Impeller] Apply Y coordinate scaling when sampling from the destination texture in framebuffer advanced blends
  engine/src/flutter/impeller/entity/contents/filters/blend_filter_contents.cc
Labels: engine, e: impeller, autosubmit

#173602 Fix GTK redraw call being called from non-GTK thread.
  engine/src/flutter/shell/platform/linux/fl_view.cc
Labels: engine, platform-linux, a: desktop, autosubmit

#173661 Roll Skia from 9ed4b4e53db2 to d06fdf03c6a1 (11 revisions)
  DEPS
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#173681 Roll Skia from d06fdf03c6a1 to 1170405c30cf (4 revisions)
  DEPS
Labels: engine, autosubmit

#173683 Roll Dart SDK from e2b7aec7333e to a098cb676fd6 (4 revisions)
  DEPS
Labels: engine, autosubmit

#173689 Roll Skia from 1170405c30cf to 29e3e1ab7f62 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173669 [beta] Cherry pick fix GTK redraw call being called from non-GTK thread
  engine/src/flutter/shell/platform/linux/fl_view.cc
Labels: engine, platform-linux, a: desktop, autosubmit

#173646 [ Tool ] Mark Linux_pixel_7pro linux_chrome_dev_mode as bringup
  .ci.yaml
Labels: emergency

#167032 Fix visual overlap of transparent routes barrier when using FadeForwardsPageTransitionsBuilder
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#168547 feat: Cupertino sheet implement upward stretch on full sheet
  packages/flutter/lib/src/cupertino/sheet.dart
  packages/flutter/test/cupertino/sheet_test.dart
Labels: framework, f: cupertino, autosubmit

#173245 Make sure that a Chip doesn't crash in 0x0 environment
  packages/flutter/test/material/chip_test.dart
Labels: framework, f: material design, autosubmit

#173654 [ Widget Preview ] Add `--machine` mode
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/test/integration.shard/widget_preview_machine_test.dart
Labels: tool, autosubmit

#171718 fix: selected date decorator renders outside PageView in `DatePickerDialog` dialog
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/test/material/calendar_date_picker_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#173726 Roll Packages from 08a9b2cc46dd to 6cb9113d5fa4 (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173731 [ Tool ] Fix missing import for widget_preview.dart
  packages/flutter_tools/lib/src/commands/widget_preview.dart
Labels: tool, emergency

#173737 [3.36] Do not include `:unittests` unless `enable_unittests`
  engine/src/flutter/BUILD.gn
Labels: engine, autosubmit

#173748 [3.35] Update `engine.version`
  bin/internal/engine.version
Labels: autosubmit

#173749 [3.36] Create `engine.version`
  bin/internal/engine.version
Labels: autosubmit

#173740 Roll Skia from 525e2bf80559 to 5852eddfd404 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173750 Roll Skia from 5852eddfd404 to b3e86773dae1 (1 revision)
  DEPS
Labels: engine, autosubmit

#173763 Roll Skia from b3e86773dae1 to dca5f05fee87 (4 revisions)
  DEPS
Labels: engine, autosubmit

#173769 Roll Dart SDK from 9b4691f35139 to 214a7f829913 (2 revisions)
  DEPS
Labels: engine, autosubmit

#169438 Fix default minimumSize in dropdownMenu when maximumSize is null
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#173344 Fix InputDecorator label padding
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/test/material/input_decorator_test.dart
Labels: framework, f: material design, autosubmit

#173790 Sync `CHANGELOG.md` (3.35 -> `master`)
  CHANGELOG.md
Labels: autosubmit

#169293 Implements the Android native stretch effect as a fragment shader (Impeller-only).
  packages/flutter/lib/src/material/shaders/stretch_effect.frag
  packages/flutter/lib/src/widgets/overscroll_indicator.dart
  packages/flutter/lib/src/widgets/stretch_effect.dart
  packages/flutter/lib/widgets.dart
  packages/flutter/test/widgets/overscroll_stretch_indicator_test.dart
  packages/flutter/test/widgets/page_view_test.dart
  packages/flutter/test/widgets/stretch_effect_test.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/test/general.shard/asset_bundle_test.dart
  packages/flutter_tools/test/general.shard/asset_test.dart
Labels: tool, framework, f: scrolling, will affect goldens, autosubmit

#173725 [Range slider] Tap on active range, the thumb closest to the mouse cursor should move to the cursor position.
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/test/material/range_slider_test.dart
Labels: framework, f: material design, autosubmit

#173784 Roll Fuchsia Linux SDK from I1TfNmsqTp7t3rO8e... to zWRpLglb48zC1vZLv...
  DEPS
Labels: engine, autosubmit

#173789 Roll Packages from 6cb9113d5fa4 to 09533b7d5d66 (4 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173792 Roll Dart SDK from 214a7f829913 to c7faab270f27 (1 revision)
  DEPS
Labels: engine, autosubmit

#173797 Read `bin/cache/flutter.version.json` instead of `version` for `flutter_gallery`
  dev/integration_tests/flutter_gallery/android/app/build.gradle
Labels: autosubmit

#173757 Return result of setting OpenGL contexts back to Flutter
  engine/src/flutter/shell/platform/linux/fl_compositor_opengl.cc
  engine/src/flutter/shell/platform/linux/fl_engine.cc
  engine/src/flutter/shell/platform/linux/fl_opengl_manager.cc
  engine/src/flutter/shell/platform/linux/fl_opengl_manager.h
Labels: engine, platform-linux, a: desktop

#173627 Make sure that a TableRowInkWell doesn't crash in 0x0 environment
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, autosubmit

#173782 [web] Cleanup usages of deprecated `routeUpdated` message
  engine/src/flutter/lib/web_ui/lib/src/engine/window.dart
  engine/src/flutter/lib/web_ui/test/engine/history_test.dart
  engine/src/flutter/lib/web_ui/test/engine/navigation_test.dart
  engine/src/flutter/lib/web_ui/test/engine/routing_test.dart
Labels: engine, platform-web, autosubmit

#173799 Remove `luci_flags.parallel_download_builds` and friends
  engine/src/flutter/ci/builders/linux_android_aot_engine.json
  engine/src/flutter/ci/builders/linux_android_aot_engine_ddm.json
  engine/src/flutter/ci/builders/linux_android_aot_engine_size_exp.json
  engine/src/flutter/ci/builders/linux_android_debug_engine.json
  engine/src/flutter/ci/builders/linux_android_debug_engine_ddm.json
  engine/src/flutter/ci/builders/linux_arm_host_engine.json
  engine/src/flutter/ci/builders/linux_fuchsia.json
  engine/src/flutter/ci/builders/linux_host_desktop_engine.json
  engine/src/flutter/ci/builders/linux_host_engine.json
  engine/src/flutter/ci/builders/linux_web_engine_build.json
  engine/src/flutter/ci/builders/mac_android_aot_engine.json
  engine/src/flutter/ci/builders/mac_host_engine.json
  engine/src/flutter/ci/builders/mac_ios_engine.json
  engine/src/flutter/ci/builders/mac_ios_engine_ddm.json
  engine/src/flutter/ci/builders/windows_android_aot_engine.json
  engine/src/flutter/ci/builders/windows_arm_host_engine.json
  engine/src/flutter/ci/builders/windows_host_engine.json
Labels: engine, autosubmit

#172793 Stop writing legacy `FLUTTER_ROOT/version` file (by default?)
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: tool, autosubmit

#173803 Update the RBE configuration for the recent Clang update
  DEPS
Labels: engine, autosubmit

#173822 Roll Skia from ad5d04000101 to 162f47d6b6bd (5 revisions)
  DEPS
Labels: engine, autosubmit

#173826 Roll Dart SDK from c7faab270f27 to cc008dc8e7aa (2 revisions)
  DEPS
Labels: engine, autosubmit

#173848 Roll Skia from 46ec77ae3954 to 5654ac32ede0 (1 revision)
  DEPS
Labels: engine, autosubmit

#173854 Roll Packages from 09533b7d5d66 to 5c52c5545f54 (6 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173864 Roll Dart SDK from cc008dc8e7aa to 9277d6303da5 (2 revisions)
  DEPS
Labels: engine, autosubmit

#173866 Roll Skia from 5654ac32ede0 to 2f66be8a593a (6 revisions)
  DEPS
Labels: engine, autosubmit

#173373 Add onHover callback support for TableRowInkWell
  packages/flutter/lib/src/material/data_table.dart
  packages/flutter/test/material/data_table_test.dart
Labels: framework, f: material design, autosubmit

#173874 Roll Fuchsia Linux SDK from zWRpLglb48zC1vZLv... to H1kVA85LyQsK8EDp2...
  DEPS
Labels: engine, autosubmit

#173860 Reland predictive back route transitions by default
  dev/integration_tests/android_views/lib/main.dart
  examples/api/test/material/divider/divider.0_test.dart
  examples/api/test/widgets/basic/listener.0_test.dart
  examples/api/test/widgets/basic/mouse_region.0_test.dart
  examples/api/test/widgets/heroes/hero.0_test.dart
  examples/api/test/widgets/transitions/align_transition.0_test.dart
  examples/api/test/widgets/transitions/fade_transition.0_test.dart
  examples/api/test/widgets/transitions/slide_transition.0_test.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/test/material/bottom_app_bar_test.dart
  packages/flutter/test/material/expansion_tile_test.dart
  packages/flutter/test/material/flexible_space_bar_test.dart
  packages/flutter/test/material/icon_button_test.dart
  packages/flutter/test/material/navigation_drawer_test.dart
  packages/flutter/test/material/navigation_drawer_theme_test.dart
  packages/flutter/test/material/page_test.dart
  packages/flutter/test/material/page_transitions_theme_test.dart
  packages/flutter/test/material/predictive_back_page_transitions_builder_test.dart
  packages/flutter/test/material/snack_bar_test.dart
  packages/flutter/test/material/stepper_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/navigator_test.dart
  packages/flutter/test/widgets/slivers_evil_test.dart
Labels: a: text input, framework, f: material design, f: scrolling, d: api docs, d: examples, f: routes, autosubmit

#170935 [a11y] : set isFocused will update isFocusable to true
  packages/flutter/lib/src/rendering/custom_paint.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/focus_scope.dart
  packages/flutter/test/semantics/semantics_test.dart
Labels: framework, a: accessibility, f: focus, autosubmit

#173877 Roll Skia from 2f66be8a593a to 91ad1f21ca61 (3 revisions)
  DEPS
Labels: engine, autosubmit

#173879 Revert "[ios][tools]do not log "bonjour not found" at all (unless verbose)"
  packages/flutter_tools/bin/xcode_backend.dart
  packages/flutter_tools/test/general.shard/xcode_backend_test.dart
  packages/flutter_tools/test/integration.shard/xcode_backend_test.dart
Labels: tool, autosubmit, team-ios

#173901 Roll Skia from 1e148cada9d4 to 16dbd908dcab (1 revision)
  DEPS
Labels: engine, autosubmit

#172406 Improve `SweepGradient` angle and `TileMode` documentation
  engine/src/flutter/lib/ui/painting.dart
  packages/flutter/lib/src/painting/gradient.dart
Labels: framework, engine, autosubmit

#173910 Roll Skia from d445371afee5 to a30d857718ad (2 revisions)
  DEPS
Labels: engine, autosubmit

#173919 Roll Skia from a30d857718ad to 88e8c099a086 (1 revision)
  DEPS
Labels: engine, autosubmit

#173922 Roll Dart SDK from 67ca79475db6 to a874859559e6 (2 revisions)
  DEPS
Labels: engine, autosubmit

#174002 Roll Dart SDK from 502455ee300b to 9105d946af95 (3 revisions)
  DEPS
Labels: engine, autosubmit

#174040 Roll Packages from 5c52c5545f54 to 953cae031cb7 (22 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#173979 [ Widget Preview ] Fix null assertion when trying to add `@Preview()` to invalid nodes
  packages/flutter_tools/lib/src/widget_preview/dependency_graph.dart
  packages/flutter_tools/lib/src/widget_preview/utils.dart
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/preview_detector/preview_detector_invalid_preview_applications_test.dart
Labels: tool, autosubmit, cp: beta, cp: stable

#172704 fix: only use library props for libraries
  packages/flutter_tools/gradle/src/main/kotlin/plugins/PluginHandler.kt
  packages/flutter_tools/gradle/src/test/kotlin/plugins/PluginHandlerTest.kt
Labels: platform-android, tool, autosubmit

#173297 [VPAT][A11y] AutoComplete dropdown option is missing button role
  packages/flutter/lib/src/material/autocomplete.dart
  packages/flutter/test/material/autocomplete_test.dart
Labels: framework, f: material design, autosubmit

#173352 Improve Stack widget error message for bounded constraints
  packages/flutter/lib/src/rendering/stack.dart
Labels: framework, will affect goldens, autosubmit

#173825 fix: Android build fails when minSdk is set below 24 in build.gradle.kts (#173823)
  packages/flutter_tools/lib/src/android/gradle_utils.dart
  packages/flutter_tools/lib/src/android/migrations/min_sdk_version_migration.dart
  packages/flutter_tools/test/general.shard/android/android_project_migration_test.dart
Labels: tool, autosubmit, team-android

#174019 Check that the windows architecture is 64-bit and not the process architecture
  bin/internal/shared.bat
Labels: autosubmit

#174059 Roll Fuchsia Linux SDK from n0EnLlotF2wczlOq_... to V1A1J6uXZ62Q10i9u...
  DEPS
Labels: engine, autosubmit

#172669 Update the AccessibilityPlugin::Announce method to account for the view
  dev/integration_tests/new_gallery/lib/pages/backdrop.dart
  engine/src/flutter/shell/platform/windows/accessibility_plugin.cc
  engine/src/flutter/shell/platform/windows/accessibility_plugin.h
  engine/src/flutter/shell/platform/windows/fixtures/main.dart
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/expansion_tile.dart
  packages/flutter/lib/src/semantics/semantics_event.dart
  packages/flutter/lib/src/semantics/semantics_service.dart
  packages/flutter/lib/src/widgets/form.dart
  packages/flutter/test/semantics/semantics_service_test.dart
  packages/flutter_test/test/widget_tester_test.dart
Labels: a: tests, framework, engine, f: material design, a: accessibility, platform-windows, a: desktop, autosubmit

#173868 Update CupertinoSliverNavigationBar.middle
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
Labels: framework, f: cupertino, autosubmit

#173891 NavigationRail correct traversal order
  packages/flutter/lib/src/material/navigation_rail.dart
  packages/flutter/test/material/navigation_rail_test.dart
Labels: framework, f: material design, autosubmit

#174074 Roll Dart SDK from 9105d946af95 to e936404543f1 (5 revisions)
  DEPS
Labels: engine, autosubmit

#174072 Roll Skia from 07d71ea4d056 to 953bfc0e2f2a (18 revisions)
  DEPS
Labels: engine, autosubmit

#174086 Roll Skia from 953bfc0e2f2a to 4b788d0e5e63 (1 revision)
  DEPS
Labels: engine, autosubmit

#174089 Roll Dart SDK from e936404543f1 to c5f5a32df36c (1 revision)
  DEPS
Labels: engine, autosubmit

#170060 Fix time picker period selector a11y touch targets
  packages/flutter/lib/src/material/time_picker.dart
  packages/flutter/test/material/time_picker_test.dart
  packages/flutter/test/material/time_picker_theme_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#174095 Roll Skia from 4b788d0e5e63 to 721e68fe652a (2 revisions)
  DEPS
Labels: engine, autosubmit
