Repository flutter/flutter, pull requests merged in 2025-06, with the labels that each got.

#169823 Roll Fuchsia Linux SDK from hRlf4HyRVtQia9RMG... to _zS92klQ4fiwoImf3...
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#169497 Revert "Fix NavigationBar indicator overlay color (#164484)"
  packages/flutter/lib/src/material/navigation_bar.dart
  packages/flutter/test/material/navigation_bar_test.dart
  packages/flutter/test/material/navigation_bar_theme_test.dart
  packages/flutter/test/material/navigation_drawer_test.dart
  packages/flutter/test/material/navigation_drawer_theme_test.dart
  packages/flutter/test/material/navigation_rail_test.dart
  packages/flutter/test/material/navigation_rail_theme_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#169849 Roll Fuchsia Linux SDK from _zS92klQ4fiwoImf3... to pulsQbHjgvxS4Z1DQ...
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#168932 Symlink SwiftPM plugins in the same directory
  packages/flutter_tools/lib/src/macos/swift_package_manager.dart
  packages/flutter_tools/lib/src/plugins.dart
  packages/flutter_tools/lib/src/xcode_project.dart
  packages/flutter_tools/test/general.shard/macos/cocoapod_utils_test.dart
  packages/flutter_tools/test/general.shard/macos/swift_package_manager_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
  packages/flutter_tools/test/general.shard/xcode_project_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_test.dart
  packages/flutter_tools/test/integration.shard/swift_package_manager_utils.dart
Labels: tool, a: desktop, autosubmit, team-ios

#169866 [native assets] Add error message for #169475
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
Labels: tool, autosubmit

#169633 Check to see if previous page is laid out before starting hero flight
  packages/flutter/lib/src/widgets/heroes.dart
  packages/flutter/test/widgets/heroes_test.dart
Labels: framework, autosubmit

#169622 Change lint ignore comment to use unawaited
  engine/src/flutter/lib/web_ui/lib/src/engine/html_image_element_codec.dart
Labels: engine, platform-web

#169893 Remove `generateSyntheticPackages` and code that invoked it.
  packages/flutter_tools/lib/src/commands/create_base.dart
  packages/flutter_tools/lib/src/commands/packages.dart
  packages/flutter_tools/lib/src/dart/generate_synthetic_packages.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/dart/generate_synthetic_packages_test.dart
Labels: tool, autosubmit

#169174 [flutter_tools] Enable hot reload on the web
  dev/bots/suite_runners/run_web_tests.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/lib/src/test/flutter_web_platform.dart
  packages/flutter_tools/test/commands.shard/hermetic/flutter_web_platform_test.dart
  packages/flutter_tools/test/general.shard/resident_web_runner_test.dart
Labels: tool, autosubmit

#169897 Remove `FlutterProject.flutterPluginsFile`.
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/lib/src/project.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
  packages/flutter_tools/test/general.shard/dart_plugin_test.dart
  packages/flutter_tools/test/general.shard/ios/mac_test.dart
  packages/flutter_tools/test/general.shard/macos/cocoapod_utils_test.dart
  packages/flutter_tools/test/general.shard/plugins_test.dart
Labels: tool, a: desktop, autosubmit, team-ios

#168311 Add more documentation around keep alive
  packages/flutter/lib/src/widgets/automatic_keep_alive.dart
  packages/flutter/lib/src/widgets/scroll_delegate.dart
  packages/flutter/lib/src/widgets/sliver.dart
Labels: framework, f: scrolling, autosubmit

#169895 Remove stray (unused) `legacyFlutterPluginsWarning`.
  packages/flutter_tools/gradle/src/main/kotlin/plugins/PluginHandler.kt
Labels: platform-android, tool, autosubmit

#169793 Split `Linux docs_publish` into `Linux docs_generate_release`
  .ci.yaml
  TESTOWNERS
Labels: autosubmit, cp: stable

#169909 Roll Skia from 818475fbfc2d to 4b89aaff9029 (1 revision)
  DEPS
Labels: engine, autosubmit

#169134 `gclient sync` only run `pub get` in workspace root folders
  engine/src/flutter/tools/pub_get_offline.py
Labels: engine, will affect goldens, autosubmit

#169125 Stop writing package_config_subset
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/dart_plugin_registrant.dart
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/dart/pub.dart
Labels: tool, will affect goldens, autosubmit

#168814 Fix .xcodeproj file name in Setting-up-the-Engine-development-environment.md
  engine/src/flutter/docs/contributing/Setting-up-the-Engine-development-environment.md
Labels: engine, autosubmit

#169923 Roll Fuchsia Linux SDK from pulsQbHjgvxS4Z1DQ... to XalPPr5CNvZXHPo6O...
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#161593 [Web][Engine] Fix composingBaseOffset and composingExtentOffset value when input japanese text
  engine/src/flutter/lib/web_ui/lib/src/engine/text_editing/composition_aware_mixin.dart
  engine/src/flutter/lib/web_ui/test/engine/composition_test.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/widgets/editable_text_shortcuts_test.dart
Labels: a: text input, framework, engine, platform-web, will affect goldens, autosubmit

#169943 Remove all now inert references to "synthetic" packages.
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/flutter_manifest.dart
  packages/flutter_tools/lib/src/localizations/gen_l10n.dart
  packages/flutter_tools/lib/src/localizations/localizations_utils.dart
  packages/flutter_tools/test/commands.shard/hermetic/create_usage_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/drive_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/pub_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/update_packages_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_aar_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/cache_test.dart
  packages/flutter_tools/test/general.shard/generate_localizations_test.dart
  packages/flutter_tools/test/integration.shard/test_data/gen_l10n_project.dart
Labels: tool, autosubmit

#169477 Update deprecated vector_math calls
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/text_selection.dart
  packages/flutter/lib/src/gestures/hit_test.dart
  packages/flutter/lib/src/material/flexible_space_bar.dart
  packages/flutter/lib/src/material/input_decorator.dart
  packages/flutter/lib/src/material/page_transitions_theme.dart
  packages/flutter/lib/src/material/text_selection_toolbar.dart
  packages/flutter/lib/src/painting/gradient.dart
  packages/flutter/lib/src/rendering/box.dart
  packages/flutter/lib/src/rendering/layer.dart
  packages/flutter/lib/src/rendering/list_wheel_viewport.dart
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/lib/src/rendering/paragraph.dart
  packages/flutter/lib/src/rendering/proxy_box.dart
  packages/flutter/lib/src/rendering/rotated_box.dart
  packages/flutter/lib/src/rendering/sliver.dart
  packages/flutter/lib/src/rendering/viewport.dart
  packages/flutter/lib/src/widgets/autocomplete.dart
  packages/flutter/lib/src/widgets/icon.dart
  packages/flutter/lib/src/widgets/interactive_viewer.dart
  packages/flutter/lib/src/widgets/magnifier.dart
  packages/flutter/lib/src/widgets/overlay.dart
  packages/flutter/lib/src/widgets/single_child_scroll_view.dart
  packages/flutter/lib/src/widgets/widget_span.dart
Labels: a: text input, framework, f: material design, f: scrolling, f: cupertino, f: gestures, autosubmit, fyi-framework

#169945 Remove Observatory build rules and remaining references from the engine
  engine/src/flutter/runtime/BUILD.gn
  engine/src/flutter/runtime/dart_vm.cc
  engine/src/flutter/shell/platform/fuchsia/dart_runner/BUILD.gn
  engine/src/flutter/shell/platform/fuchsia/dart_runner/dart_runner.cc
  engine/src/flutter/shell/platform/fuchsia/dart_runner/service_isolate.cc
  engine/src/flutter/shell/platform/fuchsia/dart_runner/service_isolate.h
  engine/src/flutter/shell/platform/fuchsia/flutter/BUILD.gn
  engine/src/flutter/testing/dart/BUILD.gn
  engine/src/flutter/testing/dart/vm_service/BUILD.gn
  engine/src/flutter/testing/dart/vm_service/README.md
  engine/src/flutter/testing/dart/vm_service/shader_reload_test.dart
  engine/src/flutter/testing/dart/vm_service/skp_test.dart
  engine/src/flutter/testing/dart/vm_service/tracing_test.dart
  engine/src/flutter/testing/dart/vm_service/vmservice_methods_test.dart
  engine/src/flutter/tools/fuchsia/dart.gni
Labels: engine, platform-fuchsia, autosubmit

#168450 Revert "Changes the offset computation to first item for RenderSliverMainAxisGroup" (#154688)
  packages/flutter/lib/src/rendering/sliver_group.dart
  packages/flutter/test/widgets/sliver_main_axis_group_test.dart
Labels: framework, f: scrolling, autosubmit

#169937 Remove `bringup` on `Linux docs_generate_release`.
  .ci.yaml
Labels: autosubmit

#169708 CupertinoSearchTextField and CupertinoSliverNavigationBar.search more fidelity updates
  packages/flutter/lib/src/cupertino/nav_bar.dart
  packages/flutter/lib/src/cupertino/search_field.dart
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/test/cupertino/nav_bar_test.dart
  packages/flutter/test/cupertino/nav_bar_transition_test.dart
  packages/flutter/test/cupertino/search_field_test.dart
Labels: a: text input, framework, f: cupertino, will affect goldens, autosubmit

#169961 Roll Skia from 7bfaadb5168b to a0d16825479f (1 revision)
  DEPS
Labels: engine, autosubmit

#169950 Finish removing `--explicit-package-dependencies`.
  dev/benchmarks/test_apps/stocks/l10n.yaml
  packages/flutter_tools/lib/src/commands/generate_localizations.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/flutter_features.dart
  packages/flutter_tools/lib/src/flutter_plugins.dart
  packages/flutter_tools/lib/src/localizations/localizations_utils.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/commands.shard/hermetic/generate_localizations_test.dart
  packages/flutter_tools/test/commands.shard/permeable/packages_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
  packages/flutter_tools/test/general.shard/project_test.dart
  packages/flutter_tools/test/src/fakes.dart
Labels: tool, autosubmit

#169962 Clean up EmbedderExternalViewEmbedder creation
  engine/src/flutter/shell/platform/embedder/embedder.cc
Labels: engine, autosubmit

#169273 Data assets
  packages/flutter_tools/lib/executable.dart
  packages/flutter_tools/lib/src/asset.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/build_system/targets/android.dart
  packages/flutter_tools/lib/src/build_system/targets/assets.dart
  packages/flutter_tools/lib/src/build_system/targets/common.dart
  packages/flutter_tools/lib/src/build_system/targets/hook_runner_native.dart
  packages/flutter_tools/lib/src/build_system/targets/ios.dart
  packages/flutter_tools/lib/src/build_system/targets/linux.dart
  packages/flutter_tools/lib/src/build_system/targets/macos.dart
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/lib/src/build_system/targets/web.dart
  packages/flutter_tools/lib/src/build_system/targets/windows.dart
  packages/flutter_tools/lib/src/bundle_builder.dart
  packages/flutter_tools/lib/src/commands/attach.dart
  packages/flutter_tools/lib/src/commands/build_bundle.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/features.dart
  packages/flutter_tools/lib/src/flutter_features.dart
  packages/flutter_tools/lib/src/hook_runner.dart
  packages/flutter_tools/lib/src/isolated/native_assets/dart_hook_result.dart
  packages/flutter_tools/lib/src/isolated/native_assets/linux/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/native_assets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/targets.dart
  packages/flutter_tools/lib/src/isolated/native_assets/test/native_assets.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/run_cold.dart
  packages/flutter_tools/lib/src/run_hot.dart
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/lib/src/web/chrome.dart
  packages/flutter_tools/pubspec.lock
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/test/commands.shard/hermetic/attach_test.dart
  packages/flutter_tools/test/commands.shard/permeable/build_bundle_test.dart
  packages/flutter_tools/test/general.shard/devfs_test.dart
  packages/flutter_tools/test/general.shard/isolated/android/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/build_system/targets/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/data_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/fake_native_assets_build_runner.dart
  packages/flutter_tools/test/general.shard/isolated/ios/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/linux/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/macos/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/native_assets_test.dart
  packages/flutter_tools/test/general.shard/isolated/resident_runner_test.dart
  packages/flutter_tools/test/general.shard/isolated/windows/native_assets_test.dart
  packages/flutter_tools/test/integration.shard/isolated/dart_data_asset_test.dart
  packages/flutter_tools/test/integration.shard/transition_test_utils.dart
  packages/flutter_tools/test/src/fakes.dart
  packages/flutter_tools/test/web.shard/chrome_test.dart
Labels: tool, a: desktop, autosubmit, team-ios

#169864 fix: add the missing type of debug metadata
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
Labels: tool, autosubmit

#169966 Use `noExitOnFailure` in `flutter clean`.
  packages/flutter_tools/lib/src/commands/clean.dart
  packages/flutter_tools/test/commands.shard/hermetic/clean_test.dart
Labels: tool, autosubmit

#170005 Re-update `engine.version` for 3.32.2 stable hotfix release to the last SHA with engine change
  bin/internal/engine.version
Labels: autosubmit

#169959 Manual roll of Dart from 6aeb798bdbe2 to 239174405ad0
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
Labels: engine, autosubmit

#169994 [ Tool ] Do not remove version files when fetching tags on main / beta
  packages/flutter_tools/lib/src/version.dart
  packages/flutter_tools/test/general.shard/version_test.dart
Labels: tool, autosubmit

#170006 Explicitly disabling hot reload for non-hot-reload web debug benchmarks
  dev/devicelab/lib/tasks/web_benchmarks.dart
Labels: autosubmit

#169954 Allow setting the Gradle `--project-cache-dir` for Android builds
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/android/android_gradle_builder_test.dart
Labels: tool, autosubmit

#170001 Remove `conductor`, keeping everything that `packages_autoroller` uses.
  dev/conductor/README.md
  dev/conductor/RELEASE_ONBOARDING.md
  dev/conductor/core/bin/cli.dart
  dev/conductor/core/bin/packages_autoroller.dart
  dev/conductor/core/lib/conductor_core.dart
  dev/conductor/core/lib/proto.dart
  dev/conductor/core/lib/src/candidates.dart
  dev/conductor/core/lib/src/clean.dart
  dev/conductor/core/lib/src/context.dart
  dev/conductor/core/lib/src/globals.dart
  dev/conductor/core/lib/src/next.dart
  dev/conductor/core/lib/src/proto/compile_proto.sh
  dev/conductor/core/lib/src/proto/conductor_state.pb.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbenum.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbjson.dart
  dev/conductor/core/lib/src/proto/conductor_state.pbserver.dart
  dev/conductor/core/lib/src/proto/conductor_state.proto
  dev/conductor/core/lib/src/repository.dart
  dev/conductor/core/lib/src/start.dart
  dev/conductor/core/lib/src/state.dart
  dev/conductor/core/lib/src/status.dart
  dev/conductor/core/lib/src/version.dart
  dev/conductor/core/test/candidates_test.dart
  dev/conductor/core/test/clean_test.dart
  dev/conductor/core/test/globals_test.dart
  dev/conductor/core/test/next_test.dart
  dev/conductor/core/test/packages_autoroller_test.dart
  dev/conductor/core/test/start_test.dart
  dev/conductor/core/test/state_test.dart
  dev/conductor/core/test/version_test.dart
Labels: autosubmit

#169949 [ Tool ] Fix failed VSCode version lookup on Linux
  packages/flutter_tools/lib/src/vscode/vscode.dart
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/data/vscode/application/resources/app/package.json
  packages/flutter_tools/test/general.shard/vscode/vscode_test.dart
Labels: tool, autosubmit

#169229 [ Widget Previews ] Add support for localizations in widget previews
  packages/flutter/lib/src/widget_previews/widget_previews.dart
  packages/flutter/lib/src/widgets/app.dart
  packages/flutter/lib/src/widgets/localizations.dart
  packages/flutter_tools/lib/src/widget_preview/preview_code_generator.dart
  packages/flutter_tools/lib/src/widget_preview/preview_detector.dart
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/widget_preview.dart.tmpl
  packages/flutter_tools/templates/widget_preview_scaffold/lib/src/widget_preview_rendering.dart.tmpl
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/preview_code_generator_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/preview_detector_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/widget_preview.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/lib/src/widget_preview_rendering.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/localizations_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/soft_restart_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/theming_test.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/utils/localizations_utils.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/utils/widget_preview_scaffold_test_utils.dart
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/test/widget_inspector_test.dart
Labels: tool, framework, autosubmit

#170028 Merge `CHANGELOG` from 3.32.2
  CHANGELOG.md
Labels: autosubmit

#169794 Move the check for Git in the PATH into the top level Windows flutter.bat script
  bin/dart.bat
  bin/flutter-dev.bat
  bin/flutter.bat
  bin/internal/shared.bat
Labels: autosubmit

#169860 Combine expression evaluation tests to reduce testing time
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_errors_common.dart
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_test_common.dart
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_with_asset.dart
  packages/flutter_tools/test/integration.shard/test_data/hot_reload_with_asset_test_common.dart
  packages/flutter_tools/test/web.shard/expression_evaluation_web_ddc_library_bundle_test.dart
  packages/flutter_tools/test/web.shard/hot_reload_web_errors_test.dart
  packages/flutter_tools/test/web.shard/hot_reload_with_asset_web_test.dart
  packages/flutter_tools/test/web.shard/test_data/expression_evaluation_web_common.dart
  packages/flutter_tools/test/web.shard/test_data/hot_restart_web_test_common.dart
Labels: tool, autosubmit

#170018 Release validation: Check `bin/internal/engine.version` in presubmit
  dev/bots/analyze.dart
  dev/tools/bin/check_engine_version.dart
  dev/tools/lib/check_engine_version.dart
  dev/tools/test/check_engine_version_test.dart
Labels: autosubmit

#170010 Add connectedApps listener before we launch the browser
  packages/flutter_tools/lib/src/isolated/devfs_web.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
Labels: tool, autosubmit

#170092 Create `release-candidate-branch.version` for 3.34
  bin/internal/release-candidate-branch.version
Labels: autosubmit

#166212 [Engine][Web] Fixed fallback font loading process
  engine/src/flutter/lib/web_ui/lib/src/engine/font_fallbacks.dart
  engine/src/flutter/lib/web_ui/test/ui/fallback_fonts_golden_test.dart
Labels: engine, platform-web, will affect goldens

#170084 Update triage page
  docs/triage/README.md
Labels: autosubmit, d: docs/

#161481 Remove AlarmClock from BrowserImageDecoder
  engine/src/flutter/lib/web_ui/lib/src/engine/image_decoder.dart
Labels: engine, platform-web

#169858 Add caching to the tool test workflow
  .github/workflows/tool-test-general.yml
Labels: autosubmit

#170165 Roll Skia from c810c9ba87fe to 910070084066 (29 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#169670 Trigger `CupertinoPicker` haptics in the middle of the item
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/test/cupertino/picker_test.dart
Labels: framework, f: cupertino, autosubmit

#170111 Reland workflow cache
  .github/workflows/tool-test-general.yml
Labels: autosubmit

#161488 Dispose ImmutableBuffer at web_ui.instantiateImageCodecFromBuffer and web_ui.instantiateImageCodecWithSize
  engine/src/flutter/lib/web_ui/lib/painting.dart
  engine/src/flutter/lib/web_ui/test/canvaskit/image_test.dart
Labels: engine, platform-web, autosubmit

#170198 Roll Dart SDK from f8e88f6ce02a to c26e7ca44805 (1 revision)
  DEPS
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170194 [Impeller] Fix vertex allocation counts for flat curves
  engine/src/flutter/impeller/tessellator/path_tessellator.cc
  engine/src/flutter/impeller/tessellator/path_tessellator_unittests.cc
Labels: engine, e: impeller, autosubmit

#170253 Invalidate build target when new output file is added
  packages/flutter_tools/lib/src/build_system/build_system.dart
  packages/flutter_tools/lib/src/build_system/targets/dart_plugin_registrant.dart
  packages/flutter_tools/lib/src/build_system/targets/localizations.dart
  packages/flutter_tools/test/general.shard/build_system/build_system_test.dart
  packages/flutter_tools/test/general.shard/build_system/invalidated_reason_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/dart_plugin_registrant_test.dart
  packages/flutter_tools/test/general.shard/build_system/targets/localizations_test.dart
Labels: tool, autosubmit

#170079 Fixes inputDecoration sibling explicit child not included in semantic…
  packages/flutter/lib/src/rendering/object.dart
  packages/flutter/test/material/text_field_test.dart
Labels: a: text input, framework, f: material design, will affect goldens, autosubmit

#169995 Removed the FlutterViewController.pluginRegistrant
  engine/src/flutter/shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  engine/src/flutter/shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  engine/src/flutter/shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, engine, team-ios

#170169 Export FlutterSceneDelegate
  dev/integration_tests/release_smoke_test/ios/Runner.xcodeproj/project.pbxproj
  dev/integration_tests/release_smoke_test/ios/Runner/SceneDelegate.h
  dev/integration_tests/release_smoke_test/ios/Runner/SceneDelegate.m
  engine/src/flutter/shell/platform/darwin/ios/framework/Headers/FlutterSceneDelegate.h
Labels: platform-ios, engine, autosubmit, team-ios

#170363 Roll Dart SDK from c26e7ca44805 to 6290dfd1d88a (5 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170364 Remove `pubspec.lock` files for `flutter_tools` and `widget_preview_scaffold`.
  .gitignore
  packages/flutter_tools/lib/src/commands/update_packages.dart
  packages/flutter_tools/pubspec.lock
  packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/pubspec.lock
Labels: tool, autosubmit

#167738 [a11y] Semantics flag refactor step 2: embedder part
  engine/src/flutter/shell/platform/common/accessibility_bridge.cc
  engine/src/flutter/shell/platform/common/accessibility_bridge.h
  engine/src/flutter/shell/platform/common/accessibility_bridge_unittests.cc
  engine/src/flutter/shell/platform/common/flutter_platform_node_delegate_unittests.cc
  engine/src/flutter/shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacTest.mm
  engine/src/flutter/shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  engine/src/flutter/shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMacTest.mm
  engine/src/flutter/shell/platform/embedder/embedder.h
  engine/src/flutter/shell/platform/embedder/embedder_semantics_update.cc
  engine/src/flutter/shell/platform/embedder/embedder_semantics_update.h
  engine/src/flutter/shell/platform/linux/fl_view_accessible.cc
  engine/src/flutter/shell/platform/windows/accessibility_bridge_windows_unittests.cc
  engine/src/flutter/shell/platform/windows/flutter_windows_view_unittests.cc
Labels: engine, a: accessibility, platform-windows, platform-linux, a: desktop, autosubmit, platform-macos

#169816 fix: set versionCodeOverride when split-per-abi is specified
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPlugin.kt
  packages/flutter_tools/test/integration.shard/flutter_build_apk_split_per_abi_test.dart
Labels: platform-android, tool, autosubmit

#170309 Revert "Add call to Dart_NotifyDestroyed when the flutter view is des…
  engine/src/flutter/runtime/runtime_controller.cc
  engine/src/flutter/runtime/runtime_controller.h
  engine/src/flutter/shell/common/engine.cc
  engine/src/flutter/shell/common/engine.h
  engine/src/flutter/shell/common/fixtures/shell_test.dart
  engine/src/flutter/shell/common/shell.cc
  engine/src/flutter/shell/common/shell_unittests.cc
Labels: engine, autosubmit, customer: thoughts (g3)

#170389 [engine] Reland: ensure engines spawned from an engine using dynamic rendering selection still use the dynamic surface.
  engine/src/flutter/shell/platform/android/android_context_dynamic_impeller.h
  engine/src/flutter/shell/platform/android/context/android_context.cc
  engine/src/flutter/shell/platform/android/context/android_context.h
  engine/src/flutter/shell/platform/android/external_view_embedder/surface_pool.cc
  engine/src/flutter/shell/platform/android/platform_view_android.cc
Labels: platform-android, engine, autosubmit

#170187 Verify old version of Python has the `lib2to3` import available
  engine/src/flutter/tools/yapf.sh
Labels: engine

#170401 Add initial `engine.version`.
  bin/internal/engine.version
Labels: autosubmit

#169857 Use pathops module groups
  engine/src/flutter/skia/BUILD.gn
Labels: engine

#169163 Fix date picker calendar tap targets (portrait mode)
  packages/flutter/lib/src/material/calendar_date_picker.dart
  packages/flutter/lib/src/material/date_picker.dart
  packages/flutter/test/material/date_picker_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#170429 Tiny clean-up in triage docs
  docs/triage/README.md
Labels: autosubmit, d: docs/

#169828 Docs: Update docs for suffix icon interaction behaviour
  packages/flutter/lib/src/material/text_field.dart
Labels: a: text input, framework, f: material design, autosubmit

#170027 Add CupertinoRadio widget of the week video
  packages/flutter/lib/src/cupertino/radio.dart
Labels: framework, f: cupertino, autosubmit

#166645 Fix DropdownButtonFormField focusing when replacing FocusNode
  packages/flutter/lib/src/material/dropdown.dart
  packages/flutter/test/material/dropdown_test.dart
Labels: framework, f: material design, autosubmit

#169029 Fix remaining iconbuttontheme overrides in listtile
  packages/flutter/lib/src/material/icon_button.dart
  packages/flutter/lib/src/material/list_tile.dart
  packages/flutter/test/material/list_tile_test.dart
Labels: framework, f: material design, will affect goldens, autosubmit

#170453 Roll Skia from b78fdc3ba26b to 38b9f9b0e496 (7 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#170251 Adds getters for different formats of build mode name
  packages/flutter_tools/lib/src/android/gradle.dart
  packages/flutter_tools/lib/src/build_info.dart
  packages/flutter_tools/lib/src/commands/build_ios.dart
  packages/flutter_tools/lib/src/commands/build_ios_framework.dart
  packages/flutter_tools/lib/src/commands/build_macos_framework.dart
  packages/flutter_tools/lib/src/commands/daemon.dart
  packages/flutter_tools/lib/src/commands/run.dart
  packages/flutter_tools/lib/src/isolated/resident_web_runner.dart
  packages/flutter_tools/lib/src/macos/application_package.dart
  packages/flutter_tools/lib/src/resident_runner.dart
  packages/flutter_tools/lib/src/windows/application_package.dart
  packages/flutter_tools/test/general.shard/build_info_test.dart
  packages/flutter_tools/test/host_cross_arch.shard/ios_content_validation_test.dart
Labels: tool, a: desktop, autosubmit, team-ios

#170448 iOS tool dylibs do not need entitlements
  .ci.yaml
  TESTOWNERS
  dev/bots/suite_runners/run_verify_binaries_codesigned_tests.dart
  dev/bots/test.dart
Labels: autosubmit

#170457 Pause UIScene migration
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/uiscenedelegate_migration.dart
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: platform-ios, tool, autosubmit, team-ios

#170481 CP: iOS tool dylibs do not need entitlements (#170448)
  .ci.yaml
  TESTOWNERS
  dev/bots/suite_runners/run_verify_binaries_codesigned_tests.dart
  dev/bots/test.dart
Labels: autosubmit

#170375 [impellerc] add GLES shader define.
  engine/src/flutter/impeller/compiler/compiler.cc
  engine/src/flutter/impeller/compiler/compiler_unittests.cc
  engine/src/flutter/impeller/fixtures/BUILD.gn
  engine/src/flutter/impeller/fixtures/check_gles_definition.frag
Labels: engine, e: impeller, autosubmit

#170473 Roll Dart SDK from b569246d64bc to 9f741ef8a689 (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#162062 Make `DropdownMenu` TextField reactive to label changes
  packages/flutter/lib/src/material/dropdown_menu.dart
  packages/flutter/test/material/dropdown_menu_test.dart
Labels: framework, f: material design, autosubmit

#162223 Allow the Slider to always show the value indicator.
  packages/flutter/lib/fix_data/fix_material/fix_material.yaml
  packages/flutter/lib/src/material/range_slider.dart
  packages/flutter/lib/src/material/slider.dart
  packages/flutter/lib/src/material/slider_theme.dart
  packages/flutter/test/material/range_slider_test.dart
  packages/flutter/test/material/slider_test.dart
  packages/flutter/test/material/slider_theme_test.dart
  packages/flutter/test/painting/system_fonts_test.dart
  packages/flutter/test_fixes/material/material.dart
  packages/flutter/test_fixes/material/material.dart.expect
Labels: c: new feature, framework, f: material design, will affect goldens, c: tech-debt, autosubmit

#170495 Copy `packages_autoroller` to `dev/packages_autoroller/run`.
  dev/bots/analyze.dart
  dev/packages_autoroller/README.md
  dev/packages_autoroller/run
Labels: autosubmit

#170498 Revert "[a11y] Semantics flag refactor step 2: embedder part"
  engine/src/flutter/shell/platform/common/accessibility_bridge.cc
  engine/src/flutter/shell/platform/common/accessibility_bridge.h
  engine/src/flutter/shell/platform/common/accessibility_bridge_unittests.cc
  engine/src/flutter/shell/platform/common/flutter_platform_node_delegate_unittests.cc
  engine/src/flutter/shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacTest.mm
  engine/src/flutter/shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  engine/src/flutter/shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMacTest.mm
  engine/src/flutter/shell/platform/embedder/embedder.h
  engine/src/flutter/shell/platform/embedder/embedder_semantics_update.cc
  engine/src/flutter/shell/platform/embedder/embedder_semantics_update.h
  engine/src/flutter/shell/platform/linux/fl_view_accessible.cc
  engine/src/flutter/shell/platform/windows/accessibility_bridge_windows_unittests.cc
  engine/src/flutter/shell/platform/windows/flutter_windows_view_unittests.cc
Labels: engine, a: accessibility, platform-windows, platform-linux, a: desktop, autosubmit, platform-macos

#170395 Fix `Semantics.identifier` on TextField not working on web
  engine/src/flutter/lib/web_ui/lib/src/engine/semantics/semantics.dart
  engine/src/flutter/lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: engine, a: accessibility, platform-web, autosubmit

#170514 Roll Skia from 38b9f9b0e496 to b41e7017658e (12 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#170538 Fix the path to `packages_autoroller`.
  dev/packages_autoroller/run
Labels: emergency

#170528 Roll Packages from 0b322a2d9fb5 to 6d3aaf4b5523 (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#170519 Roll Dart SDK from 9f741ef8a689 to ac589dba5282 (3 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170467 [ Widget Preview ] Refactor the `flutter widget-preview` command
  packages/flutter_tools/lib/src/commands/widget_preview.dart
  packages/flutter_tools/lib/src/widget_preview/dependency_graph.dart
  packages/flutter_tools/lib/src/widget_preview/preview_code_generator.dart
  packages/flutter_tools/lib/src/widget_preview/preview_details.dart
  packages/flutter_tools/lib/src/widget_preview/preview_detector.dart
  packages/flutter_tools/lib/src/widget_preview/preview_pubspec_builder.dart
  packages/flutter_tools/lib/src/widget_preview/utils.dart
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/preview_code_generator_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/preview_detector_test.dart
  packages/flutter_tools/test/commands.shard/hermetic/widget_preview/widget_preview_test.dart
Labels: tool, autosubmit

#170490 Pause UIScene migration
  dev/devicelab/lib/tasks/plugin_tests.dart
  dev/integration_tests/channels/ios/Runner/Info.plist
  dev/integration_tests/external_textures/ios/Runner/Info.plist
  examples/platform_channel/ios/Runner/Info.plist
  examples/platform_channel_swift/ios/Runner/Info.plist
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/uiscenedelegate_migration.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner/AppDelegate.swift
  packages/flutter_tools/templates/app/ios.tmpl/Runner/Info.plist.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.tmpl/AppDelegate.m
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.tmpl/Info.plist.tmpl
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: platform-ios, tool, d: examples, autosubmit, team-ios

#170273 Relax RadioGroup semantics to allow non-radio children
  packages/flutter/lib/src/semantics/semantics.dart
  packages/flutter/lib/src/widgets/radio_group.dart
  packages/flutter/test/widgets/radio_group_test.dart
  packages/flutter/test/widgets/semantics_role_checks_test.dart
Labels: framework, a: accessibility, autosubmit

#170376 Navigator should call didpop when popping page based route
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/test/widgets/navigator_test.dart
Labels: framework, f: routes, autosubmit

#170449 Fix stray `--packages` argument from `workspace` refactor; add a test.
  packages/flutter_tools/lib/src/test/web_test_compiler.dart
  packages/flutter_tools/test/general.shard/test/web_test_compiler_test.dart
Labels: tool, autosubmit

#170548 [Impeller] fix mask filter application to Vertices.
  engine/src/flutter/impeller/display_list/aiks_dl_vertices_unittests.cc
  engine/src/flutter/impeller/display_list/canvas.cc
  engine/src/flutter/impeller/display_list/dl_vertices_geometry.cc
  engine/src/flutter/impeller/display_list/dl_vertices_geometry.h
Labels: engine, will affect goldens, e: impeller, autosubmit

#170298 [Windows] Use ANGLE blit extension on GLES 2.0
  engine/src/flutter/impeller/renderer/backend/gles/proc_table_gles.cc
  engine/src/flutter/impeller/renderer/backend/gles/proc_table_gles.h
  engine/src/flutter/shell/platform/windows/compositor_opengl.cc
  engine/src/flutter/shell/platform/windows/compositor_opengl_unittests.cc
Labels: engine, platform-windows, a: desktop, e: impeller, autosubmit

#170560 Update `engine.version`
  CHANGELOG.md
  bin/internal/engine.version
Labels: autosubmit

#170557 Roll Fuchsia Linux SDK from Dueykg3VpLT5D_jSG... to lVfYTWxB0rTTuW_k3...
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#170566 Roll Dart SDK from ac589dba5282 to 1a6f6d7c6f2c (4 revisions)
  DEPS
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170362 [web] Add Paint dithering.
  engine/src/flutter/lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/canvaskit/painting.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/canvaskit/shader.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paint.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_paint.dart
  engine/src/flutter/lib/web_ui/lib/src/engine/skwasm/skwasm_impl/shaders.dart
  engine/src/flutter/lib/web_ui/skwasm/paint.cpp
  engine/src/flutter/lib/web_ui/test/canvaskit/shader_test.dart
Labels: engine, platform-web, will affect goldens, autosubmit

#170570 Roll Skia from 70455b7c74dd to 438ea4e05e15 (1 revision)
  DEPS
Labels: engine, autosubmit

#170607 infa: linux_android_emulator_tests to bringup (bad kvm config)
  engine/src/flutter/.ci.yaml
Labels: autosubmit, emergency

#170598 Update CHANGELOG with 3.32.4 changes
  CHANGELOG.md
Labels: autosubmit

#170600 Roll Packages from 6d3aaf4b5523 to c5ab57a54105 (5 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#170596 [Impeller] disable lossy texture compression.
  engine/src/flutter/lib/ui/painting/image_decoder_impeller.cc
Labels: engine, autosubmit

#170608 Roll Skia from 438ea4e05e15 to 39fc446abf5c (6 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/licenses_skia
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170621 Roll Skia from 39fc446abf5c to f8cd9fe75f21 (2 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#170623 Roll Fuchsia Linux SDK from lVfYTWxB0rTTuW_k3... to nUffQhlaVpp0P2Yl6...
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#170630 Roll Dart SDK from 533af3e58e48 to ae721d7d5b51 (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170494 [Impeller] Remove use of simple Skia objects
  engine/src/flutter/impeller/display_list/aiks_playground.cc
  engine/src/flutter/impeller/display_list/dl_dispatcher.cc
  engine/src/flutter/impeller/display_list/dl_dispatcher.h
  engine/src/flutter/impeller/display_list/dl_playground.cc
  engine/src/flutter/impeller/display_list/dl_playground.h
  engine/src/flutter/impeller/display_list/skia_conversions_unittests.cc
  engine/src/flutter/impeller/display_list/testing/render_text_in_canvas.h
  engine/src/flutter/impeller/toolkit/interop/surface.cc
  engine/src/flutter/shell/gpu/gpu_surface_gl_impeller.cc
  engine/src/flutter/shell/gpu/gpu_surface_metal_impeller.mm
  engine/src/flutter/shell/gpu/gpu_surface_vulkan_impeller.cc
  engine/src/flutter/shell/platform/embedder/embedder_external_view.cc
Labels: a: text input, engine, e: impeller, autosubmit

#170500 [Impeller] eliminate PathReceiver::PathEnd which is only used in one case
  engine/src/flutter/display_list/benchmarking/dl_benchmarks.cc
  engine/src/flutter/display_list/benchmarking/dl_complexity_helper.cc
  engine/src/flutter/display_list/geometry/dl_path.cc
  engine/src/flutter/display_list/geometry/dl_path_builder_unittests.cc
  engine/src/flutter/display_list/geometry/dl_path_unittests.cc
  engine/src/flutter/display_list/testing/dl_test_mock_path_receiver.h
  engine/src/flutter/impeller/geometry/dashed_line_path_source.cc
  engine/src/flutter/impeller/geometry/path_source.cc
  engine/src/flutter/impeller/geometry/path_source.h
  engine/src/flutter/impeller/geometry/path_source_unittests.cc
  engine/src/flutter/impeller/geometry/round_rect.cc
  engine/src/flutter/impeller/geometry/round_rect.h
  engine/src/flutter/impeller/geometry/round_superellipse.cc
  engine/src/flutter/impeller/tessellator/path_tessellator.cc
  engine/src/flutter/shell/platform/android/platform_view_android_jni_impl.cc
  engine/src/flutter/shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  engine/src/flutter/testing/display_list_testing.h
Labels: platform-android, platform-ios, engine, e: impeller, autosubmit, team-ios

#170374 [native assets] Build dev dependencies in `flutter test integration_test`
  dev/devicelab/lib/tasks/native_assets_test.dart
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: tool, autosubmit

#170586 [native assets] Roll dependencies
  packages/flutter_tools/lib/src/update_packages_pins.dart
  packages/flutter_tools/pubspec.yaml
  packages/flutter_tools/templates/package_ffi/pubspec.yaml.tmpl
  pubspec.lock
  pubspec.yaml
Labels: tool, autosubmit

#170518 Add DropdownButtonFormField value param test
  packages/flutter/test/material/dropdown_test.dart
Labels: framework, f: material design, autosubmit

#170669 Roll Skia from f8cd9fe75f21 to d4e426456e7d (4 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#170659 Roll Fuchsia Linux SDK from qRgW6vhjBdWGGopHL... to XX8LxiX10yPg8EwED...
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_fuchsia
Labels: engine, autosubmit

#170569 CP: Pause UIScene migration (#170490)
  dev/devicelab/lib/tasks/plugin_tests.dart
  dev/integration_tests/channels/ios/Runner/Info.plist
  dev/integration_tests/external_textures/ios/Runner/Info.plist
  examples/platform_channel/ios/Runner/Info.plist
  examples/platform_channel_swift/ios/Runner/Info.plist
  packages/flutter_tools/lib/src/ios/mac.dart
  packages/flutter_tools/lib/src/ios/migrations/uiscenedelegate_migration.dart
  packages/flutter_tools/templates/app/ios.tmpl/Runner/Info.plist.tmpl
  packages/flutter_tools/templates/module/ios/host_app_ephemeral/Runner.tmpl/Info.plist.tmpl
  packages/flutter_tools/test/general.shard/ios/ios_project_migration_test.dart
Labels: platform-ios, tool, d: examples, autosubmit, team-ios

#169692 [Impeller] Removal of MSAA for intermediate render targets used in filtering.
  engine/src/flutter/impeller/display_list/dl_image_impeller.cc
  engine/src/flutter/impeller/entity/contents/filters/blend_filter_contents.cc
  engine/src/flutter/impeller/entity/contents/filters/filter_contents.cc
  engine/src/flutter/impeller/entity/contents/filters/morphology_filter_contents.cc
  engine/src/flutter/impeller/entity/contents/filters/srgb_to_linear_filter_contents.cc
  engine/src/flutter/impeller/entity/contents/filters/yuv_to_rgb_filter_contents.cc
Labels: engine, will affect goldens, e: impeller, autosubmit

#170610 Prevent --web-experimental-hot-reload on web-server
  packages/flutter_tools/lib/src/runner/flutter_command.dart
  packages/flutter_tools/test/general.shard/runner/flutter_command_test.dart
Labels: tool, autosubmit

#170681 Roll Packages from c5ab57a54105 to 03a6abbedabb (1 revision)
  bin/internal/flutter_packages.version
Labels: autosubmit

#170331 Fix dragging scrollbar down causes unexpected behavior when scrollable has a negative minScrollExtent
  packages/flutter/lib/src/widgets/scrollbar.dart
  packages/flutter/test/widgets/scrollbar_test.dart
Labels: framework, f: scrolling, autosubmit

#170620 License cpp jun13
  engine/src/flutter/tools/licenses_cpp/data/exclude.txt
  engine/src/flutter/tools/licenses_cpp/src/comments.cc
  engine/src/flutter/tools/licenses_cpp/src/comments.l
  engine/src/flutter/tools/licenses_cpp/src/comments_unittests.cc
  engine/src/flutter/tools/licenses_cpp/src/comments_util.cc
  engine/src/flutter/tools/licenses_cpp/src/comments_util.h
  engine/src/flutter/tools/licenses_cpp/src/license_checker.cc
  engine/src/flutter/tools/licenses_cpp/src/license_checker_unittests.cc
  engine/src/flutter/tools/licenses_cpp/src/main.cc
Labels: engine, autosubmit

#170686 Reland "[native assets] Build dev dependencies in `flutter test integration_test`"
  dev/devicelab/lib/tasks/native_assets_test.dart
  packages/flutter_tools/lib/src/build_system/targets/native_assets.dart
  packages/flutter_tools/lib/src/commands/test.dart
  packages/flutter_tools/test/integration.shard/isolated/native_assets_test.dart
Labels: tool, autosubmit

#167762 Update default `selectionHeightStyle` and `selectionWidthStyle` for `EditableText`
  packages/flutter/lib/src/cupertino/text_field.dart
  packages/flutter/lib/src/cupertino/text_form_field_row.dart
  packages/flutter/lib/src/material/selectable_text.dart
  packages/flutter/lib/src/material/text_field.dart
  packages/flutter/lib/src/material/text_form_field.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/widgets/_web_browser_detection_io.dart
  packages/flutter/lib/src/widgets/_web_browser_detection_web.dart
  packages/flutter/lib/src/widgets/editable_text.dart
  packages/flutter/test/cupertino/text_field_test.dart
  packages/flutter/test/cupertino/text_selection_test.dart
  packages/flutter/test/material/text_field_test.dart
  packages/flutter/test/rendering/editable_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
Labels: a: text input, framework, f: material design, f: cupertino, will affect goldens, autosubmit

#170713 Replace `LinkedHashMap.*` with `Map.*`, which _is_ `Linked`
  dev/integration_tests/new_gallery/lib/data/demos.dart
  dev/integration_tests/new_gallery/lib/pages/settings.dart
  dev/integration_tests/new_gallery/lib/pages/settings_list_item.dart
  packages/flutter/lib/src/foundation/observer_list.dart
  packages/flutter/lib/src/rendering/editable.dart
  packages/flutter/lib/src/rendering/mouse_tracker.dart
  packages/flutter/lib/src/rendering/paragraph.dart
Labels: framework, autosubmit

#170722 Roll Skia from d4e426456e7d to 8879db3b3319 (10 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/excluded_files
  engine/src/flutter/ci/licenses_golden/licenses_skia
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170497 Update Linux embedder to new semantics flags API
  engine/src/flutter/shell/platform/linux/fl_accessible_node.cc
  engine/src/flutter/shell/platform/linux/fl_accessible_node.h
  engine/src/flutter/shell/platform/linux/fl_accessible_node_test.cc
  engine/src/flutter/shell/platform/linux/fl_view_accessible.cc
  engine/src/flutter/shell/platform/linux/fl_view_accessible_test.cc
  engine/src/flutter/shell/platform/linux/fl_view_test.cc
Labels: engine, platform-linux, a: desktop

#170689 [native assets] Switch device lab Android with Linux host to emulator
  .ci.yaml
Labels: autosubmit

#170724 Roll Fuchsia Test Scripts from xobrcSN07udKdXOq_... to IfPORaYjQ2zP4bcq-...
  DEPS
Labels: engine, autosubmit

#170725 Roll Dart SDK from 68d7e34bdabf to 4fad61257b29 (1 revision)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_dart
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170606 [ Tool ] Fix file path conflict introduced in https://github.com/flutter/flutter/pull/169949
  packages/flutter_tools/test/commands.shard/hermetic/doctor_test.dart
  packages/flutter_tools/test/data/vscode_linux/application/resources/app/package.json
  packages/flutter_tools/test/data/vscode_linux/extensions/Dart-Code.flutter-4.5.6/fake-extension.txt
Labels: tool, autosubmit

#170691 [release] Sync stable changelog to master
  .github/workflows/merge-changelog.yml
Labels: autosubmit

#169245 add run_gradle_lock_files_check.dart for new PR's that modify gradle files
  .ci.yaml
  dev/devicelab/bin/tasks/gradle_java8_compile_test.dart
  dev/devicelab/lib/framework/utils.dart
  dev/devicelab/lib/tasks/gradle_lock_files_check.dart
  dev/devicelab/test/tasks/gradle_lock_files_check_test.dart
Labels: autosubmit

#170475 Remove and inline `license_header.txt`
  dev/bots/analyze.dart
  dev/conductor/core/lib/src/proto/README.md
  dev/conductor/core/lib/src/proto/license_header.txt
Labels: autosubmit

#170343 Use correct type for filterIdentifier
  packages/flutter_tools/gradle/src/main/kotlin/FlutterPlugin.kt
Labels: platform-android, tool, autosubmit

#170549 Fix RawGestureDetector semantics
  packages/flutter/lib/src/widgets/gesture_detector.dart
  packages/flutter/test/widgets/gesture_detector_test.dart
Labels: framework, autosubmit

#170750 Prefer .of over .from
  packages/flutter/lib/src/widgets/navigator.dart
  packages/flutter/lib/src/widgets/raw_menu_anchor.dart
  packages/flutter/lib/src/widgets/widget_inspector.dart
  packages/flutter/test/cupertino/segmented_control_test.dart
  packages/flutter/test/material/input_decorator_test.dart
  packages/flutter/test/material/tabs_test.dart
  packages/flutter/test/widgets/editable_text_test.dart
  packages/flutter/test/widgets/heroes_test.dart
  packages/flutter/test/widgets/reorderable_list_test.dart
  packages/flutter/test/widgets/sliver_list_test.dart
  packages/flutter/test/widgets/slivers_keepalive_test.dart
  packages/flutter/test/widgets/slivers_test.dart
  packages/flutter/test/widgets/widget_inspector_test.dart
Labels: a: text input, framework, f: material design, f: scrolling, f: cupertino, f: routes, autosubmit

#170772 Roll Skia from 75af9450b121 to ff7fffa5dac5 (3 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
Labels: engine, autosubmit

#169739 feat: Add radius to DividerThemeData.
  packages/flutter/lib/src/material/divider.dart
  packages/flutter/lib/src/material/divider_theme.dart
  packages/flutter/test/material/divider_theme_test.dart
Labels: framework, f: material design, will affect goldens

#170335 Add example for CupertinoExpansionTile transition modes
  examples/api/lib/cupertino/expansion_tile/cupertino_expansion_tile.0.dart
  examples/api/test/cupertino/expansion_tile/cupertino_expansion_tile.0_test.dart
  packages/flutter/lib/src/cupertino/expansion_tile.dart
Labels: framework, f: cupertino, d: api docs, d: examples, autosubmit

#170795 Roll Skia from ff7fffa5dac5 to 0a106c038cd0 (3 revisions)
  DEPS
Labels: engine, autosubmit

#170690 Add `--profile-microtasks` switch
  engine/src/flutter/common/settings.h
  engine/src/flutter/runtime/dart_vm.cc
  engine/src/flutter/shell/common/switches.cc
  engine/src/flutter/shell/common/switches.h
  engine/src/flutter/shell/common/switches_unittests.cc
  engine/src/flutter/shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
  engine/src/flutter/shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: platform-android, platform-ios, engine, team-ios

#170801 Roll Skia from 0a106c038cd0 to 1cb13a21b547 (1 revision)
  DEPS
Labels: engine, autosubmit

#170808 Roll Packages from 25d4fa425508 to 715a0a5c4fdd (2 revisions)
  bin/internal/flutter_packages.version
Labels: autosubmit

#170809 Roll Skia from 1cb13a21b547 to 297dbc32a6c7 (4 revisions)
  DEPS
  engine/src/flutter/ci/licenses_golden/licenses_skia
  engine/src/flutter/sky/packages/sky_engine/LICENSE
Labels: engine, autosubmit

#170166 Rename `entryPointBaseUrl` to `entrypointBaseUrl`
  engine/src/flutter/lib/web_ui/flutter_js/src/entrypoint_loader.js
  engine/src/flutter/lib/web_ui/flutter_js/src/types.d.ts
Labels: engine, platform-web, autosubmit

#170202 `CupertinoPicker` new onChanged behaviour
  packages/flutter/lib/src/cupertino/picker.dart
  packages/flutter/lib/src/widgets/list_wheel_scroll_view.dart
  packages/flutter/test/cupertino/picker_test.dart
  packages/flutter/test/widgets/list_wheel_scroll_view_test.dart
Labels: framework, f: scrolling, f: cupertino, autosubmit

#169051 Feat: Add mouse cursor for CupertinoDialogAction
  packages/flutter/lib/src/cupertino/dialog.dart
  packages/flutter/test/cupertino/dialog_test.dart
Labels: framework, f: cupertino, autosubmit

#170767 Add an initial "Using feature flags" doc for the team.
  docs/contributing/Feature-flags.md
Labels: c: contributor-productivity, framework, autosubmit, d: docs/
